	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Cascading Style Sheets</p>



<p>The following is a sampling of the cascading style sheets that are available 
 in Alpha Anywhere.</p>




<div align=center>
<table style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				float: aligncenter;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="531">
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Name</td>
<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Sample</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Airport</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Airport.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 270px;
								height: 270px;
								border-style: none;
								border-style: none;"
						width=270
						height=270
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>AlphaSports</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_AlphaSports.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 234px;
								height: 227px;
								border-style: none;
								border-style: none;"
						width=234
						height=227
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Arizona</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Arizona.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 264px;
								height: 269px;
								border-style: none;
								border-style: none;"
						width=264
						height=269
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Army</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Army.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 277px;
								height: 257px;
								border-style: none;
								border-style: none;"
						width=277
						height=257
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Barbie</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Barbie.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 261px;
								height: 256px;
								border-style: none;
								border-style: none;"
						width=261
						height=256
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Battleship</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Battleship.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 261px;
								height: 236px;
								border-style: none;
								border-style: none;"
						width=261
						height=236
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Beach</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Beach.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 288px;
								height: 291px;
								border-style: none;
								border-style: none;"
						width=288
						height=291
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Bertram</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Bertram.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 277px;
								height: 269px;
								border-style: none;
								border-style: none;"
						width=277
						height=269
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>BlackWhite</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_BlackWhite.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 261px;
								height: 256px;
								border-style: none;
								border-style: none;"
						width=261
						height=256
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Blue</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Blue.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 274px;
								height: 257px;
								border-style: none;
								border-style: none;"
						width=274
						height=257
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Blueberry</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Blueberry.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 271px;
								height: 257px;
								border-style: none;
								border-style: none;"
						width=271
						height=257
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Bluemoon</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Bluemoon.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 300px;
								height: 278px;
								border-style: none;
								border-style: none;"
						width=300
						height=278
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>BluePhase</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_BluePhase.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 257px;
								height: 238px;
								border-style: none;
								border-style: none;"
						width=257
						height=238
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Bluish</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Bluish.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 300px;
								height: 259px;
								border-style: none;
								border-style: none;"
						width=300
						height=259
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Burgundy</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Burgundy.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 271px;
								height: 262px;
								border-style: none;
								border-style: none;"
						width=271
						height=262
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Business</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Business.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 264px;
								height: 265px;
								border-style: none;
								border-style: none;"
						width=264
						height=265
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>BusinessSchool</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_BusinessSchool.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 260px;
								height: 258px;
								border-style: none;
								border-style: none;"
						width=260
						height=258
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>ButtonDown</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_ButtonDown.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 269px;
								height: 240px;
								border-style: none;
								border-style: none;"
						width=269
						height=240
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Candy</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Candy.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 261px;
								height: 258px;
								float: none;
								border-style: none;
								border-style: none;"
						width=261
						height=258
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Caution</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Caution.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 233px;
								height: 215px;
								float: none;
								border-style: none;
								border-style: none;"
						width=233
						height=215
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Chocolate</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Chocolate.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 261px;
								height: 264px;
								float: none;
								border-style: none;
								border-style: none;"
						width=261
						height=264
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Chrome</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Chrome.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 273px;
								height: 264px;
								float: none;
								border-style: none;
								border-style: none;"
						width=273
						height=264
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Clover</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Clover.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 265px;
								height: 268px;
								float: none;
								border-style: none;
								border-style: none;"
						width=265
						height=268
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Contrast</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Contrast.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 258px;
								height: 243px;
								float: none;
								border-style: none;
								border-style: none;"
						width=258
						height=243
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Corporate</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Corporate.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 274px;
								height: 256px;
								float: none;
								border-style: none;
								border-style: none;"
						width=274
						height=256
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Default</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Default.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 233px;
								height: 221px;
								float: none;
								border-style: none;
								border-style: none;"
						width=233
						height=221
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Desert</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Desert.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 267px;
								height: 272px;
								float: none;
								border-style: none;
								border-style: none;"
						width=267
						height=272
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>EarthTones</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_EarthTones.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 336px;
								height: 296px;
								float: none;
								border-style: none;
								border-style: none;"
						width=336
						height=296
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Encyclopaedia</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Encyclopaedia.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 316px;
								height: 298px;
								float: none;
								border-style: none;
								border-style: none;"
						width=316
						height=298
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Envelope</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Envelope.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 334px;
								height: 301px;
								float: none;
								border-style: none;
								border-style: none;"
						width=334
						height=301
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>FoggyDay</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_FoggyDay.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 353px;
								height: 334px;
								float: none;
								border-style: none;
								border-style: none;"
						width=353
						height=334
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Gold</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Gold.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 269px;
								height: 269px;
								float: none;
								border-style: none;
								border-style: none;"
						width=269
						height=269
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Gray</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Gray.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 274px;
								height: 257px;
								float: none;
								border-style: none;
								border-style: none;"
						width=274
						height=257
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Green</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Green.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 274px;
								height: 257px;
								float: none;
								border-style: none;
								border-style: none;"
						width=274
						height=257
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>GreenZone</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_GreenZone.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 290px;
								height: 265px;
								float: none;
								border-style: none;
								border-style: none;"
						width=290
						height=265
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>HerringBone</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_HerringBone.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 332px;
								height: 326px;
								float: none;
								border-style: none;
								border-style: none;"
						width=332
						height=326
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>HMSVictory</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_HMSVictory.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 352px;
								height: 315px;
								float: none;
								border-style: none;
								border-style: none;"
						width=352
						height=315
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>IcecreamSundae</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_IcecreamSundae.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 358px;
								height: 294px;
								float: none;
								border-style: none;
								border-style: none;"
						width=358
						height=294
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Jazz</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Jazz.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 346px;
								height: 335px;
								float: none;
								border-style: none;
								border-style: none;"
						width=346
						height=335
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Jungle</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Jungle.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 324px;
								height: 306px;
								float: none;
								border-style: none;
								border-style: none;"
						width=324
						height=306
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>KindOfBlue</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_KindOfBlue.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 296px;
								height: 292px;
								float: none;
								border-style: none;
								border-style: none;"
						width=296
						height=292
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Lime</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Lime.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 349px;
								height: 324px;
								float: none;
								border-style: none;
								border-style: none;"
						width=349
						height=324
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>MarthaVineayard</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_MarthasVineayard.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 339px;
								height: 310px;
								float: none;
								border-style: none;
								border-style: none;"
						width=339
						height=310
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Metal</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Metal.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 352px;
								height: 344px;
								float: none;
								border-style: none;
								border-style: none;"
						width=352
						height=344
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Mint</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Mint.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 324px;
								height: 294px;
								float: none;
								border-style: none;
								border-style: none;"
						width=324
						height=294
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Misty</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Misty.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 263px;
								height: 264px;
								float: none;
								border-style: none;
								border-style: none;"
						width=263
						height=264
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Modern</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Modern.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 294px;
								height: 281px;
								float: none;
								border-style: none;
								border-style: none;"
						width=294
						height=281
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Nantucket</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Nantucket.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 268px;
								height: 260px;
								float: none;
								border-style: none;
								border-style: none;"
						width=268
						height=260
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Nepal</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Nepal.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 350px;
								height: 339px;
								float: none;
								border-style: none;
								border-style: none;"
						width=350
						height=339
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Olive</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Olive.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 343px;
								height: 293px;
								float: none;
								border-style: none;
								border-style: none;"
						width=343
						height=293
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Orange</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Orange.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 343px;
								height: 293px;
								float: none;
								border-style: none;
								border-style: none;"
						width=343
						height=293
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>OrangeCrush</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_OrangeCrush.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 341px;
								height: 316px;
								float: none;
								border-style: none;
								border-style: none;"
						width=341
						height=316
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Osx</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Osx.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 256px;
								height: 220px;
								float: none;
								border-style: none;
								border-style: none;"
						width=256
						height=220
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Parallel</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Parallel.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 335px;
								height: 303px;
								float: none;
								border-style: none;
								border-style: none;"
						width=335
						height=303
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Perforated</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Perforated.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 342px;
								height: 290px;
								float: none;
								border-style: none;
								border-style: none;"
						width=342
						height=290
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Plastic</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Plastic.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 341px;
								height: 286px;
								float: none;
								border-style: none;
								border-style: none;"
						width=341
						height=286
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Plum</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Plum.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 343px;
								height: 293px;
								float: none;
								border-style: none;
								border-style: none;"
						width=343
						height=293
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>PowderPuff</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_PowderPuff.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 330px;
								height: 279px;
								float: none;
								border-style: none;
								border-style: none;"
						width=330
						height=279
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>PurpleHaze</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_PurpleHaze.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 341px;
								height: 283px;
								float: none;
								border-style: none;
								border-style: none;"
						width=341
						height=283
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>PurpleSage</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_PurpleSage.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 343px;
								height: 293px;
								float: none;
								border-style: none;
								border-style: none;"
						width=343
						height=293
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>RainCloud</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_RainCloud.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 340px;
								height: 312px;
								float: none;
								border-style: none;
								border-style: none;"
						width=340
						height=312
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>RainyDay</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_RainyDay.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 339px;
								height: 300px;
								float: none;
								border-style: none;
								border-style: none;"
						width=339
						height=300
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>RedStone</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_RedStone.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 344px;
								height: 311px;
								float: none;
								border-style: none;
								border-style: none;"
						width=344
						height=311
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Reverse</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Reverse.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 335px;
								height: 286px;
								float: none;
								border-style: none;
								border-style: none;"
						width=335
						height=286
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Rio</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Rio.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 369px;
								height: 337px;
								float: none;
								border-style: none;
								border-style: none;"
						width=369
						height=337
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Sand</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Sand.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 348px;
								height: 326px;
								float: none;
								border-style: none;
								border-style: none;"
						width=348
						height=326
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Shogun</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Shogun.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 284px;
								height: 292px;
								float: none;
								border-style: none;
								border-style: none;"
						width=284
						height=292
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>SilverFox</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_SilverFox.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 270px;
								height: 252px;
								float: none;
								border-style: none;
								border-style: none;"
						width=270
						height=252
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Softgray</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Softgray.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 341px;
								height: 310px;
								float: none;
								border-style: none;
								border-style: none;"
						width=341
						height=310
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>SquareHip</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_SquareHip.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 323px;
								height: 300px;
								float: none;
								border-style: none;
								border-style: none;"
						width=323
						height=300
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Sunset</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Sunset.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 330px;
								height: 326px;
								float: none;
								border-style: none;
								border-style: none;"
						width=330
						height=326
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Sunshine</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Sunshine.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 344px;
								height: 312px;
								float: none;
								border-style: none;
								border-style: none;"
						width=344
						height=312
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Tab</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Tab.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 345px;
								height: 299px;
								float: none;
								border-style: none;
								border-style: none;"
						width=345
						height=299
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Teacup</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Teacup.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 341px;
								height: 280px;
								float: none;
								border-style: none;
								border-style: none;"
						width=341
						height=280
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Upstate</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Upstate.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 329px;
								height: 316px;
								float: none;
								border-style: none;
								border-style: none;"
						width=329
						height=316
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>WinClassic</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_WinClassic.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 291px;
								height: 276px;
								float: none;
								border-style: none;
								border-style: none;"
						width=291
						height=276
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Wine</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Wine.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 287px;
								height: 260px;
								float: none;
								border-style: none;
								border-style: none;"
						width=287
						height=260
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>WinXP</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_WinXP.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 311px;
								height: 301px;
								float: none;
								border-style: none;
								border-style: none;"
						width=311
						height=301
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Wood</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Wood.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 314px;
								height: 297px;
								float: none;
								border-style: none;
								border-style: none;"
						width=314
						height=297
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Workshop</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><img src="images/CSS_Workshop.jpg"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 342px;
								height: 323px;
								float: none;
								border-style: none;
								border-style: none;"
						width=342
						height=323
						border=0></td></tr>
</table>
</div>
<p class=A5>See Also</p>



<p>Webform Style Builder</p>




<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Cascading+Style+Sheets">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web,review","status":"reject","notes":"a lot to scroll through, might be presented differently","keywords":"server,design,guide,css"}--->
</body></html>