	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Letters, Labels, and Envelopes</p>



<p>Like Forms, Browses, and Reports, Letters, Labels, and Envelopes are 
 layouts. They follow many of the same design principles, but the default 
 layout for each is specific for its type. In Letters, Labels, and Envelopes, 
 you use Rich Text Objects for most of their design. Alpha Anywhere Genies 
 help you get set up easily and quickly with all three layouts.</p>



<p>Letter templates are layouts for printing traditional mail-style letters. 
 You can merge record information with text layouts to create personalized 
 letters.</p>



<p>Typically, you use label templates for printing mail labels for envelopes. 
 However, labels are also useful for generating file folder labels, identification 
 cards, and name tags, based on data from a table or a set. Alpha Anywhere 
 gives you complete flexibility in designing Labels, along with several 
 common pre-defined formats.</p>
<p class=A5><a name=Creating_Letters>Creating Letters</a></p>


<p>Alpha Anywhere divides the structure of a letter into regions, layout areas 
 where you place Letter objects. Alpha Anywhere lets you create page header 
 and footer regions, a letterhead region, and continuation header and footer 
 regions.</p>



<p>With letters, you can do the following tasks:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Type the body text of a 
 letter, and place fields from the <span class=Screen>Drag-and-Drop List</span> 
 in the text, to create customized letters for each record.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Insert conditional paragraphs 
 in your lLetter, or use conditional commands to include or exclude parts 
 of your Letter, based on data from a table or set, giving you a dynamic 
 way to customize your letter.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Place lines, frames, pictures, 
 and borders in your letter. You can include your company logo in the letterhead 
 section, or insert frames or lines to group or divide parts of the Letter.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Order and filter the records 
 that appear in the letter by storing order and selection criteria in the 
 letter, by letting the user specify the order and selection criteria at 
 print time, or by using a combination of the two.</p>

</li>
</ul>

<p>To create a letter, you can use the <span class=Screen>Letter Genie</span>, 
 which prompts you step by step to help you create your letter, or you 
 can work directly with the <span class=Screen>Letter Editor</span>. In 
 the next procedure, you use the <span class=Screen>Letter Genie</span> 
 to create a form letter for AlphaMovies customers, detailing an incentive 
 program designed to keep them coming back.</p>



<p>To use the <span class=Screen>Letter Genie</span> :</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the AlphaMovies 
 database.</p>

</li>
</ol>

<p class=Note><img src="images/icon_warning.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 37px;
							height: 33px;
							float: none;
							border-style: none;
							border-style: none;"
					width=37
					height=33
					border=0> <span class=Note>Note</span> : You should 
 have already created the <span class=Bolded>AlphaMovies</span> database 
 in the <a href="../../../../Guide/Design/View/Database/Creating a Workspace.html" title="Creating a Database" class="wiki">Creating a Database</a> lesson.</p>



<ol start=2>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Control 
 Panel</span>, display the <span class=Screen>Letters</span> tab, and click 
 <span class=Button>New</span>. The <span class=Screen>New Letter Genie</span> 
 appears. In this dialog box, you select the table or set that provides 
 the source of data for the letter. Click <span class=Button>OK</span> 
 to continue.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>Form 
 Letter Genie</span> appears.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/formLetterGenie.gif"
					style="width: 380px;
							height: 143px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=380
					height=143
					border=0></p>



<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Use 
 the Letter Genie</span> and click <span class=Button>OK</span>. The <span 
 class=Screen>Letterhead</span> page of the <span class=Screen>Form Letter 
 Genie</span> appears, and prompts you to provide letterhead text and alignment.&nbsp; 
 </p>

</li>
</ol>

<p class=Pix><img src="images/Form_Letter_Genie.gif"
					style="width: 506px;
							height: 364px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=506
					height=364
					border=0></p>



<ol start=5>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Check <span class=Button>Include 
 your name and address in the letterhead</span>,.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Center</span> 
 alignment.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the following 
 name and address:</p>

</li>
</ol>

<p>AlphaMovies <br>
70 Blanchard Rd., Suite 206 <br>
Burlington, MA 01803</p>



<ol start=8>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next</span>. 
 The <span class=Screen>Addressee</span> page of the <span class=Screen>Form 
 Letter Genie</span> appears, and prompts you to define the address format.</p>

</li>
	
	<li value=6
		class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Control>Table</span> 
 list select "Customer".</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Place your cursor 
 in the first of the six address type-in fields at right.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>In the <span class=Control>Fields</span> 
 list select "First_Name" and click <img src="images/Move_Right_Button.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 22px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=22
													height=22
													border=0>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>In the <span class=Control>Fields</span> 
 list select "Last_Name" and click <img src="images/Move_Right_Button.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 22px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=22
													height=22
													border=0>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Place your cursor 
 in the second of the six address type-in fields at right.</p>

</li>
	
	<ol start=1>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>In the <span class=Control>Fields</span> 
 list select "Address" and click <img src="images/Move_Right_Button.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 22px;
														height: 22px;
														float: none;
														border-style: none;
														border-style: none;"
												width=22
												height=22
												border=0>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Place your cursor 
 in the third of the six address type-in fields at right.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>In the <span class=Control>Fields</span> 
 list select "City" and click <img src="images/Move_Right_Button.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>In the <span class=Control>Fields</span> 
 list select "State" and click <img src="images/Move_Right_Button.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 22px;
														height: 22px;
														float: none;
														border-style: none;
														border-style: none;"
												width=22
												height=22
												border=0>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>In the <span class=Control>Fields</span> 
 list select "Postal_Code" and click <img src="images/Move_Right_Button.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 22px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=22
													height=22
													border=0>. </p>

</li>
	</ol>
</ol>

<p class=Pix><img src="images/letterGenie3.gif"
					style="width: 506px;
							height: 364px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=506
					height=364
					border=0></p>



<ol start=13>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Add spaces between 
 the fields and a comma after <span class=Code1>City</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next</span>. 
 The <span class=Screen>Salutation</span> page of the <span class=Screen>Form 
 Letter Genie</span> appears.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select "ex<x>pression" 
 from the first drop-down list box. The <span class=Screen>Expression Builder</span> 
 appears.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select "Field 
 Name" from the list at left.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select "Customers" 
 in the <span class=Screen>Select Field</span> dialog.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select "First_Name" 
 and click <span class=Button>Insert</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>OK</span>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Repeat step 14 for 
 the next list box and the "Last_Name" field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>You provide the following 
 salutation, and click <span class=Button>Next</span>.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/Form_Letter_Genie_commented.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 506px;
							height: 363px;
							border-style: none;
							border-style: none;"
					width=506
					height=363
					border=0></p>



<ol start=17>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Check <span class=Button>Include 
 today's date about address block</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select a date format 
 from the Format list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Add the following 
 text on the <span class=Screen>Close</span> page of the <span class=Screen>Form 
 Letter Genie</span>.</p>

</li>
</ol>

<p>Sincerely, The Gang at AlphaMovies</p>



<ol start=21>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next</span>. 
 The <span class=Screen>Select Records</span> page of the <span class=Screen>Form 
 Letter Genie</span> appears.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/letterGenie7.gif"
					style="width: 506px;
							height: 364px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=506
					height=364
					border=0></p>



<ol start=22>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Keep the default, 
 <span class=Button>All Records</span>, and click <span class=Button>Next</span>. 
 The <span class=Screen>Record Order</span> dialog box appears.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next</span>. 
 The <span class=Screen>Finish</span> page of the <span class=Screen>Form 
 Letter Genie</span> appears.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/letterGenie9.gif"
					style="width: 506px;
							height: 364px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=506
					height=364
					border=0></p>



<ol start=24>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Keep the default, 
 <span class=Control>&nbsp;</span><span class=Button>View the Form Letter 
 design</span>, and click <span class=Button>Finish</span>. The letter 
 appears in the <span class=Screen>Letter Editor</span>.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/letterEditor1.gif"
					style="width: 757px;
							height: 454px;
							border-style: none;
							border-style: none;"
					width=757
					height=454
					border=0></p>



<ol start=25>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Save_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> and enter "Incentive" in the <span class=Control>Save 
 Letter&nbsp;as&nbsp;Name</span> field.</p>

</li>
	
	<li value=17
		class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Print 
 Preview</span> button to view the Letter.</p>

</li>
	
	<li value=18
		class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Exit 
 Preview</span> when you are finished.</p>

</li>
</ol>

<p>In the next procedure, you add letter text and fields to your Letter.</p>



<p class=A5><a name=Working_with_Rich_Text_Objects>Working with Rich Text 
 Objects</a></p>



<p>You use Rich Text Objects for most of the design work in letters. When 
 you first create a letter, Alpha Anywhere places a Rich Text Object in the 
 letter body region. Within this region, you can type in text, insert fields, 
 and place conditional commands to include or exclude conditional paragraphs.</p>



<p>To add a Rich Text Object to a letter region:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Button>Rich Text Tool</span> in the <span class=Screen>Toolbox</span> 
 <img src="images/Rich_Text_tool_button.gif"
		x-maintain-ratio=TRUE
		style="float: none;
				width: 22px;
				height: 22px;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0>.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Click and drag the 
 cursor over the letter region in which you want to insert the object.</p>

</li>
	
	<li value=3
		class=kadov-p-CListNumber><p class=ListNumber>When you release 
 the mouse button, Alpha Anywhere creates the object.</p>

</li>
</ol>

<p>Before editing a Rich Text Object, you must first activate the <span 
 class=Screen>Rich Text Editor</span>.</p>



<p class=A5><a name=Activating_the_Rich_Text_Editor>Activating the Rich 
 Text Editor</a></p>



<p>The Alpha Anywhere <span class=Screen>Rich Text Editor</span> gives you 
 many word-processing capabilities. You can select a variety of fonts, 
 styles, and sizes, align paragraphs of text, insert page breaks, and find 
 and replace words and phrases.</p>



<p>The <span class=Screen>Rich Text Editor</span> is activated when you 
 are in a Rich Text field, or when you double-click a Rich Text Object 
 while editing a layout. When the editor is active, the <span class=Screen>Text</span> 
 menu appears in the Alpha Anywhere menu bar.</p>



<p>Alternatively, you can create and format letter text in other word processors. 
 You can copy the text to the clipboard and paste it in the Rich Text Object, 
 or save the text&nbsp;as&nbsp;a Rich Text Format document, and import 
 it into Alpha Anywhere.</p>



<p>To activate the <span class=Screen>Rich Text Editor.</span></p>



<ol>
	
	<li class=kadov-p-CListNumber>
	<p class=ListNumber>Double-click on the letter's body Rich Text Object. 
 The <span class=Screen>Rich Text Editor Text Toolbar</span> appears.</p>


	
	<p class=Pix><img src="images/Rich_Text_Toolbar.gif"
						x-maintain-ratio=TRUE
						style="margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px;
								margin-right: 0px;
								width: 212px;
								height: 147px;
								float: none;
								border-style: none;
								border-style: none;"
						width=212
						height=147
						border=0></p>


	</li>
</ol>

<p class=A5><a name=Adding_Text_and_Fields_to_Letters>Adding Text and Fields 
 to Letters</a></p>



<p>To add text to the object, simply type in the text you want to include. 
 You can add fields to the text, by dragging them from the <span class=Screen>Drag-and-Drop 
 List</span>, and placing them in the object.</p>



<p>To insert calculations, select <span class=Button>Text > Insert</span>, 
 and select <span class=Button>Expression</span> from the pull-out menu, 
 or drag "<New Calc/Summary Field>" from the <span class=Screen>Drag-and-Drop 
 List</span>.</p>



<p>When the <span class=Screen>Expression Properties</span> dialog box 
 appears, type the expression in the <span class=Control>Expression</span> 
 field, or click the drop-down list button to create the expression in 
 the <span class=Screen>Expression Builder</span>.</p>



<p class=A5><a name=Inserting_Conditional_Text>Inserting Conditional Text</a></p>



<p>With Alpha Anywhere, you can use the same form letter layout to create different 
 letters, by using conditional text. You use the <span class=Screen>Rich 
 Text Editor</span> or the <span class=Screen>Text</span> <span class=Screen>Toolbar</span>, 
 to specify conditional commands to either include or exclude text, depending 
 on the underlying data. This lets you create one letter layout that you 
 can use for printing multiple versions of the same letter.</p>



<p>For example, AlphaMovies wants to send active customers a different 
 letter than it sends to inactive customers. You use the same basic layout 
 for both letters, with a conditional statement to determine which letter 
 body text to include.</p>



<p>In the next procedure, you further personalize the <span class=Screen>Incentive 
 Letter</span>, and create conditional letter body text for active and 
 inactive customers.</p>



<p>To add fields and conditional letter body text:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>With the <span class=Screen>Incentive 
 Letter</span> in the <span class=Screen>Letter Editor</span>, double-click 
 on the letter body's Rich Text Object. The <span class=Screen>Text</span> 
 <span class=Screen>Toolbar</span> appears.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Place your cursor 
 in the letter text body paragraph, below the salutation.</p>

</li>
	
	<li value=3
		class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Insert</span> 
 button in the <span class=Screen>Text</span> <span class=Screen>Toolbar</span>. 
 The <span class=Screen>RTF Insert Command</span> toolbar appears.</p>

</li>
</ol>

<p class=Pix><img src="images/UG_RTF_Insert_Command_toolbar.gif"
					style="width: 257px;
							height: 72px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=257
					height=72
					border=0></p>



<p>A simple conditional statement consists of an IF expression that specifies 
 the condition under which a block of text will print. If the condition 
 evaluates to TRUE (.T.), the text that follows it prints. At the end of 
 the block, you can place an ELSE statement which indicates that the following 
 block of text is printed only when the IF expression evaluates to FALSE 
 (.F.). At the end of the conditional block(s) of text, an ENDIF statement 
 indicates that any following text should be printed in all cases.</p>



<p>This conditional statement uses the following general structure:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>IF logical condition</p>


<p class=Code>Text to print if the condition is true.</p>


<p class=Code>ELSE</p>


<p class=Code>Text to print if the condition is false.</p>


<p class=Code>ENDIF</p>


<p class=Code>Text to print in all cases.</td></tr>
</table>

<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>IF</span> 
 button. The <span class=Screen>Insert IF Expression</span> dialog box 
 appears.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/InsertIfgif.gif"
					style="width: 413px;
							height: 483px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=413
					height=483
					border=0></p>



<ol start=5>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>You can type the 
 expression in the <span class=Control>Logical Expression</span> field 
 or click the <img src="ex<x>pression_Button_black.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 22px;
							height: 22px;
							float: none;
							border-style: none;
							border-style: none;"
					width=22
					height=22
					border=0> button to create the expression in the <a href="../../../../Guide/Design/Data/FieldRules/Expression Builder.html" title="Expression Builder" class="wiki">&lt;span class=Screen&gt;Expression   Builder&lt;/span&gt;</a>. Click the <img src="ex<x>pression_Button_black.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 22px;
											height: 22px;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=22
									border=0> button. The <span class=Screen>Expression 
 Builder</span> appears.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Create 
 Filter Using Genie</span> button. <span class=Bolded>Note</span> : The 
 <span class=Button>Create Filter Using Genie</span> button disappears 
 if you type anything in the <span class=Control>Expression Builder</span> 
 window. The <span class=Screen>Filter Builder</span> appears.&nbsp; <a HREF="http://support.alphasoftware.com/imagesV8/Filter_Builder_1.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>

</li>
	
	<p class=Pix><img src="images/Filter_Builder_1.gif"
						style="width: 567px;
								height: 426px;
								margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px;
								margin-right: 0px;
								border-style: none;
								border-style: none;"
						width=567
						height=426
						border=0></p>


	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Invoice" 
 from the drop down list box at left.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Date" 
 and "is on or after the date".</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter "12/02/02" 
 and click <span class=Button>OK</span>. The expression appears in the 
 <span class=Screen>Expression Builder</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>. 
 The expression appears in the <span class=Control>Logical Expression</span> 
 field of the <span class=Screen>Insert IF Expression</span> dialog box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>. 
 The following IF expression appears in the letter body text.&nbsp; <a HREF="http://support.alphasoftware.com/imagesV8/IFclause.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>

</li>
</ol>

<p class=Pix><img src="images/IFclause.gif"
					style="width: 718px;
							height: 142px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=718
					height=142
					border=0></p>



<ol start=12>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Place your cursor 
 at the beginning of the ENDIF statement, and press <span class=Button>Enter</span>. 
 Alpha Five creates a new letter body paragraph, between the IF statement 
 and ENDIF.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Press <span class=Button>Enter</span> 
 again, and type in the following text:</p>

</li>
</ol>

<p class=ListNumber>"Here at AlphaMovies, we appreciate your business. 
 Our records show us that you have bought or rented a movie from our collection 
 this past month.</p>



<p class=ListNumber>As a small token of thanks, we have enclosed a certificate 
 for a free box of Best Microwave Popcorn for you to enjoy with your next 
 movie from AlphaMovies.</p>



<p class=ListNumber>Come by soon."</p>



<ol start=14>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Press <span class=Button>Enter</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>RTF 
 Insert Command</span> toolbar, click the <span class=Button>Else</span> 
 button. Alpha Anywhere inserts "Else" at the cursor.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Press <span class=Button>Enter</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Press <span class=Button>Enter</span> 
 again, and type in the following text:</p>

</li>
</ol>

<p>"Hey, we miss you! Our records tell us that you have not rented 
 or bought a movie from us in over a month.</p>



<p>Frankly, we want you back. Bring this letter for a discount on your 
 next movie rental or purchase.</p>



<p>Come by soon."</p>



<p>The Letter text appears,&nbsp;as&nbsp;shown in the following screen 
 shot.&nbsp; </p>



<p class=Pix><img src="images/letter.gif"
					style="width: 739px;
							height: 301px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=739
					height=301
					border=0></p>



<p>In the next steps, you further personalize the Letter by adding a <span 
 class=Code1>First_Name</span> field to the Letter body text.</p>



<ol start=18>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <img src="images/Drag_and_Drop_List_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> <span class=Button>Drag-and-Drop List</span> button. The 
 <span class=Screen>Drag-and-Drop List</span> appears.</p>

</li>
	
	<li value=17
		class=kadov-p-CListNumber><p class=ListNumber>From the <span class=Screen>Drag-and-Drop 
 List</span>, select the "First_Name" field from the <span class=Code1>Customers</span> 
 table, and place it after the phrase: "As a small token of thanks".</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>From the <span class=Screen>Drag-and-Drop 
 List</span>, select the <span class=Code1>Customers</span> table "First_Name" 
 field again, and place it after the phrase, "Hey". The Letter 
 body text appears,&nbsp;as&nbsp;shown in the following screen shot.&nbsp; 
 </p>

</li>
</ol>

<p class=Pix><img src="images/letter2.gif"
					style="width: 651px;
							height: 152px;
							border-style: none;
							border-style: none;"
					width=651
					height=152
					border=0></p>



<ol start=21>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Save</span>, 
 and <span class=Button>Print Preview</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Use the record selector 
 arrows to view Letters for active and inactive customers.&nbsp;  
 </p>

</li>
</ol>

<p class=Pix><img src="images/letter3.gif"
					style="width: 768px;
							height: 419px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=768
					height=419
					border=0></p>



<p class=Pix><img src="images/letter4.gif"
					style="width: 771px;
							height: 437px;
							border-style: none;
							border-style: none;"
					width=771
					height=437
					border=0></p>



<p>In the next section, you learn how to create Labels and Envelopes.</p>



<p class=A5><a name=Creating_Labels_and_Envelopes>Creating Labels and Envelopes</a></p>



<p>Alpha Anywhere Genies help you create Labels and Envelopes. Like Letters, 
 these layouts use Rich Text Objects. You can select Envelopes by size, 
 and define the printer format. You can select Labels by brand name and 
 printer type.</p>



<p>Alpha Anywhere Label layouts let you print information on commercially available 
 sticky-labels. Most commonly, you use a label layout to create mailing 
 labels to put on envelopes. However, they have other uses&nbsp;as&nbsp;well. 
 For example, you can use them to create name tags or to catalog objects 
 in an archive.</p>



<p>You can either use the <span class=Screen>Label Genie</span>, which 
 prompts you step by step to help create your labels, or you can go directly 
 to the label definition.</p>



<p class=A5><a name=Using_the_Label_Genie>Using the Label Genie</a></p>



<p>To create a label, you first select the size criteria. For your convenience, 
 Alpha Five comes with a variety of predefined size templates. After choosing 
 a size, you insert the fields and text that you want to print. Finally, 
 you can set the order and selection criteria to specify the records to 
 print and the order in which they print.</p>



<p>In the next procedure, you use the <span class=Screen>Label Genie</span> 
 to create film ID labels for AlphaMovies inventory.</p>



<p>To use the <span class=Screen>Label Genie</span> :</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the AlphaMovies 
 database.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Control 
 Panel</span>, display the <span class=Screen>Labels</span> tab, and click 
 <span class=Button>New</span>. The <span class=Screen>New Label</span> 
 dialog appears. Select the "Inventory" table, and click <span 
 class=Button>OK</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>Mailing 
 Genie</span> appears. </p>

</li>
</ol>

<p class=Pix><img src="images/mailingGenie.gif"
					style="width: 380px;
							height: 198px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=380
					height=198
					border=0></p>



<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Use 
 the Label Genie</span>, and click <span class=Button>OK</span>. The <span 
 class=Screen>Mailing Label Genie</span> appears.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/Mailing_Label_Genie.gif"
					style="width: 506px;
							height: 364px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=506
					height=364
					border=0></p>



<ol start=5>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Avery 
 5095 - "2-1/3" x "3-3/8"; 2 Across" and click 
 <span class=Button>Next</span>.</p>

</li>
	
	<li value=6
		class=kadov-p-CListNumber><p class=ListNumber>Specify the following 
 label layout:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Place your cursor 
 in the first of the six type-in fields at right.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>In the <span class=Control>Fields</span> 
 list select "Tape_ID" and click <img src="images/Move_Right_Button.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 22px;
														height: 22px;
														float: none;
														border-style: none;
														border-style: none;"
												width=22
												height=22
												border=0>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Place your cursor 
 in the second of the six type-in fields at right.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>In the <span class=Control>Fields</span> 
 list select "Title" and click <img src="images/Move_Right_Button.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 22px;
														height: 22px;
														float: none;
														border-style: none;
														border-style: none;"
												width=22
												height=22
												border=0>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Repeat until the 
 values of all six fields have been set.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next</span>.&nbsp; 
 </p>

</li>
</ol>

<p class=Pix><img src="images/mailingGenie3.gif"
					style="width: 506px;
							height: 364px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=506
					height=364
					border=0></p>



<ol start=8>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Keep the default 
 <span class=Control>Font</span> selection, and click <span class=Button>Next</span>.</p>

</li>
	
	<li value=8
		class=kadov-p-CListNumber><p class=ListNumber>Leave the <span class=Control>Number 
 of copies of each label</span> set to 1 and click <span class=Button>Next</span>.</p>

</li>
	
	<li value=9
		class=kadov-p-CListNumber><p class=ListNumber>Select to print <span 
 class=Button>All records</span> and click <span class=Button>Next</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Leave the <span class=Control>Record 
 Order</span> unchanged and click <span class=Button>Next</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>View 
 the Mail Label design</span>.</p>

</li>
	
	<li value=10
		class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Finish</span>. 
 The label layout appears in the <span class=Screen>Label Editor</span>.&nbsp; 
 </p>

</li>
</ol>

<p class=Pix><img src="images/labelEditor.gif" width="75%" height="75%" border=0></p>

<ol start=14>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Save_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> <span class=Button>Save</span>.</p>

</li>
	
	<li value=12
		class=kadov-p-CListNumber><p class=ListNumber>Enter the name "Inventory" 
 in the <span class=Screen>Save Label As</span> dialog box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Preview_Form_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> <span class=Button>Print Preview</span>. The labels appear 
 in the <span class=Screen>Print Preview</span> window.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/labelPreview.gif"
					style="width: 765px;
							height: 482px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=765
					height=482
					border=0></p>



<p class=A5><a name=Creating_Envelopes>Creating Envelopes</a></p>



<p>The procedure for creating Envelopes is almost identical to the procedure 
 for creating Labels. The <span class=Screen>Envelope Genie</span> guides 
 you through the following general steps:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select a table or 
 set&nbsp;as&nbsp;the data source.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Specify the Envelope 
 size, and its orientation and alignment when fed into your printer.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Define the Envelope 
 address.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, include 
 a return address.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Specify a font, and 
 the number of copies of each Envelope to print.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, specify 
 the record selection and sort order.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Preview the Envelope 
 layout and save it, or use the Label Editor to edit it.</p>

</li>
</ol>

<p class=A5><a name=Summary>Summary</a></p>



<p>In this lesson, you learned about creating Letters, Labels, and Envelopes, 
 and the use of Rich Text Objects in their design. You learned how to add 
 text, fields, and expressions in the layouts, and how to include conditional 
 text. You also learned about the Rich Text Editor and its word-processing 
 capabilities.</p>



<p class=A5>What's Next?</p>



<p>See <a href="../../Data/Operation/Data Processing Operations.html" title="Data Processing Operations" class="wiki">Data Processing Operations</a> 
 to learn about using Alpha Five Operations for manipulating data.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Letters%2C+Labels%2C+and+Envelopes">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,linked","status":"pending","keywords":"desktop,tut,letter,label,rtf"}--->
</body></html>