	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h2>Client-Side Properties</h2>
<p>You can now define several 'client-side' properties for a Grid. These  are:</p>
<!-- startAnchor --><a name="Calculated Fields"></a><!-- endAnchor -->
<h3>Calculated Fields</h3>
<p>Client-side calculated fields are computed using Javascript. The calculation  is performed as soon as any of the operands in the calculated expression are  changed.</p>
<p>Warning: If you have defined a formatting expression for a field that also  has a client-side calculation, the formatting expression will be overwritten by  the result of the client-side calculation. You must therefore put the the  formatting logic into your client-side calculated expression.</p>
<!-- startAnchor --><a name="Show/hide Fields"></a><!-- endAnchor -->
<h3>Show/hide Fields</h3>
<p>Any field, or Container can by dynamically shown/hidden. If you want to  show/hide multiple fields at once, wrap the fields in a Container control (Form  layout mode) and set the show/hide expression for the container.</p>
<!-- startAnchor --><a name="Enable Expression"></a><!-- endAnchor -->
<h3>Enable Expression</h3>
<p>You can enable/disable an input control.</p>
<!-- startAnchor --><a name="Conditional Styles"></a><!-- endAnchor -->
<h3>Conditional Styles</h3>
<p>You can define conditional styles. The conditions are evaluated in the  Browser using Javascript. This is an extremely powerful feature as it allows you  to dynamically style controls without having to make Ajax callbacks. For  example, if a user types in a value into a Quantity field that is too large, you  can immediately display the field in red. Contrast 'client-side' conditional  styles with 'server-side' conditional styles (also supported). With  'server-side' conditional styles, the conditions are expressed using Xbasic  expressions and the conditions are evaluated on the server.</p>
<!-- startAnchor --><a name="Client-side Formatting"></a><!-- endAnchor -->
<h3>Client-side Formatting</h3>
<p>You can define masks for character fields. For example, a US Phone number:  (&nbsp;&nbsp;&nbsp; )&nbsp;&nbsp;&nbsp;&nbsp; -</p>
<p>For numeric fields, you can define number formats.</p>
<p>	<img src="images/ClientSideFormatting.jpg" height="396" width="755" alt="Image" /></p>
<p>&nbsp;</p>
<!-- startAnchor -->
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Grid+Client+Side+Properties+V10">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web, review","status":"pending","notes":"format off","keywords":"client,guide,javascript,grid"}--->
</body></html>