	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h3 class="showhide_heading" id="Grid_Component_Client-side_Expressions_New_System_Fields_V10.5">
			Grid Component Client-side Expressions New System Fields </h3>
Client-side expressions (used in calculated fields, show/hide expressions, enable expressions, conditional style and conditional image expressions) can now reference two new system fields:<br />
<ul><li>grid.rowIsChecked - a logical field that is true if the current row is checked
</li><li>grid.checkedRowCount - a numeric field with the count of the number of checked rows
</li></ul>In the image below, a conditional style has been defined for the Grid row to show checked rows in red. Unchecked rows are shown in black.<br />
	<img src="images/clienside_onrowchecked.jpg" alt="Image" /><br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Grid+Component+Client-side+Expressions+New+System+Fields+V10.5">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web,review","status":"pending","notes":"v10.5, short","keywords":"client,guide,grid"}--->
</body></html>