<page>
	<topic>Module</topic>
	<description>The Module object provides information about an code module.</description>
	
	<methods>
		<method>
			<name>Executable()</name>
			<description>Get the executables that contains the module.</description>
		</method>
		<method>
			<name>Get_Current()</name>
			<description>Get the current exe module.</description>
		</method>
		<method>
			<name>HasMethod()</name>
			<description>Return true if the method exists.</description>
		</method>
		<method>
			<name>InvokeInstanceMethod()</name>
			<description>Invoke an instance method of an executable.</description>
		</method>
		<method>
			<name>InvokeMethod()</name>
			<description>Invoke a method of an executable.</description>
		</method>
		<method>
			<name>LinesGet()</name>
			<description>Get lines from a module if it has debug symbol information.</description>
		</method>
		<method>
			<name>Name()</name>
			<description>Get an module's unique name.</description>
		</method>
		
	</methods>
	<example><![CDATA[dim module as P
dim exe as P
dim name as C
module = type::xbasicmodule.get_current()
exe  = module.executable()
name = exe.name()
ui_msg_box("Name of Current Script or Function",name) ]]></example>
	
	
<see>
	<ref>Exe</ref>
</see>
	
	
</page>