	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">







	<div class="wikitopline" >
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>



	</div>
</div>




<article id="top" class="wikitext nopagetitle">










<p class=A3Topic>Form Control Methods</p>



<p>Alpha Anywhere provides the following and methods for manipulating form
 controls. Prefix the following methods with the pointer to the control.</p>




<table style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Applies To</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Method</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Description</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="2" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Buttons</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.PUSH Method.html" title="CONTROL.PUSH Method" class="wiki">.PUSH(</a>)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Triggers the button's <span class=Code1>OnPush</span>
 event.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="../Browse/BUTTON.SET_PASSWORD Method.html" title="BUTTON.SET_PASSWORD Method" class="wiki">.SET_PASSWORD(</a>)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Sets or changes the button's password.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Check Boxes</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.FIELD_GET Method.html" title="CONTROL.FIELD_GET Method" class="wiki">.FIELD_GET(</a>)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Returns a pointer to the table field that is bound to
 the control.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Frames</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.CONTAINER_GET Method.html" title="CONTROL.CONTAINER_GET Method" class="wiki">.CONTAINER_GET(</a>)</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Returns the name of the control's container.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>List Boxes</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.FIELD_GET Method.html" title="CONTROL.FIELD_GET Method" class="wiki">.FIELD_GET(</a>)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Returns a pointer to the table field that is bound to
 the control.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Radio Buttons</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.FIELD_GET Method.html" title="CONTROL.FIELD_GET Method" class="wiki">.FIELD_GET(</a>)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Returns a pointer to the table field that is bound to
 the control.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="3" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Tabbed&nbsp;Objects</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.TAB_GET Method.html" title="CONTROL.TAB_GET Method" class="wiki">.TAB_GET(</a>)</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Returns the <span class=Argument>Page_Number</span>
 of the tab page that is visible.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.TAB_SET Method.html" title="CONTROL.TAB_SET Method" class="wiki">.TAB_SET(</a>)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Displays the specified tab page of a tabbed control.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.CONTAINER_GET Method.html" title="CONTROL.CONTAINER_GET Method" class="wiki">.CONTAINER_GET(</a>)</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Returns the name of the control's container.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="3" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Text Boxes</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.FIELD_GET Method.html" title="CONTROL.FIELD_GET Method" class="wiki">.FIELD_GET(</a>)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Returns a pointer to the table field that is bound to
 the control.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.TEXTREPLACE Method.html" title="CONTROL.TEXTREPLACE Method" class="wiki">.TEXTREPLACE(</a>)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Places text into a text control.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="/Api/Objects/Control/CONTROL.TEXTSELECT Method.html" title="CONTROL.TEXTSELECT Method" class="wiki">.TEXTSELECT(</a>)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Selects text in a control starting at <span class=Argument>Start_Position</span>
 and running for <span class=Argument>Length</span> characters.</td></tr>
</table>

<p class=TableLeft>See Also</p>



<p><a href="../../Functions/Field Functions/Field Functions and Methods.html" title="Field Functions and Methods" class="wiki">Field Functions and Methods</a>,
 <a href="Form Functions and Methods.html" title="Form Functions and Methods" class="wiki">Form Functions and Methods</a>,
 <a href="/Desktop/Reference/Design/View/Browse/Browse Functions and Methods.html" title="Browse Functions and Methods" class="wiki">Browse Functions and Methods</a>,
 <a href="/Desktop/Reference/Design/View/Xdialog/Controls/Button Control Methods.html" title="Button Control Methods" class="wiki">Button Control Methods</a></p>


	<hr class="hrwikibottom" />


	</article>




	<!-- WIKIPATH:Form+Control+Methods">-->


	<div class="wikitopline" >
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>



	</div>
</div>

			</div>
		</div>




<!-- Put JS at the end -->

<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending"}--->
</body></html>