	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Web_Grid_Alternate_Views">Web Grid Alternate Views</h1>
The tabular and columnar views of a grid can convey a lot of information, but the human eye is much more sensitive to shapes and colors than it is to variations text. With an alternate view of a grid, you can display the same information in a way that grabs the user. If it's geographic information, the best display might be a map. If it's scheduling information, the best display might be a calendar.<br />
<br />
Note that an Alternate view displays the same number of rows as its associated grid. This is in contrast to a Linked component or a component in a Row Expander, both of which display data linked to or contained in the current row.<br />
<br />
When using alternate views, it is important to understand that the alternate view and the main view are given the same data. If your grid has a filter, it will also apply to the alternate view. If your grid is displaying 10 records on a page, the alternate view will display the same 10 records.<br />
<br />
To enable Alternate Views, check "Has Alternate Views" in the grid properties.<br />
<br />
	<img src="images/has_alternate_views.png" alt="Image" /><br />
<br />
Then choose the alternate view and edit its properties. Here are the properties for a Map alternate view:<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=766','HEIGHT=892','BACKGROUND=img/wiki_up/map_alternate_view_properties.png']);">	<img src="images/map_alternate_view_properties.png" height="903" width="788" alt="Image" /></a><br />
<br />
In the main view properties, you can choose how the views are organized. The options include tabs and accordions in addition to showing all views.<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=756','HEIGHT=687','BACKGROUND=img/wiki_up/map_main_view_properties.png']);">	<img src="images/map_main_view_properties.png" height="707" width="794" alt="Image" /></a><br />
<br />
If you don't want to limit the alternate view to the typical small size of a tabular grid page, you can set the grid's Rows of data when search active to 0, and then set the maximum number of rows per page to a larger but reasonable number. In this case we have chosen 200 points.<br />
<br />
	<img src="images/max_rows_per_page.png" alt="Image" /><br />
<br />
With these settings, the map alternate view will only show 10 markers before a search, and will show a maximum of 200 markers after a search. So, for example, after searching for airports in Massachusetts, the alternate map view shows all 67 Massachusetts airports.<br />
<br />
	<img src="images/67_airports_in_ma.png" alt="Image" /><br />
<br />
<br />
<h2 class="showhide_heading" id="See_Also">See Also</h2>
<!--depth: 0-->
<ul class="toc">

	<li class="toclevel"><a href="../Google Map Alternate View.html" class="link" title="">Google Map Alternate View </a>
	</li>

	<li class="toclevel"><a href="Web Grid Alternate Views V11/Chart Alternate View V11.html" class="link" title="">Chart Alternate View </a>
	</li>

	<li class="toclevel"><a href="../Custom Alternate View.html" class="link" title="">Custom Alternate View </a>
	</li>
</ul>

<br />
<a href="../../Component/Google Map Component.html" title="Google Map Component V11" class="wiki">Google Map Component </a><br />
<br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Web+Grid+Alternate+Views+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,guide,grid"}--->
</body></html>