<page>
	<topic>Events</topic>
	<description>The UX component contains pages for both Server-side and Client-side events.</description>
	
	<groups><group><title>Server-side Events</title>
	<sections>
		
		<section>
			
			
			<figure><title>Server-side Events</title><link>images/serverside.png</link></figure>
			
		</section>
		</sections></group>
		
		<group>
		<title>Client-side Events</title>
		<sections>
		
		<section>
		
		
		
			<figure><title>Client-side Events</title><link>images/client.png</link></figure>
		</section>
		<section>
			<title>General Tools</title>
			<cases>
				<case>
					<title>Cut</title>
					<description></description>
					<figure><link>images/cut.png</link></figure>
				</case>
				<case>
					<title>Copy</title>
					<description></description>
					<figure><link>images/copy.png</link></figure>
				</case>
				<case>
					<title>Paste</title>
					<description></description>
					<figure><link>images/paste.png</link></figure>
				</case>
				<case>
					<title>Undo</title>
					<description></description>
					<figure><link>images/undo.png</link></figure>
				</case>
				<case>
					<title>Redo</title>
					<description></description>
					<figure><link>images/redo.png</link></figure>
				</case>
				<case>
					<title>Find</title>
					<description></description>
					<figure><link>images/binocular.png</link></figure>
				</case>
				<case>
					<title>Replace</title>
					<description></description>
					<figure><link>images/replace.png</link></figure>
				</case>
				<case>
					<title>Goto</title>
					<description></description>
					<figure><link>images/goto.png</link></figure>
				</case>
				<case>
					<title>Indent</title>
					<description></description>
					<figure><link>images/indent.png</link></figure>
				</case>
				<case>
					<title>Outdent</title>
					<description></description>
					<figure><link>images/outdent.png</link></figure>
				</case>
				
				<case>
					<title>Left Align</title>
					<description></description>
					<figure><link>images/leftalign.png</link></figure>
				</case>
				<case>
					<title>Format Code</title>
					<description></description>
					<figure><link>images/formatcode.png</link></figure>
				</case>
				<case>
					<title>Use an Xbasic Expression to transform code</title>
					<description></description>
					<figure><link>images/xbasicexp.png</link></figure>
				</case>
				<case>
					<title>Comment Out</title>
					<description></description>
					<figure><link>images/commentout.png</link></figure>
				</case>
				<case>
					<title>Un Comment Out</title>
					<description></description>
					<figure><link>images/uncommentout.png</link></figure>
				</case>
				
				
				
			</cases>
		</section>
		
		</sections></group>
		
		<group>
			<title>Tools specific to Server-side</title>
			<sections>
			
			
		<section>
			
			<cases>
				<case>
					<title>Check Syntax</title>
					<description></description>
					<figure><link>images/syntax.png</link></figure>
				</case>
					<case>
					<title>Default Prototype</title>
					<description></description>
					<figure><link>images/prototype.png</link></figure>
				</case>
					<case>
					<title>Action Scripting</title>
					<description></description>
					<figure><link>images/actionscripting.png</link></figure>
				</case>
				
				
			</cases>
			
			
		</section>
		</sections></group>
		
		<group>
			<title>Tools for the Client-side.</title>
			<sections>
		<section>
			
			<cases>
				<case>
					<title>Action Javascript</title>
					<description></description>
					<figure><link>images/actionjavascript.png</link></figure>
				</case>
				<case>
					<title>Insert</title>
					<description></description>
					<figure><link>images/insert.png</link></figure>
				</case>
			</cases>
			
		</section>
		
		
	</sections>
	</group></groups>
	
</page>