	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Opening a Page with an Advanced Button</p>



<p>There are several ways to open a second page from the current page. 
 All require a hyperlink to the second page. The question is how to format 
 and display the link. There are at least three methods, using:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>a regular text hyperlink</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>a graphic with a hyperlink</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>a button with a hyperlink</p>

</li>
</ul>

<p>This topic describes the third method.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open your A5W page 
 in the 
	<a href="../References/Web/Web Publishing/Using the HTML Editor.html" title="Using the HTML Editor" class="wiki">HTML Editor</a>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Place your cursor 
 where you want to insert the button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the Advanced 
 Button icon <img src="images/Insert_Advanced_Button.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 22px;
							height: 22px;
							border-style: none;
							border-style: none;"
					width=22
					height=22
					border=0> on the toolbar. You will see something like 
 this. </p>

</li>
</ol>

<p class=Pix><img src="images/WP_New_Advanced_Button_On_Form.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 101px;
							height: 24px;
							float: none;
							border-style: none;
							border-style: none;"
					width=101
					height=24
					border=0></p>



<ol start=4
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Double click the 
 button and enter its label. You will see something like this. </p>

</li>
</ol>

<p class=Pix><img src="images/WP_New_Advanced_Button_with_label.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 131px;
							height: 38px;
							float: none;
							border-style: none;
							border-style: none;"
					width=131
					height=38
					border=0></p>



<ol start=5
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>At this point you 
 can add more text formatting to the label.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Switch to the <span 
 class=Screen>Source</span> tab. You should have some HTML code that defines 
 the form and button. Add the <span class=HTML1>action</span> and <span 
 class=HTML1>name</span> properties within the <span class=HTML1><form></span> 
 tag. In this case the button will open <span class=Code1>balance_filter.a5w</span>.</p>

</li>
</ol>


<table class="htmlTable" style="border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				x-cell-content-align: Center;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col style="width: 100%;">

<tr style="x-cell-content-align: center;" valign="middle">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;
			border-left-style: none;" valign="top" width="100%">
<p class=Code><span class=HTML1><form method="post"</span> 
 <span class=Code1>action="balance_filter.a5w"</span> <span class=HTML1>&nbsp;</span><span 
 class=Code1>name="foo"</span> <span class=HTML1>><button 
 id=button_adv1 name=button_adv1><strong><font</span></p>


<p class=Code><span class=HTML1>face=Verdana size=3>Filter</font></strong></span></button></form></span></td></tr>
</table>

<ol start=7
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To cause the button 
 to open a page when it is clicked, add the <span class=HTML1>onclick</span> 
 property to the <span class=HTML1><button></span> tag. Note that 
 the <span class=HTML1>onclick</span> property references the <span class=HTML1>name</span> 
 property defined for the form in step 6.</p>

</li>
</ol>


<table class="htmlTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code><span class=HTML1><form method="post" action="balance_filter.a5w" 
 name="foo"><button id=button_adv1 name=button_adv1</span> 
 <span class=Code1>onclick="document.forms<a class="wiki"  href="'foo'" rel="">'foo'</a>.submit()"</span> 
 <span class=HTML1>><strong><font</span></p>


<p class=Code><span class=HTML1>face=Verdana size=3>Filter</font></strong></span></span></button></form></span></td></tr>
</table>

<p><font color="#000000">For the form you can use any name that is unique within the page.</font></p>



<p class=A5><font color="#000000">See Also</font></p>



<p><a href="../References/Web/Web Publishing/Using the HTML Editor.html" title="Using the HTML Editor" class="wiki">
<font color="#0000FF">Using the HTML Editor</font></a></p>




<p class=A5><font color="#000000">Limitations</font></p>



<p><font color="#0000FF">Web publishing applications only.</font></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Opening+a+Page+with+an+Advanced+Button">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,guide,wcontrol,html,a5w"}--->
</body></html>