	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			
<p class=A3Topic>Using Hidden Form Controls</p>



<p>A hidden form on a field is a way to submit data from the current page 
 to the form's target without displaying that data to the application user. 
 <br>
For example, take the following form that could be for a user to request 
 more information from your website. This form would be part of <span class=Code1>page1.a5w</span>. 
 </p>
	<p>&nbsp;</p>




<table class="htmlTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%" bgcolor="#F4F4DF">
<blockquote>
	<p class=Code>&nbsp;<p class=Code><font color="#333300">&lt;form target="page2.a5w"&gt;
 	<br>First name: &lt;input type="text" name="fname"&gt;&lt;br 
 /> <br>Last name: &lt;input type="text" name="lname"&gt;&lt;br 
 /> <br>Email address: &lt;input type="text" name="email"&gt;&lt;br 
 /> <br>Your question: &lt;textarea name="question" rows="5" 
 cols="50"&gt;&lt;/textarea>&lt;br /&gt; <br>&lt;input type="submit"&gt; <br>&lt;/form&gt;</font></blockquote>
</td></tr>
</table>

<p class=Pix>&nbsp;</p>
	<p class=Pix>
	<img border="0" src="images/WP_Hidden_variable_1.png" width="557" height="224"></p>
	<p class=Pix>&nbsp;</p>



<p>This will collect the basic information from a site visitor and presumably 
 <span class=Code1>page2.a5w</span> will put it in a database where a customer 
 service representative can respond to the question. But let us say you 
 would like to know how these inquisitive visitors are finding your web 
 site. You can simply ask them by adding the following HTML within the 
 &lt;form>...&lt/form>. </p>




<table class="htmlTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%" bgcolor="#F4F4DF">
<blockquote>
	<p class=Code>&nbsp;</p>
	<p class=Code><font color="#333300">&lt;form target="page2.a5w"> 
 	<br>...</font></p>
	<p class=Code><font color="#333300">How did you find us: &lt;input type="radio" 
 name="howfind" value="Google">Google &lt;input 
 type="radio" name="howhear" value="Yahoo">Yahoo 
 &lt;input type="radio" name="howhear" value="other">other&lt;br 
 /></font></p>
	<p class=Code><font color="#333300">&lt;input type="submit"> 
	<br>&lt/form></font></blockquote>
</td></tr>
</table>

<p class=Pix>&nbsp;</p>
	<p class=Pix>
	<img border="0" src="images/WP_Hidden_variable_2.png" width="554" height="265"></p>
	<p class=Pix>&nbsp;</p>



<p>Now the user is presented with check boxes to explain how they found 
 you. But this could be made easier for the user by not asking them. Request.Referer (yes, it really 
 is referer, not referrer). It is defined by the HTTP specification and 
 has remained unchanged for historical compatibility) will contain the 
 URL of the page from which the user came. So instead of a radio button 
 asking the user where they came from, you can find out on our own. <br>
<br>
The problem is that <span class=Code1>page2.a5w</span> which is doing the 
 recording is preceded by <span class=Code1>page1.a5w</span> and that's 
 not what you want to record. So you need to look at <span class=Code1>Request.Referer</span> 
 on <span class=Code1>page1.a5w</span> and pass it along to <span class=Code1>page2.a5w</span>. 
 <br>
<br>
One way to do this is with:</p>




<table class="htmlTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%" bgcolor="#F4F4DF">
<blockquote>
	<p>&nbsp;<p><font color="#333300">&nbsp;How did you find us: &lt;input
	</font><font color="#FF0000">type="text"</font><font color="#333300"> name="howfind" 
 value=" </font><font color="#3333CC">&lt;%a5 ? Request.Referer %> "></font><font color="#333300">&lt;br 
 /></font></blockquote>
</td></tr>
</table>

<p>But now the user sees the question posed to them and has an opportunity 
 to change the answer.&nbsp;What you really want to do is hide this data 
 from the user since they do not need to be concerned with supplying it 
 and we do not want to give them an opportunity to modify it. This can 
 be accomplished by changing the above to be a hidden field: <b>Note:</b> Don't 
try running this in the WYSIWYG mode, run it in the code editor.</p>




<table class="htmlTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%" bgcolor="#F4F4DF">
<blockquote>
	<p class=Code>&nbsp;</p>
	<p class=Code><font color="#333300">&lt;html&gt;</font></p>
	<p class=Code><font color="#333300">&lt;head&gt;</font></p>
	<p class=Code><font color="#333300">&lt;meta name="generator" content="Alpha 
 Five HTML Editor"></font></p>
	<p class=Code><font color="#333300">&lt;/head&gt;</font></p>
	<p class=Code><font color="#333300">&lt;body&gt;</font></p>
	<p class=Code><font color="#333300">&lt;form target="page2.a5w"&gt;</font></p>
	<p class=Code><font color="#333300">First name: &lt;input name="fname" 
 >&lt;br ></font></p>
	<p class=Code><font color="#333300">Last name: &lt;input name="lname" 
 >&lt;br ></font></p>
	<p class=Code><font color="#333300">Email address: &lt;input name="email" 
 >&lt;br ></font></p>
	<p class=Code><font color="#333300">Your question: &lt;textarea name=question 
 rows=5 cols=50>&lt;/textarea>&lt;br ></font></p>
	<p class=Code><font color="#333300">&lt;input&nbsp;</font><font color="#FF3300">type="hidden"</font><font color="#333300"> name="howfind&quot; 
	value=&quot; </font><font color="#3333CC">&lt;%a5</font></p>
	<p class=Code><font color="#3333CC">if eval_valid("Request.referer") then</font></p>
	<p class=Code><font color="#3333CC">? Request.Referer</font></p>
	<p class=Code><font color="#3333CC">end if %&gt;</font><font color="#333300"> 
	&quot;&gt;</font></p>
	<p class=Code><font color="#333300">&lt;input type="submit" value="Submit 
 Query"></font></p>
	<p class=Code><font color="#333300">&lt;/form></font></p>
	<p class=Code><font color="#333300">&lt;/body>&lt;/html></font></blockquote>
</td></tr>
</table>

<p class=Pix>&nbsp;</p>
	<p class=Pix><img src="images/WP_Hidden_variable_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 409px;
							height: 234px;
							float: none;
							border-style: none;
							border-style: none;"
					width=409
					height=234
					border=0></p>
	<p class=Pix>&nbsp;</p>



<p>One thing to keep in mind with this example is that <span class=Code1>Request.Referer</span> 
 will not always exist. If a user types in a URL directly or starts from 
 their bookmarks, there is no previous page so there is no <span class=Code1>Request.Referer</span>. 
 Currently this means you need to do an <a href="../../../../Reference/Design/Api/Functions/Expression Evaluation Functions/EVAL_VALID Function.html" title="EVAL_VALID Function" class="wiki">eval_valid(</a>) 
 on <span class=Code1>Request.Referer</span> before you can use it.</p>



<p class=A5>See Also</p>



<p><a href="../References/Web/A5W Page HTML FORM Syntax.html" title="A5W Page HTML FORM Syntax" class="wiki">A5W Page HTML FORM Syntax</a></p>




<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Hidden+Form+Controls">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web","keywords":"server,desktop,guide,wcontrol"}--->
</body></html>