	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>SimpleChart Style Xdialog</p>



<p>The SimpleChart style Xdialog displays numeric data in the form of a 
 bar, pie, or line chart.</p>



<p>To create a list view style Xdialog.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Create a new Action 
 Script.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Xdialog 
 Windows" in the <span class=Control>Category</span> list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Display 
 an XDialog Box" in the <span class=Control>Action</span> list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to display the <span class=Screen>Script Genie</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the name of 
 new variable in the <span class=Control>Variable Name</span> field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the value of the <span class=Control>Prompt</span> field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the selection in the data <span class=Control>Type</span> list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "SimpleChart 
 Control" in the <span class=Control>Style</span> list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Set the <span class=Control>Width</span> 
 and <span class=Control>Height</span> of the resulting dialog box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Define 
 SimpleChart Control</span> to display the <span class=Screen>SimpleChart 
 Genie</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Continue with <a href="List View Genie.html#Data_Selection" title="List View Genie" class="wiki">Data_Selection</a>. </p>

</li>
</ol>

<p class=Pix><img src="images/AS_SimpleChart_Bar_Setup.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 514px;
							height: 467px;
							float: none;
							border-style: none;
							border-style: none;"
					width=514
					height=467
					border=0></p>



<p class=A5><a name=Data_Selection>Data Selection</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Make a selection 
 in the <span class=Button>Data Selection > Chart Type</span> list. 
 The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Bar Chart"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Line Chart"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Pie Chart"</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Make a selection 
 in the <span class=Button>Data Selection > Populate from</span> list. 
 The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Static list"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Alpha Anywhere Table 
 (.DBF)"</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you chose "Static 
 list" in step 2:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/Web_Properties_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 17px;
			height: 18px;
			float: none;
			border-style: none;
			border-style: none;"
	width=17
	height=18
	border=0> in the <span class=Button>Data Selection > Static data</span> 
 field to display the Static List dialog.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, redefine 
 the <span class=Control>Column delimiter</span> character.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Enter the data 
 to be displayed in the chart, one entry per line. The data should be formatted 
 <span class=Argument><Label><Column Delimiter><Value></span>. 
 The <span class=Argument><Value></span> must be numeric.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Press <span class=Button>OK</span> 
 to continue.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you chose "Alpha 
 Five Table (.DBF)" in step 2:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha>
		<p class=ListAlpha>Make a selection in the <span class=Button>Data 
 Selection > Populate style</span> list. The options are:</p>


		
		<ul style="list-style: disc;"
			type=disc>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Multiple 
 Rows, Single Field" - labels come from the data</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Multiple 
 Fields, Single Row" - labels comes from the field names</p>

</li>
		</ul>
		</li>
	</ol>
</ol>

<p class=Pix><img src="images/Multiple_Rows_Single_Field.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 271px;
							height: 182px;
							border-style: none;
							border-style: none;"
					width=271
					height=182
					border=0></p>



<p class=PixCaption>This picture illustrates how 2 fields from multiple 
 records are used for multiple rows, single field </p>



<p class=Pix><img src="images/Multiple_Fields_Single_Row.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 412px;
							height: 226px;
							border-style: none;
							border-style: none;"
					width=412
					height=226
					border=0></p>



<p class=PixCaption>This picture illustrates how 1 record is used for multiple 
 fields, single row </p>



<ul style="list-style: disc;"
	type=disc>
	
	<ol start=2
		style="list-style: lower-alpha;"
		type=a>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Make a table selection 
 in the <span class=Button>Data Selection > Alpha Anywhere table</span> 
 list.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>If you selected 
 "Multiple Fields, Single Row" in step 4, click <img src="images/Web_Properties_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 17px;
			height: 18px;
			float: none;
			border-style: none;
			border-style: none;"
	width=17
	height=18
	border=0> in <span class=Button>Data Selection > Fields</span> to 
 select the fields to display in the 
		<a href="../../Data/FieldRules/Select Fields Dialog - Generic.html" title="Select Fields Dialog - Generic" class="wiki">Select Fields</a> dialog.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Data Selection > Argument</span> 
 field to display the 
		<a href="/Server/Guide/Design/Data/SQL/Define Arguments Dialog.html" title="Define Arguments Dialog" class="wiki">Define   Arguments</a> dialog. This allows you to prompt the user for values 
 or read values from variables. You can use these values (arguments) in 
 the <span class=Button>Data Selection > Filter expression</span> field.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, enter 
 an expression that limits the records to display in the <span class=Button>Data 
 Selection > Filter expression</span> field. Optionally, click <img 
 src="images/Web_Properties_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 17px;
			height: 18px;
			float: none;
			border-style: none;
			border-style: none;"
	width=17
	height=18
	border=0> to use the <span class=Screen>Expression Builder</span> to 
 help you define an expression that evaluates to a logical value.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, enter 
 an expression that orders the records to display in the <span class=Button>Data 
 Selection > Order</span> field. Optionally, click <img src="images/Web_Properties_button.gif"
															x-maintain-ratio=TRUE
															style="border: none;
	width: 17px;
	height: 18px;
	float: none;
	border-style: none;
	border-style: none;"
															width=17
															height=18
															border=0> to 
 use the <span class=Screen>Order Builder</span> to help you define an 
 expression that incorporates at least one field name.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>If you selected 
 "Multiple Rows, Single Field" in step 4, click <img src="images/Web_Properties_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 17px;
			height: 18px;
			float: none;
			border-style: none;
			border-style: none;"
	width=17
	height=18
	border=0> in <span class=Button>Data Selection > Get labels from 
 field</span> to select a table field.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>If you selected 
 "Multiple Rows, Single Field" in step 4, click <img src="images/Web_Properties_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 17px;
			height: 18px;
			float: none;
			border-style: none;
			border-style: none;"
	width=17
	height=18
	border=0> in <span class=Button>Data Selection > Get data from field</span> 
 to select a table field. This must be a numeric field.</p>

</li>
	</ol>
</ul>

<ol start=5
	style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Button>Options 
 > Chart Caption</span> field enter the title that will appear at the 
 top of the chart.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Button>Options 
 > Show Legend</span> field select whether you want to show the data 
 legend.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Bar 
 Chart" or "Line Chart" in step 1, in the <span class=Button>Options 
 > Series Label</span> field enter the description of the values shown 
 on the vertical axis.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Button>Options 
 > Legend Position</span> list select the position of the legend. The 
 options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Top"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Bottom"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Left"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Right"</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Preview</span> to see how the chart will appear.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to continue.</p>

</li>
</ol>

<p class=A5>Finish the Dialog Definition</p>



<ol start=11>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 the title of the dialog box in the <span class=Control>Dialog Title</span> 
 field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 text to appear at the top of the dialog box into the <span class=Control>Header 
 Text</span> field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 text to appear at the bottom of the dialog box into the <span class=Control>Footer 
 Text</span> field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, modify 
 the bottom labels in the <span class=Control>Button Text</span> fields.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, modify 
 the name of the variable in the <span class=Control>Variable Name</span> 
 field that will capture the return value of the Xdialog box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the <span class=Control>Scope</span> of the return variable to one the 
 following values. A variable's scope refers to where the variable can 
 be <span class=Bolded>seen</span>, i.e. which other scripts can access 
 the variable.</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Shared". 
 Variables are available throughout the current form.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Global". 
 Variables are available anywhere in Alpha Anywhere.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Local". 
 Variables are available only in the current script.</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, modify 
 the comment that describes the action.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Finish</span>.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="../Xdialog/Display an Xdialog Box.html" title="Display an Xdialog Box" class="wiki">Display an Xdialog Box</a>, 
 <a href="Creating Charts with SimpleChart.html" title="Creating Charts with SimpleChart" class="wiki">Creating Charts   with SimpleChart</a>, <a href="/Server/Guide/Design/View/Chart/Placing SimpleCharts on a Web Page.html" title="Placing SimpleCharts on a Web Page" class="wiki">Placing   SimpleCharts on a Web Page</a></p>

	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:SimpleChart+Style+Xdialog">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,design,guide,chart"}--->
</body></html>