	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Using_Charts_in_Xdialogs">Using Charts in Xdialogs</h1>
	<p class="showhide_heading">&nbsp;</p>
To use a chart programmatically in an Xdialog:<br />
<ul><li>Create the chart using the <a href="/Server/Guide/Design/View/Chart/Chart API.html" title="Chart API V11" class="wiki">Chart API </a>
</li><li>Save the chart as a bitmap
</li><li>Load the bitmap into memory
</li><li>Display the bitmap as an image in an Xdialog, and
</li><li>Clean up after yourself
</li></ul><h2 class="showhide_heading" id="Examples">Examples</h2>
	See the <strong>Learning Xdialog</strong> tutorial database. You can create or update it from the <strong>Sample and Tutorial Databases</strong> tab of the <strong>Select Database</strong> dialog, which is typically shown when you start 
	Alpha Anywhere.<br />
<div class="rbox tip"><img src="images/close.png" alt="Close" width="16" height="16" class="rbox-close" onclick="$(this).parent().fadeOut();" title="Close" /><div class="rbox-title"><img src="images/book_open.png" alt="tip" width="16" height="16" title="tip" class="icon" /><span>Tip</span></div><div class="rbox-data">You can create a Code Library from Learning Xdialog using the Code Library top dropdown box. This is very convenient for reference when you are writing Xdialog code.</div></div><br />
	Open <b>Learning Xdialog</b> and then open the <strong>Charting </strong>sub-node. Under that you will find at least 6 samples. Pick the one you are interested in, click the <strong>Play Script</strong> button to see it work, and click the <strong>View Code</strong> button to see how it was coded.<br />
<br />
The very simplest example follows.<br />
<br />
<div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox" >' Initialize the chart definition
dim objSettings as Reporting::ReportChart
objSettings.chartType = "Pie"
dim uri as c = a5_chart_data_url_generate(objSettings,PieChart(),500,300)

' Build a bitmap image from the chart defintion
dim ac as Charting::Chart
ac.Populate(uri)
dim binImg as b = ac.SaveImageToBmp()

' Load bitmap into memory
ui_bitmap_load("TempChart",binImg)

' Display the bitmap
ui_dlg_box("Chart",&lt;&lt;%dlg%
{image_opaque=TempChart};
%dlg%)

' Remove the bitmap
ui_bitmap_drop("TempChart")

' Populate the data for a pie chart
function PieChart as Charting::ChartDataDefinition()
   dim rdc as Charting::ChartDataDefinition
   rdc.title = "Expenditures by department"
   
   dim s as Charting::ChartSeriesDefinition
   dim vt1 as Charting::ChartValueDefinition
   vt1.value = 200000
   vt1.label = "Research (200k)"
   dim vt2 as Charting::ChartValueDefinition
   vt2.value = 150000
   vt2.label = "Shipping (150k)"
   dim vt3 as Charting::ChartValueDefinition
   vt3.value = 160000
   vt3.label = "Sales (160k)"
   dim vt4 as Charting::ChartValueDefinition
   vt4.value = 300000
   vt4.label = "Manufacturing (300k)"
   vt4.exploded = .t. ' This pie slice needs to be 'exploded'
   dim vt5 as Charting::ChartValueDefinition      
   vt5.value = 100000
   vt5.label = "IT (100k)"
   s.data.add(vt1)
   s.data.add(vt2)
   s.data.add(vt3)
   s.data.add(vt4)
   s.data.add(vt5)
   rdc.series.add(s)
   PieChart = rdc
end function</pre></div><br />
<br />
This displays<br />
<br />
	<img src="images/Pie_chart_xdialog_sample.png" alt="Image" /><br />
<h2 class="showhide_heading" id="See_Also">See Also</h2>
<a href="/Server/Guide/Design/View/Chart/Chart API.html" title="Chart API V11" class="wiki">Chart API </a><br />
<a href="/Server/Guide/Design/View/Chart/Chart Control.html" title="Chart Control V11" class="wiki">Chart Control </a><br />
<a href="/Server/Guide/Design/View/Chart/Chart Component.html" title="Chart Component V11" class="wiki">Chart Component </a><br />
<a href="/Server/Guide/Design/View/Chart/Embedding Charts in Reports.html" title="Embedding Charts in Reports V11" class="wiki">Embedding Charts in Reports </a><br />
<a href="../Web Grid Enhancements V11/Web Grid Alternate Views V11/Chart Alternate View V11.html" title="Chart Alternate View V11" class="wiki">Chart Alternate View </a><br />
<a href="Using Charts on Forms.html" title="Using Charts on Forms V11" class="wiki">Using Charts on Forms </a><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Charts+in+Xdialogs+V11">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog,chart"}--->
</body></html>