	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Using_Charts_on_Forms">Using Charts on Forms</h1>
	<img src="images/embedded_chart_icon.png" style="float:left;" alt="Image" /> In a desktop form, you can add a chart by selecting the Embedded Chart icon<br />
from the toolbox and dragging a rectangle for the chart on the form. The chart builder will come up, and you can configure it as described in <a href="/Server/Guide/Design/View/Chart/Chart Control.html" title="Chart Control V11" class="wiki">Chart Control V11</a>. All form variables will be available to the chart.<br />
<br />
You can preview the chart and adjust the parameters until you are satisfied with its appearance. In preview mode the "URL" or "URI" generated to describe the current chart can be copied and saved for future use.<br />
<br />
Save the form after pressing OK on the chart builder.<br />
<br />
If you want to modify the chart after it has been saved to the form, right-click on the chart and select <strong>SuperControl Designer...</strong> from the context menu.<br />
<br />
	<img src="images/form_with_chart.png" alt="Image" /><br />
<br />
<h2 class="showhide_heading" id="See_Also">See Also</h2>
<a href="/Server/Guide/Design/View/Chart/Chart Control.html" title="Chart Control V11" class="wiki">Chart Control V11</a><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Charts+on+Forms+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form,chart"}--->
</body></html>