	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Grid_and_Dialog_Component_-_Date_Picker">
			Date Picker for UX and Grid Components </h1>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">In both the <font color="#0000FF">UX Builder</font> 
				and the <font color="#0000FF">Grid Builder</font> it is possible 
				to add a Date Picker to your application. The Date Picker includes, 
				among other things, the following features.</font></p>
				<ul>
					<li><font size="2">It can be configured as a date, date/time, or time picker by setting the Date format string.
					</font></li>
					<li><font size="2">Client-side Event mode allows the first and last date shown in the Date Picker to be dynamically computed using Javascript functions
					</font></li>
					<li><font size="2">It can be configured to disable certain days of the week. For example, can disable dates on Saturdays and Sundays
					</font></li>
				</ul><font size="2">To select the new Date Picker in the Grid 
				Builder, make sure that the '<font color="#0000FF">Use Legacy Date Picker property</font>' in the 
				<font color="#0000FF">Properties &gt; Miscellaneous</font> 
				section is unchecked. The UX Builder will always use the new 
				<font color="#0000FF">Date/Time Picker</font>.
To turn a date picker into a date/time picker, simply define a 
				<font color="#0000FF">Date Format</font> that includes a time portion.
				</font>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="center"></p>
&nbsp;<p>&nbsp;</p>
	<p>
<br />
	</p>
	<p align="center"><img border="0" src="images/date_time_picker_properties2.png" width="352" height="529">
	
	</p>
	<p align="center"><u>Date/Time Picker properties grid in the UX Builder</u></p>
	
	<p>
&nbsp;</p>
	<p>
<br />
Additional settings, including localization properties, are found in the 
<font color="#0000FF">Properties &gt; Other</font>&nbsp; for the
<font color="#0000FF">UX builder</font>. In the <font color="#0000FF">Grid 
builder</font> these same properties can be found under the<font color="#0000FF"> 
Properties</font> page under <font color="#0000FF">Miscellaneous</font>.<br />
<br />&nbsp;</p>

	<p align="center">
	<img border="0" src="images/dialog_other_date_picker_properties2.png" width="719" height="236"><br />
<br />

	</p>

	<p align="center"><u>Date Picker settings in the Other Properties section of 
	the UX Builder</u></p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/dialog_other_date_picker_properties_grid.png" width="730" height="221"></p>
	<p align="center"><u>Date Picker settings in the Other Properties section of 
	the Grid Builder</u></p>
	<p>&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">To create a Date Picker in the
				<font color="#0000FF">UX Builder</font>, click on the
				<font color="#0000FF">Controls</font> button
				<img border="0" src="images/control.png" width="14" height="10"> 
				under the design menu. Next go to the <font color="#0000FF">Data 
				Controls</font> drop-down under the same menu and select the
				<font color="#0000FF">[Textbox]</font> control. The
				<font color="#0000FF">New Control</font> Dialog will appear. 
				Give your control a name and a label, like 'Length of Stay' or 
				'Date of Arrival' and select a data type for your control. You 
				can choose Character, Date, Time, or Short-time as a data type, 
				though if you choose Character this will limit you to the Time 
				Picker properties. Click <font color="#0000FF"><u>O</u>K,</font> 
				the new control will be added to your list of controls. As noted 
				in the intro, in order to turn a Date Picker into a Date/Time 
				Picker it is necessary to change the <font color="#0000FF">Date 
				Format</font> setting. While still on the <font color="#0000FF">
				Control</font> page, click on the control that you created. You 
				will notice that the <font color="#0000FF">Date Format</font> 
				property is set to &lt;Default&gt;</font></p>
				<p>&nbsp;</p>
				<p align="center">
				<img border="0" src="images/Date%20format%20option.png" width="318" height="18"><font size="2">
				</font></p>
				<p align="center">&nbsp;</p>
				<p align="left"><font size="2">This <font color="#0000FF">
				&lt;Default&gt;</font> property refers to whatever you set as the
				<font color="#0000FF">Date Format</font> under the
				<font color="#0000FF">Properties</font> Menu in the UX builder. 
				Put another way, &lt;Default&gt; is <u>not</u> a generic Alpha 
				Anywhere setting but rather whatever you would like the default 
				setting for your project to be. If you would like your 
				application to contain both a date and time picker you need to 
				make both of these format strings appear in the &lt;Default&gt;.</font></p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p><b>Set &lt;Default&gt; to include a Date and Time Picker</b></p>
	<p>&nbsp;</p>
	<p>1. With a [Textbox] control with a Time type added to the UX Builder, go 
	to <font color="#0000FF">Properties</font>.</p>
	<p>2. Go to <font color="#0000FF">Other</font> and select the
	<font color="#0000FF">Date Format</font> property row. Click the button
	<img border="0" src="images/open.png" width="15" height="14"> to the right 
	of the row. </p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/Date%20format%20properties.png" width="1054" height="27"></p>
	<p>&nbsp;</p>
	<p>3. The<font color="#0000FF"> Date Format</font> Dialog will load. Select 
	the Date Format you wish to use from the drop-down and click the
	<font color="#0000FF">Build</font> button next to the <font color="#0000FF">
	Time Format</font>: box.</p>
	<p>&nbsp;</p>
	<p>4. The Time Format Codes Dialog will appear. Here you can either format 
	your own string using the Format String box and the Format Code list that 
	appears above it. Alternatively, if you want a format string that has 
	already been created simply click the text button labeled<font color="#0000FF"> 
	Insert pre-defined format strings</font>. This will determine how the Time 
	picker appears in your control. This example creates a Time Picker showing 
	the hours, minutes, and seconds with either an AM or PM displayed and a 0 
	when empty.&nbsp; </p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/timeformat.png" width="143" height="158"></p>
	<p align="center"><u>Pre-defined format strings</u></p>
	<p align="left">5. Click <font color="#0000FF"><u>O</u>K</font> to close the 
	Time Format Codes dialog. You will see your new Time Format displayed in the 
	Date Format dialog. </p>
	<p align="left">6. Click <font color="#0000FF"><u>O</u>K</font> to close the 
	Date Format dialog. Your change should be visible in the Date Format 
	definition on the Properties page.</p>
	<p align="center">
	<img border="0" src="images/date%20format%20change.png" width="398" height="20"></p>
	<p align="left">&nbsp;</p>
	<p align="left">7. In the Grid Builder go to the Working Preview tab. You 
	should see something like this when you click the Date/Time Picker drop-down 
	button.</p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/date%20and%20time.png" width="242" height="342"></p>
	<p align="center"><u>Date and Time Picker</u></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">Note: If you have a Date Picker control with 
				both a date and time portion, you will see an OK and Cancel 
				button at the bottom of the Date Picker. Users can click on 
				these to confirm changes when there is more than one format 
				string. If there is only one format string these buttons will 
				disappear completely. You can set the label on the OK and Cancel 
				buttons by going to Controls in the UX Builder design menu, 
				scrolling down to the Date/Time Picker Properties list, and 
				changing the text under the 'OK button label' and/or 'Cancel 
				button label' properties.</font></p>
				<p>&nbsp;</p>
				<p align="center">
				<img border="0" src="images/OK%20button%20label.png" width="285" height="34"></p>
				<p align="center">&nbsp;</p>
				<p align="center">
				<img border="0" src="images/Confirm.png" width="223" height="57"></p>
				<p align="center"><u><font size="2">OK Button label setting and 
				resulting control</font></u></p>
				<p align="left">&nbsp;</p>
				<p align="left">&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p><b>Creating Multiple Controls with Different Portions.</b></p>
	<p>&nbsp;</p>
	<p>1. If you want one of your controls to have a date and time format while 
	limiting the format of some other controls there is an easy way to do this. 
	First go to the <font color="#0000FF">Controls</font> page under the UX 
	Builder <font color="#0000FF">Design</font> menu.</p>
	<p>&nbsp;</p>
	<p>2. Click on the control you wish to modify and on the right scroll down 
	to the <font color="#0000FF">Date/Time Picker Properties list.</font></p>
	<p>&nbsp;</p>
	<p>3. On the <font color="#0000FF">Date Format</font> property row click the 
	button <img border="0" src="images/open.png" width="15" height="14"> at the 
	end of the row.</p>
	<p>&nbsp;</p>
	<p>4. The <font color="#0000FF">Date, Date/Time, Time Format</font> Dialog 
	will open. If you have not set the &lt;Default&gt; to include a Time and Date 
	Picker format string see the instructions above on how to do this. If your 
	&lt;Default&gt; setting does include both of these, then this dialog is where you 
	can override the &lt;Default&gt; setting. Click on the drop-down to select the 
	override setting you wish to use. <font color="#0000FF">&lt;DefaultDateOnlyFormat&gt;</font> 
	will make the control only displays the date format string from your 
	&lt;Default&gt;. <font color="#0000FF">&lt;DefaultTimeFormat&gt;</font> will alter a 
	control to only include the time format string from your &lt;Default&gt;.
	<font color="#0000FF">&lt;Custom&gt;</font> lets you create a control with its own 
	separate date and time format strings. Selecting &lt;DefaultDateFormat&gt; is the 
	same as seleting &lt;Default&gt;.</p>
	<p align="center">
	<img border="0" src="images/Override.png" width="497" height="334"></p>
	<p align="center"><u>Override the &lt;Default&gt; Setting for Date/Time Format</u></p>
	<p>&nbsp;</p>
	<p>5. If the 'Date of Arrival' control shown at the beginning of the guide 
	is overridden with the <font color="#0000FF">&lt;DefaultDateOnlyFormat&gt;</font> 
	then it will look something like this...</p>
	<p align="center">
	<img border="0" src="images/date%20of%20arrival%202.png" width="248" height="284"></p>
	<table border="1" width="100%" style="border-width: 0px" height="1292">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">There are a number of additional properties 
				that you can set in the date picker. Show weeks of the year 
				numbers the weeks in a year and displays them vertically next to 
				the calendar. In this example, checking '<font color="#0000FF">Show 
				weeks of the year</font>' displays August containing weeks 31 
				through 36 of the year 2015...</font></p>
				<p align="center">
				<img border="0" src="images/show%20weeks%20of%20the%20year.png" width="230" height="19"></p>
				<p align="center">&nbsp;</p>
				<p align="center">
				<img border="0" src="images/weeks%20of%20the%20year.png" width="220" height="195"></p>
				<p align="left">&nbsp;</p>
				<p align="left"><font size="2">The '<font color="#0000FF">Show 
				days of the week</font>' Setting toggles on and off the days of 
				the week. Out of the box these settings are in English. However, 
				if you are in a non-English speaking country you can control the 
				month and day names. To access the language strings go to the UX 
				Builder <font color="#0000FF">Properties</font> on the design 
				menu and scroll down to the <font color="#0000FF">Other</font> 
				properties. Change the text for the &quot;<font color="#0000FF">Date 
				picker - 'Today' button text</font>&quot;, the &quot;<font color="#0000FF">Date 
				picker - day names</font>&quot; text, and the &quot;<font color="#0000FF">Date 
				picker - month names</font>&quot; text to your liking. To see the 
				changes simply click on Working Preview and open your Date 
				Picker control.</font></p>
				<p align="left">&nbsp;</p>
				<p align="center">
				<img border="0" src="images/French.png" width="239" height="145"></p>
				<p align="center"><u><font size="2">Setting international text</font></u></p>
				<p align="center">&nbsp;</p>
				<p align="left"><font size="2">The <font color="#0000FF">Has 
				mask</font> property on the Controls page under Date/Time Picker 
				properties allows you to restrict what a user can enter into a 
				Date Picker. In cases where the user is doing their own typing 
				into a field, a mask can prevent them from entering characters 
				and only allow them to enter numbers, or visa versa. Alpha 
				Anywhere also has an <font color="#0000FF">Allow date ranges</font> 
				property. A date range is where you use a single date 
	field to enter two date values. The <font color="#0000FF">Multiple separator</font> 
				property lets you decide which character(s) you want to use to 
				distinguish the two ranges. Before you change it the separator 
				is usually ..</font></p>
				<p align="left">&nbsp;</p>
				<p align="center">
				<img border="0" src="images/date%20range.png" width="301" height="52"></p>
				<p align="center"><u><font size="2">A date range with .. as a 
				separator</font></u></p>
				<p align="center">&nbsp;</p>
				<p align="left"><font size="2">The <font color="#0000FF">Low 
				date</font> property sets the lowest date that a user can select 
				on the Date Picker. Similarly the <font color="#0000FF">High 
				date</font> property sets the highest date that a user can 
				select. Both of these properties are listed on the Controls page 
				under Date/Time Picker properties. When you click the button
				<img border="0" src="images/open.png" width="15" height="14"> 
				next to either of the two, the '<font color="#0000FF">Property 
				Value</font>' dialog will open. Here you can choose either an
				<font color="#0000FF">Explicit value</font> or a
				<font color="#0000FF">Javascript function</font> for the low and 
				or high date. If you want an explicit value, which a user can 
				not go beyond, simply enter it in the<font color="#0000FF"> 
				Property value:</font> text box. Alternatively you could also 
				copy and paste into this box from your working preview.</font></p>
				<p align="left">&nbsp;</p>
				<p align="center">
				<img border="0" src="images/low%20date.png" width="215" height="212"></p>
				<p align="center"><u><font size="2">A low date set at August 
				11th</font></u></p>
				<p align="left">&nbsp;</p>
				<p align="left"><font size="2">If you click the Javascript 
				function radio button in the Property value dialog, then you can 
				use a function for the Low date or High date property instead of 
				an absolute value. Using this feature you can prevent users from 
				entering an end date that occurs before the start date that 
				enter.</font></p>
				<p align="left">&nbsp;</p>
				<p align="left">&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p><b>Adding a Javascript Function to a Low date Property</b></p>
	<p>&nbsp;</p>
	<p>Selection to force the user to make a selection from the date picker and 
	not allow them to do their own entry. </p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>Low set to function:getLowDate</p>
	<p>can go to code Javascript functions and see getLowDate()</p>
	<p>&nbsp;</p>
	<p><font color="#0000FF">function getLowDate(){</font></p>
	<p><font color="#0000FF">var startDate = {dialog.object}.getValue('START_DATE');</font></p>
	<p>&nbsp;</p>
	<p><font color="#0000FF">if(startDate != '') return startDate;</font></p>
	<p><font color="#0000FF">else return '';</font></p>
	<p>&nbsp;</p>
	<p><font color="#0000FF">}</font></p>
	<p>&nbsp;</p>
	<p>First thing it does is get a variable called startDate and it reads the 
	value that the user typed into the startDate field. And then if the 
	startDate field is not equal to Null than we return the startDate, so now 
	whatever value the user typed into the StartDate field has now been set as 
	the lowdate for the end date field. Otherwise the value is left blank. This 
	makes it easy to dynamically control the start date and end date of your 
	control. </p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p>&nbsp;</p>
				<p align="left"><font size="2">The <font color="#0000FF">
				Disabled days</font> property in Date/Time Picker Properties 
				under UX Controls prevents users from entering data for certain 
				days of the week. The disable a day first click the button
				<img border="0" src="images/open.png" width="15" height="14"> 
				next to the Disabled days property to load the
				<font color="#0000FF">Property Value</font> Dialog. Enter the 
				code for the day you want to disable into the
				<font color="#0000FF">Property value:</font> textbox. Days are 
				coded based on numbers... 0 (Sunday), 1 (Monday), 2 (Tuesday), 
				3(Wednesday), 4(Thursday), 5(Friday), and 6(Saturday). So, 
				entering 0,6 as a property value will stop people from entering 
				data on a weekend.</font></p>
				<p align="center">
				<img border="0" src="images/disabled%20days.png" width="224" height="285"></p>
				<p align="center"><u><font size="2">Disabled Days</font></u></p>
				<p align="left">&nbsp;</p>
				<p align="left"><font size="2">One last property that you might 
				have noticed listed under the Date/Time Picker Properties are
				<font color="#0000FF">Has events</font>. Has events allow you to 
				define your own Javascript for events like on Click, onNavigate, 
				and onSelect. 'Has events' also contains <font color="#0000FF">onItemDraw</font> 
				which is a very powerful javascript event handler that lets you 
				to customize the html layout of your date picker.</font></p>
			</blockquote>
			<p>&nbsp;</p>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p>
<br />
These videos give a tour of the Date Picker features and show how the Date picker appears with various settings:<br />
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DateTimePicker_part1.swf" rel="external nofollow">Watch Video - Part 1</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DateTimePicker_part2.swf" rel="external nofollow">Watch Video - Part 2</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DateTimePicker_part3.swf" rel="external nofollow">Watch Video - Part 3</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<br />
<br />

	
	
	</p>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Grid+and+Dialog+Component+Date+Picker+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web, review","status":"accept","notes":"dated \"Has been completely rewritten\"","keywords":"server,guide,grid,component"}--->
</body></html>