	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Grid_and_Dialog_Component_-_Date_Picker">
			Date Picker for Grid and UX Components </h1>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">In both the <font color="#0000FF">UX Builder</font> 
				and the <font color="#0000FF">Grid Builder</font> it is possible 
				to add a Date Picker to your application. The Date Picker includes, 
				among other things, the following features.</font></p>
				<ul>
					<li><font size="2">It can be configured as a date, date/time, or time picker by setting the Date format string.
					</font></li>
					<li><font size="2">Client-side Event mode allows the first and last date shown in the Date Picker to be dynamically computed using Javascript functions
					</font></li>
					<li><font size="2">It can be configured to disable certain days of the week. For example, can disable dates on Saturdays and Sundays
					</font></li>
				</ul><font size="2">To select the new Date Picker in the Grid 
				Builder, make sure that the '<font color="#0000FF">Use Legacy Date Picker property</font>' in the 
				<font color="#0000FF">Properties &gt; Miscellaneous</font> 
				section is unchecked. The UX Builder will always use the new 
				<font color="#0000FF">Date/Time Picker</font>.
To turn a date picker into a date/time picker, simply define a 
				<font color="#0000FF">Date Format</font> that includes a time portion.
				</font>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="center">
<br />
	<img border="0" src="images/date_time_picker_properties2.png" width="352" height="529">
	
	</p>
	<p align="center"><u>Date/Time Picker properties grid in the UX Builder</u></p>
	
	<p>
&nbsp;</p>
	<p>
<br />
Additional settings, including localization properties, are found in the 
<font color="#0000FF">Properties &gt; Other</font>&nbsp; for the
<font color="#0000FF">UX builder</font>. In the <font color="#0000FF">Grid 
builder</font> these same properties can be found under the<font color="#0000FF"> 
Properties</font> page under <font color="#0000FF">Miscellaneous</font>.<br />
<br />&nbsp;</p>

	<p align="center">
	<img border="0" src="images/dialog_other_date_picker_properties2.png" width="719" height="236"><br />
<br />

	</p>

	<p align="center"><u>Date Picker settings in the Other Properties section of 
	the UX Builder</u></p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/dialog_other_date_picker_properties_grid.png" width="730" height="221"></p>
	<p align="center"><u>Date Picker settings in the Other Properties section of 
	the Grid Builder</u></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>To create a Date Picker in the <font color="#0000FF">UX Builder</font>, 
	click on the <font color="#0000FF">Controls</font> button under the design 
	menu. Next go to the <font color="#0000FF">Data Controls</font> drop-down 
	under the same menu and select the <font color="#0000FF">[Textbox]</font> 
	control. The New Control Dialog will load. Give your control a name and a 
	label, like 'Length of Stay'.&nbsp; Select the data type for your control, 
	you can choose Character, Date, Time, or Short-time. then click
	<font color="#0000FF"><u>O</u>K</font> to add it to the list of controls.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>As noted above, in order to turn the Date Picker into a Date Time Picker 
	it is necessary to change the Date Format setting. </p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/date%20and%20time.png" width="242" height="342"></p>
	<p align="center"><u>Date and Time Format are set</u></p>
	<p>&nbsp;</p>
	<p>Can have a date and time picker with both a date and time portion, date 
	and time picker has an OK and Cancel buttton...not included if only time 
	picker. Button Setting</p>
	<p>&nbsp;</p>
	<p>Only one control, way control renders depends on the format string you 
	pass in. If your format string contains a date portion and a time portion 
	you get a date and time picker. If the format string contains only a time 
	portion you will only get a time picker. If the format string contains only 
	a date portion you will end up with only a date picker.</p>
	<p>&nbsp;</p>
	<p>If you go to controls in UX, look at a [Date of Birth control] data type 
	is date, using &lt;Default&gt; date format. Default is defined in properties. Has 
	a date part and a time portion. If you bring up Date Format dialog you can 
	choose different format codes.</p>
	<p>&nbsp;</p>
	<p>If you go back to UX controls you can override the &lt;Default&gt; setting and 
	set it to what you want in the Date, Date/Time, Time Format Dialog. &lt;DefaultDateFormatOnly&gt;</p>
	<p>&nbsp;</p>
	<p>Other options </p>
	<p>Show weeks of the year -</p>
	<p>Can turn off the display of the days of the week. </p>
	<p>&nbsp;</p>
	<p>Selection to force the user to make a selection from the date picker and 
	not allow them to do their own entry. </p>
	<p>&nbsp;</p>
	<p>Has mask, in case where user is doing their own typing into the field and 
	not picking from the date picker, can make a mask that has a date and time 
	portion. Allows you to, for example, prevent users from typing in letters 
	into the date picker but allow them to type numbers</p>
	<p>&nbsp;</p>
	<p>Allow date ranges. A date range is where you are using a single date 
	field to enter two date values.</p>
	<p>Separator, what appears between the date ranges. if you were to enter ..</p>
	<p>08/17/2015..09/14/2015&nbsp;&nbsp;&nbsp; .. is prompt for ending date.</p>
	<p>&nbsp;</p>
	<p>Low date - lowest date that you can pick on the date picker</p>
	<p>High date - the highest value that you can pick in the date picker.</p>
	<p>&nbsp;</p>
	<p>You can specify low date and high date explicitly, or you can use a 
	javascript function. This can make it possible to prevent users from 
	entering an end date that is before the start date that they entered.</p>
	<p>&nbsp;</p>
	<p>Low set to function:getLowDate</p>
	<p>can go to code Javascript functions and see getLowDate()</p>
	<p>&nbsp;</p>
	<p><font color="#0000FF">function getLowDate() {</font></p>
	<p><font color="#0000FF">var startDate = {dialog.object}.getValue('START_DATE');</font></p>
	<p>&nbsp;</p>
	<p><font color="#0000FF">if(startDate != '') return startDate;</font></p>
	<p><font color="#0000FF">else return '';</font></p>
	<p>&nbsp;</p>
	<p><font color="#0000FF">}</font></p>
	<p>&nbsp;</p>
	<p>First thing it does is get a variable called startDate and it reads the 
	value that the user typed into the startDate field. And then if the 
	startDate field is not equal to Null than we return the startDate, so now 
	whatever value the user typed into the StartDate field has now been set as 
	the lowdate for the end date field. Otherwise the value is left blank. This 
	makes it easy to dynamically control the start date and end date of your 
	control. </p>
	<p>&nbsp;</p>
	<p>Disabled days. If you want to disable, say, Saturdays and Sundays you can 
	enter 0,6 (0 being Sunday and 6 being Saturday) now when you bring up a 
	calander you will see Saturdays and Sundays have been disabled. </p>
	<p>&nbsp;</p>
	<p>You can control language strings under Date Properties, so if you are in 
	a non-English speaking country you can control the month and day names</p>
	<p>&nbsp;</p>
	<p>Has events, allows you to define your own Javascript events, on Click, 
	onItemDraw very powerful javascript event handler allows you to customize 
	the html layout of the date picker.</p>
	<p>&nbsp;</p>
	<p>tim picker</p>
	<p>time of birth - Field Properties &gt; Type &gt; Shorttime field. could be 
	character field.</p>
	<p>turened on the Time Picker and choosen Time Picker format. this is how we 
	were able to make a time picker.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>
<br />
These videos give a tour of the new features and show how the picker appears with various settings:<br />
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DateTimePicker_part1.swf" rel="external nofollow">Watch Video - Part 1</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DateTimePicker_part2.swf" rel="external nofollow">Watch Video - Part 2</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DateTimePicker_part3.swf" rel="external nofollow">Watch Video - Part 3</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<br />
<br />

	
	
	</p>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Grid+and+Dialog+Component+Date+Picker+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web, review","status":"pending","notes":"dated \"Has been completely rewritten\"","keywords":"server,guide,grid,component"}--->
</body></html>