	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1>Dynamic Properties</h1>
<p>All layout types now support 'Dynamic Properties'. Dynamic Properties allow  you to define an expression that sets the value of a Layout property (e.g. the  color of the border around a control). Here are some examples of the kind of  customization that Dynamic Properties makes incredibly easy (some of these tasks  can be accomplished in V9, but require Xbasic programming):</p>
<ul>
    <li>Disable the edit button on a Form if the 'shipped' field is true</li>
    <li>Change the border on a control to red if the quantity is above some value</li>
    <li>Hide a control, or a group of controls if some field has a certain value</li>
    <li>Alternating row colors on a report</li>
    <li>Highlight rows in a report with values that exceed a threshold value in a  special color</li>
</ul>
<p>To set a dynamic property for an object, you must use the new 'Properties'  Dock Panel. (If you don't see the Properties Dock Panel, select Task Lists,  Properties from the top menus. If the Properties panel is visible, but closed -  you only see a tab on the left or right of the screen with the name 'Properties'  in it - then click on the tab and the Dock Panel will expand).</p>
<p>You will notice that almost every property show in the Properties Dock Panel  has a + icon to the left of the property name. To set a dynamic property you  click the icon to expand the row and then enter an expression that returns the  property value.</p>
<p>
	<img src="images/DynamicProperties_DockPanel.jpg" height="497" width="650" alt="Image" /></p>
<p>&nbsp;If a dynamic property has been set for a particular property on an object,  the Properties Dock Panel will indicate this by showing an entry of  <dynamic>. For example, the screenshot above, shows that the 'text2'  object has focus. This object has a dynamic 'text' property, as show in the  image below.</p>
<p>&nbsp;
	<img src="images/DynamicProperties_TextProperty.gif" height="199" width="198" alt="Image" /></p>
<p>&nbsp;If you expand the 'Text' property shown in the image above, you can see what  the dynamic property for 'text' is:</p>
<p>
	<img src="images/DynamicProperties_Expanded.gif" height="75" width="211" alt="Image" /></p>
<p>&nbsp;Clicking on the smart field button opens the expression editor:</p>
<p>&nbsp;
	<img src="images/DynamicProperties_ExpnBuilder.jpg" height="303" width="456" alt="Image" /></p>
<p>&nbsp;The dynamic property for 'text' is an expression:</p>
<p class="xbasic">Firstname - " " + Lastname</p>
<p>So, when the form is run, if the current record has a value of 'John' for  Firstname and 'Smith' for Lastname, the text property of the object will be set  to 'John Smith'</p>
<p>Depending on the property type, different Genies are opened to help you  define the dynamic property expression. For example, for color properties, the  following Genie makes it very easy to define complex property expressions:</p>
<p>
	<img src="images/DynamicPropertiesColorGenie.jpg" height="419" width="557" alt="Image" /></p>
<p>&nbsp;</p>
<!-- startAnchor --><a name="Report Writer - Alternating Row Colors"></a><!-- endAnchor -->
<h3>Report Writer - Alternating Row Colors</h3>
<p>One of the most common uses of dynamic properties in the Report writer is to  put alternating colors backgrounds on each row of data in the report.</p>
<p>This is done by placing a Frame object in the Detail Section to enclose all  of the objects in the Detail Section.</p>
<p>A dynamic property is then set for the frame's background color. The property  expression makes use of the mrecno() function and the mod() function.</p>
<p>Contrast mrecno() with the more familiar recno() function. Mrecon() is the  logical record number of a row in the report. So for the first record, mrecno()  is 1, the second record, it is 2, and so on. Recno(), on the other hand, is the  physical record number. So, if a report is not sorted by record number, then the  value of recno() for the first record in the report could be any value, but is  unlikely to be 1.</p>
<p>The following expression would alternate between white and lime background  colors:</p>
<p class="xbasic">if(mod(mrecno(),2)=1,"Lime","White")<br />
&nbsp;</p>
<p>The mod() function returns the remainder when the first operand is divided by  the second operand. So for the first record in the report, mrecno() returns 1  and mod(1,2) returns 1, so the record is an odd numbered record and the Lime  background is used. For the second record in the report, mrecno() returns 2 and  mod(2,2) returns 0, so the record is an even numbered record, and the White  background is used.</p>
<!-- startAnchor --><a name="Setting Custom Properties Using Xbasic Automation"></a><!-- endAnchor -->
<h3>Setting Custom Properties Using Xbasic Automation</h3>
<p>The dynamic properties on a Layout can be set using Xbasic automation.</p>
<p>The dynamic property expressions are stored in a CR-LF string in each  object's 'dynamic' property.</p>
<p>&nbsp;The following Interactive window session shows how to set and examine an  object's dynamic properties:</p>
<p>(Assume that the 'customer_information' form in Alphasports is open in Design  mode.)&nbsp;</p>
<p class="xbasic">'Create a 'CardPropertyWrapper' object. This special object is  used to set an object's dynamic properties<br />
dim obj as CardPropertyWrapper</p>
<p class="xbasic">&nbsp;</p>
<p class="xbasic">'We want to set dynamic properties for the object called 'text3'  on the 'customer_information' form.</p>
<p class="xbasic">obj.WrapObject(:customer_Information:text3.this)<br />
<br />
&nbsp;</p>
<p class="xbasic">'To set a dynamic property you set the .binding.<property>  property</p>
<p class="xbasic">'Here, we set the font.color to 'red' if the bill_state_region  is 'MA', otherwise 'blue'<br />
obj.binding.font.color = "if(bill_state_region =  'MA','red','blue')"</p>
<p class="xbasic">&nbsp;</p>
<p class="xbasic">'Here, we set the font.name to 'Arial' if the bill_state_region  is 'MA', otherwise 'Tahoma'<br />
obj.binding.font.name = "if(bill_state_region =  'MA','Arial','Tahoma')"</p>
<p class="xbasic">&nbsp;</p>
<p class="xbasic">'Now, we examine the object's 'dynamic' property and we see a  CR-LF delimited list of property expressions<br />
? obj.dynamic<br />
=  font.color=if(bill_state_region =  'MA','red','blue')<br />
font.name=if(bill_state_region =  'MA','Arial','Tahoma')</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Dynamic+Properties+V10">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA: {"tags":"desktop","status":"pending","keywords":"desktop,design","pagename":"Dynamic Properties"} --->
</body></html>