	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Multi-Select Queries</p>



<p>Multi-Select Queries provides a technique for building queries that 
 select a set of records by record number.</p>



<p>To use Multi-Select:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Query 
 > Multi-Select</span> to display the <span class=Screen>Multi-Select</span> 
 dialog box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Navigate to (Form 
 Mode) or select (Browse Mode) a record you want included in the query, 
 and click <img src="images/Add_Button.gif"
				x-maintain-ratio=TRUE
				style="border: none;
						float: none;
						width: 22px;
						height: 22px;
						border-style: none;
						border-style: none;"
				width=22
				height=22
				border=0> <span class=Button>Add to List</span> to add 
 the record number to the list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Repeat for each record 
 you want included in the query.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In Browse Mode, you 
 can add multiple rows at once by selecting records using the Record Selector 
 on the left edge of the browse, and then clicking <img src="images/Add_Button.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	float: none;
	width: 22px;
	height: 22px;
	border-style: none;
	border-style: none;"
														width=22
														height=22
														border=0> <span 
 class=Button>Add to List</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select a record number 
 and click <img src="images/Remove_Button.gif"
				x-maintain-ratio=TRUE
				style="float: none;
						width: 22px;
						height: 22px;
						border-style: none;
						border-style: none;"
				width=22
				height=22
				border=0>&nbsp;to remove it from the list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/New_Query_button.gif"
	x-maintain-ratio=TRUE
	style="float: none;
			width: 22px;
			height: 22px;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>&nbsp;to clear the list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Create 
 Query</span> to run the query.</p>

</li>
</ol>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Multi-Select+Queries">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form"}--->
</body></html>