	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Aliases</p>



<p>Aliases let you create transportable applications. An "Alias" 
 in Alpha Anywhere refers to a name you assign to represent a local directory 
 on a computer where workspace information is stored.</p>



<p>You can define file aliases on the Aliases tab in the <span class=Screen>Settings</span> 
 dialog. For example, the alias <span class=Code1><a class="wiki"  href="image_folder" rel="">image_folder</a></span> 
 can refer to <span class=Code1>c:\images\</span> on one user's machine, 
 and <span class=Code1>d:\data\images</span> on another machine. Aliases 
 are particularly useful if you use Image File Reference fields, which 
 store image filenames in the field rather than the image data.</p>



<p>When you transport the workspace and the folder which contains the images 
 to another machine that has different drive mappings, all that you have 
 to do on the new machine is ensure that an appropriate entry exists in 
 the alias table. (The aliases are actually stored in the <span class=Code1>a_aliases.ini</span> 
 text file in the Alpha Anywhere program folder.</p>



<p>The alias reference can be an explicit drive/path, or it can be an expression 
 that evaluates to a drive/path. For example, in the picture below, the 
 alias <span class=Code1><a class="wiki"  href="exepath" rel="">exepath</a></span> is set to <span class=Code1>=a5.get_exe_path(</span> 
 ". To specify an expression, prefix the expression with "=". 
 </p>



<p class=Pix>
<img src="images/Settings_Aliases.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							float: none;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0 width="617" height="445"></p>



<p class=A5>See Also</p>



<p><a href="/Server/Reference/Design/Api/Objects/A5/A5.GET_EXE_PATH Method.html" title="A5.GET_EXE_PATH Method" class="wiki">A5.GET_EXE_PATH(</a>), <a href="/Server/Reference/Design/Api/Objects/A5/A5.GET_MASTER_PATH Method.html" title="A5.GET_MASTER_PATH Method" class="wiki">A5.GET_MASTER_PATH(</a>), <a href="/Server/Reference/Design/Api/Objects/A5/A5.GET_PRIVATE_PATH Method.html" title="A5.GET_PRIVATE_PATH Method" class="wiki">A5.GET_PRIVATE_PATH(</a>), 
 <a href="/Server/Reference/Design/Api/Objects/A5/A5.GET_SHARED_PATH Method.html" title="A5.GET_SHARED_PATH Method" class="wiki">A5.GET_SHARED_PATH(</a>)</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Aliases">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA: {"tags":"desktop","status":"accept","keywords":"desktop,design,guide,adb"} --->
</body></html>