	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Cannot Refresh Database Problem</p>



<p>When Alpha Anywhere is refreshing a shadow database, it creates a file named 
 after your database (.ADB file) by appending "LOCK" to the filename. 
 For example, if your database was named INVOICE.ADB, Alpha Anywhere would 
 create INVOICE.ADBLOCK. The reason is to prevent more than one user from 
 refreshing the database at the same time. When the refresh is complete, 
 Alpha Anywhere removes the file.</p>



<p>However, if someone starts the process and does not finish it, Alpha Anywhere may not erase the file. The result is that you get the incorrect 
 message that someone else is refreshing.</p>



<p>The solution is to delete the .ADBLOCK file ( <span class=Bolded>not</span> 
 the .ADB file).</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Cannot+Refresh+Database+Problem">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA: {"tags":"desktop","status":"pending","keywords":"desktop,adb","pagename":"Cannot Refresh Workspace Problem","notes":""} --->
</body></html>