	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Database Specifications</p>

<p>for Alpha Anywhere DBF databases</p>


<table style="table-layout: fixed;
				x-cell-content-align: Top;
				border-left-style: none;
				border-top-style: none;
				border-right-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableHeader">
<p class=TableHead>Category</td>
<td class="TableHeader">
<p class=TableHead>Item</td>
<td colspan="1" class="TableHeader">
<p class=TableHead>Maximum</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="3" class="TableCell">
<p class=TableLeft>General</td>
<td class="TableCell">
<p class=TableLeft>Number of concurrent users</td>
<td colspan="1" class="TableCell">
<p class=TableLeft>The number of users your network supports</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of open tables</td>
<td class="TableCell">
<p class=TableLeft>100</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of sessions per user</td>
<td colspan="1" class="TableCell">
<p class=TableLeft>50&nbsp;</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="10" class="TableCell">
<p class=TableLeft>Tables/Fields</td>
<td class="TableCell">
<p class=TableLeft>Fields per table record</td>
<td class="TableCell">
<p class=TableLeft>1,023</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td colspan="1" rowspan="1" class="TableCell">
<p class=TableLeft>Records per table</td>
<td colspan="1" rowspan="1" class="TableCell">
<p class=TableLeft>2,000,000,000</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Bytes per record</td>
<td class="TableCell">
<p class=TableLeft>19,600</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of characters in a character field</td>
<td class="TableCell">
<p class=TableLeft>255</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of bytes in a memo field</td>
<td class="TableCell">
<p class=TableLeft>Unlimited</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Size of OLE field</td>
<td class="TableCell">
<p class=TableLeft>Unlimited</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of characters in a field name</td>
<td colspan="1" class="TableCell">
<p class=TableLeft>32 (10 is recommended)</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of calculated fields per table</td>
<td class="TableCell">
<p class=TableLeft>512</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of characters in a password</td>
<td class="TableCell">
<p class=TableLeft>8</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of tables in a set</td>
<td class="TableCell">
<p class=TableLeft>40</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="4" class="TableCell">
<p class=TableLeft>Indexes</td>
<td class="TableCell">
<p class=TableLeft>Number of indexes per table</td>
<td class="TableCell">
<p class=TableLeft>40</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of characters in an index key</td>
<td class="TableCell">
<p class=TableLeft>240</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of fields per index</td>
<td colspan="1" class="TableCell">
<p class=TableLeft>Limited by only the maximum key size and expression 
 length</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Length of index name</td>
<td colspan="1" class="TableCell">
<p class=TableLeft>32 (10 is recommended)</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="3" class="TableCell">
<p class=TableLeft>Layouts</td>
<td class="TableCell">
<p class=TableLeft>Number of layouts per table or set</td>
<td class="TableCell">
<p class=TableLeft>Unlimited</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of characters in a layout name</td>
<td class="TableCell">
<p class=TableLeft>24</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of characters in an object name</td>
<td class="TableCell">
<p class=TableLeft>63</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="2" class="TableCell">
<p class=TableLeft>Saved Settings</td>
<td class="TableCell">
<p class=TableLeft>Number of saved settings per table or set</td>
<td class="TableCell">
<p class=TableLeft>Unlimited</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of characters in a saved setting name</td>
<td class="TableCell">
<p class=TableLeft>24</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="3" class="TableCell">
<p class=TableLeft>Queries</td>
<td class="TableCell">
<p class=TableLeft>Number of queries per table or set</td>
<td class="TableCell">
<p class=TableLeft>Unlimited</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of active query lists per table or set</td>
<td class="TableCell">
<p class=TableLeft>4</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of fields per query</td>
<td colspan="1" class="TableCell">
<p class=TableLeft>Limited by only the maximum key size and expression 
 length</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="2" class="TableCell">
<p class=TableLeft>Expressions</td>
<td class="TableCell">
<p class=TableLeft>Number of characters in an expression</td>
<td class="TableCell">
<p class=TableLeft>1024</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td_null>
<td class="TableCell">
<p class=TableLeft>Number of characters in Color and Font equations&nbsp;</td>
<td class="TableCell">
<p class=TableLeft>1023</td></tr>
</table>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Database+Specifications">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"dbf","status":"pending","keywords":"guide,adb"}--->
</body></html>