	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Exporting Selected Records from a Table</p>

<p>You may export selected records from the a table using the <a href="../../../../Tutorial/Design/Data/Operation/Export Operations.html" title="Export Operations" class="wiki">Export   Operation</a> or when viewing a table through a form or browse.</p>

<p>To export the current selection of records:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Records 
 > Export Selected Records...</span> . </p>

</li>
</ol>

<p class=Pix>
<img src="images/UG_Export_Selected_Records.gif"
					x-maintain-ratio=TRUE
					style="border: medium none;
							width: 605px;
							height: 476px;
							float: none;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<ol start=2>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the fields 
 to copy. If you were viewing a browse, the options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Selected columns</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>All field on Browse</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>All fields in Table/Set</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Selected fields</p>

</li>
	</ul>
</ol>

<p>If you were viewing a form, the options are:</p>



<ol start=3>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>All fields on form</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>All fields in Table/Set</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Selected fields</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you clicked <span 
 class=Button>Selected fields</span>, click the <span class=Button>Select 
 fields...</span> button to display the Select Fields dialog box.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, pick 
 a field from the <span class=Control>Available fields</span> list and 
 click <img src="images/Move_Right_Button.gif"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 22px;
					height: 22px;
					float: none;
					border-style: none;
					border-style: none;"
			width=22
			height=22
			border=0> to add it to the <span class=Control>Selected fields</span> 
 list.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, pick 
 multiple fields from the <span class=Control>Available fields</span> list 
 and click <img src="images/Move_Last_Button_2.gif"
				x-maintain-ratio=TRUE
				style="border: none;
						width: 22px;
						height: 22px;
						float: none;
						border-style: none;
						border-style: none;"
				width=22
				height=22
				border=0> to add them to the <span class=Control>Selected 
 fields</span> list.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, pick 
 a field from the <span class=Control>Selected fields</span> list and click 
 <img src="images/Move_Left_Button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 22px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0> to remove it from the <span class=Control>Selected fields</span> 
 list.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, pick 
 multiple fields from the <span class=Control>Selected fields</span> list 
 and click <img src="images/Move_First_Button_3.gif"
				x-maintain-ratio=TRUE
				style="border: none;
						width: 22px;
						height: 22px;
						float: none;
						border-style: none;
						border-style: none;"
				width=22
				height=22
				border=0> to remove them to the <span class=Control>Selected 
 fields</span> list.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, click 
 <img src="images/Preview_Button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 22px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0> to <a href="/Server/Guide/Design/Platform/Xbasic/Viewing Xbasic Code Generated by a Procedure.html" title="Viewing Xbasic Code Generated by a Procedure" class="wiki">view   the Xbasic code generated by this procedure</a>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>OK</span> 
 to continue or <span class=Button>Cancel</span> to discard your inputs.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Control>Export type</span>. The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Character Separated 
 ASCII (*.asc, *.txt)"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Table ASCII (*.tbl, 
 *.txt, *.dat)"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Rich Text Format 
 (RTF) (*.rtf)"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Microsoft Excel, 
 Version 4.0 (*.xls)"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Lotus 1-2-3, 
 Version 1/1A (*.wks)"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Lotus 1-2-3, 
 Version 3.0 (*.wk3)"</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Pick whether to <span 
 class=Control>Export Field names</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the new file 
 name in the <span class=Control>Export file name</span> field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Character 
 Separated ASCII (*.asc, *.txt)" in step 4:</p>

</li>
	
	<ol start=1>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Check the processing 
 <span class=Control>Options</span> you want to use. You may:</p>

</li>
		
		<ul style="list-style: disc;"
			type=disc>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>Quote Character 
 fields.</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>Strip leading blanks 
 from fields</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>Strip trailing 
 blanks from fields</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>Suppress trailing 
 separators</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>Preserve line breaks</p>

</li>
		</ul>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Enter the <span 
 class=Control>Field</span> delimiter to use.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select the Record 
 delimiter to use. The options are:</p>

</li>
		
		<ul style="list-style: disc;"
			type=disc>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"&ltCR>&ltLF>"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"&ltCR>"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"&ltLF>"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"&ltESC>"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"&ltTAB>"</p>

</li>
		</ul>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Table 
 ASCII (*.tbl, *.txt, *.dat)" in step 4, enter the number of spaces 
 between each field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Preview_Button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 22px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0> to view the Xbasic code generated by this procedure.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to export the selected records or <span class=Button>Cancel</span> to 
 quit without taking any action.</p>

</li>
</ol>

<p class=A5>See Also</p>
<p><a href="../../../../Tutorial/Design/Data/Operation/Export Operations.html" title="Export Operations" class="wiki">Export Operations</a></p>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Exporting+Selected+Records+from+a+Table">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,adb"}--->
</body></html>