	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1>Expression Library </h1>
<p>The Expression Library stores expressions that can 
be inserted into your script with only a couple of keystrokes. </p>
	<p>&nbsp;</p>

	<a name="Multiple Libraries"><h2>Multiple Libraries</h2></a></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
				<p><br>
				<font size="2">Alpha Anywhere has an expression library for:</font></p>
				<ul style="list-style: disc;"
	type=disc>
					<li class=kadov-p-CBullet1>
					<p class=Bullet1><font size="2">Each <font color="#0000FF">Table</font> or
					<font color="#0000FF">Set</font>,</font></p>
					</li>
					<li class=kadov-p-CBullet1>
					<p class=Bullet1><font size="2">Each <font color="#0000FF">
					Workspace</font> (.adb 
 file), </font></p></li>
					<li class=kadov-p-CBullet1>
					<p class=Bullet1><font size="2">A <font color="#0000FF">Global</font> library </font></p></li>
				</ul>
				<p><font size="2">This multi library model replaced a single 
				library model that used a table called
				<i>a_code_archive.dbf</i>. Multiple libraries were implemented 
				because the expressions that are defined for use in one table are often irrelevant when working 
				with a different table; mainly because different tables use 
				different field names. Because there are still certain expressions that are relevant 
 regardless of what the current table/set is, Alpha Anywhere also provides Workspace and 
				<span class=Bolded>
				<span style="font-weight: 400">Global</span></span> 
 libraries as well. The <font color="#0000FF">Global Library</font> can be 
				accessed from any Alpha Anywhere workspace on your system.
				<font color="#0000FF">Current Workspace</font> libraries can be 
				accessed from any location in an open workspace.
				<font color="#0000FF">Current Table/Set </font>libraries can 
				only be accessed in the current Table or Set and are stored in 
				text files with a
				<font color="#0000FF">.expn_lib_tbl</font> 
 extension. These files are stored in the same folder&nbsp;as&nbsp;the corresponding 
 table or set. <font color="#0000FF">Workspace Libraries</font> are stored in text files with the 
				<font color="#0000FF">.expn_lib_db</font>
 extension.</font></p>
				<p>&nbsp;</p>
				<p><font size="2">To find the Expression Library first make your 
				way to the
				<a href="../../Data/FieldRules/Expression%20Builder.html#Finding the Expression Builder">
				Expression Builder</a>.</font></p>
			</blockquote>
			</td>
		</tr>
	</table>



<p class=A5>Adding an Entry </p>
	<p class=A5>&nbsp;&nbsp;&nbsp; <span style="font-weight: 400">1.&nbsp;&nbsp; 
	Create an Expression in the Expression Builder. If you don't enter any 
	expression Alpha Anywhere will display an error message when you try to 
	click add expression. </span></p>
	<p class=A5><span style="font-weight: 400"><br></p>
	</span>
	<p align="center">
	<img border="0" src="images/A_addexpression3.png" width="191" height="80">



	</p>
	<p align="center"><u>An Expression</u></p>
	<p align="center">&nbsp;</p>



<p>&nbsp;&nbsp;&nbsp; 2.&nbsp;&nbsp;&nbsp; Click the <span class=Button>Add 
 expression to Library</span> button at the bottom right of the Expression 
 Builder. </p>
	<p>&nbsp;</p>



<p class=Pix>
<img border="0" src="images/A_addexpression.png" width="241" height="75"></p>
	<p class=Pix>
&nbsp;</p>
	<p>&nbsp;&nbsp;&nbsp; 3.&nbsp;&nbsp;&nbsp; If you have 
 entered an expression, but no part of the expression is currently highlighted, 
 Alpha Anywhere will display this sub-menu after you click the button: </p>
	<p>&nbsp;</p>



<p class=Pix>
<img border="0" src="images/A_addexpression2.png" width="271" height="78"></p>
	<p class=Pix>
&nbsp;</p>



<p>&nbsp;&nbsp;&nbsp; 4.&nbsp;&nbsp;&nbsp; If you have entered an expression, and you have highlighted 
 a portion of an expression, Alpha Anywhere will display this sub-menu after 
 you click the button: </p>
	<p>&nbsp;</p>



<p class=Pix>
<img border="0" src="images/A_addexpression4.png" width="371" height="118"></p>
	<p class=Pix>&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDEAC4" style="border-style: none; border-width: medium">
			<blockquote>
				<p><span class=Note><font size="2"><br>
				Note</font></span><font size="2"> : The second menu 
 choice shows the portion of the expression that is currently highlighted.</font></p>
			</blockquote>
			</td>
		</tr>
	</table>



<p>&nbsp;</p>
	<p>&nbsp;&nbsp;&nbsp; 5.&nbsp;&nbsp;&nbsp; After selecting the appropriate option, Alpha Anywhere will ask you to describe 
 the expression and select where you want to store it. </p>



<p class=Pix>
<img border="0" src="images/A_addexpression5.png" width="411" height="213"></p>



<p>&nbsp;&nbsp;&nbsp; 6.&nbsp;&nbsp;&nbsp; After clicking <span class=Button><u>O</u>K</span>, Alpha Anywhere will display 
 your expression in the Expression Library: </p>



<p class=Pix>
<img border="0" src="images/A_addexpression6.png" width="581" height="425"></p>
	<p class=Pix><u>The Expression Library</u></p>
	<p class="Pix" style="text-align: left">&nbsp;</p>
	<p class="Pix" style="text-align: left">&nbsp;7.&nbsp;&nbsp;&nbsp; If you are happy with the entry, 
 simply click the <span class=Button><u>C</u>ancel</span> button to save the 
	entry and close the 
 dialog. </p>
	<p class="Pix" style="text-align: left">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDEAC4" style="border-style: none; border-width: medium">
			<blockquote>
				<p><span class=Note><font size="2"><br>
				Note</font></span><font size="2"> : The top window of the 
				Expression Library dialog shows the description of each item in the Library. The 
 bottom window shows the actual expression. </font></p>
			</blockquote>
			</td>
		</tr>
	</table>



	<p class=Pix style="text-align: left">&nbsp;&nbsp; </p>
	<p class=Pix style="text-align: left"><b>Editing a Library Expression: </b></p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix style="text-align: left">&nbsp;&nbsp;&nbsp; 1.&nbsp;&nbsp;&nbsp; 
	If you want to make any changes to an entry, 
	open the <font color="#0000FF">Expression Library</font> and edit the entry in 
 the <font color="#0000FF">Expression:</font> window.</p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix>
	<img border="0" src="images/A_addexpression7.png" width="515" height="150"></p>
	<p class=Pix><u>Adding a Middlename field to an expression</u></p>
	<p class=Pix style="text-align: left">&nbsp;&nbsp; </p>
	<p class=Pix style="text-align: left">&nbsp;&nbsp;&nbsp; 2.&nbsp;&nbsp;&nbsp; 
	Click the <span class=Button>Save Changes</span> 
 button. This button only becomes active after you have altered an expression</p>
	<p class=Pix style="text-align: left"><br></p>
	<p align="center">
	<img border="0" src="images/A_addexpression8.png" width="190" height="88">
	</p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix style="text-align: left"><b>Deleting or Editing and Entry:</b></p>
	<p class=Pix style="text-align: left"><br>
&nbsp;&nbsp;&nbsp; 1.&nbsp;&nbsp;&nbsp; In the top window of the Expression 
	Library dialog right click on the entry you want to edit or delete.</p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix>
	<img border="0" src="images/A_addexpression9.png" width="522" height="166"></p>
	<p class=Pix>&nbsp;</p>
	<p class=Pix style="text-align: left">&nbsp;&nbsp;&nbsp; 2.&nbsp;&nbsp;&nbsp; 
	From the menu that open choose <font color="#0000FF">Delete Entry</font> to 
	delete the expression entry or <font color="#0000FF">Rename</font> to rename 
	it.&nbsp; </p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix style="text-align: left"><b>Sort the Expressions in a Library:</b></p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix style="text-align: left">&nbsp;&nbsp;&nbsp; 1.&nbsp;&nbsp;&nbsp; 
	Click on any Expression in the top window of the <font color="#0000FF">
	Expression Library</font>.</p>
	<p class=Pix style="text-align: left">&nbsp;&nbsp;&nbsp; 2.&nbsp;&nbsp;&nbsp; 
	Right Click to open the library's menu. Click on <font color="#0000FF">Sort</font> 
	to open the sort menu.</p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix>
	<img border="0" src="images/A_addexpression10.png" width="491" height="99"></p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix style="text-align: left">&nbsp;&nbsp;&nbsp; 3.&nbsp;&nbsp;&nbsp; 
	Select <font color="#0000FF">Ascending</font> to sort your library from A to 
	Z.</p>
	<p class=Pix style="text-align: left">&nbsp;</p>
	<p class=Pix>
	<img border="0" src="images/A_addexpression11.png" width="456" height="132"></p>
	<p class=Pix><u>Ascending Order</u></p>
	<p class=Pix style="text-align: left">&nbsp;&nbsp;&nbsp; 4.&nbsp;&nbsp;&nbsp; 
	Select <font color="#0000FF">Descending</font> to sort your library from Z 
	to A.</p>
	<p class=Pix>
	<img border="0" src="images/A_addexpression12.png" width="224" height="146"></p>
	<p class=Pix><u>Descending Order</u></p>
	<p class=Pix style="text-align: left">&nbsp;&nbsp;&nbsp; </p>
	<p class=Pix style="text-align: left">&nbsp;&nbsp;&nbsp; 5.&nbsp;&nbsp;&nbsp; 
	Select <font color="#0000FF">Unsorted</font> if you want to list the 
	expression entries in the order they were created.</p>
	<p class=Pix style="text-align: left">&nbsp;</p>



	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
				<p><br>
				<font size="2">Note: You can also add entries to the
				<font color="#0000FF">Expression Library</font> from within the 
				Library itself. This feature is useful in cases where you want to duplicate an expression and add it to the library under 
				a different entry name. You can also use this feature to create 
				a blank entry and then fill in the entry's full expression at a 
				later point in time. To add an entry from the library, 
				right-click on any entry in the top window of the Expression 
				Library. From the menu that opens select <font color="#0000FF">
				Add New Entry</font>.</font></p>
				<p>&nbsp;</p>
				<p align="center">
				<img border="0" src="images/A_addexpression13.png" width="295" height="106"></p>
				<p align="center">&nbsp;</p>
				<p align="left"><font size="2">The <font color="#0000FF">Add 
				Entry to Expression Library</font> Dialog will open. Give your 
				entry a new name and also chose which library you wish to place 
				the entry in. 
				</font></p>
				<p align="left"><font size="2"> 
				<br></p>
			
				<p align="center">
				<img border="0" src="images/A_addexpression14.png" width="357" height="95"></font>
			</p>
				<p align="center">
				&nbsp;</p>
				<p align="left">
				<font size="2">Click <font color="#0000FF"><u>O</u>K</font> to 
				add the new entry to your library. With the new entry open go to 
				the lower window in the <font color="#0000FF">Expression library</font> 
				and enter a new expression for the entry. Alternatively you 
				might want to copy another entry's expression. Go to the entry 
				you want to copy, highlight the expression in that entry, and 
				click Ctrl + C to copy. Next go back to the new entry you 
				created and hit Ctrl + V to paste the copied expression into the 
				new entries Expression window.</font></p>
			
				<p align="left">&nbsp;</p>
			</blockquote>
			
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p class=A5>Inserting an Entry from the Library into an Expression</p>
	<p class=A5><span style="font-weight: 400">&nbsp;&nbsp;&nbsp; 1.&nbsp;&nbsp;&nbsp; 
	From the <font color="#0000FF">Expression Builder</font> either double click
	<font color="#0000FF">Library Entry</font> in the menu, or highlight
	<font color="#0000FF">Library Entry</font> and click <font color="#0000FF">
	<u>I</u>nsert</font>, or press <font color="#0000FF">F9</font>.</span></p>
	<p class=A5 align="center">
	<img border="0" src="images/A_addexpression15.png" width="158" height="248"></p>
	<p class=A5>&nbsp;</p>
	<p>&nbsp;&nbsp;&nbsp; 2.&nbsp;&nbsp;&nbsp; The <font color="#0000FF">
	Expression Library</font> will open up. Select the entry that you want to insert and 
 then either click the <span class=Button><u>I</u>nsert</span> button, or double 
 click on the entry name.</p>
	<p align="center">
	<img border="0" src="images/A_addexpression16.png" width="291" height="141"></p>



<p class=A5>&nbsp;</p>
	<p class=A5>See Also</p>



<p><a href="../../../../Reference/Design/View/Application Development Tools, Functions.html" title="Application Development Tools, Functions" class="wiki">Application Development   Tools</a></p>
	<p><a href="../../Data/FieldRules/Expression%20Builder.html">Expression 
	Builder</a></p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Expression+Library">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop, common","status":"accept","keywords":"desktop,design,guide,adb"}--->
</body></html>