	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Go to Record Number</p>



<p class=A5>Overview</p>



<p>The <span class=Button>Go to Record Number</span> action displays a 
 specified record number based on the current index/query order. This option 
 is a staple part of record navigation.</p>



<p class=A5>Procedure</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Make a selection 
 in the <span class=Control>Go to a record in which Form/Browse window?</span> 
 field. This field will be grayed out unless this action is based on a 
 Form or Browse. The choices are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Current Form 
 or Browse Window". </p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Another Form 
 or Browse Window". </p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Another 
 Form or Browse Window", in the <span class=Control>Window Name</span> 
 field select either:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Forms" </p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Browses" 
 </p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select one of the 
 listed forms or browses.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Make a selection 
 from the How will you specify the record number to go to? list. The options 
 are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Specify record 
 number now" </p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Specify a variable 
 that contains the record number" </p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Specify an expression 
 that evaluates to the record number" </p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Prompt user at 
 run time" </p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Specify 
 record number now", enter the number in the <span class=Control>Record 
 Number</span> field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Specify 
 a variable that contains the record number", enter the variable name 
 in the <span class=Control>Variable Name</span> field. Optionally, click 
 the <img src="images/List_Button_Blue_Down.gif"
			x-maintain-ratio=TRUE
			style="border: none;
					float: none;
					width: 22px;
					height: 22px;
					border-style: none;
					border-style: none;"
			width=22
			height=22
			border=0> button to select an existing variable.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If the variable is 
 new, select is type from the <span class=Control>Variable Type</span> 
 list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Specify 
 an expression that evaluates to the record number", enter the expression 
 in the <span class=Control>Expression</span> field. Optionally, click 
 the <img src="Expression_Button_black.gif"
			x-maintain-ratio=TRUE
			style="border: none;
					float: none;
					width: 22px;
					height: 22px;
					border-style: none;
					border-style: none;"
			width=22
			height=22
			border=0> button to open the <a href="../../Data/FieldRules/Expression Builder.html" title="Expression Builder" class="wiki">&lt;span   class=Screen&gt;Expression Builder&lt;/span&gt;</a>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally modify 
 the comment that describes the action.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Finish.</span></p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="../../Platform/Xbasic Action Scripting/Records/Go to Record Key.html" title="Go to Record Key" class="wiki">Go to Record Key</a>, <a href="/Server/Reference/Design/Api/Objects/Form/FORM.RECNO_GOTO Method.html" title="FORM.RECNO_GOTO Method" class="wiki">&lt;FORM&gt;.RECNO_GOTO(</a>), 
 <a href="/Server/Reference/Design/Api/Objects/Object/OBJECT.FIND Method.html" title="OBJECT.FIND Method" class="wiki">&lt;OBJECT&gt;.FIND(</a>)</p>

	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Go+to+Record+Number">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,guide,adb","tags":"desktop"}--->
</body></html>