	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Numbering Child Records</p>



<p>Many applications create a set with a parent table in a one-to-many 
 relationship with a child table. Field Rules auto-numbering can assign 
 unique ID numbers to the records in the parent table. The problem of numbering 
 the child table records is cannot be solved with Field Rules, particularly 
 if you want to reset the child record counter to 1 for each new parent 
 record. For example, the solution might provide the following record numbers:</p>




<div align=center>
<table style="x-cell-content-align: top;
				float: aligncenter;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Parent</p>


<p class=TableHead>Record</p>


<p class=TableHead>Number</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Child</p>


<p class=TableHead>Record</p>


<p class=TableHead>Numbers</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>1</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>01 to 04</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>2</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>01 to 02</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>3</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>01 to 07</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>4</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>01</td></tr>
</table>
</div>
<p>One additional requirements could be that the deletion of a child record 
 would cause the remaining child records to be renumbered. Assume there 
 are two tables: <span class=Code1>invoice</span> and <span class=Code1>line_items</span> 
 with the following structures.</p>




<div align=center>
<table style="x-cell-content-align: top;
				float: aligncenter;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="3" rowspan="1" class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHeadCenter>Invoice Table</td>
<td_null>
<td_null></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Field Name</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Type</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Width</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Invoice_ID</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Character</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>8</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Date1</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Date</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>8</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Customer</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Character</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>30</td></tr>
</table>
</div>

<div align=center>
<table style="x-cell-content-align: top;
				float: aligncenter;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="4" rowspan="1" class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHeadCenter>Line_Items Table</td>
<td_null>
<td_null>
<td_null></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Field Name</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Type</td>
<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHeadCenter>Width</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHeadCenter>Decimals</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Invoice_ID</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Character</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter>8</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter>0</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Line_Number</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Character</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter>2</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter>0</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Amount</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Numeric</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter>7</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter>2</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Description</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Character</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter>30</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter>0</td></tr>
</table>
</div>
<p>The two tables are linked one-to-many on the <span class=Code1>Invoice_ID</span> 
 field.</p>



<p>A script placed under the <span class=Code1>OnSaveRecord</span> event 
 of the <span class=Code1>line_items</span> table numbers new records. 
 The same script placed under the <span class=Code1>OnDeleteRecord</span> 
 event renumbers line items after one is deleted.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim head&nbsp;as&nbsp;P</p>


<p class=Code>dim items&nbsp;as&nbsp;P</p>


<p class=Code>dim line_number&nbsp;as&nbsp;N</p>


<p class=Code>line_number = 0</td></tr>
</table>

<p>The <a href="/Server/Reference/Design/Api/Objects/Table/TABLE.GET Method.html" title="TABLE.GET Method" class="wiki">TABLE.GET(</a>) method returns 
 a pointer to an <span class=Bolded>open</span> table (in this case the 
 parent table in the set). This line verifies that the <span class=Code1>line_items</span> 
 child table is being opened in a set with parent table. This is very important. 
 If the <span class=Code1>line_items</span> table is not opened&nbsp;as&nbsp;a 
 child table, then there is no meaningful way to assign consecutive line 
 numbers to the records in the same invoice. If the table is opened by 
 itself, then the script passes program flow to the error trap at <span 
 class=Code1>not_in_set</span> and does not renumber the line item records.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>on error goto not_in_set</p>


<p class=Code>head = table.get("invoice")</td></tr>
</table>

<p>Once we have verified that we are in the right set, we sequentially 
 fetch through the records in <span class=Code1>line_items</span>. We use 
 <a href="/Server/Reference/Design/Api/Objects/Table/TBL.FETCH_FIND Method.html" title="TBL.FETCH_FIND Method" class="wiki">&lt;TBL&gt;.FETCH_FIND(</a>) 
 and <a href="/Server/Reference/Design/Api/Objects/Table/TBL.FETCH_LAST Method.html" title="TBL.FETCH_LAST Method" class="wiki">&lt;TBL&gt;.FETCH_LAST(</a>) 
 in a <a href="/Server/Reference/Design/Platform/Xbasic/WHILE __ELLIPSES__ END WHILE.html" title="WHILE ... END WHILE" class="wiki">WHILE ... END WHILE</a> 
 loop. The set structure guarantees that active range of the <span class=Code1>line_items</span> 
 records is limited to the current header number.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>on error goto 0</p>


<p class=Code>items = table.get("line_items")</p>


<p class=Code>items.fetch_first()</p>


<p class=Code>while .not. items.fetch_eof()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;line_number = line_number + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;items.change_begin()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;items.line_number = padl(ltrim(str(line_number, 
 2, 0)), 2, "0")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;items.change_end(.t.)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;items.fetch_next()</p>


<p class=Code>end while</td></tr>
</table>

<p>After fetching each record in <span class=Code1>line_items</span>, we 
 have to update its <span class=Code1>line_number</span> field. That is 
 done with the <a href="/Server/Reference/Design/Api/Objects/Table/TBL.CHANGE_BEGIN Method.html" title="TBL.CHANGE_BEGIN Method" class="wiki">&lt;TBL&gt;.CHANGE_BEGIN(</a>) 
 and <a href="/Server/Reference/Design/Api/Objects/Table/TBL.CHANGE_END Method.html" title="TBL.CHANGE_END Method" class="wiki">&lt;TBL&gt;.CHANGE_END(</a>) 
 methods.</p>



<p>Finally, after updating the records in the browse, we issue a <a href="/Server/Reference/Design/Api/Objects/Object/OBJECT.RESYNCH Method.html" title="OBJECT.RESYNCH Method" class="wiki">PARENTFORM.RESYNCH(</a>) 
 to make sure the form reflects the changes made to the underlying table.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>parentform.resynch()</p>


<p class=Code>end</p>


<p class=Code>not_in_set:</p>


<p class=Code>on error goto 0</p>


<p class=Code>end</td></tr>
</table>

<p>You can use this technique any time you need to number child records 
 consecutively. Examples would include invoices for customers, clinic visits 
 for patients, monthly deposits or withdrawals in an account - the number 
 of such applications is unlimited.</p>



<p class=A5>Multiuser considerations</p>



<p>Under rare circumstances, it is possible for a multi-user record-locking 
 conflict to arise. If two users are simultaneously adding or deleting 
 line items on a single invoice, then conceivably one of the <span class=Code1>OnSaveRecord</span> 
 or <span class=Code1>OnDeleteRecord</span> scripts could fail to obtain 
 the record lock it needs to initiate a <TBL>.CHANGE_BEGIN(). This 
 would be a rare circumstance indeed, but of course it is just such rare 
 circumstances that are behind most spectacular software failures.</p>



<p>We can check for multi-user conflicts by placing another <a href="/Server/Reference/Design/Platform/Xbasic/ON ERROR.html" title="ON ERROR" class="wiki">on   error goto</a> statement just before the <TBL>.CHANGE_BEGIN().&nbsp;as&nbsp;in 
 all error traps, we have to decide in advance what we will do if we encounter 
 an error. In this case, we will just delay one second and try again. If 
 the record is still locked and we can't change it, we will delay a second 
 and then a third time. If we continue to fail after 3 tries, we will abort 
 the script with an informative message to the operator. Here is our script 
 with multi-user error trapping added:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim head&nbsp;as&nbsp;P</p>


<p class=Code>dim items&nbsp;as&nbsp;P</p>


<p class=Code>dim line_number&nbsp;as&nbsp;N</p>


<p class=Code>dim tries&nbsp;as&nbsp;N</p>


<p class=Code>tries = 0</p>


<p class=Code>line_number = 0</p>


<p class=Code>on error goto not_in_set</p>


<p class=Code>head = table.get("invoice")</p>


<p class=Code>on error goto 0</p>


<p class=Code>items = table.get("line_items")</p>


<p class=Code>items.fetch_first()</p>


<p class=Code>while .not. items.fetch_eof()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;line_number=line_number + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;on error goto record_locked</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;items.change_begin()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;on error goto 0</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;items.line_number=padl(ltrim(str(line_number, 
 2, 0)), 2, "0")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;items.change_end(.t.)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;items.fetch_next()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;tries 
 = 0</p>


<p class=Code>end while</p>


<p class=Code>parentform.resynch()</p>


<p class=Code>end</p>


<p class=Code>not_in_set:</p>


<p class=Code>on error goto 0</p>


<p class=Code>end</p>


<p class=Code>record_locked:</p>


<p class=Code>on error goto 0</p>


<p class=Code>if (tries < 3) then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;tries = tries + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;sleep(1)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;resume 0</p>


<p class=Code>else</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("System error", 
 "Unable to lock and update line numbers!")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;end</p>


<p class=Code>end if</td></tr>
</table>

<p class=A5>Thanks To</p>



<p>Dr. Peter Wayne</p>



<p class=A5>See Also</p>



<p><a href="../../../../Reference/Design/Data/DBF/One to Many Links.html" title="One to Many Links" class="wiki">One to Many Links</a></p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Numbering+Child+Records">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop, dbf","status":"pending","keywords":"desktop,design,guide,adb,dbf"}--->
</body></html>