	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Renaming Workspaces</p>
	<p class=A3Topic>&nbsp;</p>



<p>A workspace consists of several files. They have the same prefix&nbsp;as&nbsp;the 
 workspace, and have the extensions: .ALB, .ALX, .ALM, and .ADB</p>



<p>To rename a workspace</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Use the <span class=Screen>Windows 
 Explorer</span> to rename or delete the workspace's files. For example, 
 if you wanted to change a workspace's name from NEW_SALES to OLD_SALES, 
 you would rename the files&nbsp;as&nbsp;follows:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"NEW_SALES.ALB" 
 to "OLD_SALES.ALB"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"NEW_SALES.ALX" 
 to "OLD_SALES.ALX"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"NEW_SALES.ALM" 
 to "OLD_SALES.ALM"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"NEW_SALES.ADB" 
 to "OLD_SALES.ADB"</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If there are any 
 libraries associated with the old workspace name.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select <span class=Button>File 
 > Workspace Properties</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Display the <span 
 class=Screen>Libraries</span> tab.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select each library 
 associated with the old workspace name and click <span class=Button>Remove</span>.</p>

</li>
	</ol>
</ol>

<p class=A5>See Also</p>



<p><a href="../References/Xbasic/Xbasic Reference/Basic Concepts and Terminology.html#Table_and_Field_Names" title="Basic Concepts and Terminology" class="wiki">Table_and_Field_Names</a></p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Renaming+Databases">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA: {"status":"pending","tags":"desktop","notes":"","keywords":"desktop,guide,adb","pagename":"Renaming Workspaces"} --->
</body></html>