	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Restore a Workspace Backup</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#EDEEDF" style="border-style: none; border-width: medium">
			<blockquote>
				<p><br>
				<font size="2">In Alpha Anywhere the Restore Workspace 
 utility supports dates in MM/DD/YY formats. </font></p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p><b><font size="2">Restore a workspace:</font></b></p>
	<p>&nbsp;</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>From the
	<font color="#0000FF">Control Panel</font> select <span class=Button>Tools 
 > Backup/Restore Workspace &gt; Restore Workspace</span>. </p>

</li>
</ol>

<p class=Pix>
<img src="images/UG_Restore_Database.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							float: none;
							width: 788px;
							height: 408px;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<ol start=2>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, select 
 a backup file from the list and click <span class=Button>Restore</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Files</span> and select the specific workspace backup 
 to restore, or select to back up and restore individual files. </p>

</li>
</ol>

<p class=Pix>
<img src="images/UG_Restore_Files.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							float: none;
							width: 765px;
							height: 434px;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Alternatively, you 
 can use the Alpha Anywhere Welcome screen Workspace &amp; Tasks tab to select a 
	workspace to restore. 
 </p>

</li>
</ol>

<p class=Pix>
<img src="images/UG_Restore_a_backup_up_database.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							width: 729px;
							height: 570px;
							float: none;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<p class=A5>See Also</p>



<p><a href="Backup Database.html" title="Backup Database" class="wiki">Backup 
Workspace</a>, <a href="/Desktop_Api/Database Functions/RESTORE_DATABASE Function.xml" title="RESTORE_DATABASE Function" class="wiki">
RESTORE_DATABASE(</a>)</p>



<p></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Restore+a+Database+Backup">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA: {"tags":"desktop,review","status":"accept","notes":"version 6, old images","keywords":"desktop,guide,adb","pagename":"Restore a Workspace Backup"} --->
</body></html>