	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Restore a Database Backup</p>



<p>In Alpha Anywhere Version 6 the <span class=Screen>Restore Database</span> 
 utility requires system dates in MM/DD/YY formats. In Alpha Anywhere Version 
 7 the <span class=Screen>Restore Database</span> utility also supports 
 with DD/MM/YY formats.</p>



<p>To restore a database:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Tools 
 > Backup/Restore Database > Restore Database</span>. </p>

</li>
</ol>

<p class=Pix><img src="images/UG_Restore_Database.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 505px;
							height: 393px;
							border-style: none;
							border-style: none;"
					width=505
					height=393
					border=0></p>



<ol start=2>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, select 
 a backup file from the list and click <span class=Button>Restore</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Files</span> and select the specific database backup 
 to restore, or select to back up and restore individual files. </p>

</li>
</ol>

<p class=Pix><img src="images/UG_Restore_Files.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 505px;
							height: 393px;
							border-style: none;
							border-style: none;"
					width=505
					height=393
					border=0></p>



<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Alternatively, you 
 can use the Alpha Anywhere Welcome screen to select a database to restore. 
 </p>

</li>
</ol>

<p class=Pix><img src="images/UG_Restore_a_backup_up_database.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 368px;
							height: 419px;
							float: none;
							border-style: none;
							border-style: none;"
					width=368
					height=419
					border=0></p>



<p class=A5>See Also</p>



<p><a href="Backup Database.html" title="Backup Database" class="wiki">Backup Database</a>, <a href="/Server/Reference/Design/Api/Functions/Database Functions/RESTORE_DATABASE Function.html" title="RESTORE_DATABASE Function" class="wiki">RESTORE_DATABASE(</a>)</p>



<p></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Restore+a+Database+Backup">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"version 6, old images","keywords":"desktop,guide,adb"}--->
</body></html>