	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Select Workspace Dialog</p>



<p>The <span class=Screen>Select Workspace</span> dialog appears when you 
 start Alpha Anywhere. Here you can select what you want to do, and quickly 
 get started. The <span class=Screen>Workspace &Tasks</span> tab allows 
 you to open or create a new workspace. </p>



<p class=Pix>
<img src="images/UG_Select_Database_2.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							float: none;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none; width: 722px;
							height: 594px;"
					border=0></p>



<p>When you have no workspace open, you can display this dialog by clicking 
 <span class=Button>Recent Workspaces</span> on the toolbar.</p>



<p>The entries at the top are typical menu commands for creating a new 
 workspace and opening existing workspaces.</p>



<ul>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The <span class=Control>Recent 
 	Workspaces</span> list shows an editable scrolling list of the last 30 
 	workspaces opened in Alpha Anywhere.&nbsp;as&nbsp;you work with Alpha Anywhere, 
 your recently used workspaces will appear in this dialog. Double-clicking 
 any entry under <span class=Control>Recent Workspaces</span> opens the 
 selected workspace.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Clicking <span class=Button>More 
 	Workspaces...</span> displays the <span class=Screen>Open Workspace</span> 
 dialog, where you can search your computer for an existing workspace.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Clicking <span class=Button>New 
 	Workspace...</span> displays the <span class=Screen>Create New Workspace</span> 
 dialog, where you can specify a folder, a workspace name, then create a 
 new workspace.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Clicking <span class=Button>New 
 	Workspace Using the Genie...</span> displays the <span class=Screen>New 
 	Workspace Genie</span> dialog, where you can select a workspace template, 
 specify a folder, then create a new workspace.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Clicking <span class=Button>Restore 
 a backed-up Workspace...</span> displays the 
	<a href="Restore a Database Backup.html" title="Restore a Database Backup" class="wiki">Restore 
	Workspace</a> dialog, where you can select 
 a workspace backup and restore it to its original folder.</p>

</li>
</ul>

<p>This picture shows the <span class=Screen>News & Updates</span> 
 tab. If you have an Internet connection, the <span class=Screen>News</span> 
 tab will notify you of new patch releases. You can download patches and 
 help files from this screen. </p>



<p class=Pix>
<img src="images/UG_A5_Startup_Menu_1.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							float: none;
							width: 714px;
							height: 586px;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<p class=PixCaption>The News Tab</p>



<p>You can hide the <span class=Screen>Alpha Anywhere</span> dialog by clearing 
 the <span class=Button>Show at startup?</span> check box.</p>



<p class=A5>See Also</p>



<p><a href="../../Data/FieldRules/Alpha Five Basics.html" title="Alpha Five Basics" class="wiki">Alpha Anywhere Basics</a></p>



	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Select+Database+Dialog">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA: {"tags":"desktop","status":"accept","keywords":"desktop,guide,adb","pagename":"Select Workspace Dialog"} --->
</body></html>