	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using the New Table/Set Genie</p>



<p>To open the <span class=Screen>New Table/Set Genie</span> :</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>From the <span class=Screen>Tables/Sets</span> 
 tab on the <span class=Screen>Control Panel</span>, click the <span class=Button>New</span> 
 button, and select <span class=Button>Create Using Genie</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select either the 
 <span class=Button>Table</span> or <span class=Button>Set</span> radio 
 button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select a template 
 to copy.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Preview</span> to display the 
	<a href="../../Data/DBF/Table Information Dialog Box.html" title="Table Information Dialog Box" class="wiki">Table Information</a> or 
	<a href="../../Data/Set/Set Information Dialog Box.html" title="Set Information Dialog Box" class="wiki">Set Information</a> dialog boxes, which will provide 
 detailed structure information.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, clear 
 the <span class=Button>Include sample Layouts</span> check box if you 
 want to copy only the table or set structure.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, check 
 <span class=Button>Include sample data</span> check box if you need sample 
 data to assist in your application development.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, clear 
 the <span class=Button>Create</span> check box if you would like the new 
 table or set to be placed in a different folder (than the template).</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter a new name 
 for the table or set in the <span class=Control>Table Name</span> field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If the <span class=Control>Folder 
 Name</span> field is visible, enter the folder location for the new table 
 or set.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Finish</span> 
 to conclude.</p>

</li>
</ol>

<p>Preview some Alpha Anywhere table templates, looking at the field definitions 
 and indexes.</p>



<p class=A5>Create Templates</p>



<p>You can also create your own table and set templates. Simply right-click 
 on any table or set that you want to make into a template and select the 
 <span class=Button>Utilities > Create Template</span> command. Alpha Anywhere will create a template for the current table or set. You have the 
 option of including the data from the current table in the template&nbsp;as&nbsp;sample 
 data. You also have the option of including <a href="../../Data/FieldRules/Overview of Field Rules.html" title="Overview of Field Rules" class="wiki">Field   Rules</a> from the current table or set in the template.</p>



<p class=A5>See Also</p>



<p><a href="../References/Xbasic/Xbasic Reference/Basic Concepts and Terminology.html#Table_and_Field_Names" title="Basic Concepts and Terminology" class="wiki">Table   and Field Names</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+the+New+Table+Set+Genie">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop, review","notes":"Alpha Five","keywords":"desktop,guide,adb"}--->
</body></html>