	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using an Index to Find a Record</p>



<p>The following script is provides a simple example of how to use an index 
 to determine whether a record exists, and to act accordingly. To start, 
 we create an index based on <span class=Code1>lastname</span> and <span 
 class=Code1>firstname</span> named "LF". The <span class=Control>Order 
 Expression</span> for the index is <span class=Code1>alltrim(lastname) 
 + "," + alltrim(firstname)</span>. </p>



<p class=Pix><img src="images/Index_Example.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 687px;
							height: 240px;
							float: none;
							border-style: none;
							border-style: none;"
					width=687
					height=240
					border=0></p>



<p>After opening the Customer table, the script uses <a href="/Server/Reference/Design/Api/Objects/Table/TBL.INDEX_PRIMARY_PUT Method.html" title="TBL.INDEX_PRIMARY_PUT Method" class="wiki">&lt;TBL&gt;.INDEX_PRIMARY_PUT(</a>) 
 to set "LF"&nbsp;as&nbsp;the current index.</p>



<p>The script then displays an Xdialog that asks for <span class=Code1>firstname</span>, 
 <span class=Code1>lastname</span>, and <span class=Code1>phone</span> 
 number. It composes a key based on <span class=Code1>firstname</span> 
 and <span class=Code1>lastname</span> and uses <a href="/Server/Reference/Design/Api/Objects/Table/TBL.FETCH_FIND Method.html" title="TBL.FETCH_FIND Method" class="wiki">&lt;TBL&gt;.FETCH_FIND(</a>) 
 to find the first matching record.</p>



<p>If that record does not exist,&nbsp;as&nbsp;indicated by a negative 
 <span class=Code1>recnum</span>, the script uses <a href="/Server/Reference/Design/Api/Objects/Table/TBL.ENTER_BEGIN Method.html" title="TBL.ENTER_BEGIN Method" class="wiki">&lt;TBL&gt;.ENTER_BEGIN(</a>) 
 to add a new record. If the record does exist, the script uses <a href="/Server/Reference/Design/Api/Objects/Table/TBL.FETCH_GOTO Method.html" title="TBL.FETCH_GOTO Method" class="wiki">&lt;TBL&gt;.FETCH_GOTO(</a>) 
 to move to and then <a href="/Server/Reference/Design/Api/Objects/Table/TBL.CHANGE_BEGIN Method.html" title="TBL.CHANGE_BEGIN Method" class="wiki">&lt;TBL&gt;.CHANGE_BEGIN(</a>) 
 to modify the <span class=Code1>phone</span> number field in the record.</p>



<p class=A5>Examples</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim tbl&nbsp;as&nbsp;P</p>


<p class=Code>dim shared fname&nbsp;as&nbsp;C</p>


<p class=Code>dim shared lname&nbsp;as&nbsp;C</p>


<p class=Code>dim shared phone&nbsp;as&nbsp;C</p>


<p class=Code>dim shared varC_result&nbsp;as&nbsp;C</p>


<p class=Code>dim shared recnum&nbsp;as&nbsp;N</p>


<p class=Code>dim thiskey&nbsp;as&nbsp;C</p>


<p class=Code>' open the Customer table</p>


<p class=Code>tbl = table.open("customer",file_rw_exclusive)</p>


<p class=Code>' select LF&nbsp;as&nbsp;the current index</p>


<p class=Code>tbl.index_primary_put("LF")</p>


<p class=Code>ok_button_label = "&OK"</p>


<p class=Code>cancel_button_label = "&Cancel"</p>


<p class=Code>' ask for user input</p>


<p class=Code>varC_result = ui_dlg_box("Enter Name",<<%dlg%</p>


<p class=Code>{region}</p>


<p class=Code>First name:| [.40fname];</p>


<p class=Code>Last name:| [.40lname];</p>


<p class=Code>Phone number:| [.40phone];</p>


<p class=Code>{endregion};</p>


<p class=Code>{line=1,0};</p>


<p class=Code>{region}</p>


<p class=Code><*15=ok_button_label!OK> <15=cancel_button_label!CANCEL></p>


<p class=Code>{endregion};</p>


<p class=Code>%dlg%, <<%code%</p>


<p class=Code>' respond to the OK button</p>


<p class=Code>if (a_dlg_button = "OK") then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;thiskey = alltrim(lname) + "," 
 + alltrim(fname)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;recnum = tbl.fetch_find(thiskey)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;if (recnum > 0) then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;' the record exists</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl.fetch_goto(recnum)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl.change_begin()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl.phone 
 = phone</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl.change_end(.t.)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;else</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;' the record does not exist</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl.enter_begin()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl.firstname 
 = fname</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl.lastname 
 = lname</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl.phone 
 = phone</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl.enter_end(.t.)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;end if</p>


<p class=Code>end if</p>


<p class=Code>%code%)</p>


<p class=Code>tbl.close()</td></tr>
</table>

<p class=A5>See Also</p>



<p><a href="/Server/Reference/Design/Api/Functions/Table Functions/Table Functions and Methods.html" title="Table Functions and Methods" class="wiki">Table Functions and   Methods</a></p>


	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+an+Index+to+Find+a+Record">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,adb"}--->
</body></html>