	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using the Shortcut Genie</p>



<p>The <span class=Screen>Create Shortcut Genie</span> creates a shortcut 
 to load Alpha Five and start a particular database. You can place the 
 shortcut on the Start menu, in a particular group, or on the desktop. 
 The <span class=Screen>Create Shortcut Genie</span> lets you specify your 
 own splash screen, title, and icon for the Alpha Five program window, 
 and also to specify special flags, such&nbsp;as&nbsp;whether the Alpha 
 Five window should be opened minimized or maximized and whether the user 
 should be able to resize the main Alpha Five window.</p>



<p>To open the <span class=Screen>Create Shortcut Genie</span>, select 
 <span class=Button>Tools > Create Shortcut</span>. </p>



<p class=Pix><img src="images/Create_Shortcut_Genie.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 540px;
							height: 451px;
							border-style: none;
							border-style: none;"
					width=540
					height=451
					border=0></p>



<p>To create a shortcut:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter a name into 
 the <span class=Control>Shortcut name</span> field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Make a selection 
 for the location of the shortcut. The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>None (the entry may 
 still be in the Start Menu)</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>On desktop</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>In specified folder</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "In 
 specified folder" in step 2, click <img src="images/List_Button_Blue_Down.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 22px;
														height: 22px;
														float: none;
														border-style: none;
														border-style: none;"
												width=22
												height=22
												border=0> to navigate to 
 and select the destination folder.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Make a selection 
 for the location of the <span class=Control>Start Menu</span> entry. The 
 options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>None</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>On main Start menu</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>In Start menu Program 
 group</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "In 
 Start menu Program group" in step 4, enter the name of the program 
 group or click <img src="images/List_Button_Blue_Down.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 22px;
							height: 22px;
							float: none;
							border-style: none;
							border-style: none;"
					width=22
					height=22
					border=0> to select one from the list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the shortcut's owner to <span class=Button>Current User</span>. This option 
 is available for Windows NT/2000/XP users only.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Appearance</span> tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Use custom title</span> and specify the title of the 
 main Alpha Five window.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the Alpha Five splash screen. The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>No splash screen</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Custom bitmap</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Custom 
 bitmap" in step 9, click <img src="images/Folder_button.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 22px;
											height: 22px;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=22
									border=0> to navigate to and select 
 a bitmap.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the Alpha Five icon. The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>No splash screen</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Custom icon</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Custom 
 icon" in step 11, click <img src="images/Folder_button.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 22px;
											height: 22px;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=22
									border=0> to navigate to and select&nbsp;as&nbsp;icon.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Window</span> tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the size of the main Alpha Five window. The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Default - previous 
 size of main Alpha Five window</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Maximized</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Minimized</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you want to restrict 
 the user's ability to manipulate the size of the main Alpha Five window, 
 check <span class=Button>Disable ability to minimize or maximize</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you want to restrict 
 the user's ability to close the main Alpha Five window, check <span class=Button>Open 
 Alpha Five without a system menu</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Advanced</span> tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter any Xbasic 
 commands that should be executed when Alpha Five is started from the shortcut. 
 This code executes <span class=Bolded>after</span> the autoexec script, 
 if you have one.</p>

</li>
</ol>

<p>To display an initial or startup form, refer to <a href="../Form/Creating and Assigning a Startup Form.html" title="Creating and Assigning a Startup Form" class="wiki">Creating   and Assigning a Startup Form</a>.</p>



<p class=A5>See Also</p>



<p><a href="/Server/Reference/Design/Platform/Xbasic/Command Statements.html" title="Command Statements" class="wiki">Command Statements</a>, The 
 Autoexec Global Script</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+the+Shortcut+Genie">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop, review","notes":"A5","keywords":"desktop,guide,adb,genie"}--->
</body></html>