	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Zip Tables, Sets, and Workspaces</p>
	<p class=A3Topic>&nbsp;</p>



<p>You can zip tables, sets, and entire workspaces from within Alpha Anywhere.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>
	Tools &gt; Zip Workspace</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the name or folder location of the zip file to create.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, check 
 <span class=Control>Compact Workspace before zipping</span>. This potentially 
 reduces the size of the zip file.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, check 
 <span class=Control>Include absolute path names in zip file</span>. This 
 causes the files to be upzipped to the same location they came from and 
 may be a problem if unzipped on a different computer.</p>

</li>
</ol>

<p>By default Alpha Anywhere includes all related files (i.e., indexes, dictionaries, 
 and Help files) in the zip file. For example, when you zip a set, Alpha 
 Five automatically includes all of the tables that comprise the set. However, 
 you can select files to include and exclude.</p>



<ol start=5>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, sort 
 the files in the list box by <span class=Control>Extension</span>, <span 
 class=Control>Name</span>, or <span class=Control>Natural</span> (the 
 order in which the files appear in the workspace).</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, check 
 <span class=Control>Hide support files</span>. Alpha Anywhere will show the 
 .dbf file, but hide the corresponding .fpt, .cdx, .ddd, .ddm and .ddx 
 files.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 the <span class=Control>&nbsp;</span><span class=Button>Mark Files</span> 
 and <span class=Button>Un-mark Files</span> buttons mark or un-mark all 
 files.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Save Settings</span> to save the operation with a name.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Load Settings</span> to load a previously saved zip 
 operation.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Zip 
 Files</span> to create the zip file. </p>

</li>
</ol>

<p class=Pix><img src="images/UG_Zip_Database.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 516px;
							height: 543px;
							border-style: none;
							border-style: none;"
					width=516
					height=543
					border=0></p>



<p class=A5>See Also</p>



<p><a href="/Server/Reference/Design/Api/Functions/File Functions/ZIP_FILES Function.html" title="ZIP_FILES Function" class="wiki">ZIP_FILES(</a>), <a href="../../Data/Set/Run a Custom Backup Job.html" title="Run a Custom Backup Job" class="wiki">Run   a Custom Backup Job</a></p>



<p><span class=Control></span></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Zip+Tables%2C+Sets%2C+and+Databases">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Alpha Five","keywords":"desktop,adb"}--->
</body></html>