	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="HtmlHost_Example_4:_Creating_htmlhost_with_Horizontal_and_Vertical_Sizers">Creating 
			a htmlhost with Horizontal and Vertical Sizers</h1>
	<p class="showhide_heading">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">This example demonstrates a horizontal &amp; a 
				vertical slider an htmlhost region.</font> <font size="2">
				Htmlhost is an xdialog construct that allows you to wrap Html 
				style text within an xdialog control. While you can also place 
				html inside an xdialog wrapper, htmlhost gives you much further 
				ability to interact with the Xdialog; allowing you to embed 
				additional xdialog within the html style text within an xdialog 
				wrapper. So for example, if you have an xdialog listbox that you 
				wanted to put inside a &lt;div&gt;, htmlhost would allow you to do 
				this. If you wanted to lay out an Xdialog the same way you would 
				a table in Html, htmlhost will allow you to do this as well. In 
				using htmlhost the HTML styling runs in background and the 
				controls pop up in the foreground. </font></p>
				<p>&nbsp;</p>
				<p><font size="2">To run the following htmlhost example in Alpha 
				Anywhere, first go to the code editor. You can find this by 
				going to the desktop <font color="#0000FF">Control Panel</font>, 
				clicking <font color="#0000FF"><u>V</u>iew</font> and then 
				choosing <font color="#0000FF">Code Editor</font> from the 
				dropdown. <font color="#0000FF">Copy</font> and
				<font color="#0000FF">Paste</font> the following htmlhost 
				example into the code editor and hit the <font color="#0000FF">
				Run</font> button (the lightning bolt icon) in the top right 
				hand corner of the screen. You should get the same result as the 
				TWOSIZERS dialog box shown at the bottom of the screen.</font></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p>
<br />
	</p>
<div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox" >dim html as c = &lt;&lt;%html%
&lt;html&gt;
&lt;head&gt;
&lt;style&gt;
&lt;!--
.vsizer {
background-color:ThreeDHighlight;
behavior:clickable;
cursor:n-resize;
height:4px;
}
.hsizer {
background-color:ThreeDHighlight;
behavior:clickable;
cursor:w-resize;
width:4px;
height:100%%;
}
--&gt;
&lt;/style&gt;
&lt;/head&gt;
&lt;body id="body"&gt;
&lt;div style="height:100%%;flow:horizontal;"&gt;
&lt;div id="top" style="width:100%%;min-height:1in;height:100%%;background-color:green;"  &gt;Left&lt;/div&gt;
&lt;div class="hsizer" a5:target="hsizer" id="hsizer" 
    a5:target_elem="right" a5:target_adjust="-" &gt;&lt;/div&gt;
&lt;div id="right" style="width:1in;height:100%%;background-color:blue; " &gt;Right&lt;/div&gt;
&lt;/div&gt;
&lt;div class="vsizer" style="width:100%;" a5:target="vsizer" id="fobar"  
    a5:target_elem="bottom" a5:target_adjust="-" &gt;&lt;/div&gt;
&lt;div id="bottom" style="width:100%;height:1in;background-color:red;"&gt;Bottom&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
%html%
 
ui_dlg_box("TWOSIZERS",&lt;&lt;%dlg%
{size=width=5in;height=5in}
{stretch=width,height}
{htmlhost=html};
%dlg%)</pre></div><br />
<br />
	<img border="0" src="images/xdialog_htmlhost_ex42.png" width="534" height="535"><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:HtmlHost+Example+4%3A+Creating+htmlhost+with+Horizontal+and+Vertical+Sizers">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"example could use explanation, lose the \"previous example\" in text without actual link","keywords":"guide,html"}--->
</body></html>