	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<h1>Select Image Dialog Box</h2>



	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
				<p><br>
				<font size="2">&nbsp;</font> </p>
			</blockquote>
			<p>&nbsp;</p>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p><b>Add an image to a project:</b></p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add 
 Image to Project</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the resulting 
 <span class=Screen>Add Image to Project</span> dialog box:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/Move_Down_Button2.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			float: none;
			border-style: none;
			width: 22px;
			height: 22px;"
	width=22
	height=22
	border=0> to navigate to and select an image file in the <span class=Control>Source 
 filename</span> field.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, modify 
 the <span class=Control>Target filename</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>OK</span>.</p>

</li>
	</ol>
</ol>

<p>To place an image on a HTML page:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>HTML 
 Editor</span> select <span class=Screen>Insert > Image</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, select 
 an image from the list of images in the project.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Select Image Outside Project</span>.</p>

</li>
	
	<ol start=1>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, make 
 a selection from the <span class=Control>Files of type</span> list. The 
 options are:</p>

</li>
		
		<ul style="list-style: disc;"
			type=disc>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"BMP - Windows 
 Bitmap (*.bmp)"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"GIF - CompuServe 
 GIF (*.gif)"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"JPEG/JPG 
 - JPEG Images (*.jpeg;*.jpg)"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"PNG - Portable 
 Network Graphics (*.png)"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"All Files 
 (*.*)"</p>

</li>
		</ul>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Navigate to, select 
 the image, and click <span class=Button>Open</span>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the display size of the image.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Get 
 Image Size</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Set the <span class=Control>Height</span> 
 image size and units.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Set the <span class=Control>Width</span> 
 image size and units.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to insert the image.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="../References/Web/Web Publishing/Using the HTML Editor.html" title="Using the HTML Editor" class="wiki">Using the HTML Editor</a></p>




<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Select+Image+Dialog+Box">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web","keywords":"server,html"}--->
</body></html>