	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Setting Focus to a Control on a Dialog</p>

<p>It is a common requirement, after opening a dialog box, to set focus to a specific control. You can add Javascript to your A5W page to move the focus to any of its controls.</p>

<ol> <li class=kadov-p-CListNumber><p class=ListNumber>Create the dialog component.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>While in the <span class=Screen>Dialog Builder</span> switch to the <span class=Screen>HTML</span> tab. You will see code that looks something like this:</p>

</li> </ol>  <table class="htmlTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=HTML1>&lt/head></span></p>

<p class=Code><span class=HTML1>&ltBODYclass="ArizonaModifiedPageBODY" ></span></p>

<p class=Code><span class=HTML1>&ltform name="Set_Field_Focus" style="margin: 0px;"method="POST" action=""></span></p>

<p class=Code><span class=HTML1>...</span></p>

<p class=Code><span class=HTML1>&lttr></span></p>

<p class=Code><span class=HTML1><span class=HTML1>&nbsp;&nbsp;&nbsp;&nbsp; <span class=HTML1>&lttd class="ArizonaModifiedColumnTD">&ltlabel for="TELEPHONE" >Telephone&lt/label>&lt/td></span></span> </span></p>

<p class=Code><span class=HTML1><span class=HTML1><span class=HTML1><span class=HTML1>&nbsp;&nbsp;&nbsp;&nbsp; <span class=HTML1>&lttd class="ArizonaModifiedDataTD">&ltinput id="TELEPHONE" size="20" maxlength="20"class="ArizonaModifiedInput" type="TEXT" name="TELEPHONE" value="" >&lt/td></span></span> </span></span></span></p>

<p class=Code><span class=HTML1><span class=HTML1><span class=HTML1><span class=HTML1><span class=HTML1>&lt/tr></span></span> </span></span></span></td></tr> </table> <ol start=3> <li class=kadov-p-CListNumber><p class=ListNumber>The name of the form follows the <span class=HTML1>name=</span> parameter of the <span class=HTML1>&ltform></span> tag. In this case the form's name is "Set_Field_Focus". The name of the field (that is to receive focus) follows the <span class=HTML1>name=</span> parameter of the <span class=HTML1>&ltinput></span> tag. In this case the field's name is "TELEPHONE".</p>

</li> </ol><p class=Note><img src="images/icon_warning.gif" x-maintain-ratio=TRUE style="border: none; width: 37px; height: 33px; float: none; border-style: none; border-style: none;" width=37 height=33 border=0> <span class=Note>Note</span> : Names are case sensitive.</p>

<ol start=4> <li class=kadov-p-CListNumber><p class=ListNumber>Save the dialog component and place it on an A5W page.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Open the new page in the <span class=Screen>HTML Editor</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Switch to the <span class=Screen>Source</span> tab.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Modify the <span class=HTML1>&ltbody></span> tag to include something like:</p>

</li> </ol>  <table class="htmlTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=HTML1>&ltbody on<x>load="document.form.field.focus();"></span></td> </tr> </table><p>Change "form" to the name of your form (in this case "Set_Field_Focus"). Change "field" to the name of the field that is to receive focus (in this case "TELEPHONE").</p>

<p class=A5>See Also</p>

<p><a href="/Index/Contents - Web Publishing Tutorial.html" title="Contents - Web Publishing Tutorial" class="wiki">Contents</a></p>

	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Setting+Focus+to+a+Control+on+a+Dialog">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web","keywords":"server,guide,component,html,a5w"}--->
</body></html>