	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Starting the HTML Editor</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><span id="description0"><font size="2">You can prepare HTML 
				pages with any ASCII editor. You simply need access to the 
				underlying HTML code. However, most developers will find the 
				embedded HTML Editor a very convenient tool. It has a WYSIWYG 
				(What you see is what you get) of the page, source code views of the page, and a rich set of editing 
				tools. However, the most useful feature of the editor is the 
				ability to view the page in your default browser with a single 
				key click. There are many ways to access the HTML editor in 
				Alpha Anywhere. For example, there are links to it within the 
				Grid Builder that let you shape the HTML used by different 
				elements inside a grid. Below are two quick ways of accessing 
				the HTML Editor. </font></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/htmleditor.png" width="722" height="325"></p>
	<p align="center">
	<img border="0" src="images/htmlsource.png" width="738" height="482"></p>
	<p>&nbsp;</p>

<p><b>Start the HTML Editor in Alpha Anywhere: </b></p>
	<p>&nbsp;</p>
	<p>&nbsp;&nbsp;&nbsp; 1.&nbsp;&nbsp;&nbsp; Select 
<font color="#0000FF">View > HTML Editor</font>.</p>

<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><b>HTML Editor from the Web Projects Control Panel :</b></p>

<ol start=1> <li class=kadov-p-CListNumber><p class=ListNumber>Click<font color="#0000FF">
	A5W</font> Pages or <font color="#0000FF">HTML</font> Pages in the left pane, so you can see your pages.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Double click an 
	<font color="#0000FF">HTML</font> or <font color="#0000FF">A5W</font> file in the resulting list.</p>

</li> </ol><p>&nbsp;</p>
	<p>&nbsp;&nbsp;&nbsp; Optionally, open an existing <font color="#0000FF">HTML</font> or 
	<font color="#0000FF">A5W</font> page in the <font color="#0000FF">Web Projects Control Panel</font> and click the 
	<font color="#0000FF">Edit</font> button 
	in the Web Projects Control Panel toolbar.</p>
	<p align="center">
	<img border="0" src="images/edit.png" width="79" height="26"></p>
	<p align="left">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p>



<span id="description2">

				<font size="2">The HTML editor also comes equipped with a 
				Bookmark Tool
				<img border="0" src="images/Bookmark.png" width="21" height="19">at 
				the bottom of the Screen. This feature lets you add new 
				bookmarks to your html as well as the Bookmark Tool. By clicking 
				on the bookmarks skip to wherever they happen to appear in your 
				html page.</font></span></p>
				<p>&nbsp;</p>
				<p><font size="2">The Interactive Window tab lets you type in 
				commands and get back results. This window also accepts shell commands 
				that were once only used through a 
				command line window. However, the Interactive window in Alpha 
				Anywhere now lets you access them directly. For example, if you 
				type a $ sign into the Interactive window you will be presented 
				with a list of all of the shell commands that Alpha Anywhere 
				recognizes. In addition to this. the Interactive window also 
				recognizes curl commands. For more on this topic see the 'Using 
				Shell Commands from the Interactive Window' page. </font></p>
				<p>&nbsp;</p>
				<p><span id="description1"><font size="2">Live Preview lets you 
				see how your HTML appears on the default server connected to 
				Alpha Anywhere. If you do not see anything in Live Preview and 
				have an additional program running you might receive an error 
				message stating that the development server can not open or is 
				already in use. If you encounter this problem one way around it 
				is to change&nbsp; the port being used by the server. To do this 
				go to the <font color="#0000FF">Web Projects Control Panel</font> 
				and click the <font color="#0000FF">We<u>b</u></font> button at 
				the top of the screen. Choose the <font color="#0000FF">
				Development Server</font> option with the globe icon next to it. 
				This will load the <font color="#0000FF">Development Server 
				Settings</font> page. Under the tab marked <font color="#0000FF">
				General </font>there is a <font color="#0000FF">Server Port</font> 
				Control. Change the number here and you should be good to go. 
				Once you publish your html page you should also be able to open 
				it in other browsers as well. This is provided that you have set 
				your security settings for that page to 'always allow'; 
				otherwise the browser will not be able to see the page.&nbsp;&nbsp;
				</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Starting+the+HTML+Editor">-->


	<div class="wikitopline" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"accept","tags":"web,review","keywords":"server,guide,html","notes":"Alpha Five"}--->
</body></html>