	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Customizing Browses</p>



<p>Browses and forms are layouts you use to enter, edit, and view data. 
 You can customize browses and forms to make data entry easier, to improve 
 readability, and create calculated fields.</p>



<p>In this lesson, you learn how to design and use custom browses. You 
 will learn how to create and use forms in the next lesson.</p>



<p class=A5>Contents</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Customizing Browses.html#Alpha_Five_Layouts" title="Customizing Browses" class="wiki">Alpha   Five Layouts</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Customizing Browses.html#Working_with_Browses" title="Customizing Browses" class="wiki">Working   with Browses</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Customizing Browses.html#Creating_a_New_Browse" title="Customizing Browses" class="wiki">Creating   a New Browse</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Customizing Browses.html#Modifying_a_Browse" title="Customizing Browses" class="wiki">Modifying   a Browse</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Customizing Browses.html#Creating_a_Calculated_Field" title="Customizing Browses" class="wiki">Creating   a Calculated Field</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Customizing Browses.html#Using_the_Drag_and_Drop_List_Window" title="Customizing Browses" class="wiki">Using   the Drag and Drop List Window</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Customizing Browses.html#Summary" title="Customizing Browses" class="wiki">Summary</a></p>

</li>
</ul>

<p class=A5><a name=Alpha_Five_Layouts>Alpha Anywhere Layouts</a></p>



<p>Layouts are the primary means by which you enter, view, and output data 
 in Alpha Anywhere. Alpha Anywhere has five types of layouts: Forms, Browses, Reports, 
 Letters, and Labels. In this tutorial lesson, you work with browses.</p>



<p>Each type of layout has its own Design Editor that you access in Design 
 Mode. In <span class=Screen>Design Mode</span>, you create and arrange 
 the layout contents. Design Mode lets you construct layouts to display 
 database information. You switch from Design Mode to View Mode. View Mode lets you view and work 
 with the database information, using the layouts you created in Design 
 Mode.</p>



<p class=A5>Creating Layouts</p>



<p>When creating a new layout, you can copy the design of an existing layout, 
 create one from scratch, or edit the <span class=Screen>Default Browse</span> 
 or <span class=Screen>Default Form</span>. Use the following general procedure 
 for creating new layouts.</p>



<p>To create a new layout:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Control 
 Panel</span>, click the <span class=Button>Forms</span> or <span class=Button>Browses</span> 
 tab, corresponding to the type of layout you want to create.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>New</span> 
 button in the <span class=Screen>Control Panel</span>. Alpha Anywhere opens 
 a Genie to guide you through creating the new layout.</p>

</li>
</ol>

<p>To copy an existing layout:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Control 
 Panel</span>, right-click the layout you want to copy.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>From the right-click 
 menu, select <span class=Button>Duplicate</span>. Alpha Anywhere prompts you 
 to name the new copy.</p>

</li>
	
	<li value=3
		class=kadov-p-CListNumber><p class=ListNumber>Give the layout a 
 name, and click <span class=Button>OK</span> to save.</p>

</li>
</ol>

<p class=A5>Switching between Design Mode and View Mode</p>



<p>To switch to Design Mode:</p>



<p>While working in a layout, click the <img src="images/Design_Mode_button.gif"
											x-maintain-ratio=TRUE
											style="margin-top: 0px;
													margin-bottom: 0px;
													margin-left: 0px;
													margin-right: 0px;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0> <span class=Button>Design 
 Mode</span> button on the toolbar.</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>In the <span class=Screen>Control 
 Panel</span>, select the layout, and click the <img src="images/Design_Mode_button.gif"
													x-maintain-ratio=TRUE
													style="float: none;
															border-style: none;
															width: 22px;
															height: 22px;
															border-style: none;"
													width=22
													height=22
													border=0> button .</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>In the <span class=Screen>Control 
 Panel</span>, right-click the layout, and select <span class=Button>Design</span> 
 from the right-click menu.</p>

</li>
</ul>

<p>To switch from Design Mode to View Mode:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>While in the <span class=Screen>Form 
 Designer</span>, click the <img src="images/Form_View_Button.gif"
								x-maintain-ratio=TRUE
								style="width: 22px;
										height: 22px;
										float: none;
										border-style: none;
										border-style: none;"
								width=22
								height=22
								border=0> <span class=Button>Form View</span> 
 button.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>While in the <span class=Screen>Browse 
 Designer</span>, click the <img src="images/Browse_View_button.gif"
								x-maintain-ratio=TRUE
								style="margin-top: 0px;
										margin-bottom: 0px;
										margin-left: 0px;
										margin-right: 0px;
										width: 22px;
										height: 22px;
										float: none;
										border-style: none;
										border-style: none;"
								width=22
								height=22
								border=0> <span class=Button>Browse View</span> 
 button.</p>

</li>
</ul>

<p>In the following procedures, you look at the Browses in AlphaSports, 
 and create a custom browse for AlphaMovies.</p>



<p class=A5><a name=Working_with_Browses>Working with Browses</a></p>



<p>A browse displays table and set data&nbsp;as&nbsp;a single table. You 
 can view this tabular display using the <span class=Screen>Default Browse</span> 
 or a custom browse that you define. While viewing a browse, you can modify 
 resize and move columns. However, appearance modifications remain only&nbsp;as&nbsp;long&nbsp;as&nbsp;the 
 browse window is open; once you close the browse window, Alpha Anywhere restores 
 the default settings.</p>



<p>However, you can create and save custom browses in which you rearrange, 
 and reformat columns. A custom browse retains its saved settings when 
 re-displayed.</p>



<p class=A5>Looking at AlphaSports Browses</p>



<p>AlphaSports has four saved browses. Use the following procedure to view 
 the records in each browse.</p>



<p>To view an AlphaSports custom browse:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the AlphaSports 
 database.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Control 
 Panel</span> display the <span class=Screen>Browses</span> tab.</p>

</li>
	
	<li value=3
		class=kadov-p-CListNumber><p class=ListNumber>Double-click a browse 
 to view the records.</p>

</li>
</ol>

<p>Compare the <span class=Code1>Customer</span> table <span class=Screen>Default 
 Browse</span> to the <span class=Screen>CustomerBrowse</span>. You see 
 that the <span class=Screen>CustomerBrowse</span> presents a subset of 
 the table data, useful for quick access to customer contact information.</p>



<p>In the following procedure, you create a browse with some special features 
 for AlphaMovies.</p>



<p class=A5><a name=Creating_a_New_Browse>Creating a New Browse</a></p>



<p>When creating a new browse, you can either copy the design of an existing 
 Browse or create one from scratch. In the following procedure, you use 
 the <span class=Screen>New Browse Genie</span> to create a browse for 
 <span class=Bolded>AlphaMovies</span>.</p>



<p class=Note><img src="images/icon_warning.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 37px;
							height: 33px;
							float: none;
							border-style: none;
							border-style: none;"
					width=37
					height=33
					border=0> <span class=Note>Note</span> : You should 
 have already created the <span class=Bolded>AlphaMovies</span> database 
 in the <a href="../../../../Guide/Design/View/Database/Creating a Database.html" title="Creating a Database" class="wiki">Creating a Database</a> lesson.</p>



<p>To create a new browse:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the AlphaMovies 
 <span class=Screen>Control Panel</span>.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Browses</span> 
 tab, and click the <span class=Button>New</span> button. The <span class=Screen>New 
 Browse</span> window appears. </p>

</li>
</ol>

<p class=Pix><img src="images/browseNew.gif"
					style="width: 492px;
							height: 321px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=492
					height=321
					border=0></p>



<ol start=3>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the "Inventory" 
 table, and click <span class=Button>Next</span>. The <span class=Screen>New 
 Browse</span> window displays the fields in the selected table. </p>

</li>
</ol>

<p class=Pix><img src="images/New_Browse_Commented.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 492px;
							height: 321px;
							border-style: none;
							border-style: none;"
					width=492
					height=321
					border=0></p>



<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>From the <span class=Control>Available 
 Fields</span> pane, you select fields to include in the new browse. You 
 can select the fields one at a time, or all at once, using the navigation 
 buttons located between the windows.</p>

</li>
</ol>


<div align=center>
<table style="float: aligncenter;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr>
<td class="TableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Button</td>
<td class="TableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Action</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_Right_Button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Add a single field to <span class=Control>Fields in 
 Browse</span>.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_Last_Button_2.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Add all fields to <span class=Control>Fields in Browse</span>.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_Left_Button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Remove a single field from <span class=Control>Fields 
 in Browse</span>.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_First_Button_3.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Remove all fields from <span class=Control>Fields in 
 Browse</span>.</td></tr>
</table>
</div>
<ol start=5>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the following 
 Available Fields: "Tape_ID", "Title", "Availability", 
 and "Sales_Price".&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/New_Browse_Fields_Commented.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 492px;
							height: 321px;
							border-style: none;
							border-style: none;"
					width=492
					height=321
					border=0></p>



<ol start=6>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Use the arrows in 
 the right-hand column to reposition the fields, and set the browse field 
 order.</p>

</li>
</ol>


<div align=center>
<table style="float: aligncenter;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">

<tr>
<td class="TableHeader" style="x-cell-content-align: top;
			border-bottom-width: 1px;
			border-bottom-style: Solid;
			border-right-width: 1px;
			border-right-style: Solid;
			border-left-width: 1px;
			border-left-style: Solid;
			border-top-width: 1px;
			border-top-style: Solid;" valign="top">
<p class=TableHead>Arrow</td>
<td class="TableHeader" style="x-cell-content-align: top;
			border-bottom-width: 1px;
			border-bottom-style: Solid;
			border-top-width: 1px;
			border-top-style: Solid;
			border-right-width: 1px;
			border-right-style: Solid;" valign="top">
<p class=TableHead>Action</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;
			border-bottom-width: 1px;
			border-bottom-style: Solid;
			border-right-width: 1px;
			border-right-style: Solid;
			border-left-width: 1px;
			border-left-style: Solid;" valign="top">
<p class=TableCenter><img src="images/Move_First_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move selected field to the top of <span class=Control>Fields 
 in Browse</span>.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;
			border-bottom-width: 1px;
			border-bottom-style: Solid;
			border-right-width: 1px;
			border-right-style: Solid;
			border-left-width: 1px;
			border-left-style: Solid;" valign="top">
<p class=TableCenter><img src="images/Move_Up_Button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move selected field up one position in <span class=Control>Fields 
 in Browse</span>.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			border-right-width: 1px;
			border-right-style: Solid;
			border-left-width: 1px;
			border-left-style: Solid;
			border-bottom-width: 1px;
			border-bottom-style: Solid;" valign="top">
<p class=TableCenter><img src="images/Move_Down_Button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move selected field down one position in <span class=Control>Fields 
 in Browse</span>.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;
			border-right-width: 1px;
			border-right-style: Solid;
			border-left-width: 1px;
			border-left-style: Solid;
			border-bottom-width: 1px;
			border-bottom-style: Solid;" valign="top">
<p class=TableCenter><img src="images/Move_Last_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move selected field to the bottom of <span class=Control>Fields 
 in Browse</span>.</td></tr>
</table>
</div>
<ol start=7>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next</span>. 
 The <span class=Screen>New Browse</span> dialog box appears from which 
 you can select to apply a stylesheet to the browse. </p>

</li>
</ol>

<p class=Pix><img src="images/browseNew4.gif"
					style="width: 493px;
							height: 322px;
							border-style: none;
							border-style: none;"
					width=493
					height=322
					border=0></p>



<ol start=8>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Preview some of the 
 stylesheet choices by selecting them in the <span class=Control>Stylesheet</span> 
 list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Keep the Alpha Anywhere 
 default stylesheet, and click <span class=Button>Next</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the next dialog 
 box, you may view the Xbasic code for the browse by clicking <span class=Button>Show 
 Xbasic</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Finish</span>. 
 The <span class=Screen>Browse Editor</span> displays the selected field 
 objects.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/browseNew7.gif"
					style="width: 467px;
							height: 277px;
							border-style: none;
							border-style: none;"
					width=467
					height=277
					border=0></p>



<ol start=12>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <img src="images/Save_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> button on the toolbar. The <span class=Screen>Save Browse 
 Layout&nbsp;as&nbsp;Dialog</span> box appears.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the name "StockInfo" 
 and click <span class=Button>OK</span>. Alpha Anywhere saves the <span class=Screen>StockInfo 
 Browse</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Close the <span class=Screen>Browse 
 Editor</span> and open the AlphaMovies <span class=Screen>Control Panel</span>. 
 The <span class=Screen>StockInfo Browse</span> appears on the <span class=Screen>Browses</span> 
 tab. </p>

</li>
</ol>

<li value=12
	class=kadov-p-CPix>
<p class=Pix><img src="images/browseNew9.gif"
					style="width: 462px;
							height: 327px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=462
					height=327
					border=0></p>



In the next procedure, you modify the <span class=Screen>StockInfo Browse</span>. 
 
</li>

<p class=A5><a name=Modifying_a_Browse>Modifying a Browse</a></p>



<p>You can modify custom browses by adding and removing fields, reformatting 
 columns, and creating custom column headings. When Alpha Anywhere displays 
 a browse in Design Mode, the following <span class=Screen>Browse Design 
 Toolbar</span> appears.</p>



<p class=Pix><img src="images/Browse_Design_Toolbar.GIF"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 519px;
							height: 28px;
							border-style: none;
							border-style: none;"
					width=519
					height=28
					border=0></p>




<div align=center>
<table style="float: aligncenter;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr>
<td class="TableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHeadCenter>Button</td>
<td class="TableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Action</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Browse_View_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display table records in Browse view.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/New_Query_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Create a new Browse.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Folder_button.gif"
							bordable
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Open an existing Browse.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Save_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Save the Browse layout.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Print_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Print Browse data.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Preview_Form_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Preview Browse data.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Print_Properties_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Define print settings; for example, printer, # of copies, 
 and page orientation.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Delete_button.gif"
							bordable
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Delete the selected column.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Properties_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Define column or Browse properties, such&nbsp;as&nbsp;setting 
 the filter and order expression.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Event_button.gif"
							bordable
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Define Browse or object events.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Drag_and_Drop_List_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display <span class=Screen>DragDrop List</span> window 
 for inserting additional objects on the Browse.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Toggle_text_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Toggle <span class=Screen>Text Toolbar</span> on and 
 off.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Toggle_border_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Toggle <span class=Screen>Border Toolbar</span> on and 
 off</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Toggle_copy_format_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Toggle <span class=Screen>Copy Format Toolbar</span> 
 on and off</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Calc_Fields_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Create or modify calculated fields</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Variables_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Create or modify variables.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Control_Panel_button.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display the <span class=Screen>Control Panel</span>.</td></tr>
</table>
</div>
<p>In the next procedure, you modify the appearance of <span class=Screen>StockInfo</span>. 
 To modify a Browse:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Screen>StockInfo</span> browse in the <span class=Screen>Control 
 Panel</span>, and click the <span class=Button>Design</span> button. The 
 <span class=Screen>Browse Editor</span> appears,&nbsp;as&nbsp;does the 
 <span class=Screen>Browse Design</span> toolbar.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Code1>Tape_ID</span> column by clicking its title. Alpha Anywhere highlights 
 the entire column.</p>

</li>
	
	<li value=3
		class=kadov-p-CListNumber><p class=ListNumber>Click the <img src="images/Properties_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> <span class=Button>Properties</span> button on the toolbar, 
 or press <span class=Button>F12</span>. The <span class=Screen>Column 
 Properties</span> dialog box appears. </p>

</li>
</ol>

<p class=Pix><img src="images/columnProperties.gif"
					style="width: 407px;
							height: 467px;
							border-style: none;
							border-style: none;"
					width=407
					height=467
					border=0></p>



<p>You can also customize the Browse column display using the <span class=Screen>Font</span>, 
 <span class=Screen>Border</span>, and <span class=Screen>Format</span> 
 tabs of the <span class=Screen>Column Properties</span> dialog box.</p>



<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Screen>Setup</span> tab, and enter "ID" in the <span class=Control>Column 
 title</span> field.</p>

</li>
	
	<li value=5
		class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Screen>Border</span> tab, select "Green White" in the 
 <span class=Control>Fill</span> section, <span class=Control>Foreground 
 color</span>.</p>

</li>
	
	<li value=6
		class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>. 
 The <span class=Code1>Tape_ID</span> column displays a new name and color.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>StockInfo 
 Browse</span>, right-click the <span class=Code1>Availability</span> column 
 title, and select <span class=Button>Properties</span> from the right-click 
 menu.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>Column 
 Properties</span> dialog box appears.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the next steps, 
 you specify a font color change, when certain conditions are met. For 
 example, you set the text color to red when a tape is not available.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Screen>Other</span> tab, select <span class=Control>Enable Color 
 Equation</span>, and click the <span class=Button>Expression</span> button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>Color 
 Equation Genie</span> appears.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/colorEquationGenie.gif"
					style="width: 531px;
							height: 410px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=531
					height=410
					border=0></p>



<ol start=12>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Red" 
 for the <span class=Control>Text Color</span>, and click the <img src="ex<x>pression_Button_black.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> button.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/colorEquationGenieExpress.gif"
					style="width: 745px;
							height: 323px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=745
					height=323
					border=0></p>



<ol start=13>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Inventory 
 -> Availability = .F.</span> in the <span class=Screen>Expression Builder</span>, 
 by doing the following:</p>

</li>
	
	<ol>
		
		<li><p>Click the <span 
 class=Button>Insert</span> button.</p>

</li>
		
		<li><p>Select "Availability".</p>

</li>
		
		<li><p>Select the <span 
 class=Button>=</span> (equals sign) button in the <span class=Screen>Expression 
 Builder</span>.</p>

</li>
		
		<li><p>Select the <span 
 class=Button>.F.</span> button in the <span class=Screen>Expression Builder</span>.</p>

</li>
		
		<li><p>Click <span class=Button>OK</span>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to close the <span class=Screen>Expression Builder</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to close the <span class=Screen>Properties</span> dialog box.</p>

</li>
</ol>

<p>The <span class=Screen>StockInfo Browse</span> displays a red letter 
 F, for films that are not available. These steps show how customizing 
 a Browse can provide useful information about your data at a glance. Additionally, 
 you can make the following Browse modifications:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Use the <span class=Button>Browse</span> 
 menu to add and delete columns.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Use the <span class=Button>Stylesheets</span> 
 menu to format the Browse.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Transfer formatting of 
 one column to another, using the <span class=Button>Copy Appearance</span> 
 command on the right-click menu.</p>

</li>
</ul>

<p class=A5><a name=Creating_a_Calculated_Field>Creating a Calculated Value</a></p>



<p>Alpha Anywhere gives you the ability to build simple and complex calculations 
 based on fields in the underlying table. These calculations, called calculated 
 values, can display table data in many ways.  Click 
 the <span class=Button>Calculated Values</span> <img src="images/Calc_Fields_button.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
														width=22
														height=22
														border=0> button 
 on the toolbar. The <span class=Screen>Define Calculated Values</span> 
 window appears.</p>



<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>F10 
 - Expression Builder</span> button. The <span class=Screen>Expression 
 Builder</span> appears.</p>

</li>

<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Expression 
 Builder</span>, enter "QTY_TO_ORDER = IF(".</p>

</li>

<li class=kadov-p-CListNumber><p class=ListNumber>Press <span class=Button>F2 
 - Fields</span>. The fields of the <span class=Code1>Product</span> table 
 appear.</p>

</li>

<li class=kadov-p-CListNumber><p class=ListNumber>Select "Quantity_In_Sto" 
 and click <span class=Button>Insert</span>.</p>

</li>

<li class=kadov-p-CListNumber><p class=ListNumber>Complete the expression 
 shown in the picture below. If you are unsure of a field name, you can 
 retrieve it by pressing <span class=Button>F2 - Fields.</span> </p>

</li>

<p class=Pix><img src="images/GS_Define_Calculated_Fields.gif"
					style="width: 661px;
							height: 426px;
							border-style: none;
							border-style: none;"
					width=661
					height=426
					border=0></p>



<ol start=11>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>On the next line 
 create a second calculated field named <span class=Code1>Total</span>. 
 The expression is <span class=Code1>Total = Cost * Qty_In_Sto</span> .</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 when you are finished.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>Product 
 List Browse</span> appears. You do not see the calculated field in the 
 Browse. To see the calculated field, you must include it&nbsp;as&nbsp;a 
 column in a browse.</p>

</li>
</ol>

<p>In the next procedure, you add a column using the <span class=Screen>Drag-and-Drop 
 List</span> window.</p>



<p class=A5><a name=Using_the_Drag_and_Drop_List_Window>Using the Drag-and-Drop 
 List Window</a></p>



<p>The <span class=Screen>Drag-and-Drop List</span> window, includes all 
 fields such&nbsp;as&nbsp;table, calculated, and system, that you can add 
 to a layout. To add a field to the Browse using the <span class=Screen>Drag-and-Drop 
 List</span> window, click and drag the field to the desired location in 
 the browse.</p>



<p>To use the <span class=Screen>Drag-and-Drop List</span> window:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>With the <span class=Screen>Product 
 List Browse</span> in Design Mode, click the <span class=Button>DragDrop 
 List</span> button on the toolbar. The <span class=Screen>Drag-and-Drop 
 List</span> window appears. </p>

</li>
</ol>

<p class=Pix><img src="images/DragDropList.gif"
					style="width: 192px;
							height: 364px;
							border-style: none;
							border-style: none;"
					width=192
					height=364
					border=0></p>



<ol start=2>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Drag-and-Drop 
 List</span> window, select the <span class=Code1>Total</span> field, and 
 drag it next to the <span class=Code1>Qty</span> column, in the <span 
 class=Screen>Product List Browse</span>.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/ProductListBrowse.gif"
					style="width: 665px;
							height: 334px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=665
					height=334
					border=0></p>



<p>In the <span class=Screen>Drag-and-Drop List</span> window, a check 
 mark appears next to the <span class=Code1>Total</span> field, indicating 
 that it was added to the Browse.</p>



<ol start=3>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Product 
 List Browse</span>, select the <span class=Control>Total</span> column, 
 and select <span class=Button>Properties</span> from the right-click menu.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Column 
 Properties</span> dialog box, select the <span class=Screen>Format</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Control>Right</span> 
 alignment, <span class=Control>Width</span> "10", <span class=Control>Decimal 
 Places</span> "2", and <span class=Control>Format Style</span> 
 "$123,456.78", and click <span class=Button>OK</span>.&nbsp; 
 </p>

</li>
</ol>

<p class=Pix><img src="images/ColumnPropsTotal.gif"
					style="width: 406px;
							height: 466px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							borft: ;
							border-style: none;
							border-style: none;"
					width=406
					height=466
					border=0></p>



<p>The formatted <span class=Control>Total</span> column appears in <span 
 class=Screen>Product List Browse</span>.&nbsp; </p>



<p class=Pix><img src="images/ProductListBrowse2.gif"
					style="width: 665px;
							height: 333px;
							border-style: none;
							border-style: none;"
					width=665
					height=333
					border=0></p>



<ol start=6>
	
	<li class=kadov-p
		style="list-style: decimal;"
		type=1
		class=kadov-p>Click the <span class=Button>Save</span> button on 
 the toolbar. </li>
	
	<li value=7
		class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Browse 
 View</span> button.</p>

</li>
	
	<li value=8
		class=kadov-p-CListNumber><p class=ListNumber>Change the quantity 
 of the first item, ABC Baseball Glove Conditioner, to 200, and press <span 
 class=Button>Enter</span>. The Total changes to $470.00.</p>

</li>
</ol>

<p class=A5><a name=Summary>Summary</a></p>



<p>In this lesson, you learned how to design and use a custom browse. You 
 learned how to use the <span class=Screen>New Browse Genie</span> to select 
 fields for a new browse, and to modify the browse appearance. You also 
 learned how to set column properties, and to create and include calculated 
 fields in a browse.</p>



<p class=A5>What's Next?</p>



<p>See <a href="../Form/Using Forms.html" title="Using Forms" class="wiki">Using Forms</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Customizing+Browses">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,tut,browse"}--->
</body></html>