@media screen 
{
body			{ background: url('Clouds.jpg'); 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				-background-size: cover;
				 }

h1     		      	{ font-family: Tahoma; font-size: 12pt; color:		#8f4f4f; }
h2     	  	    	{ font-family: Tahoma; font-size: 11pt ; color: 	#8f4f4f; }
h3     		      	{ font-family: Tahoma; font-size: 10pt ; color: 	#8f4f4f; }
h4     		      	{ font-family: Tahoma; font-size: 10pt ; color: 	#5f5f5f; }
ul     	   	   	{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; width: 7in; margin-left: .0in; margin-top:0px; margin-bottom:5px }
ol     	   	   	{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; width: 7in; margin-left: .0in; margin-top:0px; margin-bottom:5px }
dl     	   	   	{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; width: 7in; margin-left: .0in; margin-top:0px; margin-bottom:5px }
dt     	   	   	{ font-family: Tahoma; font-size: 11pt ; color: 	#000000; width: 7in; margin-left: .0in; margin-top:0px; margin-bottom:5px }
dd			{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; width: 7in; margin-left: .5in; margin-top:0px; margin-bottom:5px }
li     	     		{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; width: 7in; }
p			{ font-family: Tahoma; width: 7in; font-size: 10pt; margin-left: .0in; margin-top:0px; margin-bottom:5px }

.tab			{ margin-left: 40px; }
.contentlist 		{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; margin-left: .0in; }
.xbasic      		{ font-family: Courier New; font-size: 10pt; color: #0000FF; margin-left: 1.1in;
               			margin-top: 0; margin-bottom: 0 }
.xbasicSmall 		{ font-family: Courier New; font-size: 9pt; color: #0000FF; margin-left: .75in;
               			margin-top: 0; margin-bottom: 0 }
.dialogscreenshot 	{ border:0; display:block; margin-top:0px; margin-bottom:0px;}                 
.note			{ padding: 10px; background-color: #f0f0f0;	border-radius: 3px;}       
p.fullsizeimagelink	{ text-align:center; }

.navigator		{ width: 7in; font-family: Tahoma; font-size: 11pt; font-weight: bold; color: #8f4f4f;}
.prevsection		{ position:absolute; left-margin:0px; text-align:left; width:2.5in;}
.nextsection		{ float:right; text-align:right; width:2.5in; }
.parentsection		{ position:absolute; margin-left:2.5in;; margin-right:2.5in; text-align:center; width:2in; }
.topic 			{font-weight: bold;}
}

@media print 
{
p.fullsizeimagelink 	{ display:none; }
h1     		      	{ display: none; }
h2     	  	    	{ font-family: Tahoma; font-size: 11pt ; color: 	#8f4f4f; }
h3     		      	{ font-family: Tahoma; font-size: 10pt ; color: 	#8f4f4f; }
h4     		      	{ font-family: Tahoma; font-size: 10pt ; color: 	#5f5f5f; }
ul			{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; width: 7in; margin-left: .0in; margin-top:0px; margin-bottom:5px }
ol			{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; width: 7in; margin-left: .0in; margin-top:0px; margin-bottom:5px }
dl			{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; width: 7in; margin-left: .0in; margin-top:0px; margin-bottom:5px }
dt			{ font-family: Tahoma; font-size: 11pt ; color: 	#000000; width: 7in; margin-left: .0in; margin-top:0px; margin-bottom:5px }
dd			{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; width: 7in; margin-left: .5in; margin-top:0px; margin-bottom:5px }
li			{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; width: 7in; }
p			{ font-family: Tahoma; width: 7in; font-size: 10pt; margin-left: .0in; margin-top:0px; margin-bottom:5px }
.tab			{ margin-left: 40px; }

.contentlist		{ font-family: Tahoma; font-size: 10pt ; color: 	#000000; margin-left: .0in; }
.xbasic			{ font-family: Courier New; font-size: 10pt; color: #0000FF; margin-left: 1.1in;
				margin-top: 0; margin-bottom: 0 }
.xbasicSmall		{ font-family: Courier New; font-size: 9pt; color: #0000FF; margin-left: .75in;
				margin-top: 0; margin-bottom: 0 }
                 
.dialogscreenshot { border:0; display:inline; margin-top:0px; margin-bottom:0px;}                 
.note		{ padding: 10px; background-color: #f0f0f0;	border-radius: 3px;}       

.navigator	{ display:none; }
.topic {font-weight: bold;}
}

