	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="User-defined_Error_Codes">User-defined Error Codes</h1>
Alpha Five has had a <a href="/Api/Objects/CallResult.html" title="CallResult" class="wiki">CallResult</a> object since Version 8. As of Version 11, we have reserved the error code range from 20000 to 24999 for User-defined Error Codes.<br />
<br />
You may define your own error codes by editing Alpha5.errors. We recommend keeping a backup of your additions so that you can easily merge them into any future versions of Alpha5.errors that we release.<br />
<h2 class="showhide_heading" id="Example">Example</h2>
<strong>Alpha5.errors</strong>:<br />
<div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox" >...
20000=User Error Code Start
20001=Frizzbot Unable to reach protected resource. Please check corporate VPN status.
24999=User Error Code End
...</pre></div><br />
<br />
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox1" >FUNCTION Frizzbot as CallResult (...)
Dim Result as CallResult
...
If  ResFound
    Result.ReturnDataValue = FoundItem
else
    Result.Code = 20001 &#39; Unable to reach protected resource
end if
&nbsp;
Frizzbot = Result
END FUNCTION</pre></div><br />
<br />
The script that calls <strong>Frizzbot()</strong> should check the returned <strong>CallResult </strong>immediately and proceed according to the returned values. The error string in <strong>Alpha5.errors</strong> will automatically populate <strong>Result.Text</strong>.<br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:User-defined+Error+Codes+V11">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"common,review","status":"pending","notes":"A5","keywords":"server,design,guide"}--->
</body></html>