	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="User-defined_Error_Codes">User-defined Error Codes</h1>
Alpha Five has had a <a href="../../../Reference/Design/Api/Objects/CallResult.html" title="CallResult" class="wiki">CallResult</a> object since Version 8. As of Version 11, we have reserved the error code range from 20000 to 24999 for User-defined Error Codes.<br />
<br />
You may define your own error codes by editing Alpha5.errors. We recommend keeping a backup of your additions so that you can easily merge them into any future versions of Alpha5.errors that we release.<br />
<h2 class="showhide_heading" id="Example">Example</h2>
<strong>Alpha5.errors</strong>:<br />
<div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox" >...
20000=User Error Code Start
20001=Frizzbot Unable to reach protected resource. Please check corporate VPN status.
24999=User Error Code End
...</pre></div><br />
<br />
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox1" ><span style="color: #0600FF;">FUNCTION</span> Frizzbot <span style="color: #FF8000;">as</span> CallResult <span style="color: #000000;">&#40;</span>...<span style="color: #000000;">&#41;</span>
<span style="color: #0600FF;">Dim</span> Result <span style="color: #FF8000;">as</span> CallResult
...
<span style="color: #0600FF;">If</span>  ResFound
    Result.<span style="color: #0000FF;">ReturnDataValue</span> <span style="color: #008000;">=</span> FoundItem
<span style="color: #FF8000;">else</span>
    Result.<span style="color: #0000FF;">Code</span> <span style="color: #008000;">=</span> <span style="color: #FF0000;">20001</span> <span style="color: #008080; font-style: italic;">' Unable to reach protected resource</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">if</span>
&nbsp;
Frizzbot <span style="color: #008000;">=</span> Result
<span style="color: #0600FF;">END</span> <span style="color: #0600FF;">FUNCTION</span></pre></div><br />
<br />
The script that calls <strong>Frizzbot()</strong> should check the returned <strong>CallResult </strong>immediately and proceed according to the returned values. The error string in <strong>Alpha5.errors</strong> will automatically populate <strong>Result.Text</strong>.<br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:User-defined+Error+Codes+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"common,review","status":"pending","notes":"A5","keywords":"server,design,guide"}--->
</body></html>