	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Letter Overview</p>



<p>Using the <span class=Screen>Letter Editor</span>, you can create a 
 customized letter layout that takes data from a table or set, and merges 
 it with text that you create to generate customized form-letters. For 
 example, you have a set which keeps track of invoices, and you want to 
 create a personalized letter to new customers to thank them for their 
 business. This can be done by creating a letter layout.</p>



<p>By merging data from the set, each letter addresses an individual customer 
 by name, and gives them information about their past history with your 
 business.</p>



<p>A Letter layout can also contain conditional paragraphs that let you 
 include sections based on data in a table or set. For example, for customers 
 whose memberships have expired, your letter might have a conditional paragraph 
 that reads, "Our Records show that your membership has expired. If 
 you renew now, you can take advantage of our special renewal rates."</p>



<p>To create a Letter from the <span class=Screen>Control Panel</span> 
 :</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Letter</span> tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>New</span> 
 button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>New 
 Object Genie</span> appears and guides you to the <span class=Screen>Letter 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>You can either use 
 the <span class=Screen>Letter Genie</span>, which prompts you step by 
 step to help you create your Letter, or you can go directly to the <span 
 class=Screen>Letter Editor</span>.</p>

</li>
</ol>

<p>The basic Letter design process consists of adding or removing sections 
 to the letter to define its overall structure, typing in the text you 
 want to include, adding fields and conditional commands, and determining 
 the order and selection of the records that print.</p>



<p>For more information on the various parts of this process, refer to 
 the list below.</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Determine 
 the structure of the letter by adding or removing regions</span>. The 
 overall structure of a letter is divided into regions. Regions are where 
 the objects of a letter are actually placed on the layout. Alpha Anywhere
 lets you create page header and footer regions, a Letterhead head region, 
 and continuation header and footer regions.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Create 
 the text to be included in the letter</span>. You can type the body text 
 of a letter, and place fields from the <span class=Screen>Drag-and-Drop 
 List</span> into that text to create customized letters for each record.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Insert 
 conditional paragraphs in your letter</span>. You can use conditional 
 commands to include or exclude parts of your letter based on data from 
 the table or set. This provides a dynamic way to customize your Letter.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Place 
 lines, frames, pictures, and borders</span>. To make your letter more 
 aesthetically pleasing, you may wish to include your company logo in the 
 Letter Head section, or insert frames or lines to visually group or divide 
 parts of the letter.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Order 
 and select the records that appear in the letter</span>. You can order 
 and filter the records that appear in the letter by storing order and 
 selection criteria in the Letter, by letting the user decide at print 
 time, or by using a combination of the two.</p>

</li>
</ul>

<p class=A5><a name=Using_the_Letter_Genie>Using the Letter Genie</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Letters</span> tab of the <span class=Screen>Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>New</span> 
 to display the <span class=Screen>New Letter</span> dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select a table or 
 set and click <span class=Button>OK</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>When the <span class=Screen>Form 
 Letter Genie</span> appears, click <span class=Button>OK</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, clear 
 the <span class=Control>Include your name and address in the letterhead</span> 
 check box. If you leave it checked:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select how you 
 want the letterhead aligned.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Enter the text 
 to appear in the Specify name and address text control. </a></p>

</li>
	</ol>
</ol>

<p class=Pix><img src="images/Form_Letter_Genie_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 507px;
							height: 357px;
							float: none;
							border-style: none;
							border-style: none;"
					width=507
					height=357
					border=0></p>



<ol start=6>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Define the address 
 format. Fill in the lines of the address with constant text, punctuation, 
 and field names. To add a field name, select it from the <span class=Control>Fields</span> 
 list and click <img src="images/Move_Right_Button.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 22px;
							height: 22px;
							float: none;
							border-style: none;
							border-style: none;"
					width=22
					height=22
					border=0>.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/Form_Letter_Genie_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 507px;
							height: 357px;
							float: none;
							border-style: none;
							border-style: none;"
					width=507
					height=357
					border=0></p>



<ol start=8
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Define the salutation. 
 Optionally select <span class=Button>Do not include a salutation</span>. 
 If you include a salutation:</p>

</li>
	
	<ol style="list-style: decimal;"
		type=1>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, clear 
 or edit the first text control, which defines constant text to appear 
 at the beginning of the line.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select a field 
 from the first listbox control.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, select 
 a second field from the second listbox control.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, clear 
 or edit the text that appears at the end of the line. </p>

</li>
	</ol>
</ol>

<p class=Pix><img src="images/Form_Letter_Genie_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 507px;
							height: 357px;
							float: none;
							border-style: none;
							border-style: none;"
					width=507
					height=357
					border=0></p>



<ol start=10
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, define 
 a date to place above the address block. If you choose to include a date, 
 select a format from the <span class=Control>Format</span> list. </p>

</li>
</ol>

<p class=Pix><img src="images/Form_Letter_Genie_4.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 507px;
							height: 357px;
							float: none;
							border-style: none;
							border-style: none;"
					width=507
					height=357
					border=0></p>



<ol start=12
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, define 
 an ending line or paragraph of text. </p>

</li>
</ol>

<p class=Pix><img src="images/Form_Letter_Genie_5.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 507px;
							height: 357px;
							float: none;
							border-style: none;
							border-style: none;"
					width=507
					height=357
					border=0></p>



<ol start=14
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the records 
 you want to print. The options are:</p>

</li>
	
	<ul style="list-style: decimal;"
		type=1>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>All records</p>

</li>
	</ul>
	
	<ul style="list-style: decimal;"
		type=1>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Currently selected 
 records: records that were selected by the most recently run query (using 
 Query by Form, Query by Table, or Quick Filter).</p>

</li>
	</ul>
	
	<ul style="list-style: decimal;"
		type=1>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Marked or Unmarked 
 records</p>

</li>
	</ul>
	
	<ul style="list-style: decimal;"
		type=1>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Records that satisfy 
 filter criteria</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you chose to use 
 a filter expression, you have 2 choices:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p>"Expression" - which requires you to 
 write an expression that evaluates to a logical value (true or false). 
 </li>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p>"Saved Query" </li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Expression" 
 in step 16, you may either write an expression in the field below or click 
 <img src="Expression_Button_black.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 22px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0> to display the <a href="../../Data/FieldRules/Expression Builder.html" title="Expression Builder" class="wiki">&lt;span   class=Screen&gt;Expression Builder&lt;/span&gt;</a>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Saved 
 Query" in step 16, select a <a href="../Form/Query/Query by Form.html" title="Query by Form" class="wiki">saved query</a> 
 from the listbox below. </p>

</li>
</ol>

<p class=Pix><img src="images/Form_Letter_Genie_6.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 507px;
							height: 357px;
							float: none;
							border-style: none;
							border-style: none;"
					width=507
					height=357
					border=0></p>



<ol start=23
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, define 
 the order in which to print the letters. Select up to 3 fields to use 
 to sequence the records. Click the A...Z buttons to sort records in either 
 ascending or descending value.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, select 
 <span class=Button>Preview how the form letters will print</span> and 
 click <span class=Button>Finish</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Otherwise, select 
 <span class=Button>View the form letter design</span> and click <span 
 class=Button>Finish</span>. This bring you to the <span class=Screen>Letter 
 Editor</span>.</p>

</li>
</ol>

<p class=A5><a name=Using_the_Letter_Editor>Using the Letter Editor</a></p>



<p>If you used the <span class=Screen>Form Letter Genie</span> up to this 
 point you will see the following. The text that you see has been placed 
 in 2 Rich Text Formatted (RTF) objects. Note how the FIRSTNAME and LASTNAME 
 fields are embedded in the letter. </p>



<p class=Pix><img src="images/Letter_Editor_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 638px;
							height: 326px;
							float: none;
							border-style: none;
							border-style: none;"
					width=638
					height=326
					border=0></p>



<p>Click the <img src="images/Preview_Form_button.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 22px;
							height: 22px;
							float: none;
							border-style: none;
							border-style: none;"
					width=22
					height=22
					border=0> button on the toolbar and you will see that 
 the letter is reading values from the table, but is lacking content. <a HREF="http://support.alphasoftware.com/imagesV8/Letter_Editor_1.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=Pix><img src="images/Letter_Editor_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 668px;
							height: 417px;
							float: none;
							border-style: none;
							border-style: none;"
					width=668
					height=417
					border=0></p>



<p>Adding text content is&nbsp;as&nbsp;easy&nbsp;as&nbsp;placing the cursor 
 in the RTF object and typing it in.</p>



<p>To add a field to the letter drag it from the <a href="../../Data/FieldRules/Using the Fields Panel.html" title="Using the Fields Panel" class="wiki">&lt;span   class=Screen&gt;Drag and Drop List&lt;/span&gt;</a> to the desired location in 
 the letter. </p>



<p class=Pix><img src="images/Letter_Editor_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 586px;
							height: 602px;
							float: none;
							border-style: none;
							border-style: none;"
					width=586
					height=602
					border=0></p>



<p>When you release the field in the desired location, the <span class=Screen>Summary 
 Field Genie</span> may appear. Simply click <span class=Button>Finish</span>.</p>



<p>When you are done designing the letter, click <img src="images/Save_button.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
														width=22
														height=22
														border=0>, name 
 your letter, and click <span class=Button>OK</span>.</p>



<p class=A5><a name=Formatting_RTF_Objects>Formatting RTF Objects</a></p>



<p>The following three views of the top of the letter illustrate additional 
 properties of the <span class=Screen>Letter Editor</span>. </p>



<p class=Pix><img src="images/Letter_Editor_4.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 538px;
							height: 746px;
							float: none;
							border-style: none;
							border-style: none;"
					width=538
					height=746
					border=0></p>



<p>The top image shows the letterhead's RTF object selected. Note the small 
 black squares that appear at the corners and at the middles of the sides 
 of the object. At this stage you can move and resize the object. This 
 is the default and minimum size of the RTF object.</p>



<p>The middle image shows what happens when you double-click on an RTF 
 object. Now there is asolid black outline. At this stage you can format 
 the contents of the RTF object. The <span class=Screen>Text Toolbar</span> 
 automatically appears. </p>



<p class=Pix><img src="images/Rich_Text_Toolbar.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							border-style: none;
							width: 212px;
							height: 147px;
							float: none;
							border-style: none;"
					width=212
					height=147
					border=0></p>



<p>The third image shows what happens when you cursor downwards. Additional 
 text appears. This illustrates a valuable property of RTF objects. When 
 you print them, they automatically expand to display all their contents. 
 But if there were no additional contents beyond what you see in the top 
 image, then the object would print with that default size.</p>



<p>If you click the <span class=Screen>Insert...</span> button of the <span 
 class=Screen>Text Toolbar</span>, the <span class=Screen>RTF Insert Command</span> 
 toolbar appears. This toolbar allows you to place conditional text into 
 your letter. For more information, refer to <a href="../RTF/Rich Text Editor.html" title="Rich Text Editor" class="wiki">Rich   Text Editor</a>. </p>



<p class=Pix><img src="images/UG_RTF_Insert_Command_toolbar.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 258px;
							height: 72px;
							float: none;
							border-style: none;
							border-style: none;"
					width=258
					height=72
					border=0></p>



<p class=A5><a name=Creating_Long_Letters>Creating Long Letters</a></p>



<p>Letter layouts are limited to 24 inches in length. However, if you put 
 a Rich Text Object into a letter and enable the "Allow growth when 
 printing" property, the final printed letter can be much longer in 
 length.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Letter+Overview">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,letter"}--->
</body></html>