	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			
<p class=A3Topic>Adding Fields&nbsp;and Text</p>



<p>When you create a new Label or Letter layout, the editor automatically 
 inserts a Rich Text object. To use this Rich Text Object, you add the 
 fields and text you want to appear when the Labels are printed. Rich Text 
 Objects make it easy to seamlessly mix text and fields; they let you suppress 
 blank spaces, and they make it easy to change the fonts, point size, color, 
 alignment, and other text attributes. If you unsure whether you have a 
 rich text object, hold the cursor above the object until Alpha Anywhere displays 
 its name.</p>



<p>To enter fields or text into a Rich Text Object, you first need to activate 
 the <span class=Screen>Rich Text Editor</span>.</p>



<p>This is done by double-clicking on the Rich Text Object. When the editor 
 is activated, controls appear on the Text Toolbar that let you change 
 the size, font, and other text attributes.</p>



<p>Text can be inserted by simply typing. To insert a field, click and 
 drag the appropriate field from the <span   class=Screen><a href="../../Data/FieldRules/Using the Fields Panel.html" title="Using the Fields Panel" class="wiki">Drag and Drop List</a></span> and drop it on the Rich Text 
 Object.</p>



<p class=A5>Suppressing Blank Lines</p>



<p>When you place fields on different lines, it is often helpful to move 
 to the next line by pressing <span class=Button>SHIFT ENTER</span> to 
 insert a soft return, rather than <span class=Button>ENTER</span> which 
 inserts a hard return. A soft return, which appears as a return 
 mark (<img src="images/return_arrow.gif"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 10px;
					height: 10px;
					float: none;"
			width=10
			height=10
			border=0>), only creates a line if the line contains data; 
 if the line is blank, it is suppressed.</p>



<p>For example, you are designing mail Labels to print names and addresses 
 from your <span class=Code1>Customer</span> table. The <span class=Code1>Customer</span> 
 table contains two address lines, <span class=Code1>Address1</span> and 
 <span class=Code1>Address2</span>. In some cases, <span class=Code1>Address2</span> 
 is blank, since the address fits on a single line. To prevent a blank 
 line from appearing on the Label, you can place a soft return at the end 
 of the line.</p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Adding+Fieldsand+Text">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,rtf"}--->
</body></html>