	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Using Memo and Rich Text Memo Fields</p>

<ul style="list-style: disc;" type=disc> <li class=kadov-p-CBullet1><p class=Bullet1>You can display up to 4,000 characters of a memo field in a browse.</p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1>By default, browse columns for long fields are set to a maximum width of 3 inchesand word wrap is turned on. Also, the row height is automatically adjusted so that the full content of long fields (up to 4K for memos) is visible.</p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1>You can edit memos in place in a browse.</p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1>You can also display Rich Text memos in a browse. You can access the <span class=Screen>RTF Editor</span> directly from the browse.</p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1>When you open the pop-up memo or <span class=Screen>RTF Editor</span> on a form, if a descriptive name has been defined for the field in <span class=Screen>Field Rules</span>, the descriptive name is used in the title bar. </p>

</li> </ul><p class=Pix><img src="images/RTF_Editor.gif" x-maintain-ratio=TRUE style="border: none; width: 632px; height: 308px; float: none; border-style: none; border-style: none;" width=632 height=308 border=0></p>

<p>When editing RTF Memo fields, the <span class=Button>Edit</span> menu contains selections for Importing data from a RTF file into the current memo, and Exporting data from the RTF memo to a file. When importing, 
Alpha Anywhere gives you the option of overwriting existing data, or inserting the imported text at the current cursor location.</p>

<p class=A5>See Also</p>

<p><a href="../Browse/Using the Browse Editor.html" title="Using the Browse Editor" class="wiki">Using the Browse Editor</a></p>

	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Memo+and+Rich+Text+Memo+Fields">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,rtf"}--->
</body></html>