	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1>A Simple Bar Chart</h1>

	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">This example shows how to use the value of a field in a freeform layout to modify the width of a graphic, thereby producing a simple bar chart. 
				This example will use the Alphasports database .dbf Tables for 
				its data. The database should be located in the <i>Samples</i> folder under the Alpha Anywhere installation folder. 
				If you are not familiar with the Grid Builder, go first to the
				<font color="#0000FF">Web Projects Control Panel</font> by 
				clicking the Web Projects button on the Alpha Anywhere toolbar.</font></p>
				<p align="center">
				<img border="0" src="images/A_webprojects.png" width="96" height="26"></p>
				<p align="left"><font size="2">Once you are in the Web Projects 
				Control Panel, click the '<font color="#0000FF">Create a new 
				grid component</font>' button
				<img border="0" src="images/B_Gridbuilder.png" width="13" height="13"> 
				near the top left corner of Web Projects Control Panel toolbar. 
				This will load the 'Select Grid Component Template' Dialog, that 
				gives you the option to build your grid from existing grid 
				designs. Select '<font color="#0000FF">Start with a blank Grid 
				Component</font>' and click <font color="#0000FF"><u>O</u>K</font>. 
				The <font color="#0000FF">Grid Builder</font> dialog will open. 
				We will now create a new tabular grid based on the AlphaSports 
				product table.</font></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p class=A5><a name=Creating_the_Grid>Creating the Grid</a></p>

<ol> <li ><p >Make sure the 
	<font color="#0000FF">Design</font> tab 
	of the Grid Builder is open. Click on <font color="#0000FF">Component Type</font> 
	at the top of the tree menu.</p>

</li> <li ><p >With the Component Type page 
	open, go to the <font color="#0000FF">Grid Layout</font> menu in the middle 
	of the page and select <font color="#0000FF">Tabular</font>.</p>

</li> <li ><p >Leave the 
	<font color="#0000FF">Grid is: Read only</font> radio button on the 
	Component Type page selected.</p>

</li> <li ><p >On the design tree menu 
	select the <font color="#0000FF">Grid &gt; Data Source</font> page.</p>

</li> <li ><p >On the Data Source page 
	select the <font color="#0000FF">.dbf Tables</font> radio button.</p>

</li> <li ><p >Go back to the design 
	tree menu and click on <font color="#0000FF">Grid &gt; Query (DBF)</font>.</p>

</li> <li ><p >Select the 'Display data 
	from: <font color="#0000FF">Table</font>' radio button at the top of the 
	Grid &gt; Query(DBF) page.</p>

</li>
	<li >
	<p >Next to the <font color="#0000FF">Table name:</font> 
	setting click the&nbsp;
	<img border="0" src="images/A_dropmenu.png" width="17" height="19"> to open 
	a drop down of all the tables in Alphasports. Select the "product" table.</p>

</li> <li ><p >Click 
	<font color="#0000FF">Calculated Fields</font> to display the 
	<font color="#0000FF">Define Calculated Fields</font> dialog.</p>

</li> <li ><p >Enter the following expression and click 
	<font color="#0000FF"><u>O</u>K</font>. This creates a new calculated field named "Markup".</p>

</li> </ol>  
	<table class="codeTable" style="border-color:#000000; border-width:0px; x-cell-content-align: top; width: 100%; border-spacing: 0px; border-spacing: 0px" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> 
		<td style="border-style:none; border-width:medium; x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px" valign="top" width="100%" bgcolor="#CEE7FF" bordercolor="#000000"><p class=Code>&nbsp;<blockquote>
			<p class=Code>markup = (Retail - Cost)/Cost * 100</blockquote>
		<p class=Code>&nbsp;</td></tr> </table><p class=A5><a name=Selecting_the_Fields_to_Display>Selecting the Fields to Display</a></p>

<ol start=1> 
	<li >
	<p >In the design 
	tree menu click on&nbsp; the <font color="#0000FF">Grid &gt; Fields</font> page.</p>
	</li>
	<li >
	<p >Move the "<i>Description</i>", "<i>Cost</i>", "<i>Retail</i>", and "<i>Markup</i>" 
	fields from the <font color="#0000FF">Available Fields</font> list to the 
	<font color="#0000FF">Selected Fields</font> list using the single right 
	pointing arrow
	<img border="0" src="images/A_rightarrow.png" width="9" height="14"> between 
	the two lists .</p></li>
	<li >
	<p >You will need to set the 
	currency type for your &quot;<i>Cost</i>" and "<i>Retail</i>" fields. From the 
	Selected list click on one of the two to start with.</p></li>
	<li >
	<p >Now look at the <font color="#0000FF">Field Properties</font> 
	menu on the right-hand side of the screen. Go to the <font color="#0000FF">Display Settings</font> 
	list and on the <font color="#0000FF">Display format</font> option click 
	<img src="images/Web_Properties_button.gif" x-maintain-ratio=TRUE style="border: none; float: none; width: 17px; height: 18px; border-style: none; border-style: none;" width=17 height=18 border=0> to 
	open the <font color="#0000FF">Display Format</font> dialog. </p></li>
	<li >
	<p >Click on the <font color="#0000FF">International 
	Currency Format</font> button. From the <font color="#0000FF">Country:</font> 
	drop-down list at the top of the International Currency Format Dialog choose 
	a country and click <font color="#0000FF"><u>O</u>K</font>. The 
	formatCurrency function should appear in the Display Format Dialog. Click
	<font color="#0000FF"><u>O</u>K</font> again and repeat the procedure for 
	your second field. <br>
&nbsp;</p>
	</li></ol>

	<font color="#0000FF">

	<table border="1" width="100%" style="border-width: 0px">
			<tr>
				<td width="100%" bgcolor="#DDE8E8" style="border-style: none; border-width: medium" align="center">
				<blockquote>
&nbsp;<p align="left"><font size="2"><b>Note:</b> If you have many fields that 
					you would like to set to the same field property use the 
					paste tool
					<img border="0" src="images/A_Paste.png" width="24" height="24"> 
					to. This will let you paste the current property value to 
					multiple controls at once.</font></p>
				</blockquote>
				</td>
			</tr>
		</table>
		<p align="center">
		<img border="0" src="images/A_InternationalCurrency.png" width="480" height="345"></font>
		
		<ol start="6">
		<li >
		<p >From the Selected list click on the &quot;Markup&quot; field. In the Field 
		Properties menu scroll down to Label Properties. Click the
		<img border="0" src="images/A_expandchoices.png" width="15" height="14"> 
		to open the <font color="#0000FF">Style Editor</font>. In the Style 
		Editor scroll down to the <font color="#0000FF">Text</font> property 
		menu. Find the <font color="#0000FF">Alignment</font> property, click 
		the dropdown button, and select '<font color="#0000FF">left</font>'. 
		Click <font color="#0000FF"><u>O</u>K</font>.</p>
		<p align="center"></p>
		<p align="center">
	</li><br>
		<img border="0" src="images/B_StyleEditor.png" width="330" height="280">
		</p>
		<p align="center"><u>Select Alignment for a Field</u><br>
&nbsp;<li >
		<p >With the &quot;Markup&quot; field still selected, scroll down the
		<font color="#0000FF">Field Properties</font>&nbsp; to<font color="#0000FF"> Column Properties</font>. 
		Click on the <font color="#0000FF">Freeform layout</font> check box to 
		check it.</p></li>
		<li >
		<p >Check to make sure there is no HTML code in the &quot;Markup&quot; field's&nbsp;
		<font color="#0000FF">Display Settings > Display format</font> setting.</p>
		</li>
		<li >
		<p >Click 
	the 
	<img src="images/Web_Properties_button.gif" x-maintain-ratio=TRUE style="border: none; float: none; width: 17px; height: 18px; border-style: none; border-style: none;" width=17 height=18 border=0>&nbsp; 
	button in the <font color="#0000FF">Column Properties &gt; Freeform template</font> 
	property setting to display the <font color="#0000FF">Free-form Column Layout</font> 
	dialog. A freeform field may contain any legitimate HTML code. In this case 
	it will contain an &lt;div&gt; tag. Enter the following 
		<font color="#0000FF">HTML 
	code</font> into the dialog box and click <font color="#0000FF"><u>O</u>K</font>. 
	When you publish the&nbsp; page later on, the value of the "Markup" field will replace the {Markup} place holder. 
		The background color will be the color of your bar chart.</p>
		</li> </ol>  
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#F4F4DF" style="border-style: none; border-width: medium">
			<blockquote>
&nbsp;<p><font size="2" color="#333300">&lt;div style=&quot;display: inline-block; width: {data.Markup}px; 
height: 10px; background: green;&quot;&gt;&lt;/div&gt; {Markup}%</font></p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p class=A5><a name=Setting_the_Grid_Properties>Setting the Grid Properties</a></p>

<ol start=1> <li ><p >On the design menu click on the <font color="#0000FF">Grid 
	&gt;Properties</font> page. Go to Layout options and click the
	<font color="#0000FF">Style name</font> property. This will load the Select 
	Style Dialog. Create a style sheet to your liking. Here I went to 
	<font color="#0000FF">System</font> 
	under the Location menu and then chose <i>ModBlue</i>.</p>

</li> <li ><p >Scroll down the <font color="#0000FF">Grid &gt; Properties</font> 
	menu until you get to the <font color="#0000FF">Shading and Dividers</font> 
	section. Clear the <font color="#0000FF">Alternate row shading</font> check box.</p>

</li> <li ><p >Just below the Alternate row shading setting check the 
	<font color="#0000FF">Shading and Dividers > Row</font> separator check box.</p>

</li> <li ><p ><font color="#0000FF">Save</font> the component&nbsp;as&nbsp;"ProductMarkup" and exit from the Grid Component Builder.</p>

</li> </ol><p class=A5><a name=Displaying_the_Page>Displaying the Page</a></p>

<ol start=1> <li ><p >In the Web Project Control Panel toolbar click
	<font color="#0000FF">New</font>. When the <font color="#0000FF">New File</font> 
	Dialog loads click<font color="#0000FF"> A5W Page</font> and
	<font color="#0000FF">Next &gt;</font>. </p>

</li>
	<li >
	<p >Still in the New File Dialog, choose 'Blank Page' from the options 
	presented and click <font color="#0000FF">Next &gt;</font> again.</p>

</li> <li ><p >The <font color="#0000FF">HTML Editor</font> will open. Click
	<font color="#0000FF">File > Save</font> <font color="#0000FF">As</font>, enter "ProductMarkupBarChart" in the File name field, and click 
	<font color="#0000FF">Save</font>.</p>

</li> <li ><p >From the toolbar at the top of the screen click on Insert Component.<br></p>

	<p align="center">

</li>
	<img border="0" src="images/A_Insert.png" width="119" height="26"><br>
&nbsp;
	<li >
	<p >When the<font color="#0000FF"> Insert Component</font> Dialog loads 
	click on the <font color="#0000FF">Select</font> button. Pick "ProductMarkup", 
	from the <font color="#0000FF">Select Component</font> Dialog that loads, and click 
	<font color="#0000FF">OK</font>. </p></li>
	<li >
	<p >Click<font color="#0000FF"> <u>O</u>K</font> the close the Insert 
	Component Dialog.</p></li>
	<li >
	<p ><font color="#0000FF">Save</font> the A5W page again then close the HTML Editor.</p></li>
	<li >
	<p >After returning to the Web Projects Control Panel, Right click the "ProductMarkupBarChart" 
	A5W page you created.&nbsp; select <font color="#0000FF">Publish (Local Webroot) 
	open</font>.</li> </ol> 
	<p align="center"> <br>
	<img border="0" src="images/Local%20Webroot.png" width="476" height="77"></p>
	</p>



	<p class=Pix style="text-align: left">&nbsp;</p>
	<ol start="9">
	<li>
	
	When your A5w file is published you should get something similar to this.</li>
	
	</ol>
	
	
	
	
	<p class=Pix>
	<img border="0" src="images/WPT_Bar_Chart.png" width="791" height="470"></p>
	<p class=Pix>&nbsp;</p>
	<p class=Pix>&nbsp;</p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:A+Simple+Bar+Chart">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"accept","keywords":"server,guide,grid,component"}--->
</body></html>