	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="How_to_Add_Users_to_Groups_in_Security">How to Add Users to Groups in Security</h1>
The short summary: use the <a href="/Api/Functions/Web/Web Application/Security Functions/A5WS_Save_WebUser_Values Function.xml" title="Validates and saves dialog values to fields in the Web Security User table" class="wiki">a5ws_Save_WebUser_values Function</a>, with the possible addition of the <a href="/Api/Functions/Web/Web Application/Security Functions/A5WS_Validate_WebUser_Values Function.xml" title="Validates values from controls in a dialog component for fields in the Web Security User table" class="wiki">a5ws_Validate_WebUser_values Function</a><br />
<br />
There is no reason to include your own data validation if you are using the <a href="/Api/Functions/Web/Web Application/Security Functions/A5WS_Save_WebUser_Values Function.xml" title="Validates and saves dialog values to fields in the Web Security User table" class="wiki">a5ws_Save_WebUser_values Function</a> as the function will test all of the validation defined in the Security Settings, including applying a uniqueness test to the user id. In fact, we recommend you do not all any validation to the security fields, as it is possible to add a validation that conflicts with the validation in the Security Settings.<br />
<br />
If you just want to test the values being submitted, use the <a href="/Api/Functions/Web/Web Application/Security Functions/A5WS_Validate_WebUser_Values Function.xml" title="Validates values from controls in a dialog component for fields in the Web Security User table" class="wiki">a5ws_Validate_WebUser_values Function</a>. It will run all of the validation tests but not save the values. The return pointer variable will have a true value for the .errors parameter, and a false if there are errors. If there are errors, the .error_text parameter will include the error messages defined in the Security Settings.<br />
<br />
One of the important keys to making the functions work correctly is to <em>always</em> submit a value for the user guid. If this is not supplied as an input value, the functions will consider the submission as a new record as it can't accurately determine if the record exists. <em>Always</em> include the security "guid" field in the fields for the component. This should be a hidden field, but it must be on the component.<br />
<br />
Input values are values submitted in the "UserValue" or "request" variables as shown in the function help. Output values are returned in the "CurrentForm" or "output" as shown in the function help. As described above, the function returns errors in the output of the "result" variable. However, each output value in the "CurrentForm" will also show a result if there is an error. For example, if the validate function finds an error in the "UserId" field (Using Currentform as the name of the output variable), the following values will be returned:<br />
<span style="color:blue; background:"><div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox" >CurrentForm.has_error = .T.
CurrentForm.Error_Message = error message from Security Settings
CurrentForm.Controls.userid.has_error = .T.
CurrentForm.Controls.userid.error_message = error message from Security Settings specific to this field</pre></div></span><br />
This was designed to use in a dialog component which will show the specific error messages by field. A dialog component will show the specific errors as "column heading: error message".<br />
<br />
This offers some additional flexibility when the functions are used elsewhere as you can also add a value to the submitted values for the control column heading and have it returned as part of the error message. If you are using "output" instead of "CurrentForm",the code would partially look like this for "userid":<br />
<span style="color:blue; background:"><div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox1" >dim output.controls.userid.column.Heading as c
output.controls.userid.column.Heading = "Enter Your Login ID"</pre></div></span><br />
If the user id has an error such as a duplicate userid, the message would be returned in "output.Controls.userid.error_message" and have a value of "Enter Your Login ID: User ID must be unique".<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:How+to+add+Users+to+Groups+in+Security">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web,review","notes":"a5ws in function link","keywords":"server,security,guide,grid,component,a5w"}--->
</body></html>