	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="How_to_Call_a_Dialog_Component_from_a_Grid_and_Pass_Information_from_the_Dialog_Back_to_the_Grid">How to Call a Dialog Component from a Grid and Pass Information from the</h1>
	<h1 class="showhide_heading">&nbsp;Dialog Back to the Grid</h1>
	<p class="showhide_heading">&nbsp;</p>
1. Create a button on the Grid to open the Dialog (use Action Javascript to write the code).<br />
<br />
2. Add a new action to the button using the 'Inline Javascript' action. Make sure that this action gets executed before the action to open the Dialog Component. The code for this action is:<br />
<br />
<div class="plugincode" parse="javascript"><pre class="codelisting" data-syntax="javascript" dir="ltr" style="overflow:auto;" id="codebox" >window[&#39;__callingGridAlias&#39;] = {grid.object}.gridId;
window[&#39;__callingGridRow&#39;] = &#39;{Grid.RowNumber}&#39;;</pre></div><br />
This code will create two global Javascript variables that contain the name of the Grid alias, and the current row number in the Grid.<br />
<br />
3. In the Dialog component that you create, but this code in the onClick event for a button:<br />
<br />
<div class="plugincode" parse="javascript"><pre class="codelisting" data-syntax="javascript" dir="ltr" style="overflow:auto;" id="codebox1" >var parentGrid = window[&#39;__callingGridAlias&#39;];
var parentRow = window[&#39;__callingGridRow&#39;];
if[typeof parentGrid != &#39;__callingGridAlias&#39; &amp;&amp; typeof parentRow != &#39;__callingGridAlias&#39;] {
    var val = {dialog.object}.getValue[&#39;__callingGridRow&#39;];
    window[parentGrid + &#39;undefined&#39;].setValue[&#39;undefined&#39;,&#39;NAME&#39;,parentRow,val];
    var cw = A5.windows.getFromElement[this];
    cw.hide[];
}</pre></div><br />
This code checks to see if both the __callingGridAlias global variable and __callingGridRow variable are defined. If they are, then it does this:<br />
<br />
<ul><li>Reads the value of a control called 'Name' on the Dialog
</li><li>Executes the calling Grid's .setValue() method.
</li><li>Gets a pointer to the window in which the Dialog is being hosted.
</li><li>Closes (i.e. hides) the window.
</li></ul>The only tricky part about the code here is the way in which the calling Grid's .setValue() method is called.<br />
<br />
Since we know the calling Grid's alias (it is in __callingGridAlias), we can construct the object name for the calling Grid ( parentGrid + '_GridObj'). Then we look in the global Javascript variable frame for the object ( window<a class="wiki"  href="parentGrid+'_GridObj'" rel="">parentGrid+'_GridObj'</a>). Once we have the object, we can call methods of the object.<br />
<br />
<strong>Note: </strong><br />
These two lines of code:<br />
<br />
<div class="plugincode" parse="javascript"><pre class="codelisting" data-syntax="javascript" dir="ltr" style="overflow:auto;" id="codebox2" >var cw = A5.windows.getFromElement[this];
cw.hide[];</pre></div><br />
could be replaced with a single line:<br />
<br />
<div class="plugincode" parse="javascript"><pre class="codelisting" data-syntax="javascript" dir="ltr" style="overflow:auto;" id="codebox3" >{dialog.object}.closeContainerWindow[this];</pre></div><br />
<h2 class="showhide_heading" id="See_Also">See Also</h2>
<a href="../Component/Dialog Component - Videos.html" title="Videos for New Dialog Component V11" class="wiki">Videos for New Dialog Component </a><br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:How+to+Call+a+Dialog+Component+from+a+Grid+and+Pass+Information+from+the+Dialog+Back+to+the+Grid+V11">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web,review","status":"pending","keywords":"server,javascript,grid,component"}--->
</body></html>