	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			
<p class=A3Topic>Controlling Record Update</p>



	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">When you create or edit a web component you 
				might want to give some users the ability to delete, modify, and 
				or insert records. At the same time, you might want to deny this 
				ability to other users. In order to achieve this in Alpha 
				Anywhere you will first have to define what groups you wish to 
				create by setting up your
				<a href="../../Security/Web%20Application%20Security%20Guide.html">
				 web 
				security</a>. Once you have some groups and users defined</font>&nbsp;<font size="2">setting 
				what permission each group has over a component is relatively 
				easy. </font></p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p><b>Procedure:</b></p>
	<p>1.&nbsp; If you have set up Web Security already, Go to the Web Projects 
	Control Panel and click
	<img border="0" src="images/B_Gridbuilder.png" width="13" height="13"> to 
	open the Select Grid Component Dialog.</p>
	<blockquote>
		<p>1.&nbsp; Alternatively, click <font color="#0000FF">New</font> on the 
		Web Projects Control Panel toolbar.</p>
		<p>2.&nbsp; In the New File Dialog select Web Component and click
		<font color="#0000FF">Next &gt;</font>.</p>
		<p>3.&nbsp; When asked what type file you want to create, click
		<font color="#0000FF">Grid</font> and<font color="#0000FF"> Next &gt;</font>.</p>
	</blockquote>
	<p>2.&nbsp; The Select Grid Component Dialog will load. Leave the 'Start 
	with a blank Grid Component' radio button checked and click<font color="#0000FF">
	<u>O</u>K</font>.</p>
	<p>3. The <font color="#0000FF">Grid Builder</font> Dialog will load. On the
	<font color="#0000FF">Component Type</font> page at the top of the Component 
	Type tree menu select the Grid is: <font color="#0000FF">Updateable</font> 
	radio button. The Update Settings option will not appear in the Component 
	Type tree if you do not select Updateable.</p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_addrecords.png" width="460" height="247"></p>
	<p align="center">&nbsp;</p>
	<p align="left">4. Go to <font color="#0000FF">Grid &gt; Update Settings</font>.</p>
	<p align="left">5. Under the Update Settings Permissions options you can 
	adjust a groups ability to delete, update, or insert records into a 
	component. The permission property for a grid is compared to a 
 protected session variable named <span class=Code1>session.<strong>protected</strong>SecurityLevel</span>. 
	Your application code should set this variable to reflect the permissions of 
	the current user</p>
	<blockquote>
		<p class=A5>Deleting Records</p>
		<p>If you want to allow the user to delete records, optionally change the 
 		<span class=Button>Permissions > Delete Security Groups</span>. The groups 
		of users you select from the <i>Select Groups Allowed</i> menu on the
		<font color="#0000FF">Delete Allowed Security Groups</font> Dialog will 
 be allowed to delete records. If a user does not belong to one of these allowed groups then delete check boxes in the grid and 
 delete buttons in the detail view will not be displayed.</p>
		<p align="center">
		<img border="0" src="images/B_Deleterecords.png" width="716" height="317"></p>
		<p class=A5>Modifying Records</p>
		<p>Similarly, if you want to allow the user to update records, optionally change the
		<span class=Button>Permissions > Update Security Groups</span> settings 
		by clicking the &lt;Click button to edit&gt; text next to the option. The 
		groups you select will 
 be allowed to edit records. If the user is logged on with insufficient 
 		security for update, delete and insert, then the 'Submit' button 
 on the Grid will not be displayed.</p>
		<p class=A5>Inserting Records</p>
		<p>If you want to allow the user to insert records change the
		<span class=Button>Permissions > Insert Security Groups
		<font color="#000000">setting</font></span>. Users 
 with an insert security permission will 
 be allowed to insert records. If the user is logged on with an insufficient 
 Security Level then the 'Add' button is in the Detail View will not be 
 displayed.</p>
		<p>&nbsp;</p>
		<table border="1" width="100%" style="border-width: 0px">
			<tr>
				<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
					<p><font size="2">Below you can see how adding permissions 
					to a grid alters their final look. This is the same grid 
					that was created in the 'Creating a Grid for Microsoft 
					Access Using the SQL Builder' Guide. The user on the left 
					can enter information into open fields, delete it, save 
					entered information, undo changes using the undo button, and 
					ultimately Submit everything. The grid on the right has had 
					security added to it such that only one group has access to 
					it. Users without access can see records in this grid but 
					they can not alter those records or add new ones.</font></p>
					<p>&nbsp;</p>
					<p>
					<img border="0" src="images/B_WithoutSecurity.png" width="508" height="920">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<img border="0" src="images/B_WithSecurity.png" width="231" height="921"></p>
					<p>No Security</p>
				</blockquote>
				</td>
			</tr>
		</table>
		<p>&nbsp;</p>
	</blockquote>



<p class=A5>See Also</p>



<p><a href="Setting Grid Control Properties.html" title="Setting Grid Control Properties" class="wiki">Setting Grid Control Properties</a></p>






<p> <a href="../../Security/Web%20Application%20Security%20Guide.html">Web 
Application Security Guide</a></p>



<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Controlling+Record+Update">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"accept","keywords":"server,security,guide,grid"}--->
</body></html>