	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Creating a Session Variable when Clicking on a Link</p>

<p>A developer wanted to save the value of a grid field that was being used to link to a second page. The solution encodes the value of the field into the URL of the target page. This creates a session variable when the second (target) page appears.</p>

<p>The following URL opens the <span class=Code1>Showsubscriber.A5w</span> page with the filter expression <span class=Code1>edit_sub_filter=Acct_Id={Acct_Id}</span>. In addition, it creates the session variable <span class=Code1>session.CurrentSubAcct</span> set to the value found in the <span class=Code1>Acct_Id</span> field.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>Showsubscriber.A5w?edit_sub_filter=Acct_Id={Acct_Id}&session.CurrentSubAcct={Acct_Id}</td></tr> </table><p class=Note><img src="images/icon_information.gif" x-maintain-ratio=TRUE style="border: none; width: 36px; height: 32px; float: none; border-style: none; border-style: none;" width=36 height=32 border=0> <span class=Note>Note</span> : All variables created&nbsp;as&nbsp;part of a URL are of type character.</p>

<p class=A5>See Also</p>

<p><a href="/Index/Contents - Web Publishing Tutorial.html" title="Contents - Web Publishing Tutorial" class="wiki">Contents</a></p>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Creating+a+Session+Variable+when+Clicking+on+a+Link">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"server,grid","tags":"web"}--->
</body></html>