	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1>Creating a Grid for Microsoft Access Using the SQL Builder</h1>
	<p class=A3Topic>&nbsp;</p>

<ol> <li><p>Go to the <font color="#0000FF">Web Projects Control Panel</font>  
	and click the <font color="#0000FF">New </font>button near the top left-hand 
	corner of the dialog. Under the New File Dialog choose <font color="#0000FF">
	Web component &gt; Next &gt; Grid &gt; Next</font> to create a new grid component.</p>

</li>
	<li>
	<p>On the 'Select Grid Component Template' page select the 'Start with a 
	blank Grid Component' radio button and click <u><font color="#0000FF">O</font></u><font color="#0000FF">K</font></p>

</li> <li><p>The<font color="#0000FF"> Grid Builder</font> Dialog will open. 
	Make sure the <font color="#0000FF">Design</font> Tab is open.</p>

</li> <li><p>Under the <font color="#0000FF">Grid Layout</font> menu select the&nbsp;"<font color="#0000FF">Stacked Columnar</font>" 
	option. This produces a multi-record view that looks like multiple forms 
	arrayed in a grid, with field labels above fields as show in the preview 
	screen inside the design page.</p>

</li> <li><p>Select the <font color="#0000FF">Updateable</font> radio button.</p>

</li> </ol>
	<p align="center">
	<img border="0" src="images/A_GridLayout.png" width="694" height="415"></p>
	<p>&nbsp;</p><p class=A5><a name=Selecting_the_Data_Source>Selecting the Data Source</a></p>

<ol start=1> <li><p>Go to the Component Type tree menu on the Design page and 
	under Grid click <font color="#0000FF">Data Source</font>.</p>

</li> <li><p>Select the SQL Database accessed via AlphaDAO (Alpha Data Access 
	Objects) option.</p>

</li> </ol>
	<p align="center">
	<img border="0" src="images/A_SQL_Databaseoption.png" width="542" height="164"></p><p class=A5><a name=Selecting_the_Records_to_Display>Selecting the Records to Display</a></p>

<ol start=1> <li><p>Display the <font color="#0000FF">Grid > Query (AlphaDAO)</font> page.</p>

</li> <li><p>Change the <font color="#0000FF">Connection Type</font> to
	<font color="#0000FF">Specify Connection String</font>. This will open the 
	Create SQL Connection String Dialog box. </p>

</li>
	<li>
	<p>When the Create SQL Connection String Dialog box opens leave the
	<font color="#0000FF">Connection Type</font> drop down at the top of the 
	dialog set to <font color="#0000FF">Access</font>.</p>

</li> <li><p>In the Create SQL Connection String Dialog, click <img src="images/Folder_button.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> 
	under the options menu to 
	select a file and navigate to the "Northwind" database in the MDB Filename field. 
	Click <font color="#0000FF">Open</font>.</p>

</li>
	<li>
	<p>Click <font color="#0000FF"><u>O</u>K</font> to close the Create SQL 
	Connection String Dialog.</p>

</li> <li><p>Click <font color="#0000FF">Connect</font>. This opens the Access database so you can select the table or view that you want to use.</p>

</li> <li><p>Select the SQL Select Statement radio button.</p>
	<p>&nbsp;</p>

	<p align="center">

</li>


	<img border="0" src="images/A_SQLSelect.png" width="826" height="159"></p>
	<p>&nbsp;<li>
	<p>Click the<font color="#0000FF"> Edit SQL button</font> to display the 
	<a href="../References/Web/Web Publishing/SQL Builder.html" title="SQL Builder" class="wiki">SQL Builder</a> dialog box.</p>
	</li>
	<li>
	<p>The <font color="#0000FF">SQL Genie</font> should appear. Make sure the
	<font color="#0000FF">Tables</font> tab is open. </p></li>
	<li>
	<p>Click Add Table to display the Add Table dialog box.</p></li>
	<li>
	<p>Select the "Customers (Table)" entry in the Tables list and click<font color="#0000FF">
	<u>O</u>K</font>.</p>
	</li>
	<li>
	<p>Click Add Table to display the Add Table dialog box.</p></li>
	<li>
	<p>Select the "Orders (Table)" in the entry in the Tables list and click
	<font color="#0000FF">Next</font>, check the table is 
	not joined button, and click <font color="#0000FF">Finish</font>, then click
	<font color="#0000FF"><u>O</u>K</font>.<br></p>
	<p align="center">
	<img border="0" src="images/A_addtable.png" width="258" height="172">
	
	
	</p>
	<p><br>&nbsp;<li>
	Under the Query page Click <font color="#0000FF">Select Primary Key(s)</font> to display the Specify Primary Keys dialog box. Leave the 
	Table is read-only check box empty.</li><ol>
		<li>
		Select the "Customers" table from the Tables list.</li>
		<li>
		Check the "CustomerID" field.</li>
		<li>
		Select the "Orders" table from the Tables list.</li>
		<li>
		Check the "OrderID" field.</li>
		<li>
		Click <font color="#0000FF"><u>O</u>K </font>to continue.</li>
	</ol>
	<p align="center"><img border="0" src="images/A_PrimaryKeys.png" width="465" height="385"><br>
&nbsp;</p> 
	 <table border="1" width="100%" style="border-width: 0px" height="121">
		<tr>
			<td style="border-style: none; border-width: medium" bgcolor="#DDE8E8">&nbsp;<blockquote>
				<p><span id="description1"><font size="2"><b>Note:</b> Since this grid is updateable, you must include both the fields that you wish to display plus the primary keys of the tables that contain these fields, even if you do not wish to display them.</font></p>
				<p>&nbsp;</p>
			</blockquote></td>
		</tr>
	</table> 
	 </ol><p class=A5><a name=Selecting_the_Fields_to_Display1>Selecting the Fields to Display</a></p>

<ol start=1> <li><p>Display the Grid > Fields page.</p>

</li> <li><p>Leave the Grid is editable check box unchanged. Although a grid starts out&nbsp;as&nbsp;updateable, it can still be read only. This has the virtue of using text boxes instead of labels to represent the data in the grid, which in turn provides more reliable formatting alternatives,&nbsp;as&nbsp;well&nbsp;as&nbsp;the ability to copy data from the fields.</p>

</li> <li><p>In the Available Fields list select "Customerid" through "Orderdate" and click <img src="images/Move_Right_Button.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0>.</p>

</li> </ol><p class=A5><a name=Formatting_the_Grid>Formatting the Grid</a></p>

<ol start=1> <li><p>Display the Grid > Properties page.</p>

</li> <li><p>Under the Layout Options menu click the
	<img border="0" src="images/A_expandchoices.png" width="15" height="14"> 
	button located on the <font color="#0000FF">Style Name</font> Row. This will display the 
	<font color="#0000FF">Select Style</font> dialog.</p>

</li> <li><p>Under the Location menu on the Left side of the
	<font color="#0000FF">Select Style</font> dialog select System. From the 
	list of styles that appear select <font color="#0000FF">GrTan</font>. You can add new styles or modify existing styles.</p>

</li> <li><p>Change the <font color="#0000FF">Layout Options > Repeating columns</font> field value to "4".</p>

</li> <li><p>Change the <font color="#0000FF">Layout Options > Snaking style</font> field value to "LRTB".</p>

</li> </ol>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><span id="description0"><b><font size="2">Note:</font></b><font size="2"> With the 
				<font color="#0000FF">Stacked Columnar</font> grid style, the 
				<font color="#0000FF">Layout Options > Rows of data field</font> actually specifies the number of forms to display. Since the 
				<font color="#0000FF">Layout Options &gt; Repeating columns </font>
				field value is "4" and the <font color="#0000FF">Permissions > Number of new record rows on the Grid > Update Settings</font> page will be set to "1", this field value will be set to "3" ( 4 - 1 = 3).</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>

<ol start=6> <li><p>Change the <font color="#0000FF">Layout Options > Rows of data</font> field value to "3".</p>

</li> <li><p>Scroll down the long list of properties to the
	<font color="#0000FF">Record Navigator </font>properties, you can collapse 
	the lists of properties you are not interested in by clicking the minus sign 
	next their title.</p>

</li>
	<li>
	<p>Click the <img src="images/Web_Properties_button.gif" x-maintain-ratio=TRUE style="border: none; width: 17px; height: 18px; float: none; border-style: none; border-style: none;" width=17 height=18 border=0> button in the<font color="#0000FF"> Record Navigator > Record navigator layout</font> field to display the 
	<font color="#0000FF">Record Navigator Designer</font> dialog box. You can modify the default navigator styles or create new navigator styles.</p>

</li> 
<br>
<li>

<p align="left">Select the 
	<img border="0" src="images/A_arrows.png" width="82" height="20"> Pre-Defined Format and click 
<font color="#0000FF"><u>O</u>K</font>.</li></p>
	<p align="center">
	<br>
	<img border="0" src="images/A_RecordNavigatorDesigner.png" width="704" height="331">


	<li>
	<p>Change the <font color="#0000FF">Record Navigator > Record navigator position</font> field to "<font color="#0000FF">Above and Below Grid</font>".</p>
	</li>
	<li>
	<p>Scroll back up the list of Properties until you come to the
	<font color="#0000FF">Customization</font> properties. Click the 
	<img src="images/Web_Properties_button.gif" x-maintain-ratio=TRUE style="border: none; width: 17px; height: 18px; float: none; border-style: none; border-style: none;" width=17 height=18 border=0> button in the 
	<font color="#0000FF">Customization > 'Total records' message text</font> field to display the 
	<font color="#0000FF">HTML Editor</font>.</p>

</li> 
	<ol>
		<li>
		<p>Display the<font color="#0000FF"> Source</font> tab.</p></li>
		<li>
		<p>Erase all the HTML code and click <font color="#0000FF">Save</font>.</p>
		</li>
	</ol>
	<li>
	<p>Scroll down the Properties list until you see the <font color="#0000FF">
	Freeform Edit Regions</font> title. Click the 
	<img src="images/Web_Properties_button.gif" x-maintain-ratio=TRUE style="border: none; width: 17px; height: 18px; float: none; border-style: none; border-style: none;" width=17 height=18 border=0> button in the 
	<font color="#0000FF">Freeform Edit Regions > Above Grid </font>field to display the 
	<font color="#0000FF">Freeform Edit Regions Editor</font> dialog. To the 
	right there will be an area to enter HTML. Click the <font color="#0000FF">HTML Editor</font> 
	button if you would like more HTML tools to work with.</p>

</li> 
	<ol>
		<li>
		<p>Enter &quot;Northwind Customer Orders&quot; into the HTML editor, adjusting the 
		format and font to your liking.</p>
		<li>
		<p>In the HTML Editor Click <font color="#0000FF">Save</font>.</p>
		<p><br></p>
		<p align="center"></li>
		<img border="0" src="images/A_Freeform.png" width="908" height="351">
		
		</p>
		<p>&nbsp;</ol>
	<li>
	<p>Click <font color="#0000FF"><u>O</u>K</font> in the Freeform Edit Regions 
	Dialog.</p></li> </ol><p class=A5><a name=Defining_Update_Settings>Defining Update Settings</a></p>

<ol> <li><p>Go back to the Component Type tree menu on the left side of the Grid 
	Builder and click&nbsp; the <font color="#0000FF">Grid > Update Settings</font> page.</p>

</li> <li><p>Uncheck the <font color="#0000FF">Permissions > Allow delete </font>check box.</p>

</li> <li><p>Change the <font color="#0000FF">Permissions > Number of new record rows</font> to "1".</p>

</li> </ol><p class=A5><a name=Previewing_the_Grid>Previewing the Grid</a></p>

<ol start=1> <li><p>The first stage of previewing your work is to create a page onto which to place the new component.</p>

</li> <ol> <li><p>Click <img src="images/Save_button.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> to preserve your work. Name it "Access_SQL_Grid".</p>

</li> <li><p>Click Close to return to the Web Projects Control Panel.</p>

</li> <li><p>Click <img src="images/New_Query_button.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> on the toolbar.</p>

</li> <li><p>Select <font color="#0000FF">A5W Page &gt; Next</font> and then
		<font color="#0000FF">Blank Page &gt; Next</font> open the HTML Editor.</p>

</li> <li><p>Click <font color="#0000FF">File > Save As</font>. Name the page "Access_SQL_Grid" and click 
		<font color="#0000FF">OK</font>.</p>

</li> </ol> <li><p>The next stage is to place the component on the page.</p>

</li> <ol> <li><p>Click <img src="images/Genie_button.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> 
		<font color="#0000FF">Insert Component</font> button to display the 
		<font color="#0000FF">Insert Component</font> dialog. The button should 
		appear in the very top center of the Web Projects Control Panel.</p>

</li> <li><p>Click Select to display the Select Component dialog.</p>

</li> <li><p>Select "Access_SQL_Grid&quot; and click <font color="#0000FF"><u>O</u>K</font>.</p>

</li> <li><p>Change the component Alias in the <font color="#0000FF">Insert 
		Component Dialog</font> to "ASG" and click <font color="#0000FF">OK</font>. This makes the code that 
		Alpha Anywhere generates in the background more compact, but the main benefit is it allows you to transparently replace the component with another component with the same alias.</p>

</li> <li><p>Click <img src="images/Save_button.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> and close the HTML Editor.</p>

</li> </ol> 
	<p>&nbsp;</p> <li><p>Next, publish the files to the local webroot. The local webroot is presumably the location where you will test your website. In most cases you will create a second profile (in this case "AlphaSports") where you will publish your finished public website.</p>

</li> <ol> <li><p>Display the A5W Pages page of the Web Projects Control Panel 
		by clicking on '<font color="#0000FF">A5W Pages</font>' in the list on 
		the left side of the panel.</p>

</li> <li><p>Right click "Access_SQL_Grid" and select<font color="#0000FF"> Publish (local webroot) and open</font>. 
		Click <font color="#0000FF"><u>O</u>K</font>. You should see something 
		like the following image displayed in you browser.</p>

</li> </ol> </ol>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2"><b>Note:</b> If you get a 404 Error after your A5W 
				page is published you may have set the page security to &quot;Always 
				Denied&quot;. To remedy this open the <font color="#0000FF">A5W Pages</font> 
				again in the Web Projects Control Panel. Right click on the 
				Access_SQL_Grid.A5W page. In the right click menu scroll down to
				<font color="#0000FF">Page Security</font> and on the menu that 
				opens under page security make sure that <font color="#0000FF">
				'Always Allowed'</font> is selected for this page's security. 
				Re-publish the page by selecting<font color="#0000FF"> Publish 
				(local webroot) and open</font> and clicking
				<font color="#0000FF"><u>O</u>K</font> just as you did above. 
				The page should then appear in your browser.</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p class=Pix>
	<img border="0" src="images/WPT_Access_SQL_Grid.png" width="1030" height="971"></p>

<p class=A5>See Also</p>

<p> <a href="/Index/Contents - Web Publishing Tutorial.html" title="Contents - Web Publishing Tutorial" class="wiki">Contents</a></p>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Creating+a+Grid+for+Microsoft+Access+Using+the+SQL+Builder">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,design,guide,grid,component,sql"}--->
</body></html>