	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1>Creating a Grid that Looks Like a Dialog</h1
			>
	<p>&nbsp;</p
			>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<span id="description0"><blockquote>
				<p><font size="2">Many users would like to create a dialog component that is bound to a table, and thereby provide record level record addition, deletion, and editing. If you are familiar with Xbasic, the task is fairly simple. However, if you would like a no-programming solution, the answer is create a grid component that looks like a dialog component.</font></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<ol> 
		<p ><b>Procedure:</b></p>
		<p >1.&nbsp;&nbsp; Open the Web Projects Control Panel.</p>
		
		<p >2.&nbsp;&nbsp; Click<font color="#0000FF"> 
	New &gt; Web Component &gt; Next > Grid >&nbsp; Next</font></p>
		<p >&nbsp;</p>
		<p >
		<img border="0" src="images/A_Open%20Component.png" width="287" height="203"></p>
		<p >&nbsp;</p>
		<p >3.&nbsp;&nbsp; This should load the Select Grid Component Template 
		dialog, select the '<font color="#0000FF">Start with a blank grid 
		component</font>' radio button and hit <font color="#0000FF"><u>O</u>K</font>.</p>
		<p >&nbsp;</p>


		<p >4.&nbsp;&nbsp; The<font color="#0000FF"> Grid Builder </font>Dialog 
		page will appear. From the <font color="#0000FF">Grid Layout</font> menu 
		select <font color="#0000FF">Form (Columnar)</font>. Also make sure to 
		click the Updateable radio button, otherwise the update settings option 
		will not appear under Grid.</p>
		<p >&nbsp;</p>
		<p >5.&nbsp;&nbsp; From the Grid tree on the right hand side of the Grid 
		Builder select <font color="#0000FF">Grid > Data Source.</font> A page 
		will appear where you will be asked to select the appropriate data source for your application (in this example we selected 
	Alpha Anywhere .dbf Tables ).</p>
		<p >&nbsp;</p>
		<p >
		<img border="0" src="images/A_GridBuilderdbf.png" width="549" height="214"></p>
		<p >&nbsp;</p>
		<p >6.&nbsp;&nbsp; From the grid tree select the <font color="#0000FF">Grid > Query</font> page. 
		Under '<font color="#0000FF">Display data from</font>' select the table or view that is providing the data. 
		Also select a <font color="#0000FF">Table name</font>: (in this example we selected "Customer" from the Table Name list).</p>
		<p >&nbsp;</p>
		<p >
		<img border="0" src="images/A_Querydbf.png" width="684" height="165"></p>
		<p >&nbsp;</p>
	
		<p >7.&nbsp;&nbsp; Display the <font color="#0000FF">Grid > Fields</font> page.</p>
		<p >8.&nbsp;&nbsp; Select and format the fields you wish to display. Use 
		the arrows between the 'Available Fields' list and the 'Selected' list 
		to select fields. You can choose the formats you would like for each 
		field under Field Properties.</p>
		<p >&nbsp;</p>
		<p >
		<img border="0" src="images/A_OpenFields.png" width="954" height="196"></p>
	
		<p >&nbsp;</p>
		<p >9.&nbsp;&nbsp; Go to the grid tree and Select the 
		<font color="#0000FF">Grid > Properties page</font>.</p>
		<p >10.&nbsp;&nbsp; Change the value in the <font color="#0000FF">Layout Options > Rows of data</font> property to 2.</p>
		<p >&nbsp;</p>
		<p >
		<img border="0" src="images/A_RowsofData.png" width="573" height="84"></p>
		<p >&nbsp;</p>
	
		<p >11. Go to the <font color="#0000FF">Grid &gt; Update</font> Settings 
		page under the Grid tree menu. This option will only be visible if you 
		clicked on 'Updatable' under Component Type.</p>
		<p >12. Change the value in <font color="#0000FF">Permissions &gt; Number 
		of new record rows</font> property to 1.</p>
		<p >13. Select the <font color="#0000FF">Permissions &gt; Show new records 
		on last page only</font> check box.</p>
		<p >&nbsp;</p>
		<p >
		<img border="0" src="images/A_GridBuilderpermission.png" width="573" height="65"></p>
		<p >&nbsp;</p>
		<p >14. Go back to the <font color="#0000FF">Grid &gt; Properties </font>
		page and change the value in the<font color="#0000FF"> Layout Options &gt; 
		Rows of data property</font> to 1.</p>
		<p >11.&nbsp;&nbsp; Go to <font color="#0000FF">Live Preview </font>tab 
		at the top of the <font color="#0000FF">Web Builder Dialog</font>. 
		Select '<font color="#0000FF">Full Preview</font>'. The results should 
		look something like the following. </p>
	 </ol>

<p class=Pix>
<img border="0" src="images/WPT_Grid_Looks_Like_Dialog.png" width="512" height="683"></p>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Creating+a+Grid+that+Looks+Like+a+Dialog">-->


	<div class="wikitopline" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"server,guide,grid,component","tags":"web"}--->
</body></html>