	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Date_and_Time_Fields_-_Date_Picker">Date and Time Fields - Date Picker</h1>
You can now turn off the Date picker for Date and Time fields. By default, for every date and time field, the Grid shows an icon that you can click to open the date picker. Turning off the date picker is useful if you want to use a 3rd party date picker, such as a JQuery date picker. The ability to use 3rd party controls in the Grid is another new V11 feature.<br />
<br />
You can also configure the method used to open the date picker. In V10 the only method was to display an icon which the user clicks to open the data picker. In V11, you can set the open method to either 'ClickIcon' or 'Focus'. If you select 'Focus' then the icon is not shown and the date picker is opened automatically as soon as the user clicks in the date field.<br />
<h2 class="showhide_heading" id="See_Also">See Also</h2>
<a href="../CSS/JQuery Support.html" title="JQuery Support V11" class="wiki">JQuery Support V11</a><br />
<a href="Grid and Dialog Component/Grid and Dialog Component jQuery Date Picker.html" title="Grid and Dialog Component jQuery Date Picker V11" class="wiki">Grid and Dialog Component jQuery Date Picker V11</a><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Date+and+Time+Fields+-+Date+Picker+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web,review","status":"pending","keywords":"server,grid","notes":"Other small date and time pages, combine? also v10, v11"}--->
</body></html>