	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			
<p class=A3Topic>Displaying Field Values in GridLinkers</p>



<p>It is possible to display the field values from the currently selected 
 record in a parent grid in a child grid when parent and child grids are 
 placed in a <a href="../Web/Web Publishing/Creating GridLinker Components.html" title="Creating GridLinker Components" class="wiki">gridlinker</a> 
 or <a href="../Web/Web Publishing/Creating Tabbed GridLinker Components.html" title="Creating Tabbed GridLinker Components" class="wiki">tabbed gridlinker</a>. 
 The following example references 2 tables from the AlphaSports sample 
 database. The parent grid is based on the <span class=Code1>OrderHeader</span> 
 table. The child grid is based on the <span class=Code1>InvoiceItems</span> 
 table.</p>



<p>The top image displays HTML text and part of the <span class=Code1>InvoiceItems</span> 
 grid&nbsp;as&nbsp;it appears in the <span class=Screen>Grid Builder</span>. 
 The bottom image shows the same grid inside a gridlinker after invoice 
 number 000001 was selected in the <span class=Code1>OrderHeader</span> 
 grid. </p>



<p class=Pix><img src="images/WP_Embedding_Field_Values_in_GridLinker.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 714px;
							height: 311px;
							float: none;
							border-style: none;
							border-style: none;"
					width=714
					height=311
					border=0></p>



<p>You can place these field references into any static HTML text. The 
 syntax is very simple:</p>



<p>{ParentGrid: <span class=Argument>fieldname</span> } displays HTML encoded 
 text.</p>



<p>{ParentGrid:Raw: <span class=Argument>fieldname</span> } displays raw 
 unencoded text, which you might use in an URL.</p>



<p class=A5>See Also</p>



<p><a href="../Web/Web Publishing/Creating GridLinker Components.html" title="Creating GridLinker Components" class="wiki">Creating GridLinker Components</a>, 
 <a href="../Web/Web Publishing/Creating Tabbed GridLinker Components.html" title="Creating Tabbed GridLinker Components" class="wiki">Creating Tabbed GridLinker   Components</a></p>




<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Displaying+Field+Values+in+GridLinkers">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,grid,html,asports"}--->
</body></html>