	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h2>How to Dynamically Show/Hide the Alphabet Buttons Search Bar</h2>
<p>The Alphabet Buttons search bar is a useful addition to your Grid if your  Grid is displaying a large number of records, but if there are only a few  records in the Grid (perhaps because the last search that was run only returned  a few records), you might want to hide the Alphabet Buttons search bar.</p>
<p>The following Javascript can be used to dynamically show/hide the Alphabet  Buttons Search Bar:</p>
<p>If there are fewer than 5 records in the Grid, the Alphabet Buttons Search  Bar will be&nbsp; hidden.</p>
<p class="xbasic">records = {Grid.object}._totalRecordsInGrid;<br />
ele =  $('{Grid.ComponentName}.ALPHABETBUTTONS');</p>
<p class="xbasic">minRecords = 5;<br />
if(ele) {<br />
&nbsp;&nbsp;&nbsp; if(records < minRecords )  ele.style.display = 'none';<br />
&nbsp;&nbsp;&nbsp; else ele.style.display = '';<br />
}</p>
<div>&nbsp;This code should be added to the 'afterAjaxCallbackComplete' event in the  Javascript - System Events category.
<p><span class="Apple-style-span" style="font-family: Tahoma; line-height: normal; "><a href="http://www.ajaxvideotutorials.com/V10Videos/HideShowAlphabetButtons.swf">Watch Video</a></span></p>
</div>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:How+to+Dynamically+Show+and+Hide+the+V10+Grid+Alphabet+Buttons+Search+Bar">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,guide,grid"}--->
</body></html>