	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h2>Embedded Linked Grids</h2>
<p>When you are designing a Grid (Grid part), the 'Insert...' menu now has a new  command. In addition to the usual objects (such as Tabs, Containers, Frames,  Images, Buttons, etc.), there is now a new object that you can insert into the  Grid - 'Linked Grid(s)'. If you specify more than one Grid, the linked grids  will display in a tab or accordion control. The linked Grids are linked to one  or more fields in the current row.</p>
<p>The image below shows a Customer grid. The last cell in the Grid contains an  embedded, linked Grid showing the orders for that customer.</p>
<p>The embedded Grids are rendered by making subsequent Ajax callbacks after the  parent Grid has rendered. This means that the embedded Grids do not slow down  the initial rendering of the parent Grid.</p>
<p>	<img src="images/GridWithEmbeddedGrids.JPG" height="504" width="974" alt="Image" /></p>
<p>&nbsp;</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Embedded+Linked+Grids+V10">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"grid"}--->
</body></html>