	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Formatting Grid Controls</p>

<p class=A5><a name=Opening_a_Grid_Component>Opening a Grid Component</a></p>

<ol start=1> <li class=kadov-p-CListNumber><p class=ListNumber>Select "Web Components" in the left pane, so that you can see your new grid component.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Select "AlphaSports_Customer_Grid" and click <span class=Button>Edit</span>.</p>

</li> </ol><p>At this point your new grid should look something like the following (using the default cascading style sheet). </p>

<p class=Pix><img src="images/WPT_First_Grid.gif" x-maintain-ratio=TRUE style="border: none; width: 731px; height: 391px; float: none; border-style: none; border-style: none;" width=731 height=391 border=0></p>

<p class=A5><a name=Modifying_Grid_Controls>Modifying Grid Controls</a></p>

<p>There are many formatting options available through the <span class=Screen>Grid Component Builder</span> menus. We will just make a few modifications to some of the (textbox) controls show you how easy it is.</p>

<ol start=1> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Grid > Fields</span> page.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Select "Customer_Id" in the <span class=Control>Selected Fields</span> list.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>Column Properties > Column heading</span> to "ID".</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>Column Properties > Heading in-line style</span> to "text-align: left;".</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Select "Firstname" in the <span class=Control>Selected Fields</span> list.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>TextBox Properties > Size</span> to 10.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>Column Properties > Column heading</span> to "First Name".</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>Column Properties > Heading in-line style</span> to "text-align: left;".</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Select "Lastname" in the <span class=Control>Selected Fields</span> list.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>TextBox Properties > Size</span> to 10.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>Column Properties > Column heading</span> to "Last Name".</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>Column Properties > Heading in-line style</span> to "text-align: left;".</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Select "Company" in the <span class=Control>Selected Fields</span> list.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>TextBox Properties > Size</span> to 20.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>Column Properties > Heading in-line style</span> to "text-align: left;".</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Select "Phone" in the <span class=Control>Selected Fields</span> list.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>TextBox Properties > Size</span> to 17.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>Column Properties > Heading in-line style</span> to "text-align: left;".</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Select "Fax" in the <span class=Control>Selected Fields</span> list.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>TextBox Properties > Size</span> to 17.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change its <span class=Button>Column Properties > Heading in-line style</span> to "text-align: left;".</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Select the <span class=Screen>Live Preview</span> tab. The grid should now look something like this. </p>

</li> </ol><p class=Pix><img src="images/New_Grid_with_Modified_Fields.gif" x-maintain-ratio=TRUE style="border: none; width: 571px; height: 338px; float: none; border-style: none; border-style: none;" width=571 height=338 border=0></p>

<p class=A5>See Also</p>

<p> <a href="/Index/Contents - Web Publishing Tutorial.html" title="Contents - Web Publishing Tutorial" class="wiki">Contents</a>, <a href="Setting Grid Control Properties.html" title="Setting Grid Control Properties" class="wiki">Setting Grid Control Properties</a></p>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Formatting+Grid+Controls">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"server,guide,grid,component","tags":"web"}--->
</body></html>