<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>New Page 1</title>
<style>
<!--
a {
	color: #0001a6;
	text-decoration: none;
}

.tableHeader {
	background-color: #ededed;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-left-style: Solid;
	border-top-style: Solid;
	border-right-style: Solid;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-color: #cdcdcd;
	border-right-color: #cdcdcd;
	border-top-color: #cdcdcd;
	border-bottom-color: #cdcdcd;

}
.TableCell {
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border-left-style: Solid;
	border-top-style: Solid;
	border-right-style: Solid;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-color: #cdcdcd;
	border-right-color: #cdcdcd;
	border-top-color: #cdcdcd;
	border-bottom-color: #cdcdcd;
}

.TableBullet {
	list-style: disc;
	margin-top: -4pt;
	margin-bottom: -4pt;
}

-->
</style>
</head>

<body>

<h1><font face="Verdana" color="#663300">Grid Update Settings</font></h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



&nbsp;</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class="A3Topic" style="font-family: Verdana, sans-serif; font-size: 18pt; font-weight: bold; font-style: normal; color: #00007c; x-next-class; x-next-type: P; margin-left: 0pt; margin-right: 0pt; margin-top: 0pt; margin-bottom: 14pt">
			Setting Update Properties</p>
<p style="margin: 2pt 0pt">This topic continues to describe the process of 
creating a grid component.</p>
<p style="margin: 2pt 0pt">The
<span class="Screen" style="color: #005511; font-weight: bold; font-style: normal">
Grid Update Settings</span> page only appears if the grid is editable 
(updateable).</p>
<p class="A5" style="font-family: Verdana, sans-serif; font-size: 10pt; font-weight: bold; font-style: normal; x-next-class; x-next-type: P; margin-left: 0pt; margin-right: 0pt; margin-top: 14pt; margin-bottom: 2pt">
<a name="Permissions">Permissions</a></p>
<ol start="1">
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Select
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Grid &gt; Update Settings</span>. The resulting dialog boxes control the 
	editing properties of the component.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">If 
	you want to prevent the user from deleting records, uncheck
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Permissions &gt; Allow delete</span>.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">If 
	you want to prevent the user from editing records, uncheck
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Permissions &gt; Allow update</span>.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">If 
	you want to prevent the user from inserting records, uncheck
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Permissions &gt; Allow insert</span>.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, change the number of empty new record rows that will appear at 
	the bottom of the grid from 3 in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Permissions &gt; Number of new record rows</span> field.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">If 
	you want to allow the user to delete records, optionally change the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Permissions &gt; Delete security level</span>. Users with a delete security 
	level greater than or equal to this number will be allowed to delete 
	records. If the user is logged on with insufficient Security Levels for 
	delete, then the Delete check box in the grid and the Delete button in the 
	Detail View will not be displayed.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">If 
	you want to allow the user to update records, optionally change the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Permissions &gt; Update security level</span>. Users with a update security 
	level greater than or equal to this number will be allowed to edit records. 
	If the user is logged on with insufficient Security Levels for update, 
	delete and insert, then the 'Submit' button on the Grid will not be 
	displayed.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">If 
	you want to allow the user to insert records, optionally change the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Permissions &gt; Insert security level</span>. Users with a insert security 
	level greater than or equal to this number will be allowed to insert 
	records. If the user is logged on with an insufficient Security Level then 
	the 'Add' button is in the Detail View will not be displayed.</li>
</ol>
<table style="x-cell-content-align: top;
				width: 100%;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
	<colgroup>
		<col style="width: 20%;"><col style="width: 1%;">
		<col style="width: 79%;">
	</colgroup>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableHead" style="font-weight: bold; font-style: normal; margin: 0pt">
		Category</td>
		<td rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 80%;" valign="top" width="80%">
		<p class="TableHead" style="font-weight: bold; font-style: normal; margin: 0pt">
		Options and Description</td>
<td_null>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Allow delete</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies whether the user can 
		delete records.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.allow_delete&nbsp;as&nbsp;L</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Allow update</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies whether the user can 
		edit records.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.allow_update&nbsp;as&nbsp;L</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Allow insert</td>
		<td rowspan="1" colspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies whether the user can 
		add records.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.allow_insert&nbsp;as&nbsp;L</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Number of new record rows</td>
		<td rowspan="1" colspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Sets the number of blank 
		records that appear at the bottom of the grid.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.number_of_insert_rows&nbsp;as&nbsp;N</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Delete security level</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Sets the security minimum level 
		the user must have before he can delete records.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.DeleteSecurityLevel&nbsp;as&nbsp;N</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Update security level</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Sets the security minimum level 
		the user must have before he can edit records.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.UpdateSecurityLevel&nbsp;as&nbsp;N</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Insert security level</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Sets the security minimum level 
		the user must have before he can insert records.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.InsertSecurityLevel&nbsp;as&nbsp;N</span></td>
	</tr>
</table>
<p class="A5" style="font-family: Verdana, sans-serif; font-size: 10pt; font-weight: bold; font-style: normal; x-next-class; x-next-type: P; margin-left: 0pt; margin-right: 0pt; margin-top: 14pt; margin-bottom: 2pt">
<a name="Validation">Validation</a></p>
<ol>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, uncheck
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Validation &gt; Only validate edited fields</span>. Unchecking this field will 
	speed the process of your page.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, change the way errors will be reported in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Validation &gt; Template for reporting errors</span> field. The following 
	placeholders are available.</li>
</ol>
<ol style="list-style: disc;" type="disc">
	<ul style="list-style: disc;" type="disc">
		<li class="kadov-p-CBullet1">
		<p class="Bullet1" style="list-style-type: disc; margin-left: -6pt; margin-right: 0pt; margin-top: 5pt; margin-bottom: 5pt">
		{Field} - the name of the field that had the error</li>
		<li class="kadov-p-CBullet1">
		<p class="Bullet1" style="list-style-type: disc; margin-left: -6pt; margin-right: 0pt; margin-top: 5pt; margin-bottom: 5pt">
		{Value} - the value that was placed into the field</li>
		<li class="kadov-p-CBullet1">
		<p class="Bullet1" style="list-style-type: disc; margin-left: -6pt; margin-right: 0pt; margin-top: 5pt; margin-bottom: 5pt">
		{Error} - the error message returned by the
		<span class="Screen" style="color: #005511; font-weight: bold; font-style: normal">
		Application Server</span>.</li>
	</ul>
</ol>
<ol start="3">
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, change the instruction message that appears in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Validation &gt; Instruction message</span> field when an error occurs.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, change the error page row heading in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Validation &gt; Error page 'Row' heading</span> field.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, change the error page error heading in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Validation &gt; Error page 'Error' heading</span> field.</li>
</ol>
<table style="x-cell-content-align: top;
				width: 100%;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
	<colgroup>
		<col style="width: 20%;"><col style="width: 1%;">
		<col style="width: 79%;">
	</colgroup>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableHead" style="font-weight: bold; font-style: normal; margin: 0pt">
		Category</td>
		<td rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 80%;" valign="top" width="80%">
		<p class="TableHead" style="font-weight: bold; font-style: normal; margin: 0pt">
		Options and Description</td>
<td_null>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Only validate edited fields</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">When checked, you avoid 
		validating fields that have not been edited, which speeds the processing 
		of the page.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.OnlyValidateEditedFields&nbsp;as&nbsp;L</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Template for reporting errors</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies the format of error 
		messages.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.ValidationSettingsErrorTemplate&nbsp;as&nbsp;C</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Instruction message</td>
		<td rowspan="1" colspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Appears when a validation error 
		occurs and tells the user what to do next.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.ValidationSettingsMessage&nbsp;as&nbsp;C</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Error page 'Row' heading</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies the label that 
		appears above the row or column number when a validation error message 
		appears.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.ValidationErrorsRowColumnTitle&nbsp;as&nbsp;C</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Error page 'Error' heading</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies the label that 
		appears above the error message when a validation error message appears.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.ValidationErrorsErrorColumnTitle&nbsp;as&nbsp;C</span></td>
	</tr>
</table>
<p class="A5" style="font-family: Verdana, sans-serif; font-size: 10pt; font-weight: bold; font-style: normal; x-next-class; x-next-type: P; margin-left: 0pt; margin-right: 0pt; margin-top: 14pt; margin-bottom: 2pt">
<a name="Customization">Customization</a></p>
<ol>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, change the submit button label in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Customization &gt; Submit button label</span> field.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, change the delete check box label in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Customization &gt; Delete check box label</span> field.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, select the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Customization &gt; Has 'Cancel' button</span> check box. This selection allows 
	you to set the next property.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, change the cancel button label in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Customization &gt; 'Cancel' button label</span> field.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, select the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Customization &gt; Confirm before submit</span> check box. This selection 
	displays a confirmation dialog box and allows you to set the next property.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, change the message that appears in a confirmation dialog box in 
	the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Customization &gt; Confirm message</span> field.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, click
	<img src="file:///C:/dev/AlphaHelp/helpfiles/Server/Guide/Design/View/Grid/images/Web_Properties_button.gif" x-maintain-ratio="TRUE" style="border: none;
				float: none;
				width: 17px;
				height: 18px;
				border-style: none;
				border-style: none;" width="17" height="18" border="0"> in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Customization &gt; Target page</span> field to display the
	<span class="Screen" style="color: #005511; font-weight: bold; font-style: normal">
	Specify Target Page</span> dialog. Make a selection and click
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	OK</span>. This page appears if the update is successful. The options are:</li>
	<li class="kadov-p-CBullet1">
	<p class="Bullet1" style="list-style-type: disc; margin-left: -6pt; margin-right: 0pt; margin-top: 5pt; margin-bottom: 5pt">
	Specify a full URL</li>
	<li class="kadov-p-CBullet1">
	<p class="Bullet1" style="list-style-type: disc; margin-left: -6pt; margin-right: 0pt; margin-top: 5pt; margin-bottom: 5pt">
	Specify <Self> to return to this page</li>
	<li class="kadov-p-CBullet1">
	<p class="Bullet1" style="list-style-type: disc; margin-left: -6pt; margin-right: 0pt; margin-top: 5pt; margin-bottom: 5pt">
	Select an .A5W or .HTM page from your project</li>
</ol>
<table style="x-cell-content-align: top;
				width: 100%;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
	<colgroup>
		<col style="width: 20%;"><col style="width: 1%;">
		<col style="width: 79%;">
	</colgroup>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableHead" style="font-weight: bold; font-style: normal; margin: 0pt">
		Category</td>
		<td rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 80%;" valign="top" width="80%">
		<p class="TableHead" style="font-weight: bold; font-style: normal; margin: 0pt">
		Options and Description</td>
<td_null>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Submit button label</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies the label of the 
		submit button.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.submit_button_text&nbsp;as&nbsp;C</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Delete check box label</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies the label of the 
		delete check box.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.delete_check box_label&nbsp;as&nbsp;C</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Has Cancel button</td>
		<td rowspan="1" colspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies whether the grid has 
		a cancel button.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.has_Cancel_button&nbsp;as&nbsp;L</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Cancel button label</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies the label of the 
		cancel button.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.cancel_button_text&nbsp;as&nbsp;C</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Confirm before submit</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies whether the user must 
		confirm changes before they are submitted.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.confirm_before_submit&nbsp;as&nbsp;L</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Confirm message</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">The message displayed in the 
		confirm message box.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.confirm_before_submit_message&nbsp;as&nbsp;C</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Target page</td>
		<td rowspan="1" colspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">The next page to display if the 
		update is successful.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.TargetPage&nbsp;as&nbsp;C</span></td>
	</tr>
</table>
<p class="A5" style="font-family: Verdana, sans-serif; font-size: 10pt; font-weight: bold; font-style: normal; x-next-class; x-next-type: P; margin-left: 0pt; margin-right: 0pt; margin-top: 14pt; margin-bottom: 2pt">
<a name="Conflict_Checking">Conflict Checking</a></p>
<ol start="1">
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, select &quot;True&quot; (clear the check box) in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Conflict Checking &gt; Check for write conflicts</span> list. When selected, 
	before the record changes are applied the
	<span class="Screen" style="color: #005511; font-weight: bold; font-style: normal">
	Application Server</span> makes sure that no other user has saved changes to 
	this record.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">If 
	you are checking for write conflicts, specify the type of checking to 
	perform in the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Conflict Checking &gt; Write conflict check type</span> field.</li>
</ol>
<table style="x-cell-content-align: top;
				width: 100%;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
	<colgroup>
		<col style="width: 20%;"><col style="width: 1%;">
		<col style="width: 79%;">
	</colgroup>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableHead" style="font-weight: bold; font-style: normal; margin: 0pt">
		Category</td>
		<td rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 80%;" valign="top" width="80%">
		<p class="TableHead" style="font-weight: bold; font-style: normal; margin: 0pt">
		Options and Description</td>
<td_null>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Check for write conflicts</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Make sure that no other user 
		has saved changes to this record.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.check_for_write_conflicts&nbsp;as&nbsp;L</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Write conflict check type</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Specifies the write conflict 
		checking mode. The options are:</p>
		<ul>
			<li class="kadov-p-CTableBullet">
			<p class="TableBullet" style="margin: 2pt 0pt">1 = Check all fields 
			on the form.</li>
			<li class="kadov-p-CTableBullet">
			<p class="TableBullet" style="margin: 2pt 0pt">2 = Check only 
			changed fields.</li>
		</ul>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.write_conflict_check_type&nbsp;as&nbsp;N</span></td>
	</tr>
</table>
<p class="A5" style="font-family: Verdana, sans-serif; font-size: 10pt; font-weight: bold; font-style: normal; x-next-class; x-next-type: P; margin-left: 0pt; margin-right: 0pt; margin-top: 14pt; margin-bottom: 2pt">
<a name="Debugging">Debugging</a></p>
<ol>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">
	Optionally, select the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Debugging &gt; Show update commands</span> field.</li>
	<li class="kadov-p-CListNumber">
	<p class="ListNumber" style="list-style-type: decimal; margin: 5pt 0pt">If 
	the prior option was selected, optionally select the
	<span class="Button" style="color: #0000ff; font-weight: normal; font-style: normal">
	Debugging &gt; Execute update commands</span> field.</li>
</ol>
<table style="x-cell-content-align: top;
				width: 100%;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
	<colgroup>
		<col style="width: 20%;"><col style="width: 1%;">
		<col style="width: 79%;">
	</colgroup>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableHead" style="font-weight: bold; font-style: normal; margin: 0pt">
		Category</td>
		<td rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 80%;" valign="top" width="80%">
		<p class="TableHead" style="font-weight: bold; font-style: normal; margin: 0pt">
		Options and Description</td>
<td_null>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Show update commands</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Used when debugging.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.Show_Update_Commands&nbsp;as&nbsp; L</span></td>
	</tr>
	<tr style="x-cell-content-align: top;" valign="top">
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 20%;" valign="top" width="20%">
		<p class="TableLeft" style="margin: 0pt">Execute update commands</td>
		<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 79%;" valign="top" width="79%">
		<p class="TableLeft" style="margin: 0pt">Used when debugging.</p>
		<p class="TableLeft" style="margin: 0pt">
		<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
		tmpl.edit.Execute_Update_Commands&nbsp;as&nbsp;L</span></td>
	</tr>
</table>
<p style="margin: 2pt 0pt">In the example below, the user changed the
<span class="Code1" style="font-family: 'Courier New', monospace; font-weight: bold; font-style: normal; font-size: 10pt; color: #00009e">
company</span> name to &quot;General Electric&quot;. The picture shows the Xbasic executed 
in the update displayed at the top of the page. </p>
<p class="Pix" style="text-align: Center; margin: 2pt 0pt">
<img src="file:///C:/dev/AlphaHelp/helpfiles/Server/Guide/Design/View/Grid/images/WP_Show_Update_Commands.gif" x-maintain-ratio="TRUE" style="width: 480px;
							height: 337px;
							border-left-style: Solid;
							border-top-style: Solid;
							border-right-style: Solid;
							border-bottom-style: Solid;
							border-left-width: 1px;
							border-right-width: 1px;
							border-top-width: 1px;
							border-bottom-width: 1px;
							border-left-color: #c0c0c0;
							border-right-color: #c0c0c0;
							border-top-color: #c0c0c0;
							border-bottom-color: #c0c0c0;
							float: none;" width="480" height="337" border="1"></p>
<p class="A5" style="font-family: Verdana, sans-serif; font-size: 10pt; font-weight: bold; font-style: normal; x-next-class; x-next-type: P; margin-left: 0pt; margin-right: 0pt; margin-top: 14pt; margin-bottom: 2pt">
See Next</p>
<p style="margin: 2pt 0pt">
<a title="Customizing the Search Part" class="wiki" href="../References/Web/Customizing%20the%20Search%20Part.html">
Customizing the Search Part</a></p>
<p class="A5" style="font-family: Verdana, sans-serif; font-size: 10pt; font-weight: bold; font-style: normal; x-next-class; x-next-type: P; margin-left: 0pt; margin-right: 0pt; margin-top: 14pt; margin-bottom: 2pt">
Limitations</p>
<p style="margin: 2pt 0pt">Web publishing applications only.</p>
			
		
		
		
		
			 

	
			<h2>&nbsp;</h2>
<h2>&nbsp;</h2>
<h2>New Record Rows Position</h2>
<p>Property name 'New record rows position'&nbsp; ('Update Settings' pane)</p>
<p>You can now specify if the empty rows, used to add new records to an editable  grid, should be positioned above, or below the existing records. Previously, the  new record rows were always shown below the existing records.</p>
<p>	<img src="images/NewRecordsPosition.jpg" height="178" width="660" alt="Image" /></p>
<p class="ImageCaption">Grid showing new record rows positioned above existing  rows.</p>

	
	</article> 





 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description0"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top0" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h2>New Records Edit Style</h2>
<p>Property name: 'New records edit style' ('Update Settings' pane)</p>
<p>This has two options</p>
<ul>
    <li>
    AlwaysShown - A row for entering a new record is always show for an  updateable grid.<table id="table25" border="0">
        <tbody>
            <tr>
                <td>	<img src="images/NewInV10_NewRecordAlways.jpg" height="70" width="606" alt="Image" /></td>
            </tr>
        </tbody>
    </table>
    </li>
    <li>
    ShowOnDemand - A link replaces the edit row to allow showing or hiding the  new record row on demand.<table id="table26" border="0">
        <tbody>
            <tr>
                <td>	<img src="images/NewInV10_NewRecordDemand.jpg" height="72" width="566" alt="Image" /></td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</li>
</ul>
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top1" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h2>Updateable Grids - Edit On Demand</h2>
<p>Property name: 'Row edit style' ('Update Properties' pane)</p>
<p>Previously, if a Grid was updateable, then all of the rows in the Grid would  be displayed using edit controls for each field (i.e. TextBoxes, TextAreas,  etc.).</p>
<p>Now, there is a new option called 'Edit On Demand'. When you select this  option, the Grid is shown as using labels for each control. You can then double  click on a field, or click the Edit icon, to turn that row into edit mode. You  can specify if more than one row at a time can be in edit mode. If only one row  is allowed in edit mode at a time, then when you put another row into edit mode,  the row that is currently in edit mode is turned back into view mode.</p>
<table border="0">
    <tbody>
        <tr>
            <td>	<img src="images/allrowseditable.jpg" height="76" width="628" alt="Image" /></td>
        </tr>
        <tr>
            <td>
            <p class="ImageCaption">All rows are editable (V9 and older  style)</p>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table id="table2" border="0">
    <tbody>
        <tr>
            <td>	<img src="images/EditonDemand.jpg" height="75" width="578" alt="Image" /></td>
        </tr>
        <tr>
            <td>
            <p class="ImageCaption">Grid rows are editable on  demand</p>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table id="table3" border="0">
    <tbody>
        <tr>
            <td>	<img src="images/OneRowInEditMode.jpg" height="68" width="607" alt="Image" /></td>
        </tr>
        <tr>
            <td>
            <p class="ImageCaption">Row 1 of the Grid has been put into edit mode</p>
            </td>
        </tr>
    </tbody>
</table>
	
	
	</article> 




	<p>&nbsp;</p>
<p>&nbsp;</p>

	
	</article> 




	</body>

</html>
