	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Grid_Navigation_-_New_Option_-_Fetch_More_Records_Button">Grid Navigation - New Option - 'Fetch More Records' Button</h1>
To support a common design pattern used in mobile applications (e.g Gmail on the iPad or iPhone), the Grid now has a new option for pagination. In addition to the standard pagination option (buttons for First, Previous, Next and Last Page), you can now display a button after the last Grid row that will do an Ajax callback and fetch another page of records. (Hover over the image to see it full size.)<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=1066','HEIGHT=61','BACKGROUND=a5/v11/fetchmorerecords.jpg']);">	<img src="images/fetchmorerecords.jpg" height="30" width="533" alt="Image" /></a><br />
<br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Grid+Navigation+-+New+Option+-+%27Fetch+More+Records%27+Button+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web,review","status":"pending","keywords":"server,grid,ajax"}--->
</body></html>