	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Opening a Page with a Grid Component and Showing Selected 
 Records</p>



<p>A common requirement when building a grid is to have a hyperlink field 
 in the grid that, when clicked, will open a second page. The second page 
 contains a grid that is filtered based on parameters from the first page. 
 These examples show how to do this.</p>



<p>The URL that opens the second page has query parameters that contain 
 one or more of the <span class=Code1>_filter</span>, <span class=Code1>_order</span>, 
 and <span class=Code1>_link</span> keywords. These keywords allow you 
 to specify a filter, order and/or linking parameters for the grid in the 
 target page.</span></p>



<p class=Note><span class=Code1><span class=Note><img src="images/icon_information.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 36px;
	height: 32px;
	float: none;
	border-style: none;
	border-style: none;"
														width=36
														height=32
														border=0>Note</span> 
 : The difference between filtering and linking is described below.</span></p>



<p class=A5><span><font color="#000000">Grid Based on .DBF Files</font></span></p>



<p><span class=Code1><font color="#000000" face="Verdana">
<span style="font-weight: 400">These examples show how to use the _filter 
 and _order keywords.</span></font></span></p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 50%;">
<col style="width: 50%;">

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="50%">
<p class=TableCenter>(a)</td>
<td class="TableCell" style="x-cell-content-align: top;
			background-color: ##ddffdd;
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="50%">
<p class=Code>CustomerInfo.A5w?customers_filter=customer_id="{customerID}"</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="50%">
<p class=TableCenter>(b)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			background-color: ##ddffdd;
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="50%">
<p class=Code>CustomerInfo.A5w?customers_filter=firstname="{firstname}".and.lastname="{lastname}"&customers_order="{lastname}"</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="50%">
<p class=TableCenter>(c)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			background-color: ##ddffdd;
			width: 50%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="50%">
<p class=Code>OrderInfo.A5w?orders_filter=orderid={orderid}&orders_order=quantity</td></tr>
</table>

<p class=A5><span class=Code1><font color="#000000" face="Verdana">
<span style="font-weight: 400">Grid Based on a SQL Data Source</span></font></span></p>



<p><span class=Code1><font color="#000000" face="Verdana">
<span style="font-weight: 400">These examples show how to use the _filter 
 and _order keywords.</span></font></span></p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=TableCenter>(d)</td>
<td class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=Code>CustomerInfo.A5w?customers_filter=customer_id='{customerID}'</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=TableCenter>(e)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=Code>CustomerInfo.A5w?customers_filter=firstname='{firstname}' 
 AND lastname='{lastname}'&customers_order={lastname}</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=TableCenter>(f)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=Code>OrderInfo.A5w?orders_filter=orderid={orderid}&orders_order=quantity</td></tr>
</table>

	<p><span class="Code1"><font face="Vijaya">v</font></span></p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=TableCenter>(g)</td>
<td class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=Code>CustomerInfo.A5w?customers_link_1c=customer_id={customerID}</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=TableCenter>(h)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=Code>CustomerInfo.A5w?customers_link_1c=firstname={firstname}&customers_link_2c=lastname={lastname}</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=TableCenter>(i)</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=Code>InvoiceItems.A5w?Items_link_1n=InvoiceNumber={Invno}</td></tr>
</table>

<p class=A5><span class=Code1><font color="#000000" face="Verdana">
<span style="font-weight: 400">Grid Based on .DBF Files</span></font></span></p>



<p><span class=Code1><font color="#000000" face="Verdana">
<span style="font-weight: 400">This example shows how to combine the _filter, 
 _order, and _link keywords.</span></font></span></p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=TableCenter>(j)</td>
<td class="TableCell" style="x-cell-content-align: top;
			padding-right: 10px;
			padding-left: 10px;" valign="top">
<p class=Code>InvoiceItems.A5w?Items_link_1n=InvoiceNumber={Invno}&Items_Filter=quantity>10&Items_Order=quantity</td></tr>
</table>

<p class=A5><span class=Code1><font color="#000000" face="Verdana">
<span style="font-weight: 400">Comments</span></font></span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Code1>
	<font face="Verdana" color="#000000"><span style="font-weight: 400">Example 
 (a) opens a page called </span></font><font face="Verdana">
	<span style="font-weight: 400"><font color="#000000">CustomerInfo</font><font color="#000000">. This page 
 has a grid called customers. Assuming that for 
 a given row in the parent grid that the </font><font color="#000000">customerID</font><font color="#000000"> 
 field (and hence the {customerID} placeholder) 
 is 00001, the filter that is applied to the records 
 in the target grid is </font></span></font>
	<font face="Verdana" color="#000000"><span style="font-weight: 400">customer_id = "00001".</span></font></span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Code1>
	<font color="#000000" face="Verdana"><span style="font-weight: 400">The 
 query parameter is constructed by prefixing the _filter, 
 _order, or _link_ keyword 
 with the component alias. In (a) for example, the CustomerInfo.a5w 
 page contains a component whose alias is customers. 
 If a page contains multiple grid components, you can specify a filter 
 for each of the components on the page because each component has a unique 
 alias.</span></font></span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Code1>
	<font face="Verdana" color="#000000"><span style="font-weight: 400">The 
 component alias is not necessarily the name of the component&nbsp;as&nbsp;shown 
 in the </span></font><font face="Verdana"> <span class=Screen>
	<font color="#000000"><span style="font-weight: 400">Web Projects Control Panel</span></font></span><span style="font-weight: 400"><font color="#000000">. The component 
 alias is defined when you place the Grid on the .A5W page. If you are 
 not sure what the component"s alias is, open the .A5W page, and switch 
 to </font></span> <span class=Screen><font color="#000000">
	<span style="font-weight: 400">Source</span></font></span><span style="font-weight: 400"><font color="#000000"> view. You will see Xbasic code like 
 this: </font><font color="#000000">componentName = someValue. The component 
 alias is </font><font color="#000000">someValue</font></span></font><font face="Verdana" color="#000000"><span style="font-weight: 400">.</span></font></span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Code1>
	<font color="#000000" face="Verdana"><span style="font-weight: 400">In 
 example (a), the value {customerID} is quoted 
 because the syntax requirement for strings in filter expressions on .DBF 
 tables is that values are double quoted. Contrast this with example (d), 
 where the value is in single quotes because the syntax requirement for 
 SQL is to single quote strings.</span></font></span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Code1>
	<font face="Verdana" color="#000000"><span style="font-weight: 400">In 
 examples (c) and (f), the value is not quoted because the </span></font>
	<span style="font-weight: 400"><font face="Verdana"><font color="#000000">orderid</font></font></span><font face="Verdana" color="#000000"><span style="font-weight: 400"> 
 field in these examples is assumed to be a numeric field.</span></font></span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Code1>
	<font color="#000000" face="Verdana"><span style="font-weight: 400">In 
 example (b), the filter expression for a .DBF table has two clauses joined 
 by the .AND. operator, whereas in example (e), 
 the clauses (which are for SQL tables) are joined by the AND 
 operator (no periods on either side of the word).</span></font></span></p>

</li>
</ol>

<p class=A5><span class=Code1><font color="#000000" face="Verdana">
<span style="font-weight: 400">Contrasting Filtering and Linking</span></font></span></p>



<p><span class=Code1><font color="#000000" face="Verdana">
<span style="font-weight: 400">With filtering, you can enter an arbitrarily complex 
 filter expression using any functions that are understood by the database 
 upon which the grid is based.</span></font></span></p>



<p><span class=Code1><font color="#000000" face="Verdana">
<span style="font-weight: 400">An example for a .DBF. table:</span></font></span></p>
	<p>&nbsp;</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 92.645%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="92.645%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>Customer_Filter=left(name,1)<"d"</td></tr>
</table>

<p>&nbsp;</p>
	<p><span class=Code1><font face="Verdana"><span style="font-weight: 400">
	<font color="#000000">An example for a </font></span> <span class=Screen>
	<span style="font-weight: 400"><font color="#000000">Microsoft Access</font></span></span><span style="font-weight: 400"><font color="#000000"> 
 table:</font></span></font></span></p>
	<p>&nbsp;</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 92.645%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="92.645%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>Customer_Filter=left(firstname,1)="J" AND left(lastname,1)="s"</td></tr>
</table>

<p>&nbsp;</p>
	<p><span class=Code1><font face="Verdana"><span style="font-weight: 400">
	<font color="#000000">With linking, you are limited to simple filters of 
 the type </font></span> <span class=Argument><font color="#000000">fieldname=value</font></span><font color="#000000"><span style="font-weight: 400">. You can"t include 
 functions in the link definition, although you can have&nbsp;as&nbsp;many
	</span></font> 
 <span class=Argument><font color="#000000">fieldname=value</font></span><span style="font-weight: 400"><font color="#000000"> pairs&nbsp;as&nbsp; you want.&nbsp;See 
 example (h).</font></span></font></span></p>



<p><span class=Code1><font face="Verdana" color="#000000">
<span style="font-weight: 400">With linking, you do not have to know anything about 
 the syntax of the database you are querying. There is no difference between 
 link query parameter for a .DBF table, or a SQL database. Note that in 
 the link query parameter, character values are not quoted. (e.g. the query 
 parameter in example (h) is:</span></font></span></p>
	<p>&nbsp;</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 92.645%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="92.645%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>firstname={firstname}</td></tr>
</table>

<p>&nbsp;</p>
	<p><span class=Code1><font color="#000000" face="Verdana">
	<span style="font-weight: 400">With linking, when the user enters data or edits data 
 in the grid, the value(s) in the linking field(s) is automatically set 
 to the value(s) specified in the query string. So new records that are 
 added to the grid are automatically linked to grid on the source page 
 because they automatically have their linking field(s) set to the value(s) 
 specified in the query string. For example, if a page is opened with the 
 URL:</span></font></span></p>
	<p>&nbsp;</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 92.645%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="92.645%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>invoice_items.a5w?items_link_1n=invoiceNumber=3</td></tr>
</table>

<p>&nbsp;</p>
	<p><span class=Code1><span style="font-weight: 400">
	<font face="Verdana" color="#000000">all records added to the Grid will automatically have 
 their </font></span><font color="#000000" face="Verdana">
	<span style="font-weight: 400">InvoiceNumber</span><span style="font-weight: 400"> field set to 3. The user 
 will not be able to manually override this by typing a different value 
 into the </span><span style="font-weight: 400">InvoiceNumber</span><span style="font-weight: 400"> field. In fact, the 
	</span><span style="font-weight: 400">InvoiceNumber</span></font><span style="font-weight: 400"><font face="Verdana" color="#000000"> field does not even have to be displayed 
 on the target grid.</font></span></span></p>



<p class=A5><span class=Code1><span style="font-weight: 400">
<font color="#000000" face="Verdana">See Also</font></span></span></p>



<p><span class=Code1><a href="../References/Web/A5W Page Link, Filter, and Order Syntax.html" title="A5W Page Link, Filter, and Order Syntax" class="wiki">
<span style="font-weight: 400"><font face="Verdana" color="#000000">A5W   Page Link, Filter, and Order Syntax</font></span></a><font face="Verdana"><span style="font-weight: 400"><font color="#000000">, 
</font> <a href="../References/Web/Web Publishing/Using Variables on A5W Pages.html#Passing_Variables_to_a_Another_Page" title="Using Variables on A5W Pages" class="wiki">
<font color="#000000">Passing   Variables to a Another Page</font></a><font color="#000000">, 
</font></span></font> <a href="Sending Filter and Order Expressions to a Page.html" title="Sending Filter and Order Expressions to a Page" class="wiki">
<span style="font-weight: 400"><font face="Verdana" color="#000000">Sending   Filter and Order Expressions to a Page</font></span></a></span></p>






<p class=A5><span class=Code1><span style="font-weight: 400">
<font color="#000000" face="Verdana">Limitations</font></span></span></p>



<p><span class=Code1><span style="font-weight: 400">
<font color="#000000" face="Verdana">Web publishing applications only.</font></span></span></p>



<p class=A5><span class=Code1></span></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Opening+a+Page+with+a+Grid+Component+and+Showing+Selected+++Records">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,guide,grid,component,sql,dbf"}--->
</body></html>