	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			&nbsp;
<h3 style="font-family: Tahoma; font-size: 10pt; color: rgb(255, 0, 0); margin-left: 0.5in; ">Property Grids</h3>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; "><b>Property Grids - Search for Property - a5_PropGridSearch() -&nbsp;</b>You can now easily add a 'Find Property' feature to your own Property Grids using the new a5_PropGridSearch() function. The following Xbasic shows how this is done:</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">v.Item1 = ""<br />
v.item2 = ""<br />
v.item3 = ""<br />
dim pg as p<br />
dim pg.settings as p</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">&nbsp;</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">dim pg.object as p '<<<----------------This statement is new and must be added.<br />
&nbsp;</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">dim pg.def as c<br />
pg.def = &lt;&lt;%str%<br />
^^Category<br />
&nbsp;&nbsp;&nbsp; state=opened<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ++Item<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; var=v.Item1<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ++Item2<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; var=v.Item2<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ++Item3<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; var=v.Item3<br />
%str%<br />
&nbsp;</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">ui_dlg_box("Alpha Five",&lt;&lt;%dlg%<br />
{hyperlink=Search Properties!search};<br />
{propgrid=100,20pg};<br />
<10&OK><10&Cancel><br />
%dlg%,&lt;&lt;%code%<br />
if a_dlg_button = "search" then&nbsp;<br />
a_dlg_button = ""<br />
a5_PropGridSearch(pg)<br />
end if&nbsp;<br />
%code%)<br />
&nbsp;</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; "><b>Property Grids - Password fields</b>&nbsp;- You can now specify that a field in a property grid should be masked. To do so, include the command 'passwordMask=true' in the property grid definition. Example:</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">v.UserName = "John"<br />
v.Password = "alpha"<br />
dim pg as p<br />
dim pg.settings as p<br />
dim pg.def as c<br />
pg.def = &lt;&lt;%str%<br />
^^Category<br />
state=opened<br />
++User Name<br />
var=v.UserName<br />
<br />
++Password<br />
var=v.Password<br />
passwordMask=true<br />
%str%<br />
ui_dlg_box("Alpha Five",&lt;&lt;%dlg%<br />
{propgrid=100,20pg};<br />
<10&OK><10&Cancel><br />
%dlg%)</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">
	<img src="images/PropertyGridPasswordMask.jpg" height="114" width="358" alt="Image" /></p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; "><b>Property Grids - Always Show Buttons</b>&nbsp;- There is a new option to always show buttons for combo boxes, edit-combo boxes and smart fields even when the&nbsp; property does not have focus (as shown in the screen below). The advantage of turning this property on (which is now on by default) is that you can open a combo box or smart field on a property that does not currently have focus with a single click, rather than two clicks.</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">
	<img src="images/PropertyGridAlwaysShowButtons.gif" height="211" width="751" alt="Image" /></p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">To turn this property on/off in a Property Grid, include the following command in the Property Grid definition:</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">dim def as c</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">def= &lt;&lt;%str%<br />
showbuttonsalways=false<br />
^^Category1<br />
&nbsp;&nbsp;&nbsp; state=opened<br />
&nbsp;&nbsp;&nbsp; ++Item<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; var=item<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ........</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">&nbsp;</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; "><b>Property Grids - View/Settings -&nbsp;</b>&nbsp;You can control the default behavior for Property Grids regarding whether all buttons for combo boxes and smart fields are always shown or not. Starting with this version, all buttons on the Grid are always shown by default. If you prefer to only show buttons when the property has focus, you can go to View/Settings/Preferences/Property Grids and turn off this feature.</p>
<p style="font-family: Tahoma; width: 7in; font-size: 9pt; margin-left: 0.5in; margin-top: 0px; margin-bottom: 5px; ">To set the preference using Xbasic (for example, in your Autoexec), you can use this code:</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">dim p as p</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">p.dummy = ""</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">registry.load_settings("preferences",p)</p>
<p class="xbasic" style="font-family: 'Courier New'; width: 7in; font-size: 10pt; margin-left: 1.1in; margin-top: 0px; margin-bottom: 0px; color: rgb(0, 0, 255); ">p.propgrid.AlwaysShowButton = "Show"&nbsp;&nbsp; 'or 'Hide'<br />
registry.save_settings("preferences",p)</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Property+Grids+V10">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"common,review","status":"pending","notes":"page format different","keywords":"server,guide,grid"}--->
</body></html>