	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Server_Programming_Changes_for_Version_11">Server Programming Changes for Version 11</h1>
<br />
<h2 class="showhide_heading" id="Removed">Removed</h2>
Several functions and methods have been removed from the V11 Application Server. Any applications which use the following <em>will not run in V11</em> without being modified.<br />
<div class="rbox warning"><img src="images/close.png" alt="Close" width="16" height="16" class="rbox-close" onclick="$(this).parent().fadeOut();" title="Close" /><div class="rbox-title"><img src="images/exclamation.png" alt="warning" width="16" height="16" title="warning" class="icon" /><span>Warning</span></div><div class="rbox-data">Any existing applications which use any of the following <strong>MUST</strong> be modified before they will work in the V11 server.</div></div><br />
<h4 class="showhide_heading" id="General">General</h4>
<ul><li>Do not use <strong>property_recurse_assign()</strong>, <strong>property_to_string()</strong>, or <strong>property_to_blob()</strong> on any of the Application Server objects.
</li><li><strong>a5w_load_aex()</strong> has been removed. See <a href="../../Platform/Xbasic/Change In Way AEX Files are Used in a Web Application.html" title="Change In Way AEX Files are Used in a Web Application V10.5" class="wiki">Change In Way AEX Files are Used in a Web Application V10.5</a>
</li><li><strong>a5w_unload_aex()</strong> has been removed. See <a href="../../Platform/Xbasic/Change In Way AEX Files are Used in a Web Application.html" title="Change In Way AEX Files are Used in a Web Application V10.5" class="wiki">Change In Way AEX Files are Used in a Web Application V10.5</a>
</li><li><strong>a5_count_websessions()</strong> has been removed. Use <strong>Server.SessionCount</strong> as a replacement.
</li><li><strong>Application.Path()</strong> is no longer available. Use <strong>Request.ApplicationRoot</strong> as a replacement.
</li><li><strong>Session variables</strong> can only be strings. Other variable types are not supported and my not work as expected.
</li></ul><h4 class="showhide_heading" id="Request">Request</h4>
<ul><li>Nothing can be dimmed directly within <strong>Request</strong>. While <strong>Request </strong>has always been documented as read-only, this is now strictly enforced and any code that attempts to dim within <strong>Request </strong>will generate an error.
</li><li><strong>Request.Variables2</strong> is no longer available. All variables should be accessed using <strong>Request.Variables</strong>.
</li></ul><h4 class="showhide_heading" id="Response">Response</h4>
<ul><li><strong>Response.Message_Body</strong> is now a read-only property. Any attempts to assign any value to it will generate an error.
</li><li><strong>Response.Add_Cookie()</strong>, which was previously marked as deprecated, has been removed. See <a href="../../Platform/Dotnet/Replacing Response.Add_Cookie.html" title="Replacing Response.Add_Cookie in V11" class="wiki">Replacing Response.Add_Cookie in V11</a>.
</li><li><strong>Response.Add_Header()</strong>, which was previously marked as deprecated, has been removed. See <a href="../../../../Reference/Design/Platform/Dotnet/Replacing Response.Add_Header.html" title="Replacing Response.Add_Header in V11" class="wiki">Replacing Response.Add_Header in V11</a>.
</li></ul><h4 class="showhide_heading" id="Server">Server</h4>
<ul><li> <strong>Server.</strong> variables are no longer available. Code that tries to <strong>dim Server.foo as c</strong> will run without error, but the behavior will <em>not </em>be as previously expected. It will instead create a local variable <strong>Server</strong> which will not be visible beyond the current local scope.
</li><li> <strong>Server.ClearA5ICache()</strong> has been removed. The A5I cache now automatically monitors the filesystem and does not need to be manually cleared.
</li><li> <strong>Server.ClearGzipCache()</strong> has been removed. The Gzip cache now automatically monitors the filesystem and does not need to be manually cleared.
</li><li> <strong> Server.Reset()</strong> has been removed, as there are no longer server variables to delete.
</li></ul><h4 class="showhide_heading" id="ServerSettings">ServerSettings</h4>
<ul><li> <strong>ServerSettings.BrowserIdCookieName</strong> has been removed.
</li><li> <strong>ServerSettings.BrowserIdLifetime</strong> has been removed.
</li></ul><h4 class="showhide_heading" id="Session">Session</h4>
<ul><li> <strong>Session.BrowserId</strong> has been removed. The Application Server no longer performs automatic browser tracking.
</li><li> <strong>Session.Session_Folder</strong> has been removed. Use <strong>Session.SaveDataAsFile()</strong> to safely store file-based data in the <strong>Session </strong>instead of attempting to write directly to disk.
</li></ul><dl><dt></dt><dd><strong>Example:</strong><div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox" >&lt;%a5
dim Fn as c = "MySessionPage.html"
dim FileData as b
FileData = "&lt;html&gt;&lt;body&gt;&lt;h2&gt;Hello World&lt;/h2&gt;&lt;/body&gt;&lt;/html&gt;"
Session.SaveDataAsFile(Fn,FileData)
Response.Redirect( Session.FormatFileDataURL(Fn) )
%&gt;</pre></div></dd></dl><br />
<div class="rbox note"><img src="images/close.png" alt="Close" width="16" height="16" class="rbox-close" onclick="$(this).parent().fadeOut();" title="Close" /><div class="rbox-title"><img src="images/information.png" alt="note" width="16" height="16" title="note" class="icon" /><span>Note</span></div><div class="rbox-data">The file extension of the filename used as a key in <strong>Session.SaveDataAsFile(Key, data)</strong> and <strong>Session.FormatFileDataURL(Key)</strong> matters, because the extension is used for MIME type parsing. For example, in order to have Excel data treated as such when it is sent to the browser, use an extension of .XLS. The above example uses a file extension of .HTML.</div></div><br />
<ul><li><strong>Session.Session_Url</strong> has been removed. Use <strong>Session.FormatFileDataURL()</strong> instead when linking to Session resources.
</li><li> <strong>Session Variables</strong> cannot be created directly from a request query string or POST body. This negates the need to use "protected" session variables, as all session variables now effectively "protected". In order to create a session variable, you must execute A5W code to read the request variable and create or set the session variable. A request for a URL such as <strong>http://localhost/index.a5w?session.name=John</strong> will <em>not</em> create a session variable <strong>session.name</strong>, but will instead create a request variable which may be accessed as <strong>Request.Variables.session.name</strong> <em>during the lifetime of that request only</em>.
</li></ul><dl><dt></dt><dd><div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox1" >dim Session.Name as c = Request.Variables.Name</pre></div></dd></dl><br />
<h2 class="showhide_heading" id="Deprecated">Deprecated</h2>
The following will continue to work in the standard V11 server, but will be removed in a future release. Replacement of any application code that uses the following should be planned now for future compatibility. All new code should be written using the replacement properties and methods specified.<br />
<div class="rbox note"><img src="images/close.png" alt="Close" width="16" height="16" class="rbox-close" onclick="$(this).parent().fadeOut();" title="Close" /><div class="rbox-title"><img src="images/information.png" alt="note" width="16" height="16" title="note" class="icon" /><span>Note</span></div><div class="rbox-data">Existing code that uses any of the following will continue to work in the V11 Alpha Web Server, but will NOT work in future release. You should begin planning replacement of affected existing code now and use the specified replacement(s) in all new code.</div></div><br />
<h4 class="showhide_heading" id="Component_Events">Component Events</h4>
<ul><li><strong>e.rv</strong> - Use <strong>Request.Variables</strong> to directly access request variables (also referred to as "page variables").
</li><li><strong>e.session</strong> - Uses <strong>Session </strong>to directly access the Session object.
</li></ul><br />
<h4 class="showhide_heading" id="Request_2">Request</h4>
<ul><li><strong>Request.Script_Name</strong> - Use <strong>Request.ScriptName</strong> as a replacement.
</li></ul><br />
<h4 class="showhide_heading" id="Response_2">Response</h4>
<ul><li><strong>Response.Message_Body</strong> - Use <strong>Response.Write()</strong> instead of assigning to Response.Message_Body.
</li><li><strong>Response.Mime_Type</strong> - Use <strong>Response.ContentType</strong> as a replacement.
</li><li><strong>Response.Reason_Phrase</strong> - Use <strong>Response.StatusDescription</strong> as a replacement.
</li><li><strong>Response.Status_Code</strong> - Use <strong>Response.StatusCode</strong> as a replacement. Note that <strong>.StatusCode</strong> is a numeric variable and <strong>.Status_Code</strong> is a character variable.
</li><li><strong>Response.AddCookie()</strong> - Use <strong>Response.Cookies.Add</strong> (System.Web.HttpCookie) or <strong>Response.Cookies.Set</strong>(System.Web.HttpCookie) as a replacement. See <a href="../../Platform/Dotnet/Replacing Response.Add_Cookie.html" title="Replacing Response.Add_Cookie in V11" class="wiki">Replacing Response.Add_Cookie in V11</a>
</li><li><strong>Response.AddHeader()</strong> - Use <strong>Response.Headers.Add(Name,Value)</strong> or <strong>Response.Headers.Set(Name,Value)</strong> as a replacement. See <a href="../../../../Reference/Design/Platform/Dotnet/Replacing Response.Add_Header.html" title="Replacing Response.Add_Header in V11" class="wiki">Replacing Response.Add_Header in V11</a>
</li><li><strong>Response.Redirect(NewUrl,.t.)</strong> - Use <strong>Response.RedirectPermanent()</strong> to create a permanent redirect instead of the legacy <strong>Response.Redirect()</strong> syntax. <strong>Response.Redirect(Url)</strong> is <em>not </em>deprecated, only the syntax specifying the second argument to create a permanent redirect is deprecated.
</li></ul><br />
<h4 class="showhide_heading" id="Session_2">Session</h4>
<ul><li><strong>Session.Timestamp</strong>
</li><li><strong>Session.Reset()</strong> - Use Session.Clear() as a replacement.
</li></ul><h2 class="showhide_heading" id="Added">Added</h2>
The following objects, properties, and methods have been added to the V11 Application Server. In some cases they add new functionality, while others supersede a previous property or method.<br />
<h4 class="showhide_heading" id="Context">Context</h4>
<ul><li><strong>Context.GridCache</strong>
</li><li><strong>Context.HostContext</strong>
</li><li><strong>Context.HostContextName</strong>
</li><li><strong>Context.Request</strong>
</li><li><strong>Context.Response</strong>
</li><li><strong>Context.Security</strong>
</li><li><strong>Context.Session</strong>
</li></ul><h4 class="showhide_heading" id="Request_3">Request</h4>
<ul><li><strong>Request.ScriptName</strong> - The requested file, such as &quot;/index.html&quot; (the currently running page). Replaces Request.Script_Name.
</li><li><strong>Request.GetRequestTempFileName([FileExtension as c])</strong> - Creates a filename for temporary use. Any data stored in the corresponding filename will automatically be removed when the current request completes processing.<br /><br />The optional FileExtension parameter specifies the extension to use for the temporary file. If omitted, .tmp will be used. FileExtension may be specified with or without the leading dot (e.g. "jpg" and ".jpg" will both work and produce an equivalent result).
</li></ul><h4 class="showhide_heading" id="Response_3">Response</h4>
<ul><li><strong>Response.ContentType</strong> - The MIME type for this Response. Replaces Response.Mime_Type.
</li><li><strong>Response.Cookies</strong> - This is a collection of cookies that will be sent as part of the outgoing response. It is a .NET HttpCookieCollection, with individual items in the collection each being a .NET HttpCookie object. This is identical to ASP.NET's HttpResponse.Cookies and can be used in the same manner. See <a href="../../Platform/Dotnet/Replacing Response.Add_Cookie.html" title="Replacing Response.Add_Cookie in V11" class="wiki">Replacing Response.Add_Cookie in V11</a>
</li><li><strong>Response.Headers</strong> - This is a collection of headers that will be sent as part of the outgoing response. It is a .NET NameValueCollection, with individual items in the collection each being a simple name-value pair. This is identical to ASP.NET's HttpResponse.Headers and can be used in the same manner. See <a href="../../../../Reference/Design/Platform/Dotnet/Replacing Response.Add_Header.html" title="Replacing Response.Add_Header in V11" class="wiki">Replacing Response.Add_Header in V11</a>
</li><li><strong>Response.OutputStream</strong> - A .NET System::IO::Stream object which enables binary output to the outgoing HTTP content body. This is identical to the ASP.NET HttpResponse.OutputStream Property.
</li></ul><div class="rbox tip"><img src="images/close.png" alt="Close" width="16" height="16" class="rbox-close" onclick="$(this).parent().fadeOut();" title="Close" /><div class="rbox-title"><img src="images/book_open.png" alt="tip" width="16" height="16" title="tip" class="icon" /><span>Additional Documentation</span></div><div class="rbox-data">Complete documentation of the ASP.NET HttpResponse.OutputStream Property is at <a class="wiki external" target="_blank" href="http://msdn.microsoft.com/en-us/library/system.web.httpresponse.outputstream.aspx" rel="external nofollow">http://msdn.microsoft.com/en-us/library/system.web.httpresponse.outputstream.aspx</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /></div></div><br />
<ul><li><strong>Response.StatusCode</strong> - The HTTP status code for this Response. Replaces Response.Status_Code. Note that .StatusCode is a numeric variable and the legacy .Status_Code is a character variable.
</li><li><strong>Response.StatusDescription</strong> - The HTTP status description for this Response. Replaces Response.Reason_Phrase.
</li><li><strong>Response.Clear()</strong> - Clears all content from the output buffer. It does not clear the headers, see Response.ClearHeaders() .
</li><li><strong>Response.ClearContent()</strong> - Clears all content from the output buffer. It does not clear the headers, see Response.ClearHeaders() .
</li><li><strong>Response.ClearHeaders()</strong> - Clears all headers from the output buffer. It does not clear the body, see Response.ClearContent() .
</li><li><strong>Response.End()</strong> - Signals the Application Server to stop processing the A5W page, returning only the output created so far. Any remaining content in the file will not be processed.
</li><li><strong>Response.RedirectPermanent()</strong> - A new method for creating a permanent redirect. This replaces the Response.Redirect() syntax that specifies the second parameter to create a permanent redirect.
</li><li><strong>Response.Write()</strong> - Write data to the Response body. This is the equivalent of using <strong>?</strong>
</li></ul><h4 class="showhide_heading" id="Session_3">Session</h4>
<ul><li> <strong>Session.CallResult</strong> - (read-only)
</li><li> <strong>Session.CookieMode</strong> - (read-only) A .NET System::Web::HttpCookieMode enumeration that specifies how cookies are used for a Web application. See
</li></ul><div class="rbox tip"><img src="images/close.png" alt="Close" width="16" height="16" class="rbox-close" onclick="$(this).parent().fadeOut();" title="Close" /><div class="rbox-title"><img src="images/book_open.png" alt="tip" width="16" height="16" title="tip" class="icon" /><span>Additional Documentation</span></div><div class="rbox-data">Complete documentation of HttpCookieMode is at <a class="wiki external" target="_blank" href="http://msdn.microsoft.com/en-us/library/system.web.httpcookiemode.aspx" rel="external nofollow">http://msdn.microsoft.com/en-us/library/system.web.httpcookiemode.aspx</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /></div></div><br />
<ul><li> <strong>Session.Count</strong> - (read-only) The number of variables stored in the session.
</li><li> <strong>Session.FormatFileDataURL(Key as C)</strong> -
</li><li> <strong>Session.IsCookieless</strong> - (read-only) Indicates whether or not cookies are being used to track the state of this session.
</li><li> <strong>Session.Keys</strong> - (read-only) A .NET System::Collections::Specialized::NameObjectCollectionBase::KeysCollection collection of the keys for all values stored in session variables.
</li></ul><div class="rbox tip"><img src="images/close.png" alt="Close" width="16" height="16" class="rbox-close" onclick="$(this).parent().fadeOut();" title="Close" /><div class="rbox-title"><img src="images/book_open.png" alt="tip" width="16" height="16" title="tip" class="icon" /><span>Additional Documentation</span></div><div class="rbox-data">Complete documentation of System.Collections.Specialized.NameObjectCollectionBase.KeysCollection is at <a class="wiki external" target="_blank" href="http://msdn.microsoft.com/en-us/library/system.collections.specialized.nameobjectcollectionbase.keyscollection.aspx" rel="external nofollow">http://msdn.microsoft.com/en-us/library/system.collections.specialized.nameobjectcollectionbase.keyscollection.aspx</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /></div></div><br />
<ul><li> <strong>Session.Timeout</strong> - (read-write) The timeout, in minutes, for this session. A new value must be specified in whole minutes. The minimum timeout is 1 minute and the maximum is 525600 minutes (365 days).
</li><li> <strong>Session.UniqueDataKey</strong> - (read-only)
</li><li> <strong>Session.Add(Name as C, Value as A)</strong> - Adds a new session variable.
</li><li> <strong>Session.Clear()</strong> - Removes all session variables.
</li><li> <strong>Session.GetData(Key as C, BYREF Data as A)</strong>
</li><li> <strong>Session.Remove(Name as C)</strong> - Removes the specified session variable.
</li><li> <strong>Session.RemoveAll()</strong> - Removes all session variables. This is functionally equivelent to <strong>Session.Clear()</strong>.
</li><li> <strong>Session.SaveData(Key as C, Data as A)</strong>
</li><li> <strong>Session.SaveDataAsFile(Key as C, Data as B)</strong>
</li></ul><div class="rbox note"><img src="images/close.png" alt="Close" width="16" height="16" class="rbox-close" onclick="$(this).parent().fadeOut();" title="Close" /><div class="rbox-title"><img src="images/information.png" alt="note" width="16" height="16" title="note" class="icon" /><span>Note</span></div><div class="rbox-data">The file extension of the filename used as a key in <strong>Session.SaveDataAsFile(Key, data)</strong> and <strong>Session.FormatFileDataURL(Key)</strong> matters, because the extension is used for MIME type parsing. For example, in order to have Excel data treated as such when it is sent to the browser, use an extension of .XLS after the key/file name.</div></div><br />
<h2 class="showhide_heading" id="Changes_in_Operation">Changes in Operation</h2>
<h4 class="showhide_heading" id="Response_4">Response</h4>
<ul><li> <strong>Response.SendFile()</strong> has been extended to allow control over the raising of a Save As prompt in the client. Prior to V11, the Save As dialog would always be opened. To suppress this dialog, specify a logical value of false as the second parameter to the method.
</li></ul><dl><dt></dt><dd><strong>Example 1:</strong><div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox2" >&lt;%a5
'Send a file without explicitly telling the browser to prompt to save.
Response.SendFile(Filename,.f.)
%&gt;</pre></div></dd></dl><br />
<dl><dt></dt><dd><strong>Example 2:</strong><div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox3" >&lt;%a5
'Send a file, using an alternate name when sent, without explicitly telling the browser to prompt to save.
Response.SendFile(Filename,.f.)
%&gt;</pre></div></dd></dl><br />
<h4 class="showhide_heading" id="Session_4">Session</h4>
<ul><li> <strong>Session.Abandon()</strong> now returns void. Prior to Version 11, it returned a logical result.
</li><li> <strong>Application Server Settings, Session Lifetime</strong> is now specified in minutes. Previously the value was specified in seconds.
</li></ul><br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Server+Programming+Changes+V11">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web,review","status":"pending","notes":"V11 in title, text. List of updates","keywords":"server,guide,grid"}--->
</body></html>