	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Setting Default Property Values</p>



<p>To change the default values for properties in a grid component:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Web Projects Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Edit any existing 
 grid component or create a new component.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Options 
 > Set Default Properties</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>System Default Property Values</span> tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select and copy the 
 property that you would like to change. For example: </p>

</li>
</ol>

<p class=Pix><img src="images/WP_Select_Default_Property.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 531px;
							height: 242px;
							float: none;
							border-style: none;
							border-style: none;"
					width=531
					height=242
					border=0></p>



<ol start=6>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Switch to the <span 
 class=Screen>User Defined Default Property Values</span> tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Paste the property 
 and change its default value. For example: </p>

</li>
</ol>

<p class=Pix><img src="images/WP_Set_New_Default_Property.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 531px;
							height: 307px;
							float: none;
							border-style: none;
							border-style: none;"
					width=531
					height=307
					border=0></p>



<ol start=8>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to save your changes.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="Setting Grid Control Properties.html" title="Setting Grid Control Properties" class="wiki">Setting Grid Control Properties</a>, 
 <a href="Setting Grid Properties.html" title="Setting Grid Properties" class="wiki">Setting Grid Properties</a>, <a href="../A5W/Defining Property Overrides.html" title="Defining Property Overrides" class="wiki">Defining Property Overrides</a></p>




<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Setting+Default+Property+Values">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web","keywords":"server,guide,grid,component"}--->
</body></html>