	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Sharing_and_Using_a_User-defined_Component">Sharing and Using a User-defined Component</h1>
Once you have a working User-defined Component, you can share it with others by sending them a Zip of the entire directory tree you used to create the User-defined Component builder. They will need to unpack it into their <strong>C:\ProgramData\Alpha Software\Alpha Five Version 11\Installations\&lt;identifier&gt;\UserDefinedWebComponentTypes</strong> directory, which they can find by using the <strong>Edit|Advanced|Open Folder where User-defined Components are Registered</strong> menu item from Alpha Five.<br />
<br />
If you are selling the component commercially, you may want to put most of your code in an encrypted AEX, and make what goes into the builderFunctionDefinitions.txt file stub functions that call into more substantial functions in the AEX. If the AEX is in the AEX subdirectory of the component folder, it will automatically be published with any component created from the builder.<br />
<h2 class="showhide_heading" id="See_also">See also</h2>
<a href="User-defined Components.html" title="User-defined Components V11" class="wiki">User-defined Components V11</a><br />
<a href="When to turn a Custom Component into a User-defined Component.html" title="When to turn a Custom Component into a User-defined Component V11" class="wiki">When to turn a Custom Component into a User-defined Component V11</a><br />
<a href="Creating a User-defined Component V11.html" title="Creating a User-defined Component V11" class="wiki">Creating a User-defined Component V11</a><br />
<a href="Creating a Property Grid for a User-defined Component.html" title="Creating a Property Grid for a User-defined Component V11" class="wiki">Creating a Property Grid for a User-defined Component V11</a><br />
<a href="Sharing and Using a User-defined Component.html" title="Sharing and Using a User-defined Component V11" class="wiki">Sharing and Using a User-defined Component V11</a><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Sharing+and+Using+a+User-defined+Component+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,guide,grid,component,aex"}--->
</body></html>