	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Slider_Control_in_a_Dialog_Component">Slider Control in a Dialog Component</h1>
Requires the <em>Dialog Component - Slider Control</em> feature pack, included in subscription<br />
<br />
	<img src="images/slider_control.png" alt="Image" />	<img src="images/2-value_slider_control.png" alt="Image" /><br />
<br />
A slider control is a graphical way of displaying and entering one or two numeric values. Our slider control is touch-sensitive on mobile devices and PC touch screens, and typically takes less screen real estate than a scroll bar.<br />
<h2 class="showhide_heading" id="Embedding_a_Slider_into_the_Dialog">Embedding a Slider into the Dialog</h2>
How to define a simple slider control and a slider message: <a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DialogSlider1.swf" rel="external nofollow">Watch Video - Part 1</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<br />
How to use advanced slider control features such as fading messages, two-value sliders, and automation using <strong>getValue()</strong> and <strong>setValue()</strong>: <a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DialogSlider2.swf" rel="external nofollow">Watch Video - Part 2</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<h2 class="showhide_heading" id="Rendering_the_Slider_in_a_larger_format_on_a_mobile_device.">Rendering the Slider in a larger format on a mobile device.</h2>
	<img src="images/slider_in_mobile_style.png" alt="Image" /><br />
<br />
It's all a matter of style: <a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DialogSlider_mobileStyle.swf" rel="external nofollow">Watch Video</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/FP11_SLIDER1.zip" rel="external nofollow">Download the Components used in the videos above</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<h2 class="showhide_heading" id="Using_the_Slider_to_set_a_Rating_Image_Showing_Number_of_Stars">Using the Slider to set a 'Rating' Image Showing Number of Stars</h2>
A common metaphor in Web applications is to indicate a 'rating' by showing an image with stars.<br />
<br />
	<img src="images/stars_simple.png" alt="Image" /><br />
<br />
This video shows how the slider control can be used to set the rating and show the appropriate 'stars' image.<br />
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/slider_stars_overview.swf" rel="external nofollow">Watch Video</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<br />
These videos show how the Dialog components were set up.<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/slider_stars_1_simple.swf" rel="external nofollow">Watch Video - Part 1</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/slider_stars_2_fancy.swf" rel="external nofollow">Watch Video - Part 2</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/FP11_SLIDER2.zip" rel="external nofollow">Download the Components Used in the Videos above</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<h2 class="showhide_heading" id="See_also">See also</h2>
<a href="New Dialog Component V11.html#Slider" title="New Dialog Component V11" class="wiki">New Dialog Component V11</a><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Slider+Control+in+a+Dialog+Component+V11">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,client,guide,grid,component"}--->
</body></html>