	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="TabbedUI_Object_-_Method_to_Select_the_Active_Pane">TabbedUI Object - Method to Select the Active Pane</h1>
The Tabbed UI object has a new method to select the active pane by its title. For example, say you have a pane with a title of 'Customers'. This JavaScript will select that pane:<br />
<br />
<div class="plugincode" parse="javascript"><pre class="codelisting" data-syntax="javascript" dir="ltr" style="overflow:auto;" id="codebox" >tbiObj.selectPane(&#39;Customers&#39;);</pre></div><br />
<br />
In this example, the name of the pane has been hard-coded. In a real application, the pane to be selected would save its name in a JavaScript variable on initialization, and the button event handler that performs the action would reference that variable.<br />
<br />
See also <a href="Using a Grid in a Tabbed UI Pane to Invoke Methods on a Grid in a Second Tabbed UI Pane.html" title="How a Grid in a Tabbed UI Pane can invoke Methods on a Grid in another Tabbed UI Pane V11" class="wiki">How a Grid in a Tabbed UI Pane can invoke Methods on a Grid in another Tabbed UI Pane V11</a>.<br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:TabbedUI+Object+Method+to+Select+the+Active+Pane+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,guide,javascript,grid"}--->
</body></html>