	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p><a href="../../Data/FieldRules/Suppressing Blank Fields in an Address.html" title="Suppressing Blank Fields in an Address" class="wiki">Suppressing Blank Fields in an Address</a> | <a href="Creating a Grid that Looks Like a Dialog.html" title="Creating a Grid that Looks Like a Dialog" class="wiki">Creating a Grid that Looks Like a Dialog</a></p>

<p class=A3Topic>Updating Hidden Grid Fields</p>

<p>Alpha Five version 7 introduces the <a href="Setting Grid Control Properties.html#Select_the_Control_Type" title="Setting Grid Control Properties" class="wiki">Hidden</a> control type. With this control type Alpha Five displays a grid column (or row), but does not display any data. Grids also support the <a href="Setting Grid Control Properties.html#Hide_column" title="Setting Grid Control Properties" class="wiki">Hide</a> property, which hides the grid column (or row).</p>

<p>In this example we would like to achieve three goals:</p>

<ul style="list-style: disc;" type=disc> <li class=kadov-p-CBullet1><p class=Bullet1>set the value of <span class=Code1>customer_ID</span> with a script in the <a href="../References/Web/Web Publishing/Using Grid Events.html" title="Using Grid Events" class="wiki">CanInsertRecord</a> event</p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1>display the value of <span class=Code1>customer_ID</span></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1>prevent the user from editing <span class=Code1>customer_ID</span> (in other words, display it</p>

</li> </ul><p>This example starts with three table fields: <span class=Code1>customer_ID</span>, <span class=Code1>firstname</span>, and <span class=Code1>lastname</span>, plus <span class=Code1>cust_ID</span>, which is a <a href="../References/Grid/Define an Alpha Five Table Query.html#Creating_Calculated_Fields" title="Define an Alpha Five Table Query" class="wiki">calculated field</a> derived from <span class=Code1>customer_ID.</span> </p>

<p class=Pix><img src="images/WPT_Hidden_1.gif" x-maintain-ratio=TRUE style="border: none; width: 412px; height: 179px; float: none; border-style: none; border-style: none;" width=412 height=179 border=0></p>

<ol> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Component Type</span> page.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Select the <span class=Button>Updateable</span> radio button.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Grid > Query</span> page.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Calculated fields</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following calculated field definition and click <span class=Button>OK</span>. This step gives you a copy of the "customer_ID" field that can be displayed but placed in a non-editable label control.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>cust_id = customer_id</td></tr> </table> <ol start=6> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Grid > Fields</span> page.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Move "customer_ID", "firstname", "lastname", and "cust_ID" fields from the <span class=Control>Available Fields</span> to the <span class=Control>Selected Fields</span> list.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Select the "customer_Id" field in the <span class=Control>Selected Fields</span> list.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change the <span class=Button>Display Settings > Control type</span> to "Hidden".</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change the <span class=Button>Column Properties > Hide column</span> to "True".</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Select the "firstname" field in the <span class=Control>Selected Fields</span> list.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change the <span class=Button>Column Properties > Column heading</span> to "First Name".</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change the <span class=Button>Column Properties > Heading in-line style</span> to "text-align: left;".</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change the <span class=Button>Column Properties > Freeform layout</span> to "True".</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/Web_Properties_button.gif" x-maintain-ratio=TRUE style="border: none; width: 17px; height: 18px; float: none; border-style: none; border-style: none;" width=17 height=18 border=0> in the <span class=Button>Column Properties > Freeform template</span> field to display the <span class=Screen>Freeform Column Layout</span> dialog.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Enter the following field definition and click <span class=Button>OK</span>. This step is important. This setp places the editable "customer_ID" field on the grid, so that the event script can modify it. However, since, the "customer_ID" control is hidden, only the "firstname" field shows.</p>

</li> </ol> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{Customer_Id}{Firstname}</td></tr> </table> <ol start=10 style="list-style: decimal;" type=1> <li class=kadov-p-CListNumber><p class=ListNumber>Select the "lastname" field in the <span class=Control>Selected Fields</span> list.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change the <span class=Button>Column Properties > Column heading</span> to "First Name".</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change the <span class=Button>Column Properties > Heading in-line style</span> to "text-align: left;".</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Select the "cust_ID" field in the <span class=Control>Selected Fields</span> list.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change the <span class=Button>Column Properties > Column heading</span> to "Customer ID".</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change the <span class=Button>Column Properties > Heading in-line style</span> to "text-align: left;".</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Change the <span class=Button>Display Settings > Control type</span> to "Label".</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Grid > Properties</span> page.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Set the <span class=Button>Layout Options > Rows of data</span> to 5.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Grid > Update Settings</span> page.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Set the <span class=Button>Permissions > Number of new record rows</span> to 1.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Save the grid. The results look like the following. </p>

</li> </ol><p class=Pix><img src="images/WPT_Hidden_2.gif" x-maintain-ratio=TRUE style="border: none; width: 404px; height: 260px; float: none; border-style: none; border-style: none;" width=404 height=260 border=0></p>

<p>Now, you can place a script in the <span class=Code1>CanInsertRecord</span> event that will update the <span class=Code1>customer_ID</span> field.</p>

<p class=A5>See Also</p>

<p><a href="/Index/Contents - Web Publishing Tutorial.html" title="Contents - Web Publishing Tutorial" class="wiki">Contents</a></p>

<p><a href="../../Data/FieldRules/Suppressing Blank Fields in an Address.html" title="Suppressing Blank Fields in an Address" class="wiki">Suppressing Blank Fields in an Address</a> | <a href="Creating a Grid that Looks Like a Dialog.html" title="Creating a Grid that Looks Like a Dialog" class="wiki">Creating a Grid that Looks Like a Dialog</a></p>

	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Updating+Hidden+Grid+Fields">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web","keywords":"server,guide,grid"}--->
</body></html>