	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using Merges for Control Positioning</p>



<p>When designing a dialog component or a grid component with columnar 
 formatting (where the <span class=Button>Layout Options > Number of 
 "Layout" Columns</span> property is greater than 1), you may 
 position controls by merging them into groups.</p>



<p>This picture shows a columnar grid with 10 fields. The number of columns 
 is 3. </p>



<p class=Pix><img src="images/WP_Merge_Cells_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 546px;
							height: 417px;
							float: none;
							border-style: none;
							border-style: none;"
					width=546
					height=417
					border=0></p>



<p>We insert merge commands to group the <span class=Code1>firstname</span> 
 and <span class=Code1>lastname</span> controls, and to group the six address 
 fields. We set the <span class=Button>Column heading</span> values for 
 the 2 groups. </p>



<p class=Pix><img src="images/WP_Merge_Cells_4.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 513px;
							height: 294px;
							border-style: none;
							border-style: none;"
					width=513
					height=294
					border=0></p>



<p>This resulting grid looks like this. </p>



<p class=Pix><img src="images/WP_Merge_Cells_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 469px;
							height: 233px;
							border-style: none;
							border-style: none;"
					width=469
					height=233
					border=0></p>



<p>Finally, we insert breaks at the end of the Bill_Address_1 and Bill_Address_2 
 controls. </p>



<p class=Pix><img src="images/WP_Merge_Cells_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 469px;
							height: 297px;
							float: none;
							border-style: none;
							border-style: none;"
					width=469
					height=297
					border=0></p>



<p class=A5>See Also</p>



<p><a href="Using the Number of Layout Columns Feature.html" title="Using the Number of Layout Columns Feature" class="wiki">Using the   Number of &quot;Layout&quot; Columns Feature</a></p>



<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Merges+for+Control+Positioning">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web","keywords":"server,guide,grid,component"}--->
</body></html>