	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using Row Spacers for Control Positioning</p>



<p>When designing a dialog component or a grid component with columnar 
 formatting (where the <span class=Button>Layout Options > Number of 
 "Layout" Columns</span> property is greater than 1), you may 
 position controls by inserting row after controls.</p>



<p>The following example shows the effects of adding column spacers. In 
 this case the grid has the following properties:</p>



<ul>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>Layout 
 Options > Number of "Layout" columns</span> is set to 4</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>Layout 
 Options > Rows of data</span> is set to 2</p>

</li>
</ul>

<p>The grid has 10 fields. This is the default layout of the grid. </p>



<p class=Pix><img src="images/WP_Using_Row_Spacer_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 316px;
							height: 422px;
							float: none;
							border-style: none;
							border-style: none;"
					width=316
					height=422
					border=0></p>



<p>After setting <span class=Button>Layout Options > Number of "Layout" 
 columns</span> to 4. </p>



<p class=Pix><img src="images/WP_Using_Row_Spacer_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 598px;
							height: 181px;
							float: none;
							border-style: none;
							border-style: none;"
					width=598
					height=181
					border=0></p>



<p>After setting <span class=Button>Row Properties > Column span</span> 
 to 2 for <span class=Code1>Firstname</span>, <span class=Code1>Lastname</span>, 
 <span class=Code1>Phone</span>, and <span class=Code1>Fax</span>. </p>



<p class=Pix><img src="images/WP_Using_Row_Spacer_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 413px;
							height: 273px;
							float: none;
							border-style: none;
							border-style: none;"
					width=413
					height=273
					border=0></p>



<p>After placing row spacers after the <span class=Code1>Lastname</span> 
 and <span class=Code1>Fax</span> fields and setting the Label Properties 
 > In-line style of the <span class=Code1>City</span> and <span class=Code1>Country</span> 
 fields to <span class=Code1>width:1.5in;</span>. </p>



<p class=Pix><img src="images/WP_Using_Row_Spacer_6.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 679px;
							height: 393px;
							float: none;
							border-style: none;
							border-style: none;"
					width=679
					height=393
					border=0></p>



<p class=A5>See Also</p>



<p><a href="Using the Number of Layout Columns Feature.html" title="Using the Number of Layout Columns Feature" class="wiki">Using the   Number of &quot;Layout&quot; Columns Feature</a></p>



<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Row+Spacers+for+Control+Positioning">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web","keywords":"server,guide,grid,component"}--->
</body></html>