	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using Session Variables to Filter a GridLinker</p>



<p>By default a gridlinker displays all of the records of the underlying 
 grid components. To filter a grid (typically the primary grid) in a gridlinker, 
 follow this procedure.</p>



<p>Assume you have a gridlinker that links the <span class=Code1>OrderHeader</span> 
 table (parent) to the <span class=Code1>OrderItems</span> table (child), 
 and you want to filter the <span class=Code1>OrderHeader</span> grid so 
 that <span class=Code1>invoice_number = session.invoice_number</span>.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the gridlinker 
 from the <span class=Screen>Web Projects Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the grid whose 
 filter you want to override (the top grid in this case).</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Edit</span> 
 button to display the <span class=Screen>Edit Properties</span> dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Override 
 Settings</span> button to display the <span class=Screen>Override Properties</span> 
 dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Since the <span class=Code1>invoice_number</span> 
 field links the two grids, you want to enter the following code in the 
 dialog:</p>

</li>
</ol>


<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>if eval_valid("pgrid.session.invoice_number") then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;dbf.filter = "invoice_number 
 = " + quote(pgrid.session.invoice_number) <br>
end if</td></tr>
</table>

<p class=Note><span class=Note>Note</span> : In a future version of Alpha 
 Five, the need for the <span class=Code1>pgrid.</span> prefix in <span 
 class=Code1>pgrid.session.invoice_number</span> will be eliminated.</p>



<ol start=6
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK 
 > OK</span> to return to the <span class=Screen>GridLinker Builder</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Save</span> 
 and <span class=Button>Close</span> to return to the <span class=Screen>Web 
 Projects Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Place the gridlinker 
 component on a page (in this example named <span class=Code1>orders.a5w</span> 
 ).</p>

</li>
</ol>

<p class=A5>Testing the Changes</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Publish the grid 
 components.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Place the gridlinker 
 component on a page and publish it.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Create a dialog component 
 with a single drop down list control.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Set the <span class=Button>DropDownBox 
 Properties > Choices</span> field to display a dynamic list of <span 
 class=Code1>invoice_number</span> values from the <span class=Code1>Invoice_Header</span> 
 table.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Form > Properties</span> page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Web_Properties_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			float: none;
			width: 17px;
			height: 18px;
			border-style: none;
			border-style: none;"
	width=17
	height=18
	border=0> in the <span class=Button>Server Events > AfterValidate</span> 
 field to display the <span class=Screen>Form Events</span> dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the following 
 code and click <span class=Button>OK</span>.</p>

</li>
</ol>


<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>session.invoice_number = invoice_number</p>


<p class=Code>currentform.redirecttarget = "orders.a5w"</td></tr>
</table>

<ol start=8
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Place the dialog 
 component on a page and publish the page (in this case named <span class=Code1>Pick_Invoice_Number.a5w</span> 
 ).</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>When you select an 
 invoice number and click <span class=Button>Submit</span>, the <span class=Code1>orders.a5w</span> 
 page will appear.  
 </p>

</li>
</ol>

<p class=Pix><img src="images/WP_Filtered_Gridlinker_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 173px;
							height: 196px;
							float: none;
							border-style: none;
							border-style: none;"
					width=173
					height=196
					border=0></p>



<p class=PixCaption>After selecting an invoice number on the Pick_Invoice_Number.a5w 
 page and clicking Submit...</p>



<p class=Pix><img src="images/WP_Filtered_Gridlinker_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 634px;
							height: 258px;
							float: none;
							border-style: none;
							border-style: none;"
					width=634
					height=258
					border=0></p>



<p class=PixCaption>...the orders.a5w page containing the filtered gridlinker 
 appears.</p>



<p class=A5>See Also</p>



<p><a href="../../Sessions/Using a Session Variable in a Component.html" title="Using a Session Variable in a Component" class="wiki">Using a Session   Variable in a Component</a></p>




<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Session+Variables+to+Filter+a+GridLinker">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web","keywords":"server,guide,grid"}--->
</body></html>