	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using Colspan for Control Positioning</p>



<p>When designing a dialog component or a grid component with columnar 
 formatting (where the <span class=Button>Layout Options > Number of 
 "Layout" Columns</span> property is greater than 1), you may 
 position controls by changing <span class=Button>Row Properties > Column 
 span</span> value of a control.</p>



<p>The following examples show the effects of changing the <span class=Button>Row 
 Properties > Column span</span> value for controls in a grid. In this 
 case the grid has the following properties:</p>



<ul>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>Layout 
 Options > Number of "Layout" columns</span> is set to 2</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>Layout 
 Options > Repeating columns</span> is set to 3</p>

</li>
</ul>

<p>The grid has 6 fields. </p>



<p class=Pix><img src="images/WP_Using_Colspan_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 392px;
							height: 146px;
							float: none;
							border-style: none;
							border-style: none;"
					width=392
					height=146
					border=0></p>



<p>The first step is to select the <span class=Code1>Company</span> field 
 and change its <span class=Button>Row Properties > Column span</span> 
 value to 2. Note how it pushes the other fields down. </p>



<p class=Pix><img src="images/WP_Using_Colspan_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 377px;
							height: 163px;
							float: none;
							border-style: none;
							border-style: none;"
					width=377
					height=163
					border=0></p>



<p>The final step is to select the <span class=Code1>Email</span> field 
 and change its <span class=Button>Row Properties > Column span</span> 
 value to 2. Note how it pushes the <span class=Code1>Phone</span> field 
 down. </p>



<p class=Pix><img src="images/WP_Using_Colspan_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 370px;
							height: 168px;
							float: none;
							border-style: none;
							border-style: none;"
					width=370
					height=168
					border=0></p>



<p class=A5>See Also</p>



<p><a href="Using the Number of Layout Columns Feature.html" title="Using the Number of Layout Columns Feature" class="wiki">Using the   Number of &quot;Layout&quot; Columns Feature</a></p>





<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Colspan+for+Control+Positioning">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web","keywords":"server,guide,grid,component"}--->
</body></html>