	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h3 class="showhide_heading" id="Grid_Component_-_Checkbox_Column_-_Custom_Ajax_Callbacks">Grid Component - Checkbox Column - Custom Ajax Callbacks</h3>
When you do a custom Ajax callback, the 'e' object that is passed into your Xbasic function that handles the callback contains a lot of useful information. Now, the 'e' object contains 3 additional properties that are automatically set if the grid has a checkbox column. The properties are:<br />
<ul><li><strong>e.checkboxFilter</strong> - a filter command to select all of the checked rows
</li><li><strong>e.checkboxFilterArgumentXML</strong> - (for SQL Grids only) if the Grid is based on SQL tables, the e.checkboxFilter property will use arguments (e.g. customerID = :pkValue1). This property contains the XML of the sql::arguments object. This object contains the argument value.
</li><li><strong>e.checkboxFilterArgumentsEncoded</strong> - (for SQL Grids only) contains an encoded version of the e.checkboxFilterArgumentXML property that can be used in the .gridFilterSet() method.
</li></ul><br />
Example of the e.checkBoxFilter property for a .dbf table that has as its primary key, the expression 'firstname-lastname':<br />
(In this example, 3 records were checked)<br />
<span style="color:blue; background:">(Firstname-lastname = "JanetRebo") .or. (Firstname-lastname = "BryanSmith") .or. (Firstname-lastname = "LarryDodds")</span><br />
<br />
Example of the e.checkBoxFilter property for a .dbf table that uses record number as the primary key:<br />
(Again, the example assumes that 3 records were checked)<br />
<span style="color:blue; background:">(recno() = 4) .or. (recno() = 7) .or. (recno() = 9)</span><br />
<br />
Example of the e.checkBoxFilter property for a SQL table that has 'customer_id' as the primary key:<br />
(Again, the example assumes that 3 records were checked. Note that the filter uses arguments)<br />
<span style="color:blue; background:">(CUSTOMER_ID = :PKValue_R1_1) OR (CUSTOMER_ID = :PKValue_R2_1) OR (CUSTOMER_ID = :PKValue_R3_1)</span><br />
<br />
Example of the e.checkboxFilterArgumentXML  property show the XML for the sql::arguments object. This has values for the 3 arguments used in the above filter expression.<br />
<span style="color:blue; background:"><div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox" >&lt;SQLArguments&gt;
    &lt;SQLArgument&gt;
        &lt;Name&gt;pkvalue_r1_1&lt;/Name&gt;
        &lt;Data Type="N"&gt;2&lt;/Data&gt;
        &lt;IsNull Type="L"&gt;0&lt;/IsNull&gt;
        &lt;Usage&gt;Input&lt;/Usage&gt;
    &lt;/SQLArgument&gt;
    &lt;SQLArgument&gt;
        &lt;Name&gt;pkvalue_r2_1&lt;/Name&gt;
        &lt;Data Type="N"&gt;3&lt;/Data&gt;
        &lt;IsNull Type="L"&gt;0&lt;/IsNull&gt;
        &lt;Usage&gt;Input&lt;/Usage&gt;
    &lt;/SQLArgument&gt;
    &lt;SQLArgument&gt;
        &lt;Name&gt;pkvalue_r3_1&lt;/Name&gt;
        &lt;Data Type="N"&gt;4&lt;/Data&gt;
        &lt;IsNull Type="L"&gt;0&lt;/IsNull&gt;
        &lt;Usage&gt;Input&lt;/Usage&gt;
    &lt;/SQLArgument&gt;
&lt;/SQLArguments&gt;</pre></div></span><br />
Example of the e.checkboxFilterArgumentsEncoded property showing the encoded form of the above arguments:<br />
<span style="color:blue; background:"><div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox1" >2|||N|pkvalue_r1_1\n3|||N|pkvalue_r2_1\n4|||N|pkvalue_r3_1</pre></div></span><br />
Notice that the arguments are encoded into a string that is delimited with '\n' (the Javascript encoded value for a CRLF). The format is:<br />
<span style="color:blue; background:"><div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox2" >argumentValue|||argumentType|argumentName</pre></div></span><br />
The encoded arguments are useful if you want to use the .gridFlterSet() method in your callback function. For example, the code below shows how your Xbasic function could compute a Javascript command to return to the browser:<br />
<span style="color:blue; background:"><div class="plugincode" ><pre class="codelisting" data-syntax="" dir="ltr" style="overflow:auto;" id="codebox3" >dim cmd as c
cmd =     "{grid.object}.gridFilterSet('" +\
          e.checkboxFilter + "','','" +\
          e.checkboxFilterArgumentsEncoded + ');"</pre></div></span><br />
<h3 class="showhide_heading" id="Videos_-_Checkbox_Column">Videos - Checkbox Column</h3>
The following videos demonstrate the new features checkbox features in the Grid:<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V10Videos/CheckboxColumn1.swf" rel="external nofollow">Watch Video -  Part 1</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V10Videos/CheckboxColumn2.swf" rel="external nofollow">Watch Video -  Part 2</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V10Videos/CheckboxColumn3.swf" rel="external nofollow">Watch Video -  Part 3</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Grid+Component+Checkbox+Column+Custom+Ajax+Callbacks+V10.5">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,xbasic,grid,component,sql"}--->
</body></html>