	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Grid_Components_V10.5">Grid 
			Components </h1>
<h2 class="showhide_heading" id="HTML_Editor_-_New_Toolbar_Buttons">HTML Editor - Toolbar Buttons</h2>
The HTML editor now has two new buttons. The 'Toggle Source View' button toggles between a view showing HTML tags and the formatted view. The 'Insert Link' button allows you to insert a hyperlink into the text.<br />
	<img src="http://downloads.alphasoftware.com/a5v10download/htmleditorButtons.jpg" alt="Image" /><br />
<h2 class="showhide_heading" id="HTML_Editor_-_Tab_Key">HTML Editor - Tab Key</h2>
The tab key now inserts 4 spaces into the text. Previously it tabbed out of the editor to the next control.<br />
<h2 class="showhide_heading" id="Action_Javascript_-_Comments">Action Javascript - Comments</h2>
When you add a new action, you can now turn off the prompt for the action comment. This is useful if you rarely give a comment to each action you add. You can still add a comment later on by clicking the edit icon at the lower left of the dialog.<br />
<h2 class="showhide_heading" id="Xdialog">Xdialog</h2>
When running a Grid component in an Xdialog, the genie that creates the Xdialog code now has new options:<br />
<ul><li>Refresh parent window - if set to true does a topparent.resynch() to refresh the data in the parent form (if the Xdialog was launched from a button on a Form Layout). This is useful if the Grid component has edited the same record that the form is currently displaying.
</li><li>Prevent window close if Grid is dirty - prevent user from closing the Xdialog and losing unsaved Grid edits.
</li><li>Dirty Grid warning message - message to display if user tries to close the Xdialog window and the Grid has unsaved changes.
</li><li>OnWindowClose event - code to execute when the user closes the Xdialog window that contains the Grid component.
</li><li>CanWindowClose event - code to execute before the user closes the Xdialog window. If the function returns .f., then window will not be closed.
</li></ul>	<img src="http://downloads.alphasoftware.com/a5v10download/gridinxdialoggenie2.jpg" alt="Image" /><br />
<h2 class="showhide_heading" id="DropdownBox_Control_-_Edit_On_Demand">DropdownBox Control - Edit On Demand</h2>
Previously, in an editable Grid where the row editing mode was set to 'EditOnDemand' DropDownBox controls would render as Label controls when the row was NOT it edit mode. When you switched to edit mode, of course, the control would then render as a DropDownBox. Now, when you are NOT in edit mode the control renders as a disabled DropDownBox (as shown below). This is particular useful in the case where the DropDownBox stores a different value from the displayed value.<br />
	<img src="images/disabledDropdownBox.jpg" alt="Image" /><br />
<br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Grid+Components+V10.5">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web, review","status":"pending","keywords":"server,javascript,grid"}--->
</body></html>