	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Grid_Component_-_Tree_Control_Navigator_-_Refresh">Grid Component - Tree Control Navigator - Refresh</h1>
<h2 class="showhide_heading" id="refreshExternalTreeNavigator_Method">refreshExternalTreeNavigator Method</h2>
If you have placed a Tree Control Navigator on the Grid, you can now force an Ajax callback to repopulate the Tree.<br />
The Grid Object now has a new method: .refreshExternalTreeNavigator()<br />
For example, you could have a button on the Grid with this code:<br />
<br />
<div class="plugincode" parse="javascript"><pre class="codelisting" data-syntax="javascript" dir="ltr" style="overflow:auto;" id="codebox" ><span style="color: #009900;">&#123;</span>grid.<span style="color: #660066;">Object</span><span style="color: #009900;">&#125;</span>.<span style="color: #660066;">refreshExternalTreeNavigator</span><span style="color: #009900;">&#40;</span><span style="color: #009900;">&#41;</span></pre></div><br />
<h2 class="showhide_heading" id="Refresh_Tree_Button">Refresh Tree Button</h2>
You can now set a property in the builder to add a 'Refresh' button to the Tree Control Navigator<br />
<br />
	<img src="images/treecontrolnavigator.jpg" alt="Image" /><br />
<br />
When the tree control renders, it will have a button under the Tree to force a refresh.<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Grid+Component+Tree+Control+Navigator+Refresh+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,grid,component"}--->
</body></html>