	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Auto-Populating&nbsp;List Box&nbsp;and Combo Box&nbsp;Controls</p>



<p>When you place a list box or combo box control on a Form, Alpha Five 
 offers several different ways to automatically populate the control. The 
 controls can be automatically populated with various internal Alpha Five 
 lists or dynamic lists of data.</p>



<p class=A5><a name=Internal_Alpha_Five_Lists>Internal Alpha Five Lists</a></p>



<p>The following is a sampling of the lists that Alpha Five can automatically 
 generate.</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Fields in a table</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Layouts (like Forms, Reports, 
 etc.) in the current database</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Saved Operations (like 
 Export, Copy, Append) in the current database</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Tables or Sets in the current 
 database</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Scripts in the current 
 database</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Images in the current database</p>

</li>
</ul>

<p class=A5><a name=Dynamic_Lists_of_Data>Dynamic Lists of Data</a></p>



<p>You can generate a dynamic list of data using an expression that returns 
 a CR-LF delimited list of values. There are two ways to do this:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Modify the choices properties 
 of a list box, combo box, or tree control</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Use a record-list list 
 box or combo box based a table or set</p>

</li>
</ul>

<p>For example, the filter expression that controls the records that are 
 shown in a Record List-List Box control on a form can be based on a variable 
 or other field on the form.&nbsp;as&nbsp;the value in that variable changes 
 (specified in the <span class=Control>Watch Expression</span> ), the records 
 shown in the Record List are updated.</p>



<p>The following screen show the user interface for applying a filter to 
 a Record List-List box whose contents is based on a variable called <span 
 class=Code1>vState</span>. </p>



<p class=Pix><img src="images/Dynamic_Data_Filtering_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 309px;
							height: 314px;
							float: none;
							border-style: none;
							border-style: none;"
					width=309
					height=314
					border=0></p>



<p>Here is the form showing the Record List, with data showing customers 
 in MA: </p>



<p class=Pix><img src="images/Dynamic_Data_Filtering_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 497px;
							height: 325px;
							float: none;
							border-style: none;
							border-style: none;"
					width=497
					height=325
					border=0></p>



<p>Here is the form showing the Record List, with data showing customers 
 in CA: </p>



<p class=Pix><img src="images/Dynamic_Data_Filtering_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 516px;
							height: 241px;
							float: none;
							border-style: none;
							border-style: none;"
					width=516
					height=241
					border=0></p>



<p class=A5>See Also</p>



<p><a href="/Server/Reference/Design/Api/Objects/Object/Objects That Do Table Lookups.html" title="Objects That Do Table Lookups" class="wiki">Overview of Development   Approaches</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Auto-PopulatingList+Boxand+Combo+BoxControls">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,design,xdcontrol","tags":"desktop,review","notes":"Alpha Five"}--->
</body></html>