	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Combo Boxes</p>

<p>Combo boxes are variants on the text box and radio button controls. Like a radio button, a combo box displays a list of values, but it displays the choices in a drop-down text box.</p>

<p>You can specify the choices for the combo in one of three ways:</p>

<ul style="list-style: disc;" type=disc> <li class=kadov-p-CBullet1><p class=Bullet1>Enclosing a comma separated list between&nbsp;&nbsp;'{' and '}'&nbsp;&nbsp;e.g. <span class=Code1>{Red,Green,Blue}</span></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1>By referring to an array that contains the choices</p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1>By referring to a string variable that contains a CR-LF delimited list of choices</p>

</li> </ul><p>The syntax for a combo box object is:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>[.size variable_name^={choice1,choice2,choiceN}]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or,</p>

<p class=Code>[.size variable_name^=choice_variable]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or,</p>

<p class=Code>[.size variable_name^=choice_array]</td> </tr> </table><p>Where <span class=Code1>choice1</span>, <span class=Code1>choice2</span>, <span class=Code1>choiceN</span> are the actual choices, or <span class=Code1>choice_variable</span> is the name of a string that contains CR-LF delimited choices, or <span class=Code1>choice_array</span> is the name of a array that contains the choices.</p>

<p>The value of <span class=Code1>variable_name</span> is a base-1 index if the variable is declared&nbsp;as&nbsp;Numeric. If undeclared or left un-initialized, the variable is a string that returns the text of the choice that is selected.</p>

<p>The following script demonstrates a combo box in which the choices are explicitly stated by enclosing the choices between the '{' and '}' characters.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>mode = "Shared"</p>

<p class=Code>result=ui_dlg_box("Title",&lt;&lt;%dlg%</p>

<p class=Code>Filename:| [.32filename];</p>

<p class=Code>Open as:;</p>

<p class=Code>Mode:| [.10 mode^={Shared,Read only,Exclusive}];</p>

<p class=Code><OK></p>

<p class=Code>%dlg% )</td> </tr> </table><p>This script creates this dialog: </p>

<p class=Pix> <img src="images/XD_combo_box.gif" style="width: 236px; height: 126px; float: none; border-style: none; border-style: none;" width=236 height=126 border=0></p>

<p class=PixCaption>Lesson 2: Combo Boxes</p>

<p>Notice in the above script the use of the '|' character to line up the combo box and the text box.</p>

<p class=A5><a name=Combo_Boxes___Populated_from_a_String>Combo Boxes - Populated from a String</a></p>

<p>The following script is identical to the previous script, except that the choices displayed by the combo box come from a variable, which contains a CR-LF delimited list of choices. In addition, mode is declared&nbsp;as&nbsp;a numeric variable. Therefore, the dialog box will set its value to 1, 2, or 3.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>mode = 1</p>

<p class=Code>choices = &lt;&lt;%dlg%</p>

<p class=Code>Shared</p>

<p class=Code>Read only</p>

<p class=Code>Exclusive</p>

<p class=Code>%dlg%</p>

<p class=Code>result=ui_dlg_box("Title",&lt;&lt;%dlg%</p>

<p class=Code>Filename:| [.32filename];</p>

<p class=Code>Open as:;</p>

<p class=Code>Mode:| [.10 mode^=choices];</p>

<p class=Code><OK></p>

<p class=Code>%dlg% )</td> </tr> </table><p class=A5>Next</p>

<p> <a href="../../../../../Reference/Design/View/Xdialog/Controls/List Box Control.html" title="List Box Control" class="wiki">List Boxes</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Combo+Boxes">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,xbasic,xdcontrol"}--->
</body></html>