	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Comparing Drop-down Lists and Popup Dialogs</p>



<p>You can display a table lookup&nbsp;as&nbsp;a drop-down combo box, rather 
 than in a separate pop-up window. While there are some advantages in using 
 the pop-up window (i.e. the ability to edit and add records to the lookup 
 table on the fly, and the ability to search for a record by any key), 
 using a combo box creates a more natural feel for the user.</p>



<p>The AlphaSports <span class=Screen>Invoice Form</span> has a product 
 combo box lookup. </p>



<p class=Pix><img src="images/UG_Invoice_Form.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 581px;
							height: 214px;
							border-style: none;
							border-style: none;"
					width=581
					height=214
					border=0></p>



<p>The <span class=Code1>Customer_ID</span> lookup is a pop-up window. 
 </p>



<p class=Pix><img src="images/UG_Popup_Lookup_Window.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 577px;
							height: 223px;
							float: none;
							border-style: none;
							border-style: none;"
					width=577
					height=223
					border=0></p>



<p>Using a pop-up lookup window, you can take advantage of the following 
 features:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Custom 
 Browse Layout</span> : You can specify a saved browse layout to use when 
 Alpha Anywhere displays a lookup window. You have full control over the fonts, 
 column titles, and other aspects of the appearance of the lookup Browse. 
 </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Sort 
 by any browse Column</span> : When the lookup browse is displayed, you 
 can sort by any column by simply clicking on the column. The first click 
 sorts ascending. The second click sorts descending. When you do a Find, 
 Alpha Anywhere uses the current sort column to find by. </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Efficient 
 Finding of Records</span> : When the lookup browse is displayed, you can 
 type any letter and Alpha Anywhere invokes the Find command. For example, 
 if you type the letter "S", Alpha Anywhere opens the Find dialog 
 box and inserts the letter "S" in the text box, waiting for 
 you to complete the search criteria. </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Unique 
 Records Only</span> : When you define a lookup rule, you can specify that 
 Alpha Anywhere should only display unique records in the lookup window. For 
 example, if your lookup window displays a list of states from a customer 
 table, Alpha Anywhere will display one record only for each state. </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Maximized 
 Lookup Window</span> : You can specify that if the underlying form or 
 browse window is maximized, and then when a lookup window is displayed, 
 the window will also be maximized. </p>

</li>
</ul>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Comparing+Drop-down+Lists+and+Popup+Dialogs">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop, dbf","status":"pending","keywords":"desktop,guide,xdcontrol,dbf,asports"}--->
</body></html>