	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Controlling Record Navigation with the Invoice Toolbar</p>



<p>The normal behavior of the record navigation buttons ( <img src="images/Move_First_Button_2.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> <img src="images/Move_Previous_Button.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 22px;
							height: 22px;
							float: none;
							border-style: none;
							border-style: none;"
					width=22
					height=22
					border=0> <img src="images/Move_Next_Button.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 22px;
											height: 22px;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=22
									border=0> <img src="images/Move_Last_Button_2.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 22px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=22
													height=22
													border=0>) is defined 
 by the item on form that has focus. Assume you have a form with an embedded 
 browse. Place the cursor on a form field. The forwards and backwards record 
 navigation will be defined by the currently activate table index. Place 
 the cursor on the browse. Now, forward and backwards record navigation 
 will be defined by the records of the browse.</p>



<p>The Invoice toolbar redefines the meaning of the navigation buttons, 
 so that they always move forwards and backwards through the form's records, 
 even if the cursor is on the embedded browse.</p>



<p class=A5>Procedure: Creating a Toolbar with Redefined Navigation Buttons</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Code</span> 
 tab of the <span class=Screen>Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>New</span> 
 > <span class=Button>Toolbar</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Form 
 View Toolbar" and click <span class=Button>OK</span>. </p>

</li>
	
	<p class=Pix><img src="images/UG_New_Toolbar_dialog.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 559px;
								height: 400px;
								border-style: none;
								border-style: none;"
						width=559
						height=400
						border=0></p>


	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the First 
 button <img src="images/Move_First_Button_2.gif"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 22px;
					height: 22px;
					float: none;
					border-style: none;
					border-style: none;"
			width=22
			height=22
			border=0>. Change the <span class=Control>Button Action</span> 
 field to "Run Xbasic". Enter the following Xbasic code into 
 the type-in box.</p>

</li>
	
	
	<table class="codeTable" style="x-cell-content-align: top;
					width: 100%;
					border-left-style: none;
					border-right-style: none;
					border-top-style: none;
					border-bottom-style: none;
					border-spacing: 0px;
					border-spacing: 0px;" cellspacing="0" width="100%">
	<col style="width: 100%;">
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td style="x-cell-content-align: top;
				width: 100%;
				padding-right: 10px;
				padding-left: 10px;" valign="top" width="100%">
	<p class=Code>topparent.fetch_first()</td></tr>
	</table>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the Previous 
 button <img src="images/Move_Previous_Button.gif"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 22px;
					height: 22px;
					float: none;
					border-style: none;
					border-style: none;"
			width=22
			height=22
			border=0>. Change the <span class=Control>Button Action</span> 
 field to "Run Xbasic". Enter the following Xbasic code into 
 the type-in box.</p>

</li>
	
	
	<table class="codeTable" style="x-cell-content-align: top;
					width: 100%;
					border-left-style: none;
					border-right-style: none;
					border-top-style: none;
					border-bottom-style: none;
					border-spacing: 0px;
					border-spacing: 0px;" cellspacing="0" width="100%">
	<col style="width: 100%;">
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td style="x-cell-content-align: top;
				width: 100%;
				padding-right: 10px;
				padding-left: 10px;" valign="top" width="100%">
	<p class=Code>topparent.fetch_prev()</td></tr>
	</table>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the Next button 
 <img src="images/Move_Next_Button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 22px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0>. Change the <span class=Control>Button Action</span> 
 field to "Run Xbasic". Enter the following Xbasic code into 
 the type-in box.</p>

</li>
	
	
	<table class="codeTable" style="x-cell-content-align: top;
					width: 100%;
					border-left-style: none;
					border-right-style: none;
					border-top-style: none;
					border-bottom-style: none;
					border-spacing: 0px;
					border-spacing: 0px;" cellspacing="0" width="100%">
	<col style="width: 100%;">
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td style="x-cell-content-align: top;
				width: 100%;
				padding-right: 10px;
				padding-left: 10px;" valign="top" width="100%">
	<p class=Code>topparent.fetch_next()</td></tr>
	</table>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the Last button 
 <img src="images/Move_Last_Button_2.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 22px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0>. Change the <span class=Control>Button Action</span> 
 field to "Run Xbasic". Enter the following Xbasic code into 
 the type-in box.</p>

</li>
	
	
	<table class="codeTable" style="x-cell-content-align: top;
					width: 100%;
					border-left-style: none;
					border-right-style: none;
					border-top-style: none;
					border-bottom-style: none;
					border-spacing: 0px;
					border-spacing: 0px;" cellspacing="0" width="100%">
	<col style="width: 100%;">
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td style="x-cell-content-align: top;
				width: 100%;
				padding-right: 10px;
				padding-left: 10px;" valign="top" width="100%">
	<p class=Code>topparent.fetch_last()</td></tr>
	</table>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Save 
 As</span>, enter the toolbar's name in the <span class=Control>Name</span> 
 field, and click <span class=Button>OK</span>.</p>

</li>
</ol>

<p class=A5>Procedure: Attaching a Toolbar to a Form</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right click on the 
 form's background.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Properties...</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Menus/Toolbars</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the new toolbar 
 in the <span class=Control>Toolbars/Views</span> list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="Creating the Navigation Toolbar.html" title="Creating the Navigation Toolbar" class="wiki">Creating the Navigation   Toolbar</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Controlling+Record+Navigation+with+the+Invoice+Toolbar">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Alpha Sports, older ijmage","keywords":"desktop,guide,xdcontrol"}--->
</body></html>