	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Copying Selected Text from a Memo Control</p>



<p>The following example shows how to copy selected text from a memo control. 
 The script then pastes the copied text into a different text control on 
 the same form. </p>



<p class=Pix><img src="images/XB_Copy_Selected_Text.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 361px;
							height: 153px;
							float: none;
							border-style: none;
							border-style: none;"
					width=361
					height=153
					border=0></p>



<p>The memo field is named <span class=Code1>Notes</span>. The <span class=Code1>Notes.activate()</span> 
 statement activates the memo control, because it loses focus when you 
 click the <span class=Button>Copy</span> button. The <span class=Code1>ptr 
 = ui_editor_get()</span> statement gets a pointer to the editor associated 
 with the memo control. The ptr.copy()statement copies the current selection 
 of text into the clipboard. The last 2 lines of the script retrieve the 
 text from the clipboard and paste it into the <span class=Code1>lastname</span> 
 field of the form.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim name&nbsp;as&nbsp;C</p>


<p class=Code>dim ptr&nbsp;as&nbsp;P</p>


<p class=Code>Notes.activate()</p>


<p class=Code>ptr = ui_editor_get()</p>


<p class=Code>ptr.copy()</p>


<p class=Code>name = clipboard.Get_Data()</p>


<p class=Code>lastname.text = name</td></tr>
</table>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Copying+Selected+Text+from+a+Memo+Control">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdcontrol"}--->
</body></html>