	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			
<p class=A3Topic>Creating a Cascading List</p>



<p>A cascading list is a series of nested pop-up lists that appear&nbsp;as&nbsp;you 
 make selections from the initial lookup window and its related sub-windows. 
 All lookup values are selected at the endpoints of the cascading lists.</p>



<p class=Pix><img src="images/Cascading_list_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 343px;
							height: 142px;
							float: none;
							border-style: none;
							border-style: none;"
					width=343
					height=142
					border=0></p>



<p>You can often categorize values stored in a lookup into smaller, related 
 groups. By breaking the values in lookup tables into a hierarchical structure 
 of categories and sub-categories, your choice can be narrowed to a subset 
 of values. This lookup table functionality, called cascading tables, is 
 especially useful for simplifying lookup tables that contain many entries 
 and for helping you to make the right choice.</p>



<p>You can use&nbsp;as&nbsp;many menus&nbsp;as&nbsp;you need before displaying 
 the choices that are to fill the field (the endpoints in the cascading 
 list). The endpoints can exist either at the same level or at different 
 levels in the cascading list. </p>



<p>The menus above were created with the following data.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>Camping and Fishing <br>
+Clothing <br>
++Slickers and Boots <br>
++Outdoor Outer Wear <br>
+Gear <br>
++Cooking Gear <br>
++Fishing Lures <br>
++Fishing Poles <br>
Hockey <br>
+Hockey Jerseys <br>
+Hockey Equipment <br>
Basketball <br>
+Basketball Jerseys <br>
+Basketball Shoes <br>
+Basketballs</td></tr>
</table>

<p class=A5><a name=Creating_a_Cascading_List>Creating a Cascading List</a></p>



<ol>
	
	<li><p>If you selected "Cascading 
 List", enter the elements of your cascading menu in the <span class=Control>Layout 
 cascading menu</span> field. Refer to <a href="Creating a Cascading List.html#Special_Characters" title="Creating a Cascading List" class="wiki">Special   Characters</a> and <a href="Creating a Cascading List.html#Adding_Images" title="Creating a Cascading List" class="wiki">Adding Images</a> for formatting 
 instructions.</p>

</li>
	
	<li><p>Optionally, click 
 <span class=Button>Add another column...</span> to display the <span class=Screen>Field 
 Selection</span> dialog box. These fields will be filled at the same time 
 that the current field is filled.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select the field 
 name and click <span class=Button>OK</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Type entries (one 
 per line) into the column titled with the name of the new field.</p>

</li>
	</ol>
	
	<li><p>Optionally, delete 
 any of the additional columns.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Place the cursor 
 into the additional column.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Delete 
 the current column...</span> and <span class=Button>Yes</span>.</p>

</li>
		
		<ul style="list-style: disc;"
			type=disc>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>Optionally, make 
 a selection from <span class=Control>Allow exceptions</span>. Indicate 
 which values are allowed in the lookup field, and what should happen when 
 you enter a disallowed value. The options are:</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Allow any 
 value" - Allows choices from the lookup&nbsp;as&nbsp;well&nbsp;as&nbsp;other 
 typed-in values. This is the default.</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Force closest 
 match" - Allows only lookup choices. When you enter a value that 
 does not exist in the lookup list or table, the choice from the lookup 
 that is closest to the value you typed is automatically entered.</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Popup on 
 mismatch" = Allows only lookup choices. When you enter a value that 
 does not exist in the lookup list or table, the Lookup window appears.</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Allow any/fill 
 only on popup"</p>

</li>
		</ul>
	</ol>
	
	<li><p>If you chose to use 
 a popup dialog in step 10, optionally make a selection from <span class=Control>Auto 
 popup</span>. Specify whether the Lookup window displays on demand or 
 automatically. The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Do not automatically 
 popup" - The Lookup window displays on demand. You must click the 
 Pop-up smart button attached to the Lookup field. This is the default.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Popup on entrance" 
 - The Lookup window displays every time the cursor enters the field.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Popup conditionally 
 on entrance" - Build a conditional expression that determines whether 
 the window displays automatically. For example, the Pop-up condition: 
 <span class=Code1>ISBLANK("CUST_ID")</span> causes the Customer 
 Lookup window to appear only if the <span class=Code1>Cust_ID</span> field 
 is empty.</p>

</li>
	</ul>
	
	<li><p>Optionally, enter 
 an expression that defines the <span class=Control>Popup condition</span>. 
 The expression must resolve to either TRUE (.T.) or FALSE (.F.). Click 
 to display the <span class=Screen><a href="../../../Data/FieldRules/Expression Builder.html" title="Expression Builder" class="wiki">Expression   Builder</a></span> to help you define the expression.</p>

</li>
	
	<li><p>Optionally, select 
 a value from the <span class=Control>Position</span> list to indicate 
 where the Lookup window should appear. The listed positions are relative 
 to the Alpha Anywhere Main Application window. The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Cascading" 
 - displays the window just below the form window title, so that both title 
 bars are visible.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Top left"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Top center"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Top right"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Middle left"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Middle center"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Middle right"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Bottom left"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Bottom center"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Bottom right"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Custom" 
 - lets you specify the position of the Lookup window in inches or centimeters. 
 Indicate the distance from the upper-left corner of the layout window 
 both horizontally (X) and vertically (Y).</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Sticky" 
 - the popup remembers and reappears at its last position</p>

</li>
	</ul>
	
	<li><p>If you selected "Custom" 
 in step 7, enter position values in the <span class=Button>Custom X</span> 
 and <span class=Button>Custom Y</span> fields. Enter dimension values 
 in the <span class=Button>Custom Width</span> and <span class=Button>Custom 
 Height</span> fields.</p>

</li>
</ol>

<p class=A5><a name=Special_Characters>Special Characters</a></p>



<p>You can define values (to be saved) that differ from the values (to 
 be displayed). To do this, type the entry using the tilde character (~):</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>First level menu choice <br>
+Menu choice~Save value</td></tr>
</table>

<p>When you select the choice, only the save value (to the right of the 
 tilde) is saved into the field.</p>



<p>You can also specify that the entire path leading up to a particular 
 endpoint fills the target field. To do this, use the caret character (^) 
 at the end of the entry.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>First level menu choice <br>
+Lookup value^</td></tr>
</table>

<p>When you select the choice, the string "First level menu choice, 
 Lookup value" fills the field.</p>



<p>A Cascading List lookup can fill in other fields at the same time. To 
 do this, you can create additional columns by clicking the <span class=Button>Add 
 New Column</span> button.</p>



<p>For information on the remaining parameters, see the discussions of 
 the lookup parameters in <a href="../../../Data/FieldRules/Creating a Simple List.html" title="Creating a Simple List" class="wiki">Simple   Lookup List</a>.</p>



<p class=A5><a name=Adding_Images>Adding Images</a></p>



<p>You can place an image to the left of any entry with the syntax {I:</p>



<p>{I:" <span class=Argument>Image_Filename</span> "} or {I: 
 <span class=Argument>Variable_Name</span> }.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>{I:$a5_letter}FedEx</p>


<p class=Code>+Ground</p>


<p class=Code>+Next Day</p>


<p class=Code>+Two Day</td></tr>
</table>

	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Creating+a+Cascading+List">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdcontrol"}--->
</body></html>