	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Displaying a "Wait" Message While a Branch Expands</p>

<p>This example shows how to use the {EXPAND} command to display a wait message while waiting for the data to expand a branch of a tree control.</p>

<p>The list that defines the tree control's contents includes the {EXPAND} command where Alpha Five may require several seconds to general the branches of the tree. This occurs only when dynamically populating the tree control with a function.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>list = &lt&lt%list%</p>

<p class=Code>scripts|{EXPAND=Expanding folder...}!get_scripts()</p>

<p class=Code>functions|{EXPAND=Expanding folder...}!a5.udf_enum(2)</p>

<p class=Code>colors|{EXPAND=Expanding folder...}!a5.color_enum()</p>

<p class=Code>tables|{EXPAND=Expanding folder...}!a5.table_enum()</p>

<p class=Code>%list%</td> </tr> </table><p>The <a href="../../../../../Reference/Design/View/Xdialog/Controls/Tree Control X Directive.html" title="Tree Control X Directive" class="wiki">X directive</a> in the <a href="../../../../../Reference/Design/View/Xdialog/Controls/Tree Control Syntax.html" title="Tree Control Syntax" class="wiki">tree control syntax</a> says that functions will be providing the contents of the branches of the tree. The <a href="../../../../../Reference/Design/View/Xdialog/Controls/Tree Control D Directive.html" title="Tree Control D Directive" class="wiki">D directive</a> says that the "|" character separates the parent node from the function that defines its branches.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>[%X;S=BRL;D="|";%.60,15current^&ltlist];</td> </tr> </table><p>It is very important that the function that expands the branch include the <a href="/Server/Reference/Design/Api/Functions/UI Functions/UI_YIELD Function.html" title="UI_YIELD Function" class="wiki">UI_YIELD(</a>)function call. The UI_YIELD()call allows Alpha Five to update the screen while the function is still executing. Without the UI_YIELD()in this function, the text in the {EXPAND} directive would not be painted onto the screen.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>function get_scripts&nbsp;as&nbsp;C ()</p>

<p class=Code>hourglass_cursor(.t.)</p>

<p class=Code>ui_yield()</p>

<p class=Code>sleep(2)</p>

<p class=Code>get_scripts = a5.script_enum(2)</p>

<p class=Code>hourglass_cursor(.f.)</p>

<p class=Code>end function</td> </tr> </table>

<p class=A5>Limitations</p>

<p>Desktop applications only.</p>

<p class=A5>See Also</p>

<p> <a href="../../../../../Reference/Design/View/Xdialog/Controls/Tree Control X Directive.html" title="Tree Control X Directive" class="wiki">Tree Control X Directive</a>, <a href="../../../../../Reference/Design/View/Xdialog/Controls/Tree Control D Directive.html" title="Tree Control D Directive" class="wiki">Tree Control D Directive</a>, <a href="../../../../../Reference/Design/View/Xdialog/Command/EXPAND Xdialog Command.html" title="EXPAND Xdialog Command" class="wiki">{EXPAND}</a></p>

<p class=A5>Next</p>

<p> <a href="../../../Data/DBF/Populate Dynamically from a Table.html" title="Populate Dynamically from a Table" class="wiki">Populate Dynamically from a Table</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Displaying+a+Wait+Message+While+a+Branch+Expands">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop,review","notes":"A5","keywords":"desktop,design,guide,xdcontrol"}--->
</body></html>