	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>ImageViewer Control - Displaying Images on an Xdialog</p>

<p>The {ImageViewer} control - a control displays a .BMP, .GIF, .JPG, or .PNG image on an Xdialog. </p>

<p class=Pix> <img src="images/XD_View_Image.gif" x-maintain-ratio=TRUE style="border: none; width: 689px; height: 415px; float: none; border-style: none; border-style: none;" width=689 height=415 border=0></p>



<p class=A5>Example</p>

<p>Define the properties of the {ImageViewer} control. These are <span class=Bolded>read only</span> properties that represent the height and width of the image that is being displayed. 'These values are set automatically after an image has been loaded.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dim iv&nbsp;as&nbsp;P</p>

<p class=Code>iv.width = 0</p>

<p class=Code>iv.height = 0</td> </tr> </table><p>Name an event to fire after the image has been loaded. Set a default display mode.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>iv.loadEvent = "Load"</p>

<p class=Code>dim mode&nbsp;as&nbsp;C</p>

<p class=Code>mode = "Absolute"</td> </tr> </table><p>Select a default image to display and create the Xdialog.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dim imagename&nbsp;as&nbsp;c = a5.get_exe_path()+ chr(92) + "splash.jpg"</p>

<p class=Code>ui_dlg_box("View Image",&lt;&lt;%dlg%</p>

<p class=Code>{stretch=height,width}</p>

<p class=Code>{imageViewer=110,20iv};</p>

<p class=Code>{stickto=bottom}</p>

<p class=Code>{region}</p>

<p class=Code>(mode:Absolute!changeMode)</p>

<p class=Code>(mode:Best fit!changeMode)</p>

<p class=Code>(mode:Stretch!changeMode);</td> </tr> </table><p>This command uses the standard syntax for smart fields.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>[%p=ui_get_file("Image","BMP (*.bmp)|GIF (*.gif)|JEPG (*.jpg;*.jpeg)|PNG (*.png)",imagename)%.100imagename] <Go!setImage></p>

<p class=Code>{endregion}</p>

<p class=Code>%dlg%,&lt;&lt;%code%</td> </tr> </table><p>This "Load" event fires after the <span class=Code1><ImageViewer>.object.loadImage()</span>method runs.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>if a_dlg_button = "Load" then</p>

<p class=Code></p>

<p class=Code>a_dlg_button = ""</p>

<p class=Code></p>

<p class=Code>ui_msg_box("Notice", "Image has been loaded. Its size is " + iv.width</p>

<p class=Code></p>

<p class=Code>+ " by " +iv.height)</p>

<p class=Code>end if</td> </tr> </table><p>This method uses the <ImageViewer>.object.SetMode() method to set the way the image is displayed. It takes one of three modes: "absolute", "best fit", and "stretch".</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>if a_dlg_button = "changeMode" then</p>

<p class=Code></p>

<p class=Code>a_dlg_button = ""</p>

<p class=Code></p>

<p class=Code>iv.object.setMode(mode)</td> </tr> </table><p>This portion of the script checks to see that the file exists and then loads it into the viewer.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>else if a_dlg_button = "setImage" then</p>

<p class=Code></p>

<p class=Code>a_dlg_button = ""</p>

<p class=Code></p>

<p class=Code>if file.exists(imagename) then</p>

<p class=Code></p>

<p class=Code>iv.object.loadImage(imagename)</p>

<p class=Code></p>

<p class=Code>end if</p>

<p class=Code>end if</p>

<p class=Code>%code%)</td> </tr> </table><p class=A5>See Also</p>

<p> <a href="../../../../../Reference/Design/View/Xdialog/Command/ImageViewer Xdialog Command.html" title="ImageViewer Xdialog Command" class="wiki">{ImageViewer}</a>, <a href="/Server/Reference/Design/Api/Objects/ImageViewer/ImageViewer.Object.LoadImage Method.html" title="ImageViewer.Object.LoadImage Method" class="wiki">&lt;ImageViewer&gt;.Object.LoadImage(</a>), <a href="/Server/Reference/Design/Api/Objects/ImageViewer/ImageViewer.Object.SetMode Method.html" title="ImageViewer.Object.SetMode Method" class="wiki">&lt;ImageViewer&gt;.Object.SetMode(</a>)</p>


<p class=A5>Limitations</p>

<p>Desktop applications only</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:ImageViewer+Control+-+Displaying+Images+on+an+Xdialog">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"alpha five v7 image","keywords":"desktop,guide,xdialog,xdcontrol"}--->
</body></html>