	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Line Breaks</p>

<p>In the <a href="Buttons/Putting a Button on the Dialog.html" title="Putting a Button on the Dialog" class="wiki">Putting a Button on the Dialog</a> example, it would be nice if the button were on a new line. This is accomplished by using the line break symbol - a semi-colon ( ; ).</p>

<p>Instead of using this code, which puts the text and buttons on the same line: </p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>result=ui_dlg_box("Title",&lt;&lt;%dlg%</p>

<p class=Code>Hello World</p>

<p class=Code><OK> <Cancel></p>

<p class=Code>%dlg% )</td> </tr> </table><p class=Pix> <img src="images/XD_Hello_World_2.gif" style="width: 191px; height: 63px; float: none; border-style: none; border-style: none;" width=191 height=63 border=0></p>

<p>the following script puts the buttons on a new line: </p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>result = ui_dlg_box("Title", &lt;&lt;%dlg%</p>

<p class=Code>Hello World ;</p>

<p class=Code><OK> <Cancel></p>

<p class=Code>%dlg% )</td> </tr> </table><p class=Pix> <img src="images/XD_Hello_World_3.gif" style="width: 131px; height: 78px; float: none; border-style: none; border-style: none;" width=131 height=78 border=0></p>

<p class=PixCaption>Lesson 1: Line Breaks</p>

<p class=A5>Next</p>

<p> <a href="../../../../../Reference/Design/View/Xdialog/Controls/Static Text.html" title="Static Text" class="wiki">Static Text</a></p>

<p class=A5>See Also</p>

<p> <a href="../../../../../Reference/Design/View/Xdialog/Controls/Button Syntax.html" title="Button Syntax" class="wiki">BUTTON Syntax</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Line+Breaks">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,design,guide,xdcontrol","tags":"desktop"}--->
</body></html>