	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Lesson 8 More Dialog Box Controls</p>

<p>This lesson discusses several additional types of controls that you can put on a dialog box.</p>

<ul style="list-style: disc;" type=disc> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="List Box/Check Box-List Box Control.html" title="Check Box-List Box Control" class="wiki">Check Box-List Box Control</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="List Box/Tabbed List Box Control.html" title="Tabbed List Box Control" class="wiki">Tabbed List Box Control</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Tab Controls.html" title="Tab Controls" class="wiki">Tab Controls</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="../../../Platform/Xbasic/Trapping Tab Control Events.html" title="Trapping Tab Control Events" class="wiki">Trapping Tab Control Events</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="../Conditionally Displaying Panes on a Tab Control.html" title="Conditionally Displaying Panes on a Tab Control" class="wiki">Conditionally Displaying Panes on a Tab Control</a></p>

</li> </ul><p class=A5>See Also</p>

<p> <a href="/Index/Learning Xdialog Title.html" title="Learning Xdialog Title" class="wiki">Learning Xdialog</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Lesson+8+More+Dialog+Box+Controls">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdcontrol"}--->
</body></html>