	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Lesson 2 Standard Controls</p>

<p>In this lesson you will learn about the standard Windows controls, such&nbsp;as&nbsp;edit boxes, radio buttons, check boxes, etc. that you can place on your dialog boxes.</p>

<ul style="list-style: disc;" type=disc> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="../Simple Edit Control.html" title="Simple Edit Control" class="wiki">Simple Edit Control</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Lesson 2 Standard Controls/Simple Edit Control.html#Setting_the_Size_of_an_Edit_Control" title="Simple Edit Control" class="wiki">Setting the Size of an Edit Control</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Check Box Controls.html" title="Check Box Controls" class="wiki">Check Box Controls</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Buttons/Radio Buttons/Radio Button Controls.html" title="Radio Button Controls" class="wiki">Radio Buttons</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Lesson 2 Standard Controls/Radio Button Controls.html#Testing_a_Radio_Control_s_Variable" title="Radio Button Controls" class="wiki">Testing a Radio Control&#039;s Variable</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Buttons/Radio Buttons/Freeform Radio Button Controls.html" title="Freeform Radio Button Controls" class="wiki">Freeform Radio Button Controls</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Lesson 2 Standard Controls/Freeform Radio Button Controls.html#Multiple_Freeform_Radio_Button_Groups" title="Freeform Radio Button Controls" class="wiki">Multiple Freeform Radio Button Groups</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Combo Boxes.html" title="Combo Boxes" class="wiki">Combo Boxes</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Lesson 2 Standard Controls/Combo Boxes.html#Combo_Boxes___Populated_from_a_String" title="Combo Boxes" class="wiki">Combo Boxes - Populated from a String</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="../../../../../Reference/Design/View/Xdialog/Controls/List Box Control.html" title="List Box Control" class="wiki">List Boxes</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="../../References/Xdialog/Control/List Box Control.html#Dialog_with_Two_List_Boxes" title="List Box Control" class="wiki">Dialog with Two List Boxes</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="../Multi-Select List Box.html" title="Multi-Select List Box" class="wiki">Multi-Select List Box</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="../Multi-Column List Box.html" title="Multi-Column List Box" class="wiki">Multi-Column List Box</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Other Controls.html" title="Other Controls" class="wiki">Other Controls</a></p>

</li> </ul><p class=A5>See Also</p>

<p> <a href="/Index/Learning Xdialog Title.html" title="Learning Xdialog Title" class="wiki">Learning Xdialog</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Lesson+2+Standard+Controls">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"list","keywords":"desktop,guide,xdialog,xdcontrol"}--->
</body></html>