	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>User Defined Controls</p>



<p>The following section gives examples of User Defined Controls (UDCs) 
 on a form. The sample forms and Xbasic scripts can be found in the Samples\Xbasic 
 directory off the directory in which Alpha Five was installed. Open the 
 Xbasic database in this directory.</p>



<p class=A4>Writing a Slider Control</p>



<p>This example shows a simple slider control -It sets a value in a variable 
 based on the position of the slider.</p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : This example 
 is contained in the form called "Slider" in the Samples\Xbasic 
 directory.</p>



<p class=A5>The OnInit Event</p>



<p>Declares all the external windows API calls used.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>Declare a structure for a rectangle</p>


<p class=Code>? Long integer values left, top, right and bottom</p>


<p class=Code>declarestruct rect L1left, L1top, L1right, L1bottom</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>&nbsp;? Declare rectangle GDI function - draw a rectangle</p>


<p class=Code>declare gdi32 Rectangle LLLLLL</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>&nbsp;? Windows SelectObject function - sets a Pen, Brush, 
 Bitmap etc</p>


<p class=Code>? for a windows HDC</p>


<p class=Code>declare gdi32 SelectObject LLL</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>&nbsp;? Windows DeleteObject function - deletes a Pen, Brush, 
 Bitmap etc</p>


<p class=Code>? It is important to release objects when you are done</p>


<p class=Code>declare gdi32 DeleteObject LL</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>&nbsp;? Windows CreateSolidBrush function</p>


<p class=Code>?Creates a brush object of the specified color</p>


<p class=Code>declare gdi32 CreateSolidBrush LL</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>&nbsp;?Windows InvalidateRect function Used to tell windows</p>


<p class=Code>?that a particular window needs to be repainted</p>


<p class=Code>?the second argument could be a (rect) i.e.</p>


<p class=Code>?InvalidateRect LL(rect)L , but windows wants to see a</p>


<p class=Code>?pointer value of 0 if we want to invalidate the entire window,</p>


<p class=Code>?so we declare that argument&nbsp;as&nbsp;a long integer 
 (same amount of</p>


<p class=Code>? memory&nbsp;as&nbsp;a pointer' so we can pass in a zero</p>


<p class=Code>declare user32 InvalidateRect LLLL</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>?Windows GetFocus function Returns the handle of the window</p>


<p class=Code>?that has focus</p>


<p class=Code>declare user32 GetFocus L</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>?Windows SetCapture function The window handle specified</p>


<p class=Code>? gets all the mouse events after SetCapture is called</p>


<p class=Code>? (until a ReleaseCapture is done)</p>


<p class=Code>declare user32 SetCapture LL</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>?Windows ReleaseCapture function, Inform the system that</p>


<p class=Code>?we are done tracking the mouse</p>


<p class=Code>declare user32 ReleaseCapture L</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>? Windows DrawEdge function - take a rectangle and border</p>


<p class=Code>? style and edge parameters (defined below)</p>


<p class=Code>? This function is used to draw a button-style border</p>


<p class=Code>declare user32 DrawEdge LL(rect)LL</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>? Windows DrawFocusRect function - takes a rectangle argument</p>


<p class=Code>? and is used to draw a broken line ?focus rectangle'</p>


<p class=Code>declare user32 DrawFocusRect LL(rect)</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>? shared variables to position and scale the slider</p>


<p class=Code>dim shared xpos&nbsp;as&nbsp;N</p>


<p class=Code>dim shared xmax&nbsp;as&nbsp;N</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>? constants that are used by the DrawEdge function to</p>


<p class=Code>? specifcy the edges to draw.</p>


<p class=Code>constant BF_LEFT&nbsp;&nbsp;&nbsp;&nbsp;= 1</p>


<p class=Code>constant BF_TOP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;= 2</p>


<p class=Code>constant BF_RIGHT&nbsp;&nbsp;&nbsp;= 4</p>


<p class=Code>constant BF_BOTTOM&nbsp;&nbsp;= 8</p>


<p class=Code>constant BF_ALL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;= 15</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>? constant defined to specify a border style</p>


<p class=Code>constant BDR_RAISED&nbsp;= 5</p>


<p class=Code>?--------------------------------------------------------</p>


<p class=Code>? Initialize the variables</p>


<p class=Code>xpos = 0</p>


<p class=Code>if xmax < = 0 then</p>


<p class=Code>xmax = 1</p>


<p class=Code>end if</td></tr>
</table>

<p class=A5>The OnDraw Event</p>



<p>Draws the Slider control.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>?-------------------------------------</p>


<p class=Code>? An XBASIC function that deletes the</p>


<p class=Code>? last color brush created</p>


<p class=Code>FUNCTION cleanup_color_brush( hdc&nbsp;as&nbsp;N )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;dim shared color_hbrush&nbsp;as&nbsp;N</p>


<p class=Code>&nbsp;&nbsp;&nbsp;dim shared oldbrush&nbsp;as&nbsp;N</p>


<p class=Code>&nbsp;&nbsp;&nbsp;? if the color brush is defined (nonzero)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;if color_hbrush <> 0</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?then select the previous brush 
 into the HDC</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?it is important to do this 
 BEFORE we delete</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?the color brush because the 
 HDC will most likely</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?be using the brush we are 
 about to delete</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SelectObject(hdc, oldbrush)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?and delete the color brush</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DeleteObject(color_hbrush)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;end if</p>


<p class=Code>end FUNCTION</p>


<p class=Code>?-------------------------------------</p>


<p class=Code>? A function that creates a brush of a</p>


<p class=Code>? particular color and applies it to a</p>


<p class=Code>? windows display context</p>


<p class=Code>FUNCTION SET_brush_color( hdc&nbsp;as&nbsp;N, color&nbsp;as&nbsp;N 
 )</p>


<p class=Code>&nbsp;&nbsp;dim shared color_hbrush&nbsp;as&nbsp;N</p>


<p class=Code>&nbsp;&nbsp;dim shared oldbrush&nbsp;as&nbsp;N</p>


<p class=Code>&nbsp;&nbsp;? cleanup previously defined brush</p>


<p class=Code>&nbsp;&nbsp;cleanup_color_brush( hdc )</p>


<p class=Code>&nbsp;&nbsp;? Use windows API call the create a brush of 
 the specified color</p>


<p class=Code>&nbsp;&nbsp;color_hbrush = CreateSolidBrush(color)</p>


<p class=Code>&nbsp;&nbsp;?Select the created brush into the display context</p>


<p class=Code>&nbsp;&nbsp;?and remember the old brush</p>


<p class=Code>&nbsp;&nbsp;oldbrush&nbsp;&nbsp;&nbsp;&nbsp;= SelectObject(hdc, 
 color_hbrush)</p>


<p class=Code>end FUNCTION</p>


<p class=Code>? Our shared position and extent variables</p>


<p class=Code>dim shared xpos&nbsp;as&nbsp;N</p>


<p class=Code>dim shared xmax&nbsp;as&nbsp;N</p>


<p class=Code>? Sizes we calculate</p>


<p class=Code>dim xthumbwidth&nbsp;as&nbsp;N</p>


<p class=Code>dim physical_width&nbsp;as&nbsp;N</p>


<p class=Code>? shared color brush handle</p>


<p class=Code>dim shared color_hbrush&nbsp;as&nbsp;N</p>


<p class=Code>? color brush = 0 means color brush is undefined</p>


<p class=Code>color_hbrush = 0</p>


<p class=Code>? do a sanity check on xmax to avoid a divide by zero error</p>


<p class=Code>if xmax < = 0 then</p>


<p class=Code>&nbsp;xmax = 1</p>


<p class=Code>end if&nbsp;&nbsp;&nbsp;</p>


<p class=Code>physical_width = a_USER.draw.width</p>


<p class=Code>? the width of the ?thumb' we calculate to be 1/8 the</p>


<p class=Code>? width of the slider control</p>


<p class=Code>xthumbwidth&nbsp;&nbsp;&nbsp;= physical_width / 8</p>


<p class=Code>? calculate the width we have to set the thumbnail at&nbsp;as&nbsp;the</p>


<p class=Code>? width of the slider minus the width of the thumbnail</p>


<p class=Code>physical_width = physical_width - xthumbwidth</p>


<p class=Code>? We set the brush color to be light grey</p>


<p class=Code>? the components of a color are Red, Green and Blue values,</p>


<p class=Code>?where 255 is brightest, 0 is darkest - a multiply 256 will</p>


<p class=Code>?get us the value of the next byte up.&nbsp;.i.e.</p>


<p class=Code>? in a 4 byte long value - if we want to set a byte to a 
 value of</p>


<p class=Code>? ?7'</p>


<p class=Code>?&nbsp;value = 7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;? 
 sets the first byte</p>


<p class=Code>? value&nbsp;= 7 * 256&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;? 
 sets the second byte</p>


<p class=Code>? value&nbsp;= 7 * 256 * 256 ? sets the third byte</p>


<p class=Code>? For RGB color values, these are the only bytes that are 
 used</p>


<p class=Code>SET_brush_color( a_USER.draw.hdc , (((192*256) + 192)*256) 
 + 192 )</p>


<p class=Code>? determine where to draw the thumbnail</p>


<p class=Code>pxpos = (xpos * physical_width)/xmax</p>


<p class=Code>? Initailize the rectangle to be the thumbnail</p>


<p class=Code>rect.left&nbsp;&nbsp;= pxpos</p>


<p class=Code>rect.top&nbsp;&nbsp;&nbsp;= a_USER.draw.top</p>


<p class=Code>rect.right&nbsp;= pxpos + xthumbwidth</p>


<p class=Code>rect.bottom = a_USER.draw.bottom</p>


<p class=Code>? Draw the thumbnail background</p>


<p class=Code>Rectangle(a_USER.draw.hdc, rect.left, rect.top, rect.right, 
 rect.bottom)</p>


<p class=Code>? Draw the thumbnail border</p>


<p class=Code>DrawEdge(a_USER.draw.hdc , rect , BDR_RAISED , BF_ALL)</p>


<p class=Code>? Set the background brush to Grey</p>


<p class=Code>SET_brush_color( a_USER.draw.hdc , (((128*256) + 128)*256) 
 + 128 )</p>


<p class=Code>if a_USER.draw.left < rect.left</p>


<p class=Code>&nbsp;&nbsp;? Draw the slider rectangle area before the thumbnail</p>


<p class=Code>&nbsp;&nbsp;Rectangle(a_USER.draw.hdc, a_USER.draw.left, 
 a_USER.draw.top, rect.left, a_USER.draw.bottom)</p>


<p class=Code>end if</p>


<p class=Code>if rect.right < a_USER.draw.right</p>


<p class=Code>&nbsp;&nbsp;? Draw the slider rectangle area after the thumbnail</p>


<p class=Code>&nbsp;&nbsp;Rectangle(a_USER.draw.hdc, rect.right, a_USER.draw.top, 
 a_USER.draw.right, a_USER.draw.bottom)</p>


<p class=Code>end if</p>


<p class=Code>if a_USER.draw.hasfocus</p>


<p class=Code>&nbsp;&nbsp;&nbsp;?If the control has focus, then draw a 
 focus rectangle</p>


<p class=Code>&nbsp;&nbsp;&nbsp;DrawFocusRect(a_USER.draw.hdc, a_USER.draw)</p>


<p class=Code>end if</p>


<p class=Code>? Release any brushes we created</p>


<p class=Code>cleanup_color_brush( a_USER.draw.hdc )</td></tr>
</table>

<p class=A5>The OnKey Event</p>



<p>When the right and left arrow keys are pressed (when the control has 
 focus) the slider will change. Notice that the slider accelerates slowly 
 if the user holds down the key.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>&nbsp;? IS_down_for is a counter</p>


<p class=Code>dim IS_down_for&nbsp;as&nbsp;N</p>


<p class=Code>? If key is Right or Left arrow key</p>


<p class=Code>if a_USER.key.VALUE = "{Left}" .or. a_USER.key.VALUE 
 = "{Right}"</p>


<p class=Code>&nbsp;&nbsp;a_USER.key.handled = .T.</p>


<p class=Code>&nbsp;&nbsp;if a_USER.key.event = "down"</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?Keep track of how long 
 we hold down the key</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IS_down_for = IS_down_for 
 + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?determine the displayed 
 position</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xpos = (xpos * physical_width)/xmax</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;a_USER.key.VALUE 
 = "{Left}"</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?move 
 left N pixels - note that we</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?speed 
 up the number of pixels we move the</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?longer 
 we hold down the key</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xpos 
 = xpos - (IS_down_for + 1)/2</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?move 
 right N pixels - note that we</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?speed 
 up the number of pixels we move the</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?longer 
 we hold down the key</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xpos 
 = xpos + (IS_down_for + 1)/2</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end if</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?Check that position 
 is in range, if out of</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;?range, then set 
 to the nearest endpoint</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if xpos < 0</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xpos 
 = 0</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else if xpos > 
 = physical_width</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xpos 
 = physical_width-1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end if</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;? convert back from displayed 
 to logical value for xpos</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xpos = (xpos * xmax)/physical_width</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;? invalidate the rectangle 
 - force a repaint</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InvalidateRect(a_USER.hwnd, 
 0, 0)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;else if a_USER.key.event = "up"</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;? Reset the ?holding-key-down' 
 counter</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IS_down_for = 0</p>


<p class=Code>&nbsp;&nbsp;&nbsp;end if</p>


<p class=Code>end if</td></tr>
</table>

<p class=A5>The OnMouse Event</p>



<p>Allows the user to grab the slider and drag it to a new position.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>? Variable to remember that mouse is ?down'</p>


<p class=Code>dim mouse_down&nbsp;as&nbsp;L</p>


<p class=Code>dim xthumbwidth&nbsp;as&nbsp;N</p>


<p class=Code>? physical_width is initialized by OnDraw event</p>


<p class=Code>dim physical_width&nbsp;as&nbsp;N</p>


<p class=Code>dim shared xpos&nbsp;as&nbsp;N</p>


<p class=Code>dim shared xmax&nbsp;as&nbsp;N</p>


<p class=Code>xthumbwidth = physical_width / 8</p>


<p class=Code>? If the left mouse button was released</p>


<p class=Code>if a_USER.mouse.event = "left up"</p>


<p class=Code>&nbsp;&nbsp;? ?and we were tracking it</p>


<p class=Code>&nbsp;&nbsp;if mouse_down</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;? stop tracking the mouse</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mouse_down = .F.</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ReleaseCapture()</p>


<p class=Code>&nbsp;&nbsp;end if</p>


<p class=Code>else if mouse_down .or. a_USER.mouse.event = "left down"</p>


<p class=Code>&nbsp;&nbsp;? If we are tracking the mouse, or the mouse 
 button</p>


<p class=Code>&nbsp;&nbsp;? was pressed while above our slider control</p>


<p class=Code>&nbsp;&nbsp;if .not. mouse_down</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;?If mouse not captured, capture it 
 now</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mouse_down = .T.</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SetCapture(a_USER.hwnd)</p>


<p class=Code>&nbsp;&nbsp;end if</p>


<p class=Code>&nbsp;&nbsp;?Sanity check the maximum value</p>


<p class=Code>&nbsp;&nbsp;if xmax < = 0 then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xmax = 1</p>


<p class=Code>&nbsp;&nbsp;end if</p>


<p class=Code>&nbsp;&nbsp;? move the middle of thumbnail to the current 
 mouse</p>


<p class=Code>&nbsp;&nbsp;?&nbsp;?x' (horizontal displacement) position</p>


<p class=Code>&nbsp;&nbsp;xpos = a_USER.mouse.x - (xthumbwidth/2)</p>


<p class=Code>&nbsp;&nbsp;? range check the position of the thumbnail</p>


<p class=Code>&nbsp;&nbsp;if xpos < 0</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xpos = 0</p>


<p class=Code>&nbsp;&nbsp;else if xpos > = physical_width</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xpos = physical_width-1</p>


<p class=Code>&nbsp;&nbsp;end if</p>


<p class=Code>&nbsp;&nbsp;xpos = (xpos * xmax)/ physical_width</p>


<p class=Code>&nbsp;&nbsp;? Force the slider window to repaint</p>


<p class=Code>&nbsp;&nbsp;InvalidateRect(a_USER.hwnd, 0, 0)</p>


<p class=Code>end if</td></tr>
</table>

<p class=A4>Writing a Clock Control</p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : This example 
 is contained in the form called "Clock" in the Samples\Xbasic 
 directory. This control is implemented using a User Defined Control. It 
 makes use of a lot of GDI functions&nbsp;as&nbsp;well&nbsp;as&nbsp;the 
 timer event.</p>



<p class=A5>OnCreate Event</p>



<p>The <span class=Code1>OnCreate</span> event fires when the window for 
 the control is created. The SetTimer call is a windows API call that is 
 declared in the <span class=Code1>OnInit</span> event.</p>



<p>When the window is created, we add a timer to that window which goes 
 off every 1, 000 milliseconds (that is once a second) - the ID that we 
 give is is ?1' - the ?0' that is the last parameter is a NULL callback 
 function. Currently, callback functions are not supported by XBASIC.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>' when window is created, create a timer that goes off every 
 second</p>


<p class=Code>timer_id = SetTimer(a_USER.hwnd, 1, 1000, 0)</td></tr>
</table>

<p class=A5>OnDestroy Event</p>



<p>The <span class=Code1>OnDestroy</span> event fires when the window for 
 the control is destroyed. The KillTimer call is also a windows API call 
 (declared in the <span class=Code1>OnInit</span> event). When we destroy 
 the window for the control, we must also destroy the associated timer.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>' when the window is destroyed, throw the timer away</p>


<p class=Code>KillTimer( a_USER.hwnd , timer_id )</td></tr>
</table>

<p class=A5>OnDraw Event</p>



<p>This event is called whenever the control is repainted. The <span class=Code1>OnDraw</span> 
 event shown here uses all sorts of windows API calls (mostly GDI calls 
 - for graphics routines).</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>'Paint the display - uses temporary bitmaps & caches 
 the background</p>


<p class=Code>FUNCTION calcx&nbsp;as&nbsp;N(X&nbsp;as&nbsp;N)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;? Trignometry to convert a position along 
 the circumference</p>


<p class=Code>&nbsp;&nbsp;&nbsp;? of the circle to a ?x' position ranging 
 from -1 to 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;calcx = sinx * 3.141516*2<a href="tiki-editpage.php?page=x+%2A+3.141516%2A2" title="Create page: x * 3.141516*2" class="wiki wikinew">?</a></p>


<p class=Code>end FUNCTION</p>


<p class=Code>FUNCTION calcy&nbsp;as&nbsp;N(Y&nbsp;as&nbsp;N)</p>


<p class=Code>&nbsp;&nbsp;? Trignometry to convert a position along the 
 circumference</p>


<p class=Code>&nbsp;&nbsp;? of the circle to a ?y' position ranging from 
 -1 to 1</p>


<p class=Code>&nbsp;&nbsp;calcy = -cosy * 3.141516*2<a href="tiki-editpage.php?page=y+%2A+3.141516%2A2" title="Create page: y * 3.141516*2" class="wiki wikinew">?</a></p>


<p class=Code>end FUNCTION</p>


<p class=Code>? Function that draws a hand on the clock</p>


<p class=Code>FUNCTION drawhand&nbsp;as&nbsp;N(HDC&nbsp;as&nbsp;N, factor&nbsp;as&nbsp;N, 
 sx&nbsp;as&nbsp;N, sy&nbsp;as&nbsp;N, length&nbsp;as&nbsp;N, pivlength&nbsp;as&nbsp;N, 
 cx&nbsp;as&nbsp;N, cy&nbsp;as&nbsp;N, red&nbsp;as&nbsp;N, green&nbsp;as&nbsp;N, 
 blue&nbsp;as&nbsp;N)</p>


<p class=Code>&nbsp;&nbsp;?Factor is the value 0-1 that describes the orientation 
 of the</p>


<p class=Code>&nbsp;&nbsp;? hand (f represents to ?inverse' or orientation 
 of the other</p>


<p class=Code>&nbsp;&nbsp;? facet of the hand)</p>


<p class=Code>&nbsp;&nbsp;if factor > 0.75 then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;f = (1.0-factor)/2</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;fade1 = 0.75 - f</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;fade2 = 0.5&nbsp;+ f</p>


<p class=Code>&nbsp;else if factor > 0.50 then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;f = (0.75-factor)/2</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;fade1 = 0.5&nbsp;+ f</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;fade2 = 0.75 - f</p>


<p class=Code>&nbsp;else if factor > 0.25 then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;f = (0.5 - factor)/2</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;fade1 = 0.5&nbsp;+ f</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;fade2 = 0.75 - f</p>


<p class=Code>&nbsp;else</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;f = factor/2</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;fade1 = 0.75 - f</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;fade2 = 0.5&nbsp;+ f</p>


<p class=Code>&nbsp;end if</p>


<p class=Code>? determine the shading of the hands facets given the</p>


<p class=Code>? ?pure' color of the hands + the angle the handle is at</p>


<p class=Code>&nbsp;face1color = (int(blue*fade1)*256) + int(green*fade1<a href="tiki-editpage.php?page=int%28blue%2Afade1%29%2A256%29+%2B+int%28green%2Afade1" title="Create page: int(blue*fade1)*256) + int(green*fade1" class="wiki wikinew">?</a>*256) 
 + int(red*fade1)</p>


<p class=Code>&nbsp;face2color = (int(blue*fade2)*256) + int(green*fade2<a href="tiki-editpage.php?page=int%28blue%2Afade2%29%2A256%29+%2B+int%28green%2Afade2" title="Create page: int(blue*fade2)*256) + int(green*fade2" class="wiki wikinew">?</a>*256) 
 + int(red*fade2)</p>


<p class=Code>&nbsp;? Draw a polygon for the first facet of the handle</p>


<p class=Code>&nbsp;? this involves initializing the array of facets that 
 are</p>


<p class=Code>&nbsp;? passed to the polygon function</p>


<p class=Code>&nbsp;dim pts.points<a class="wiki"  href="/Server/Guide/Design/Security/403 Forbidden Error.html" rel="">4</a>&nbsp;as&nbsp;P</p>


<p class=Code>&nbsp;f = factor - 0.50</p>


<p class=Code>&nbsp;pts.points[1].x = cx + calcx(f) * pivlength * sx</p>


<p class=Code>&nbsp;pts.points[1].y = cy + calcy(f) * pivlength * sy</p>


<p class=Code>&nbsp;f = factor - 0.25</p>


<p class=Code>&nbsp;pts.points[2].x = cx + calcx(f) * pivlength * sx</p>


<p class=Code>&nbsp;pts.points[2].y = cy + calcy(f) * pivlength * sy</p>


<p class=Code>&nbsp;pts.points[3].x = cx + calcx(factor) * length * sx</p>


<p class=Code>&nbsp;pts.points[3].y = cy + calcy(factor) * length * sy</p>


<p class=Code>&nbsp;pts.points<a class="wiki"  href="/Server/Guide/Design/Security/403 Forbidden Error.html" rel="">4</a>.x = pts.points[1].x</p>


<p class=Code>&nbsp;pts.points<a class="wiki"  href="/Server/Guide/Design/Security/403 Forbidden Error.html" rel="">4</a>.y = pts.points[1].y</p>


<p class=Code>&nbsp;hbrush = CreateSolidBrush(face1color)</p>


<p class=Code>&nbsp;oldbrush = SelectObject(HDC, hbrush)</p>


<p class=Code>&nbsp;Polygon(HDC, pts, 4)</p>


<p class=Code>&nbsp;SelectObject(HDC, oldbrush)</p>


<p class=Code>&nbsp;DeleteObject(hbrush)</p>


<p class=Code>&nbsp;? Draw the second facet of the clock hand</p>


<p class=Code>&nbsp;f = factor + 0.25</p>


<p class=Code>&nbsp;pts.points[2].x = cx + calcx(f) * pivlength * sx</p>


<p class=Code>&nbsp;pts.points[2].y = cy + calcy(f) * pivlength * sy</p>


<p class=Code>&nbsp;hbrush = CreateSolidBrush(face2color)</p>


<p class=Code>&nbsp;oldbrush = SelectObject(HDC, hbrush)</p>


<p class=Code>&nbsp;Polygon(HDC, pts, 4)</p>


<p class=Code>&nbsp;SelectObject(HDC, oldbrush)</p>


<p class=Code>&nbsp;DeleteObject(hbrush)</p>


<p class=Code>end FUNCTION</p>


<p class=Code>? XBASIC Function that draws the clock dial</p>


<p class=Code>FUNCTION drawdial&nbsp;as&nbsp;N(DRAW&nbsp;as&nbsp;P)</p>


<p class=Code>&nbsp;&nbsp;hbrush = CreateSolidBrush((((128*256) + 128)*256) 
 + 128)</p>


<p class=Code>&nbsp;&nbsp;oldbrush = SelectObject(DRAW.HDC, hbrush)</p>


<p class=Code>&nbsp;&nbsp;? Clear the controls background rectangle</p>


<p class=Code>&nbsp;&nbsp;Rectangle( DRAW.HDC , DRAW.LEFT , DRAW.TOP, DRAW.RIGHT 
 , DRAW.BOTTOM )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SelectObject(DRAW.HDC, 
 oldbrush)</p>


<p class=Code>&nbsp;&nbsp;DeleteObject(hbrush)</p>


<p class=Code>&nbsp;&nbsp;? Draw the ellise of the clock face</p>


<p class=Code>&nbsp;&nbsp;Ellipse( DRAW.HDC , DRAW.LEFT , DRAW.TOP, DRAW.RIGHT 
 , DRAW.BOTTOM )</p>


<p class=Code>&nbsp;&nbsp;? calculate x and y radius of the ellipse</p>


<p class=Code>&nbsp;&nbsp;sx = (((DRAW.RIGHT - DRAW.LEFT) + 1) / 2) -1</p>


<p class=Code>&nbsp;&nbsp;sy = (((DRAW.BOTTOM - DRAW.TOP) + 1) / 2) -1</p>


<p class=Code>&nbsp;&nbsp;? calculate center point of the ellipse</p>


<p class=Code>&nbsp;&nbsp;cx = (DRAW.LEFT + DRAW.RIGHT) / 2</p>


<p class=Code>&nbsp;&nbsp;cy = (DRAW.TOP + DRAW.BOTTOM) / 2</p>


<p class=Code>? create a dummy ?point' stucture</p>


<p class=Code>&nbsp;&nbsp;pt.dummy = 1</p>


<p class=Code>&nbsp;? Draw the minute/second ticks along the edge</p>


<p class=Code>&nbsp;&nbsp;for i = 0 to 59</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MoveToEx( DRAW.HDC , cx + calcx(i/60) 
 * sx , cy + calcy(i/60) * sy , pt )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lineto( DRAW.HDC , cx + calcx(i/60) 
 * sx * 0.95 , cy + calcy(i/60) * sy * 0.95 )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;next</p>


<p class=Code>&nbsp;&nbsp;?Draw the Hour ticks + the hour text along the 
 edge</p>


<p class=Code>&nbsp;&nbsp;&nbsp;for i = 0 to 11</p>


<p class=Code>&nbsp;&nbsp;&nbsp;MoveToEx( DRAW.HDC , cx + calcx(i/12) * 
 sx , cy + calcy(i/12) * sy , pt )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;Lineto( DRAW.HDC , cx + calcx(i/12) * sx 
 * 0.9 , cy + calcy(i/12) * sy * 0.9 )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;digit = alltrimiif(i = 0, 12, i<a href="tiki-editpage.php?page=iif%28i+%3D+0%2C+12%2C+i" title="Create page: iif(i = 0, 12, i" class="wiki wikinew str">?</a>)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;? Get the size of the text - use size to 
 determine how to</p>


<p class=Code>&nbsp;&nbsp;&nbsp;? center the text at a point</p>


<p class=Code>&nbsp;&nbsp;&nbsp;GetT</p>


<p class=Code>entPointA( DRAW.HDC , digit , len(digit) , pt )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;? Draw the text for the ?hour' centered 
 on a point inside the</p>


<p class=Code>&nbsp;&nbsp;&nbsp;? dial next to the hour ?tick'</p>


<p class=Code>&nbsp;&nbsp;&nbsp;TextOutA( DRAW.HDC ,&nbsp;cx + calcx(i/12) 
 * sx * 0.8 - pt.x/2 , cy + calcy(i/12) * sy * 0.8 - pt.y/2, digit , len(digit) 
 )</p>


<p class=Code>&nbsp;next</p>


<p class=Code>end FUNCTION</p>


<p class=Code>sizex = ((A_USER.DRAW.RIGHT - A_USER.DRAW.LEFT) + 1)</p>


<p class=Code>sizey = ((A_USER.DRAW.BOTTOM - A_USER.DRAW.TOP) + 1)</p>


<p class=Code>? If no background bitmap defined, define a bitmap that</p>


<p class=Code>? is the size of the clock face</p>


<p class=Code>if backgroundhbitmap = 0 then</p>


<p class=Code>&nbsp;&nbsp;? Windows ?createBitmap' function uses the colors</p>


<p class=Code>&nbsp;&nbsp;? supported by the HDC, plus a size to create 
 a</p>


<p class=Code>&nbsp;&nbsp;? bitmap</p>


<p class=Code>&nbsp;&nbsp;backgroundhbitmap = CreateCompatibleBitmap(A_USER.DRAW.HDC, 
 sizex, sizey)</p>


<p class=Code>&nbsp;&nbsp;? Create a HDC for the bitmap</p>


<p class=Code>&nbsp;&nbsp;draw.hdc&nbsp;&nbsp;&nbsp;= CreateCompatibleDC(A_USER.DRAW.HDC)</p>


<p class=Code>&nbsp;&nbsp;? Select the bitmap into the HDC.&nbsp;This makes 
 any</p>


<p class=Code>&nbsp;&nbsp;? calls that use the HDC to draw scribble to 
 the</p>


<p class=Code>&nbsp;&nbsp;? bitmap instead of the screen.</p>


<p class=Code>&nbsp;&nbsp;SelectObject( draw.hdc , backgroundhbitmap )</p>


<p class=Code>&nbsp;? Draw the clock dial into the background bitmap</p>


<p class=Code>&nbsp;&nbsp;draw.top&nbsp;&nbsp;&nbsp;= 0</p>


<p class=Code>&nbsp;&nbsp;draw.left&nbsp;&nbsp;= 0</p>


<p class=Code>&nbsp;&nbsp;draw.bottom = A_USER.DRAW.BOTTOM - A_USER.DRAW.TOP</p>


<p class=Code>&nbsp;&nbsp;draw.right&nbsp;= A_USER.DRAW.RIGHT - A_USER.DRAW.LEFT</p>


<p class=Code>&nbsp;&nbsp;drawdial(draw)</p>


<p class=Code>&nbsp;&nbsp;DeleteDC(draw.hdc)</p>


<p class=Code>end if</p>


<p class=Code>? If not defined, Create a bitmap for the ?cached' clock 
 display.</p>


<p class=Code>? We write to a bitmap, then write the bitmap to the screen 
 to get</p>


<p class=Code>?smooth repaints</p>


<p class=Code>if hbitmap = 0 then</p>


<p class=Code>&nbsp;&nbsp;hbitmap = CreateCompatibleBitmap(A_USER.DRAW.HDC, 
 sizex, sizey)</p>


<p class=Code>end if</p>


<p class=Code>? Create a HDC for the background bitmap (to read from)</p>


<p class=Code>backmemhdc = CreateCompatibleDC(A_USER.DRAW.HDC)</p>


<p class=Code>? Create a HDC for the ?cache' bitmap (to write to)</p>


<p class=Code>memhdc&nbsp;&nbsp;&nbsp;&nbsp;= CreateCompatibleDC(A_USER.DRAW.HDC)</p>


<p class=Code>SelectObject( backmemhdc , backgroundhbitmap )</p>


<p class=Code>SelectObject( memhdc&nbsp;&nbsp;&nbsp;&nbsp;, hbitmap )</p>


<p class=Code>? Copy the background bitmap to the bitmap we are creating</p>


<p class=Code>? to show the current time</p>


<p class=Code>BitBlt( memhdc , 0 , 0 , sizex , sizey , backmemhdc , 0 , 
 0 , BITMAP_SRC_COPY )</p>


<p class=Code>? set up the x & y center</p>


<p class=Code>hsx = sizex/2</p>


<p class=Code>hsy = sizey/2</p>


<p class=Code>?&nbsp;draw the hours hand to the bitmap</p>


<p class=Code>drawhand(memhdc, hours/12, hsx, hsy, 1/2, 1/8, hsx, hsy, 
 255, 255, 255)</p>


<p class=Code>? draw the minutes hand to the bitmap</p>


<p class=Code>drawhand(memhdc, minutes/60, hsx, hsy, 3/4, 1/10, hsx, hsy, 
 0, 0, 255)</p>


<p class=Code>? draw the seconds hand to the bitmap</p>


<p class=Code>drawhand(memhdc, seconds/60, hsx, hsy, 5/6, 1/16, hsx, hsy, 
 255, 0, 0)</p>


<p class=Code>? Now that the bitmap is drawn, copy it to the screen</p>


<p class=Code>BitBlt( A_USER.DRAW.HDC , A_USER.DRAW.LEFT , A_USER.DRAW.TOP 
 , sizex , sizey , memhdc , 0 , 0 , BITMAP_SRC_COPY )</p>


<p class=Code>? Cleanup the display contexts that we created</p>


<p class=Code>DeleteDC(backmemhdc)</p>


<p class=Code>DeleteDC(memhdc)</td></tr>
</table>

<p class=A5>OnExit Event</p>



<p>This event is called when the control is deleted. The <span class=Code1>OnDraw</span> 
 events creates bitmaps to cache the repaints. We delete these in the <span 
 class=Code1>OnExit</span> method.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>' Cleanup bitmaps that were created</p>


<p class=Code>if hbitmap <> 0</p>


<p class=Code>&nbsp;DeleteObject(hbitmap)</p>


<p class=Code>&nbsp;hbitmap = 0</p>


<p class=Code>end if</p>


<p class=Code>if backgroundhbitmap <> 0</p>


<p class=Code>&nbsp;DeleteObject(backgroundhbitmap)</p>


<p class=Code>&nbsp;backgroundhbitmap = 0</p>


<p class=Code>end if&nbsp;</td></tr>
</table>

<p class=A5>OnInit Event</p>



<p>This event is called when setting up the control. This performs all 
 the declaration and initialization of variables for all the functions 
 we will use.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>?Initialize - declare all the API functions that we use,</p>


<p class=Code>? init variables</p>


<p class=Code>?** Declare a windows point structure on long integer X,</p>


<p class=Code>?** one long integer Y</p>


<p class=Code>declarestruct point L1X, L1Y</p>


<p class=Code>?** Declare a windows array that can store up to 100 points</p>


<p class=Code>declarestruct points point100points</p>


<p class=Code>?** Declare a windows rectangle</p>


<p class=Code>declarestruct rect&nbsp;L1left, L1top, L1right, L1bottom</p>


<p class=Code>?** Declare windows MoveToEx (move to a point) function</p>


<p class=Code>declare gdi32 MoveToEx LLLL(point)</p>


<p class=Code>?** Declare windows draw line to a point function</p>


<p class=Code>declare gdi32 LineTo&nbsp;&nbsp;LLLL</p>


<p class=Code>?** Declare windows draw ellipse function</p>


<p class=Code>declare gdi32 Ellipse LLLLLL</p>


<p class=Code>?** Declare windows draw rectangle function</p>


<p class=Code>declare gdi32 Rectangle LLLLLL</p>


<p class=Code>?** Declare windows draw text function</p>


<p class=Code>declare gdi32 TextOutA LLLLCL</p>


<p class=Code>?** Declare windows get size of drawn text function</p>


<p class=Code>declare gdi32 GetT</p>


<p class=Code>entPointA LLCL(point)</p>


<p class=Code>?** Declare windows mark window&nbsp;as&nbsp;invalid (repaint) 
 function</p>


<p class=Code>declare user32 InvalidateRect LLLL</p>


<p class=Code>?** Declare widows GetFocus function - gets the active window</p>


<p class=Code>declare user32 GetFocus L</p>


<p class=Code>?** Declare windows CreateSolidBrush function - create a 
 brush</p>


<p class=Code>declare gdi32 CreateSolidBrush LL</p>


<p class=Code>?** Declare windows DeleteObject function delete Brush, Pen, 
 Bitmap</p>


<p class=Code>declare gdi32 DeleteObject LL</p>


<p class=Code>?** Declare windows SelectObject function - select brush 
 pen etc</p>


<p class=Code>?** into a windows display context</p>


<p class=Code>declare gdi32 SelectObject LLL</p>


<p class=Code>?----------------------------------------------------------------</p>


<p class=Code>?** Declare windows polygon drawing function.&nbsp;Here we 
 pass an</p>


<p class=Code>? Array of 100 points, we can use less than 100 points - 
 windows</p>


<p class=Code>? polygon function only reads the number of points we report 
 that</p>


<p class=Code>? we are passing to it (using the numer_of_points parameter)</p>


<p class=Code>?.&nbsp;If you need to draw polygons with more&nbsp;than 
 100 points,</p>


<p class=Code>? than you must make points dimension (declared ? above) 
 -</p>


<p class=Code>? bigger - i.e. point500points would allow up to 500</p>


<p class=Code>? points to be passed to the polygon function</p>


<p class=Code>declare gdi32 Polygon LL(points)L</p>


<p class=Code>?** Declare windows SetTimer function - causes window to 
 get</p>


<p class=Code>? called back on an interval with a timer message + timer 
 id</p>


<p class=Code>declare user32 SetTimer LLLLL</p>


<p class=Code>?** Decalre windows KillTimer function - causes window timer 
 to</p>


<p class=Code>? cease</p>


<p class=Code>declare user32 KillTimer LLL</p>


<p class=Code>?------------------------------------------------------</p>


<p class=Code>? windows CreateCompatibleBitmap Function - creates a bitmap</p>


<p class=Code>?using the attributes of the display context passed in, and</p>


<p class=Code>?the width and height provided</p>


<p class=Code>declare gdi32 CreateCompatibleBitmap LLLL</p>


<p class=Code>?------------------------------------------------------</p>


<p class=Code>? windows function to create a display context that</p>


<p class=Code>? is like another (i.e. same color settings pens brushes 
 etc)</p>


<p class=Code>declare gdi32 CreateCompatibleDC LL</p>


<p class=Code>?** declare windows function to delete display context that 
 was</p>


<p class=Code>? created using CreateCompatibleDC</p>


<p class=Code>declare gdi32 DeleteDC LL</p>


<p class=Code>?** declare windows function Draw pixels from one display 
 context</p>


<p class=Code>? into another display context</p>


<p class=Code>declare gdi32 BitBlt LLLLLLLLLL</p>


<p class=Code>? Constant argument to BitBlt for ?copy bits' mode - there 
 are</p>


<p class=Code>? several modes (subtracting pixels, logically or-ing or 
 and-ing</p>


<p class=Code>? pixels etc) - this is the only BitBlt operation we use 
 in this</p>


<p class=Code>? sample program</p>


<p class=Code>CONSTANT BITMAP_SRC_COPY = 13369376</p>


<p class=Code>? Initialize the hand values, and bitmaps</p>


<p class=Code>seconds = 0</p>


<p class=Code>minutes = 0</p>


<p class=Code>hours = 0</p>


<p class=Code>hbitmap = 0</p>


<p class=Code>backgroundhbitmap = 0</td></tr>
</table>

<p class=A5>OnSize Event</p>



<p>This event is called when the control is sized. This forces the cached 
 bitmaps to be recalculated (so that on the next draw the image will be 
 resized).</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>' throw away the bitmaps whenever we resize</p>


<p class=Code>if hbitmap <> 0 then</p>


<p class=Code>&nbsp;DeleteObject(hbitmap)</p>


<p class=Code>&nbsp;hbitmap = 0</p>


<p class=Code>end if</p>


<p class=Code>if backgroundhbitmap <> 0 then</p>


<p class=Code>&nbsp;DeleteObject(backgroundhbitmap)</p>


<p class=Code>&nbsp;backgroundhbitmap = 0</p>


<p class=Code>end if</td></tr>
</table>

<p class=A5>OnTimer Event</p>



<p>This event is called whenever a timer event occurs. We track the seconds, 
 minutes and hours here:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>' when timer goes off, recalculate the time & cause a 
 repaint</p>


<p class=Code>seconds = inttoseconds<a href="tiki-editpage.php?page=toseconds%28time%28" title="Create page: toseconds(time(" class="wiki wikinew mod">?</a>, 60<a href="tiki-editpage.php?page=%3Ca+href%3D%22tiki-editpage.php%3Fpage%3Dtoseconds%2528time%2528%22+title%3D%22Create+page%3A+toseconds%28time%28%22+class%3D%22wiki+wikinew+mod%22%3E%3F%3C%2Fa%3E%2C+60" title="Create page: &lt;a href=&quot;tiki-editpage.php?page=toseconds%28time%28&quot; title=&quot;Create page: toseconds(time(&quot; class=&quot;wiki wikinew mod&quot;&gt;?&lt;/a&gt;, 60" class="wiki wikinew time">?</a></p>


<p class=Code>minutes = modtime(<a href="tiki-editpage.php?page=time%28" title="Create page: time(" class="wiki wikinew toseconds">?</a>/60, 60)</p>


<p class=Code>hours&nbsp;&nbsp;= modtime(<a href="tiki-editpage.php?page=time%28" title="Create page: time(" class="wiki wikinew toseconds">?</a>/(60*60), 12)</p>


<p class=Code>?causes the control to repaint</p>


<p class=Code>InvalidateRect(a_USER.hwnd, 0, 0)</td></tr>
</table>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:User+Defined+Controls">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,design,guide,xdcontrol","tags":"common"}--->
</body></html>