	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Where is the Mouse?</p>

<p>This example shows how to detect which control the cursor is over. The script uses the <a href="../../../../../Reference/Design/View/Xdialog/Command/TIMER Xdialog Command.html" title="TIMER Xdialog Command" class="wiki">{TIMER}</a> event to periodically call the <a href="/Desktop_Api/Xdialog Function Reference/UI_DLG_CONTROL_FROM_POS Function.xml" title="UI_DLG_CONTROL_FROM_POS Function" class="wiki">UI_DLG_CONTROL_FROM_POS(</a>)function, which returns the location of the cursor.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dim dlg_title&nbsp;as&nbsp;C</p>

<p class=Code>dlg_title = "Where is the Mouse"</p>

<p class=Code>ui_dlg_box(dlg_title,&lt&lt%dlg%</p>

<p class=Code>{wrap=100}</p>

<p class=Code>Move the mouse around the dialog. Notice that&nbsp;as&nbsp;you move the mouse, the current control's definition is shown.;</p>

<p class=Code>{timer=timer}</p>

<p class=Code>{interval=.05}</p>

<p class=Code>{line=1,0};</p>

<p class=Code>{lf};</p>

<p class=Code>{region}</p>

<p class=Code>First name: |[.20fname];</p>

<p class=Code>Last name: |[.20lname];</p>

<p class=Code>City: |[.20city] State: [.4state] Zip: [.6zip];</p>

<p class=Code>{endregion};</p>

<p class=Code>{line=1,0};</p>

<p class=Code>{region};</p>

<p class=Code>Current control:;</p>

<p class=Code>{frame=1,1}</p>

<p class=Code>{region}</p>

<p class=Code>{text=80,2:current_control};</p>

<p class=Code>{endregion};</p>

<p class=Code>;</p>

<p class=Code>{endregion};</p>

<p class=Code>{lf};</p>

<p class=Code>&lt10&OK!ok> &lt10&Cancel!cancel>;</p>

<p class=Code>%dlg%,&lt&lt%code%</p>

<p class=Code>if (a_dlg_button = "timer") then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;current_control = ui_dlg_control_from_pos(dlg_title)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;current_control = remove_blank_lines(current_control)</p>

<p class=Code>end if</p>

<p class=Code>%code%)</td> </tr> </table>


<p class=A5>Limitations</p>

<p>Desktop applications only</p>

<p class=A5>See Also</p>

<p> <a href="/Desktop_Api/Xdialog Function Reference/UI_DLG_CONTROL_FROM_POS Function.xml" title="UI_DLG_CONTROL_FROM_POS Function" class="wiki">UI_DLG_CONTROL_FROM_POS(</a>), <a href="/Api/Functions/Data Type/Character Functions/List Processing Functions/REMOVE_BLANK_LINES Function.xml" title="REMOVE_BLANK_LINES Function" class="wiki">REMOVE_BLANK_LINES(</a>), <a href="/Index/Miscellaneous Examples.html" title="Miscellaneous Examples" class="wiki">Miscellaneous Examples</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Where+is+the+Mouse%3F">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,design,guide,xdcontrol"}--->
</body></html>