#header {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.10);
}
#docMain {
max-width:800px;
margin-left:auto;
margin-right:auto;
overflow-x:auto;
padding-top:20px;
}
#titleMain {
    display:inline-block;
    float:right;
    left:0;
    right:0;
}

#tfbanner {
    display:block;
    white-space: normal;
}
#tfbanner .book {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#tfcta {
    flex: 1 1;
    min-width: 200px;
    vertical-align: middle;
    padding: 10px 20px;
}

#tfcta .bookTitle {
    color: #0072bc;
}
#tfcta:hover {
    opacity: 0.75;
    text-decoration: underline;
}


#tflogo {
    background-image: url('https://server.alphasoftware.com/hs-fs/hubfs/alpha_transform_TM.jpg?t=1524230097184&width=511&name=alpha_transform_TM.jpg');
    background-repeat: no-repeat;
    display: inline-block;
    min-width: 240px;
    height: 65px;
    background-size: contain;
    vertical-align: middle;
    margin: 20px 20px 0 20px;
}

#search {
    width:100%;
    padding-left:10px;
    padding-top:10px;
    padding-right: 40px;
    padding-bottom:10px;
    position: relative;
    float:  none;
    box-sizing: border-box;
}

#search input {
    width: 100%;
}
#search button {
    position: absolute;
    right: 5px;
    top: 11px;
}
#books {
    width:100%;
    padding:0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 20px;
}

#booksLeft, #booksRight {
    width:50%;
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align: top;
    white-space: normal;
    margin-right: -4px;
}

#booksFull {
    padding-top:20px;
    width:100%;
    display:block;
    white-space: normal;
}
.reportIssue {
    font-size:10px;
    line-height: 14px;
    text-decoration: underline;
    color:#0001a6;
    background-color:#fffcc5;
    display:inline-block;
    padding:4px;
}
.book {
    display: block;
    min-height:100px;
    box-shadow: 1px 1px 5px -2px #333333;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.bookContent {
    min-height:100px;
    margin-left: 60px;
    padding-left: 20px;
    padding-bottom:15px;
    background-color:#ffffff;
    color:#333;
}
.bookTitle {
    padding-top:10px;
    font-weight:bold;
    font-size:20px;
    color:#333;
}
.bookDescription {
    margin-right:5px;
    color:#333;
}
.bookIcon {
    float:left;
    display:block;
}
.bookIcon svg{
    width:50px;
    height:50px;
    margin: 10px 10px 0 0;
    float:left;
    display:block;
    vertical-align: center;
}

#gettingStarted::before, #guide::before, #howTo::before, #ref::before, #debug::before, #videos::before, #releaseNotes::before, #learnMore::before {
    content: "";
    width:60px;
    min-height:100px;
    float:left;
    display: block;
    padding: 25px 10px 10px 10px;
    vertical-align: middle;
    border-radius: 3px 0 0 3px;
    box-shadow: 2px;
    box-sizing: border-box;
    background-size:50px 50px;
    background-position:center;
    object-fit:contain;
    background-repeat:no-repeat;
}
#gettingStarted.book {
    background-color:#74a316;
}
#gettingStarted::before {
    background-image:url('/documentation/pages/images/icons/started.svg');
}
#guide.book {
    background-color:#0072bc;
}
#guide::before {
    background-image: url('/documentation/pages/images/icons/guide.svg');
}
#howTo.book {
    background-color:#1fc3d3;
}
#howTo::before {
    background-image: url('/documentation/pages/images/icons/howto.svg');
}
#ref.book {
    background-color:#333;
}
#ref::before {
    background-image: url('/documentation/pages/images/icons/ref.svg');
}
#videos.book {
    background-color:#162549;
}
#videos::before{
    background-image: url('/documentation/pages/images/icons/videos.svg');
}
#releaseNotes.book {
    background-color:#FF8100;
}
#releaseNotes::before {
    background-image: url('/documentation/pages/images/icons/release.svg');
}
#debug.book {
    background-color:#823a59;
}
#debug::before {
    background-image: url('/documentation/pages/images/icons/faq.svg');
}
#learnMore.book {
    background-color:#ffffff;
}
#learnMore::before {
    background-image: url('/documentation/pages/images/icons/learnMore.svg');
    background-position-x: 15px;
    background-position-y: 10px;
}
.spacer {
    padding-top:10px;
    margin-top: 10px;
}
@media screen and (max-width: 550px) {
    #booksLeft, #booksRight, #booksFull {
        width:100%;
        display:block;
        border:none;
        margin:0;
        padding:0;
    }
    .book {
        height:auto;
    }
}