#docMain {
max-width:800px;
margin-left:auto;
margin-right:auto;
overflow-x:auto;
}
#docMain h1 {
    padding-top:20px;
    font-size:36px;
}
#titleMain {
    display:inline-block;
    float:right;
    left:0;
    right:0;
}
#searchMain {
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}
#searchMain span {
    display:block;
    overflow:hidden;
    padding-right:4px;
}

#searchMain input {
border: 1px solid #798490;
border-radius: 3px;
padding: 6px;
font-size: 18px;
color: #405061;
width: 100%;
}
#searchMain button {
padding: 0px;
margin: 0px;
width: 37px;
height: 37px;
border: none;
background: #405061;
outline: none;
vertical-align: top;
float: right;
}
#books {
    width:100%;
    padding:0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

#booksLeft, #booksRight {
    width:50%;
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align: top;
    white-space: normal;
}

#booksLeft {
    border-right:1px solid #efefef;
}
#booksRight {
    padding-left: 5px;
}

#booksFull {
    width:100%;
    display:block;
    padding-top:10px;
    margin-top: 10px;
    border-top: 1px solid #efefef
}
.book {
    display:block;
    min-height:100px;
    margin-right:10px;
}
.bookTitle {
    padding-top:10px;
    font-weight:bold;
    font-size:20px;
}
.bookDescription {
    margin-right:5px;
}

.bookIcon img{
    width:50px;
    margin: 10px 10px 0 0;
    float:left;
}

@media screen and (max-width: 550px) {
    #booksLeft, #booksRight, #booksFull {
        width:100%;
        display:block;
        border:none;
        margin:0;
        padding:0;
        white-space:normal;
    }
    .book {
        height:auto;
    }
}