.logo:after {
    /* content: "Hosted by ZebraHost, The Alpha Anywhere Hosting Specialists"; */
    position: absolute;
    left: 0px;
    top: 44px;
    color: rgba(255,255,255,.5);
    font: 10px Arial;
}
#logo {
    background-image: url(http://www.alphasoftware.com/newsite/images/alpha-software-logo.png);
    position: absolute;
    top:9px;
    left:64px;
    width:120px;
    height:30px;
}
#TOC {
    top: 48px;
}
.checkedHREF {
	background: Orange; 
}
.helpserver_toc { display: none; }

#report-issue a {font-size:10px;}

#report-issue-hint {
    float:left;
    width: 30px;
    height: 46px;
    background-image: url("/documentation/pages/images/reportFlag.png");
}

#bread-crumbs-hint {    
/* font-color: #111110; */
    width: 200px;
    height: 32px;
    background-repeat: no-repeat;
    background-color: #cecece;
    background-image: url("/documentation/pages/images/mapMarker.png");
}

#bread-crumbs-hint:after {
    content: "YOU ARE HERE";
    width: 200px;
    height: 32px;
    wrap: none;
    padding-left: 32px;
    padding-top: 4px;
    font-size: 16pt;
    font-weight: bold;
    color: #939393;
}
#page-buttons {
    width: 70px;
    height: 34px;        
    float: right;
}
#flatten-page-icon-false {
    width: 34px;
    height: 34px;        
    background-repeat: no-repeat;
    background-color: #cecece;
    background-image: url("/documentation/pages/images/icons/flatten.svg");
    object-fit: contain;
    float: left;
}

#flatten-page-icon-true {
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-color: #cecece;
    background-image: url("/documentation/pages/images/icons/structured.svg");
    object-fit: contain;
    float: left;
}

#flatten-page-icon-null {
    visibility: hidden;
}

#get-sharable-link-icon {
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-color: #cecece;
    background-image: url("/documentation/pages/images/icons/getlinks.svg");
    object-fit: contain;
    float: right;    
}

#print-page-icon {
    width: 34px;
    height: 34px;        
    background-repeat: no-repeat;
    background-color: #cecece;
    background-image: url("/documentation/pages/images/icons/printer.svg");
    object-fit: contain;
    float: right;
}

#bread-crumbs > div {
    max-width:1140px;
    margin:auto;
}

#search-result-title {
    background-color: #cecece;
    padding: 4px;
}

#search-result-hint {    
    font-color: #111110;
    width: 250px;
    height: 32px;
    background-repeat:  no-repeat;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='32' width='32'><path stroke='#000000' id='svg_4' fill='#666666' fill-rule='evenodd' stroke-width='1px' d='m15.469419,16.178555l-13.46942,14.232133l1.403062,1.165213l13.375889,-14.148876l-1.30953,-1.248469z'/><path id='svg_5' fill='#666666' fill-rule='nonzero' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='4' stroke-dashoffset='0' d='m31.053073,10.867965a9.369872,8.806049 0 0 1 -9.329571,8.805945a9.369872,8.806049 0 0 1 -9.409838,-8.730232a9.369872,8.806049 0 0 1 9.248597,-8.881093a9.369872,8.806049 0 0 1 9.489419,8.653859'/><path id='svg_6' fill='#00ffff' fill-rule='nonzero' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='4' stroke-dashoffset='0' d='m29.161893,10.947355a7.564672,6.981376 0 0 1 -7.532117,6.981281a7.564672,6.981376 0 0 1 -7.596939,-6.92122a7.564672,6.981376 0 0 1 7.466757,-7.040872a7.564672,6.981376 0 0 1 7.661185,6.860687'/></svg>");
}

.error-search-404:after {
    content: "Page not found";
    width: 250px;
    height: 32px;
    wrap: none;
    padding-left: 32px;
    padding-top: 4px;
    font-size: 16pt;
    color: #444;
}

.user-search:after {
    content: "SEARCH RESULTS";
    width: 250px;
    height: 32px;
    wrap: none;
    padding-left: 32px;
    padding-top: 4px;
    font-size: 16pt;
    color: #444;
}

#local-toc {
    display:block;
    float:right;
    width:200px;
    max-width:200px;
    padding:10px;
}

#local-toc ul {
  list-style: none;
  margin: 0px;
  padding: 0px;  
}

#local-toc a {
    font-size: .857rem;
}

.local-toc-title {
    font-weight: bold;
    color: #707070;
    margin-bottom:10px;
    border-bottom: 1px solid #ddd;
    padding: 6px 0px;
}

@media screen and (max-width: 800px) {
    #local-toc {
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 10px 0px;
    }    
}

.tooltipped {
    position: relative
}

.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased
}

.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0,0,0,0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent
}

.tooltipped:hover:before,.tooltipped:hover:after,.tooltipped:active:before,.tooltipped:active:after,.tooltipped:focus:before,.tooltipped:focus:after {
    display: inline-block;
    text-decoration: none
}

.tooltipped-multiline:hover:after,.tooltipped-multiline:active:after,.tooltipped-multiline:focus:after {
    display: table-cell
}

.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px
}

.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0,0,0,0.8)
}

.tooltipped-se:after {
    right: auto;
    left: 50%;
    margin-left: -15px
}

.tooltipped-sw:after {
    margin-right: -15px
}

.tooltipped-n:after,.tooltipped-ne:after,.tooltipped-nw:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 5px
}

.tooltipped-n:before,.tooltipped-ne:before,.tooltipped-nw:before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(0,0,0,0.8)
}

.tooltipped-ne:after {
    right: auto;
    left: 50%;
    margin-left: -15px
}

.tooltipped-nw:after {
    margin-right: -15px
}

.tooltipped-s:after,.tooltipped-n:after {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%)
}

.tooltipped-w:after {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}

.tooltipped-w:before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: rgba(0,0,0,0.8)
}

.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}

.tooltipped-e:before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: rgba(0,0,0,0.8)
}

.tooltipped-multiline:after {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 250px;
    word-break: break-word;
    word-wrap: normal;
    white-space: pre-line;
    border-collapse: separate
}

.tooltipped-multiline.tooltipped-s:after,.tooltipped-multiline.tooltipped-n:after {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.tooltipped-multiline.tooltipped-w:after,.tooltipped-multiline.tooltipped-e:after {
    right: 100%
}

@media screen and (min-width: 0\0) {
    .tooltipped-multiline:after {
        width:250px
    }
}

.tooltipped-sticky:before,.tooltipped-sticky:after {
    display: inline-block
}

.tooltipped-sticky.tooltipped-multiline:after {
    display: table-cell
}

