#docMain {
max-width:800px;
margin-left:auto;
margin-right:auto;
overflow-x:auto;
}

#titleMain {
    display:inline-block;
    float:right;
    left:0;
    right:0;
}
#searchMain {
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}
#searchMain span {
    display:block;
    overflow:hidden;
    padding-right:4px;
}

#searchMain input {
border: 1px solid #798490;
border-radius: 3px;
padding: 6px;
font-size: 18px;
color: #405061;
width: 100%;
}
#searchMain button {
padding: 0px;
margin: 0px;
width: 37px;
height: 37px;
border: none;
background: #405061;
outline: none;
vertical-align: top;
float: right;
}
#books {
    text-align: center;
}
.book {
    width:260px;
    display: inline-block;
    vertical-align: top;
    margin-bottom:10px;
    text-align: left;
}
.book.full {
    width:790px;
    height:auto;
}
.bookContent {
    height: 260px;
    border: 2px solid #405061;
    padding: 5px;
    margin:0;
}
.book.full .bookContent{
    min-height:75px;
    height:auto;
}
@media screen and (max-width: 560px) {
    .book {
        width:100%;
        height:auto;
    }
    .bookContent {
        height:auto;
    }
}
.bookContent img {
    width:75px;
    margin:5px;
    float:left;   
}
.book h3 {
    background-color: #405061;
    color:#fff;
    margin: 0;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 2px none #405061;
    text-align: center;
}
.book a {
    text-decoration: none;
    color: #fff;
}