.logo:after {
    /* content: "Hosted by ZebraHost, The Alpha Anywhere Hosting Specialists"; */
    position: absolute;
    left: 0px;
    top: 44px;
    color: rgba(255,255,255,.5);
    font: 10px Arial;
}
#logo {
    background-image: url("images/aalogo.png");
    position: absolute;
    top:9px;
    left:64px;
    width:120px;
    height:63px;
}
#TOC {
    top: 48px;
}
.checkedHREF {
	background: Orange; 
}
.helpserver_toc { display: none; }

#report-issue a {font-size:10px;}

#report-issue-hint {
    float:left;
    width: 30px;
    height: 46px;
    background-image: url("/documentation/pages/images/reportFlag.png");
}

/* nobody likes this
#bread-crumbs-hint {    
    width: 200px;
    height: 32px;
    background-repeat: no-repeat;
    background-color: #cecece;
    background-image: url("/documentation/pages/images/mapMarker.png");
}
#bread-crumbs-hint:after {
    content: "YOU ARE HERE";
    width: 200px;
    height: 32px;
    wrap: none;
    padding-left: 32px;
    padding-top: 4px;
    font-size: 16pt;
    font-weight: bold;
    color: #939393;
}
*/

#page-buttons {
    height: 34px;
    float: right;
    position: relative;
    margin-top: -8px;
}
#flatten-page-icon-false {
    width: 34px;
    height: 34px;        
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("/documentation/pages/images/icons/flatten.svg");
    background-size: 34px 34px;
    background-position: center;
    object-fit: contain;
    float: left;
}

#flatten-page-icon-true {
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("/documentation/pages/images/icons/structured.svg");
    background-size: 34px 34px;
    background-position: center;
    object-fit: contain;
    float: left;
}

#flatten-page-icon-null {
    visibility: hidden;
}


#print-page-icon {
    width: 34px;
    height: 34px;        
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("/documentation/pages/images/icons/printer.svg");
    background-size: 34px 34px;
    background-position: center;
    object-fit: contain;
    float: right;
}
#bread-crumbs {
    background-color: #162549; 
    box-shadow: inset 0px 5px 10px rgba(0,0,0,.25);
    padding-top:20px;
    padding-bottom:20px;
    min-height:14px;
}

#bread-crumbs > div {
    max-width:1140px;
    margin:auto;
}
#bread-crumbs * {
    background-color:transparent;
    color:white !important;
}
#bread-crumbs ul::before {
    content: "";
    width:34px;
    height:34px;
    display:block;
    float:left;
    margin-right:10px;
    margin-top:-8px;
    vertical-align: middle;
    background-size: contain;
}
#bread-crumbs.gettingStarted {
    background-color:#74a316;
}#bread-crumbs.gettingStarted ul::before {
    background-image: url("/documentation/pages/images/icons/started.svg");
}#bread-crumbs.guide {
    background-color:#0072bc;
}#bread-crumbs.guide ul::before {
    background-image: url("/documentation/pages/images/icons/guide.svg");
}#bread-crumbs.howTo {
    background-color:#1fc3d3;
}#bread-crumbs.howTo ul::before {
    background-image: url("/documentation/pages/images/icons/howto.svg");
}#bread-crumbs.ref {
    background-color:#333;
}#bread-crumbs.ref ul::before {
    background-image: url("/documentation/pages/images/icons/ref.svg");
}#bread-crumbs.faq {
    background-color:#823a59;
}#bread-crumbs.faq ul::before {
    background-image: url("/documentation/pages/images/icons/faq.svg");
}#bread-crumbs.releaseNotes {
    background-color:#ff9a12;
}#bread-crumbs.releaseNotes ul::before {
    background-image: url("/documentation/pages/images/icons/release.svg");
}

#get-sharable-link-icon {
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("/documentation/pages/images/icons/getlinks.svg");
    background-size: 34px 34px;
    background-position: center;
    object-fit: contain;
    float: right;    
}

#get-sharable-link-form {
    position: absolute;
    display: none;
    right: 0px;
    background: #fff;
    padding: 4px;
    border: 1px solid #ddd;   
    white-space: nowrap; 
    color:#000;
}

#get-sharable-link-form-input {
border: 1px solid #ddd;
border-radius: 3px;
background: #fff;
padding: 6px;
font-size: 14px;
color: #000 !important;
outline: none;
width: 200px;
}
#get-sharable-link-form-close {
padding: 0px;
margin: 0px;
width: 30px;
height: 30px;
border: none;
background: transparent;
outline: none;
vertical-align: top;
color:#000;
}

.search-header-bottom {
    background-color: #9665b8;
    box-shadow: inset 0px 5px 10px rgba(0,0,0,.25);
    padding-top:15px;
    padding-bottom:15px;
    min-height:27px;
    margin-bottom:10px;
}
#search-result-title {
    color: #fff;
}
#search-result-hint {    
    color: #111110;
    width: 250px;
}
#search-no-results {
    text-align:center;

}
.error-search-404:after {
    content: "Page not found";
    width: 250px;
    height: 32px;
    wrap: none;
    padding-top: 4px;
    font-size: 16px;
    color: #ffffff;
}

.user-search:after {
    content: "Search Results";
    width: 250px;
    wrap: none;
    padding-top: 4px;
    font-size: 16px;
    color: #ffffff;
}

#local-toc {
    display:block;
    float:right;
    width:200px;
    max-width:200px;
    padding:10px;
}

#local-toc ul {
  list-style: none;
  margin: 0px;
  padding: 0px;  
}

#local-toc a {
    font-size: .857rem;
}

.local-toc-title {
    font-weight: bold;
    color: #707070;
    margin-bottom:10px;
    border-bottom: 1px solid #ddd;
    padding: 6px 0px;
}

@media screen and (max-width: 800px) {
    #local-toc {
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 10px 0px;
    }    
}

.tooltipped {
    position: relative
}

.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0,0,0,0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased
}

.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0,0,0,0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent
}

.tooltipped:hover:before,.tooltipped:hover:after,.tooltipped:active:before,.tooltipped:active:after,.tooltipped:focus:before,.tooltipped:focus:after {
    display: inline-block;
    text-decoration: none
}

.tooltipped-multiline:hover:after,.tooltipped-multiline:active:after,.tooltipped-multiline:focus:after {
    display: table-cell
}

.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px
}

.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0,0,0,0.8)
}

.tooltipped-se:after {
    right: auto;
    left: 50%;
    margin-left: -15px
}

.tooltipped-sw:after {
    margin-right: -15px
}

.tooltipped-n:after,.tooltipped-ne:after,.tooltipped-nw:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 5px
}

.tooltipped-n:before,.tooltipped-ne:before,.tooltipped-nw:before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(0,0,0,0.8)
}

.tooltipped-ne:after {
    right: auto;
    left: 50%;
    margin-left: -15px
}

.tooltipped-nw:after {
    margin-right: -15px
}

.tooltipped-s:after,.tooltipped-n:after {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%)
}

.tooltipped-w:after {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}

.tooltipped-w:before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: rgba(0,0,0,0.8)
}

.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}

.tooltipped-e:before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: rgba(0,0,0,0.8)
}

.tooltipped-multiline:after {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 250px;
    word-break: break-word;
    word-wrap: normal;
    white-space: pre-line;
    border-collapse: separate
}

.tooltipped-multiline.tooltipped-s:after,.tooltipped-multiline.tooltipped-n:after {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.tooltipped-multiline.tooltipped-w:after,.tooltipped-multiline.tooltipped-e:after {
    right: 100%
}

@media screen and (min-width: 0\0) {
    .tooltipped-multiline:after {
        width:250px
    }
}

.tooltipped-sticky:before,.tooltipped-sticky:after {
    display: inline-block
}

.tooltipped-sticky.tooltipped-multiline:after {
    display: table-cell
}

.underConstruction {
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-color: #cecece;
    background-image: url("/documentation/pages/images/icons/under_construction_svg.svg");
    background-size: 250px 250px;
    background-position: center;
    object-fit: contain;
    display:block;
    margin-bottom:1.3em;
}

#pagecontentbody {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    clear:both;
    background: #444444;
    color:#fff;
    font-size: 12px;
    text-align:right;
    padding: 20px 0px;
}

@media screen and (max-width: 800px) {
    #footer {
        font-size: 10px;
        text-align:left;
    }
}

#announcement {
    display:none;
    font-size: 14px;
    padding: 10px;
    margin: 5px 0px;
    background: #F0F080;
    border-left: 4px solid #B7B711;
    border-radius: 5px;
    color: #505026;
}

#announcement:before {
    content: "Site Announcement: ";
    font-weight: bold;
    color: #505026;
}

#searchFilter {
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    padding: 6px;
    font-size: 14px;
    color: #000 !important;
    outline: none;
}

#searchResults {
    font-size: 16px;
    padding-top:20px;
    padding-bottom:20px;
}

.twoColumn {
    columns: 2;
}

@media screen and (max-width: 800px) {
    .twoColumn {
        columns: 1;
    }
}