.logo:after {
    content: "Hosted by ZebraHost, The Alpha Anywhere Hosting Specialists";
    position: absolute;
    left: 0px;
    top: 44px;
    color: rgba(255,255,255,.5);
    font: 10px Arial;
}
#logo {
    background-image: url(http://www.alphasoftware.com/newsite/images/alpha-software-logo.png);
    position: absolute;
    top:9px;
    left:64px;
    width:120px;
    height:30px;
}
#TOC {
    top: 48px;
}
.checkedHREF {
	background: Orange; 
}
.helpserver_toc { display: none; }
