#header:after {
content: "Hosted by ZebraHost, The Alpha Anywhere Hosting Specialists";
position: absolute;
right: 200px;
top: 24px;
color: white;
font: 12px Arial;
border-radius: 0px 3px 0px 0px;
text-shadow: 0px 0px 3px black;
}
#header:before {
content: url(http://www.alphasoftware.com/newsite/images/alpha-software-logo.png);
position: absolute;
right: 20px;
top: 24px;
}
