#pageBody {
    font: 18px weblysleek_uisemilight, sans-serif;
    padding: 0px;
    margin: 0px;
}

.container {
    padding: 0px 30px;
    margin: 0px auto;
    width: 1140px;
    max-width: 100%;
    box-sizing: border-box;
    flex: 1 1 auto;
    position: relative;
}

#header {
    background: #fff;
    color: #000;
}

#header .marketing {
    text-align: center;
    font-size: 14px;
    padding:6px;
    margin:0;
    display:block;
    color: #fff;
    background: #3456A7;
}

#header .marketing a {
    text-decoration: none;
    color: #fff;
}

#header .marketing div {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#header-top {
    padding-top: 15px;
    padding-bottom: 20px;
}

#header-top-title {

}

#header-bottom {
    position: relative;
    white-space: nowrap;
}

#branding {
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
}

#header .logo {
    display: inline-block;
}

#header .logo a {
    background-image: url("images/aalogo.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 120px;
    height: 63px;
    background-size: contain;
    vertical-align: middle;
}

#header .logo a span {
    display: inline-block;
    text-indent: -9999px;
}
#header .tflogo {
    display: inline-block;
}

#header .tflogo a {
    background-image: url('images/AlphaTransformTM.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 120px;
    height: 63px;
    vertical-align: middle;
}

#header .tflogo a span {
    display: inline-block;
    text-indent: -9999px;
}

@media screen and (max-width: 800px) {
    #header .marketing {
        font-size: 10px;
    }
    
    #header .marketing .mhead {
        display:block;
    }
}


#main-menu {
    display: inline-block;
    white-space: normal;
}

#main-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#main-menu ul li {
    display: inline-block;
    padding: 5px 10px;
}

#main-menu a {
    color: #eee;
}


/*#main-menu a:hover {
color: #eee;
background: #798490;
}*/

#library {
    list-style: none;
}

#library li {
    float: left;
    margin-right: 10px;
    position: relative;
}

#library a {
    display: block;
    padding: 5px;
    color: #fff;
    text-decoration: none;
}


/*--- DROPDOWN ---*/

#library ul {
    background: #f1f1f1;
    list-style: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: -9999px;
    /* Hide off-screen when not needed (this is more accessible than display:none;) */
}

#library ul li {
    padding: 0px;
    margin: 0px;
    display: block;
    float: none;
}

#library ul a {
    white-space: nowrap;
    /* Stop text wrapping and creating multi-line dropdown items */
    color: #000;
    display: block;
    padding: 10px;
}

#library li:hover ul {
    /* Display the dropdown on hover */
    left: 0;
    /* Bring back on-screen when needed */
}

#library ul a:hover {
    color: #158ccc;
    background: #ccc;
}

#search {
    position: relative;
    float: right;
    padding-top: 15px;
}

#search input {
    border: 1px solid #333;
    border-radius: 3px;
    background: #fff;
    padding: 6px;
    font-size: 14px;
    color: #000;
    outline: none;
    width: 200px;
}

#search button {
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    outline: none;
    vertical-align: top;
}

#content {
    font-size: 14px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    #content {
        display: block;
    }
}

@supports (-ms-accelerator: true) {
    #content {
        display: flex;
    }
}

#bread-crumbs {
    padding: 10px 30px;
    background-color: #cecece;
}

#bread-crumbs ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#bread-crumbs ul li {
    display: inline-block;
}

#bread-crumbs ul li:before {
    content: "\0203A";
    display: inline-block;
    padding: 0px 3px;
}

#bread-crumbs ul li:first-child:before {
    display: none;
}

#bread-crumbs a {
    color: #000;
    text-decoration: underline;
}

#bread-crumbs a:hover {
    text-decoration: none;
}

#page-nav {
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 3px;
    width: 250px;
    padding: 0px;
    float: left;
    overflow: hidden;
    margin-top: 10px;
}

#page-nav>div {
    padding: 6px;
    text-align: center;
    background: #eee;
    height: 16px;
    overflow: hidden;
}

#page-nav>div a {
    color: #000;
}

#page-nav>div a:hover {
    text-decoration: none;
}

#page-nav ul {
    font-size: 14px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#page-nav ul li a {
    display: block;
    padding: 4px 6px;
    text-decoration: none;
    color: #000;
}

#page-nav ul li .selected {
    background: #888;
}

#page-nav ul li a:hover {
    background: #ddd;
}
#page-nav.fixed {
    position: fixed;
    top: 0px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 0px 5px rgb(255 255 255 / 50%);
    z-index: 1;
}
#page-nav.fixed ul {
    overflow: auto;
}
#page-nav.fixed>div {
    overflow: visible;
}
#page-nav.fixed:hover {
    z-index: 3;
}

.selected {
    background: #f2f2f2;
}

#page-nav-parent[href="#"],
#page-nav-parent[href="#"]+span,
#page-nav-child[href="#"],
#page-nav-child[href="#"]+span,
#page-nav-previous[href="#"],
#page-nav-previous[href="#"]+span,
#page-nav-next[href="#"],
#page-nav-next[href="#"]+span {
    display: none;
}

#page-nav-list-toggle {
    display: none;
    border: none;
    background: transparent;
    outline: none;
    font-size: 22px;
    font-weight: bold;
    margin-top: -6px;
    width: 28px;
    padding: 0px;
    padding-bottom: 2px;
    transform: rotate(90deg);
}

.page-nav-empty {
    display: none;
}

.search-results dt a {
    font-size: 13.5pt;
}

.search-results dd {
    padding-bottom: 10px;
}

.search-results-minimal {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-rule: 1px solid lightblue;
    -moz-column-rule: 1px solid lightblue;
    column-rule: 1px solid lightblue;
}

.search-address {
    font-size: small;
    color: #666;
}

.search-more {
    background: #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-more a {
    margin-left: 10px;
}

.search-description {}

.search-breadcrumbs {}

.search-breadcrumbs ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.search-breadcrumbs ul li {
    display: inline-block;
}

.search-breadcrumbs ul li:before {
    content: "-";
    display: inline-block;
    padding: 0px 3px;
}

.search-breadcrumbs ul li:first-child:before {
    display: none;
}

.search-breadcrumbs a {
    color: #4444ff;
    text-decoration: underline;
}

.search-breadcrumbs a:hover {
    text-decoration: none;
}

#doc {
    font-size: 16px;
    margin-left: 260px;
    overflow-x: auto;
    padding-bottom: 100px;
    box-sizing: border-box;
}

#report-issue {
    background-color: #eeeeee;
    padding: 0px 20px;
    line-height: 40px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #606060;
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    box-sizing: border-box;
    left: 280px;
    right: 20px;
}

#report-issue a {
    float: right;
    text-decoration: underline;
    color: #ff3333;
    text-transform: uppercase;
}

@media screen and (max-width: 560px) {
    #search {
        position: unset;
        float: unset;
        text-align: right;
        padding-top: 10px;
    }
}

@media screen and (max-width: 450px) {
    #report-issue {
        line-height: 20px;
        text-align: center;
        padding: 10px 20px;
    }
    #report-issue a {
        float: none;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .container {
        padding: 0px 10px;
    }
    #bread-crumbs {
        padding: 10px;
    }
    #main-menu>ul {
        display: none;
    }
    #doc {
        margin-left: 0px;
        height: auto;
    }
    #report-issue {
        left: 20px;
    }
    #page-nav {
        width: 100%;
        float: none;
        margin-bottom: 10px;
        margin-top: 25px;
    }
    #page-nav.fixed {
        position: relative;
        top: unset;
        bottom: unset;
        display: block;
        flex-direction: unset;
        box-shadow: none;
    }
    #page-nav>div {
        text-align: left;
        overflow: hidden;
    }
    #page-nav-list-toggle {
        display: block;
        float: right;
    }
    .page-nav-show-list #page-nav-list-toggle {
        transform: rotate(-90deg);
    }
    #page-nav ul {
        display: none;
    }
    .page-nav-show-list ul {
        display: block !important;
    }
    .search-results-minimal {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .apiLanguage {
        text-align: right;
        left: 0px;
        font-size: 7pt;
        border-radius: 0 0 0 0;
    }
}

@media screen and (min-width: 1140px) {
    .apiLanguage {
        border-radius: 0px 0px 5px 5px;
    }
}