* {
    color: black;
}

#inline-toc .closed ul {
	display: block;
}

.codeTable, .codeSection , pre {
 white-space: pre-wrap;
 word-wrap: break-word;
 border-radius: 0;
 border-left: 3pt solid #444;
 background: none;
 margin: 10pt;
 padding: 10pt;
}

pre .codeSection {
 white-space: pre-wrap;
 word-wrap: break-word;
}

.definitionTable {
    display: inline;
    grid-template-columns: none;
}

.definitionTable > * {
    margin-left: 10pt;
    border-bottom: none;
}

.definitionTableHead {
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
}

.definitionDescriptionDT {
    padding-left: 32pt;
    border-bottom: none;
}

.definitionNameDT, .definitionNameDTCode {
    font-weight: bold;
	width: auto;
}

.definitionNameDTCode {
    white-space: pre-wrap;
    font-family: monospace;
}
