	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Calendar_Component">Calendar Component</h1>
<em><strong>Optional feature pack, included in subscription; requires an additional 3rd-party license that is </em>not<em> included in a subscription</strong></em><br />
<br />
The Calendar Component is a simple yet powerful web component that gives you an events calendar to with 8 different views, a drag and drop interface, easy integration with other Alpha Five components, and easy binding to your SQL or DBF databases.<br />
<br />
Start by creating a new calendar component and setting the desired properties.<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=975','HEIGHT=846','BACKGROUND=img/wiki_up/calendar_properties.png']);">	<img src="images/calendar_properties.png" height="423" width="487" alt="Image" /></a><br />
<br />
The four critical setup steps are to define and map to a calendar table,<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=614','HEIGHT=692','BACKGROUND=img/wiki_up/define_calendar_table.png']);">	<img src="images/define_calendar_table.png" height="346" width="307" alt="Image" /></a><br />
<br />
define and map to an events table,<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=614','HEIGHT=692','BACKGROUND=img/wiki_up/define_events_table.png']);">	<img src="images/define_events_table.png" height="346" width="307" alt="Image" /></a><br />
<br />
create an event editing dialog component,<br />
<br />
	<img src="images/component_to_edit_calendar_events.png" alt="Image" /><br />
<br />
and add one or more calendars to the calendar table, either by working directly in the database or by building and using an Alpha Five Grid or Dialog component for editing the calendar table.<br />
<br />
	<img src="images/calendar_table_edit.png" alt="Image" /><br />
<div class="clearfix rbox note"><img src="images/close.png" alt="Close" width="16" height="16" class="rbox-close" onclick="$(this).parent().fadeOut();" title="Close" /><div class="rbox-title"><img src="images/information.png" alt="note" width="16" height="16" title="note" class="icon" /><span>Note</span></div><div class="rbox-data">The image above is of a component built against a Calendars table with an auto-increment GROUPID field. This is not compatible with the <strong>Automatically create new calendar if not found</strong> option discussed in video Cal3.</div></div><br />
At that point you can save and run your calendar locally.<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=1132','HEIGHT=845','BACKGROUND=img/wiki_up/calendar_preview.png']);">	<img src="images/calendar_preview.png" height="422" width="566" alt="Image" /></a><br />
<br />
The calendar currently supports English (EN), French (FR), Italian (IT), and Spanish (SP).<br />
<h2 class="showhide_heading" id="Licensing_your_calendar">Licensing your calendar</h2>
Before you can publish your calendar to a site for general use you will need to buy a license to allow it to run on that site, and enter the license number into the calendar properties. If you do not purchase a calendar license, your calendar will only run on localhost and 127.0.0.1.<br />
<h2 class="showhide_heading" id="Using_Calendar_arguments">Using Calendar arguments</h2>
When launching the Calendar from a Grid or another component, you will want to set one or more of the Calendar's arguments, to control what is displayed dynamically.<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=1041','HEIGHT=564','BACKGROUND=img/wiki_up/calendar_arguments.png']);">	<img src="images/calendar_arguments.png" height="282" width="520" alt="Image" /></a><br />
<h2 class="showhide_heading" id="Debugging_your_calendar_serialization">Debugging your calendar serialization</h2>
An option in the Calendar Component builder allows you to turn on debugging information.<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=975','HEIGHT=848','BACKGROUND=img/wiki_up/calendar_properties_aedvanced.png']);">	<img src="images/calendar_properties_aedvanced.png" height="424" width="487" alt="Image" /></a><br />
<br />
If this option is enabled, debugging information is written to the Trace folder (see the Application Server control panel for information on where the Trace folder is located).<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=783','HEIGHT=580','BACKGROUND=img/wiki_up/application_server_settings_logging_v11.png']);">	<img src="images/application_server_settings_logging_v11.png" height="290" width="391" alt="Image" /></a><br />
<h2 class="showhide_heading" id="Videos">Videos</h2>
<table style="BORDER-COLLAPSE: collapse" border="1" cellSpacing="1" cellPadding="3" width="590">

	<tr>

		<td width="48"><b>Number</b></td>

		<td width="172"><b>Category</b></td>

		<td><b>Description</b></td>

	</tr>

	<tr>

		<td width="48">Cal1</td>

		<td width="172">Overview of the Calendar&nbsp; Component</td>

		<td>The Calendar component allows you to display 'events' or 

		'appointments' in a Calendar view. This video gives a quick overview of 

		the features of the Calendar component. In a subsequent video we show 

		how to set up the Calendar component.<p>&nbsp;</p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/Calendar_Tour1.swf">

		Watch Video - Part 1</a></p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/Calendar_Tour2.swf">

		Watch Video - Part 2</a></p>

		</td>

	</tr>

	<tr>

		<td width="48">Cal2</td>

		<td width="172">Setting up the Calendar Component</td>

		<td>This video shows the steps to get started to set up and use a 

		Calendar component in your application.<p>&nbsp;</p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/CreatingACalendarComponent_1.swf">

		Watch Video - Part 1</a></p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/CreatingACalendarComponent_2.swf">

		Watch Video - Part 2</a></p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/CreatingACalendarComponent_3.swf">

		Watch Video - Part 3</a></p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/CreatingACalendarComponent_4.swf">

		Watch Video - Part 4</a></p>

		</td>

	</tr>
<tr>

		<td width="48">Cal3</td>

		<td width="172">Dynamically Creating New Records in the Calendars Table</td>

		<td>When the Calendar Component is opened, it can be configured to only 

		display the events for a particular calendar.

		<p>&nbsp;</p>

		<p>For example, you might have an 'Employees' table and you might have a 

		Grid which shows the records in the Employees table. </p>

		<p>&nbsp;</p>

		<p>A button in each row of the Grid opens the Calendar Component showing 

		the appointments for that particular Employee. However, if there is no 

		matching record in the Calendar table for the Employee, it would be 

		convenient to automatically create a new record in the Calendars table 

		before opening the Calendar.</p>

		<p>&nbsp;</p>

		<p>This video shows how this is easily done.</p>

		<p>&nbsp;</p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/CalendarComponent_DynamicallyCreatingNewCalendarRecords.swf">

		Watch Video</a></td>

	</tr>
	<tr>
		<td width="48">Cal4</td>
		<td width="172">Opening the Calendar Component and Showing a Selected&nbsp;
		List of Calendars</td>
		<td>When the Calendar Component is opened from a button in a Grid or&nbsp;
		Dialog component, you can specify which calendars (i.e. the calendar for&nbsp;
		Dr. Jones, Dr. Smith, etc.) should be shown on the Calendar.<p>&nbsp;</p>
		<p>This video shows how you can read the list of calendars to show from&nbsp;
		a column in the Grid.</p>
		<p>(Requires build 3823 or above)</p>
		<p>
		<a href="http://www.ajaxvideotutorials.com/V11Videos/CalendarComponent_OpenSelectedCalendars_1.swf">
		Watch Video - Part 1</a></p>
		<p>
		<a href="http://www.ajaxvideotutorials.com/V11Videos/CalendarComponent_OpenSelectedCalendars_2.swf">
		Watch Video - Part 2</a></td>
	</tr>
	<tr>

		<td width="48">Cal5</td>

		<td width="172">Opening the Calendar Component and Showing a List of 

		Related Calendars</td>

		<td>Assume that you have a Grid that contains a list of people for which 

		calendars have been defined. When you click a button to open the 

		Calendar Component for a particular person, you would like to see the 

		calendars for 'related' people as well. In addition, you would like the 

		'related' calendars to be read-only, while the main calendar is 

		updateable.<p>&nbsp;</p>

		<p>This video shows how you can define a 'link table' that indicates 

		what the 'related' calendars are for each calendar. For example, 

		whenever the calendar for Dr. Smith (id = 3) is shown, you also want to 

		see the calendars for Dr. Jones (id = 27) and Dr. King (id = 33). </p>

		<p>&nbsp;</p>

		<p>This video shows how this can be done by putting a Linked Content 

		Section in the main Grid. The Linked Content Section shows the Grid 

		based on the 'link table'.</p>

		<p>(Requires build 3823 or above)</p>

		<p>&nbsp;</p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/Calendar_showingRelatedCalendars_1.swf">

		Watch Video - Part 1</a></p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/Calendar_showingRelatedCalendars_2.swf">

		Watch Video - Part 2</a></td>

	</tr>
	</table><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Calendar+Component+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,component"}--->
</body></html>