	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Creating Login Components</p>

<p>After you have defined all security parameters, you may 
 build a login component. A login component may include up to 3 "views". 
 All login components have a login view. This includes the fields for entering 
 a user ID and password and may include links to other views. If the security 
 settings allow a user to change his or her password on-line, a second 
 view named "Change Password" is available. This allows you to 
 configure a specific component layout for changing passwords. If the security 
 settings allow the user to recover lost login information, a third view 
 named "Lost Info" is available. This will show various fields 
 that are used to verify the identity of a user and return the requested 
 login information.</p>



<p>Each of the views in a single login component may have 
 its own unique layout and style. Each may use the built in templates or 
 be completely freeform. Each view has a number of messages that may be 
 returned to the user under various conditions. You may edit or translate 
 all of these messages.</p>



<p>After you build the login, you may add it to a page.&nbsp;As&nbsp;with 
 other components, parameter overrides on the page may modify the component's 
 messages and style sheet(s). All of the code to validate the user and 
 respond to the login actions is included within the component. The developer 
 does not have to add any code to any page to implement security.</p>



<p>To create a login component:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Start the <span class=Screen>Web 
 Projects Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/New_Query_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> <span class=Button>New</span> on the toolbar.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Web 
 Component</span> and click <span class=Button>Next&nbsp;>.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Login</span> 
 and click <span class=Button>OK</span> to display the <span class=Screen>Login 
 Builder</span>.</p>

</li>
</ol>

<p class=A5><a name=Define_the_Login_Dialog>Define the Login Dialog</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Login > Layout</span> property page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, make 
 a choice from the <span class=Button>Layout Options > Layout Type</span> 
 list. The options are: </p>

</li>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Tabular" 
 - left picture</p>

</li>
	</ul>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Columns" 
 - middle picture</p>

</li>
	</ul>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Stacked Columns" 
 - right picture</p>

</li>
	</ul>
</ol>

<p class=Pix><img src="images/WP_Login_Component_Styles.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 611px;
							height: 169px;
							border-style: none;
							border-style: none;"
					width=611
					height=169
					border=0></p>



<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Layout Options > Layout 
 Type</span> property to select a different cascading style sheet or edit 
 the current style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enable 
 the <span class=Button>Layout Options > Show Remember me?</span> property 
 to display the "Remember your login?" checkbox. This gives the 
 user the option of saving his login information in a cookie.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, make 
 a selection from the <span class=Button>Layout Options > Show Options</span> 
 list. The options are: </p>

</li>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"No Links" 
 - left picture</p>

</li>
	</ul>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Show&nbsp;as&nbsp;Links" 
 - middle picture</p>

</li>
	</ul>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Show&nbsp;as&nbsp;Buttons" 
 - right picture</p>

</li>
	</ul>
</ol>

<p class=Pix><img src="images/WP_Buttons_or_Links.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 576px;
							height: 135px;
							float: none;
							border-style: none;
							border-style: none;"
					width=576
					height=135
					border=0></p>



<ol start=6
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enable 
 the <span class=Button>Layout Options > Freeform Layout</span> property 
 to display the <span class=Button>Layout Options > Freeform Template</span> 
 property. Click <img src="images/Web_Properties_button.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 17px;
								height: 18px;
								float: none;
								border-style: none;
								border-style: none;"
						width=17
						height=18
						border=0> in the <span class=Button>Layout Options 
 > Freeform Template</span> property to display the <span class=Screen>Freeform 
 Layout</span> dialog.</p>

</li>
</ol>

<p class=A5><a name=Customize_User_ID_Control>Customize User ID Control</a></p>



<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Login > Controls</span> property page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the display size of the User ID text box in the <span class=Button>User 
 ID Properties > Size</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the number of characters saved by the User ID text box in the <span class=Button>User 
 ID Properties > MaxLength</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>User ID Properties > In-Line 
 Style</span> property to display the <span class=Screen>Style Editor</span> 
 dialog. The style attributes defined here for the text box override the 
 properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 help text into the <span class=Button>User ID Properties > Bubble Help 
 Text</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the User ID label in the <span class=Button>User ID Row Properties > 
 Row Label</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>User ID Row Properties > 
 Row Label In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the label 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>User ID Row Properties > 
 Cell In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the cell that 
 contains the label override the properties of the selected cascading style 
 sheet.</p>

</li>
</ol>

<p class=A5><a name=Customize_Password_Control>Customize Password Control</a></p>



<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the display size of the Password text box in the <span class=Button>Password 
 Properties > Size</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the number of characters saved by the Password text box in the <span class=Button>Password 
 Properties > MaxLength</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Password Properties > In-Line 
 Style</span> property to display the <span class=Screen>Style Editor</span> 
 dialog. The style attributes defined here for the text box override the 
 properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 help text into the <span class=Button>Password Properties > Bubble 
 Help Text</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the Password label in the <span class=Button>Password Row Properties > 
 Row Label</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Password Row Properties > 
 Row Label In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the label 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Password Row Properties > 
 Cell In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the cell that 
 contains the label override the properties of the selected cascading style 
 sheet.</p>

</li>
</ol>

<p class=A5><a name=Customize_Remember_Me_Control>Customize Remember Me 
 Control</a></p>



<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the Remember Me label in the <span class=Button>Remember Me Properties 
 > Label</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Remember Me Row Properties 
 > Label In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the label 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, make 
 a selection from the <span class=Button>Remember Me Properties > Label 
 Location</span> list. The options are:</p>

</li>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Label First"</p>

</li>
	</ul>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Checkbox First"</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 help text into the <span class=Button>Remember Me Properties > Label 
 Bubble Help Text</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Remember Me Properties > 
 Cell In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the cell that 
 contains the checkbox and label override the properties of the selected 
 cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Show&nbsp;as&nbsp;Links" 
 in the <span class=Button>Layout Options > Show Options</span> list, 
 you may modify the following properties.</p>

</li>
	
	<ol style="list-style: decimal;"
		type=1>
		
		<li><p>Optionally, change 
 the text that appears in the <span class=Button>Change Password Link Properties 
 > Link Text Label</span> property.</p>

</li>
		
		<li><p>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Change Password Link Properties 
 > In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the link override 
 the properties of the selected cascading style sheet.</p>

</li>
		
		<li><p>Optionally, enter 
 help text into the <span class=Button>Change Password Link Properties 
 > Label Bubble Help Text</span> property.</p>

</li>
		
		<li><p>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Change Password Link Properties 
 > Cell In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the cell that 
 contains the link override the properties of the selected cascading style 
 sheet.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>f you selected "Show&nbsp;as&nbsp;Buttons" 
 in the <span class=Button>Layout Options > Show Options</span> list, 
 you may modify the following properties.</p>

</li>
	
	<ol style="list-style: decimal;"
		type=1>
		
		<li><p>Optionally, change 
 the text that appears in the <span class=Button>Change Password Button 
 Properties > Button Label</span> property.</p>

</li>
		
		<li><p>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Change Password Button Properties 
 > In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the button 
 override the properties of the selected cascading style sheet.</p>

</li>
		
		<li><p>Optionally, enter 
 help text into the <span class=Button>Change Password Button Properties 
 > Label Bubble Help Text</span> property.</p>

</li>
		
		<li><p>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Change Password Button Properties 
 > Cell In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the cell that 
 contains the button override the properties of the selected cascading 
 style sheet.</p>

</li>
	</ol>
</ol>

<p class=A5><a name=Customize_Buttons_and_Links>Customize Buttons and Links</a></p>



<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Login > Properties</span> property page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, remove 
 the Login button by clearing the <span class=Button>Submit/Cancel Buttons 
 > Has Submit Button</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the label of the Login button in the <span class=Button>Submit/Cancel 
 Buttons > Submit Button Label</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Submit/Cancel Buttons > 
 Submit Button In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the button 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 help text into the <span class=Button>Submit/Cancel Buttons > Submit 
 Button Bubble Help Text</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, remove 
 the Clear button by clearing the <span class=Button>Submit/Cancel Buttons 
 > Has Cancel Button</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the label of the Clear button in the <span class=Button>Submit/Cancel 
 Buttons > Cancel Button Label</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Submit/Cancel Buttons > 
 Cancel Button In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the button 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 help text into the <span class=Button>Submit/Cancel Buttons > Cancel 
 Button Bubble Help Text</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, make 
 a selection from the <span class=Button>Submit/Cancel Buttons > Button 
 Alignment</span> list. The options are:</p>

</li>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"center"</p>

</li>
	</ul>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"left"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"right"</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, make 
 a selection from the <span class=Button>Submit/Cancel Buttons > Button 
 Order</span> list. The options are:</p>

</li>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Submit Button 
 First"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Cancel Button 
 First"</p>

</li>
	</ul>
</ol>

<p class=A5><a name=Customize_Messages>Customize Messages</a></p>



<p>Optionally, modify the default messages found in the following properties.</p>



<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Messages 
 > Login Information Missing</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Messages 
 > Login Failed</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Messages 
 > Locked Out - Exceeded Allowed Attempts</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Messages 
 > User ID Required</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Messages 
 > User ID Validation Error Message</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Messages 
 > Password Validation Error Message</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Messages 
 > Password Expired</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Messages 
 > Undefined Error</span></p>

</li>
</ol>

<p class=A5><a name=Define_the_Change_Password_Dialog>Define the Change 
 Password Dialog</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Change Password > Layout</span> property page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, make 
 a choice from the <span class=Button>Layout Options > Layout Type</span> 
 list. The options are: </p>

</li>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Tabular" 
 - left picture</p>

</li>
	</ul>
	
	<ul>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Stacked Columns" 
 - right picture</p>

</li>
	</ul>
</ol>

<p class=Pix><img src="images/WP_Change_Password_Dialog.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 390px;
							height: 170px;
							float: none;
							border-style: none;
							border-style: none;"
					width=390
					height=170
					border=0></p>



<ol start=3
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Layout Options > Layout 
 Type</span> property to select a different cascading style sheet or edit 
 the current style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enable 
 the <span class=Button>Layout Options > Freeform Layout</span> property 
 to display the <span class=Button>Layout Options > Freeform Template</span> 
 property. Click <img src="images/Web_Properties_button.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 17px;
								height: 18px;
								float: none;
								border-style: none;
								border-style: none;"
						width=17
						height=18
						border=0> in the <span class=Button>Layout Options 
 > Freeform Template</span> property to display the <span class=Screen>Freeform 
 Layout</span> dialog.</p>

</li>
</ol>

<p class=A5><a name=Customize_Original_Password_Control>Customize Original 
 Password Control</a></p>



<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Change Password > Controls</span> property page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the display size of the Original Password text box in the <span class=Button>Original 
 Password Properties > Size</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the number of characters saved by the Original Password text box in the 
 <span class=Button>Original Password Properties > MaxLength</span> 
 property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Original Password Properties 
 > In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the text box 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 help text into the <span class=Button>Original Password Properties > 
 Bubble Help Text</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the Original Password label in the <span class=Button>Original Password 
 Row Properties > Row Label</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Original Password Row Properties 
 > Row Label In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the label 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Original Password Row Properties 
 > Cell In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the cell that 
 contains the label override the properties of the selected cascading style 
 sheet.</p>

</li>
</ol>

<p class=A5><a name=Customize_New_Password_Control>Customize New Password 
 Control</a></p>



<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the display size of the New Password text box in the <span class=Button>New 
 Password Properties > Size</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the number of characters saved by the Original Password text box in the 
 <span class=Button>New Password Properties > MaxLength</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>New Password Properties > 
 In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the text box 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 help text into the <span class=Button>New Password Properties > Bubble 
 Help Text</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the New Password label in the <span class=Button>New Password Row Properties 
 > Row Label</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>New Password Row Properties 
 > Row Label In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the label 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>New Password Row Properties 
 > Cell In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the cell that 
 contains the label override the properties of the selected cascading style 
 sheet.</p>

</li>
</ol>

<p class=A5><a name=Customize_Confirm_Password_Control>Customize Confirm 
 Password Control</a></p>



<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the display size of the Confirm Password text box in the <span class=Button>Confirm 
 Password Properties > Size</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the number of characters saved by the Confirm Password text box in the 
 <span class=Button>Confirm Password Properties > MaxLength</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Confirm Password Properties 
 > In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the text box 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, enter 
 help text into the <span class=Button>Confirm Password Properties > 
 Bubble Help Text</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the Confirm Password label in the <span class=Button>Confirm Password 
 Row Properties > Row Label</span> property.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Confirm Password Row Properties 
 > Row Label In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the label 
 override the properties of the selected cascading style sheet.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <img src="images/Web_Properties_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 17px;
				height: 18px;
				float: none;
				border-style: none;
				border-style: none;"
		width=17
		height=18
		border=0> in the <span class=Button>Confirm Password Row Properties 
 > Cell In-Line Style</span> property to display the <span class=Screen>Style 
 Editor</span> dialog. The style attributes defined here for the cell that 
 contains the label override the properties of the selected cascading style 
 sheet.</p>

</li>
</ol>




<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>



<p class=A5>See Also</p>



<p><a href="../../../../Reference/Design/View/Component/Login Component Properties.html" title="Login Component Properties" class="wiki">Login Component Properties</a>, 
 <a href="../../Security/Web Application Security Framework.html" title="Web Application Security Framework" class="wiki">Web Application Security   Framework</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Creating+Login+Components">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,security,guide,component"}--->
</body></html>