	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Creating_a_Custom_Component">Creating a Custom Component</h1>
<h2 class="showhide_heading" id="Step_1">Step 1</h2>
The first step in creating a Custom Component is to open your Alpha Five Web Projects Control Panel and press the <strong>New </strong>button. Then choose <strong>Custom Component</strong> from the gallery.<br />
<br />
	<img src="images/new_custom_component.png" alt="Image" /><br />
<br />
The Custom Component Builder will open in the <strong>Overview </strong>pane.<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=975','HEIGHT=633','BACKGROUND=img/wiki_up/custom_component_overview.png']);">	<img src="images/custom_component_overview.png" height="316" width="487" alt="Image" /></a><br />
<br />
As it says there, the Custom Component allows you to create an Xbasic function that in turn generates the HTML and JavaScript needed to render the component. Typically this is done in the <em>onInitialRender </em>server-side event.<br />
<br />
Since you haven't defined your onInitialRender event at this point, you will get an error message if you try to preview your custom component. (You can try this anyway, if you like.)<br />
<br />
At this point, let's save the component and call it "Demo". If you look in your Web Projects Control Panel, the Demo component should appear next to a hammer icon.<br />
<h2 class="showhide_heading" id="Step_2">Step 2</h2>
Down the left-hand side of the Custom Component builder, you will see <em>Overview</em>, <em>Properties</em>, <em>Javascript Functions</em>, <em>Xbasic Functions</em>, <em>Server-side Events</em>, and <em>Client-side Events</em>. As we mentioned earlier, creating an Xbasic function that in turn generates the HTML and JavaScript needed to render the component is typically done in the <em>onInitialRender</em> server-side event.<br />
<br />
This is the crux of this particular Custom Component: it will generate HTML and assign it to e.html. In this example we won't set e.javascript, but in Custom Components based on JavaScript APIs most of the work goes into setting e.javascript, while the HTML might have little in it besides the definition of a DIV. In this component, however, the little JavaScript necessary is inside onclick events in HTML button definitions.<br />
<br />
If you are building your own Custom Component from scratch, it is worthwhile to first create a prototype HTML/JavaScript/CSS page in a standalone HTML/JavaScript/CSS editor such as <a class="wiki external" target="_blank" href="http://www.aptana.com/" rel="external nofollow">Aptana Studio</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" />. Once you know what scripting and markup gives you the page you want, you will be in a good position to write the Xbasic code to generate the code. As a baby step, you can start the Custom Component using the HTML and JavaScript from the standalone page, and then parameterize it.<br />
<br />
Getting back to our demo, let's go to the onInitialRender server-side event and paste in the code from the attachment <em>No such attachment on this page</em>. Then go to Xbasic Functions and paste in the code from <em>No such attachment on this page</em>. Save the component.<br />
<br />
You'll notice that the contents of the <em>onInitialRender</em> event were relatively short. The heavy lifting for generating the lightweight grid table HTML is done in the Xbasic function <em>renderTable</em>, and the heavy lifting for paginating the lightweight grid is done in the Xbasic function <em>Navigate</em>. We'll look at how they work in the next article.<br />
<br />
The component won't preview successfully quite yet. We need to add an argument, and add a table to the project.<br />
<h2 class="showhide_heading" id="Step_3">Step 3</h2>
Go to the <strong>Arguments </strong>pop-up field in <strong>Properties </strong>and add an argument named <em>componentArg_whatstate</em>. Make it a character argument with a value set at run-time and a default of "MA". Save the component.<br />
<h2 class="showhide_heading" id="Step_4">Step 4</h2>
Go to the <strong>Tables/Sets</strong> tab of the Alpha Five control panel, right-click, and choose <strong>Add Table/Set</strong>. You want to add the <strong>customer </strong>table from <strong>AlphaSports</strong>. If the AlphaSports sample isn't already installed, you will have to close this project, install it, and then reopen this project.<br />
<br />
Once the <strong>customer </strong>table is in your project, you should be able to run the <strong>Demo</strong> component in working preview. This is how it should look:<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=975','HEIGHT=633','BACKGROUND=img/wiki_up/demo_custom_component_working_preview.png']);">	<img src="images/demo_custom_component_working_preview.png" height="316" width="487" alt="Image" /></a><br />
<br />
The navigation buttons should work.<br />
<br />
You now have a working component, but unless you've been digging through the code you probably don't yet understand how or why it works. We will go into more detail in the next article, <a href="Custom Component Sections and Events.html" title="Custom Component Sections and Events V11" class="wiki">Custom Component Sections and Events V11</a>.<br />
<h2 class="showhide_heading" id="See_also">See also</h2>
<a href="Custom Components.html" title="Custom Components V11" class="wiki">Custom Components V11</a><br />
<a href="../../Platform/Javascript/Using the Custom Component JavaScript Class.html" title="Using the Custom Component JavaScript Class V11" class="wiki">Using the Custom Component JavaScript Class V11</a><br />
<a href="Creating a Custom Component.html" title="Creating a Custom Component V11" class="wiki">Creating a Custom Component V11</a><br />
<a href="Custom Component Sections and Events.html" title="Custom Component Sections and Events V11" class="wiki">Custom Component Sections and Events V11</a><br />
<a href="../Grid/Sharing and Using a Custom Component.html" title="Sharing and Using a Custom Component V11" class="wiki">Sharing and Using a Custom Component V11</a><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Creating+a+Custom+Component+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,design,guide,component"}--->
</body></html>