	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Custom_Components">Custom Components</h1>
In Version 11, Alpha Five has added two types of reusable web components that can be created by any developer with a good knowledge of Xbasic, HTML, and JavaScript. One type is the <em>Custom Component</em>, discussed in this article and those following. The other is the <a href="../Grid/User-defined Components.html" title="User-defined Components V11" class="wiki"> User-defined Component</a>, which is both more flexible and harder to develop. We recommend starting by creating a Custom Component even if your ultimate goal is to develop a User-defined Component.<br />
<h2 class="showhide_heading" id="Uses_and_Benefits_of_a_Custom_Component">Uses and Benefits of a Custom Component</h2>
In Alpha Five Version 10, you can open a Grid Component in a window, a DIV, or a Tabbed UI Pane, in a linked content section of another Grid, and in a row expander of another Grid. In Alpha Five Version 11, you can do all of those things with a Custom Component and a User-defined Component. For example, here are the possible Action JavaScript actions from one V11 installation:<br />
<br />
	<img src="images/v11_action_javascript_actions_open_custom_component.png" alt="Image" /><br />
<br />
When you pick the action to Open a Custom Component, you see a builder that lets you select the component and set its parameters:<br />
<br />
	<img src="images/open_a_custom_component.png" height="468" width="505" alt="Image" /><br />
<br />
A key benefit is that you can bind arguments in the Custom Component to the current row of a grid. In this case, we are binding a custom map component to a grid that has airport data including latitude and longitude:<br />
<br />
	<img src="images/open_custom_component_genie_arguments.png" alt="Image" /><br />
<br />
At runtime, this lets us bring up a map for each airport:<br />
<br />
	<img src="images/logan_airport_map.png" height="455" width="585" alt="Image" /><br />
<br />
<h2 class="showhide_heading" id="Custom_Component_Videos">Custom Component Videos</h2>
The Custom Component is for developers who want to generate the component using their own Xbasic code. These videos give a basic overview of the Custom Component. The explain what a custom component is, and show how the component can define arguments whose value can be passed in from the calling program.<br />
<br />
The videos show how a custom component can be called from a Grid component and how the values of the arguments defined in the custom component can be passed in from data in the current Grid row.<br />
<br />
Next the videos demonstrate a more realistic example where the Custom Component is used to define a pie chart displaying the breakdown of items on an order.<br />
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/IntroductionToCustomComponents_1.swf" rel="external nofollow">Watch Video 1</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/IntroductionToCustomComponents_2.swf" rel="external nofollow">Watch Video 2</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/IntroductionToCustomComponents_3.swf" rel="external nofollow">Watch Video 3</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<h2 class="showhide_heading" id="See_Also">See Also</h2>
The articles that follow explain the JavaScript helpers for Custom components, how to create a Custom component, the function of the various parts of the Custom component builder, and how a Custom component can be shared and reused.<br />
<!--depth: 0-->
<ul class="toc">

	<li class="toclevel"><a href="../../Platform/Javascript/Using the Custom Component JavaScript Class.html" class="link" title="">Using the Custom Component JavaScript Class V11</a>
	</li>

	<li class="toclevel"><a href="Creating a Custom Component.html" class="link" title="">Creating a Custom Component V11</a>
	</li>

	<li class="toclevel"><a href="Custom Component Sections and Events.html" class="link" title="">Custom Component Sections and Events V11</a>
	</li>

	<li class="toclevel"><a href="../Grid/Sharing and Using a Custom Component.html" class="link" title="">Sharing and Using a Custom Component V11</a>
	</li>
</ul>

<br />
<br />
In addition, see <a href="../Grid/User-defined Components.html" title="User-defined Components V11" class="wiki">User-defined Components V11</a> and <a href="../Grid/Grid, Dialog and Custom Components Storing state information.html" title="Grid, Dialog and Custom Components Storing state information V11" class="wiki">Grid, Dialog and Custom Components Storing state information V11</a>.<br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Custom+Components+V11">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,component"}--->
</body></html>