	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Dialog_Component_-_Power_Search_for_Embedded_Report">Dialog Component - Power Search for Embedded Report</h1>
Requires the <em>Power Search for Reports Embedded in Dialog Components</em> feature pack, included in subscription<br />
<br />
The Dialog Component can be used to create a 'Search Part' for a Report so that the end-user can enter search ctieria to define exactly which records to display in the report.<br />
<br />
<em>How it works</em><br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=1012','HEIGHT=651','BACKGROUND=img/wiki_up/power_search_report_1.png']);">	<img src="images/power_search_report_1.png" height="325" width="506" alt="Image" /></a><br />
<br />
Setup 1: <em>Set the embedded report properties</em><br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=1012','HEIGHT=651','BACKGROUND=img/wiki_up/power_search_reports_2.png']);">	<img src="images/power_search_reports_2.png" height="325" width="506" alt="Image" /></a><br />
<br />
Setup 2: <em>Set the button Action JavaScript and properties</em><br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=1012','HEIGHT=651','BACKGROUND=img/wiki_up/power_search_report_3.png']);">	<img src="images/power_search_report_3.png" height="325" width="506" alt="Image" /></a><br />
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DialogPowerSearchReports_1.swf" rel="external nofollow">Watch Video - Part 1</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<br />
Setup 3 (optional): <em>Set base filter for report</em>. Note that the user filter will be on top of the base filter, i.e. a logical AND between the two.<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=1012','HEIGHT=651','BACKGROUND=img/wiki_up/power_search_report_4.png']);">	<img src="images/power_search_report_4.png" height="325" width="506" alt="Image" /></a><br />
<br />
An example of the utility of the base filter would be a multi-tenant application, where the base filter for the report is set to the Tenant ID.<br />
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DialogPowerSearchReports_2.swf" rel="external nofollow">Watch Video - Part 2</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<br />
This becomes very useful in a Tabbed user interface, as the user has more freedom to define his report results than he would without the feature pack.<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=1157','HEIGHT=726','BACKGROUND=img/wiki_up/power_report_search_5.png']);">	<img src="images/power_report_search_5.png" height="363" width="578" alt="Image" /></a><br />
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/DialogPowerSearchReports_3.swf" rel="external nofollow">Watch Video - Part 3</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Dialog+Component+Power+Search+for+Embedded+Report+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,component"}--->
</body></html>