	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




			
		
		
		
		
	 

	
			<h1 class="showhide_heading" id="Help_Topics_for_Controls_-_Project_Help_Table">
			Creating Help Windows for Components</h1>
	<p class="showhide_heading">
			&nbsp;</p>
			<h3>Table of Contents</h3>
			<div class="helpserver_toc">
			<ul>
				<li>
					<a href="#HelpID">HelpID</a>
				</li>
				<li>
					<a href="#Help Source">Help Source</a>
				<ul>
					<li>
						<a href="#Make a global project-level HelpTopics table">Make a global project-level HelpTopics table</a>
					</li>
				</ul>	
				</li>
				<li>
					<a href="#Edit Help Text">Edit Help Text</a>
				</li>
				<li>
					<a href="#Special Command Directives">Special Command Directives</a>
				<ul>
					<li>
						<a href="#{WindowTitle: <i>title text</i>}">{WindowTitle: <i>title text</i>}</a>
					</li>
					
					<li>
						<a href="#{WindowSize: <i>width, height</i>}">{WindowSize: <i>width, height</i>}</a>
					</li>
				
					<li>
					<a href="#Language Directives">Language Directives</a>
					</li>
					
					<li>
						<a href="#Language Start">{LanguageStart:<i>language name</i>} and {LanguageEnd}</a>
					</li>
			
				
					<li>
						<a href="#Conditional Directives">Conditional Directives</a>
					</li>
					<li>
						<a href="#{ConditionStart: <i>condition ID: logical expression</i>} and {ConditionEnd: <i>condition ID</i>}">
						{ConditionStart: <i>condition ID: logical expression</i>} and {ConditionEnd: <i>condition ID</i>}</a>
					</li>
						
					<li>
						<a href="#{ExecuteFunction: <i>function name</i>}">{ExecuteFunction: <i>function name</i>}</a>
					</li>
				</ul>
				</li>
				<li>
					<a href="#Custom Help Windows in Action Javascript">Custom Help Windows in Action Javascript</a>
				</li>
				<li>
					<a href="#Custom Help For Individual Fields">Custom Help For Individual Fields</a>
				</li>
				<li>
					<a href="#Videos">Videos</a>
				</li>


			
			</ul>
			</div>
			
			
			
	<b>
	<h2><a name="HelpID">HelpID</a></h2>
	</b>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The <font color="#0000FF">HelpID</font> is 
				what allows the help for an item in your component to be located 
				in the Help table. To find the <font color="#0000FF">HelpID</font> 
				in the <font color="#0000FF">UX Builder</font>, go to the
				<font color="#0000FF">Design</font> tab and in the Design menu 
				under UX click on <font color="#0000FF">Controls</font>. Select 
				a control that has been created for your project and the look at 
				the Controls page Properties list on the right. Find the
				<font color="#0000FF">Field Properties</font> section in the 
				Properties list and select the <font color="#0000FF">Has help</font> 
				property. The <font color="#0000FF">HelpID</font> will open 
				directly underneath the Has Help property.</font></p>
				<p>&nbsp;</p>
				<p><font size="2">In the <font color="#0000FF">Grid Builder</font> 
				you can find the HelpID in the <font color="#0000FF">Design</font> 
				tab by going to <font color="#0000FF">Grid</font>, under the 
				design page menu, and selecting the <font color="#0000FF">
				Properties </font>page. Scroll down the list of Properties to 
				the <font color="#0000FF">Record Navigator/Grid Toolbar</font> 
				properties list. Find the <font color="#0000FF">Help Window</font> 
				property and select it. The <font color="#0000FF">Help ID</font> 
				property will appear underneath Help Window. Note: If you have a 
				grid <font color="#0000FF">Search Part</font> or a Grid
				<font color="#0000FF">Detail Part</font> then you can define 
				help tables for those parts as well. In this case go to the
				<font color="#0000FF">Search &gt; Properties</font> page or the
				<font color="#0000FF">Detail View &gt; Properties</font> page and 
				find <font color="#0000FF">Help ID</font> listed there under 
				Search Options (for the Search Part) or Display Options (for the 
				Detail View Part).</font></p>
				<p>&nbsp;</p>
				<p><font size="2">Click the button
				<img border="0" src="images/button.png" width="15" height="14"> 
				next to the <font color="#0000FF">HelpID</font> property to open 
				the Help ID dialog box. The Help Id dialog links to several 
				powerful tool sets that make creating dynamic Help pages quite 
				easy. The <font color="#0000FF">Edit Help Text for this Help Id</font> 
				button opens a text editor for your help pages that lets you 
				shape the HTML in your help table to your liking and also insert 
				special command directives. This in turn lets you create 
				different help for different users, more on that later. The
				<font color="#0000FF">Browse Existing Help Topics</font> button 
				opens a dialog that lets you see all of the Help topics that you 
				have created for your project, and easily link them to any given 
				help event. The <font color="#0000FF">Define Help Source</font> 
				opens the<font color="#0000FF"> Define Source for Help Text</font> 
				dialog. </font></p>
				<p>&nbsp;</p>
				<p><font size="2">When the Help ID dialog opens the<font color="#0000FF"> 
				Help Id:</font> textbox in the dialog will probably be blank. 
				You can use any string for the <font color="#0000FF">Help Id:</font> 
				the Id is there simply to identify the help text. If you type in 
				the Help Id: and then click <font color="#0000FF">Edit Help Text 
				for this Help Id</font>, you should get an error stating that 
				you have not yet defined the <font color="#0000FF">Help Source</font>.</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left"><b>Creating a Help ID:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Type a string into the <font color="#0000FF">Help Id:</font> 
	text-box.</p>
	<p align="left">2. Click <font color="#0000FF">Define Help Source</font>, 
	define the table you will use for your help (see <a href="#Help Source">Help Source</a>).</p>
	<p align="left">3. Add Text to your Help Id by clicking
	<font color="#0000FF">Edit Help Text for this Help Id</font>. (see <a href="#Edit Help Text">Edit Help 
	Text</a>)</p>
	<p align="left">4. Alternatively, add an existing help topic by clicking the
	<font color="#0000FF">Browse Existing Help Topics</font> button.</p>
	<p align="left">5. Click <font color="#0000FF"><u>O</u>K</font>.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_HelpID.png" width="686" height="289"></p>
	<p align="center"><u>The Help ID</u></p>
	<p align="center">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDEAC4" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2"><b>Note:</b> When you click on the
				<font color="#0000FF">Help Window</font> property that opens the
				<font color="#0000FF">Help ID</font>, additional Help properties 
				become available under Help ID. <font color="#0000FF">Help 
				button icon</font> gives you the ability to change the help 
				icon. Unless stated otherwise, the help icon normally appears as 
				a standard question mark
				<img border="0" src="images/B_icon.png" width="14" height="14"> 
				on your components. You can load the help icon you want to use 
				by clicking on the button
				<img border="0" src="images/button.png" width="15" height="14"> 
				and opening the <font color="#0000FF">Specify Image</font> 
				dialog, where you can enter the URL, built-in image, file path, 
				or CSS icon of your choosing. Another useful property that opens 
				along with Help ID is the <font color="#0000FF">Help button 
				bubble help</font> property. </font></p>
				<p>&nbsp;</p>
				<p align="center">
				<img border="0" src="images/B_bubble2.png" width="440" height="36"></p>
				<p>&nbsp;</p>
				<p><font size="2">This is the text that appears when you hover 
				over the help icon. </font></p>
				<p align="center">
				<img border="0" src="images/B_bubblehelp.png" width="132" height="67"></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="left"><h2><a name="Help Source">Help Source</a> </h2></p>
	<p align="center">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The <font color="#0000FF">Help Source</font> 
				is the table where your help text is defined. You can use either
				<font color="#0000FF">DBF</font> or <font color="#0000FF">SQL</font> 
				tables for your help definition. The <font color="#0000FF">Define Source for 
				Help Text</font> dialog is&nbsp; accessible directly from the
				<font color="#0000FF">HelpID</font> property dialog when you 
				click the <font color="#0000FF">Define Help Source</font> 
				button. You can access the Help Source in the <font color="#0000FF">UX Builder</font> go to the
				<font color="#0000FF">Design</font> tab. In the Design page menu 
				click on UX <font color="#0000FF">Properties</font>. Scroll down 
				the properties list until you get to the '<font color="#0000FF">Other</font>' 
				properties list. In the Other properties list find the
				<font color="#0000FF">Help Table definition</font> property and 
				click on the button
				<img border="0" src="images/button.png" width="15" height="14"> 
				at the end of the row. This will load the <font color="#0000FF">
				Define Source for Help Text</font> dialog. </font></p>
				<p>&nbsp;</p>
				<p><font size="2">To get to the same place in the
				<font color="#0000FF">Grid Builder</font> go first to the
				<font color="#0000FF">Design</font> tab. Under the Design menu 
				tree find <font color="#0000FF">Grid</font> and
				then
				<font color="#0000FF">Properties</font>. Click on Properties and 
				scroll down the Properties list until you get to
				<font color="#0000FF">Miscellaneous</font> properties. You will 
				find the <font color="#0000FF">Help Table definition</font> 
				listed here. Click the button
				<img border="0" src="images/button.png" width="15" height="14"> 
				at the end of the row to open the <font color="#0000FF">Define 
				Source for Help Text</font> dialog.</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">
<b>Define a Help Source:</b><p align="left">
&nbsp;<p align="left">
1.&nbsp; Open the <font color="#0000FF">Define Source for Help Text</font> 
Dialog.<p align="center">
<img border="0" src="images/use_project_help_table2.png" width="578" height="238"><p align="center">
<u>The Help Source</u><p align="left">
2.&nbsp; Type a string into the <font color="#0000FF">Help Id:</font> text box<p align="left">
3.&nbsp; Click<font color="#0000FF"> Define Help Source</font>.<p align="left">
4.&nbsp; If you don't want to use a globally defined help table leave
<font color="#0000FF">Use project help table</font> unchecked.<p align="left">
5.&nbsp; If you want Alpha Anywhere to <font color="#0000FF">Create a Help Table</font> 
for you click the Create Help Table button at the bottom of the screen.<p align="left">
&nbsp;<p align="center">
<img border="0" src="images/B_Createhelp.png" width="527" height="121"><p align="center">
<u>The Create Help Table Button</u><p align="center">
&nbsp;<p align="left">6.&nbsp; Alternatively, use the dropdown button to select 
	either a DBF or SQL table for your <font color="#0000FF">Table Type</font>. 
	With SQL you will also need to define a <font color="#0000FF">Connection 
	String</font>.<p align="left">
&nbsp;<p align="left">
7.&nbsp; Click the Button
<img border="0" src="images/button.png" width="15" height="14"> next to
<font color="#0000FF">Table name</font> to choose a help table from existing 
tables in your project.<p align="left">
8.&nbsp; Click the Button
<img border="0" src="images/button.png" width="15" height="14"> next to
<font color="#0000FF">ID field</font> to select an ID field from existing fields 
in the table you selected.<p align="left">
9.&nbsp; Click the Button
<img border="0" src="images/button.png" width="15" height="14"> next to<font color="#0000FF"> 
Help text field</font> to select a helptext field from the table you selected 
for you help.<p align="left">
10. Click <font color="#0000FF"><u>O</u>K</font>.<p align="left">
&nbsp;<p align="center">
&nbsp;<p align="left">
<b><a name="Make a global project-level HelpTopics table">Make a global project-level HelpTopics table:</a></b><p>&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium"><blockquote>
				<p align="left">&nbsp;</p>
				<p align="left"><font size="2">In Alpha Anywhere you can define 
				either a global project-level HelpTopics table or custom help topics 
				tables for each component that you create. The global 
				project-level HelpTopics table can be set in the
				<font color="#0000FF">Project Properties</font> page in the
				<font color="#0000FF">Web Project Control Panel</font>. In the<font color="#0000FF"> 
				Define Source for Help Text</font> dialog, you can check 
				<font color="#0000FF"><strong style="font-weight: 400">Use project help table</strong></font> 
				to use a global project-level HelpTopics table, or uncheck this 
				box to define a different help table. </font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">
<b>Procedure:</b><p align="left">
&nbsp;<p align="left">
1. Set the global project-level HelpTopics table in Web <font color="#0000FF">
Project Properties</font><p align="left">
2. Check the <font color="#0000FF">Use project help table</font> checkbox in the
<font color="#0000FF">Define Source for Help Text</font> dialog.<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p align="center">

	<img border="0" src="images/help_table_settings2.png" width="836" height="219"></p>
	<p>&nbsp;</p>
	<p align="center">
<br />

	<img border="0" src="images/define_help_table2.png" width="666" height="229"></p>
	<p align="left">
<br />
	<p align="left">
	&nbsp;</p>
	<p align="left">
	&nbsp;</p>
	<p align="left">
	&nbsp;</p>
	<p align="left">
	&nbsp;</p>
	
	<p><h2><a name="Edit Help Text">Edit Help Text</a></h2></p>
	<p align="left">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The Edit Help Text dialog allows you to enter 
				the HTML text that will be used in your help. You can access the 
				HTML editor from this dialog simply by clicking the </font>
				<font size="2" color="#0000FF">Edit in HTML Editor</font><font size="2"> 
				button at the bottom of the screen. This makes it easy to add 
				images, change the text of your document, add hyperlinks, 
				control the justification on text, and change the font type, 
				color, and size. The Edit Help Text dialog also has a second 
				more powerful feature. Namely, it lets you add directives to 
				your help text. This makes it possible to create different help 
				text for different users. For example, you can switch between 
				different languages in your help simply by activating a Language 
				Directive. You can also create Conditional directives that 
				require a condition you set to be true before a user can access 
				a certain help text. Alpha Anywhere allows you nest these 
				conditional directive one inside another. </font></p>
			</blockquote>
			<p>&nbsp;</p>
			<p align="center">
			<img border="0" src="images/B_HelpText.png" width="478" height="450"><p align="center">&nbsp;</td>
		</tr>
	</table>
	<p align="left"><b>Create a Help Text:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Open the<font color="#0000FF"> Help ID</font> dialog. 
	Create a string for the <font color="#0000FF">Help Id:</font> textbox and 
	define you <font color="#0000FF">Help Source</font>.</p>
	<p align="left">2. Click the <font color="#0000FF">Edit Help Text for this 
	Help Id</font> button. </p>
	<p align="left">3. The <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog will open. Fill in any HTML you wish to appear in your help.</p>
	<p align="center">
	<img border="0" src="images/B_HelpHTML.png" width="546" height="167"></p>
	<p align="center"><u>Add text to your help with HTML</u></p>
	<p align="center">&nbsp;</p>
	<p align="left">4. Optionally, open the HTML Editor by pressing the
	<font color="#0000FF">Edit in HTML Editor</font> button.</p>
	<p align="left">5. Optionally, add special command directives to make your 
	help more dynamic by clicking the <font color="#0000FF">Insert</font> 
	button.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_Edit%20Insert.png" width="342" height="166"></p>
	<p align="center"><u>Insert adds Command Directives</u></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<h2><a name="Special Command Directives">Special Command Directives</a></h2>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">When you create the HTML help for a help 
				topic, you can include the following directives in the text. 
				</font></p>
				<blockquote>
					<p><font size="2">{LanguageStart:<i>language name</i>}</font></p>
					<p><font size="2">{LanguageEnd}</font></p>
					<p><font size="2">{WindowTitle: <i>title text</i>}</font></p>
					<p><font size="2">{WindowSize: <i>width, height</i>}</font></p>
					<p><font size="2">{ConditionStart: <i>condition ID: logical 
					expression</i>}</font></p>
					<p><font size="2">{ConditionEnd: <i>condition ID</i>}</font></p>
					<p><font size="2">{ExecuteFunction: <i>function name</i>}</font></p>
				</blockquote>
				<p><font size="2">These directives let you define parts of your 
				help system that can be turned on or off as needed. For example, 
				by setting a <font color="#0000FF">Language</font> directive to 
				be active, you can make your Help System access text that only 
				pertains to that directive. This gives you the ability to swap 
				out different languages in your help system. The
				<font color="#0000FF">WindowSize</font> directive lets you 
				override the size of your help window. If you define a Window 
				Size directive inside a Language directive, then when the 
				Language Directive is active that WindowSize directive will also 
				be active. </font></p>
				<p>&nbsp;</p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left"><b><font size="2">
	
	<a name="{WindowTitle: <i>title text</i>}">{WindowTitle: <i>title text</i>}</a></font></b></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">This directive takes control of the window 
				title for a help window. You can nest WindowTitle directives 
				inside other directives and thereby change the title of the 
				window depending on which directive is active. Here is how you 
				create a Window Title directive...</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left"><b>Add a Window Title Directive:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Open the <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog.</p>
	<p align="left">2. <font size="2">click the <font color="#0000FF">Insert</font> 
	button and choose the directive you want from the drop-down menu, this 
	example uses <font color="#0000FF">Window title</font>.</font></p>
	<p align="left"><font size="2">&nbsp;</font></p>
	<p align="center">
	<img border="0" src="images/B_directives.png" width="345" height="152"></p>
	<p align="center"><u>Directive Menu</u></p>
	<p align="left">3. Replace the default entry in the directive with relevant 
	data. In this case enter a new title.</p>
	<p align="left">&nbsp;</p>
	<p align="center">Before:&nbsp;&nbsp;
	<img border="0" src="images/B_windowtitle.png" width="324" height="18"></p>
	<p align="left">&nbsp;&nbsp;
	</p>
	<p align="center">After:&nbsp;&nbsp;&nbsp;&nbsp;
	<img border="0" src="images/B_helpapps.png" width="316" height="17"><br />
	</p>
	<p align="left">&nbsp;</p>
	<p align="left">4. Click <font color="#0000FF">Save</font>. If you go to
	<font color="#0000FF">Working Preview</font> you should see a Window Title 
	in your help dialog when you load it.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_WindowDir.png" width="171" height="105"></p>
	<p align="center"><u>Window Title</u></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
					<p><b><font size="2">
					
					<a name="{WindowSize: <i>width, height</i>}">{WindowSize: <i>width, height</i>}</a></font></b></p>
	<p>&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The <font color="#0000FF">Window Size</font> 
				directive allows you to override the default window size and set 
				a custom window size. Use CSS syntax for the size. Specify width 
				and height. Example: {WindowSize: 6in,3in}</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left"><b>Add a Window Size Directive:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Open the <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog.</p>
	<p align="left">2. C<font size="2">lick the <font color="#0000FF">Insert</font> 
	button and choose the <font color="#0000FF">Window size</font> directive.</font></p>
	<p align="left"><font size="2">3. Replace the filler text in the directive 
	with the <font color="#0000FF">Width</font> and <font color="#0000FF">Height</font> 
	you want. </font></p>
	<blockquote>
		<p align="left">Before:&nbsp;&nbsp;
		<img border="0" src="images/B_windowsize1.png" width="375" height="19"></p>
		<p align="left">After:&nbsp;&nbsp;&nbsp;&nbsp;
		<img border="0" src="images/B_windowsize2.png" width="183" height="18"></p>
	</blockquote>
	<p align="left">4 Click <font color="#0000FF"><u>O</u>K</font>, and
	<font color="#0000FF"><u>O</u>K </font>again, and <font color="#0000FF">Save</font>. 
	Go to the <font color="#0000FF">Working Preview</font> to see your new Help 
	dialog.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_windowsizeex.png" width="593" height="335"></p>
	<p align="center"><u>A 6&quot; Wide by 3&quot; Tall Help Created with a Window Size 
	Directive</u></p>
	<p align="left">&nbsp;</p>
					<p>&nbsp;</p>
	<p><b><font size="2">
	<h2><a name="Language Directives">Language Directives</a></h2>
					<p><a name="Language Start">{LanguageStart:<i>language name</i>} and {LanguageEnd}</a></p>
	<p>&nbsp;</p></font></b></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The language command directive helps create 
				very dynamic help systems that function in different languages. 
				A language command directive begins with a <font color="#0000FF">
				Language directive -Start</font> tag and ends with the<font color="#0000FF"> 
				Language directive - End</font> tag. All the information between 
				these two language tags will be used in your help system when that language is active. If there is text outside 
				a language directive than this text will be used as the default 
				help text. The default help text will be used if no 
	language is set to active or if the active language is set to &lt;Default&gt;. It 
				is possible to place additional directive 
				tags within your language tags, they will activate when that 
				language tag is active. For example, you can place a 
				<font color="#0000FF">Window 
				title</font> directive inside a <font color="#0000FF">Language directive
				</font>that will work when that language directive is active. In the
				<font color="#0000FF">Grid Builder</font>, the active language 
				can be set from the <font color="#0000FF">Server-Side Events</font> 
				page under <font color="#0000FF">Code</font>. Go to this page 
				and under <font color="#0000FF">OnGridExecute</font> you can add 
				the required code to activate the language you want. You can use
				<font color="#0000FF">e.tmpl.ActiveLanguage = &quot;</font>French<font color="#0000FF">&quot;</font> 
				or, if you want a special protected session variable,<font color="#0000FF"> 
				session._protected._activeLanguage = &quot;</font>French<font color="#0000FF">&quot;</font> 
				to activate your language directive (in this case French). You 
				can also set this property in the 'Override Settings' in the A5W 
				page that loads you component. </font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p align="left"><b>Add a Language Directive </b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Open the <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog.</p>
	<p align="left">2. C<font size="2">lick the <font color="#0000FF">Insert</font> 
	button and choose the <font color="#0000FF">Language directive - Start</font>.</font></p>
	<p align="left"><font size="2">3. The {LanguageStart:Enter_Language_Name_Here} 
	directive will appear in the <font color="#0000FF">&quot;Edit Help Text - Help 
	Topic ID&quot;</font> Dialog</font></p>
	<p align="left"><font size="2">4. Delete the filler text in the directive 
	and replace it with the name of the language you want to use. For example {LanguageStart:French}</font></p>
	<p align="left"><font size="2">5. Click <font color="#0000FF">Insert</font> a second time and select
	<font color="#0000FF">Language directive - End</font>. Your code should look 
	something like this. </font></p>
	<p align="center">
	<img border="0" src="images/B_Lang1.png" width="236" height="67"></p>
	<p align="left"><font size="2">6. Everything inside these two language tags 
	will be used when this language is active. Fill in the <font color="#0000FF">
	HTML</font> and <font color="#0000FF">directives</font> that you want to 
	use.</font></p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_Lang3.png" width="757" height="231"></p>
	<p align="center"><u>The French Language Directive</u></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font size="2">7. Now you need to activate the Language 
	Directive. Go to the <font color="#0000FF">Design</font> page menu and under
	<font color="#0000FF">Code</font> select the <font color="#0000FF">
	Server-Side Events</font> page.</font></p>
	<p align="left"><font size="2">8. From the list of Server-Side Events select
	<font color="#0000FF">OnGridExecute</font>, it should be near the top of the 
	list.</font></p>
	<p align="left"><font size="2">9. Copy and paste the following code into the 
	OnGridExecute code displayed. If you identified a different language in
	<font color="#0000FF">{LanguageStart:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }</font> 
	then use that instead of French. </font></p>
	<p align="left">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#F4F4DF" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p>
				<font color="#333300" size="2">e.tmpl.ActiveLanguage = &quot;</font><font size="2">French</font><font color="#333300" size="2">&quot;</font></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left"><font size="2">8. Go to the <font color="#0000FF">Working Preview</font> and see the 
	result. </font></p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_Lang2.png" width="407" height="287"></p>
	<p align="center"><u>Success!</u></p>
	<p align="left">&nbsp;</p>
	<h2><a name="Conditional Directives">Conditional Directives</a></h2></p>
					<p><b><font size="2">
					
	<a name="{ConditionStart: <i>condition ID: logical expression</i>} and {ConditionEnd: <i>condition ID</i>}">{ConditionStart: <i>condition ID: logical expression</i>} and {ConditionEnd: <i>condition ID</i>}</a></font></b></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">Like language directives, conditional 
				directives can also be used to create highly dynamic help systems. 
				They can, for example, be used to display entirely different 
				help pages for someone who logs on to an application as an administrator versus someone who is in a managerial role. 
				As with the Language Directive the Conditional Directive has 
				both a <font color="#0000FF">ConditionStart</font> and
				<font color="#0000FF">ConditionEnd</font> tag. Unlike the 
				Language Directive, the <font color="#0000FF">ConditionEnd</font> 
				tag must have the <i><u>same id</u></i> as the
				<font color="#0000FF">ConditionStart</font> tag. This feature 
				gives you the ability to nest Condition Clauses is very powerful 
				ways. </font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left"><b>Add a Conditional Directive:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Go to<font color="#0000FF"> </font>the
	<font color="#0000FF">Grid &gt; Properties </font>page, find the
	<font color="#0000FF">Record Navigation/ Grid Toolbar</font> properties. </p>
	<p align="left">2. Check the <font color="#0000FF">Help Window </font>box 
	and open the <font color="#0000FF">Help ID</font> property with the row 
	button <img border="0" src="images/button.png" width="15" height="14">.</p>
	<p align="left">3. Click the <font color="#0000FF">Edit Help Text for this 
	Help Id</font> button and open the <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog. </p>
	<p align="left">4. C<font size="2">lick the <font color="#0000FF">Insert</font> 
	button and choose the <font color="#0000FF">Conditional section - Start</font> 
	tag. Click on it to insert it in the dialog.</font></p>
	<p align="center">
	<img border="0" src="images/B_conditionstart.png" width="347" height="181"></p>
	<p align="left"><font size="2">3. In the dialog, replace the filler text '<font color="#0000FF">Enter_Condition_Id</font>' 
	in Condition section - Start<font color="#0000FF"> </font>tag with a unique id 
	like 'c1' or any arbitrary string.</font></p>
	<p align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	Before:
	<img border="0" src="images/B_conditionstart2.png" width="524" height="35"></p>
	<p align="center">&nbsp;After:&nbsp;&nbsp;
	<img border="0" src="images/B_conditionstart3.png" width="406" height="34"></p>
	<p align="center">&nbsp;</p>
	<p align="left"><font size="2">4. Replace the <font color="#0000FF">'Enter_condition_Expression'
	</font>filler text in Condition section - Start with a condition to be 
	tested, like session.var1=&quot;alpha&quot;</font></p>
	<p align="center"><font size="2">Before:&nbsp;
	<img border="0" src="images/B_conditionstart3.png" width="406" height="34"></font></p>
	<p align="center"><font size="2">After:&nbsp;&nbsp;&nbsp;
	<img border="0" src="images/B_conditionstart4.png" width="358" height="37">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font size="2">5. Add the help text, images, hrefs, ect... 
	that you want to be displayed when the condition above is met.</font></p>
	<p align="left"><font size="2">6. Click the Insert button again and select 
	the <font color="#0000FF">Conditional section - End</font> tag.</font></p>
	<p align="left"><font size="2">7. Replace the filler text '<font color="#0000FF">Enter_Condition_Id</font>' 
	in the <font color="#0000FF">Conditional section - End</font> tag with the 
	same id you entered for the <font color="#0000FF">Conditional section - 
	Start</font> tag.</font></p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_HTMLconditional.png" width="791" height="281"></p>
	<p align="center">&nbsp;</p>
	<p align="center">&nbsp;</p>
	<p align="left"><font size="2">8. Click <font color="#0000FF"><u>O</u>K</font> 
	to exit the </font> <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	dialog. Click <font color="#0000FF"><u>O</u>K</font> again to exit the Help 
	ID dialog.</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDEAC4" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2"><b>Note:</b> Since version 10 the security on 
				session variables has changed. As a result if you try to 
				activate the above code directly in your browser the Alpha 
				Server will likely throw a 400 Error message. You will therefore 
				need to use server-side Xbasic code to activate the Conditional 
				directives above. There are multiple ways to go about doing 
				this. The instructions below show how this can be done using an 
				Action Button.</font><p>&nbsp;</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left"><b>Activate a Conditional Directive with an Action Button:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">9. Now that you have defined a Conditional directive you 
	need a way to activate it. In your <font color="#0000FF">Properties</font> 
	list, scroll down to <font color="#0000FF">Action Buttons</font> and click 
	the button <img border="0" src="images/button.png" width="15" height="14">.</p>
	<p align="left">10. The <font color="#0000FF">Action Button Editor</font> 
	will open. Give your Action button a <font color="#0000FF">Name</font> 
	property, use the name SETGROUP</p>
	<p align="left">11. Under the <font color="#0000FF">Button Action</font> 
	property click the <font color="#0000FF">Javascript</font> property button
	<img border="0" src="images/button.png" width="15" height="14">.</p>
	<p align="center">
	<img border="0" src="images/B_button%20action.png" width="503" height="38"></p>
	<p align="left">12. The <font color="#0000FF">Edit OnClick Event</font> 
	dialog will appear. Click the <font color="#0000FF">Add New Action</font> 
	button.</p>
	<p align="left">13. In the <font color="#0000FF">Action Javascript - Select 
	an Action</font> dialog, scroll down the <font color="#0000FF">Actions</font> 
	list on the Right and click on <font color="#0000FF">Ajax Callback</font>.</p>
	<p align="left">14. Click <font color="#0000FF"><u>O</u>K</font>.</p>
	<p align="left">15. The <font color="#0000FF">Action Javascript - Ajax 
	Callback Action</font> dialog will open. Under the <font color="#0000FF">
	Function Name</font> property type setGroup. Click <font color="#0000FF"><u>
	O</u>K</font> and <font color="#0000FF">Save</font>.</p>
	<p align="center">
	<img border="0" src="images/B_AjaxCallback.png" width="525" height="274"></p>
	<p align="center">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">16. Under the <font color="#0000FF">Button Appearance</font> 
	properties write 'Set Group' next to the<font color="#0000FF"> Button text</font> 
	property.</p>
	<p align="left">17. Click <font color="#0000FF"><u>O</u>K</font> to close 
	the Action Javascript Editor.</p>
	<p align="left">18. In the <font color="#0000FF">Grid&gt;Properties</font> page
	<font color="#0000FF">Properties</font> list Scroll down to the<font color="#0000FF"> 
	Freeform Edit Regions</font> properties. Click the button
	<img border="0" src="images/button.png" width="15" height="14"> to the right 
	of the <font color="#0000FF">Above grid</font> property.</p>
	<p align="left">19. In the <font color="#0000FF">Freeform Edit Regions</font> 
	dialog you should see a list of <font color="#0000FF">Available Placeholders</font> 
	with <font color="#0000FF">{ActionButton:SETGROUP}</font> at the top of the 
	list.</p>
	<p align="left">20. Double click on&nbsp; {ActionButton:SETGROUP} to add it 
	to the HTML on the right. This will make your action button visible. Click
	<font color="#0000FF"><u>O</u>K</font> to exit.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_setgroup.png" width="894" height="82"></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font size="2">21. Now to link the action button with the 
	Conditional directive. Go to the<font color="#0000FF"> Design</font> menu 
	and under <font color="#0000FF">Code</font> open the <font color="#0000FF">
	Xbasic Functions</font> page. Copy and paste the following code into the 
	Xbasic Functions page.</font></p>
	<p align="left">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#F4F4DF" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2" color="#333300">function setGroup as c(e as p)<br>
				session.var1 = &quot;alpha&quot;<br>
				end function</font></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left">22. Go to <font color="#0000FF">Live Preview</font>. Click<font color="#0000FF"> 
	Full Preview</font> in the drop-down that opens. When your grid opens click 
	on the Help icon. It will should load the default help.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_Empty.png" width="405" height="320"></p>
	<p align="center"><u>In this case the Default is empty</u></p>
	<p align="center">&nbsp;</p>
	<p align="left">23. Now close the <font color="#0000FF">Help</font> and 
	click the <font color="#0000FF">Set Group</font> action button that you 
	defined. Go back and open the <font color="#0000FF">Help</font> again. You 
	should see you Conditional Directive text.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_Shipping%20Errors.png" width="410" height="361"></p>
	<p align="center"><u>The Conditional Dialog</u></p>
	<p align="center">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDEAC4" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2"><b>Note:</b> If you go back to the Design tab, 
				open the Xbasic code Editor again and type <font color="#0000FF">
				session.var1=&quot;beta&quot;</font> in place of <font color="#0000FF">
				session.var1 = &quot;alpha&quot;</font> then the help window will again 
				appear empty if you click the <font color="#0000FF">Set Group</font> 
				button on your grid in the <font color="#0000FF">Live Preview</font>. 
				However, if you were to go back to the <font color="#0000FF">
				Help ID</font> and define an additional Conditional directive 
				called &quot;beta&quot;, then all of the text for this directive would be 
				loaded when you set <font color="#0000FF">session.var1=&quot;beta&quot;</font>.</font><p>&nbsp;</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left"><b><font size="2">
	
	<a name="{ExecuteFunction: <i>function name</i>}">{ExecuteFunction: <i>function name</i>}</a></font></b></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
				<p><br>
				<font size="2">UDFs, or User Defined Functions, can return the 
				result of a UDF as part of the text of the help window. This 
				example will show how to create a new function that will return 
				some dynamic text; that we would like to appear in the help 
				window.</font></p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p><b>Add an Execute Directive:</b></p>
	<p>&nbsp;</p>
	<p>1. In the Grid Builder, open the <font color="#0000FF">Design page</font> 
	and open the Grid <font color="#0000FF">Properties</font> page.</p>
	<p>2. Scroll down to the <font color="#0000FF">Miscellaneous</font> 
	properties and find the <font color="#0000FF">Xbasic function declarations</font> 
	property. </p>
	<p>3. Click the button
	<img border="0" src="images/button.png" width="15" height="14"> next to 
	Xbasic function declarations. </p>
	<p>4. In the <font color="#0000FF">Xbasic Function Declarations</font> 
	dialog that opens enter the following code.</p>
	<p>&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#F4F4DF" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p align="left"><font size="2" color="#333300">function myudf as c (e as p)</font></p>
				<p align="left"><font size="2" color="#333300">dim txt as c</font></p>
				<p align="left"><font size="2" color="#333300">txt = &quot;&lt;br&gt;&lt;b&gt;This is some dynamic text that was computed on 
	the server.&lt;/b&gt;&quot;</font></p>
				<p align="left"><font size="2" color="#333300">txt = txt + &quot;&lt;p&gt;The current date and time is: &quot;+ now() + 
	&quot;&lt;/p&gt;&quot;</font></p>
				<p align="left"><font size="2" color="#333300">myudf</font><font size="2" color="#333300"> = txt</font></p>
				<p align="left"><font size="2" color="#333300">end function</font></p>
			</blockquote>
	<p align="left">&nbsp;</p>
			</td>
		</tr>
	</table>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
				<p>&nbsp;</p>
				<p><font size="2"><b>Note:</b> This function has to have a prototype that takes e as an 
	argument so when this function executes this object e gets passed in and it 
	contains request.variables and session.variable, and useful information. 
				This udf will be called when the function text is fetched on the server.</font></p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p align="left">5. Go to<font color="#0000FF"> </font>the
	<font color="#0000FF">Grid &gt; Properties </font>page, find the
	<font color="#0000FF">Record Navigation/ Grid Toolbar</font> properties. </p>
	<p align="left">6. Check the <font color="#0000FF">Help Window </font>box 
	and open the <font color="#0000FF">Help ID</font> property with the row 
	button <img border="0" src="images/button.png" width="15" height="14">.</p>
	<p align="left">7. Click the <font color="#0000FF">Edit Help Text for this 
	Help Id</font> button and open the <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog. </p>
	<p align="left">8. C<font size="2">lick the <font color="#0000FF">Insert</font> 
	button and choose the <font color="#0000FF">Execute Function</font> 
	tag. Click on it to insert it in the dialog.</font></p>
	<p align="center">
	<img border="0" src="images/B_Execute%20Function.png" width="330" height="203"></p>
	<p align="center"><u>The Execute Function Directive</u></p>
	<p>&nbsp;</p>
	<p>9. In the <font color="#0000FF">Execute Function</font> tag in the 
	dialog, replace the filler text <font color="#0000FF">'enter_function_name'</font> 
	with the function you just defined called <font color="#0000FF">myudf</font>.</p>
	<p>&nbsp;</p>
	<p align="center">Before:&nbsp;&nbsp;
	<img border="0" src="images/B_myudf1.png" width="331" height="24"></p>
	<p align="center">After:&nbsp;&nbsp;
	<img border="0" src="images/B_myudf2.png" width="219" height="20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
	<p>&nbsp;</p>
	<p>10. Now go to <font color="#0000FF">Working Preview</font> tab or the
	<font color="#0000FF">Live Preview</font> tab (using <font color="#0000FF">
	Full Preview</font> from the drop-down) and click on one of your
	<font color="#0000FF">Help</font> icons. When the help window is displayed 
	you will see the directive has been replaced by the result of the call to 
	the myudf function. You should see something like this...</p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_myudf3.png" width="417" height="310"></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">Custom help feature pack to add custom help systems. Add a 
	button to bring up a help page for a grid or help for individual fields that 
	can be accessed through F1 key.</p>
	<p align="left">&nbsp;</p>
	<p align="left">
	
	<h2><a name="Custom Help Windows in Action Javascript">Custom Help Windows in Action Javascript</a></h2>
	<p>&nbsp;</p></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
&nbsp;<p>&nbsp;</p>
				<p><font size="2">It is fairly straightforward to build help 
				windows using action javascript. In this case you can access the
				<font color="#0000FF">Help Id</font> property through the 
				Javascript events listed in the <font color="#0000FF">Field 
				Properties</font> on the <font color="#0000FF">Grid &gt; Fields</font> 
				page of the <font color="#0000FF">Grid Builder</font>.</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left"><b>Using Action Javascript in a Help page:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. On the<font color="#0000FF"> Design</font> tab menu go to 
	the <font color="#0000FF">Grid</font> list and click to open the
	<font color="#0000FF">Fields</font> page</p>
	<p align="left">2. Click the <u><font color="#0000FF">Insert...</font></u> 
	text at the bottom of the Fields page. The Insert Special Control dialog 
	will open</p>
	<p align="left">3. Click on <font color="#0000FF">[Button]</font> and a 
	button control will be added to your list. </p>
	<p align="center">
	<img border="0" src="images/B_buttoncontrol.png" width="479" height="80"></p>
	<p align="left">4. In the <font color="#0000FF">Field Properties</font> list 
	on the right go to <font color="#0000FF">Button Properties</font> and in the
	<font color="#0000FF">Button label</font> property row write 'Show a Help 
	Topic'</p>
	<p align="left">5. Go down the <font color="#0000FF">Field Properties</font> 
	list to the <font color="#0000FF">Javascript</font> properties. Select the
	<font color="#0000FF">onClick</font> event property and click the button
	<img border="0" src="images/button.png" width="15" height="14"> next to it.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_onClick.png" width="399" height="126"></p>
	<p align="center">&nbsp;</p>
	<p align="left">6. The <font color="#0000FF">Edit onClick </font>Dialog will 
	load. In the toolbar at the top of the dialog click the
	<font color="#0000FF">Add New Action</font> button.</p>
	<p align="left">7. The <font color="#0000FF">Action Javascript - Select an 
	Action</font> dialog will open. Scroll down the <font color="#0000FF">Action</font> 
	list on the right and select the <font color="#0000FF">Open a Help Window</font> 
	action.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_onpenahelp.png" width="781" height="82"></p>
	<p align="center">&nbsp;</p>
	<p align="left">8. The <font color="#0000FF">Action Javascript - Display 
	Help Topic in a Window</font> will open. </p>
	<p align="left">9. Under <font color="#0000FF">Window Properties</font>, go 
	to the <font color="#0000FF">Help ID</font> property and click the button
	<img border="0" src="images/button.png" width="15" height="14"> to open the 
	now familiar <font color="#0000FF">Help ID</font> dialog.</p>
	<p align="left">10. When the Help ID dialog opens place an id string in the
	<font color="#0000FF">Help Id:</font> textbox, like <i>HelpId1</i></p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_helpId1.png" width="628" height="124"></p>
	<p align="left">11. Click the <font color="#0000FF">Define Help Source</font> 
	button and create a <a href="#Help Source"><u>Help Source</u></a> for your 
	Help Id, if you don't already have one. The click on the
	<font color="#0000FF">Edit Help Text for this Help Id</font> button and 
	define some text for your help button.</p>
	<p align="center">
	<img border="0" src="images/B_editbutton.png" width="540" height="147"></p>
	<p align="left">12. Click <font color="#0000FF"><u>O</u>K</font> to close 
	and click <font color="#0000FF"><u>O</u>K</font> on the
	<font color="#0000FF">Help Id</font> dialog to exit it as well.</p>
	<p align="left">&nbsp;</p>
	<p align="left">13. Adjust the remaining <font color="#0000FF">Window 
	Properties</font> to shape your help window to your liking . Here you will 
	find the standard properties that you see in all windows in action 
	javascript. These properties let you set the type, size, and position of the 
	window. You can also specify javascript events that take place if the help 
	window gets moved, hidden, resized, and so forth.</p>
	<p align="left">&nbsp;</p>
	<p align="left">14. Close, go to <font color="#0000FF">Working Preview</font> and click on the 
	<font color="#0000FF">Show a 
	Help Topic</font> button you created.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_jshelp.png" width="539" height="206"></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	
	
	<h2><a name="Custom Help For Individual Fields">Custom Help For Individual Fields</a></h2>
	
	
	
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">So far this guide has mainly focused on 
				accessing <font color="#0000FF">Help ID</font> under the Grid &gt; 
				Properties menu. It should be noted , however, that you can add 
				help to individual fields as well as you overall grid. </font>&nbsp;</p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left"><b>Add a Help Window to an Individual Field:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Go to the Grid Builder's <font color="#0000FF">Design</font> 
	page and under <font color="#0000FF">Grid</font> click on
	<font color="#0000FF">Fields</font> to open the Fields page. </p>
	<p align="left">2. Add a field to the Fields page <font color="#0000FF">
	Selected</font> list. Then highlight that field.</p>
	<p align="center">
	<img border="0" src="images/B_OneField.png" width="464" height="88"></p>
	<p align="center"><u>Making a Help Window for the ContactTitle field</u></p>
	<p align="center">&nbsp;</p>
	<p align="left">3. With a field selected go to the Field Properties menu on 
	the Right and find the <font color="#0000FF">Display Settings</font> 
	properties.</p>
	<p align="left">4. Under Display Settings find the <font color="#0000FF">Has 
	Help</font> checkbox and check it. This will open the <font color="#0000FF">
	Help ID</font>. Click the button
	<img border="0" src="images/button.png" width="15" height="14"> to load the
	<font color="#0000FF"><a href="#HelpID">Help ID</a></font> dialog and edit 
	the field's Help.</p>
	<p align="left">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><b><font size="2">Note:</font></b><font size="2"> When you 
				open the <font color="#0000FF">Has Help</font> Window a
				<font color="#0000FF">Show Help icon</font> property also 
				appears. <font color="#808080">&nbsp;</font>If you choose the 
				default setting '<font color="#0000FF">None</font>' the only way 
				to bring up the help will be to press the <font color="#0000FF">
				F1</font> key. Test it out in <font color="#0000FF">Working view</font>. 
				In a desktop application it is fairly well understood that
				<font color="#0000FF">F1</font> brings up help.&nbsp; However, 
				in a web application this might be too subtle. You can make icon 
				visible by clicking the dropdown button next to the
				<font color="#0000FF">Show help icon</font> property and 
				selecting either the <font color="#0000FF">RightOfControl</font> 
				or <font color="#0000FF">LeftOfControl</font> option.</font></p>
				<p>&nbsp;</p>
				<p align="center">
				<img border="0" src="images/B_RightofControl.png" width="477" height="69"></p>
				<p align="center"><u><font size="2">Show help icon options</font></u></p>
				<p align="left">&nbsp;</p>
				<p align="left"><font size="2">Once the icon has been made 
				visible a property called <font color="#0000FF">Help icon 
				behavior</font> will appear underneath the <font color="#0000FF">
				Show help icon</font> property. This allows you to either show a 
				help window with either an <font color="#0000FF">OnClick</font> 
				event or a <font color="#0000FF">MouseOver</font> event. If set 
				to OnClick, when you click on the icon you will see the help.</font></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	
	
	<h2><a name="Videos">Videos</a></h2></p>
	<p align="left">&nbsp;</p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part1.swf">
	Help Tables Help Source&nbsp;&nbsp; video 1</a></p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part2.swf">
	Help Tables HelpId video 2</a></p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part3.swf">
	Help Tables video 3</a></p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part4.swf">
	Help Tables&nbsp; Language Directives video 4</a></p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part5.swf">
	Help Tables&nbsp; </a>
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part4.swf">
	UDFs</a>
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part5.swf">
	video 5</a></p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part6.swf">
	Help Tables </a>
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part5.swf">
	and Javascript actions</a><a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part6.swf">video 
	6</a></p>
	<p align="left">
<br />

	
	
	</p>

	
	
	</p>

	
	
	<hr class="hrwikibottom" /> 

	
	




	<!-- WIKIPATH:Help+Topics+for+Controls+-+Project+Help+Table+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"accept","keywords":"server,guide,component,sql,dbf"}--->
</body></html>