	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




			
		
		
		
		
	 

	
			<h1 class="showhide_heading" id="Help_Topics_for_Controls_-_Project_Help_Table">
			Creating Help for Components</h1>
	<p class="showhide_heading">
			&nbsp;</p>
	<b>
	<h2><a name="HelpID">HelpID</a></h2>
	</b>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The <font color="#0000FF">HelpID</font> is 
				what allows the help for an item in your component to be located 
				in the Help table. To find the <font color="#0000FF">HelpID</font> 
				in the <font color="#0000FF">UX Builder</font>, go to the
				<font color="#0000FF">Design</font> tab and in the Design menu 
				under UX click on <font color="#0000FF">Controls</font>. Select 
				a control that has been created for your project and the look at 
				the Controls page Properties list on the right. Find the
				<font color="#0000FF">Field Properties</font> section in the 
				Properties list and select the <font color="#0000FF">Has help</font> 
				property. The <font color="#0000FF">HelpID</font> will open 
				directly underneath the Has Help property.</font></p>
				<p>&nbsp;</p>
				<p><font size="2">In the <font color="#0000FF">Grid Builder</font> 
				you can find the HelpID in the <font color="#0000FF">Design</font> 
				tab by going to <font color="#0000FF">Grid</font>, under the 
				design page menu, and selecting the <font color="#0000FF">
				Properties </font>page. Scroll down the list of Properties to 
				the <font color="#0000FF">Record Navigator/Grid Toolbar</font> 
				properties list. Find the <font color="#0000FF">Help Window</font> 
				property and select it. The <font color="#0000FF">Help ID</font> 
				property will appear underneath Help Window. Note: If you have a 
				grid <font color="#0000FF">Search Part</font> or a Grid
				<font color="#0000FF">Detail Part</font> then you can define 
				help tables for those parts as well. In this case go to the
				<font color="#0000FF">Search &gt; Properties</font> page or the
				<font color="#0000FF">Detail View &gt; Properties</font> page and 
				find <font color="#0000FF">Help ID</font> listed there under 
				Search Options (for the Search Part) or Display Options (for the 
				Detail View Part).</font></p>
				<p>&nbsp;</p>
				<p><font size="2">Click the button
				<img border="0" src="images/button.png" width="15" height="14"> 
				next to the <font color="#0000FF">HelpID</font> property to open 
				the Help ID dialog box. The Help Id dialog links to several 
				powerful tool sets that make creating dynamic Help pages quite 
				easy. The <font color="#0000FF">Edit Help Text for this Help Id</font> 
				button opens a text editor for your help pages that lets you 
				shape the HTML in your help table to your liking and also insert 
				special command directives. This in turn lets you create 
				different help for different users, more on that later. The
				<font color="#0000FF">Browse Existing Help Topics</font> button 
				opens a dialog that lets you see all of the Help topics that you 
				have created for your project, and easily link them to any given 
				help event. The <font color="#0000FF">Define Help Source</font> 
				opens the<font color="#0000FF"> Define Source for Help Text</font> 
				dialog. </font></p>
				<p>&nbsp;</p>
				<p><font size="2">When the Help ID dialog opens the<font color="#0000FF"> 
				Help Id:</font> textbox in the dialog will probably be blank. 
				You can use any string for the <font color="#0000FF">Help Id:</font> 
				the Id is there simply to identify the help text. If you type in 
				the Help Id: and then click <font color="#0000FF">Edit Help Text 
				for this Help Id</font>, you should get an error stating that 
				you have not yet defined the <font color="#0000FF">Help Source</font>.</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left"><b>Creating a Help ID:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Type a string into the <font color="#0000FF">Help Id:</font> 
	text-box.</p>
	<p align="left">2. Click <font color="#0000FF">Define Help Source</font>, 
	define the table you will use for your help (see <a href="#Help Source">Help Source</a>).</p>
	<p align="left">3. Add Text to your Help Id by clicking
	<font color="#0000FF">Edit Help Text for this Help Id</font>. (see <a href="#Edit Help Text">Edit Help 
	Text</a>)</p>
	<p align="left">4. Alternatively, add an existing help topic by clicking the
	<font color="#0000FF">Browse Existing Help Topics</font> button.</p>
	<p align="left">5. Click <font color="#0000FF"><u>O</u>K</font>.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_HelpID.png" width="686" height="289"></p>
	<p align="center"><u>The Help ID</u></p>
	<p align="center">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDEAC4" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2"><b>Note:</b> When you click on the
				<font color="#0000FF">Help Window</font> property that opens the
				<font color="#0000FF">Help ID</font>, additional Help properties 
				become available under Help ID. <font color="#0000FF">Help 
				button icon</font> gives you the ability to change the help 
				icon. Unless stated otherwise, the help icon normally appears as 
				a standard question mark
				<img border="0" src="images/B_icon.png" width="14" height="14"> 
				on your components. You can load the help icon you want to use 
				by clicking on the button
				<img border="0" src="images/button.png" width="15" height="14"> 
				and opening the <font color="#0000FF">Specify Image</font> 
				dialog, where you can enter the URL, built-in image, file path, 
				or CSS icon of your choosing. Another useful property that opens 
				along with Help ID is the <font color="#0000FF">Help button 
				bubble help</font> property. </font></p>
				<p>&nbsp;</p>
				<p align="center">
				<img border="0" src="images/B_bubble2.png" width="440" height="36"></p>
				<p>&nbsp;</p>
				<p><font size="2">This is the text that appears when you hover 
				over the help icon. </font></p>
				<p align="center">
				<img border="0" src="images/B_bubblehelp.png" width="132" height="67"></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="left"><h2><a name="Help Source">Help Source</a> </h2></p>
	<p align="center">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The <font color="#0000FF">Help Source</font> 
				is the table where your help text is defined. You can use either
				<font color="#0000FF">DBF</font> or <font color="#0000FF">SQL</font> 
				tables for your help definition. The <font color="#0000FF">Define Source for 
				Help Text</font> dialog is&nbsp; accessible directly from the
				<font color="#0000FF">HelpID</font> property dialog when you 
				click the <font color="#0000FF">Define Help Source</font> 
				button. You can access the Help Source in the <font color="#0000FF">UX Builder</font> go to the
				<font color="#0000FF">Design</font> tab. In the Design page menu 
				click on UX <font color="#0000FF">Properties</font>. Scroll down 
				the properties list until you get to the '<font color="#0000FF">Other</font>' 
				properties list. In the Other properties list find the
				<font color="#0000FF">Help Table definition</font> property and 
				click on the button
				<img border="0" src="images/button.png" width="15" height="14"> 
				at the end of the row. This will load the <font color="#0000FF">
				Define Source for Help Text</font> dialog. </font></p>
				<p>&nbsp;</p>
				<p><font size="2">To get to the same place in the
				<font color="#0000FF">Grid Builder</font> go first to the
				<font color="#0000FF">Design</font> tab. Under the Design menu 
				tree find <font color="#0000FF">Grid</font> and
				then
				<font color="#0000FF">Properties</font>. Click on Properties and 
				scroll down the Properties list until you get to
				<font color="#0000FF">Miscellaneous</font> properties. You will 
				find the <font color="#0000FF">Help Table definition</font> 
				listed here. Click the button
				<img border="0" src="images/button.png" width="15" height="14"> 
				at the end of the row to open the <font color="#0000FF">Define 
				Source for Help Text</font> dialog.</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">
<b>Define a Help Source:</b><p align="left">
&nbsp;<p align="left">
1.&nbsp; Open the <font color="#0000FF">Define Source for Help Text</font> 
Dialog.<p align="center">
<img border="0" src="images/use_project_help_table2.png" width="578" height="238"><p align="center">
<u>The Help Source</u><p align="left">
2.&nbsp; Type a string into the <font color="#0000FF">Help Id:</font> text box<p align="left">
3.&nbsp; Click<font color="#0000FF"> Define Help Source</font>.<p align="left">
4.&nbsp; If you don't want to use a globally defined help table leave
<font color="#0000FF">Use project help table</font> unchecked.<p align="left">
5.&nbsp; If you want Alpha Anywhere to <font color="#0000FF">Create a Help Table</font> 
for you click the Create Help Table button at the bottom of the screen.<p align="left">
&nbsp;<p align="center">
<img border="0" src="images/B_Createhelp.png" width="527" height="121"><p align="center">
<u>The Create Help Table Button</u><p align="center">
&nbsp;<p align="left">6.&nbsp; Alternatively, use the dropdown button to select 
	either a DBF or SQL table for your <font color="#0000FF">Table Type</font>. 
	With SQL you will also need to define a <font color="#0000FF">Connection 
	String</font>.<p align="left">
&nbsp;<p align="left">
7.&nbsp; Click the Button
<img border="0" src="images/button.png" width="15" height="14"> next to
<font color="#0000FF">Table name</font> to choose a help table from existing 
tables in your project.<p align="left">
8.&nbsp; Click the Button
<img border="0" src="images/button.png" width="15" height="14"> next to
<font color="#0000FF">ID field</font> to select an ID field from existing fields 
in the table you selected.<p align="left">
9.&nbsp; Click the Button
<img border="0" src="images/button.png" width="15" height="14"> next to<font color="#0000FF"> 
Help text field</font> to select a helptext field from the table you selected 
for you help.<p align="left">
10. Click <font color="#0000FF"><u>O</u>K</font>.<p align="left">
&nbsp;<p align="center">
&nbsp;<p align="left">
<b><a name="Global">Make a global project-level HelpTopics table:</a></b><p>&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium"><blockquote>
				<p align="left">&nbsp;</p>
				<p align="left"><font size="2">In Alpha Anywhere you can define 
				either a global project-level HelpTopics table or custom help topics 
				tables for each component that you create. The global 
				project-level HelpTopics table can be set in the
				<font color="#0000FF">Project Properties</font> page in the
				<font color="#0000FF">Web Project Control Panel</font>. In the<font color="#0000FF"> 
				Define Source for Help Text</font> dialog, you can check 
				<font color="#0000FF"><strong style="font-weight: 400">Use project help table</strong></font> 
				to use a global project-level HelpTopics table, or uncheck this 
				box to define a different help table. </font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">
<b>Procedure:</b><p align="left">
&nbsp;<p align="left">
1. Set the global project-level HelpTopics table in Web <font color="#0000FF">
Project Properties</font><p align="left">
2. Check the <font color="#0000FF">Use project help table</font> checkbox in the
<font color="#0000FF">Define Source for Help Text</font> dialog.<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p align="center">

	<img border="0" src="images/help_table_settings2.png" width="836" height="219"></p>
	<p>&nbsp;</p>
	<p align="center">
<br />

	<img border="0" src="images/define_help_table2.png" width="666" height="229"></p>
	<p align="left">
<br />
	<p align="left">
	&nbsp;</p>
	<p align="left">
	&nbsp;</p>
	<p align="left">
	&nbsp;</p>
	<p align="left">
	&nbsp;</p>
	
	<p><h2><a name="Edit Help Text">Edit Help Text</a></h2></p>
	<p align="left">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The Edit Help Text dialog allows you to enter 
				the HTML text that will be used in your help. You can access the 
				HTML editor from this dialog simply by clicking the </font>
				<font size="2" color="#0000FF">Edit in HTML Editor</font><font size="2"> 
				button at the bottom of the screen. This makes it easy to add 
				images, change the text of your document, add hyperlinks, 
				control the justification on text, and change the font type, 
				color, and size. The Edit Help Text dialog also has a second 
				more powerful feature. Namely, it lets you add directives to 
				your help text. This makes it possible to create different help 
				text for different users. For example, you can switch between 
				different languages in your help simply by activating a Language 
				Directive. You can also create Conditional directives that 
				require a condition you set to be true before a user can access 
				a certain help text. Alpha Anywhere allows you nest these 
				conditional directive one inside another. </font></p>
			</blockquote>
			<p>&nbsp;</p>
			<p align="center">
			<img border="0" src="images/B_HelpText.png" width="478" height="450"><p align="center">&nbsp;</td>
		</tr>
	</table>
	<p align="left"><b>Create a Help Text:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Open the<font color="#0000FF"> Help ID</font> dialog. 
	Create a string for the <font color="#0000FF">Help Id:</font> textbox and 
	define you <font color="#0000FF">Help Source</font>.</p>
	<p align="left">2. Click the <font color="#0000FF">Edit Help Text for this 
	Help Id</font> button. </p>
	<p align="left">3. The <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog will open. Fill in any HTML you wish to appear in your help.</p>
	<p align="center">
	<img border="0" src="images/B_HelpHTML.png" width="546" height="167"></p>
	<p align="center"><u>Add text to your help with HTML</u></p>
	<p align="center">&nbsp;</p>
	<p align="left">4. Optionally, open the HTML Editor by pressing the
	<font color="#0000FF">Edit in HTML Editor</font> button.</p>
	<p align="left">5. Optionally, add special command directives to make your 
	help more dynamic by clicking the <font color="#0000FF">Insert</font> 
	button.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_Edit%20Insert.png" width="342" height="166"></p>
	<p align="center"><u>Insert adds Command Directives</u></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<h2><a name="Special Command Directives">Special Command Directives</a></h2>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">When you create the HTML help for a help 
				topic, you can include the following directives in the text. 
				</font></p>
				<blockquote>
					<p><font size="2">{LanguageStart:<i>language name</i>}</font></p>
					<p><font size="2">{LanguageEnd}</font></p>
					<p><font size="2">{WindowTitle: <i>title text</i>}</font></p>
					<p><font size="2">{WindowSize: <i>width, height</i>}</font></p>
					<p><font size="2">{ConditionStart: <i>condition ID: logical 
					expression</i>}</font></p>
					<p><font size="2">{ConditionEnd: <i>condition ID</i>}</font></p>
					<p><font size="2">{ExecuteFunction: <i>function name</i>}</font></p>
				</blockquote>
				<p><font size="2">These directives let you define parts of your 
				help system that can be turned on or off as needed. For example, 
				by setting a <font color="#0000FF">Language</font> directive to 
				be active, you can make your Help System access text that only 
				pertains to that directive. This gives you the ability to swap 
				out different languages in your help system. The
				<font color="#0000FF">WindowSize</font> directive lets you 
				override the size of your help window. If you define a Window 
				Size directive inside a Language directive, then when the 
				Language Directive is active that WindowSize directive will also 
				be active. </font></p>
				<p>&nbsp;</p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left"><b><font size="2">
	
	<a name="{WindowTitle: <i>title text</i>}">{WindowTitle: <i>title text</i>}</a></font></b></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left"><b>Add a Window Title Directive:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Open the <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog.</p>
	<p align="left">2. <font size="2">click the <font color="#0000FF">Insert</font> 
	button and choose the directive you want from the drop-down menu, this 
	example uses <font color="#0000FF">Window title</font>.</font></p>
	<p align="left"><font size="2">&nbsp;</font></p>
	<p align="center">
	<img border="0" src="images/B_directives.png" width="345" height="152"></p>
	<p align="center"><u>Directive Menu</u></p>
	<p align="left">3. Replace the default entry in the directive with relevant 
	data. In this case enter a new title.</p>
	<p align="left">&nbsp;</p>
	<p align="center">Before:&nbsp;&nbsp;
	<img border="0" src="images/B_windowtitle.png" width="324" height="18"></p>
	<p align="left">&nbsp;&nbsp;
	</p>
	<p align="center">After:&nbsp;&nbsp;&nbsp;&nbsp;
	<img border="0" src="images/B_helpapps.png" width="316" height="17"><br />
	</p>
	<p align="left">&nbsp;</p>
	<p align="left">4. Click <font color="#0000FF">Save</font>. If you go to
	<font color="#0000FF">Working Preview</font> you should see a Window Title 
	in your help dialog when you load it.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_WindowDir.png" width="171" height="105"></p>
	<p align="center"><u>Window Title</u></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
					<p><b><font size="2">
					
					<a name="{WindowSize: <i>width, height</i>}">{WindowSize: <i>width, height</i>}</a></font></b></p>
	<p>&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The <font color="#0000FF">Window Size</font> 
				directive allows you to override the default window size and set 
				a custom window size. Use CSS syntax for the size. Specify width 
				and height. Example: {WindowSize: 6in,3in}</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left"><b>Add a Window Size Directive:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Open the <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog.</p>
	<p align="left">2. C<font size="2">lick the <font color="#0000FF">Insert</font> 
	button and choose the <font color="#0000FF">Window size</font> directive.</font></p>
	<p align="left"><font size="2">3. Replace the filler text in the directive 
	with the <font color="#0000FF">Width</font> and <font color="#0000FF">Height</font> 
	you want. </font></p>
	<blockquote>
		<p align="left">Before:&nbsp;&nbsp;
		<img border="0" src="images/B_windowsize1.png" width="375" height="19"></p>
		<p align="left">After:&nbsp;&nbsp;&nbsp;&nbsp;
		<img border="0" src="images/B_windowsize2.png" width="183" height="18"></p>
	</blockquote>
	<p align="left">4 Click <font color="#0000FF"><u>O</u>K</font>, and
	<font color="#0000FF"><u>O</u>K </font>again, and <font color="#0000FF">Save</font>. 
	Go to the <font color="#0000FF">Working Preview</font> to see your new Help 
	dialog.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_windowsizeex.png" width="593" height="335"></p>
	<p align="center"><u>A 6&quot; Wide by 3&quot; Tall Help Created with a Window Size 
	Directive</u></p>
	<p align="left">&nbsp;</p>
					<p>&nbsp;</p>
	<p><b><font size="2">
	<h2><a name="Language Directives">Language Directives</a></h2>
					<p><a name="Language Start">{LanguageStart:<i>language name</i>} and {LanguageEnd}</a></p>
	<p>&nbsp;</p></font></b></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The language command directive helps create 
				very dynamic help systems that function in different languages. 
				A language command directive begins with a <font color="#0000FF">
				Language directive -Start</font> tag and ends with the<font color="#0000FF"> 
				Language directive - End</font> tag. All the information between 
				these two language tags will be used in your help system when that language is active. If there is text outside 
				a language directive than this text will be used as the default 
				help text. The default help text will be used if no 
	language is set to active or if the active language is set to &lt;Default&gt;. It 
				is possible to place additional directive 
				tags within your language tags, they will activate when that 
				language tag is active. For example, you can place a 
				<font color="#0000FF">Window 
				title</font> directive inside a <font color="#0000FF">Language directive
				</font>that will work when that language directive is active. In the
				<font color="#0000FF">Grid Builder</font>, the active language 
				can be set from the <font color="#0000FF">Server-Side Events</font> 
				page under <font color="#0000FF">Code</font>. Go to this page 
				and under <font color="#0000FF">OnGridExecute</font> you can add 
				the required code to activate the language you want. You can use
				<font color="#0000FF">e.tmpl.ActiveLanguage = &quot;</font>French<font color="#0000FF">&quot;</font> 
				or, if you want a special protected session variable,<font color="#0000FF"> 
				session._protected._activeLanguage = &quot;</font>French<font color="#0000FF">&quot;</font> 
				to activate your language directive (in this case French). You 
				can also set this property in the 'Override Settings' in the A5W 
				page that loads you component. </font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p align="left"><b>Add a Language Directive </b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Open the <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog.</p>
	<p align="left">2. C<font size="2">lick the <font color="#0000FF">Insert</font> 
	button and choose the <font color="#0000FF">Language directive - Start</font>.</font></p>
	<p align="left"><font size="2">3. The {LanguageStart:Enter_Language_Name_Here} 
	directive will appear in the <font color="#0000FF">&quot;Edit Help Text - Help 
	Topic ID&quot;</font> Dialog</font></p>
	<p align="left"><font size="2">4. Delete the filler text in the directive 
	and replace it with the name of the language you want to use. For example {LanguageStart:French}</font></p>
	<p align="left"><font size="2">5. Click <font color="#0000FF">Insert</font> a second time and select
	<font color="#0000FF">Language directive - End</font>. Your code should look 
	something like this. </font></p>
	<p align="center">
	<img border="0" src="images/B_Lang1.png" width="236" height="67"></p>
	<p align="left"><font size="2">6. Everything inside these two language tags 
	will be used when this language is active. Fill in the <font color="#0000FF">
	HTML</font> and <font color="#0000FF">directives</font> that you want to 
	use.</font></p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_Lang3.png" width="757" height="231"></p>
	<p align="center"><u>The French Language Directive</u></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font size="2">7. Now you need to activate the Language 
	Directive. Go to the <font color="#0000FF">Design</font> page menu and under
	<font color="#0000FF">Code</font> select the <font color="#0000FF">
	Server-Side Events</font> page.</font></p>
	<p align="left"><font size="2">8. From the list of Server-Side Events select
	<font color="#0000FF">OnGridExecute</font>, it should be near the top of the 
	list.</font></p>
	<p align="left"><font size="2">9. Copy and paste the following code into the 
	OnGridExecute code displayed. If you identified a different language in
	<font color="#0000FF">{LanguageStart:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; }</font> 
	then use that instead of French. </font></p>
	<p align="left">&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#F4F4DF" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p>
				<font color="#333300" size="2">e.tmpl.ActiveLanguage = &quot;</font><font size="2">French</font><font color="#333300" size="2">&quot;</font></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left"><font size="2">8. Go to the <font color="#0000FF">Working Preview</font> and see the 
	result. </font></p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_Lang2.png" width="407" height="287"></p>
	<p align="center"><u>Success!</u></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080"><b>Use a Session Variable to swap out languages</b></font></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080">Go back to Fields in the Design menu tree. Add Custom help 
	to individual fields. Click on a field in Selected list.</font></p>
	<p align="left"><font color="#808080">Under Display Settings check Has Help button. Show Help icon 
	pops up. Have option of showing help icon. If 
	you choose none the only way to bring up the help will be to press the F1 
	key. Test it out in Working view. In a desktop application it is fairly well understood that 
	F1 brings up help.&nbsp; In a web application might be too subtle, make icon 
	visible to RightOfControl.</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080">Help Icon Behavior Opens show on click or Mouse over event, 
	if set to click, when you click on the icon you will see the help.</font></p>
	<p align="left">&nbsp;</p>
	<p align="left">
	<font color="#808080">-----------------------------------------------------------------------------------------------</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080">How help appears on screen.</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080">Field Help Window Style Property, help drops down 
	immediately under the field that has focus. Can also go back and change to 
	Mouse over event with dropdown.</font></p>
	<p align="left"><font color="#808080">--------------------------------------</font></p>
	<p align="left"><font color="#808080">HelpID</font></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left"><h2><a name="Conditional Directives">Conditional Directives</a></h2></p>
					<p><b><font size="2">
					
	<a name="{ConditionStart: <i>condition ID: logical expression</i>} and {ConditionEnd: <i>condition ID</i>}">{ConditionStart: <i>condition ID: logical expression</i>} and {ConditionEnd: <i>condition ID</i>}</a></font></b></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">Like language directives, conditional 
				directives can also be used to create highly dynamic help systems. 
				They can, for example, be used to display entirely different 
				help pages for someone who logs on to an application as an administrator versus someone who is in a managerial role. 
				As with the Language Directive the Conditional Directive has 
				both a <font color="#0000FF">ConditionStart</font> and
				<font color="#0000FF">ConditionEnd</font> tag. Unlike the 
				Language Directive, the <font color="#0000FF">ConditionEnd</font> 
				tag must have the <i><u>same id</u></i> as the
				<font color="#0000FF">ConditionStart</font> tag. This feature 
				gives you the ability to nest Condition Clauses is very powerful 
				ways. </font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left">&nbsp;</p>
	<p align="left"><b>Add a Conditional Directive:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. Open the <font color="#0000FF">Edit Help Text - Help Topic Id:</font> 
	Dialog.</p>
	<p align="left">2. C<font size="2">lick the <font color="#0000FF">Insert</font> 
	button and choose the <font color="#0000FF">Conditional section - Start</font> 
	tag and click on it.</font></p>
	<p align="center">
	<img border="0" src="images/B_conditionstart.png" width="347" height="181"></p>
	<p align="left"><font size="2">3. Replace the filler text '<font color="#0000FF">Enter_Condition_Id</font>' 
	in Condition section - Start<font color="#0000FF"> </font>with a unique id 
	like 'c1' or any arbitrary string.</font></p>
	<p align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	Before:
	<img border="0" src="images/B_conditionstart2.png" width="524" height="35"></p>
	<p align="center">&nbsp;After:&nbsp;&nbsp;
	<img border="0" src="images/B_conditionstart3.png" width="406" height="34"></p>
	<p align="center">&nbsp;</p>
	<p align="left"><font size="2">4. Replace the <font color="#0000FF">'Enter_condition_Expression'
	</font>filler text in Condition section - Start with a condition to be 
	tested, like session.var1=&quot;alpha&quot;</font></p>
	<p align="center"><font size="2">Before:&nbsp;
	<img border="0" src="images/B_conditionstart3.png" width="406" height="34"></font></p>
	<p align="center"><font size="2">After:&nbsp;&nbsp;&nbsp;
	<img border="0" src="images/B_conditionstart4.png" width="358" height="37">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font size="2">5. Add the help text, images, hrefs, ect... 
	that you want to be displayed when the condition above is met.</font></p>
	<p align="left"><font size="2">6. Click the Insert button again and select 
	the <font color="#0000FF">Conditional section - End</font> tag.</font></p>
	<p align="left"><font size="2">7. Replace the filler text '<font color="#0000FF">Enter_Condition_Id</font>' 
	in the <font color="#0000FF">Conditional section - End</font> tag with the 
	same id you entered for the <font color="#0000FF">Conditional section - 
	Start</font> tag.</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font size="2">- Define an action button, that contains a 
	function, set where action button lives on the grid. </font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font size="2">-Go to freeform edit regions and choose where 
	you want the action button. Click the button to the right of the property.&nbsp; 
	Click on the Available Placeholder and add it to the end of the HTML.</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font size="2">- Went to Xbasic Functions and defined the 
	setLanguage (rename)function, told it to set session.var1 = alpha</font></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080">-------------------------------------------------------</font></p>
	<p align="left"><font color="#808080">Conditional directive and the execute event directive. 
	Return to help text for Firstname field, two condition clauses</font></p>
	<p align="left"><font color="#808080">{ConditionStart:&nbsp; c1 (<i>id of the condition - 
	arbitrary string</i>): session.var1=&quot;alpha&quot; </font> </p>
	<p align="left"><font color="#808080">If Session.var1= &quot;alpha&quot; this text will be included in the 
	help file.</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080">and {ConditionEnd:c1 (<i>must be same id as ConditionStar</i>t)</font></p>
	<p align="left"><font color="#808080">can also have nested conditions</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080">{ConditionStart:c2:session.var1=&quot;beta&quot;}</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080">{ConditionEnd:c2:session.var1=&quot;beta&quot;}</font></p>
	<p align="left">
	<font color="#808080">-------------------------------------------------------------------------------vid5</font></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080">How does this work? session.var1='alpha' vs 
	session.var1=&quot;beta&quot; in browser path.</font></p>
	<p align="left"><font color="#808080">text in help window can be control</font></p>
	<p align="left">&nbsp;</p>
	<p align="left"><font color="#808080">Next UDFs return the result of the UDF as part of the text 
	of the help window. Go first to properties and the to Xbasic function 
	declarations. Create a new function and this function will return some 
	dynamic text that we would like to appear in the help window.</font></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left"><b><font size="2">
	
	<a name="{ExecuteFunction: <i>function name</i>}">{ExecuteFunction: <i>function name</i>}</a></font></b></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<p>&nbsp;</p>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p><b>Add an Execute Directive:</b></p>
	<p>&nbsp;</p>
	<p align="left">Xbasic Function Declarations dialog</p>
	<p align="left">&nbsp;</p>
	<p align="left">function myudf as c (e as p)</p>
	<p align="left">dim txt as c</p>
	<p align="left">txt = &quot;&lt;br&gt;&lt;b&gt;This is some dynamic text that was computed on 
	the server.&lt;/b&gt;&quot;</p>
	<p align="left">txt = txt + &quot;&lt;p&gt;The current date and time is: &quot;+ now() + 
	&quot;&lt;/p&gt;&quot;</p>
	<p align="left">myudf = txt</p>
	<p align="left">end function</p>
	<p align="left">&nbsp;</p>
	<p align="left">This function has to have a prototype that takes e as an 
	argument so when this function executes this object e gets passed in and it 
	contains request .variables and session variable, and useful information. 
	Call this udf when the function text is fetched on the server.</p>
	<p align="left">&nbsp;</p>
	<p align="left">Copy udf name to clipboard. Go back to help for firstname 
	field. Insert execute directive, put the name of the myudf function here. 
	When help is displayed&nbsp; the directive will be replaced by the result of 
	the call to this myudf function </p>
	<p align="left">can create extremely dynamic help stystems</p>
	<p align="left">&nbsp;</p>
	<p align="left">Custom help feature pack to add custom help systems. Add a 
	button to bring up a help page for a grid or help for individual fields that 
	can be accessed through F1 key.</p>
	<p align="left">&nbsp;</p>
	<p align="left">
	
	<h2><a name="Custom Help Windows in Action Javascript">Custom Help Windows in Action Javascript</a></h2>
	<p>&nbsp;</p></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
&nbsp;<p>&nbsp;</p>
				<p><font size="2">It is fairly straightforward to build help 
				windows using action javascript. In this case you can access the
				<font color="#0000FF">Help Id</font> property through the 
				Javascript events listed in the <font color="#0000FF">Field 
				Properties</font> on the <font color="#0000FF">Grid &gt; Fields</font> 
				page of the <font color="#0000FF">Grid Builder</font>.</font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p align="left"><b>Using Action Javascript in a Help page:</b></p>
	<p align="left">&nbsp;</p>
	<p align="left">1. On the<font color="#0000FF"> Design</font> tab menu go to 
	the <font color="#0000FF">Grid</font> list and click to open the
	<font color="#0000FF">Fields</font> page</p>
	<p align="left">2. Click the <u><font color="#0000FF">Insert...</font></u> 
	text at the bottom of the Fields page. The Insert Special Control dialog 
	will open</p>
	<p align="left">3. Click on <font color="#0000FF">[Button]</font> and a 
	button control will be added to your list. </p>
	<p align="center">
	<img border="0" src="images/B_buttoncontrol.png" width="479" height="80"></p>
	<p align="left">4. In the <font color="#0000FF">Field Properties</font> list 
	on the right go to <font color="#0000FF">Button Properties</font> and in the
	<font color="#0000FF">Button label</font> property row write 'Show a Help 
	Topic'</p>
	<p align="left">5. Go down the <font color="#0000FF">Field Properties</font> 
	list to the <font color="#0000FF">Javascript</font> properties. Select the
	<font color="#0000FF">onClick</font> event property and click the button
	<img border="0" src="images/button.png" width="15" height="14"> next to it.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_onClick.png" width="399" height="126"></p>
	<p align="center">&nbsp;</p>
	<p align="left">6. The <font color="#0000FF">Edit onClick </font>Dialog will 
	load. In the toolbar at the top of the dialog click the
	<font color="#0000FF">Add New Action</font> button.</p>
	<p align="left">7. The <font color="#0000FF">Action Javascript - Select an 
	Action</font> dialog will open. Scroll down the <font color="#0000FF">Action</font> 
	list on the right and select the <font color="#0000FF">Open a Help Window</font> 
	action.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_onpenahelp.png" width="781" height="82"></p>
	<p align="center">&nbsp;</p>
	<p align="left">8. The <font color="#0000FF">Action Javascript - Display 
	Help Topic in a Window</font> will open. </p>
	<p align="left">9. Under <font color="#0000FF">Window Properties</font>, go 
	to the <font color="#0000FF">Help ID</font> property and click the button
	<img border="0" src="images/button.png" width="15" height="14"> to open the 
	now familiar <font color="#0000FF">Help ID</font> dialog.</p>
	<p align="left">10. When the Help ID dialog opens place an id string in the
	<font color="#0000FF">Help Id:</font> textbox, like <i>HelpId1</i></p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_helpId1.png" width="628" height="124"></p>
	<p align="left">11. Click the <font color="#0000FF">Define Help Source</font> 
	button and create a <a href="#Help Source"><u>Help Source</u></a> for your 
	Help Id, if you don't already have one. The click on the
	<font color="#0000FF">Edit Help Text for this Help Id</font> button and 
	define some text for your help button.</p>
	<p align="center">
	<img border="0" src="images/B_editbutton.png" width="540" height="147"></p>
	<p align="left">12. Click <font color="#0000FF"><u>O</u>K</font> to close 
	and click <font color="#0000FF"><u>O</u>K</font> on the
	<font color="#0000FF">Help Id</font> dialog to exit it as well.</p>
	<p align="left">&nbsp;</p>
	<p align="left">13. Adjust the remaining <font color="#0000FF">Window 
	Properties</font> to shape your help window to your liking . Here you will 
	find the standard properties that you see in all windows in action 
	javascript. These properties let you set the type, size, and position of the 
	window. You can also specify javascript events that take place if the help 
	window gets moved, hidden, resized, and so forth.</p>
	<p align="left">&nbsp;</p>
	<p align="left">14. Close, go to Working Preview and click on the Show a 
	Help Topic Button you created.</p>
	<p align="left">&nbsp;</p>
	<p align="center">
	<img border="0" src="images/B_jshelp.png" width="539" height="206"></p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">&nbsp;</p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part1.swf">
	Help Tables Help Source&nbsp;&nbsp; video 1</a></p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part2.swf">
	Help Tables HelpId video 2</a></p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part3.swf">
	Help Tables video 3</a></p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part4.swf">
	Help Tables&nbsp; Language Directives video 4</a></p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part5.swf">
	Help Tables&nbsp; </a>
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part4.swf">
	UDFs</a>
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part5.swf">
	video 5</a></p>
	<p align="left">
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part6.swf">
	Help Tables </a>
	<a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part5.swf">
	and Javascript actions</a><a href="http://www.ajaxvideotutorials.com/V10Videos/HelpWindows_part6.swf">video 
	6</a></p>
	<p align="left">
<br />

	
	
	</p>

	
	
	</p>

	
	
	<hr class="hrwikibottom" /> 

	
	




	<!-- WIKIPATH:Help+Topics+for+Controls+-+Project+Help+Table+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"accept","keywords":"server,guide,component,sql,dbf"}--->
</body></html>