	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Navigation_System_Component_-_Server-side_Show_Hide_Expression">Navigation System Component - Server-side Show/Hide Expression</h1>
	<p class="showhide_heading">&nbsp;</p>
<strong>Subscription feature</strong><br />
<br />
You can now define a server-side show/hide expression. The expression can reference session variables. If the expression is .t. then the menu (and its children) are shown. If the expression is .f., then the menu (and its children) are eliminated from the menu.<br />
<br />
	<img border="0" src="images/navsys_showhideexpn.jpg" width="821" height="369"><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Navigation+System+Component+Server+side+Show+Hide+Expression+V11">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,component"}--->
</body></html>