	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Component.Object_geoCodeCallback_using_Google_was_not_successful_for_the_following_reason:_OVER_QUERY_LIMIT">{Component.Object}geoCodeCallback using Google was not successful for the following reason: OVER_QUERY_LIMIT</h1>
This message is telling you that you are trying to geocode addresses using the Google Maps service without having a Premier account, and hitting the Google-imposed geoding rate limit.<br />
<br />
You can fix this by bulk geocoding your addresses. See <a href="../../Data/SQL/Bulk geocode addresses in a database.html" title="How to bulk geocode addresses in a database V11" class="wiki">How to bulk geocode addresses in a database V11</a> and <a href="/Api/Functions/Utility/Addressing and Tracking Functions/geocode_address Function.xml" title="geocode_address Function" class="wiki">geocode_address Function</a>.<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:OVER_QUERY_LIMIT+error">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web,review","status":"pending","notes":"Title scrunched, very short entry","keywords":"server,guide,component"}--->
</body></html>