	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Page Variables</p>



<p>You can reference page variables in the events in a dialog component 
 by using the "PageVariables" prefix.</p>



<p>For example, assume that you have a page that is loaded using this URL:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>myDialogPage.a5w?custId=000001</td></tr>
</table>

<p>Assume that this page contains a dialog component. When the page is 
 run, a variable called <span class=Code1>custID</span> is created with 
 a value of "000001". Inside the dialog component's <span class=Code1>Initialize</span> 
 event, you could use this code:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim t&nbsp;as&nbsp;P</p>


<p class=Code>dim rec&nbsp;as&nbsp;N</p>


<p class=Code>if eval_valid("PageVariables.custID") then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;t = table.open("[PathAlias.ADB_Path]\customer")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;t.order("customer_id")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;rec = t.fetch_find(PageVariables.custID)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;if (rec > 0) then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;customer_id 
 = t.Customer_id</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;firstname 
 = t.Firstname</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lastname 
 = t.Lastname</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;city = t.Bill_city</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;end if</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;t.close()</p>


<p class=Code>end if</td></tr>
</table>

<p class=A5>See Also</p>



<p><a href="../References/Web/Web Publishing/Creating Dialog Components.html" title="Creating Dialog Components" class="wiki">Creating Dialog Components</a></p>





<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Page+Variables">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,guide,component"}--->
</body></html>