	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Types of Web Components</p>

<p>There are seven types of web components, that you can embed in HTML pages to 
give them the ability to interact with your Alpha Anywhere application.</p>


<table style="x-cell-content-align: top;
        border-left-style: None;
        border-right-style: None;
        border-top-style: None;
        border-bottom-style: None;
        border-spacing: 0px;
        border-spacing: 0px;" cellspacing="0">
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Description</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Bolded><a href="../Grid/Grid Component Capabilities.html" title="Grid Component Capabilities" class="wiki">Grid</a></span> 
 - The Grid component displays multiple fields from multiple records in 
 a table format. The data can come from one or multiple tables (as long&nbsp;as&nbsp;the 
 tables are linked one-to-one). The Grid component can be either read only 
 or editable. When the Grid component is read only, there is an option 
 to have an additional Detail View form that allows you to edit the fields 
 of any selected record.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Bolded><a href="../References/Web/Web Publishing/Creating GridLinker Components.html" title="Creating GridLinker Components" class="wiki">Grid   Linker</a></span> - The GridLinker component contains and displays multiple 
 Grid Components, allowing you to display data from tables linked one-to-many 
 (or parent-child) relationships.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Bolded><a href="../References/Web/Web Publishing/Dialog Component Capabilities.html" title="Dialog Component Capabilities" class="wiki">Dialog</a></span> 
 - The Dialog component is a form that allows you to read and write variable 
 data and execute Xbasic scripts. It is <span class=Bolded>not</span> intended 
 for supporting read and write transactions with tables.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Bolded><a href="../References/Web/Web Publishing/Creating Navigation System Components.html#Overview" title="Creating Navigation System Components" class="wiki">Navigation   System</a></span> - The Navigation System component allows you to create 
 horizontal toolbars with drop-down menus, or vertical menus with fly-out 
 menus. The menus can control navigation to the various pages of your web 
 site.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Bolded><a href="../References/Web/Web Publishing/Creating Tabbed GridLinker Components.html" title="Creating Tabbed GridLinker Components" class="wiki">Tabbed   GridLinker</a></span> - The Tabbed GridLinker component organizes its 
 grids in a tabbed structure that displays only one grid per level, but 
 allows you to switch to any other grid in any level with a click of the 
 mouse.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>&nbsp;<span   class=Bolded><a href="Creating Login Components.html" title="Creating Login Components" class="wiki">Login</a></span> - The login 
 component provides user ID and password security for web applications.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Bolded><a href="../References/Web/Creating Maintenance Components.html" title="Creating Maintenance Components" class="wiki">Maintenance</a></span> 
 - The Maintenance component will pack and re-index Alpha Five tables and 
 sets.</td></tr>
</table>

<p class=A5>Limitations</p>

<p>Web publishing applications only until Version 10.</p>

<p class=A5>See Also</p>
<p><a href="/Index/What's New in Version 9.html" title="What&#039;s New in Version 9" class="wiki">What&#039;s New in Version 9</a>, <a href="/Index/What's New in Version 10.html" title="What&#039;s New in Version 10" class="wiki">What&#039;s New in Version 10</a>, <a href="/Index/What's New in Version 11.html" title="What&#039;s New in Version 11" class="wiki">What&#039;s New in Version 11</a>
</p>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Types+of+Web+Components">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web, review","status":"pending","notes":"Alpha Five","keywords":"server,design,guide,component"}--->
</body></html>