	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Address Dialog - Adding Blank Lines</p>

<p>To space out the vertical distance between controls on an Xdialog, you can insert blank lines using the '{lf};' command. This is analogous to pressing Enter on a blank line in a word processor to leave extra space between paragraphs.</p>

<p>NOTE It is important that the {lf}; command include the terminating ';' character. This is because Xdialog does not normally allocate any space to blank rows or cells. A blank row that is terminated with a ';' will not take up any space on the dialog. However, the {lf} command instructs Alpha Anywhere to allocate the standard line height to the blank line.</p>

<p>The following script puts a blank line after the Lastname row and puts two blank lines between the Zip row and the OK button:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>result=ui_dlg_box("Title",&lt;&lt;%dlg%</p>

<p class=Code>First name:| [.32firstname];</p>

<p class=Code>Last name:| [.32lastname];</p>

<p class=Code>{lf};</p>

<p class=Code>Address 1:| [.32address1];</p>

<p class=Code>Address 2:| [.32address2];</p>

<p class=Code>City:| [.32City];</p>

<p class=Code>State:| [State];</p>

<p class=Code>Zip:| [Zip];</p>

<p class=Code>{lf};</p>

<p class=Code>{lf};</p>

<p class=Code><OK></p>

<p class=Code>%dlg%)</td> </tr> </table><p>This script produces this dialog: </p>

<p class=Pix> <img src="images/XD_Blank_Line.gif" x-maintain-ratio=TRUE style="border: none; width: 243px; height: 269px; float: none; border-style: none; border-style: none;" width=243 height=269 border=0></p>

<p class=PixCaption>Lesson 3: Address Dialog - Adding Blank Lines</p>

<p class=A5>Next</p>

<p> <a href="Address Dialog - Spacing of Controls.html" title="Address Dialog - Spacing of Controls" class="wiki">Address Dialog - Spacing of Controls</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Address+Dialog+-+Adding+Blank+Lines">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>