	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>ADO/ODBC Form Genie</p>



<p>The <span class=Screen>ADO/ODBC Form Genie</span> creates an Xdialog 
 dialog box that can be used to read, write, and browse through ADO and 
 ODBC compliant databases. The form is highly customizable and can be displayed 
 in traditional browse and form formats,&nbsp;as&nbsp;well&nbsp;as&nbsp;a 
 new hybrid format, called a repeating form.</p>



<p>The <span class=Screen>ADO/ODBC Form Genie</span> is available through 
 Action Scripting. To display the genie:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Navigate to the <span 
 class=Screen>Code</span> tab of the <span class=Screen>Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Action_Script_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Add_Button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 101px;
			height: 20px;
			float: none;
			border-style: none;
			border-style: none;"
	width=101
	height=20
	border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Xdialog 
 Windows" from the <span class=Control>Category</span> list and "Display 
 Xdialog Form based on ADO/ODBC data" from the <span class=Control>Action</span> 
 list.</p>

</li>
</ol>

<p class=A5><a name=Database_Connections>Database Connections</a></p>



<p>The genie supports two types of external database connections.</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Screen>Microsoft 
 Access</span> .MDB files </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Other databases that support 
 the ADO or ODBC protocols (specified by an ADO Connection string). <a HREF="http://support.alphasoftware.com/imagesV8/ADO_ODBC_1.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a> 
 </p>

</li>
</ul>

<p class=Pix><img src="images/ADO_ODBC_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 481px;
							height: 181px;
							border-style: none;
							border-style: none;"
					width=481
					height=181
					border=0></p>



<p>Once you open a connection to the database, you can select data by:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>picking a table or view 
 from a list </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>entering a SQL Select statement 
 </p>

</li>
</ul>

<p>If you are opening a database with an ADO Connection string, you can:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Select an existing connection 
 string </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Build a new connection 
 string (using the <span class=Screen>Windows Data Link Properties</span> 
 dialog box) </p>

</li>
</ul>

<p>If you create a new connection string, the <span class=Screen>Data Link 
 Properties</span> dialog box gives you the opportunity to select among 
 the following database types. </p>



<p class=Pix><img src="images/ADO_Genie_Data_Link_Provider.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 367px;
							height: 467px;
							float: none;
							border-style: none;
							border-style: none;"
					width=367
					height=467
					border=0></p>



<p>In addition, if you retrieve the data by table or view, you can optionally 
 apply both filter and order expressions to the record selection. </p>



<p class=Pix><img src="images/ADO_ODBC_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 481px;
							height: 139px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=139
					border=0></p>



<p class=A5><a name=Fields_and_Formats>Fields and Formats</a></p>



<p>Next, the genie allows you to pick which fields you want to display.</p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : You must include 
 the primary key(s) of the table in the list of <span class=Control>Selected 
 Fields</span>.</p>



<p>This page of the genie allows you to set their order of appearance and 
 various display properties, including: </p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Label </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Hot Label </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Control type (text box, 
 list box, etc.) </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Width </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Height </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Tab Page </p>

</li>
</ul>

<p class=Pix><img src="images/ADO_ODBC_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 481px;
							height: 466px;
							border-style: none;
							border-style: none;"
					width=481
					height=466
					border=0></p>



<p>In addition, you can specify <span class=Control>Update Rules</span> 
 for each field. These rules include: </p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Whether the field is read-only 
 or write-able </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The table and field to 
 update (if write-able) </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Whether to auto-increment 
 the value of the field </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Whether blank values will 
 be represented by NULL </p>

</li>
</ul>

<p class=Pix><img src="images/ADO_Genie_Field_Update_Rules.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 481px;
							height: 466px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=466
					border=0></p>



<p>Then, you can select which of 15 available record navigation controls, 
 function buttons, and status fields you would like to display, and set 
 their order of appearance. These buttons include:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>First, Previous, Next, 
 Last </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Record Position, Record 
 Count </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>New Record, Save Record, 
 Delete Record </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Undo Edits </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Filter, Apply Filter, Clear 
 Filter, Show All, Exit Filter Mode </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Close </p>

</li>
</ul>

<p>You can also set their display properties, including: </p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Type (Picture, Text) </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Label (if Text) </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Image (if Picture) </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Border (if Picture) </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Bubble Help text </p>

</li>
</ul>

<p class=Pix><img src="images/ADO_Genie_Button_Properties.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 481px;
							height: 398px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=398
					border=0></p>



<p>Next, you can set the properties of the form, including: </p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Window title </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Background color </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Font </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Button bar position ("Bottom", 
 "Top", "Bottom and Top", "None") </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>whether to enclose the 
 buttons in a frame </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Form type ("Modal", 
 "Modeless", "MDI Child Window") </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>If not "Modal", 
 whether to allow multiple instances </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>If "MDI Child Window", 
 the toolbar, menu, and Title bar icon to use </p>

</li>
</ul>

<p class=Pix><img src="images/ADO_Genie_Window_Properties.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 481px;
							height: 323px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=323
					border=0></p>



<p class=A5><a name=Display_Options>Display Options</a></p>



<p>You can set various layout options. The style of display can be either:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Form </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Table </p>

</li>
</ul>

<p>If you select the "Form" style, you can have a Repeating Form. 
 In this case you can specify:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>the number of rows </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>the number of columns </p>

</li>
</ul>

<p>and whether the forms are organized from:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>top to bottom, then left 
 to right </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>left to right, the top 
 to bottom </p>

</li>
</ul>

<p>This is a familiar single record form. </p>



<p class=Pix><img src="images/ADO_Genie_Form_Layout.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 375px;
							height: 195px;
							float: none;
							border-style: none;
							border-style: none;"
					width=375
					height=195
					border=0></p>



<p>The following is an example of a Table style form. You can set the number 
 of lines to display in the table. </p>



<p class=Pix><img src="images/ADO_Genie_Table_Layout.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 449px;
							height: 390px;
							float: none;
							border-style: none;
							border-style: none;"
					width=449
					height=390
					border=0></p>



<p>This is a repeating form. If you added a new record, the form would 
 display records 2 through 7. </p>



<p class=Pix><img src="images/ADO_Genie_Repeating_Form_Layout.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 564px;
							height: 391px;
							float: none;
							border-style: none;
							border-style: none;"
					width=564
					height=391
					border=0></p>



<p class=A5><a name=Record_Set_Filters>Record Set Filters</a></p>



<p>Clicking on a field label produces a menu that lets you: </p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Sort the record set on 
 the selected field in ascending order </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Sort the record set on 
 the selected field in descending order </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Filter on the field (select 
 only records with matching values) </p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Exclude on the field (select 
 only records with non-matching values) </p>

</li>
</ul>

<p class=Pix><img src="images/ADO_Genie_Field_Menu.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 375px;
							height: 195px;
							float: none;
							border-style: none;
							border-style: none;"
					width=375
					height=195
					border=0></p>



<p>Clicking the <span class=Button>Filter by Form</span> icon <img src="images/Query_by_Form_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> clears the fields of the form and allows you to make queries 
 against the record set. The following picture show a query in process. 
 Clicking on the run icon <img src="images/Run_button.gif"
								x-maintain-ratio=TRUE
								style="border: none;
										width: 22px;
										height: 22px;
										float: none;
										border-style: none;
										border-style: none;"
								width=22
								height=22
								border=0> will extract a subset of the 
 record set that you can scroll through, read, and edit. Clicking <img 
 src="images/Show_All_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> removes the filter and re-displays the full record set. <a HREF="http://support.alphasoftware.com/imagesV8/ADO_Genie_Filter_by_Form.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=Pix><img src="images/ADO_Genie_Filter_by_Form.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 375px;
							height: 195px;
							float: none;
							border-style: none;
							border-style: none;"
					width=375
					height=195
					border=0></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:ADO+ODBC+Form+Genie">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,actionxb,xdialog,genie"}--->
</body></html>