	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>ADO Examples</p>

<ul style="list-style: disc;" type=disc> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Using+the+A5_ADO_TO_ARRAY<strong>+function" title="Using the A5_ADO_TO_ARRAY</strong> function" class="wiki">Using the A5_ADO_TO_ARRAY function</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Building Connection Strings.html" title="Building Connection Strings" class="wiki">Building Connection Strings</a></p>

</li> </ul><p class=A5>See Also</p>

<p> <a href="/Index/Learning Xdialog Title.html" title="Learning Xdialog Title" class="wiki">Learning Xdialog</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:ADO+Examples">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"very short","keywords":"desktop,guide,xdialog"}--->
</body></html>