	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Anchor Buttons - Exact Positioning of Buttons</p>

<p>This example uses the <a href="../../../../Reference/Design/View/Xdialog/Command/A Xdialog Command.html" title="A Xdialog Command" class="wiki">{A}</a> and <a href="../../../../Reference/Design/View/Xdialog/Command/T Xdialog Command.html" title="T Xdialog Command" class="wiki">{T}</a> to define anchor points and their horizontal locations to exactly position buttons. The button statement <a href="../../../../Reference/Design/View/Xdialog/Controls/Button O Directive.html" title="Button O Directive" class="wiki">O={@@}</a> says that the formatting is embedded. The button statement <a href="../../../../Reference/Design/View/Xdialog/Controls/Button B Directive.html" title="Button B Directive" class="wiki">B=M</a> says that the button has a standard format with raised edges. </p>

<p class=Pix> <img src="images/XD_Anchor_Buttons.gif" x-maintain-ratio=TRUE style="border: none; width: 419px; height: 130px; float: none; border-style: none; border-style: none;" width=419 height=130 border=0></p>

<p>First create the owner draw strings with the embedded identification ({A}), positioning ({T}), and formatting commands ({C} and {B}).</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dlg_title = "Anchor Buttons"</p>

<p class=Code>buttons1 = "{A=1}Sub-Button1{T=1.5}{A=2}Sub-Button2{T=3}{A=3}Sub-Button3"</p>

<p class=Code>buttons2 = "{C=Black}{B=Win3D}"+buttons1</p>

<p class=Code>highlight = "{C=Black}{B=Win3D}"</p>

<p class=Code>buttons3 = highlight + "{A=1}Sub-Button1{T=1.5}{A=2}Sub-Button2{T=3}{A=3}Sub-Button3"</td> </tr> </table><p>First create the owner draw string with the embedded identification ({A}), positioning ({T}), and formatting commands ({C} and {B}).</p>

<p>Anchor buttons are useful when you want to accurately position buttons on a dialog using owner draw strings with tab stops. For example, to position buttons over columns in an owner draw list box.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>ui_dlg_box(dlg_title,&lt;&lt;%dlg%</p>

<p class=Code>{watch=ui_dlg_control_anchor_from_pos(dlg_title)!mouse_move}</p>

<p class=Code>{wrap=80}</p>

<p class=Code>{lf};</td> </tr> </table><p>This button does not specify background color and font color in the owner draw string.&nbsp;as&nbsp;a result, when the mouse is over the button, all of the logical "sub-buttons" are highlighted -- not the effect you would want.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>Button 1:;</p>

<p class=Code>&lt;%O={@@};B=M%=buttons1!button1>;</p>

<p class=Code>{lf};</td> </tr> </table><p>This button uses an owner draw string that includes a specification for the font color and background color.&nbsp;as&nbsp;a result, when the mouse is over the button, none of the logical "sub-buttons" are highlighted -- closer to the effect you might want, but still not perfect.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{line=1,0};</p>

<p class=Code>Button 2:;</p>

<p class=Code>&lt;%O={@@};B=M%=buttons2!button2>;</p>

<p class=Code>{lf};</td> </tr> </table><p>This button changes the owner draw string dynamically to indicate which "sub-button" the mouse is over. The key to this button is the <a href="/Server/Reference/Design/Api/Functions/Xdialog Function Reference/UI_DLG_CONTROL_ANCHOR_FROM_POS Function.html" title="UI_DLG_CONTROL_ANCHOR_FROM_POS Function" class="wiki">UI DLG CONTROL ANCHOR FROM POS(</a>)function which returns the current anchor under the mouse. We constantly watch the result of this function by setting up a watch event called "mouse_moved".</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{line=1,0};</p>

<p class=Code>Button 3:;</p>

<p class=Code>&lt;%O={@@};B=M%=buttons3!button3>;</p>

<p class=Code>{line=1,0}</p>

<p class=Code>%dlg%,&lt;&lt;%code%</td> </tr> </table><p>Now, the event handling code.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>if a_dlg_button = "button1" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;anchor = ui_dlg_control_anchor_from_pos(dlg_title)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("Note","You just clicked on sub-button " + anchor + " in Button 1")</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "button2" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;anchor = ui_dlg_control_anchor_from_pos(dlg_title)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("Note","You just clicked on sub-button " + anchor + " in Button 2")</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "button3" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;anchor = ui_dlg_control_anchor_from_pos(dlg_title)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("Note","You just clicked on sub-button " + anchor + " in Button 3")</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;_dlg_button = ""</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "mouse_move" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;current_anchor = ui_dlg_control_anchor_from_pos(dlg_title)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;if current_anchor = "1" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;buttons3 = highlight + "{A=1}{F=Arial,8,U}Sub-Button1{F=Arial,8}{T=1.5}{A=2}Sub-Button2{T=3}{A=3}Sub-Button3"</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;else if current_anchor = "2" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;buttons3 = highlight + "{A=1}Sub-Button1{T=1.5}{A=2}{F=Arial,8,U}Sub-Button2{T=3}{F=Arial,8}{A=3}Sub-Button3"</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;else if current_anchor = "3" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;buttons3 = highlight + "{A=1}Sub-Button1{T=1.5}{A=2}Sub-Button2{T=3}{A=3}{F=Arial,8,U}Sub-Button3"</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;else</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;buttons3 = highlight + "{A=1}Sub-Button1{T=1.5}{A=2}Sub-Button2{T=3}{A=3}Sub-Button3"</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>end if</p>

<p class=Code>%code%)</td> </tr> </table><p class=A5>Next</p>

<p> <a href="Controls/Buttons/Anchor Buttons - Advanced Example.html" title="Anchor Buttons - Advanced Example" class="wiki">Anchor Buttons - Advanced Example</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only</p>

<p class=A5>See Also</p>

<p> <a href="/Index/Miscellaneous Examples.html" title="Miscellaneous Examples" class="wiki">Miscellaneous Examples</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Anchor+Buttons+-+Exact+Positioning+of+Buttons">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"move out of tut? Next link to See Also?","keywords":"desktop,guide,xdialog,xdcontrol"}--->
</body></html>