	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Bar Graph</p>

<p>This example shows how to use the <span class=Screen>Microsoft Office</span> Chart ActiveX Control.&nbsp; </p>

<p class=Pix> <img src="images/XD_Stacked_Bar_Chart.gif" x-maintain-ratio=TRUE style="border: none; width: 666px; height: 390px; float: none; border-style: none; border-style: none;" width=666 height=390 border=0></p>

<p class=A5>Example</p>

<p class=Note> <span class=Note> <img src="images/icon_warning.gif" x-maintain-ratio=TRUE style="border: none; width: 37px; height: 33px; float: none; border-style: none; border-style: none;" width=37 height=33 border=0>Note</span> : To run this sample Xdialog script, you must have <span class=Screen>Microsoft Office</span> installed on your machine.</p>

<p class=A5>Example</p>

<p>Dimension variables and provide chart data.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dim categories[3]&nbsp;as&nbsp;C</p>

<p class=Code>dim shipping[3]&nbsp;as&nbsp;N</p>

<p class=Code>dim marketing[3]&nbsp;as&nbsp;N</p>

<p class=Code>dim accounting[3]&nbsp;as&nbsp;N</p>

<p class=Code>dim vl&nbsp;as&nbsp;P</p>

<p class=Code>dim shared Chart&nbsp;as&nbsp;P</p>

<p class=Code>dim Graph&nbsp;as&nbsp;P</p>

<p class=Code>dim Graph.object&nbsp;as&nbsp;P</p>

<p class=Code>dim Graph.class&nbsp;as&nbsp;C</p>

<p class=Code>categories[1] = "1999"</p>

<p class=Code>categories[2] = "2000"</p>

<p class=Code>categories[3] = "2001"</p>

<p class=Code>shipping[1] = 100 'value for 'shipping' department in 1999</p>

<p class=Code>shipping[2] = 211 'value for 'shipping' department in 2000</p>

<p class=Code>shipping[3] = 173</p>

<p class=Code>marketing[1] = 234</p>

<p class=Code>marketing[2] = 456</p>

<p class=Code>marketing[3] = 111</p>

<p class=Code>accounting[1] = 222</p>

<p class=Code>accounting[2] = 345</p>

<p class=Code>accounting[3] = 132</p>

<p class=Code>vl = local_variables()</td> </tr> </table><p>Define the dialog display code.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>Graph.class="owc.chart"</p>

<p class=Code>dlg_title = "Stacked Bar Chart"</p>

<p class=Code>type = 1 'Refer to <a href="XY Graph.html#Complete_List_of_Supported_Chart_Types" title="XY Graph" class="wiki">Complete List of Supported Chart Types</a></p>

<p class=Code>dlg_source = &lt;&lt;%dlg%</p>

<p class=Code>{can_exit=close}</p>

<p class=Code>{startup=init}</p>

<p class=Code>{lf};</p>

<p class=Code>{region001}</p>

<p class=Code>{stretch=height,width}</p>

<p class=Code>{sp}{activex=100,25Graph};</p>

<p class=Code>{stretch=}</p>

<p class=Code>{stickto=right,top}</p>

<p class=Code>{endregion001}</p>

<p class=Code>{region002}</p>

<p class=Code>{sp}&lt;%i=$a5_window_close;O={J=C} {I=1} Close; %18,1.5&Close!close>{sp};</p>

<p class=Code>{lf};</p>

<p class=Code>(type:Bar!type_change) (type:Column!type_change);</p>

<p class=Code>{endregion002}</p>

<p class=Code>%dlg%</td> </tr> </table><p>Define the dialog event handler code.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dlg_event = &lt;&lt;%code%</p>

<p class=Code>if (a_dlg_button = "type_change") then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;if type = 1 then 'bar</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chart.Type = 4 ' Stacked Bar - Refer to <a href="XY Graph.html#Complete_List_of_Supported_Chart_Types" title="XY Graph" class="wiki">Complete List of Supported Chart Types</a></p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chart.Title.Caption = "Stacked Bar Graph"</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;else if type = 2 then 'column</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chart.Type = 1 ' Stacked Column- See the list at the bottom for other types.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chart.Title.Caption = "Stacked Column Graph"</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>end if</p>

<p class=Code>if (a_dlg_button = "close") .or. (a_dlg_button = "") then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_modeless_dlg_close(dlg_title)</p>

<p class=Code>end if</td> </tr> </table><p>Create the chart on the <span class=Code1>init</span> event. <span class=Code1>SetData()</span>is a chart method.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>if (a_dlg_button = "init") then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code></p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;' Add a chart to the graph object</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;Chart = Graph.object.Charts.Add()</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;Chart.HasTitle = .t.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;Chart.Title.Caption = "Stacked Bar Graph"</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;Chart.Type = 4 ' Stacked Bar - refer to <a href="XY Graph.html#Complete_List_of_Supported_Chart_Types" title="XY Graph" class="wiki">Complete List of Supported Chart Types</a>.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;Chart.HasLegend = .t.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;' Add the two series</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;dim series[3]&nbsp;as&nbsp;P</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;Series[1] = Chart.SeriesCollection.Add()</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;Series[1].Caption = "Shipping"</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;Series[1].SetData(1, -1, categories) 'Only need to set 'categories' for the first data series</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;Series[1].SetData(2, -1, shipping) ' Refer to&nbsp; <a href="../Chart/XY Graph.html" title="XY Graph" class="wiki">XY Graph</a></p>

<p class=Code>&nbsp;</p>

<p class=Code></p>

<p class=Code>Series[2] = Chart.SeriesCollection.Add()</p>

<p class=Code></p>

<p class=Code>Series[2].Caption = "Marketing"</p>

<p class=Code></p>

<p class=Code>Series[2].SetData(2, -1, marketing) ' Refer to <a href="../Chart/XY Graph.html" title="XY Graph" class="wiki">XY Graph</a></p>

<p class=Code></p>

<p class=Code>Series[3] = Chart.SeriesCollection.Add()</p>

<p class=Code></p>

<p class=Code>Series[3].Caption = "Accounting"</p>

<p class=Code></p>

<p class=Code>Series[3].SetData(2, -1, accounting) ' Refer to <a href="../Chart/XY Graph.html" title="XY Graph" class="wiki">XY Graph</a></p>

<p class=Code></p>

<p class=Code>Graph.object.Refresh()</p>

<p class=Code>end if</p>

<p class=Code>%code%</p>

<p class=Code>ui_modeless_dlg_box(dlg_title, dlg_source, dlg_event)</td> </tr> </table><p class=A5>Next</p>

<p> <a href="../../../../Tutorial/Design/View/Chart/Interactive Pie Chart.html" title="Interactive Pie Chart" class="wiki">Interactive Pie Chart</a></p>

<p class=A5>See Also</p>

<p> <a href="XY Graph.html#Complete_List_of_Supported_Chart_Types" title="XY Graph" class="wiki">Complete List of Supported Chart Types</a>, <a href="XY Graph.html#Complete_List_of_Supported_Data_Types" title="XY Graph" class="wiki">Complete List of Supported Data Types</a>, <a href="/Index/ActiveX Examples.html" title="ActiveX Examples" class="wiki">ActiveX Examples</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Bar+Graph">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>