	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Calling the Generic Find/Replace/Goto Dialog Box</p>

<p>This script illustrates how to use the <a href="/Desktop_Api/Xdialog Function Reference/A5_GENERICSEARCHREPLACE Function.xml" title="A5_GENERICSEARCHREPLACE Function" class="wiki">A5_GENERICSEARCHREPLACE(</a>) function with the contents of a text box.</p>

<p>The beginning of the script defines the title of the dialog box and the text that it will display. Note that the text is placed into <span class=Code1>.text</span> sub-element of the <span class=Code1>ptext</span> pointer variable.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dlg_title = "Adding Find/Replace/Goto to a Dialog Box"</p>

<p class=Code>dim ptext&nbsp;as&nbsp;P</p>

<p class=Code>dim ptext.object&nbsp;as&nbsp;P</p>

<p class=Code>dim ptext.text&nbsp;as&nbsp;C</p>

<p class=Code>ptext.text = &lt&lt%a%</p>

<p class=Code>Starsky & Hutch," the Todd Phillips film adaptation of the 1970's television series, may not spark yet another 1970's fashion moment, but it is bound to do more for the Tijuana hippie sweater than any number of revivals on the runways. The return of that emblem of boho chic would not surprise Louise Mingenbach, the film's costume designer, who recreated the sweater and other period artifacts, including the leather jackets and flares worn by the maverick detectives: Starsky (Ben Stiller) and his sidekick, Ken Hutchinson (Owen Wilson), better known&nbsp;as&nbsp;Hutch.</p>

<p class=Code>Ms. Mingenbach, 40, studied art history before cutting her teeth on films like "The Usual Suspects." But her curatorial regard for the 70's was fed by monthly visits to the Rose Bowl swap meet in Los Angeles, a funky bazaar where people sell their wardrobe castoffs, and her perusal of vintage Sears catalogs. Sears, she said, represented what Middle America actually wore, "even the leisure suits."</p>

<p class=Code>(c) New York Times 2004</p>

<p class=Code>%a%</td> </tr> </table><p>The call to <a href="/Desktop_Api/Xdialog Function Reference/A5_GENERICSEARCHREPLACE Function.xml" title="A5_GENERICSEARCHREPLACE Function" class="wiki">A5_GENERICSEARCHREPLACE(</a>)passes the pointer variable that contains the text and the argument that defines which dialog pane to display.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>ui_dlg_box(dlg_title,&lt;&lt;%dlg%</p>

<p class=Code>{startup=init}</p>

<p class=Code>{font=courier new,10}</p>

<p class=Code>[%MAW;K%.150,10ptext];</p>

<p class=Code>{font=}</p>

<p class=Code>&ltFind> &ltReplace> &ltGoto>;</p>

<p class=Code>%dlg%,&lt&lt%code%</p>

<p class=Code>if a_dlg_button = "find" .or. a_dlg_button = "replace" .or. a_dlg_button = "goto" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;A5_GenericSearchReplace(ptext, a_dlg_button)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>end if</p>

<p class=Code>%code%)</td> </tr> </table><p class=A5>Next</p>

<p> <a href="Computing the Size of an Embedded Dialog.html" title="Computing the Size of an Embedded Dialog" class="wiki">Computing the Size of an Embedded Dialog</a></p>

<p class=A5>See Also</p>

<p> <a href="/Desktop_Api/Xdialog Function Reference/A5_GENERICSEARCHREPLACE Function.xml" title="A5_GENERICSEARCHREPLACE Function" class="wiki">A5_GENERICSEARCHREPLACE(</a>), <a href="/Index/Miscellaneous Examples.html" title="Miscellaneous Examples" class="wiki">Miscellaneous Examples</a></p>



<p class=A5>Limitations</p>

<p>Desktop applications only</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Calling+the+Generic+Find+Replace+Goto+Dialog+Box">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>