	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Code Library </p>



<p>The <span class=Screen>Code Library</span> is a dockable toolbar that 
 stores and organizes an unlimited number of Xbasic and Xdialog code snippets, 
 retrieving and inserting them into your project with just a couple of 
 keystrokes. To display the <span class=Screen>Code Library</span> :</p>



<ul>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>in the <span class=Screen>Interactive 
 Window</span> click <img src="images/Code_Library_button.gif"
							x-maintain-ratio=TRUE
							style="border: none;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>select "Code Library" 
 from the drop down menu of the floating window</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>in the <span class=Screen>Code 
 Editor</span> you may also select <span class=Button>Code > Code Library</span></p>

</li>
</ul>

<p class=A5><a name=Managing_Libraries>Managing Libraries</a></p>



<p>The <span class=Screen>Code Library</span> allows you to create multiple 
 named libraries, each of which may contain a large number of code snippets. 
 </p>



<p class=Pix><img src="images/Code_Library_Multiple_Libraries.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 595px;
							height: 377px;
							float: none;
							border-style: none;
							border-style: none;"
					width=595
					height=377
					border=0></p>



<p>You can create new libraries, delete existing libraries, and import 
 your Alpha Anywhere code library by right clicking on the <span 
 class=Screen>Code Library</span> window. The following image shows the 
 <span class=Screen>Select Library to Delete</span> dialog box. Code libraries 
 are saved with a <span class=Code1>*.clip_lib</span> extension in the 
 <span class=Code1>code_libraries</span> folder under your Alpha Anywhere program 
 folder. </p>



<p class=Pix><img src="images/Code_Library_Delete_Library.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 318px;
							height: 201px;
							float: none;
							border-style: none;
							border-style: none;"
					width=318
					height=201
					border=0></p>



<p class=A5><a name=Using_Libraries>Using Libraries</a></p>



<p>After opening the <span class=Screen>Code Editor</span>, either click 
 <span class=Button>Code > Code Library...</span> or right click on 
 the window and select <span class=Button>Code Library</span>. </p>



<p class=Pix><img src="images/XB_Code_Library_Favorites_V7.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 525px;
							height: 257px;
							border-style: none;
							border-style: none;"
					width=525
					height=257
					border=0></p>



<p>The resulting <span class=Screen>Code Library</span> menu has three 
 sections. The top section contains commands. These three commands will:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p><p>Add selected text to the Code Library,</p>

</li>
	
	<li class=kadov-p><p>allow you to select the active library, and</p>

</li>
	
	<li class=kadov-p><p>hide or display the <span class=Screen>Code Library</span> 
 window.</p>

</li>
</ul>

<p class=A5><a name=Setting_the_Active_Library>Setting the Active Library</a></p>



<p>When you click <span class=Button>Code Library > Set active Code 
 Library</span>, the following dialog appears. </p>



<p class=Pix><img src="images/Code_Library_Set_Active.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 268px;
							height: 237px;
							float: none;
							border-style: none;
							border-style: none;"
					width=268
					height=237
					border=0></p>



<p class=PixCaption>Selecting the Active Code Library</p>



<p class=A5><a name=Inserting_a_Favorite_Code_Clip>Inserting a Favorite 
 Code Clip</a></p>



<p>The next section of the <span class=Screen>Code Library</span> menu 
 is a list of favorites from any code library. Clicking one of these entries 
 inserts the code snippet into the <span class=Screen>Code Editor</span> 
 at the cursor location.</p>



<p>The largest section at the bottom contains up to 20 of the entries from 
 the selected code library. Clicking one of these entries inserts the code 
 snippet into the <span class=Screen>Code Editor</span> at the cursor location. 
 Clicking the <span class=Button><More...></span> entry displays 
 the <span class=Screen>Select Code to Insert</span> dialog box. This dialog 
 box gives you the ability to inspect the contents of the code snippet 
 you want to use. </p>



<p class=Pix><img src="images/XB_Code_Library_Select_code_to_Insert.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 418px;
							height: 395px;
							border-style: none;
							border-style: none;"
					width=418
					height=395
					border=0></p>



<p class=A5><a name=Inserting_Code_from_a_Library>Inserting Code from a 
 Library</a></p>



<p>The user can add, delete, edit, view, insert, and execute entries in 
 a selected library. Clicking on a library entry can result in three scenarios.</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The code will be inserted 
 at the cursor location in the <span class=Screen>Code Editor</span>.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The code will display one 
 or more dialog boxes to gather variable values and then insert the code.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The code will be executed.</p>

</li>
</ul>

<p class=A5><a name=Editing_a_Code_Entry>Editing a Code Entry</a></p>



<p>The following images show how to edit a code library entry.</p>



<p class=Pix><img src="images/XB_Code_Library_Edit_Current_Entry_V7.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 344px;
							height: 269px;
							float: none;
							border-style: none;
							border-style: none;"
					width=344
					height=269
					border=0></p>



<p class=PixCaption>Select Library Entry to Edit in Version 7 </p>



<p>You can also select the entry and click <img src="images/Edit_Button.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 22px;
														height: 22px;
														float: none;
														border-style: none;
														border-style: none;"
												width=22
												height=22
												border=0>.</p>



<p>You can input a new name for the entry or edit the current name in the 
Description field. A name in the format <span class=Argument>Group</span> 
 ^ <span class=Argument>Item</span> will display the entry in a tree control. 
 <span class=Argument>Item</span> will appear under <span class=Argument>Group</span>.</p>



<p class=Pix><img src="images/Code_Library_Edit_Entry.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 375px;
							height: 437px;
							border-style: none;
							border-style: none;"
					width=375
					height=437
					border=0></p>



<p class=PixCaption>Edit Entry and Optionally Add to Favorites List <a HREF="http://support.alphasoftware.com/imagesV8/Code_Library_Edit_Entry.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=A5><a name=Special_Functions>Special Functions</a></p>



<p>Of particular interest is the ability to use <span class=Bolded>character</span>&nbsp; 
 <a href="ASK Variables.html" title="ASK Variables" class="wiki">Ask Variables</a> to gather variables 
 when the code is inserted into the script. The following picture shows 
 the code <span class=Code1>var->AskC_Title.</span> The picture below 
 also shows the <span class=Code1>\ip</span> function, which sets the cursor 
 insertion point. </p>



<p class=Pix><img src="images/Code_Library_Edit_Entry.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 411px;
							height: 177px;
							float: none;
							border-style: none;
							border-style: none;"
					width=411
					height=177
					border=0></p>



<p>To add this entry from the <span class=Screen>Code Library</span> to 
 your script, place the cursor at the insertion point in the script and 
 click on the <span class=Screen>Code Library</span> entry. Clicking on 
 the Modal Shell entry (which uses an ask variable) causes the following 
 dialog to appear. </p>



<p class=Pix><img src="images/Code_Library_Ask_Parameter.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 258px;
							height: 106px;
							float: none;
							border-style: none;
							border-style: none;"
					width=258
					height=106
					border=0></p>



<p>Entering the title and clicking <span class=Button>OK</span> pastes 
 the code into the script. Note that the cursor is positioned at the location 
 of the <span class=Code1>\ip</span> function. </p>



<p class=Pix><img src="images/Code_Library_Insert_Code.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 289px;
							height: 245px;
							float: none;
							border-style: none;
							border-style: none;"
					width=289
					height=245
					border=0></p>



<p>A function call formatted in the following manner will be executed, 
 instead of copied into your <span class=Screen>Code Editor</span>. <a HREF="http://support.alphasoftware.com/imagesV8/Code_Library_%40Function.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=Pix><img src="images/Code_Library_%40Function.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 453px;
							height: 155px;
							float: none;
							border-style: none;
							border-style: none;"
					width=453
					height=155
					border=0></p>



<p class=A5><a name=Standard_Libraries>Standard Libraries</a></p>



<p>Alpha Anywhere includes several standard libraries:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>HTML Character Entities 
 - inserts the HTML code equivalents of the those characters that are not 
 HTML safe</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>HTML Colors - inserts the 
 hexadecimal number equivalents of the colors defined in <a href="../../Unclassified/Settings.html#Database_Colors" title="Settings" class="wiki">Database_Colors</a>.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>HTML Tags - inserts the 
 codes for the various HTML styles</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Learning Xdialog - inserts 
 the samples from the Learning Xdialog database</p>

</li>
</ul>

<p class=A5><a name=Running_Xbasic_Code1>Running Xbasic Code</a></p>



<p>You can create "genies" that are invoked by inserting an entry 
 on the Code Library. i.e. the Code Library can contain Xbasic code that 
 is executed when you double click an entry.</p>



<p>For example, assume you created an entry in the Code Library that looked 
 like this:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>'@script:</p>


<p class=Code>dim name&nbsp;as&nbsp;C = "Ed"</p>


<p class=Code>dim city&nbsp;as&nbsp;C = "Chester"</p>


<p class=Code>dim company&nbsp;as&nbsp;C = "Alpha Software"</p>


<p class=Code>code_to_insert = "Hello " + name + " from 
 " + city + " who works at: " + company</td></tr>
</table>

<p>Note that the code snippet <span class=Bolded>must</span> start with 
 <span class=Code1>'@script:</span> . The code can do anything you want, 
 and when it completes executing the result of the string "code_to_insert" 
 is inserted into the <span class=Screen>Code Editor</span> at the current 
 insertion point.</p>



<p>The above example is obviously very simplistic because it does not have 
 any user interface. Here is a more practical example:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>'@script:</p>


<p class=Code>code_to_insert = a5_connectionstring()</td></tr>
</table>

<p>This would prompt the user for an ADO connection string and insert it 
 into the code.</p>



<p class=A5><a name=Using_the_Scrapbook>Using the Scrapbook</a></p>



<p>The Scrapbook is a code library in Alpha Anywhere that acts like the Windows 
 Clipboard. When you paste from the Scrapbook, you always paste the top 
 entry in the Scrapbook. Unlike the Windows Clipboard, you can add many 
 entries to the Scrapbook, and you can open it up to paste older entries.</p>



<p>To paste from the Scrapbook, right click and select <span class=Button>Paste 
 from Scrapbook</span>. Alternatively, open the Code Library by clicking 
 <img src="images/Code_Library_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 22px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0>, selecting <span class=Button>Scrapbook</span>, and clicking 
 the selected entry.</p>



<p class=A5><a name=Using_the_Code_Library>Using the Code Library</a></p>



<p><span class=Bolded>Method One</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Position your cursor 
 in the <span class=Screen>Code Editor</span> where you want to insert 
 code.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Code 
 > Code Library...</span> or click <img src="images/Code_Library_button.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0> to display the <span 
 class=Screen>Code Library</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select a library 
 from the drop-down list box at top.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Double-click on any 
 entry. One of the following actions will occur, depending on how you defined 
 this entry.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The code will be inserted 
 at the cursor location in the <span class=Screen>Code Editor</span>.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The code will display one 
 or more dialog boxes to gather variable values and then insert the code.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The code will be executed.</p>

</li>
</ol>

<p class=A5><span class=Bolded>Method Two</span></p>



<p>The right-click <span class=Screen>Code Library</span> menu contains 
 a list of favorites and a list of up to 20 of the entries from the current 
 code library.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Position your cursor 
 in the <span class=Screen>Code Editor</span> where you want to insert 
 code.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right click on the 
 code window.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Code 
 > Library</span> and select the name of the library entry.</p>

</li>
</ol>

<p class=A5><a name=Displaying_a_Library_Entry>Displaying a Library Entry</a></p>



<p>The <span class=Screen>Code Library</span> allows you to create multiple 
 named libraries, each of which may contain a large number of code snippets.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To display the <span 
 class=Screen>Code Library</span>, select <span class=Button>Code > 
 Code Library...</span> or click <img src="images/Code_Library_button.gif"
										x-maintain-ratio=TRUE
										style="border: none;
												width: 22px;
												height: 22px;
												float: none;
												border-style: none;
												border-style: none;"
										width=22
										height=22
										border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the library 
 of interest from the drop-down list at top and click <img src="images/Preview_Button.gif"
															x-maintain-ratio=TRUE
															style="border: none;
	width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
															width=22
															height=22
															border=0>.</p>

</li>
</ol>

<p class=A5><a name=Adding_a_New_Library_Entry>Adding a New Library Entry</a></p>



<p>To add a new entry to the <span class=Screen>Code Library</span>.</p>



<p><span class=Bolded>Method One</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>While viewing the 
 <span class=Screen>Code Editor</span>, click <img src="images/Code_Library_button.gif"
													x-maintain-ratio=TRUE
													style="border: none;
															width: 22px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=22
													height=22
													border=0> to display 
 the <span class=Screen>Code Library</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the library 
 that will receive the new entry.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the code segment 
 you wish to save.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Add_Button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> to display the <span class=Screen>Enter Description</span> 
 dialog box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, check 
 <span class=Button>Put on Right click menu favorites?</span> .</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter a description 
 of the new entry and click <span class=Button>OK</span>.</p>

</li>
</ol>

<p><span class=Bolded><span class=Bolded>M</span> ethod Two</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the code to 
 be added.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Code 
 > Code Library...</span> or click <img src="images/Code_Library_button.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the library 
 of interest from the drop-down list at top.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right click on the 
 <span class=Screen>Code Library</span> window and select <span class=Button>Add 
 Selected Text to Code Library</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter a description 
 for the new entry.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, check 
 <span class=Button>Put on Right-Click menu favorites</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>.</p>

</li>
</ol>

<p><span class=Bolded>Method Three</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the code to 
 be added.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Code 
 > Code Library...</span> or click <img src="images/Code_Library_button.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the code segment.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Add_Button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>.</p>

</li>
</ol>

<p class=A5><a name=Editing_a_Library_Entry>Editing a Library Entry</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Code 
 > Code Library...</span> or click <img src="images/Code_Library_button.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the library 
 of interest from the drop-down list at top.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the code clip 
 of interest from the list box and click <img src="images/Edit_Button.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 22px;
														height: 22px;
														float: none;
														border-style: none;
														border-style: none;"
												width=22
												height=22
												border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the <span class=Control>Description</span> of the code clip.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Edit the code&nbsp;as&nbsp;desired.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, check 
 <span class=Button>Add to favorites</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to save your changes or <span class=Button>Cancel</span> to discard them.</p>

</li>
</ol>

<p class=A5><a name=Deleting_a_Library_Entry>Deleting a Library Entry</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Code 
 > Code Library...</span> or click <img src="images/Code_Library_button.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the library 
 of interest from the drop-down list at top.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the code clip 
 of interest from the list box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Delete_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Confirm your action 
 by clicking <span class=Button>Yes</span>.</p>

</li>
</ol>

<p class=A5><a name=Sorting_Library_Entries>Sorting Library Entries</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Code 
 > Code Library...</span> or click <img src="images/Code_Library_button.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the library 
 of interest from the drop-down list at top.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right click on the 
 <span class=Screen>Code Library</span> window and select <span class=Button>Sort 
 > Ascending</span> or <span class=Button>Sort > Descending</span>.</p>

</li>
</ol>

<p class=A5><a name=Creating_a_New_Library>Creating a New Library</a></p>



<p>Code libraries are saved with a <span class=Code1>*.clip_lib</span> 
 extension in the <span class=Code1>code_libraries</span> folder under 
 your Alpha Anywhere program folder.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Code 
 > Code Library...</span> or click <img src="images/Code_Library_button.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "<New 
 Library>" from the drop-down list box at top.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the new <span 
 class=Control>Code Library Name</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to continue or <span class=Button>Cancel</span> to discard your inputs.</p>

</li>
</ol>

<p class=A5><a name=Deleting_a_Library>Deleting a Library</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Code 
 > Code Library...</span> or click <img src="images/Code_Library_button.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "<Delete 
 Library>" from the drop-down list box at top.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the library 
 to delete from the resulting list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 and <span class=Button>Yes</span> to delete the library or <span class=Button>Cancel</span> 
 to quit without any action.</p>

</li>
</ol>

<p class=A5><a name=Importing_a_Version_5_Library>Importing a Version 5 
 Library</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Code 
 Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Code 
 > Code Library...</span> or click <img src="images/Code_Library_button.gif"
											x-maintain-ratio=TRUE
											style="border: none;
													width: 22px;
													height: 22px;
													float: none;
													border-style: none;
													border-style: none;"
											width=22
											height=22
											border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "<Import 
 V5 Code Library>" from the drop-down list box at top.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Yes</span> if the version 5 library was successfully 
 identified.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>No</span>.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Navigate to and 
 select the library file.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Open</span>.</p>

</li>
	</ol>
</ol>

<p class=A5><a name=Using_Ask_Variables_in_Code_Clips>Using Ask Variables 
 in Code Clips</a></p>



<p>Of particular interest is the ability to use <span class=Bolded>character</span> 
 <a href="ASK Variables.html" title="ASK Variables" class="wiki">Ask Variables</a> to gather variables 
 when the code is inserted into the script. The following picture shows 
 the code <span class=Code1>var->AskC_Title.</span> The picture below 
 also shows the <span class=Code1>\ip</span> function, which sets the cursor 
 insertion point. </p>



<p class=Pix><img src="images/Code_Library_Edit_Entry.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 411px;
							height: 177px;
							float: none;
							border-style: none;
							border-style: none;"
					width=411
					height=177
					border=0></p>



<p>To add this entry from the <span class=Screen>Code Library</span> to 
 your script, place the cursor at the insertion point in the script and 
 click on the <span class=Screen>Code Library</span> entry. Clicking on 
 the "Modal Shell" entry (which uses an ask variable) causes 
 the following dialog to appear. </p>



<p class=Pix><img src="images/Code_Library_Ask_Parameter.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 258px;
							height: 106px;
							float: none;
							border-style: none;
							border-style: none;"
					width=258
					height=106
					border=0></p>



<p>Entering the title and clicking <span class=Button>OK</span> pastes 
 the code into the script. Note that the cursor is positioned at the location 
 of the <span class=Code1>\ip</span> function. </p>



<p class=Pix><img src="images/Code_Library_Insert_Code.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 289px;
							height: 245px;
							float: none;
							border-style: none;
							border-style: none;"
					width=289
					height=245
					border=0></p>



<p class=A5><a name=Making_Function_Calls>Making Function Calls</a></p>



<p>A function call formatted in the following manner will be executed, 
 instead of copied into your <span class=Screen>Code Editor</span>. <a HREF="http://support.alphasoftware.com/imagesV8/Code_Library_%40Function.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=Pix><img src="images/Code_Library_@Function.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 453px;
							height: 155px;
							float: none;
							border-style: none;
							border-style: none;"
					width=453
					height=155
					border=0></p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Code+Library">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"older images","keywords":"desktop,guide,xdialog"}--->
</body></html>