	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Colored Dynamic Text</p>

<p>Unlike the example in the <a href="Colored Static Text.html" title="Colored Static Text" class="wiki">Colored Static Text</a> topic, the color for the text to be displayed in the dialog is contained in the variable <span class=Code1>font_color</span>. The background color is also determined by a variable, <span class=Code1>background_color</span>, but it is hard coded to "Win3d".</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dim text&nbsp;as&nbsp;C</p>

<p class=Code>dim formatted_text&nbsp;as&nbsp;C</p>

<p class=Code>text = "Alpha Anywhere Can Do Colored Dynamic Text"</p>

<p class=Code>font_color = "Dark Blue"</p>

<p class=Code>background_color = "Win3d"</p>

<p class=Code>flag = .t.</p>

<p class=Code>formatted_text = "{B="+background_color+"}" + "{C="+font_color+"}" + text</p>

<p class=Code>ui_dlg_box("Colored Text",&lt;&lt;%dlg%</p>

<p class=Code>Below is an example of 'owner draw' dynamic text;</p>

<p class=Code>{lf};</p>

<p class=Code>{frame=1,1}</p>

<p class=Code>{text=%O={@@}%100,3:formatted_text?flag};</p>

<p class=Code>{lf};</p>

<p class=Code>Text: [.40text!change] Font color: [%c%.20font_color!change];</p>

<p class=Code>{lf};</p>

<p class=Code>(flag) Enable/Disable text;</p>

<p class=Code>%dlg%,&lt;&lt;%code%</p>

<p class=Code>if (a_dlg_button = "change") then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;formatted_text = "{B="+background_color+"}" + "{C="+font_color+"}" + text</p>

<p class=Code>end if</p>

<p class=Code>%code%)</td> </tr> </table><p>Note how the <span class=Code1>(flag)</span> check box sets the <span class=Code1>flag</span> variable, which enables or disables the dynamic text. </p>

<p class=Pix> <img src="images/XD_Colored_Dynamic_Text.gif" x-maintain-ratio=TRUE style="border: none; width: 522px; height: 198px; float: none; border-style: none; border-style: none;" width=522 height=198 border=0></p>

<p class=A5>Next</p>

<p> <a href="Colored Static Text.html" title="Colored Static Text" class="wiki">Colored Static Text</a></p>

<p class=A5>See Also</p>

<p> <a href="/Index/Miscellaneous Examples.html" title="Miscellaneous Examples" class="wiki">Miscellaneous Examples</a></p>

<p class=A5>Limitations</p>

<p>Desktop applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Colored+Dynamic+Text">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>