	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Computing the Size of an Embedded Dialog</p>

<p>This script demonstrates how the size of a parent dialog box can be automatically calculated with the <a href="/Desktop_Api/Xdialog Function Reference/UI_INFO_DLG_DEF_CLIENT_HEIGHT Function.xml" title="UI_INFO_DLG_DEF_CLIENT_HEIGHT Function" class="wiki">UI_INFO_DLG_DEF_CLIENT_HEIGHT(</a>)and <a href="/Desktop_Api/Xdialog Function Reference/UI_INFO_DLG_DEF_CLIENT_WIDTH Function.xml" title="UI_INFO_DLG_DEF_CLIENT_WIDTH Function" class="wiki">UI_INFO_DLG_DEF_CLIENT_WIDTH(</a>)functions so that the embedded dialog box that it contains can be displayed correctly, without clipping any portion of the embedded dialog box.</p>

<p>This statement creates some content for the embedded list box.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>list = a5.Color_Enum()</td> </tr> </table><p>This statement defines the embedded list box.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>str = &lt;&lt;%dlg%</p>

<p class=Code>{nocaption}</p>

<p class=Code>[.100,5^#list];</p>

<p class=Code>%dlg%</td> </tr> </table><p>The UI_INFO_DLG_DEF_CLIENT_HEIGHT()and UI_INFO_DLG_DEF_CLIENT_WIDTH() functions calculate the size of the embedded dialog.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>w = ui_info_dlg_def_client_width(str)</p>

<p class=Code>h = ui_info_dlg_def_client_height(str)</p>

<p class=Code>ui_msg_box("Size of embedded dialog: ","width: " + w + crlf()+ "height : " + h)</td> </tr> </table><p>The script substitutes the actual calculated size of the embedded dialog into the parent dialog.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dlg_body = &lt;&lt;%dlg%</p>

<p class=Code>{startup=init}</p>

<p class=Code>{embedded=<strong>w</strong>",<strong>h</strong>":window}</p>

<p class=Code>%dlg%</p>

<p class=Code>dlg_body = stritran(dlg_body,"<strong>h</strong>","" + h)</p>

<p class=Code>dlg_body = stritran(dlg_body,"<strong>w</strong>","" + w)</td> </tr> </table><p>The script displays only the parent dialog.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>ui_msg_box("Parent Dialog Body - with placeholders for Height and Width replaced", dlg_body)</td> </tr> </table><p>The script displays the parent and embedded dialogs.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>ui_msg_box("Parent Dialog Body - with placeholders for Height and Width replaced", dlg_body)</p>

<p class=Code>ui_dlg_box("Dialog Box with Embedded Dialog - Parent Dialog is correctly sized",dlg_body,&lt;&lt;%code%</p>

<p class=Code>if a_dlg_button = "init" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_modeless_dlg_box("window",str,"1=1")</p>

<p class=Code>end if</p>

<p class=Code>%code%)</td> </tr> </table><p class=A5>Next</p>

<p> <a href="Colored Dynamic Text.html" title="Colored Dynamic Text" class="wiki">Colored Dynamic Text</a></p>

<p class=A5>See Also</p>

<p> <a href="/Desktop_Api/Xdialog Function Reference/UI_INFO_DLG_DEF_CLIENT_HEIGHT Function.xml" title="UI_INFO_DLG_DEF_CLIENT_HEIGHT Function" class="wiki">UI_INFO_DLG_DEF_CLIENT_HEIGHT(</a>), <a href="/Desktop_Api/Xdialog Function Reference/UI_INFO_DLG_DEF_CLIENT_WIDTH Function.xml" title="UI_INFO_DLG_DEF_CLIENT_WIDTH Function" class="wiki">UI_INFO_DLG_DEF_CLIENT_WIDTH(</a>), <a href="/Index/Miscellaneous Examples.html" title="Miscellaneous Examples" class="wiki">Miscellaneous Examples</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Computing+the+Size+of+an+Embedded+Dialog">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>