	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Conditional Expression Builder</p>



<p>The Conditional Expression Builder allows you to associate an <span 
 class=Bolded>expression</span> that references one or more fields in the 
 table with a display statement (in Xdialog syntax) that may contain static 
 text, text computed from table fields, any type of font formatting, buttons, 
 and images. You compose the display statement interactively. You have 
 have multiple expressions that apply different display statements for 
 different conditions. Alpha Anywhere uses the <span class=Bolded>first</span> 
 condition that satisfies the expression and ignores any other conditions 
 that may also satisfy the expression.</p>



<p>For example, if you have the following expressions and the <span class=Code1>lastname</span> 
 field contains the value "Pierce".</p>




<table style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Expression</td>
<td colspan="1" class="tableHeader" rowspan="1" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Action</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Result</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Argument>lastname < "b"</span></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display field contents in blue.</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Condition is ignored</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Argument>lastname < "m"</span></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display field contents in green.</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Condition is ignored</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Argument>lastname < "s"</span></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display field contents in yellow.</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The data is displayed yellow.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Argument>lastname >= "s"</span></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display field contents in red.</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Condition is ignored</td></tr>
</table>

<p>You do not need to know anything about Xdialog to use this utility. 
 </p>



<p class=Pix><img src="images/UG_Conditional_Expression_Builder.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 472px;
							height: 403px;
							float: none;
							border-style: none;
							border-style: none;"
					width=472
					height=403
					border=0></p>



<p>The conditions shown above produce the following browse display. <a HREF="http://support.alphasoftware.com/imagesV8/UG_Condition_Column_Text_Content.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=Pix><img src="images/UG_Condition_Column_Text_Content.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 595px;
							height: 279px;
							border-style: none;"
					width=595
					height=279
					border=0></p>



<p>To create a condition and a display statement:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Add_Button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> <span class=Button>Add</span> to create a new condition.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the expression 
 in the <span class=Control>Expression</span> control. You may click 
	<img border="0" src="images/Button_black.png" width="26" height="26"> to use the 
	<a href="../../Data/FieldRules/Expression Builder.html" title="Expression Builder" class="wiki">Expression Builder</a> to compose the expression. 
 This expression must return a logical value (TRUE or FALSE).</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Edit 
 Settings</span> to display the 
	<a href="Advanced Text Properties Dialog.html" title="Advanced Text Properties Dialog" class="wiki">Advanced Text Properties</a> dialog to define the 
 display statement.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Repeat steps 1 to 
 3 for each additional condition that you want to create.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to save your inputs and return to the calling dialog.</p>

</li>
</ol>




<p class=A5>Limitations</p>



<p>Desktop applications only.</p>



<p class=A5>See Also</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Conditional+Expression+Builder">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,browse,xdialog"}--->
</body></html>