	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Conditionally Replacing controls</p>

<p>In the preceding example we saw that the space that would have been taken up by controls that are conditionally displayed is taken up even if the controls are not displayed.</p>

<p>In certain circumstances, you may want to replace one set of controls with another set of controls, depending on the value of a conditional expression. The <span class=Code1>{start_pos}</span> command can be used to reset the starting position of the current cell to the top-left of the previous cell.</p>

<p>The syntax for the command is:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{start_pos}</td> </tr> </table><p>The <span class=Code1>{start_pos}</span> command is used in the second and subsequent block of conditional controls. For example:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{condition=condition1}</p>

<p class=Code>.. controls that display if condition1 is .t.</p>

<p class=Code>{condition=condition2}</p>

<p class=Code>{start_pos}</p>

<p class=Code>.. controls that display if condition2 is .t.</p>

<p class=Code>{condition=condition3}</p>

<p class=Code>{start_pos}</p>

<p class=Code>.. controls that display if condition3 is .t.</td> </tr> </table><p>It is recommended that you enclose each block of controls in <span class=Code1>{Region} {Endregion}</span> command pairs. For example:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{condition=condition1}</p>

<p class=Code>{region}.. controls that display if condition1 is .t.{endregion}</p>

<p class=Code>{condition=condition2}</p>

<p class=Code>{start_pos}</p>

<p class=Code>{region}.. controls that display if condition2 is .t.{endregion}</p>

<p class=Code>{condition=condition3}</p>

<p class=Code>{start_pos}</p>

<p class=Code>{region}.. controls that display if condition3 is .t.{endregion}</p>

<p class=Code>;</td> </tr> </table><p class=Note> <span class=Note>IMPORTANT</span> :&nbsp;&nbsp;Notice in the above sample code structure that the <span class=Code1>{endregion}</span> for each conditional control is not terminated with a line break command ( ';' ),&nbsp;&nbsp;A line break is only used after the last conditional control</p>

<p>The following script demonstrates how this can be used. The dialog displays a prompt for Credit Card Number if the radio button is set to credit card. If the radio button is set to 'Check', the dialog displays a prompt for Check Number and Date in the place where the prompt for Card Number was displayed.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>payby = 1</p>

<p class=Code>ui_dlg_box("Title",&lt;&lt;%dlg%</p>

<p class=Code>{region=a}</p>

<p class=Code>Name:|[.40name];</p>

<p class=Code>{endregion};</p>

<p class=Code>{region}</p>

<p class=Code>Paid by: (payby={Cash,Check,Credit Card});</p>

<p class=Code>{endregion};</p>

<p class=Code>{condition=(payby=3)}</p>

<p class=Code>{region=a}</p>

<p class=Code>Credit Card Number: |[.20number]</p>

<p class=Code>{endregion}</p>

<p class=Code>{condition=(payby=2)}</p>

<p class=Code>{start_pos}</p>

<p class=Code>{region=a}</p>

<p class=Code>Check Number: |[.20number] Date: [.10date]</p>

<p class=Code>{endregion};</p>

<p class=Code>{condition=.t.}</p>

<p class=Code>{region=a}</p>

<p class=Code>Ship Via: |[.40ship_via];</p>

<p class=Code>{endregion};</p>

<p class=Code>%dlg%)</td> </tr> </table><p>This script produces this dialog when the condition, payby=2, is TRUE. </p>

<p class=Pix> <img src="images/XD_Replacment_2.gif" x-maintain-ratio=TRUE style="border: none; width: 399px; height: 176px; float: none; border-style: none; border-style: none;" width=399 height=176 border=0></p>

<p>And, it produces this dialog when the condition, payby=3, is TRUE. </p>

<p class=Pix> <img src="images/XD_Replacment_3.gif" x-maintain-ratio=TRUE style="border: none; width: 399px; height: 176px; float: none; border-style: none; border-style: none;" width=399 height=176 border=0></p>

<p class=PixCaption>Lesson 4: Replacing Controls Conditionally</p>

<p>The key part of the above script is this set of statements:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{condition=(payby=3)}</p>

<p class=Code>{region=a}</p>

<p class=Code>Credit Card Number: |[.20number]</p>

<p class=Code>{endregion}</p>

<p class=Code>{condition=(payby=2)}</p>

<p class=Code>{start_pos}</p>

<p class=Code>{region=a}</p>

<p class=Code>Check Number: |[.20number] Date: [.10date]</p>

<p class=Code>{endregion}</p>

<p class=Code>;</td> </tr> </table><p>Notice that the region that contains the credit card number is not terminated with ';', while the region that contains the check number (the final conditional object) is terminated with ';'.</p>

<p class=A5>Next</p>

<p> <a href="Controls/Conditionally Sizing Controls.html" title="Conditionally Sizing Controls" class="wiki">Conditionally Sizing Controls</a></p>



<p class=A5>Limitations</p>

<p>Desktop applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Conditionally+Replacing+controls">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>