	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Lesson 4 More on Controlling the Layout of Dialogs</p>

<p>This lesson presents additional commands and techniques that you can use to control the layout of your dialog boxes.</p>

<ul style="list-style: disc;" type=disc> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Controls/Specifying the Default Button.html" title="Specifying the Default Button" class="wiki">Specifying the Default Button</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Controls/Buttons/Setting the Button Width.html" title="Setting the Button Width" class="wiki">Setting the Button Width</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Lesson 4 More on Controlling the Layout of Dialogs/Setting the Button Width.html#Setting_the_Button_Height" title="Setting the Button Width" class="wiki">Setting the Button Height</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Controls/Buttons/Setting the Button Hot Key.html" title="Setting the Button Hot Key" class="wiki">Setting the Button Hot Key</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Conditionally Disabling Controls.html" title="Conditionally Disabling Controls" class="wiki">Conditionally Disabling Controls</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Controls/Conditionally Showing Controls.html" title="Conditionally Showing Controls" class="wiki">Conditionally Showing Controls</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Conditionally Replacing controls.html" title="Conditionally Replacing controls" class="wiki">Conditionally Replacing Controls</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Controls/Conditionally Sizing Controls.html" title="Conditionally Sizing Controls" class="wiki">Conditionally Sizing Controls</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Setting the Initial Focus.html" title="Setting the Initial Focus" class="wiki">Setting the Initial Focus</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Auto-Selecting Text in a Text Box.html" title="Auto-Selecting Text in a Text Box" class="wiki">Auto-Selecting Text in a Text Box</a></p>

</li> </ul><p class=A5>See Also</p>

<p> <a href="/Index/Learning Xdialog Title.html" title="Learning Xdialog Title" class="wiki">Learning Xdialog</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Lesson+4+More+on+Controlling+the+Layout+of+Dialogs">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"short list","keywords":"desktop,guide,xdialog"}--->
</body></html>