	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Define Variable Dialog Box</p>



<p>The <span class=Screen>Variable Definition</span> dialog box is available 
 when defining a table or a layout. Use this dialog to define local, session, 
 or global variables that you want to be visible to a table (and its layouts) 
 or just a layout (form, browse, report, letter, or label).</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Control>Level</span> 
 can be</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Local (only available 
 to and usable by layouts and their scripts)</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Session (available 
 to all layouts based on the table and all scripts based on the layouts)</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Global (available to 
 all layouts, scripts, and functions)</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Control>Name</span> 
 can be any character string that conforms to the <a href="/Server/Guide/Design/Platform/Xbasic/Declaring a Variable.html" title="Declaring a Variable" class="wiki">rules   for variable naming</a>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Control>Type</span> 
 can be</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p>Character </li>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p>Numeric </li>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p>Date </li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Logical</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Control>Value</span> 
 is optional. It defines an initial value for the variable.</p>

</li>
</ol>

<p class=Pix><img src="images/UG_Variable_Definition_Dialog.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 551px;
							height: 251px;
							float: none;
							border-style: none;
							border-style: none;"
					width=551
					height=251
					border=0></p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Define+Variable+Dialog+Box">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>