	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			
<p class=A3Topic>Define Parameters Dialog Box</p>



<p>The <span class=Screen>Define Parameters</span> dialog allows you to 
 define Parameters (i.e. variables), whose value will be prompted for at 
 run-time. For example, you might define a parameter called <span class=Code1>which_state</span>, 
 and then you could define a filter expression as:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>State = var->which_state</td></tr>
</table>

<p>Alpha Five will prompt for the value of <span class=Code1>which_state</span> 
 at run-time. Assuming the user selected "Florida", Alpha Five 
 would perform the query:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>State = "Florida"</td></tr>
</table>

<p class=A5>Procedure</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Add 
 Parameter</span> button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Specify values for 
 the following fields:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p><span class=Control>Name</span> - the name of 
 the parameter. </li>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p><span class=Control>Prompt</span> - the text 
 that appears on the dialog box that prompts for this parameter at run-time 
 </li>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p><span class=Control>Type</span> - the type of 
 the parameter (Character, Numeric, Date, or Logical) </li>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p><span class=Control>Style</span> - see below 
 </li>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p><span class=Control>Default Value</span> - the 
 default value for this parameter. When the dialog that prompts for parameters 
 is displayed, the value that you specify here is shown&nbsp;as&nbsp;a 
 default value. <span class=Note>Note</span> : You can specify an 
 expression for the default value by starting the Default Value with an 
 equal sign. For example, to specify today's date&nbsp;as&nbsp;the default 
 value for a date field, specify: <span class=Code1>=date()</span>. </span></li>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p><span class=Note><span class=Control>Choices</span> 
 (for Radio Buttons, List Boxes, and Combo Boxes). Click the <img src="images/Choices_button.gif"
	style="border: none;
			width: 18px;
			height: 21px;
			border-style: none;
			border-style: none;"
	width=18
	height=21
	border=0> button to display the <span   class=Screen><a href="Define Choices Dialog Box.html" title="Define Choices Dialog Box" class="wiki">Define Choices</a></span> dialog box where you can enter 
 a comma delimited list of choices available to the user.&nbsp;  
 </span></li>
	</ul>
	
	<p class=Pix><span class=Note><img src="images/Define_Parameters_dialog_box_1.gif"
										x-maintain-ratio=TRUE
										style="border: none;
												width: 450px;
												height: 316px;
												float: none;
												border-style: none;
												border-style: none;"
										width=450
										height=316
										border=0></span></p>


	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Note>Click 
 the <span class=Button>Customize</span> tab.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Note>Optionally, 
 enter a new <span class=Control>Dialog title</span>.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Note>Optionally, 
 change the <span class=Control>OK Button text</span>.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Note>Optionally, 
 change the <span class=Control>Cancel Button text</span>.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Note>Click 
 <span class=Button>OK</span> to continue or <span class=Button>Cancel</span> 
 to discard your inputs. </span></p>

</li>
</ol>

<p class=Pix><span class=Note><img src="images/Define_Parameters_dialog_box_2.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 450px;
											height: 316px;
											float: none;
											border-style: none;
											border-style: none;"
									width=450
									height=316
									border=0></span></p>



<p class=A5><span class=Note>Style Choices</span></p>




<table style="x-cell-content-align: top;
				width: 100%;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 22.768%;">
<col style="width: 56.571%;">
<col style="width: 14.909%;">

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableHead>Style Name</td>
<td rowspan="1" colspan="2" class="tableHeader" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableHead>Description</td>
<td_null></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableLeft>Text Box&nbsp; </td>
<td rowspan="1" colspan="2" class="TableCell" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableLeft><img src="images/AS_Text_Box.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 126px;
								height: 31px;
								float: none;
								border-style: none;
								border-style: none;"
						width=126
						height=31
						border=0></td>
<td_null></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableLeft>Password&nbsp; </td>
<td rowspan="1" colspan="2" class="TableCell" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableLeft><img src="images/AS_Password.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 126px;
								height: 31px;
								float: none;
								border-style: none;
								border-style: none;"
						width=126
						height=31
						border=0></td>
<td_null></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableLeft>Check Box&nbsp; </td>
<td rowspan="1" colspan="2" class="TableCell" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableLeft><img src="images/AS_Checkbox.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 26px;
								height: 23px;
								float: none;
								border-style: none;
								border-style: none;"
						width=26
						height=23
						border=0></td>
<td_null></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableLeft>Radio&nbsp;Buttons&nbsp; </td>
<td rowspan="1" colspan="2" class="TableCell" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableLeft><img src="images/AS_Radio_Buttons.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 180px;
								height: 22px;
								float: none;
								border-style: none;
								border-style: none;"
						width=180
						height=22
						border=0></td>
<td_null></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableLeft>List Box&nbsp; </td>
<td class="TableCell" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableLeft>Displays a list of choices in a list. The choices are 
 specified in the Choices field. Enter a comma delimited list, with no 
 spaces between the commas. For example, Boston,New York,Atlanta.</td>
<td rowspan="2" colspan="1" class="TableCell" style="x-cell-content-align: top; width: 14.909%;" valign="top" width="14.909%">
<p class=TableLeft><img src="images/AS_Listbox.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 150px;
								height: 82px;
								border-style: none;
								border-style: none;"
						width=150
						height=82
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableLeft>Record List-List Box</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableLeft>Same&nbsp;as&nbsp;List Box, except that the choices 
 are automatically derived from the values in a field in a table.</td>
<td_null></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableLeft>Combo Box&nbsp; </td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableLeft>Displays a list of choices in a drop down list. The 
 user is restricted to selecting from the list.</td>
<td colspan="1" rowspan="4" class="TableCell" style="x-cell-content-align: top; width: 14.909%;" valign="top" width="14.909%">
<p class=TableLeft><img src="images/AS_Combo_Box.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 150px;
								height: 124px;
								float: none;
								border-style: none;
								border-style: none;"
						width=150
						height=124
						border=0></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableLeft>Edit-Combo Box</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableLeft>Same&nbsp;as&nbsp;Combo Box, except that the user is 
 not restricted to selecting from the list. The user can type-in any value.</td>
<td_null></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableLeft>Record List-Combo Box</td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableLeft>Same&nbsp;as&nbsp;Combo Box, except that the choices 
 are automatically derived from the values in a field in a table.</td>
<td_null></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 22.768%;" valign="top" width="22.768%">
<p class=TableLeft>Record List-Edit-Combo Box</td>
<td class="TableCell" style="x-cell-content-align: top; width: 56.571%;" valign="top" width="56.571%">
<p class=TableLeft>Same&nbsp;as&nbsp;Edit-Combo Box, except that the choices 
 are automatically derived from the values in a field in a table.</td>
<td_null></tr>
</table>

<p class=A5><span class=Note>Defining a Record List Control</span></p>



<p><span class=Note>To define a Record List control:</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Note>Select 
 one of the Record List styles for the parameter</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Note>Click 
 the <span class=Button>Define Record List</span> button.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Note>Specify 
 the table</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Note>Specify 
 the field</span></p>

</li>
</ol>

<p><span class=Note>The Record List will be populated with field values 
 from the specified field in the specified table.</span></p>





<p class=A5><span class=Note></span></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Define+Parameters+Dialog+Box">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,design,guide,xdialog","tags":"desktop"}--->
</body></html>