	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Dialog Box for User Sign-in</p>



<p class=A5>Description</p>



<p>The following Xdialog script was submitted by Tom Henkel, Senior Systems 
 Analyst Bergen County Board of Social Services. This sample is part of 
 the code used to control access to a large (300+ user) network of Alpha 
Anywhere users. </p>



<p class=Pix><img src="images/XD_Dialog Box for User Sign-in.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 306px;
							height: 397px;
							float: none;
							border-style: none;
							border-style: none;"
					width=306
					height=397
					border=0></p>



<p class=A5>Dialog Box Code</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>************* Dialog Box for User Sign-in *****************</p>


<p class=Code>******* Dialog Box Code *********</p>


<p class=Code>userid = ""</p>


<p class=Code>passwd = ""</p>


<p class=Code>f = file.open(aa.bcbss.path+"\bcbss\bergen2.bmp",FILE_RO_SHARED)</p>


<p class=Code>UI_BITMAP_LOAD( "BCBSS",F.READB(10000000) )</p>


<p class=Code>f.close()</p>


<p class=Code>rslt = ui_dlg_box(aa.bcbss.agency+" - Security",<<%dlg%</p>


<p class=Code>{frame=1,1}</p>


<p class=Code>{region}</p>


<p class=Code>{sp=20}{image=BCBSS};</p>


<p class=Code>{sp=3} Welcome to the {text=38aa.bcbss.agency};</p>


<p class=Code>{lf};</p>


<p class=Code>Before proceeding, You Must Enter YOUR User-ID and Password</p>


<p class=Code>{lf};</p>


<p class=Code>{endregion};</p>


<p class=Code>{lf};</p>


<p class=Code>{frame=1,1:Please Sign In}</p>


<p class=Code>{region}</p>


<p class=Code>{lf};</p>


<p class=Code>{sp=10} Enter User-ID: |[10.6userid] ;</p>


<p class=Code>{lf};</p>


<p class=Code>{sp=10} Enter Password: |[%p%10.6passwd] ;</p>


<p class=Code>{lf};</p>


<p class=Code>{tab};</p>


<p class=Code>{endregion};</p>


<p class=Code>{lf};</p>


<p class=Code>{frame=1,1}</p>


<p class=Code>{region3}</p>


<p class=Code>{sp=10} <10&OK ?.not.(userid="")> {sp=4} 
 <10&Exit></p>


<p class=Code>{endregion3}</p>


<p class=Code>%dlg%, <<%b%</p>


<p class=Code>IF a_dlg_button = "&Exit"</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;'get out</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;A5.close()</p>


<p class=Code>END IF</p>


<p class=Code>%b%)</td></tr>
</table>

<p class=A5>Code to Test the Validity of User ID and Password</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>************* Code to test validity of user-id and password 
 ***************</p>


<p class=Code>dim tbl_secure&nbsp;as&nbsp;P</p>


<p class=Code>TBL_SECURE = table.open("secure2.dbf")</p>


<p class=Code>TBL_SECURE.index_primary_put("User")</p>


<p class=Code>recno = TBL_SECURE.fetch_find( UT(userid) )</p>


<p class=Code>IF recno < 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box(aa.bcbss.agency + " 
 - Security Error", "Invalid User Code Entered",16)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;userid=" "</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;passwd=" "</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;trys = trys + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;IF trys < 4 THEN</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;goto tryagain</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box(aa.bcbss.agency 
 + " - Security Error", "Too many tries, Application Closing")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A5.Close()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;END IF</p>


<p class=Code>ELSE</p>


<p class=Code>trys = 0</p>


<p class=Code>if tbl_secure.active = "X" THEN</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box(aa.bcbss.agency + " 
 - Security Error","This User - " + tbl_secure.User+ " 
 - is already signed onto the System",16)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;userid=" "</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;passwd=" "</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;trys = trys + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;IF trys < 4 THEN</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;goto tryagain</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box(aa.bcbss.agency 
 + " - Security Error", "Too many tries, Application Closing")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A5.Close()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;END IF</p>


<p class=Code>ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;IF trim( upper(PASSWD) ) <> trim( upper(tbl_secure.passwd) )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box(aa.bcbss.agency+" 
 - Security Error", "Invalid PASSWORD Entered ",16)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;userid=" 
 "</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;passwd=" 
 "</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;trys= trys 
 + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF trys < 
 4</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;goto 
 tryagain</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box(aa.bcbss.agency 
 + " - Security Error", "Too many tries, Application Closing")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A5.close()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END IF</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF tbl_secure.mode_get()> 
 0 THEN</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GOTO 
 BYPASS1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TBL_SECURE.change_begin()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl_secure.active 
 = "X"</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl_secure.activetime 
 = time()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TBL_SECURE.change_end(.T.)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END IF</td></tr>
</table>

<p class=A5>Code to Force the User to Change Password</p>



<p class=Pix></p>



<p class=Pix><img src="images/XD_Dialog Box for New Password.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 359px;
							height: 275px;
							float: none;
							border-style: none;
							border-style: none;"
					width=359
					height=275
					border=0></p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>*********** Code to force user to change password using another 
 xdialog box ******</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BYPASS1:</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;trys = 0</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF DATE()>=ADDMONTHS(tbl_secure.PWDDATE,2) 
 THEN</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;looper2:</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;rslt1 
 = ui_dlg_box(aa.bcbss.agency+" - Security",<<%dlg%</p>


<p class=Code>{frame=1,1}</p>


<p class=Code>{region}</p>


<p class=Code>{sp=3} Your Current Password Has Expired;</p>


<p class=Code>{lf};</p>


<p class=Code>You Must Enter a NEW Password and VERIFY it. {sp=5}</p>


<p class=Code>{lf};</p>


<p class=Code>{endregion};</p>


<p class=Code>{lf};</p>


<p class=Code>{frame=1,1:Please Enter your New Password}</p>


<p class=Code>{region}</p>


<p class=Code>{lf};</p>


<p class=Code>{sp=10} Enter Password: |[%p%10.6pwd1] ;</p>


<p class=Code>{lf};</p>


<p class=Code>{sp=7} Re-Enter Password: |[%p%10.6pwd2] ;</p>


<p class=Code>{lf};</p>


<p class=Code>{tab};</p>


<p class=Code>{endregion};</p>


<p class=Code>{lf};</p>


<p class=Code>{frame=1,1}</p>


<p class=Code>{region3}</p>


<p class=Code>{sp=10} <10&OK> {sp=4} <10&Exit></p>


<p class=Code>{endregion3}</p>


<p class=Code>%dlg%, <<%b%</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF 
 a_dlg_button = "&Exit"</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'get 
 out</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A5.close()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END 
 IF</p>


<p class=Code>%b%)</td></tr>
</table>

<p class=A5>Code to test if the New Password Just Changed.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>***************** Code to test new password just Changed 
 ********************</p>


<p class=Code>'Now test that passwords were entered</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF 
 PWD1 = "" .or. PWD1 = "******" THEN</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("ERROR 
 on PASSWORD", "You MUST enter SOMETHING...")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;trys 
 = trys + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF 
 trys < 4</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pwd1 
 = ""</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pwd2 
 = ""</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GOTO 
 looper2</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box(aa.bcbss.agency 
 + " - Security Error", "Too many tries, Application Closing")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A5.close()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END 
 IF</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END 
 IF</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF 
 PWD2 = "" .or. PWD2 = "******" THEN</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("ERROR 
 on Re-Enter of Password","You MUST enter SOMETHING...")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;trys 
 = trys + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF 
 trys < 4</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pwd1 
 = ""</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pwd2 
 = ""</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GOTO 
 looper2</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box(aa.bcbss.agency+" 
 - Security Error", "Too many tries, Application Closing")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A5.close()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END 
 IF</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END 
 IF</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF 
 PWD1 <> PWD2 THEN</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("PASSWORD 
 ERROR", "New Passwords Do NOT Match... Re-enter",16)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;trys 
 = trys + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF 
 trys < 4</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pwd1 
 = ""</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pwd2 
 = ""</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GOTO 
 looper2</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box(aa.bcbss.agency+" 
 - Security Error","Too many tries, Application Closing")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A5.close()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END 
 IF</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF 
 trim(PWD1) = trim(passwd) THEN</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("PASSWORD", 
 "NEW Password cannot match OLD Password... Try Again",16)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;trys 
 = trys + 1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IF 
 trys < 4</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pwd1 
 = ""</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pwd2 
 = ""</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GOTO 
 looper2</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box(aa.bcbss.agency 
 + " - Security Error","Too many tries, Application Closing")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A5.close()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END 
 IF</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END 
 IF</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TBL_SECURE.change_begin()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl_secure.passwd 
 = PWD1</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbl_secure.pwddate 
 = date()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TBL_SECURE.change_end(.T.)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("PASSWORD","Password 
 Changed Successfully",16)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END 
 IF</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ELSE</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;END IF</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;END IF</p>


<p class=Code>END IF</p>


<p class=Code>'define global variable for access</p>


<p class=Code>access = tbl_secure.access</p>


<p class=Code>level = tbl_secure.type</p>


<p class=Code>'define super-global variable for access</p>


<p class=Code>aa.bcbss.access = tbl_secure.access</p>


<p class=Code>aa.bcbss.level = tbl_secure.type</p>


<p class=Code>aa.bcbss.agency = agency</p>


<p class=Code>a5.show()</td></tr>
</table>

	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Dialog+Box+for+User+Sign-in">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>