<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv=\ "Content-Type\" content=\ "text/html; charset=ISO-8859-1\" />
		<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
		<div id="tiki-clean">
			<div id="tiki-mid">
				<div class="wikitopline clearfix" style="clear: both;">
					<div class="content">
						<div class="wikiinfo" style="float: left">
							<span id="description"></span>
						</div>
					</div>
				</div>
				<article id="top" class="wikitext clearfix nopagetitle">
					<h2>Embedded HTML in Xdialog</h2>
					<p>It is now even easier to embed HTML into Xdialog. Previously, you had to define and place the Internet Explorer ActiveX
						control in your Xdialog. Now, you simply use the new {html}, or {htmlIE} command.</p>
					<!-- startAnchor -->
					<a name="Example Using {html}"></a>
					<!-- endAnchor -->
					<h3>Example Using {html}</h3>
					<p>The script below uses the command:</p>
					<p class="xbasic">{html=50,10test}</p>
					<p>This indicates that we want to create a window that is 50 'characters' wide and 10 'lines' high, and display the HTML content
						that is stored in the variable called 'test' which is defined in the script.</p>
					<p>For example:</p>
					<p class="xbasic">htest = &lt&lt%html%
						<br />&lthtml>
						<br />&ltbody style="font-family:tahoma;font-size:8pt;background-color:#ffff00;">
						<br />&ltspan style="font-size:12pt;"> Hello World!&ltspan>
						<br />&ltp>This is HTML text. You can use the full array of HTML styling features, including CSS style sheets.&lt/p>
						<br />&lt/body>
						<br />&lt/html>
						<br />%html%
						<br />
						<br />ui_dlg_box("HTML in Xdialog",&lt;&lt;%dlg%
						<br />This is regular Xdialog content here.;
						<br />The area in the frame is HTML;
						<br />{frame=1,1}
						<br />{html=50,10htest};
						<br />{justify=center}
						<br />&lt10OK>;
						<br />
						<br />%dlg%)
						<br />
					</p>
					<p>
						<img src="images/htmlinxdialog.jpg" height="265" width="290" alt="Image" />
					</p>
					<p>The {html} and {htmlIE} commands are similar but have some important differences. The {html} command uses Alpha Five's built-in
						HTML rendering engine. It is extremely fast and lightweight, but does not support Javascript, and does not give you access
						to the HTML DOM. The {htmlIE} command uses Internet Explorer as its rendering engine, and does support Javascript and does
						give you access to the DOM.</p>
					<p>These two commands will allow you to create visually stunning Xdialogs. In particlar, the {htmlIE} control is extremely
						powerful because you can incorporate third-party open source Javascript libraries, such as JQuery, to add a vast array of
						features and visual effects to your Xdialogs.</p>
					<!-- startAnchor -->
					<a name="Xbasic Event Handlers for the {html} Command"></a>
					<!-- endAnchor -->
					<h4>Xbasic Event Handlers for the {html} Command</h4>
					<p>You can attach Xbasic event handlers for some of the standard DOM events in the HTML displayed in the {html} control.&nbsp;
						The following example shows some HTML with events. Notice a) the event names all have 'a5:' prefixes and b) 'div' are not
						'clickable' by default. It is necessary to add a special 'style' attribute in order to make the div clickable.</p>
					<p class="xbasic">dim html as c
						<br />html = &lt;&lt;%html%<br />&ltdiv a5:on
						<x>click="divClick()"
							<br />style="behavior: clickable;font-family: tahoma; font-size: 8pt; background-color: #ffffff; border-style: solid; border-width:
							1px; border-color: #a0a0a0;">
							<br />&ltimg style="vertical-align:middle;"
							<br />src="a5res:images/$$file.save.png" />Some text inside a DIV
							<br />&lt/div>
							<br />
							<br />&ltp>
							<br />&ltbutton a5:on
							<x>click="button
								<x>click()"
									<br />style="font-family: tahoma; font-size: 8pt;">Button&lt/button>
									<br />%html%
									<br />
									<br />dim p.object as p
									<br />dim p.dom as p
									<br />
									<br />ui_dlg_box("Test",&lt;&lt;%dlg%
									<br />{html=100,10html};
									<br />%dlg%,&lt;&lt;%code%
									<br />%code%)
									<br />
									<br />
									<br />function divClick as c ()
									<br />&nbsp;&nbsp;&nbsp; ui_msg_box("Notice","You clicked on a DIV")
									<br />end function
									<br />function button
									<x>click as c ()
										<br />&nbsp;&nbsp;&nbsp; ui_msg_box("Notice","You clicked on a Button")
										<br />end function
										<br />
										<br />&nbsp;</x>
								</x>
							</x>
						</x>
					</p>
					<!-- startAnchor -->
					<a name="Example Using {htmlIE}"></a>
					<!-- endAnchor -->
					<h3>Example Using {htmlIE}</h3>
					<p>When you use {htmlIE} you first need to define an arbitrarily named dot variable. The dot variable must have an .html property
						that contains the HTML to display. It can also have two optional properties:</p>
					<ul>
						<li>.dom - define this property if you want to get access to the DOM so that you can manipulate the DOM using Xbasic.</li>
						<li>.options - define this property if you want to set options. The only option currently supported is '.loadA5Core'.</li>
					</ul>
					<p>If you set options.loadA5Core to .t., {htmlIE} loads the Alpha Five Core Javascript Library. By default, this property is
						set to .f.. Loading Alpha Five Core gives you access to certain library functions such as:</p>
					<ul>
						<li>$() - get a pointer to an element</li>
						<li>$gvs() - get the value of an element</li>
						<li>$svs() - set the value of an element</li>
					</ul>
					<p>If you want to use a 3rd party Javascript library, such as JQuery, the Alpha Five library might conflict with the 3rd party
						library (for example, JQuery also uses the $ be default), and so you will not want to load the Alpha Five Core library.</p>
					<p>The following example script shows how we have an HTML dialog with a button. The button's event handler is written in Xbasic.</p>
					<p
					class="xbasic">dim p as p
						<br />dim p.html as c</p>
						<p class="xbasic">dim p.dom as p&nbsp; 'we define this property so we can get access to the DOM</p>
						<p class="xbasic">&nbsp;</p>
						<p class="xbasic">'the .options property is optional</p>
						<p class="xbasic">dim p.options as p
							<br />p.options.loadA5Core = .f.&nbsp;
							<br />&nbsp;</p>
						<p class="xbasic">p.html = &lt;&lt;%html%
						<br />&ltb>This is some html&lt/b>
							<br />&ltbr>
							<br />&ltbutton on
							<x>click="!button1">click&lt/button>
								<br />&ltspan id="s1">&lt/span>
								<br />%html%
								<br />
								<br />ui_dlg_box("Using HTMLIE",&lt;&lt;%dlg%</x>
						</p>
						<p class="xbasic">{htmlIE=100,20p}</p>
						<p class="xbasic">%dlg%,&lt;&lt;%code%
						    <br />if a_dlg_button = "button1" then
							<br />&nbsp;&nbsp;&nbsp; a_dlg_button = ""
							<br />&nbsp;&nbsp;&nbsp; dim obj as p
							<br />&nbsp;&nbsp;&nbsp; obj = p.dom.getElementById("s1")
							<br />&nbsp;&nbsp;&nbsp; obj.innerHTML = "Content set by Xbasic"
							<br />end if
							<br />%code%)&nbsp;</p>
						<p>Notice that the HTML button's on
							<x>click event is set to "!button". By prefixing the event code with a !, we indicate that the standard Xdialog event handler
								will handle the event.</x>
						</p>
						<p>As you can see the Xdialog code section contains this code to handle the event:</p>
						<p class="xbasic">if a_dlg_button = "button1" then
							<br />&nbsp;&nbsp;&nbsp; a_dlg_button = ""
							<br />&nbsp;&nbsp;&nbsp; dim obj as p
							<br />&nbsp;&nbsp;&nbsp; obj = p.dom.getElementById("s1")
							<br />&nbsp;&nbsp;&nbsp; obj.innerHTML = "Content set by Xbasic"
							<br />end if</p>
						<p>&nbsp;When the user clicks the button, the Xbasic event handler gets a pointer to the span in the HTML. The span has an
							id if "s1". We use the standard Javascript .getElementById() method.</p>
						<h3>Font Inheritance</h3>
						<p>The html that is shown using the {html} command will inherit the Xdialog ambient font. So for example, if the Xdialog ambient
							font has been set to Tahoma, 10 pt, blue, then the html that is shown using the {html} tag will use those font settings.
							Of course, if the html that is shown has explicit class and/or style attributes, the html will honor those attributes.</p>
						<p>You can force the displayed HTML to not inherit the ambient Xdialog font by inserting an &lthtml> &lt/html> tag pair into
							the html.</p>
						<p>For example:</p>
						<p class="xbasic">dim html as c html = "This is some HTML text - S61;23.20"
							<br />
							<br />dim html2 as c
							<br />html2 = &lt;&lt;%html%
							<br />&lthtml>
							<br />&ltbody>
							<br />This is some HTML text.
							<br />&lt/body>
							<br />&lt/html>
							<br />%html%
							<br />
							<br />ui_dlg_box("Ambient font test",&lt;&lt;%dlg%
							<br />{font=courier new,10}
							<br />{color=red}
							<br />Xdialog ambient font color is now red.;
							<br />Font in embedded html should use the ambient font \(i.e. text should be be red).;
							<br />Text to right of colon is embedded html: {html=50,3html};
							<br />{lf};
							<br />Text to right of colon is embedded html, but the html has an \&lthtml> tag.; Therefore, the HTML does not use the ambient
							font: {html=40,3html2}; %dlg%)</p>
						<img src="images/AmbientFontTest.jpg">
						<p>See the sample Learning Xdialog database for examples of how to use the {html} and {htmlIE} command.</p>
						<p>
							<b>Note:</b>If you have IE 9 or later installed, you cannot use Xbasic Active Scripting in an HTML 5 document. This limit affects
							the {htmlie} command and reflects the fact that Microsoft does not support Active Scripting in IE 9 Native Mode.</p>
						<hr class="hrwikibottom"
						/>
				</article>
				<!-- WIKIPATH:Embedded+HTML+in+Xdialog+V10">-->
				<div class="wikitopline clearfix" style="clear: both;">
					<div class="content">
						<div class="wikiinfo" style="float: left">
							<span id="description"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Put JS at the end -->
		<!-- jsfile external -->
		<!-- jsfile dynamic -->
		<!-- jsfile 0 -->
		<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,xdialog,html"}--->
	</body>

</html>