	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Explorer Style Dialog Box</p>

<p class=Pix> <img src="images/XD_Explorer_Style_Dialog_Box.gif" x-maintain-ratio=TRUE style="border: none; width: 546px; height: 240px; float: none; border-style: none; border-style: none;" width=546 height=240 border=0></p>

<p class=A5>Example</p>

<p>Note the special syntax for the tab. <span class=Code1>{T=1.5:0-20}</span> indicates a moveable tab stop whose initial position is at 1.5 inches. The tab stop can be moved in the range 0 to 20 inches. A tab definition of <span class=Code1>{T=1.5:.5-20}</span>, for example, would indicate that when the column is resized, it cannot be moved left of the .5 inch tab position. </p>

<p>Note the special syntax for the tab: <span class=Code1>{T=$1}</span> means that the actual tab position will be obtained from the first tab in the referenced format string. In the case of the list box control the directive <span class=Code1>F=fmt</span> tells the list box that the reference format string is called <span class=Code1>fmt</span>.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dim fmt&nbsp;as&nbsp;C</p>

<p class=Code>fmt = "{A=1C}First{T=1.5:0-20}{A=2C}Second{T=3.5:0-20}{A=3C}Third"</p>

<p class=Code>data = &lt&lt%a%</p>

<p class=Code>Row 1 Column 1{T=$1}Row 1 Column 2{T=$2}Row 1 Column 3</p>

<p class=Code>Row 2 Column 1{T=$1}Row 2 Column 2{T=$2}Row 2 Column 3</p>

<p class=Code>Row 3 Column 1{T=$1}Row 3 Column 2{T=$2}Row 3 Column 3</p>

<p class=Code>Row 4 Column 1{T=$1}Row 4 Column 2{T=$2}Row 4 Column 3</p>

<p class=Code>Row 5 Column 1{T=$1}Row 5 Column 2{T=$2}Row 5 Column 3</p>

<p class=Code>Row 6 Column 1{T=$1}Row 6 Column 2{T=$2}Row 6 Column 3</p>

<p class=Code>%a%</p>

<p class=Code>tree_data = &lt&lt%a%</p>

<p class=Code>+3Users and Groups.1+2Users</p>

<p class=Code>+3Users and Groups.1+2Groups</p>

<p class=Code>%a%</p>

<p class=Code>tree_images = &lt&lt%a%</p>

<p class=Code>$a5_folder</p>

<p class=Code>$a5_folder_open</p>

<p class=Code>user_object16x16_0</p>

<p class=Code>%a%</p>

<p class=Code>dim item&nbsp;as&nbsp;N</p>

<p class=Code>item = 1</p>

<p class=Code>dim dlg_title&nbsp;as&nbsp;C</p>

<p class=Code>dlg_title = "Resizeable List Box Columns"</p>

<p class=Code>ui_dlg_box(dlg_title,&lt&lt%dlg%</p>

<p class=Code>{font=tahoma,8}</p>

<p class=Code>{wrap=100}</p>

<p class=Code>This script demonstrates how to create an 'Explorer' style dialog box.;</p>

<p class=Code>{lf};</p>

<p class=Code>{font=}</p>

<p class=Code>{stretch=height,width}</p>

<p class=Code>[%S=LX;I=@tree_images%.30,20^&lttree_data]</p>

<p class=Code>{hslider}</p>

<p class=Code>{beginembedded}</p>

<p class=Code>{stickto=left}</p>

<p class=Code>{stretch=width,height}</p>

<p class=Code>{watch=ui_dlg_control_anchor_from_pos(dlg_title)!resize}</p>

<p class=Code>&lt%O={@@};B=ILG;F=fmt%100=fmt!click>;</p>

<p class=Code>[%O={@@};F=fmt;R;%.100,18item^#data]</p>

<p class=Code>{endembedded}</p>

<p class=Code>;</p>

<p class=Code>{stretch=top}</p>

<p class=Code>&lt10&Close!close>;</p>

<p class=Code>%dlg%,&lt&lt%code%</p>

<p class=Code>if a_dlg_button = "resize" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;'This event is fired whenever the mouse is over the column headings.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;'The event fires whether or not the columns are actually resized.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "click" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;control = ui_dlg_control_anchor_from_pos(dlg_title)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("","User pressed: " + control)</p>

<p class=Code>end if</p>

<p class=Code>%code%)</td> </tr> </table><p class=A5>Next</p>

<p> <a href="Linking Modeless Dialogs.html" title="Linking Modeless Dialogs" class="wiki">Linking Modeless Dialogs</a></p>

<p class=A5>See Also</p>

<p> <a href="../../../../Reference/Design/View/Xdialog/Controls/Tree Control Syntax.html" title="Tree Control Syntax" class="wiki">Tree Control Syntax</a>, <a href="/Index/Miscellaneous Examples.html" title="Miscellaneous Examples" class="wiki">Miscellaneous Examples</a></p>
p>

<p class=A5>Limitations</p>

<p>Desktop applications only</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Explorer+Style+Dialog+Box">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>