	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Frames</p>

<p>Often, to make your dialog look better, and to divide your dialog into different logical sections, you will want to add frames around controls on the dialog, and you will want to insert vertical and horizontal lines.</p>

<p>The command to insert a frame is <span class=Code1>{Frame}</span>. The syntax for the command is:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{Frame=columns,rows:text}</td> </tr> </table><p>where rows and columns indicate the number of rows and columns of controls to be enclosed by the frame. The text parameter is the text that you want to appear on the frame. The parameter is optional.</p>

<p>For example, the following script places a frame around the address fields in the previous script.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>result=ui_dlg_box("Title",&lt;&lt;%dlg%</p>

<p class=Code>{ymargin=2,2}</p>

<p class=Code>{xmargin=2,4}</p>

<p class=Code>{ysize=2}</p>

<p class=Code>{frame=2,7:Address}</p>

<p class=Code>First name:| [.32firstname] ;</p>

<p class=Code>Last name:| [.32lastname] ;</p>

<p class=Code>Address 1:| [.32address1] ;</p>

<p class=Code>Address 2:| [.32address2] ;</p>

<p class=Code>City:| [.32City] ;</p>

<p class=Code>State:| [State] ;</p>

<p class=Code>Zip:| [Zip] ;</p>

<p class=Code>{lf};</p>

<p class=Code>&ltOK></p>

<p class=Code>%dlg%)</td> </tr> </table><p>This script creates this dialog: </p>

<p class=Pix> <img src="images/XD_Frame.gif" x-maintain-ratio=TRUE style="border: none; width: 278px; height: 353px; float: none; border-style: none; border-style: none;" width=278 height=353 border=0></p>

<p class=PixCaption>Lesson 3: Frames</p>

<p class=A5><a name=Frames___Using_Regions>Frames - Using Regions</a></p>

<p>While the above script works, it is inconvenient to have to count the number of columns and rows that the frame will enclose. A more typical way to use the <span class=Code1>{Frame}</span> command is to enclose the entire section of the dialog that you want to enclose in a <span class=Code1>{Region}{Endregion}</span> command pair. This command pair instructs Alpha Anywhere to treat all of the enclosed cells&nbsp;as&nbsp;a single cell. The <span class=Code1>{frame}</span> command can then be written&nbsp;as&nbsp; <span class=Code1>{Frame=1,1:text}</span>. We will discuss the <span class=Code1>{Region}/{Endregion}</span> command later in this lesson.</p>

<p>For example, the following script produces the same dialog&nbsp;as&nbsp;the dialog above:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>result=ui_dlg_box("Title",&lt;&lt;%dlg%</p>

<p class=Code>{ymargin=2,2}</p>

<p class=Code>{xmargin=2,4}</p>

<p class=Code>{ysize=2}</p>

<p class=Code>{frame=1,1Address}{Region}</p>

<p class=Code>First name:| [.32firstname] ;</p>

<p class=Code>Last name:| [.32lastname] ;</p>

<p class=Code>Address 1:| [.32address1] ;</p>

<p class=Code>Address 2:| [.32address2] ;</p>

<p class=Code>City:| [.32City] ;</p>

<p class=Code>State:| [State] ;</p>

<p class=Code>Zip:| [Zip] ; {Endregion};</p>

<p class=Code>{lf};</p>

<p class=Code>&ltOK></p>

<p class=Code>%dlg%)</td> </tr> </table><p class=A5>Next</p>

<p> <a href="Lines.html" title="Lines" class="wiki">Lines</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Frames">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>