	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="How_to_trap_mouse_events_in_an_xdialog">How to trap mouse events in an xdialog</h1>
This example demonstrates how to trap mouse events in an xdialog using a user defined xdialog control.<br />
<br />
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox" >define class system [control] HelloWorld
dim ctl as p
dim dlg_title as c
dim varName as c
dim message as c
FUNCTION HelloWorld as v()
  message = &#34;Hello World&#34;
END FUNCTION
&nbsp;
implementation EmbeddedIface as Type::MetaControlImpl
FUNCTION updateDrawing as v()
  self.ctl.drawCode = ui_generate_quick_draw(&amp;lt;&amp;lt;%code%
set_brush(&#34;yellow&#34;)
fill_rect(0,0,4,2)
set_font(&#34;Tahoma,15&#34;,&#34;Red&#34;)
text(self.message,0,0)
%code%)
END FUNCTION
&nbsp;
FUNCTION OnlButtonDown as v(ma as p)
  self.message = &#34;Hello world - Mouse Down&#34;
  &#39;self.varname = the &#39;variable&#39; that is bound to the Meta control
  &#39;e.g. {HelloWorld=100,10test1};  - in this case, it is &#39;test1&#39;.
  ui_dlg_eval(self.dlg_title,self.varname + &#34;:=&#34; + quote(ma.x +&#34;:&#34; + ma.y))
  ui_dlg_refresh(self.dlg_title)
  updateDrawing()
END FUNCTION
FUNCTION OnlButtonUp as v(ma as p)
  self.message = &#34;Hello world - Mouse Up&#34;
  updateDrawing()
END FUNCTION
FUNCTION OnMouseMove as v(ma as p)
  self.message = &#34;Hello world - Move &#34;+ma.X+&#34;,&#34;+ma.Y
  updateDrawing()
END FUNCTION
FUNCTION OnMouseLeave as v (ma as p)
  self.message = &#34;Hello world&#34;
  updateDrawing()
END FUNCTION
FUNCTION OnKeyDown as v(ka as p)
  self.message = &#34;Hello world - KeyDown &#34;+ka.KeyName()
&nbsp;
  updateDrawing()
END FUNCTION
FUNCTION OnKeyUp as v(ka as p)
  self.message = &#34;Hello world - KeyUp &#34;+ka.KeyName()
  updateDrawing()
END FUNCTION
END implementation
&nbsp;
FUNCTION initialize as v(dlg_title as c, parguments as c, pcontents as c, pvarFrame as p)
self.dlg_title = dlg_title
self.varName = parguments
END FUNCTION
&nbsp;
FUNCTION GetControlInterface as p()
GetControlInterface = EmbeddedIface
END FUNCTION
&nbsp;
FUNCTION GetVariables as c ()
GetVariables = &#34;&#34;
END FUNCTION
&nbsp;
FUNCTION refresh as c()
END FUNCTION
&nbsp;
FUNCTION BindControl as v(ptr as p)
self.ctl = ptr
EmbeddedIface.updateDrawing()
END FUNCTION
FUNCTION close as v()
END FUNCTION
FUNCTION setfocus as v()
END FUNCTION
FUNCTION GetBorderStyle as c()
GetBorderStyle = &#34;default&#34;
END FUNCTION
END class
&nbsp;
&nbsp;
ui_dlg_box(&#34;hello&#34;,&amp;lt;&amp;lt;%dlg%
(HelloWorld=100,10test1);
[.20test1];
(HelloWorld=100,10test2);
[.20test2];
(justify=right)&amp;lt;*10OK!ok&amp;gt;;
%dlg%)</pre></div><br />
<br />

	<img src="images/trap_mouse_events_in_xdialog.png" alt="Image" /><br />
<br />
<br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:How+to+trap+mouse+events+in+an+xdialog">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop, review","notes":"Code with little description","keywords":"desktop,guide,xdialog"}--->
</body></html>