	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="HtmlHost_Xdialog_command">HtmlHost Xdialog command</h1>
The new {htmlhost} control differs from the {html} control in that the {htmlhost} control can host Xdialog controls inside an HTML shell, while the {html} hosts HTML inside an Xdialog shell. You can nest them if you wish, that is an {htmlhost} control can host Xdialog controls which may in turn host {html} controls, but this is not necessary, as the {htmlhost} control has plenty of flexibility.<br />
<br />
The {html} control differs from the {htmlIE} control in that the {html} control uses Alpha's built-in HTML rendering engine while the {htmlIE} control uses the Microsoft Internet Explorer rendering engine. The  {htmlhost} control uses Alpha's built-in HTML rendering engine, just like the {html} control.<br />
<h2 class="showhide_heading" id="HtmlHost_Examples">HtmlHost Examples</h2>
<!--depth: 0-->
<ul class="toc">

	<li class="toclevel"><a href="HtmlHost Example 1__COLON__ Hosting Xdialog Controls.html" class="link" title="">HtmlHost Example 1: Hosting Xdialog Controls</a>
	</li>

	<li class="toclevel"><a href="HtmlHost Example 2__COLON__ Vertical Sizer.html" class="link" title="">HtmlHost Example 2: Vertical Sizer</a>
	</li>

	<li class="toclevel"><a href="HtmlHost Example 3__COLON__ Horizontal Sizer.html" class="link" title="">HtmlHost Example 3: Horizontal Sizer</a>
	</li>

	<li class="toclevel"><a href="/Server/Guide/Design/View/Html/HtmlHost Example 4__COLON__ Creating htmlhost with Horizontal and Vertical Sizers.html" class="link" title="">HtmlHost Example 4: Creating htmlhost with Horizontal and Vertical Sizers</a>
	</li>

	<li class="toclevel"><a href="HtmlHost Example 5__COLON__ Dynamically styled Html (a5__COLON__style tag).html" class="link" title="">HtmlHost Example 5: Dynamically styled Html (a5:style tag)</a>
	</li>
</ul>

<br />
<h2 class="showhide_heading" id="See_also">See also</h2>
Alpha Five <strong>Learning Xdialog</strong> sample, What's New in V11 section<br />
<div class="clearfix rbox tip"><img src="images/close.png" alt="Close" width="16" height="16" class="rbox-close" onclick="$(this).parent().fadeOut();" title="Close" /><div class="rbox-title"><img src="images/book_open.png" alt="tip" width="16" height="16" title="tip" class="icon" /><span>Tip</span></div><div class="rbox-data">You can create a Learning Xdialog code library from the Learning Xdialog sample to use in Version 11 by dropping down the selector in the Code Library window (visible whenever you have the focus on a Code Editor or Interactive window) and picking &lt;Create 'Learning Xdialog' Library&gt;<br />
<br />
Watch the Video: <a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/LearningXdialogCodeLibrary.swf" rel="external nofollow">Creating a Code Library from Learning Xdialog</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" />.</div></div><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:HtmlHost+Xdialog+command">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"list of HTML Xdialog features, delete or incorporate?","keywords":"desktop,guide,xdialog,html"}--->
</body></html>