	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Internet Browser Style Xdialog Example</p>



<p>Within the <span class=Screen>Action Scripting Editor</span>, select 
 "Dialog Boxes" and "Display an Xdialog Box".</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Step one is to specify 
 the variable associated with the browser and the control's dimensions. 
 </p>

</li>
</ol>

<p class=Pix><img src="images/XB_ActiveX Browse_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 481px;
							height: 342px;
							border-style: none;
							border-style: none;"
					width=481
					height=342
					border=0></p>



<ol start=2>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Step two is to specify 
 how the URL will be specified. You can optionally enable ActiveX events 
 (for which you will have to write custom code). </p>

</li>
</ol>

<p class=Pix><img src="images/XB_ActiveX Browse_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 526px;
							height: 555px;
							float: none;
							border-style: none;
							border-style: none;"
					width=526
					height=555
					border=0></p>



<ol start=3>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Next, you set the 
 name and scope of the return variable from the underlying UI_DLG_BOX() function. 
 </p>

</li>
</ol>

<p class=Pix><img src="images/XB_ActiveX Browse_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 481px;
							height: 269px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=269
					border=0></p>



<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Next, you set the 
 dialog title and other text that might appear on the dialog. </p>

</li>
</ol>

<p class=Pix><img src="images/XB_ActiveX Browse_4.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 481px;
							height: 304px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=304
					border=0></p>



<ol start=5>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The finished product 
 looks like this. </p>

</li>
</ol>

<p class=Pix><img src="images/XB_ActiveX Browse_5.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 628px;
							height: 392px;
							border-style: none;
							border-style: none;"
					width=628
					height=392
					border=0></p>



<ol start=6>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The Action entry 
 appears similar to the following image. </p>

</li>
</ol>

<p class=Pix><img src="images/XB_ActiveX Browse_6.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 568px;
							height: 84px;
							border-style: none;
							border-style: none;"
					width=568
					height=84
					border=0></p>



<p class=A5>See Also</p>



<p><a href="../../../../Reference/Design/View/Xdialog/Internet Browser Style Xdialog.html" title="Internet Browser Style Xdialog" class="wiki">Internet Browser Style   Xdialog</a></p>


	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Internet+Browser+Style+Xdialog+Example">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,design,guide,xdialog"}--->
</body></html>