	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Introduction to Dialog Box Events</p>

<p>Up to this point, the dialogs that we have discussed have not included any event processing.</p>

<p>An understanding of how to process dialog events is essential if you want to create dialogs that behave in ways that are customized to work just the way you want. For example, using event processing, you could validate data in a control on a dialog, or you could change the value in variables, or arrays that are displayed by the dialog.</p>

<ul style="list-style: disc;" type=disc> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="What is a Dialog Event__QUESTION__.html" title="What is a Dialog Event?" class="wiki">What is a Dialog Event?</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="What is a Dialog Event__QUESTION__.html" title="What is a Dialog Event?" class="wiki">What is a Dialog Event?</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Keeping a Dialog Open after Processing Events.html" title="Keeping a Dialog Open after Processing Events" class="wiki">Keeping a Dialog Open after Processing Events</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="/Desktop/Guide/Design/View/Xdialog/Keeping a Dialog Open after Processing Events.html" title="Keeping a Dialog Open after Processing Events" class="wiki">Trapping the OK Button</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="/Desktop/Guide/Design/View/Xdialog/Keeping a Dialog Open after Processing Events.html" title="Keeping a Dialog Open after Processing Events" class="wiki">Trapping the Cancel Button</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="../../Platform/Xbasic/Trapping the Change Event.html" title="Trapping the Change Event" class="wiki">Trapping the Change Event</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="../../Platform/Xbasic/Trapping Other Events.html" title="Trapping Other Events" class="wiki">Trapping Other Events</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="/Desktop/Guide/Design/Platform/Xbasic/Trapping Other Events.html" title="Trapping Other Events" class="wiki">Trapping the Double Click Event</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="/Desktop/Guide/Design/Platform/Xbasic/Trapping Other Events.html" title="Trapping Other Events" class="wiki">Seeing the Name of Events</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Using the KillFocus Event.html" title="Using the KillFocus Event" class="wiki">Using the KillFocus Event</a></p>

</li> <li class=kadov-p-CBullet1><p class=Bullet1> <a href="Using Events to Modify Arrays used in Dialog Box Controls.html" title="Using Events to Modify Arrays used in Dialog Box Controls" class="wiki">Events and Working with Arrays</a></p>

</li> </ul><p class=A5>See Also</p>

<p> <a href="/Index/Learning Xdialog Title.html" title="Learning Xdialog Title" class="wiki">Learning Xdialog</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Lesson+6+Introduction+to+Dialog+Box+Events">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","keywords":"desktop,guide,xdialog","notes":"list"}--->
</body></html>