	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>ListView with Static Content</p>



<p>The designer created this dialog with the <a href="ListView with Static Content.html" title="ListView with Static Content" class="wiki">List   View Genie</a>. </p>



<p class=Pix><img src="images/XD_Static_List_View.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 550px;
							height: 326px;
							border-style: none;
							border-style: none;"
					width=550
					height=326
					border=0></p>



<p>The most interesting design aspect of this dialog is the way that the 
 data was entered, so that it would display in columns, yet return a different 
 value than is found in the selected row.</p>



<p>The static data looks like the following in the <span class=Screen>Static 
 List</span> dialog box.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>Id|First name|Last Name|City</p>


<p class=Code>{DATA=00000001}00000001|Michael|Graham|Natick</p>


<p class=Code>{DATA=00000002}00000002|Sally|Peabody|Brockton</p>


<p class=Code>{DATA=00000003}00000003|Janet|Rebo|Keene</p>


<p class=Code>{DATA=00000004}00000004|David|Mesner|York Beach</p>


<p class=Code>{DATA=00000005}00000005|Evan|Feld|Acra</p>


<p class=Code>{DATA=00000006}00000006|Jason|Rigan|Washington</p>


<p class=Code>...</td></tr>
</table>

<p>The <span class=Code1>Id|First name|Last Name|City</span> statement 
 on the first line defines the column headings.</p>



<p>The <span class=Code1>{DATA=Value}</span> statement that begins each 
 line defines the data that will be returned when the user selects the 
 row.</p>



<p>The display data illustrated by <span class=Code1>00000001|Michael|Graham|Natick</span> 
 causes 4 columns to appear. The pipe "|" acts like a tab.</p>



<p class=A5>See Also</p>



<p><a href="../Database/List View Genie.html" title="List View Genie" class="wiki">List View Style Xdialog</a></p>


	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:ListView+with+Static+Content">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,xdialog"}--->
</body></html>