	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>ListView Control on MDI Xdialog</p>

<p>This Xdialog box script displays a MDI child window with a List View control in it. The script assumes that you have created a toolbar named <span class=Code1>MDI_test</span>, and a menu named <span class=Code1>MDI_test</span>. </p>

<p> <img src="images/XD_with_Listview_Control.gif" x-maintain-ratio=TRUE style="border: none; float: none; width: 690px; height: 343px; border-style: none; border-style: none;" width=690 height=343 border=0></p>

<p>The toolbar should have at least two buttons named "Set Title" and "Close". The event for the "Set Title" button should be "Internal Action" and the event name should be "set_title". The event for the "Close" button should be "Close".</p>

<p>The menu has two commands, <span class=Button>File > Set window title</span>, and <span class=Button>File > Close</span>.</p>

<p>The xdialog menu string for this menu is:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>File|{DATA=command:set_title}Set window title</p>

<p class=Code>File|{DATA=command:close}Close window</td> </tr> </table><p>Notice that the menu action for each of these menu items is the same&nbsp;as&nbsp;for their corresponding action in the toolbar. This script shows that it is possible to launch multiple instances of the MDI child window. Each instance operates independently of the other.</p>

<p>The key to the way in which the toolbar and menu events get executed is the function ((|#event_handler|command()))defined at the end of this script. This function sends the events to the Xdialog box.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>title_var_name = "title_var"+stritran(time(),":","_")</p>

<p class=Code>eval(title_var_name) = "Dialog Title"</p>

<p class=Code>dlg_title = "@="+title_var_name</td> </tr> </table><p>We register a new MDI window class with <a href="/Server/Reference/Design/Api/Functions/Window Functions/A5_MDI_WINDOWclass_ADD Function.html" title="A5_MDI_WINDOWclass_ADD Function" class="wiki">A5_MDI_WINDOWCLASS_ADD(</a>) so that it appears in the Window menu and the Window menu bar. This function takes three arguments: the class name, the class description, and the class icon.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>
	a5_mdi_windowclass_add("mymdiclass","My Special MDI Window Type","A5_ball_green")</td> </tr> </table><p>This is the event handler string for the top menu.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dim event_string&nbsp;as&nbsp;C</p>

<p class=Code>event_string = &lt;&lt;%code%</p>

<p class=Code>if left(a_command,3) = "A5." then</p>

<p class=Code></p>

<p class=Code></p>

<p class=Code>a5.command(substr(a_command,4) )</p>

<p class=Code></p>

<p class=Code>a_command = ""</p>

<p class=Code>else if left(a_command,1) = "!" then</p>

<p class=Code></p>

<p class=Code></p>

<p class=Code>evaluate_template(substr(a_command,2) )</p>

<p class=Code></p>

<p class=Code>a_command = ""</p>

<p class=Code>else if left(a_command,6) = "addin:" then</p>

<p class=Code></p>

<p class=Code>evaluate_template(substr(a_command,7) )</p>

<p class=Code>else if left(a_command,8) = "command:" then</p>

<p class=Code></p>

<p class=Code>ui_dlg_event(dlg_title,substr(a_command,9) )</p>

<p class=Code>else if .not. ("|" $ a_command) then</p>

<p class=Code></p>

<p class=Code>this.command(a_command)</p>

<p class=Code></p>

<p class=Code>a_command = ""</p>

<p class=Code>end if</p>

<p class=Code>%code%</p>

<p class=Code>dim menu_string&nbsp;as&nbsp;C</p>

<p class=Code>menu_string = a5_menu_def_load("MDI_test")</p>

<p class=Code>dim toolbar_string&nbsp;as&nbsp;P</p>

<p class=Code>toolbar_string = a5_toolbar_def_load("mdi_test")</p>

<p class=Code>dim message&nbsp;as&nbsp;C</p>

<p class=Code>message = "This is a standard MDI child window. It can be maximized, minimized, resized, or restored."</td> </tr> </table><p>Here is where we define the ListView control. The code shown here was originally generated by <a href="../Database/List View Genie.html" title="List View Genie" class="wiki">Action Scripting</a> (choose the "Display an Xdialog Box" action and place a ListView control on the Xdialog).</p>

<p>When the ListView control is hosted in a MDI window the <span class=Code1>lv</span> variable must be a local variable. After the Action Scripting code was converted to Xbasic the <span class=Code1>shared</span> keyword was removed.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>DIM lv_FuncCode&nbsp;as&nbsp;C = &lt;&lt;%CodeFunctions%</p>

<p class=Code>FUNCTION DoSort&nbsp;as&nbsp;V (byref CurrentSortField&nbsp;as&nbsp;C, byref CurrentSortDirection&nbsp;as&nbsp;C, NewSortField&nbsp;as&nbsp;C,</p>

<p class=Code></p>

<p class=Code>Filter&nbsp;as&nbsp;C, pLV&nbsp;as&nbsp;P, rs&nbsp;as&nbsp;P )</p>

<p class=Code>DIM cResult&nbsp;as&nbsp;C</p>

<p class=Code>DIM SortDirection&nbsp;as&nbsp;C</p>

<p class=Code>DIM SortField&nbsp;as&nbsp;C</p>

<p class=Code>IF NewSortField = CurrentSortField</p>

<p class=Code>' clicked on same field, reverse sort</p>

<p class=Code></p>

<p class=Code>IF CurrentSortDirection = "D"</p>

<p class=Code></p>

<p class=Code>CurrentSortDirection = "A"</p>

<p class=Code></p>

<p class=Code>ELSE</p>

<p class=Code></p>

<p class=Code>CurrentSortDirection = "D"</p>

<p class=Code></p>

<p class=Code>END IF</p>

<p class=Code>ELSE</p>

<p class=Code></p>

<p class=Code>CurrentSortField = NewSortField</p>

<p class=Code></p>

<p class=Code>CurrentSortDirection = "A"</p>

<p class=Code>END IF</p>

<p class=Code>SortDirection = CurrentSortDirection</p>

<p class=Code>SortField = CurrentSortField</p>

<p class=Code>IF SortDirection = "D"</p>

<p class=Code></p>

<p class=Code>SortField = "invert(" + SortField + ")"</p>

<p class=Code>END IF</p>

<p class=Code>' actual sorting code goes here</p>

<p class=Code>pLV.RowView.Close()</p>

<p class=Code>pLV.RowView = rs.OpenView(1, SortField, Filter)</p>

<p class=Code>DoSort = cResult</p>

<p class=Code>END FUNCTION</p>

<p class=Code>%CodeFunctions%</td> </tr> </table>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>DIM lv_Funcs&nbsp;as&nbsp;P = compile_template(lv_FuncCode)</p>

<p class=Code>DIM lv&nbsp;as&nbsp;C</p>

<p class=Code>DIM lv_CurrentSortField&nbsp;as&nbsp;C = ""</p>

<p class=Code>DIM lv_CurrentSortDirection&nbsp;as&nbsp;C = "A"</p>

<p class=Code>DIM lv_Filter&nbsp;as&nbsp;C</p>

<p class=Code>DIM lv_pTableDef&nbsp;as&nbsp;P</p>

<p class=Code>DIM lv_pTableDef.ReturnValueExpression&nbsp;as&nbsp;C = "Customer_id"</td> </tr> </table><p class=BlankLine></p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>DIM lv_pTableDef.FieldList&nbsp;as&nbsp;C = &lt;&lt;%txt%</p>

<p class=Code>Customer_id</p>

<p class=Code>Firstname</p>

<p class=Code>Lastname</p>

<p class=Code>Company</p>

<p class=Code>Phone</p>

<p class=Code>Fax</p>

<p class=Code>Address1</p>

<p class=Code>Address2</p>

<p class=Code>City</p>

<p class=Code>State</p>

<p class=Code>Zip</p>

<p class=Code>%txt%</td> </tr> </table>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>DIM lv_pTableDef.TitleRow&nbsp;as&nbsp;C = "{AUTOSIZE}Customer_id|{AUTOSIZE}Firstname|{AUTOSIZE}Lastname|{AUTOSIZE}Company|{AUTOSIZE}Phone|{AUTOSIZE}Fax|{AUTOSIZE}Address1|{AUTOSIZE}Address2|{AUTOSIZE}City|{AUTOSIZE}State|{AUTOSIZE}Zip"</p>

<p class=Code>DIM lv_pTableDef.TableName&nbsp;as&nbsp;C = "clients"</p>

<p class=Code>DIM lv_pTableDef.Filter&nbsp;as&nbsp;C = "(recno()> 0)" ' recno()> 0 is required in order to avoid showing deleted variables</p>

<p class=Code>DIM lv_pTableDef.Order&nbsp;as&nbsp;C = ""</p>

<p class=Code>lv_pLV.titlerow = lv_pTableDef.titlerow</p>

<p class=Code>lv_pLV.titleevents = "lv_Sort_Customer_id|lv_Sort_Firstname|lv_Sort_Lastname|lv_Sort_Company|lv_Sort_Phone|lv_Sort_Fax|lv_Sort_Address1|lv_Sort_Address2|lv_Sort_City|lv_Sort_State|lv_Sort_Zip"</p>

<p class=Code>lv_pLV.style = "report,singlesel,showselalways,gridlines,fullrowselect"</p>

<p class=Code>lv_pLV.dragbehaviour = ""</p>

<p class=Code>lv_pLV.dropbehaviour = ""</p>

<p class=Code>DIM lv_t&nbsp;as&nbsp;P</p>

<p class=Code>DIM lv_rr&nbsp;as&nbsp;Alpha5::RowRelation</p>

<p class=Code>DIM lv_rs&nbsp;as&nbsp;P</p>

<p class=Code>IF .NOT. file.exists(table.filename_get(lv_pTableDef.TableName))</p>

<p class=Code></p>

<p class=Code>END</p>

<p class=Code>END IF</p>

<p class=Code>lv_t = table.open(lv_pTableDef.TableName, FILE_RO_SHARED)</p>

<p class=Code>lv_t.persist()</p>

<p class=Code>lv_rs = lv_rr.TableToRowSource(lv_t)</p>

<p class=Code>lv_Filter = lv_pTableDef.Filter</p>

<p class=Code>lv_pLV.rowview = lv_rs.OpenView(1,lv_pTableDef.Order,lv_Filter)</p>

<p class=Code>lv_pLV.RowSeparator = crlf()</p>

<p class=Code>lv_pLV.ColumnSeparator = "|"</p>

<p class=Code>lv_pLV.Key = lv_pTableDef.ReturnValueExpression</p>

<p class=Code>lv_pLV.Columns = lv_pTableDef.FieldList</p>

<p class=Code>lv_pLV.events = &lt;&lt;%code%</td> </tr> </table><p class=BlankLine></p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>function OnRightClick&nbsp;as&nbsp;c(lv&nbsp;as&nbsp;p,listView&nbsp;as&nbsp;p,args&nbsp;as&nbsp; p)</p>

<p class=Code>WITH lv</p>

<p class=Code></p>

<p class=Code>listView.Selection = listView.GetRowValue(args.GetClickRow() )</p>

<p class=Code></p>

<p class=Code>on<x>selection<x>changed(lv, listView )</p>

<p class=Code></p>

<p class=Code>'to call a function outside the events code, you must use the ui_dlg_eval() function</p>

<p class=Code></p>

<p class=Code>'menu = ui_dlg_eval(dlg_title,"a5wcb_PublishRclick(selectedFilename)")</p>

<p class=Code>END WITH</p>

<p class=Code>end function</td> </tr> </table><p class=BlankLine></p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>function OnDoubleClick&nbsp;as&nbsp;c(lv&nbsp;as&nbsp;p,listView&nbsp;as&nbsp;p,args&nbsp;as&nbsp; p)</p>

<p class=Code>WITH lv</p>

<p class=Code></p>

<p class=Code>lv</p>

<p class=Code></p>

<p class=Code>= listView.GetRowValue(args.GetClickRow() )</p>

<p class=Code>END WITH</p>

<p class=Code>end function</td> </tr> </table><p class=BlankLine></p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>FUNCTION on<x>selection<x>changed&nbsp;as&nbsp;V (lv&nbsp;as&nbsp;P, listView&nbsp;as&nbsp;p )</p>

<p class=Code>WITH lv</p>

<p class=Code></p>

<p class=Code>lv = listView.Selection</p>

<p class=Code>END WITH</p>

<p class=Code>END FUNCTION</td> </tr> </table><p class=BlankLine></p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>FUNCTION on<x>keydown&nbsp;as&nbsp;v(vars&nbsp;as&nbsp;p,listView&nbsp;as&nbsp;p,args&nbsp;as&nbsp;p)</p>

<p class=Code>DIM key&nbsp;as&nbsp;C</p>

<p class=Code>Dim KeyName&nbsp;as&nbsp;C</p>

<p class=Code>key = args.GetKeyName()</p>

<p class=Code>KeyName = key</p>

<p class=Code>IF key = "{Delete}" .OR. key = "{Num Del}"</p>

<p class=Code></p>

<p class=Code>KeyName = "{Delete}"</p>

<p class=Code>ELSE IF args.keycode = 13 ' enter</p>

<p class=Code></p>

<p class=Code>KeyName = "{Enter}"</p>

<p class=Code>ELSE IF args.keycode = 8 ' backspace</p>

<p class=Code></p>

<p class=Code>KeyName = "{Backspace}"</p>

<p class=Code>END IF</p>

<p class=Code>END FUNCTION</p>

<p class=Code>%code%</td> </tr> </table><p>This ends the definition of the ListView control. In the Xdialog, we have added the {stretch} command so that the ListView changes size when the MDI window is resized.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>ui_modeless_dlg_box(dlg_title,&lt;&lt;%dlg%</p>

<p class=Code>{icon=A5_ball_green}</p>

<p class=Code>{mdichild=mymdiclass}</p>

<p class=Code>{stretch=height,width}</p>

<p class=Code>{listviewvirtual=150,20lv^=lv_pLV};</p>

<p class=Code>{watch=lv!foo};</p>

<p class=Code>{on_activate=activate}</p>

<p class=Code>{on_deactivate=deactivate}</p>

<p class=Code>%dlg%,&lt;&lt;%code%</p>

<p class=Code>if a_dlg_button = "set_title" then</p>

<p class=Code></p>

<p class=Code>title = ui_get_text("Title","Enter the text for the Window Title")</p>

<p class=Code></p>

<p class=Code>if title <> "" then</p>

<p class=Code></p>

<p class=Code>eval(title_var_name) = title</p>

<p class=Code></p>

<p class=Code>end if</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "activate" then</p>

<p class=Code></p>

<p class=Code>'show the toolbar</p>

<p class=Code></p>

<p class=Code>dim pDummy&nbsp;as&nbsp;p</p>

<p class=Code></p>

<p class=Code>pDummy.dummy = ""</p>

<p class=Code></p>

<p class=Code>toolbar_name = a5_system_toolbar_show(pDummy,toolbar_string)</p>

<p class=Code></p>

<p class=Code>'show the menu. the ui_expand_branches() function is used to expand certain menu 'macros' (such&nbsp;as&nbsp;recent file list, or window list) at runtime.</p>

<p class=Code></p>

<p class=Code>ui_top_menu(ui_expand_branches(menu_string),event_string)</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "deactivate" then</p>

<p class=Code></p>

<p class=Code>'before closing the toolbar we check to see if it still exists -- the user could have undocked the toolbar and closed it before closing the dialog box.</p>

<p class=Code></p>

<p class=Code>if ui_modeless_dlg_exist(toolbar_name) then</p>

<p class=Code></p>

<p class=Code>ui_modeless_dlg_close(toolbar_name)</p>

<p class=Code></p>

<p class=Code>end if</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "title_change" then</p>

<p class=Code></p>

<p class=Code>eval(title_var_name) = title</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "close" then</p>

<p class=Code></p>

<p class=Code>ui_modeless_dlg_close(dlg_title)</p>

<p class=Code>end if</p>

<p class=Code>IF left(a_dlg_button, len("lv_Sort_") ) = "lv_Sort_"</p>

<p class=Code></p>

<p class=Code>DIM NewSortField&nbsp;as&nbsp;C</p>

<p class=Code></p>

<p class=Code>NewSortField = substr(a_dlg_button, len("lv_Sort_")+1)</p>

<p class=Code></p>

<p class=Code>lv_Funcs.DoSort(lv_CurrentSortField, lv_CurrentSortDirection, NewSortField, lv_Filter, lv_pLV, lv_rs)</p>

<p class=Code></p>

<p class=Code>a_dlg_button = ""</p>

<p class=Code>END IF</p>

<p class=Code>IF a_Dlg_button = "lv_refresh"</p>

<p class=Code></p>

<p class=Code>a_dlg_button = ""</p>

<p class=Code></p>

<p class=Code>lv_pLV.RowView.Close()</p>

<p class=Code></p>

<p class=Code>lv_pLV.RowView = lv_rs.OpenView(1, lv_CurrentSortField, lv_Filter)</p>

<p class=Code>END IF</p>

<p class=Code>IF a_dlg_button = "foo"</p>

<p class=Code></p>

<p class=Code>a_dlg_button = ""</p>

<p class=Code></p>

<p class=Code>' do nothing</p>

<p class=Code>END IF</p>

<p class=Code>%code%)</td> </tr> </table><p>This is the <a name=event_handler>event handler</a> for the toolbar.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>FUNCTION command&nbsp;as&nbsp;v (</p>

<p class=Code></p>

<p class=Code>vars&nbsp;as&nbsp;p,command&nbsp;as&nbsp;c ) '</p>

<p class=Code>with vars</p>

<p class=Code></p>

<p class=Code>if left(command, 6) = "event:" then</p>

<p class=Code></p>

<p class=Code>command = substr(command,7)</p>

<p class=Code></p>

<p class=Code>end if</p>

<p class=Code></p>

<p class=Code>ui_dlg_event(dlg_title,command)</p>

<p class=Code></p>

<p class=Code>command = ""</p>

<p class=Code>end with</p>

<p class=Code>END FUNCTION</td> </tr> </table><p class=A5>See Also</p>

<p> <a href="MDI Xdialog Framework.html" title="MDI Xdialog Framework" class="wiki">MDI Xdialog Framework</a>, <a href="../../../../Reference/Design/View/Xdialog/Command/LISTVIEWVIRTUAL Xdialog Command.html" title="LISTVIEWVIRTUAL Xdialog Command" class="wiki">{LISTVIEWVIRTUAL}</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:ListView+Control+on+MDI+Xdialog">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>