	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Owner Draw O Directive Command Summary</p>



<p>The following table summarizes all of the owner-draw string commands:</p>




<table style="border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				x-cell-content-align: Top;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Command</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Meaning</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1><a name=__start>{@start</a> <a class="wiki"  href=",end" rel="">,end</a>}</span></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Selects text from start to end character positions. 
 Start and end can include + and -&nbsp;arithmetic operators, and the $ 
 substring operator. For example, to display text from position 1 to 10 
 use <span class=Code1>{@1,10}</span>. To display text up to the first 
 comma, use <span class=Code1>{@1,$(,)}</span>.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1>$(substring)</span></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Returns the character position of substring</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1>#</span></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Returns the row number. For example, to display the 
 row number in a list box, use <span class=Code1>{@#}</span></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1>I=imagenumber</span></p>


<p class=TableLeft><span class=Code1>I=:imagename</span></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Specifies that the owner-draw string should display 
 an image. The image to display can either be specified by number, or by 
 name (by specifying a colon after the equals sign). If you specify the 
 image by number, you must include an imagelist command in the control's 
 format string. For example, to specify an image by number (the entire 
 format string is shown here):</p>



<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=TableLeft><span class=Code1>%I=bluefloppy;O={I=1}%</span></td></tr>
</table>
<p class=TableLeft>To specify the image by name:</p>



<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=TableLeft><span class=Code1>%O={I=:bluefloppy}%</span></td></tr>
</table>
<p class=TableLeft>You can use the @ and $ operators to the right of the 
 = sign so that the image name or number is derived dynamically.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a name=_J<strong>L_R</strong>_T_B<strong>_C</strong>><span class=Code1>{J=</span><span 
 class=Optional>[</span><span class=Code1>L</span><span class=Optional>|</span><span 
 class=Code1>R</span><span class=Optional>]</span><span class=Code1> </span><span 
 class=Optional>[</span><span class=Code1>T</span><span class=Optional>|</span><span 
 class=Code1>B</span><span class=Optional>]</span><span class=Code1> </span><span 
 class=Optional>[</span><span class=Code1>C</span><span class=Optional>]</span><span 
 class=Code1>}</span></a></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Justifies the output generated by the owner-draw string. 
 For example, <span class=Code1>{J=LC}</span>. Justification options are:</p>


<ul>
	
	<li class=kadov-p-CTableBullet><p class=TableBullet>"L" = 
 left or "R" = right</p>

</li>
	
	<li class=kadov-p-CTableBullet><p class=TableBullet>"T" = 
 top or "B" = bottom</p>

</li>
	
	<li class=kadov-p-CTableBullet><p class=TableBullet>"C" = 
 center (both horizontally and vertically)</p>

</li>
	
	<li class=kadov-p-CTableBullet><p class=TableBullet>"LC" 
 = left, vertical center</p>

</li>
	
	<li class=kadov-p-CTableBullet><p class=TableBullet>"RC" 
 = right, vertical center</p>

</li>
</ul></td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1>{F=</span><span class=Optional>[</span><span 
 class=Code1>+</span><span class=Optional>|</span><span class=Code1>-</span><span 
 class=Optional>]</span><span class=Code1> </span><span class=Optional>[</span><span 
 class=Code1>B</span><span class=Optional>|</span><span class=Code1>I</span><span 
 class=Optional>|</span><span class=Code1>U</span><span class=Optional>]</span><span 
 class=Code1>}</span></td>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Starts (+) or stops (-) bold (B), italic (I), or underline 
 (U).</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1><a name=_F_fontname_size_>{F=fontname,size}</a></span></p>


<p class=TableLeft>&nbsp;</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Specifies the font to be used for text generated by 
 the owner-draw string. For example, <span class=Code1>{F=times new roman,10}</span>. 
 The font can be derived from the input text using a&nbsp; <span class=Code1>@<location>[,<length>]</span> 
 directive. For example, <span class=Code1>{F=@1}</span> means that the 
 font is derived from the entire text of the input value. So if the input 
 text is 'Arial,12', the font is 'Arial,12'. <span class=Code1>{F=@1,$(:)-1}</span> 
 means that the input text, up to the first colon specifies the font to 
 use.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1><a name=_B__back_color_>{B=<backcolor></a> 
 [,<selected&nbsp;backcolor> [,<disabled&nbsp;backcolor>]])</span></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Change the <a href="Specifying Colors.html" title="Specifying Colors" class="wiki">background   color</a> for text that follows. Note that there are up to three comma 
 separated colors because the button, list box, or combo box control has 
 three states: normal, selected, and disabled.</p>


<p class=TableLeft>&nbsp;</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1><a name=_C__fore_color_>{C=<forecolor></a> 
 [,<select&nbsp;backcolor> [,<disable backcolor>]])</span></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Set the <a href="Specifying Colors.html" title="Specifying Colors" class="wiki">foreground   color</a> of text that follows.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1>{LF}</span></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Inserts a line break in the output string.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1><a name=_T<strong>Inches</strong>>{T=<Inches>}</a></span></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Tab to position (in inches) and start the text/image 
 that follows at this horizontal offset. For example, <span class=Code1>{T=0.5}</span> 
 will print the owner-draw output that follows at an offset of 0.5 inches.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><span class=Code1><a name=_U_>{U}</a></span></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Underlines the following character. Useful for marking 
 "hot character" for a button.</td></tr>
</table>

<p class=A5>See Also</p>



<p><a href="../../../../Reference/Design/View/Xdialog/Xdialog Language Directives and Operators.html" title="Xdialog Language Directives and Operators" class="wiki">Xdialog Language   Directives and Operators</a></p>



	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Owner+Draw+O+Directive+Command+Summary">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Title?","keywords":"desktop,guide,xdialog"}--->
</body></html>