	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Primary Index or Query Dialog Box - User Manual</p>



<p>Clicking <span class=Button>Query > Select Index/Query</span> displays
 the <span class=Screen>Primary Index or Query</span> dialog box. The <span
 class=Screen>Index/Query Lists</span> tab lists the defined indexes and
 last <span class=Bolded>four</span> queries run.&nbsp;as&nbsp;you select
 each index, Alpha Five displays its key expression (Order) and associated
 filter criteria (Filter). </p>



<p class=Pix><img src="images/Primary_Index_or_Query_Dialog_Box.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 435px;
							height: 280px;
							float: none;
							border-style: none;
							border-style: none;"
					width=435
					height=280
					border=0></p>



<p>The <span class=Screen>Save Queries</span> tab lists any saved queries,
 which also appear&nbsp;as&nbsp;query operations on the <span class=Screen>Operations</span>
 tab of the <span class=Screen>Control Panel</span>. You can have&nbsp;as&nbsp;many
 saved queries&nbsp;as&nbsp;you need.&nbsp;as&nbsp;you select each query,
 Alpha Five displays its key expression (Order) and associated filter criteria
 (Filter). When you <span class=Button>Apply</span> a saved query, it appears
 on the <span class=Screen>Indexes/Query Lists</span> tab. </p>



<p class=Pix><img src="images/Primary_Index_or_Query_Dialog_Box_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 435px;
							height: 280px;
							float: none;
							border-style: none;
							border-style: none;"
					width=435
					height=280
					border=0></p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : To remove a
 saved query, delete it from the <span class=Screen>Operations</span> tab
 of the <span class=Screen>Control Panel</span>.</p>



<p>The <span class=Screen>Fields</span> tab lets you select a field. The
 data will then be ordered by that field.&nbsp; </p>



<p class=Pix><img src="images/Primary_Index_or_Query_Dialog_Box_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 435px;
							height: 280px;
							float: none;
							border-style: none;
							border-style: none;"
					width=435
					height=280
					border=0></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Primary+Index+or+Query+Dialog+Box+-+User+Manual">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,design,guide,xdialog","tags":"desktop, review","notes":"old images, Alpha Five"}--->
</body></html>