	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Reading Variables in External Modeless Xdialogs</p>

<p>This example shows how a variable in another modeless Xdialog can be read using the <a href="/Server/Reference/Design/Api/Functions/Xdialog Function Reference/UI_DLG_EVAL Function.html" title="UI_DLG_EVAL Function" class="wiki">UI_DLG_EVAL(</a>)and UI_DLG_EVAL_VALID() functions.</p>

<p>First, display the "test" modeless dialog box with a variable.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>x=1</p>

<p class=Code>ui_modeless_dlg_box("Test",&lt;&lt;%dlg%</p>

<p class=Code>X: [.20x] <Increment X!increment>;</p>

<p class=Code>{lf};</p>

<p class=Code><Close>;</p>

<p class=Code>%dlg%,&lt;&lt;%code%</p>

<p class=Code>if a_dlg_button = "increment" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;x = x + 1</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "close" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_modeless_dlg_close("test")</p>

<p class=Code>end if</p>

<p class=Code>%code%)</td> </tr> </table><p>Then, create the "Read Value" modeless dialog that will read the value of <span class=Code1>x</span> in the "test" dialog.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dim dlg_title2&nbsp;as&nbsp;c</p>

<p class=Code>dlg_title2 = "Read Value in External Modeless Dialog"</p>

<p class=Code>ui_modeless_dlg_box(dlg_title2,&lt;&lt;%dlg%</p>

<p class=Code>This example shows how a variable in another modeless Xdialog can be read using the ui_dlg_eval\() function.;</p>

<p class=Code><Read Value of 'X' from 'Test'!read>;</p>

<p class=Code>{lf};</p>

<p class=Code><Close>;</p>

<p class=Code>%dlg%,&lt;&lt;%code%</td> </tr> </table><p>Test to see if the variable x exists in the "test" dialog.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>if a_dlg_button = "read" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;if ui_dlg_eval_valid("test","x") then</td> </tr> </table><p>If it does exist, use UI_DLG_EVAL()to read it and display it in a message box.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code></p>

<p class=Code>ui_msg_box("Value of X","" + ui_dlg_eval("test","x"))</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;else</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ui_msg_box("Error","Dialog 'Test' is not open.")</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "close" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;ui_modeless_dlg_close(dlg_title2)</p>

<p class=Code>end if</p>

<p class=Code>%code%)</td> </tr> </table><p>Move the "Read Value" dialog so it does not hide the "Test" dialog..</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>ui_dlg_move(dlg_title2, 0, 0)</td> </tr> </table><p class=A5>Next</p>

<p> <a href="Resizable List Box Columns.html" title="Resizable List Box Columns" class="wiki">Resizable List Box Columns</a></p>

<p class=A5>See Also</p>

<p> <a href="/Server/Reference/Design/Api/Functions/Xdialog Function Reference/UI_DLG_EVAL_VALID Function.html" title="UI_DLG_EVAL_VALID Function" class="wiki">UI_DLG_EVAL_VALID(</a>), <a href="/Index/Miscellaneous Examples.html" title="Miscellaneous Examples" class="wiki">Miscellaneous Examples</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Reading+Variables+in+External+Modeless+Xdialogs">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>