	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Stretchable Windows with Resizable Regions</p>

<p>This script demonstrates how to use the <a href="../../../../Reference/Design/View/Xdialog/Command/STRETCH Xdialog Command.html" title="STRETCH Xdialog Command" class="wiki">{STRETCH}</a>, <a href="../../../../Reference/Design/View/Xdialog/Command/STICKTO Xdialog Command.html" title="STICKTO Xdialog Command" class="wiki">{STICKTO}</a>, <a href="../../../../Reference/Design/View/Xdialog/Command/HSLIDER Xdialog Command.html" title="HSLIDER Xdialog Command" class="wiki">{HSLIDER}</a>, and <a href="../../../../Reference/Design/View/Xdialog/Command/VSLIDER Xdialog Command.html" title="VSLIDER Xdialog Command" class="wiki">{VSLIDER}</a> commands to create a dialog and regions within it that stretch both horizontally and vertically.</p>

<p class=Note> <img src="images/icon_information.gif" x-maintain-ratio=TRUE style="border: none; width: 36px; height: 32px; float: none; border-style: none; border-style: none;" width=36 height=32 border=0> <span class=Note>Note</span> : The sequence of commands in this script is slightly different from the example in Learning Xdialog in order to make them easier to understand.</p>

<p>First, the script defines some data to display and sets the dialog title.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>names = &lt;&lt;%dlg%</p>

<p class=Code>Fred Jones</p>

<p class=Code>Joe Smith</p>

<p class=Code>Henry Ford</p>

<p class=Code>%dlg%</p>

<p class=Code>dim dlg_title&nbsp;as&nbsp;C</p>

<p class=Code>dlg_title = "Using sliders to create resizable regions"</td> </tr> </table><p>The script then defines a region that will be the top portion of the dialog box. This region will stretch to width and height, and stay left aligned.</p>

<p class=Note> <img src="images/icon_information.gif" x-maintain-ratio=TRUE style="border: none; width: 36px; height: 32px; float: none; border-style: none; border-style: none;" width=36 height=32 border=0> <span class=Note>Note</span> : The default behavior for alignment is for objects to stay left and top aligned.&nbsp;as&nbsp;a result, the <span class=Code1>{stickto}</span> command is not actually needed in this example.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>ui_modeless_dlg_box(dlg_title,&lt;&lt;%dlg%</p>

<p class=Code>{stretch=width,height}{stickto=left}</p>

<p class=Code>{region}</p>

<p class=Code>{lf};</p>

<p class=Code>{frame=1,1Sizing Region 0}</p>

<p class=Code>[.20,5name^#names]</p>

<p class=Code>{sp}</td> </tr> </table><p>The <span class=Code1>{hslider}</span> command divides the top portion of the dialog box. After it comes another region that will stretch to width and height, and stay left aligned.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{hslider}</p>

<p class=Code>{sp}</p>

<p class=Code>{stretch=width,height}</p>

<p class=Code>{region}</p>

<p class=Code>{stickto=left}</p>

<p class=Code>First name:|{stretch=width}[.20fname]{stickto=left};</p>

<p class=Code>Last name:|{stretch=width}[.20lname]{stickto=left};</p>

<p class=Code>Address:|{stretch=width,height}[%M%.20,1address]{stickto=top,left};</td> </tr> </table><p>Both the regions on the top portion of the dialog end.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{endregion};</p>

<p class=Code>{endregion};</td> </tr> </table><p>The script adds a vertical slider that will stretch to width and height.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{stretch=width,height}</p>

<p class=Code>{vslider};</td> </tr> </table><p>Next is a region that will occupy the bottom portion of the dialog box. It includes a frame.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{stretch=width,height}</p>

<p class=Code>{region}</p>

<p class=Code>{frame=1,1Sizing Region 1}</td> </tr> </table><p>Inside the frame is a another region that contains controls. This second region is necessary to keep the frame separate from its contents. Note how the First name and Last name controls will stretch horizontally, and the Address control will stretch both horizontally and vertically.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{region}</p>

<p class=Code>{stickto=left,top}</p>

<p class=Code>First name:|{stretch=width}[.40fname];</p>

<p class=Code>Last name:|{stretch=width}[.40lname];</p>

<p class=Code>Address:|{stretch=width,height}[%M%.40,1address];</td> </tr> </table><p>Finally, the regions are ended and the script ends.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{endregion};</p>

<p class=Code>{endregion};</p>

<p class=Code>%dlg%)</td> </tr> </table><p class=Pix> <img src="images/XD_Resizable_Regions_2.gif" x-maintain-ratio=TRUE style="border: none; width: 326px; height: 255px; float: none; border-style: none; border-style: none;" width=326 height=255 border=0></p>

<p class=PixCaption>The dialog&nbsp;as&nbsp;it appears when first opened. </p>

<p class=Pix> <img src="images/XD_Resizable_Regions_1.gif" x-maintain-ratio=TRUE style="border: none; width: 431px; height: 366px; float: none; border-style: none; border-style: none;" width=431 height=366 border=0></p>

<p class=PixCaption>The dialog after stretching the window boundaries and moving the horizontal and vertical sliders. </p>

<p class=A5>Next</p>

<p> <a href="Controls/Buttons/Web Style Buttons.html" title="Web Style Buttons" class="wiki">Web Style Buttons</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only</p>

<p class=A5>See Also</p>

<p> <a href="../../../../Reference/Design/View/Xdialog/Command/STRETCH Xdialog Command.html" title="STRETCH Xdialog Command" class="wiki">{STRETCH}</a>, <a href="../../../../Reference/Design/View/Xdialog/Command/STICKTO Xdialog Command.html" title="STICKTO Xdialog Command" class="wiki">{STICKTO}</a>, <a href="../../../../Reference/Design/View/Xdialog/Command/HSLIDER Xdialog Command.html" title="HSLIDER Xdialog Command" class="wiki">{HSLIDER}</a>, <a href="../../../../Reference/Design/View/Xdialog/Command/VSLIDER Xdialog Command.html" title="VSLIDER Xdialog Command" class="wiki">{VSLIDER}</a>, <a href="/Index/Miscellaneous Examples.html" title="Miscellaneous Examples" class="wiki">Miscellaneous Examples</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Stretchable+Windows+with+Resizable+Regions">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>