	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Support_for_Hotspots_on_Images">Support for Hotspots on Images</h1>
You can now define image maps for images that are displayed on an Xdialog with the {image} command. The image map defines rectangular areas on the image, the icon to use when the mouse is over the defined area and the event name to fire when the user clicks on the defined area.<br />
<br />
In the sample shown below the image map has four defined areas. If the user moves the mouse and clicks on one of the squares in the image, the 'value' variable will be updated to reflect the name of the square the user clicked on and displayed in the input area.<br />
<br />
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox" >dim map as c 
map = &amp;lt;&amp;lt;%map%
10,10,20,20^$$application.alpha!A
10,30,20,20^$$application.chrome!B
30,10,20,20^$$application.firefox!C
30,30,20,20^$$application.ms!D
%map%
&nbsp;
ui_bitmap_create(&#34;foo&#34;,1,1)
ui_bitmap_draw(&#34;foo&#34;,&amp;lt;&amp;lt;%code%
set_font(&#34;foo&#34;,&#34;Tahoma,8&#34;)
set_brush(&#34;Blue&#34;)
set_units(&#34;yellow&#34;)
fill_rect(10,10,20,20)
text(&#34;pixels&#34;,15,15)
fill_rect(30,30,20,20)
text(&#34;A&#34;,35,35)
set_brush(&#34;D&#34;)
fill_rect(10,30,20,20)
text(&#34;red&#34;,15,35)
fill_rect(30,10,20,20)
text(&#34;B&#34;,35,15)
%code%)
&nbsp;
ui_dlg_box(&#34;foo&#34;,&amp;lt;&amp;lt;%dlg%
Click on image;(image=%E=map%foo(;
Click on ).40value(;
%dlg%,&amp;lt;&amp;lt;%code%
if len(a_dlg_button) = 1 then
   value =  a_dlg_button
   a_dlg_button = &#34;C&#34;
end if
%code%)</pre></div><br />
<br />

	<img src="images/click_on_image.png" alt="Image" /><br />
<br />
Additionally, there is a new <a href="/Desktop_Api/UI Functions/UI_HOTSPOT_FROM_MAP Function.xml" title="UI_HOTSPOT_FROM_MAP Function" class="wiki">UI_HOTSPOT_FROM_MAP Function</a>, 
	which converts an HTML map to Alpha Anywhere hotspots, and we have added 
	polygon and ellipse support to Alpha Anywhere ui_hotspots.<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Support+for+Hotspots+on+Images+V11">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Alpha Five","keywords":"desktop,guide,xdialog,html"}--->
</body></html>