	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Understanding the Owner-Draw Operators</p>

<p>The power of owner-draw strings is based on the special operators that an owner-draw string can contain. Some of these commands are introduced here. See <a href="../../../../Reference/Design/Summary of Owner-Draw Commands.html" title="Summary of Owner-Draw Commands" class="wiki">Summary of Owner-Draw Commands</a> below for a full list.</p>

<p>The '@' operator is the 'text select' operator. It selects text from the input value (i.e. from the list of entries that are to be displayed by the list box).</p>

<p>The @ operator is followed immediately by a starting position and an optional ending position. For example, {@1,10} specifies that the list box should display the first 10 characters of the input value. {@5,10} specifies that the list box should display character 5 through 10 of the input value.</p>

<p>The '@' operator can also be used in conjunction with the '$' and '#' operator (discussed below).</p>

<p>The '$' operator is the sub-string operator. It returns the position of a specified sub-string. For example, $( ) returns the position of the first space in the input value. $($) returns the position of the first '$' in the input value, and so on.</p>

<p>Using the '$' operator in conjunction with the '@' operator, you could write {@1,$( )}. This would display text from the input value, starting with position 1 in the input value, and continuing up to and including the first space in the input value. The specification, {@$( )}, on the other hand, would select text, starting with the first space in the input value, and continuing to the end of the input value. In a practical example, you would want to select text starting in the position after the first space, which you would do&nbsp;as&nbsp;follows: {@$( )+1}</p>

<p>The '#' operator displays the row number in the list box. For example the owner-draw string:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>{@#}: {@1}</td> </tr> </table><p>displays row numbers, then a colon, then the input value.</p>

<p class=A5>Next</p>

<p> <a href="Controls/Numbering the Rows in a List Box.html" title="Numbering the Rows in a List Box" class="wiki">Numbering the Rows in a List Box</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Understanding+the+Owner-Draw+Operators">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>