	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Using Images from External Files</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>image_name = a5.Get_exe_Path()+ chr(92) + "learning xdialog\person1.jpg"</p>

<p class=Code>f = file.open(image_name, FILE_RO_SHARED)</p>

<p class=Code>ui_bitmap_load("temp",f.readb(10000000))</p>

<p class=Code>f.close()</p>

<p class=Code>ui_dlg_box("Image","{image=temp} | <OK>")</p>

<p class=Code>ui_bitmap_drop("temp")</td> </tr> </table><p class=Pix> </p>

<p class=Pix> <img src="images/XD_Picture_on_Form.gif" x-maintain-ratio=TRUE style="border: none; width: 219px; height: 202px; float: none; border-style: none; border-style: none;" width=219 height=202 border=0></p>

<p class=PixCaption>Lesson 7: Placing an Image from a File</p>

<p class=A5>Next</p>

<p> <a href="Controls/List Box/Check Box-List Box Control.html" title="Check Box-List Box Control" class="wiki">Check Box-List Box Control</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Images+from+External+Files">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>