	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Using Events to Modify Arrays used in Dialog Box Controls</p>

<p>The following example displays a dialog with two list boxes, 'AvailableCities' and 'SelectedCities'. The buttons on the dialog allow the user to select from the list of available cities and place them in the selected cities list. The Up and Down buttons allow the user to change the order of the cities in the list.</p>

<p>The script makes extensive use of dialog box events.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>list1 = "Boston,New York,Chicago,London,Cape Town,Sydney,Toronto,Los Angeles,Tokyo,Johannesburg,Bulawayo,"</p>

<p class=Code>list1 = list1 + "Washington,Denver,Atlanta,Paris,Rome"</p>

<p class=Code>list1 = stritran(list1,",",crlf())</p>

<p class=Code>dim a_list1[100]&nbsp;as&nbsp;C</p>

<p class=Code>a_list1.initialize(list1)</p>

<p class=Code>a_list1.sort("ab")</p>

<p class=Code>dim a_list2[100]&nbsp;as&nbsp;C</p>

<p class=Code>dim list1_selected&nbsp;as&nbsp;N</p>

<p class=Code>dim list2_selected&nbsp;as&nbsp;N</p>

<p class=Code>list1_selected = 1</p>

<p class=Code>list2_selected = 1</p>

<p class=Code>flag_add = .t.</p>

<p class=Code>flag_remove = .f.</p>

<p class=Code>ui_dlg_box("List Picker",&lt;&lt;%dlg%</p>

<p class=Code>{region0}</p>

<p class=Code>Select the cities you would like to visit on your Grand World Tour.;</p>

<p class=Code>Choose the cities in the order in which you would like to visit them.;</p>

<p class=Code>{region1}</p>

<p class=Code>{lf};</p>

<p class=Code>{region2}</p>

<p class=Code>Available Cities;</p>

<p class=Code>[.25,15list1_selected^#a_list1];</p>

<p class=Code>{endregion2}|</p>

<p class=Code>{region20}{sp};{endregion20}|</p>

<p class=Code>{region3}</p>

<p class=Code>{lf};</p>

<p class=Code>{lf};</p>

<p class=Code>{lf};</p>

<p class=Code><15Add?flag_add>;</p>

<p class=Code><15Add all?flag_add>&nbsp;&nbsp;;</p>

<p class=Code><15Remove?flag_remove>;</p>

<p class=Code><15Remove all?flag_remove></p>

<p class=Code>{endregion3}|</p>

<p class=Code>{region20}{sp};{endregion20}|</p>

<p class=Code>{region4}</p>

<p class=Code>Selected Cities;</p>

<p class=Code>[.25,15list2_selected^#a_list2] ;</p>

<p class=Code>{text=20text1};</p>

<p class=Code>{text=20text_prev};</p>

<p class=Code><10Up?flag_remove> <10Down?flag_remove></p>

<p class=Code>{endregion4}</p>

<p class=Code>{endregion1}</p>

<p class=Code>{endregion0}</p>

<p class=Code>|</p>

<p class=Code>{region5}</p>

<p class=Code>&nbsp;<15&OK>;</p>

<p class=Code>&nbsp;<15&Cancel></p>

<p class=Code>{endregion5}</p>

<p class=Code>%dlg%,&lt;&lt;%code%</p>

<p class=Code>if a_dlg_button = "Add" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;if list1_selected > 0 then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first_empty_on_list2 = a_list2.first_empty()</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list2[first_empty_on_list2] = a_list1[list1_selected]</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list1.delete(list1_selected,1)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list2_selected = first_empty_on_list2</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'after adding an entry, move the focus up to previous city,</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'unless you were already on the first city.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if a_list1[list1_selected] = "" .and. list1_selected > 1 then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list1_selected = list1_selected-1</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list1_selected = list1_selected</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'turn on the Remove flags</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flag_remove = .t.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'if there are no more entries in list1, turn off Add flags</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if a_list1[list1_selected] = "" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flag_add = .f.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "Remove" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;if list2_selected > 0 then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first_empty_on_list1 = a_list1.first_empty()</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;value_to_remove = a_list2[list2_selected]</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list1[first_empty_on_list1] = a_list2[list2_selected]</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list2.delete(list2_selected,1)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list1.sort("ab")</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list1_selected = a_list1.find(value_to_remove)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if list2_selected > 1 then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list2_selected = list2_selected-1</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list2_selected = 1</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if a_list2[list2_selected] = "" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flag_remove = .f.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flag_add = .t.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>end if</p>

<p class=Code>if a_dlg_button = "Up" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;if list2_selected <> 1 then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list2.move(list2_selected,list2_selected-1)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list2_selected = list2_selected - 1</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>End if</p>

<p class=Code>if a_dlg_button = "Down" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;if list2_selected < a_list2.first_empty()-1 then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list2.move(list2_selected,list2_selected+1)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list2_selected = list2_selected + 1</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>end if</p>

<p class=Code>If a_dlg_button = "Add all" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;tempstring = a_list2.dump("r")+a_list1.dump("r")</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_list2.clear()</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_list2.initialize(tempstring)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_list1.clear()</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;list2_selected = 1</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;flag_remove = .t.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;flag_add = .f.</p>

<p class=Code>end if</p>

<p class=Code>If a_dlg_button = "Remove all" then</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;tempstring = a_list1.dump("r")+a_list2.dump("r")</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_list2.clear()</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_list1.initialize(tempstring)</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;list1_selected = 1</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_list1.sort("ab")</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;flag_remove = .f.</p>

<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;flag_add = .t.</p>

<p class=Code>end if</p>

<p class=Code>%code%)</td> </tr> </table><p>This script produces this dialog: </p>

<p class=Pix> <img src="images/XD_List_Picker.gif" x-maintain-ratio=TRUE style="border: none; width: 498px; height: 372px; float: none; border-style: none; border-style: none;" width=498 height=372 border=0></p>

<p class=PixCaption>Lesson 6: Events and&nbsp;&nbsp;Working with Arrays</p>

<p>Let's analyze how the Add button on the dialog works. Here is the event processing code for the Add button:</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>1. if a_dlg_button = "Add" then</p>

<p class=Code>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button = ""</p>

<p class=Code>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if list1_selected > 0 then</p>

<p class=Code>4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;first_empty_on_list2 = a_list2.first_empty()</p>

<p class=Code>5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list2[first_empty_on_list2] = a_list1[list1_selected]</p>

<p class=Code>6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a_list1.delete(list1_selected,1)</p>

<p class=Code>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list2_selected = first_empty_on_list2</p>

<p class=Code>8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'after adding an entry, move the focus up to previous city,</p>

<p class=Code>9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'unless you were already on the first city.</p>

<p class=Code>10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if a_list1[list1_selected] = "" .and. list1_selected > 1 then</p>

<p class=Code>11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list1_selected = list1_selected-1</p>

<p class=Code>12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;else</p>

<p class=Code>13.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;list1_selected = list1_selected</p>

<p class=Code>14.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>15.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'turn on the Remove flags</p>

<p class=Code>16.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flag_remove = .t.</p>

<p class=Code>17.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'if there are no more entries in list1, turn off Add flags</p>

<p class=Code>18.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if a_list1[list1_selected] = "" then</p>

<p class=Code>19.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;flag_add = .f.</p>

<p class=Code>20.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>21.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end if</p>

<p class=Code>22.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;end if</td> </tr> </table><p>In line 2, the <span class=Code1>a_dlg_button</span> variable is set to a NULL value, which keeps the dialog open.</p>

<p>In line 4, we get the index value of the first empty slot in <span class=Code1>a_list2</span>, the array that contains the names of the selected cities.</p>

<p>In line 5 we insert the current city in list1 into list2 at the location of the first empty slot in <span class=Code1>a_list2</span>.</p>

<p>In line 6 we delete the city just selected from the list of available cities.</p>

<p>In line 7 we set the variable <span class=Code1>list2_selected</span> to the index value of the city just inserted into <span class=Code1>a_list2</span>. This causes the list box to highlight the name of the city. If not for this line, the list box would show the new city, but it would not be highlighted.</p>

<p>In line 10 to 14 we move the highlight up to the previous city in the list of available cities. If we are already on the first city, then we do not do anything.</p>

<p>In line 16 we set the <span class=Code1>flag_remove</span> variable to .t., which enables the Remove and Remove All buttons, and the Up and Down buttons.</p>

<p class=A5>Next</p>

<p> <a href="Controls/Image Controls.html" title="Image Controls" class="wiki">Image Controls</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Events+to+Modify+Arrays+used+in+Dialog+Box+Controls">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>