	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using Xdialog to Prompt for Variables</p>



<p>In the previous lessons you have seen how we can use simple Action Script 
 Actions to prompt for one variable at a time. We used the "Prompt 
 for Text" Action and the "Prompt using Radio Button Dialog" 
 Actions (under the "Dialog Boxes" category) to prompt for character 
 variables.</p>



<p>Alpha Five contains a special programming language called Xdialog that 
 is specifically designed for creating rich dialog boxes. Xdialog is a 
 superset of Xbasic. A full discussion of Xdialog is beyond the scope of 
 this book. For details on Xdialog, see <a href="/Index/Learning Xdialog Title.html" title="Learning Xdialog Title" class="wiki">Learning   Xdialog</a>.</p>



<p>Action Scripting however, offers an Action that allows you to create 
 simple Xdialog boxes that prompt for multiple variables in a single dialog 
 box. In this lesson, we'll create a dialog box that looks like this: <a HREF="http://support.alphasoftware.com/imagesV8/Xdialog_9.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=Pix><img src="images/Xdialog_9.gif"
					x-maintain-ratio=TRUE
					style="width: 351px;
							height: 221px;
							float: none;
							border-style: none;
							border-style: none;"
					width=351
					height=221
					border=0></p>



<p>As you can see, this dialog box prompts for three different variables. 
 Here is how you can create this dialog box.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Navigate to the <span 
 class=Screen>Code</span> tab on the <span class=Screen>Control Panel</span>, 
 click the <span class=Button>New</span> button and select <span class=Button>Action 
 Script</span>. The <span class=Screen>Code Editor</span> opens showing 
 an untitled script. </p>

</li>
</ol>

<p class=Pix><img src="images/Code_Editor_Blank_New_Action.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 565px;
							height: 199px;
							border-style: none;
							border-style: none;"
					width=565
					height=199
					border=0></p>



<ol start=2>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Add 
 New Action</span> button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the "Dialog 
 Boxes" category and the "Display an Xdialog Box" Action. 
 Click <span class=Button>OK</span>. </p>

</li>
</ol>

<p class=Pix><img src="images/Action_Dialog_Boxes_Display_an_Xdialog_box.gif"
					x-maintain-ratio=TRUE
					style="width: 627px;
							height: 231px;
							float: none;
							border-style: none;
							border-style: none;"
					width=627
					height=231
					border=0></p>



<p>The <span class=Screen>Display an Xdialog Box</span> Genie appears. 
 This is where you define the variables that the Xdialog box will prompt 
 for. For each variable you place on the Xdialog box, you specify the variable:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>name</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>prompt</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>type</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>size</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>default value</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>style</p>

</li>
</ul>

<p>Alpha Five offers a very extensive list of styles from which you can 
 choose, including list boxes, combo boxes, edit combo boxes, tree controls, 
 file select controls, folder select controls etc. </p>



<p class=Pix><img src="images/Xdialog_1.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 468px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=468
					border=0></p>



<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter "date"&nbsp;as&nbsp;the 
 <span class=Control>Variable Name</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter "Date 
 payment received"&nbsp;as&nbsp;the <span class=Control>Prompt</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Date"&nbsp;as&nbsp;the 
 <span class=Control>Type</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Check the <span class=Control>Default 
 Value</span> check box.&nbsp;This allows you to specify a default value 
 for the <span class=Code1>date</span> variable, which should be today's 
 date. To enter the required expression, you must start with an equals 
 sign.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter "=date()"&nbsp;as&nbsp;the 
 expression for the <span class=Control>Default Value</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Calendar"&nbsp;as&nbsp;the 
 <span class=Control>Style</span>. Your screen should look like this: <a HREF="http://support.alphasoftware.com/imagesV8/Xdialog_2.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>

</li>
</ol>

<p class=Pix><img src="images/Xdialog_2.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 263px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=263
					border=0></p>



<ol start=10>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>We can now add the 
 next variable to the Xdialog box. Click the <span class=Control>Add New 
 Variable</span> button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Fill in the details&nbsp;as&nbsp;shown 
 below:</p>

</li>
</ol>

<p>Note the various styles available for a numeric field. We will choose 
 the "Calculator" style. </p>



<p class=Pix><img src="images/Xdialog_3.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 267px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=267
					border=0></p>



<ol start=12>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Now add the third 
 variable to the Xdialog box. Click the <span class=Button>Add New Variable</span> 
 button. Fill in the details&nbsp;as&nbsp;shown below: </p>

</li>
</ol>

<p class=Pix><img src="images/Xdialog_4.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 337px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=337
					border=0></p>



<p class=Note><span class=Note>TIP</span> : Click the <span class=Button>?</span> 
 button to the right of the <span class=Control>Style</span> prompt to 
 display examples of all the different styles.</p>



<ol start=13>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Next you need to 
 define the properties of the list box. Click the <span class=Button>Define 
 List Box</span> button.</p>

</li>
</ol>

<p>The <span class=Screen>List Box</span> dialog box appears. The choices 
 for the list box can be "User Defined," which means you will 
 type in the list of possible choices for the list box to display. Alternatively, 
 the choices for the list box can be "Computed Automatically."</p>



<p>This example does not use the "Computed Automatically" option 
 in this example, although this option is extremely powerful. It can automatically 
 populate the list box with the names of the reports, forms, browses etc. 
 in the current database. It can also populate the list box with data that 
 is stored in a table etc. Feel free to explore the options before continuing 
 the lesson.</p>



<ol start=14>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter "Check", 
 "Cash" and "Credit card"&nbsp;as&nbsp;the options. 
 Enter one option per line. </p>

</li>
</ol>

<p class=Pix><img src="images/Xdialog_5.gif"
					x-maintain-ratio=TRUE
					style="width: 367px;
							height: 515px;
							float: none;
							border-style: none;
							border-style: none;"
					width=367
					height=515
					border=0></p>



<ol start=15>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to close the dialog box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span> 
 to proceed to the next Genie page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the dialog 
 box title and header text&nbsp;as&nbsp;shown below: </p>

</li>
</ol>

<p class=Pix><img src="images/Xdialog_6.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 304px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=304
					border=0></p>



<ol start=18>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>. 
 This dialog screen allows you to specify the name of the dialog box result 
 variable. This variable is different than the variables you placed on 
 the dialog box on the previous screens. This variable allows you to "trap" 
 whether the user clicked the <span class=Button>OK</span> button to close 
 the dialog, or the <span class=Button>Cancel</span> button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Accept the default 
 entries and click <span class=Button>Next&nbsp;></span> and <span class=Button>Finish</span> 
 to close the Genie. </p>

</li>
</ol>

<p class=Pix><img src="images/Xdialog_7.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 272px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=272
					border=0></p>



<p>The <span class=Screen>Code Editor</span> shows the Action you just 
 added. </p>



<p class=Pix><img src="images/Xdialog_8.gif"
					x-maintain-ratio=TRUE
					style="width: 610px;
							height: 94px;
							float: none;
							border-style: none;
							border-style: none;"
					width=610
					height=94
					border=0></p>



<ol start=20>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Run 
 Script</span> button to test your script. The following Xdialog appears. 
 </p>

</li>
</ol>

<p class=Pix><img src="images/Xdialog_9.gif"
					x-maintain-ratio=TRUE
					style="width: 351px;
							height: 221px;
							float: none;
							border-style: none;
							border-style: none;"
					width=351
					height=221
					border=0></p>



<ol start=21>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Calendar</span> 
 button to the right of the <span class=Control>Date payment received</span> 
 field. A pop-up calendar appears. Make any selection and the calendar 
 closes and enters the selected date. </p>

</li>
</ol>

<p class=Pix><img src="images/Xdialog_10.gif"
					x-maintain-ratio=TRUE
					style="width: 391px;
							height: 236px;
							float: none;
							border-style: none;
							border-style: none;"
					width=391
					height=236
					border=0></p>



<ol start=22>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Calculator</span> 
 button to the right of the <span class=Control>Amount received</span> 
 field. A pop-up calculator appears. </p>

</li>
</ol>

<p class=Pix><img src="images/Xdialog_11.gif"
					x-maintain-ratio=TRUE
					style="width: 351px;
							height: 275px;
							float: none;
							border-style: none;
							border-style: none;"
					width=351
					height=275
					border=0></p>



<p>When you click the <span class=Button>OK</span> button to close the 
 dialog the variables that were included in this dialog box will be available 
 to you in any subsequent Actions you choose to add to this script.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Xdialog+to+Prompt+for+Variables">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,xdialog"}--->
</body></html>