	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using Xdialog to Filter a Report </p>



<p>The following example shows the use of a multi-select list box with 
 embedded check boxes with the AlphaSports sample database. It allows the 
 operator to select multiple values from the <span class=Code1>BILL_CITY</span> 
 field, then uses this information to filter the fields that will appear 
 on a report. The Xdialog form looks like this. </p>



<p class=Pix><img src="images/XD_Multi_Select_List_Check_Box.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 238px;
							height: 452px;
							float: none;
							border-style: none;
							border-style: none;"
					width=238
					height=452
					border=0></p>



<p class=A5>Example</p>




<table class="codeTable" style="x-cell-content-align: top;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>DIM SHARED a_selected[100]&nbsp;as&nbsp;C</p>


<p class=Code>DIM SHARED varC_result&nbsp;as&nbsp;C</p>


<p class=Code>DIM a_cities[temp_count]&nbsp;as&nbsp;C</p>


<p class=Code>auto_list_cities = table.external_record_content_get("customer","Bill_city","Bill_city","unique_key_value()")</p>


<p class=Code>temp_count = w_count(auto_list_cities,crlf())</p>


<p class=Code>a_cities.initialize(auto_list_cities)</p>


<p class=Code>ok_button_label = "&OK"</p>


<p class=Code>cancel_button_label = "&Cancel"</p>


<p class=Code>varC_result = ui_dlg_box("Print Report",&lt;&lt;%dlg%</p>


<p class=Code>{frame=1,2:Print report for which cities?}</p>


<p class=Code>{region}</p>


<p class=Code>[%M%.40,15cities^$$a_cities!select_cities];</p>


<p class=Code>{endregion};</p>


<p class=Code>{lf}</p>


<p class=Code>{region}</p>


<p class=Code>[.40,10cityname^#a_selected];</p>


<p class=Code>{endregion};</p>


<p class=Code>{region}</p>


<p class=Code>{lf};</p>


<p class=Code><*15=ok_button_label!OK> <15=cancel_button_label!CANCEL></p>


<p class=Code>{endregion};</p>


<p class=Code>%dlg%,&lt;&lt;%zz%</p>


<p class=Code>if a_dlg_button="select_cities" then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_dlg_button=""</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_selected.clear()</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a_selected.initialize(cities)</p>


<p class=Code>end if</p>


<p class=Code>%zz%)</p>


<p class=Code>if varc_result = "OK" .and. cities <> "" 
 then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;filter = alltrim(cities)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;filter = *for_each(x, "bill_city 
 = " + quote(x), filter)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;filter = alltrim(filter)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;filter = stritran(filter, crlf(), 
 " .or. ")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;report.preview("Customer List",filter)</p>


<p class=Code>end if&nbsp;&nbsp;&nbsp;</td></tr>
</table>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Xdialog+to+Filter+a+Report">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,xdialog"}--->
</body></html>