	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>&nbsp;</p>
	<p class=A3Topic>What is a Dialog?</p>

<p>A dialog, or dialog box, is used throughout Windows programs to interact with the user. A dialog can be used to gather information from the user, or to present information to users. Xdialog is an extremely powerful and flexible language for describing a standard Windows dialog box. In fact, testament to the power and flexibility of Xdialog is the fact that much of what's new in Alpha Anywhere is written using Xdialog.</p>

<p>Xdialog allows you to create dialog boxes that contain all standard Windows controls, such&nbsp;as&nbsp;text boxes, combo boxes, list boxes, drop-down combo boxes, radio buttons, check boxes, tab controls, tree controls and more. In addition you can put images on dialog boxes, and you can create both modal and modeless dialog boxes.&nbsp;&nbsp;In a modal dialog box, the user must close the dialog before giving focus to another window, while in a modeless dialog box, the user can leave the dialog box open, while continuing to work in other windows.</p>

<p>The following dialog, which is displayed when you choose the Backup Database command, is an example of a dialog box created using Xdialog. </p>
	<p>&nbsp;</p>

<p class=Pix> 
<img border="0" src="images/XD_Backup_Database.png" width="813" height="537"></p>

<p>&nbsp;</p>
	<p>Xdialog will allow you to add dialog boxes to your application that are indistinguishable from dialog boxes that an experienced C or C++ programmer might create. And, it will allow you to do it in a fraction of the time that it would take even the most skilled C programmers!</p>

<p class=A5>See Also</p>

<p> <a href="../../../../Reference/Design/View/Xdialog/Controls/List Boxes with Resizable Columns.html" title="List Boxes with Resizable Columns" class="wiki">List Boxes with Resizable Columns</a>, <a href="Static Text Genie.html" title="Static Text Genie" class="wiki">Static Text Genie</a>, <a href="../../../../Reference/Design/View/Xdialog/Xdialog Control Reference.html" title="Xdialog Control Reference" class="wiki">Xdialog Control Reference</a>, <a href="Controls/Xdialog Preview Button.html" title="Xdialog Preview Button" class="wiki">Xdialog Preview Button</a></p>


<p class=A5>Limitations</p>

<p>Desktop applications only</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:What+is+a+Dialog%3F">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>