	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Xdialog, HTML, and JavaScript - a Powerful Combination</p>

<p>This example show how you can:</p>

<ol> <li class=kadov-p-CListNumber><p class=ListNumber>Embed a browser object in an Xdialog.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Respond to events in the HTML with Xbasic.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Construct Javascript code using Xbasic and then send that code to the browser object where it is executed. </p>

</li> </ol><p class=Pix> <img src="images/XD_Xbasic_Handles_Javascript_Events.gif" x-maintain-ratio=TRUE style="border: none; float: none; width: 464px; height: 532px; border-style: none; border-style: none;" width=464 height=532 border=0></p>

<p class=A5>Example</p>

<p>Create a ContextEval object and give it a unique name so that it is possible to run multiple instances of this script.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dim XbasicCtxName&nbsp;as&nbsp;c</p>

<p class=Code>XbasicCtxName = "MyContextEval" + time("hms3")</p>

<p class=Code>' dim ContextEval object</p>

<p class=Code>dim XbasicCtx&nbsp;as&nbsp;p</p>

<p class=Code>XbasicCtx = ole.create("a5contexteval.contexteval")</p>

<p class=Code>' attach then ContextEval object to Alpha Five</p>

<p class=Code>XbasicCtx.Attach(*Xbasic_eval_context_attach())</p>

<p class=Code>Xbasic_eval_context_add(XbasicCtxName)</td> </tr> </table><p>Set up the HTML that will be displayed in the browser object on the Xdialog. The <span class=Code1>ContextEval</span> name is represented by the place holder: {CTXEVALNAME}.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code>dim html&nbsp;as&nbsp;C</p>

<p class=Code>html = &lt;&lt;%html%</p>

<p class=Code><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"</p>

<p class=Code>"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"></p>

<p class=Code><html></p>

<p class=Code><head></p>

<p class=Code><title></title></td> </tr> </table><p>Must set this property in order to make XP Themes render in IE ActiveX control.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><meta http-equiv="MSThemeCompatible" content="Yes"></td> </tr> </table><p>This control will allow the HTML and Alpha Five to communicate.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><object classid="clsid:EE3218B4-5E36-4435-93D6-FB563D7BAD16" id="A5CONTEXT" width="0" height="0"></p>

<p class=Code><param name="listen" value="{CTXEVALNAME}"></p>

<p class=Code></object></td> </tr> </table><p>These functions handle communications with Xbasic.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code></td> </tr> </table><p>Grab the ContextEval object.</p>

 <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code></p>

<p class=Code></head></td> </tr> </table>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><body></p>

<p class=Code><div></p>

<p class=Code><input type="text" id="input1" value="" /><button onclick="buttonClick('input1')">^</button></p>

<p class=Code></p>

<p class=Code><br /></p>

<p class=Code><input type="text" id="input2" value="" /><button onclick="buttonClick('input2')">^</button> <br /></p>

<p class=Code><input type="text" id="input3" value="" /><button onclick="buttonClick('input3')">^</button> <br /></p>

<p class=Code><p style="font-family:Tahoma;">Notice when you click one of the buttons, Xbasic handles the event.</p></p>

<p class=Code><textarea id="myTextarea" style="width: 2in; height: 1in;"></textarea></p>

<p class=Code><p style="font-family:Tahoma;">Type Javascript code in the textbox below.</p></p>

<p class=Code></div></p>

<p class=Code
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,javascript,xdialog,html","tags":"desktop"}--->
</body></html>