	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Xdialog Genie </p>



<p>The <span class=Screen>Xdialog Genie</span> is just one of many components 
 of the much larger <span class=Screen>Action Script Genie</span>. However, 
 it is notable&nbsp;as&nbsp;tool that produces fully functional Xdialog 
 boxes with embedded controls and table lookups. The <span class=Screen>Xdialog 
 Genie</span> produces reusable Xdialog code and is an excellent way to 
 start any Xdialog project. </p>



<p class=Pix><img src="images/Filter_Button_commented.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 627px;
							height: 484px;
							border-style: none;
							border-style: none;"
					width=627
					height=484
					border=0></p>



<p class=PixCaption>Begin by selecting "Dialog Boxes" and "Display 
 an XDialog Box".</p>



<p>Add&nbsp;as&nbsp;many controls&nbsp;as&nbsp;you wish. Each control is 
 associated with a variable. This example creates a single variable and 
 a single record list - list box control. </p>



<p class=Pix><img src="images/Xdialog_Genie_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 491px;
							height: 468px;
							border-style: none;
							border-style: none;"
					width=491
					height=468
					border=0></p>



<p class=PixCaption>You can specify the control's label, size, and default 
 value.</p>



<p>Decide what data you want to display. In this case, we are retrieving 
 non-blank <span class=Code1>Lastname</span> fields from the AlphaSports 
 Customer table. Note that we are returning the <span class=Code1>Lastname</span> 
 field. </p>



<p class=Pix><img src="images/Xdialog_Genie_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 372px;
							height: 469px;
							border-style: none;
							border-style: none;"
					width=372
					height=469
					border=0></p>



<p class=PixCaption>Like all list boxes, this control could display multiple 
 columns (fields) from the Customer table.</p>



<p>After defining all the controls we want to see, we next specify the 
 dialog title, its buttons, and head and footer text. </p>



<p class=Pix><img src="images/Xdialog_Genie_4.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 491px;
							height: 468px;
							border-style: none;
							border-style: none;"
					width=491
					height=468
					border=0></p>



<p>The Variable Name field contains the name of the variable that contains 
 the name of the button pressed. The <a href="/Server/Reference/Design/Api/Functions/Xdialog Function Reference/UI_DLG_BOX Function.html" title="UI_DLG_BOX Function" class="wiki">UI_DLG_BOX(</a>) 
 function (which generates the dialog box) returns the button pressed to 
 the calling script.&nbsp; </p>



<p class=Pix><img src="images/Xdialog_Genie_5.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 491px;
							height: 468px;
							border-style: none;
							border-style: none;"
					width=491
					height=468
					border=0></p>



<p class=PixCaption>This page of the Xdialog Genie supports integration 
 with a form or function.</p>



<p>The final Xdialog dialog box looks like the following. </p>



<p class=Pix><img src="images/Xdialog_Genie_6.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 326px;
							height: 221px;
							border-style: none;
							border-style: none;"
					width=326
					height=221
					border=0></p>



<p class=A5>See Also</p>



<p><a href="Display an Xdialog Box.html" title="Display an Xdialog Box" class="wiki">Display   an Xdialog Box</a>, <a href="Controls/Xdialog Preview Button.html" title="Xdialog Preview Button" class="wiki">Preview Button</a>, 
 <a href="Customize Xdialog Genie Dialog Boxes.html" title="Customize Xdialog Genie Dialog Boxes" class="wiki">Customize Dialog Box</a></p>



	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Xdialog+Genie">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,xdialog,genie"}--->
</body></html>