	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Filtering a Grid with a Menu Selection</p>

<p>When using a navigation system component for creating menus, a common task would be to display a page containing a grid. This topic describes how to add a filter to the URL that displays the target page.</p>

<p class=A5><a name=Creating_a_Grid_Component_for_the_Customer_Table>Creating a Grid Component for the 
Alpha Anywhere Customer Table</a></p>

<ol> <li class=kadov-p-CListNumber><p class=ListNumber>Create a grid component based on the AlphaSports <span class=Code1>Customer</span> table.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Grid > Query (DBF)</span> page:</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/Order_button.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> next to the <span class=Control>Order</span> field to display the <span class=Screen>Order Builder</span>.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/List_Button_Blue_Down.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> to select "Lastname" in the <span class=Control>Sort by</span> list.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/List_Button_Blue_Down.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> to select "Firstname" in the <span class=Control>then, sort by</span> list.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>OK</span> to continue.</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Grid > Fields</span> menu.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Select several fields, including the <span class=Code1>Bill_state_region</span> field.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Fix the <span class=Button>Column Properties > Column headings</span> to make them attractive.</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>File > Save as</span> and name the grid component "Customers".</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Close the <span class=Screen>Grid Component Builder</span>.</p>

</li> </ol><p class=A5><a name=Creating_a_Grid_Component_for_the_Customer_Table2>Creating a Grid Component for the Customer Table</a></p>

<ol> <li class=kadov-p-CListNumber><p class=ListNumber>Create a grid component based on the AlphaSports <span class=Code1>Customer</span> table.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Grid > Query (AlphaDAO)</span> page.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter "Lastname,Firstname" in the <span class=Control>Order by</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Grid > Fields</span> menu.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Select several fields, including the <span class=Code1>Bill_state_region</span> field.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Fix the <span class=Button>Column Properties > Column headings</span> to make them attractive.</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>File > Save as</span> and name the grid component "Customers".</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Close the <span class=Screen>Grid Component Builder</span>.</p>

</li> </ol><p class=A5><a name=Creating_a_Grid_Component_for_the_Customer_Table1>Creating a Grid Component for the <a name=Creating_a_Grid_Component_for_the_Customer_Table21>Microsoft Access Customer Table</a></a></p>

<ol> <li class=kadov-p-CListNumber><p class=ListNumber>Create a grid component based on the AlphaSports.MDB database and the <span class=Code1>Customer</span> table.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>On the <span class=Screen>Grid > Query (ADO)</span> menu:</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/Choices_button.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> next to the <span class=Control>Order</span> field to display the <span class=Screen>Specify Order</span> dialog.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Select "Lastname" and click <img src="images/Move_Right_Button.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> to add it to the <span class=Control>Order</span> expression.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Comma</span>.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Select "Firstname" and click <img src="images/Move_Right_Button.gif" x-maintain-ratio=TRUE style="border: none; width: 22px; height: 22px; float: none; border-style: none; border-style: none;" width=22 height=22 border=0> to add it to the <span class=Control>Order</span> expression.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>OK</span> to continue.</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Grid > Fields</span> menu.</p>

</li> <ol> <li class=kadov-p-CListAlpha><p class=ListAlpha>Select several fields, including the <span class=Code1>Bill_state_region</span> field.</p>

</li> <li class=kadov-p-CListAlpha><p class=ListAlpha>Fix the <span class=Button>Column Properties > Column headings</span> to make them attractive.</p>

</li> </ol> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>File > Save as</span> and name the grid component "Customers".</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Close the <span class=Screen>Grid Component Builder</span>.</p>

</li> </ol><p class=A5>Creating the Navigation System Component for Alpha 
	Anywhere</p>

<p>The next step is to create a navigation system component with several entries, each of which applies a different filter.</p>

<ol> <li class=kadov-p-CListNumber><p class=ListNumber>Create a navigation system component.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Navigation System</span> menu.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Select "Navigation System" in the central pane.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Change the Root Settings > Width to <span class=Code1>1.75in</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Child</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Bill_State_Region = "NY"</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field. Note that you have to replace the normal quotation marks with the URL safe equivalent, which is <span class=Code1>%22</span>.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w?customers_filter=bill_state_region=%22NY%22</span></td> </tr> </table> <ol start=8> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Sibling</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Lastname > "K"</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field. Note that you have to replace the normal quotation marks with the URL safe equivalent, which is <span class=Code1>%22</span>.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w?customers_filter=lastname>%22K%22</span></td> </tr> </table> <ol start=11> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Sibling</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Bill_Country &lt> ""</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field. Note that you have to replace the normal quotation marks with the URL safe equivalent, which is <span class=Code1>%22</span>.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w?customers_filter=bill_country&lt>%22%22</span></td> </tr> </table> <ol start=14> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>File > Save as</span> and save the navigation system component&nbsp;as&nbsp;"Menu".</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Sibling</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Clear Filter</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w</span></td> </tr> </table><p class=A5>Creating the Navigation System Component for Microsoft Access</p>

<p>The next step is to create a navigation system component with several entries, each of which applies a different filter.</p>

<ol> <li class=kadov-p-CListNumber><p class=ListNumber>Create a navigation system component.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Navigation System</span> menu.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Select "Navigation System" in the central pane.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Change the Root Settings > Width to <span class=Code1>1.75in</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Child</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Bill_State_Region = 'NY'</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w?customers_filter=bill_state_region='NY'</span></td> </tr> </table> <ol start=8> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Sibling</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Lastname > 'K'</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w?customers_filter=lastname>'K'</span></td> </tr> </table> <ol start=11> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Sibling</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Bill_Country &lt> ''</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w?customers_filter=bill_country&lt>''</span></td> </tr> </table> <ol start=14> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>File > Save as</span> and save the navigation system component&nbsp;as&nbsp;"Menu".</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Sibling</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Clear Filter</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w</span></td> </tr> </table><p class=A5>Creating the Navigation System Component (SQL)</p>

<p>The next step is to create a navigation system component with several entries, each of which applies a different filter.</p>

<ol> <li class=kadov-p-CListNumber><p class=ListNumber>Create a navigation system component.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Display the <span class=Screen>Navigation System</span> menu.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Select "Navigation System" in the central pane.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Change the Root Settings > Width to <span class=Code1>1.75in</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Child</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Bill_State_Region = 'NY'</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field. Note that you have to replace the normal quotation marks with the URL safe equivalent, which is <span class=Code1>%22</span>.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w?customers_filter=bill_state_region='NY'</span></td> </tr> </table> <ol start=8> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Sibling</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Lastname > 'K'</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field. Note that you have to replace the normal quotation marks with the URL safe equivalent, which is <span class=Code1>%22</span>.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w?customers_filter=lastname>'K'</span></td> </tr> </table> <ol start=11> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Sibling</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Bill_Country &lt> ''</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field. Note that you have to replace the normal quotation marks with the URL safe equivalent, which is <span class=Code1>%22</span>.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w?customers_filter=bill_country&lt>''</span></td> </tr> </table> <ol start=14> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>File > Save as</span> and save the navigation system component&nbsp;as&nbsp;"Menu".</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Add Sibling</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter <span class=Code1>Clear Filter</span> into the <span class=Button>Node Settings > Text</span> field.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the following expression into the <span class=Button>Node Settings > ur<x>l</span> field.</p>

</li> </ol>  <table class="codeTable" style="x-cell-content-align: top; border-left-style: None; border-right-style: None; border-top-style: None; border-bottom-style: None; width: 100%; border-spacing: 0px; border-spacing: 0px;" cellspacing="0" width="100%"> <col style="width: 100%;"> <tr style="x-cell-content-align: top;" valign="top"> <td style="x-cell-content-align: top; width: 100%; padding-right: 10px; padding-left: 10px;" valign="top" width="100%"><p class=Code><span class=Code1>customers.a5w</span></td> </tr> </table><p class=A5>Placing the Components on a Page</p>

<ol start=1> <li class=kadov-p-CListNumber><p class=ListNumber>Create a new A5W page.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>File > Save as</span> and save the page&nbsp;as&nbsp;"Customers".</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Insert Component</span> to display the <span class=Screen>Insert Component</span> dialog.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Select</span>, pick the "Menu" component, and click <span class=Button>OK</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Select the text that appears in the navigation system component: "Place all page content here." and delete it.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Leave the cursor in this table cell and click <span class=Button>Insert Component</span> to display the <span class=Screen>Insert Component</span> dialog.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Select</span>, pick the "Customers" component, and click <span class=Button>OK</span>.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Save the new page and exit from the <span class=Screen>HTML Editor</span>.</p>

</li> </ol><p>The result should look something like one of the following.&nbsp;as&nbsp;you click the different menu entries, you will see that you load just the customers.a5w page, but with different filter.</p>

<p class=Pix><img src="images/WPT_Filtered_Menu_Entries.gif" x-maintain-ratio=TRUE style="border: none; width: 717px; height: 472px; float: none; border-style: none; border-style: none;" width=717 height=472 border=0></p>

<p class=PixCaption>Filter Expression for Alpha Anywhere Grid Component </p>

<p class=Pix><img src="images/WPT_Filtered_Menu_Entries_ADO.gif" x-maintain-ratio=TRUE style="border: none; width: 717px; height: 477px; float: none; border-style: none; border-style: none;" width=717 height=477 border=0></p>

<p class=PixCaption>Filter Expression for ADO/ODBC Grid Component </p>

<p class=A5>See Also</p>

<p><a href="/Index/Contents - Web Publishing Tutorial.html" title="Contents - Web Publishing Tutorial" class="wiki">Contents</a></p>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Filtering+a+Grid+with+a+Menu+Selection">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"web, review","notes":"Alpha Five","keywords":"server,guide,grid"}--->
</body></html>