	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Accented Characters</p>



<p>Alpha Anywhere will store and display accented characters in text and memo 
 fields. However, it does not support accented characters in field labels, 
 scripts, and in utilities that process scripts.</p>



<p>The best way to put accented characters into labels and onto forms is&nbsp;as&nbsp;bitmaps. 
 The following image shows a button on a form.</p>



<p class=Pix><img src="images/Accented_Characters_Button.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 108px;
							height: 42px;
							float: none;
							border-style: none;
							border-style: none;"
					width=108
					height=42
					border=0></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the accented 
 text into <span class=Screen>Microsoft Word</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Change the page color 
 in <span class=Screen>Word</span> to the same color that your form background 
 uses.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Capture the bitmap 
 by clicking <span class=Button>SHIFT + PRINT SCREEN</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Crop the image using 
 an image editor and save it&nbsp;as&nbsp;a Windows Bitmap (.BMP).</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="/Api/Functions/Data Type/Character Functions/index.xml" title="Character Functions" class="wiki">Character Functions</a></p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Accented+Characters">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form"}--->
</body></html>