	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Adding Users from the Desktop</p>



<p>All users who login to your web application have to be first registered 
 in the user table. If you have fields other than UserID in the <span   class=Screen><a href="/Server/Guide/Design/Security/Enter Edit Web Users Dialog.html" title="Enter Edit Web Users Dialog" class="wiki">Enter / Edit Web Users</a></span> dialog, you must first 
 add them to the user table ("mytable") with a conventional desktop 
 form or browse.</p>



<p class=Pix><img src="images/WP_Add_New_User_dialog.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 430px;
							height: 175px;
							float: none;"
					width=430
					height=175
					border=0></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Tables/Sets</span> tab of the <span class=Screen>Control 
 Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "demousers", 
 right click, and select <span class=Button>Open Default Form</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter new records 
 with these values in the <span class=Code1>Firstname</span> and <span 
 class=Code1>Lastname</span> fields. Ignore the other fields for the moment.</p>

</li>
	
	
	<div align=center>
	<table style="x-cell-content-align: top;
					float: aligncenter;
					border-spacing: 0px;
					border-spacing: 0px;" cellspacing="0">
	<col>
	<col>
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
	<p class=TableHead>Firstname</td>
	<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
	<p class=TableHead>Lastname</td></tr>
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Alfred</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Alpha</td></tr>
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Betty</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Beta</td></tr>
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Charles</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Gamma</td></tr>
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Doris</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Delta</td></tr>
	</table>
	</div>
	<li class=kadov-p-CListNumber><p class=ListNumber>Save your records 
 and close the form. This picture of the <span class=Code1>demousers</span> 
 default browse shows the data entered so far. </p>

</li>
	
	<p class=Pix><img src="images/WPT_Initial_User_Table.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								width: 585px;
								height: 133px;
								float: none;
								border-style: none;
								border-style: none;"
						width=585
						height=133
						border=0></p>


	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Web Projects Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right click on the 
 right pane of the <span class=Screen>Control Panel</span> (which lists 
 your pages and components) and select <span class=Button>Security > 
 Web Users</span> to display the <span   class=Screen>Enter / Edit Web Users</span><a href="tiki-editpage.php?page=Enter%2FEdit+Web+Users+Dialog" title="Create page: Enter/Edit Web Users Dialog" class="wiki wikinew">?</a> dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select each of the 
 entries in the <span class=Control>List of Registered Users</span> :</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Enter following 
 <span class=Code1>UserID</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Enter the following 
 <span class=Code1>Password</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Permissions</span> 
 and place a check next to the appropriate group. If the group does not 
 yet exist, click <span class=Button>New Group</span>, enter its name, 
 and click <span class=Button>OK</span>.</p>

</li>
	</ol>
	
	
	<div align=center>
	<table style="x-cell-content-align: top;
					float: aligncenter;
					border-spacing: 0px;
					border-spacing: 0px;" cellspacing="0">
	<col>
	<col>
	<col>
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
	<p class=TableHead>User ID</td>
	<td colspan="1" rowspan="1" class="tableHeader" style="x-cell-content-align: top;" valign="top">
	<p class=TableHead>Password</td>
	<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
	<p class=TableHead>Permissions</td></tr>
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>alfred</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>alfred</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Marketing</td></tr>
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>betty</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>betty</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Accounting</td></tr>
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>charles</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>charles</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Accounting</td></tr>
	
	<tr style="x-cell-content-align: top;" valign="top">
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>doris</td>
	<td colspan="1" class="TableCell" rowspan="1" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>doris</td>
	<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
	<p class=TableLeft>Marketing</td></tr>
	</table>
	</div>
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Save 
 Record</span> and <span class=Button>Close</span> when you are finished. 
 This picture of the <span class=Code1>demousers</span> default browse 
 shows fully populated records. Remember the <span class=Code1>guid</span> 
 and <span class=Code1>permissions</span> fields are encoded, so you will 
 not have the same values. </p>

</li>
</ol>

<p class=Pix><img src="images/WPT_Final_User_Table.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 767px;
							height: 134px;
							float: none;
							border-style: none;
							border-style: none;"
					width=767
					height=134
					border=0></p>





<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>



<p class=A5>See Also</p>



<p><a href="/Index/Contents - Web Publishing Tutorial.html" title="Contents - Web Publishing Tutorial" class="wiki">Contents</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Adding+Users+from+the+Desktop">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,security,guide,form,browse","tags":"desktop"}--->
</body></html>