	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Changing Custom Menus and Toolbars at Runtime</p>



<p>&nbsp;</p>
	<p>At runtime, the custom drop-down and right click menus or toolbars for 
 any of the form modes ( <span class=Screen>View</span>, <span class=Screen>Query 
 by Form</span>, and <span class=Screen>Find by Form</span> ), or for a 
 browse can be dynamically changed by setting the appropriate form or object 
 property. For example, to change the drop down menu for a form called 
 "Customers" to "menu2", you would execute the following 
 Xbasic command:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>:Customers.drop_down_menu = "menu2"</td></tr>
</table>

<p>The table below lists the various properties that you can set to control 
 the menus and toolbars for form and browse windows.</p>




<table style="width: 100%;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 28.872%;">
<col style="width: 71.128%;">

<tr>
<td class="tableHeader" style="width: 28.872%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="28.872%">
<p class=TableHead>Property</td>
<td class="tableHeader" style="width: 71.128%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="71.128%">
<p class=TableHead>Description</td></tr>

<tr>
<td class="TableCell" style="width: 28.872%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="28.872%">
<p class=TableLeft>.DROP_DOWN_MENU</td>
<td class="TableCell" style="width: 71.128%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="71.128%">
<p class=TableLeft>Main menu for the window when in <span class=Screen>View</span> 
 mode.</td></tr>

<tr>
<td class="TableCell" style="width: 28.872%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="28.872%">
<p class=TableLeft>.FIND_BY_FORM_DROP_DOWN_MENU</td>
<td class="TableCell" style="width: 71.128%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="71.128%">
<p class=TableLeft>Main menu for <span class=Screen>Find by Form</span> 
 mode.</td></tr>

<tr>
<td class="TableCell" style="width: 28.872%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="28.872%">
<p class=TableLeft>.FIND_BY_FORM_RIGHT_CLICK_MENU</td>
<td class="TableCell" style="width: 71.128%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="71.128%">
<p class=TableLeft>Right click menu in <span class=Screen>Find by Form</span> 
 mode.</td></tr>

<tr>
<td class="TableCell" style="width: 28.872%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="28.872%">
<p class=TableLeft>.FIND_BY_FORM_TOOLBAR</td>
<td class="TableCell" style="width: 71.128%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="71.128%">
<p class=TableLeft>Toolbar for <span class=Screen>Find by Form</span> mode.</td></tr>

<tr>
<td class="TableCell" style="width: 28.872%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="28.872%">
<p class=TableLeft>.QUERY_BY_FORM_DROP_DOWN_MENU</td>
<td class="TableCell" style="width: 71.128%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="71.128%">
<p class=TableLeft>Main menu for <span class=Screen>Query by Form</span> 
 mode.</td></tr>

<tr>
<td class="TableCell" style="width: 28.872%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="28.872%">
<p class=TableLeft>.QUERY_BY_FORM_RIGHT_CLICK_MENU</td>
<td class="TableCell" style="width: 71.128%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="71.128%">
<p class=TableLeft>Right click menu for <span class=Screen>Query by Form</span> 
 mode</td></tr>

<tr>
<td class="TableCell" style="width: 28.872%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="28.872%">
<p class=TableLeft>.QUERY_BY_FORM_TOOLBAR</td>
<td class="TableCell" style="width: 71.128%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="71.128%">
<p class=TableLeft>Toolbar for <span class=Screen>Query by Form</span> 
 mode</td></tr>

<tr>
<td class="TableCell" style="width: 28.872%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="28.872%">
<p class=TableLeft>.RIGHT_CLICK_MENU</td>
<td class="TableCell" style="width: 71.128%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="71.128%">
<p class=TableLeft>Right click menu for the form or browse window.</td></tr>

<tr>
<td class="TableCell" style="width: 28.872%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="28.872%">
<p class=TableLeft>.TOOLBAR</td>
<td class="TableCell" style="width: 71.128%;
			x-cell-content-align: top;
			border-spacing: 0px;" valign="top" width="71.128%">
<p class=TableLeft>Toolbar for the form or browse window.</td></tr>
</table>

<p class=A5>See Also</p>



<p><a href="/Desktop/Reference/Design/View/Form/Form Properties.html" title="Form Properties" class="wiki">Form   Menu_and_Toolbar_Properties</a>, <a href="Design a Custom Menu.html" title="How to Design a Custom Menu" class="wiki">How   to Design a Custom Menu</a>, <a href="../../../../Reference/Design/View/Form/Menu Capabilities.html" title="Menu Capabilities" class="wiki">Menu Capabilities</a>, 
 <a href="../../../../Reference/Design/View/Form/Custom Menus for Various Forms Modes.html" title="Custom Menus for Various Forms Modes" class="wiki">Custom Menus for Various   Forms Modes</a>, <a href="/Desktop_Api/Menu Functions/Methods for Controlling Menus at Runtime.html" title="Methods for Controlling Menus at Runtime" class="wiki">Methods   for Controlling Menus at Runtime</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Changing+Custom+Menus+and+Toolbars+at+Runtime">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xbasic,form"}--->
</body></html>