	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Creating Alpha Anywhere Help Text </p>



<p>This topic refers to the <a href="http://downloads.alphasoftware.com/patches/alphasports.exe">AlphaSports 
 sample database</a> provided with Alpha Anywhere.</p>



<p>The following procedure assumes that the developer has opened the form 
 in the <span class=Screen>Form Editor</span> and has created all the reference 
 scripts. Follow these instructions to create an Alpha Anywhere Help file.</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right click the form 
 and select <span class=Button>Properties...</span> .</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Control>Check 
 Use Custom Help</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To associate a new 
 topic with this form:</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Enter the title of the 
 topic's window in the <span class=Control>Help Window Title</span> field.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Enter the name of the group 
 of topics in the <span class=Control>Chapter Name</span> field.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Enter the name of the topic 
 in the <span class=Control>Topic Name</span> field. Parentheses "()" 
 are not allowed in the topic name.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>To edit an existing topic 
 or input a new topic, click <span class=Button>Edit Help Topic</span>. 
 </p>

</li>
</ol>

<p class=Pix><img src="images/help_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 407px;
							height: 467px;
							float: none;
							border-style: none;
							border-style: none;"
					width=407
					height=467
					border=0></p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : You may enter 
 a new topic under any form, even though the topic is not associated with 
 that form. However, you may only enter the help editor from a form that 
 contains a topic.</p>



<ol start=8
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The following window 
 shows the Alpha Anywhere <span class=Screen>Help Editor</span> with a group 
 of help topics. </p>

</li>
</ol>

<p class=Pix><img src="images/help_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 500px;
							height: 474px;
							float: none;
							border-style: none;
							border-style: none;"
					width=500
					height=474
					border=0></p>



<ol start=9>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>New</span> 
 button to create a new help topic.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Delete</span> 
 button to delete a help topic.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Edit 
 Title</span> to display the <span class=Screen>Rename Topic</span> dialog 
 box and change the topic or chapter names. </p>

</li>
</ol>

<p class=Pix><img src="images/help_3.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 329px;
							height: 92px;
							float: none;
							border-style: none;
							border-style: none;"
					width=329
					height=92
					border=0></p>



<ol start=12>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Edit 
 Text</span> to display the topic editor.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Input and format 
 your topic text. Click <span class=Button>Save</span> and <span class=Button>Close</span> 
 to return to the <span class=Screen>Help Editor</span>. </p>

</li>
</ol>

<p class=Pix><img src="images/help_4.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 480px;
							height: 321px;
							border-style: none;
							border-style: none;"
					width=480
					height=321
					border=0></p>



<ol start=14>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To create a hyperlink, 
 place the cursor in the body of the topic and click the <span class=Button>hyperlink</span> 
 button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select an existing 
 topic and click <span class=Button>OK</span>. </p>

</li>
</ol>

<p class=Pix><img src="images/help_6.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 350px;
							height: 63px;
							float: none;
							border-style: none;
							border-style: none;"
					width=350
					height=63
					border=0></p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : The default 
 name for the Alpha Anywhere help text file is <span class=Code1>a_yourdatabasename_help.dbf</span>.</p>



<p class=Note><img src="images/icon_warning.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 37px;
							height: 33px;
							float: none;
							border-style: none;
							border-style: none;"
					width=37
					height=33
					border=0> <span class=Note>Note</span> : Alpha Anywhere
 custom help files are not automatically copied by <a href="../Database/Network Optimization.html" title="Network Optimization" class="wiki">Network   Optimization</a>. You must specify them&nbsp;as&nbsp; <a href="/Desktop/Guide/Design/View/Database/Network Optimization.html" title="Network Optimization" class="wiki">additional   files</a>.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Creating+Alpha+Five+Help+Text">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,design,guide,form,asports"}--->
</body></html>