	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			
<p class=A3Topic>Creating the InvoiceItemsPie Form</p>



<p>The InvoiceItemsPie form demonstrates the use of the charting capability 
 added to Alpha Anywhere. A <a href="http://www.simplechart.net"><span 
 class=Screen>SimpleChart</span></a> ActiveX control allows you to place 
 bar and pie charts onto forms and control their properties with Xbasic.</p>



<p>To create a form similar to the <span class=Code1>InvoiceItemsPie</span> 
 form:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Forms</span> tab of the <span class=Screen>Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>New</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the "Invoice_Items" 
 table from the list on the New Form dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Button>Blank Form</span> radio button and click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the stylesheet 
 you want to use and click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Finish</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Resize the <span 
 class=Screen>Form Editor</span> window to fit the chart you wish to create.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Save_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>, enter the name of the new form into the <span class=Screen>Save 
 Form As</span> dialog, and click <span class=Button>OK</span>.</p>

</li>
</ol>

<p class=A5>Procedure: Creating a Pie Chart with SimpleChart</p>



<p>To create a pie chart:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If the new form is 
 not already open, select it in the <span class=Screen>Forms</span> tab 
 of the <span class=Screen>Control Panel</span> and click <span class=Button>Design</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If the <span class=Screen>Toolbox</span> 
 is not visible, click <img src="images/Toolbox_button.gif"
							x-maintain-ratio=TRUE
							style="border: none;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>On the <span class=Screen>Toolbox</span> 
 select <span class=Button>ActiveX Control</span> and sketch a rectangle 
 on the form. This rectangle will contain the pie chart.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>When you release 
 the mouse, the <span class=Screen>Insert ActiveX Control</span> dialog 
 will appear.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Filter</span>, 
 enter "SimpleChart", and click <span class=Button>OK</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "SimpleChartLite 
 PieChart4 Control" and click <span class=Button>Insert</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Form 
 > Events > OnFetch</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the following 
 Xbasic code. This code creates and displays the chart.</p>

</li>
</ol>


<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>script_play_local("FetchPie")</td></tr>
</table>

<p>The <span class=Code1>FetchPie</span> script is below.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim order_id&nbsp;as&nbsp;c = default ""</p>


<p class=Code>dim item_list&nbsp;as&nbsp;c&nbsp;as&nbsp;p</p>


<p class=Code>dim chartGen&nbsp;as&nbsp;p</p>


<p class=Code>dim desc&nbsp;as&nbsp;c</p>


<p class=Code>dim price&nbsp;as&nbsp;n</p>


<p class=Code>dim c&nbsp;as&nbsp;ColorDefinition</p>


<p class=Code>c.name = "Win3D"</p>


<p class=Code>order_id = invoice_header->invoice_number</p>


<p class=Code>item_list = set.external_record_content_get("invoice","invoice_items->extension 
 + '|' + product->description","","invoice_number='" 
 + order_id + "'")</p>


<p class=Code>chartGen = activex1.activex.this</p>


<p class=Code>chartGen.ChartData.Clear()</p>


<p class=Code>ChartGen.PieLabelMode = 1 'scPieLabelModeInside</p>


<p class=Code>chartGen.LegendPos = 3 'scLegendPosBottom</p>


<p class=Code>chartGen.BackColor = c.RGB_Value</p>


<p class=Code>chartGen.BorderColor = c.RGB_Value</p>


<p class=Code>chartGen.Caption = "Invoice Breakdown by Product"</p>


<p class=Code>for each item in item_list</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;desc = alltrim( word(item.value,2,"|") )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;price = val( word(item.value,1,"|") )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;desc = desc + " - " + format_data(price,"-$")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;chartGen.ChartData.add(desc,price,0) 
 'scFillModeAutoSolid)</p>


<p class=Code>next</p>


<p class=Code>ChartGen.Refresh()</td></tr>
</table>

<ol start=9
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Save_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>, close the <span class=Screen>Code Editor</span>, and close 
 the <span class=Screen>Form Editor</span>.</p>

</li>
</ol>

<p class=A5>Procedure: Displaying the InvoiceItemsPie Form</p>



<p>The View Chart button on the <span class=Code1>Invoice</span> form displays 
 the <span class=Code1>InvoiceItemsPie</span> form. This is how to create 
 a similar button.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Code1>Invoice</span> form in the <span class=Screen>Forms</span> 
 tab of the <span class=Screen>Control Panel</span> and click <span class=Button>Design</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>On the <span class=Screen>Toolbox</span> 
 select <span class=Button>Button</span> and sketch a rectangle on the 
 form. This rectangle will contain the button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter "View 
 Form" into the <span class=Control>Label</span> field, select the 
 <span class=Button>Use Action Scripting</span> button, and click <span 
 class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Define 
 Button</span> dialog click <img src="images/Add_Button.gif"
								x-maintain-ratio=TRUE
								style="border: none;
										width: 22px;
										height: 22px;
										float: none;
										border-style: none;
										border-style: none;"
								width=22
								height=22
								border=0> <span class=Button>Add New Action</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Form/Browse" 
 in the <span class=Control>Category</span> list and "Open Form or 
 Browse Layout" in the <span class=Control>Action</span> list. Click 
 <span class=Button>OK</span> to move to the next page of the genie.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "InvoiceItemsPie" 
 in the <span class=Control>Layout Name</span> list and click <span class=Button>Next&nbsp;></span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Current 
 record only" and click <span class=Button>Finish > Finish</span>.</p>

</li>
</ol>

<p class=A5>Procedure: Providing the Data for the Pie Chart</p>



<p>The following Xbasic script sets various properties of the chart and 
 defines the data that it will display. The script runs when the <span 
 class=Code1>InvoiceItemsPie</span> form fetches a record.</p>



<p>First, we define the variables that will be used.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim order_id&nbsp;as&nbsp;C = default ""</p>


<p class=Code>dim item_list&nbsp;as&nbsp;C&nbsp;as&nbsp;p</p>


<p class=Code>dim chartGen&nbsp;as&nbsp;P</p>


<p class=Code>dim desc&nbsp;as&nbsp;C</p>


<p class=Code>dim price&nbsp;as&nbsp;N</p>


<p class=Code>dim c&nbsp;as&nbsp;ColorDefinition</td></tr>
</table>

<p>This statement selects the color of the <span class=Code1>ColorDefinition</span> 
 object, which be used set the back color and border color of the chart. 
 The Win3D color blends the chart into the form.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>c.name = "Win3D"</td></tr>
</table>

<p>This statement condenses the following statement by setting <span class=Code1>order_id</span> 
 equal to the <span class=Code1>invoice_header->invoice_number</span> 
 field in the current record in the <span class=Code1>invoice</span> form.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>order_id = invoice_header->invoice_number</td></tr>
</table>

<p>This statement uses the <a href="/Server/Reference/Design/Api/Objects/Set/SET.EXTERNAL_RECORD_CONTENT_GET Method.html" title="SET.EXTERNAL_RECORD_CONTENT_GET Method" class="wiki">SET.EXTERNAL_RECORD_CONTENT_GET(</a>) 
 method to retrieve a CR-LF delimited list of records to display in the 
 pie chart. Each record consists of the <span class=Code1>extension</span> 
 field from the <span class=Code1>invoice_items</span> table, a pipe character 
 "|", and the <span class=Code1>description</span> field from 
 the <span class=Code1>product</span> table. The only records that are 
 retrieved are those whose <span class=Code1>invoice_header</span> field 
 match the value of <span class=Code1>invoice_header</span> in the current 
 record.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>item_list = set.external_record_content_get("invoice","invoice_items->extension 
 + '|' + product->description","","invoice_number='" 
 + order_id + "'")</td></tr>
</table>

<p>The following statements set various properties of the pie chart. <span 
 class=Code1>activex1</span> is the name of the ActiveX control on the 
 form.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>chartGen = activex1.activex.this</p>


<p class=Code>chartGen.ChartData.Clear()</p>


<p class=Code>ChartGen.PieLabelMode = 1 'scPieLabelModeInside</p>


<p class=Code>chartGen.LegendPos = 3 'scLegendPosBottom</p>


<p class=Code>chartGen.BackColor = c.RGB_Value</p>


<p class=Code>chartGen.BorderColor = c.RGB_Value</p>


<p class=Code>chartGen.Caption = "Invoice Breakdown by Product"</td></tr>
</table>

<p>This statement uses the <a href="/Server/Reference/Design/Platform/Xbasic/FOR EACH __ELLIPSES__ NEXT.html" title="FOR EACH ... NEXT" class="wiki">FOR   EACH ... NEXT</a> language construct to set through each item in the list 
 created by the SET.EXTERNAL_RECORD_CONTENT_GET() method.</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>It sets <span class=Code1>desc</span> 
 equal to the second "word" of each line of the list using the 
 <a href="/Server/Reference/Design/Api/Functions/Character Functions/WORD Function.html" title="WORD Function" class="wiki">WORD(</a>) function.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>It sets <span class=Code1>price</span> 
 equal to the first "word" of each line of the list using the 
 WORD() function.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>It adds the formatted <span 
 class=Code1>price</span> to the end of <span class=Code1>desc</span>.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>It uses the ActiveX control's 
 <span class=Code1>.ChartData.add()</span> method to add <span class=Code1>desc</span> 
 and <span class=Code1>price</span> to the chart. The third parameter in 
 the method call sets the pie chart slices to automatically fill with solid 
 color.</p>

</li>
</ul>


<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>for each item in item_list</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;desc = alltrim( word(item.value,2,"|") )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;price = val( word(item.value, 1, "|") )</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;desc = desc + " - " + format_data(price, 
 "-$")</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;chartGen.ChartData.add(desc, price, 
 0) 'scFillModeAutoSolid)</p>


<p class=Code>next</td></tr>
</table>

<p>Finally, the ActiveX control is refreshed to display its new settings. 
 </p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>ChartGen.Refresh()</td></tr>
</table>

<p class=Pix><img src="images/AL_Pie_Chart.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 358px;
							height: 348px;
							float: none;
							border-style: none;
							border-style: none;"
					width=358
					height=348
					border=0></p>



<p class=A5>Synchronizing the Invoice and InvoiceItemsPie Forms</p>



<p>Up to this point in the design, if you displayed a pie chart, then switched 
 back to the <span class=Code1>Invoice</span> form, you could change its 
 current record. The pie chart would display information for a different 
 record. To keep the two forms synchronized:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Code1>Invoice</span> form in the <span class=Screen>Forms</span> 
 tab of the <span class=Screen>Control Panel</span> and click <span class=Button>Design</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Form 
 > Events > OnFetch</span>. The OnFetch event occurs every time you 
 read a different record.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the following 
 Xbasic code.</p>

</li>
</ol>


<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>DIM Shared varP_InvoiceItemsPie&nbsp;as&nbsp;P</p>


<p class=Code>IF is_object(varP_InvoiceItemsPie)</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;varP_InvoiceItemsPie.Recno_Goto( recno() )</p>


<p class=Code>END IF</td></tr>
</table>

<p>If you looked at the <span class=Screen>Advanced</span> tab of the Action 
 Script that displays the <span class=Code1>InvoiceItemsPie</span> form, 
 you would discover that it creates a pointer variable named <span class=Code1>varP_InvoiceItemsPie</span>, 
 which is useful for referencing the form.</p>



<p>First this script <a href="/Server/Reference/Design/Platform/Xbasic/DIM.html" title="DIM" class="wiki">DIMs</a> the variable. 
 There is no harm in doing this. In the Xbasic language, a subsequent DIM 
 statement retains the value of the variable. This statement is insurance 
 and makes sure that the variable exists, which means that is safe to run 
 the next line of code.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>IF is_object(varP_InvoiceItemsPie)</td></tr>
</table>

<p>The <a href="/Server/Reference/Design/Api/Functions/Object Functions and Methods/IS_OBJECT Function.html" title="IS_OBJECT Function" class="wiki">IS_OBJECT(</a>) function 
 tests whether <span class=Code1>varP_InvoiceItemsPie</span> has a value 
 (not whether it exists). If the function returns TRUE (.T.), then the 
 next statement executes. This line retrieves the current record number 
 of the <span class=Code1>Invoice</span> form (using <a href="/Server/Reference/Design/Api/Functions/Core Functions for Writing Expressions/RECNO Function.html" title="RECNO Function" class="wiki">RECNO(</a>)) 
 and tells the <span class=Code1>InvoiceItemsPie</span> form to go to the 
 same record number using the <a href="/Server/Reference/Design/Api/Objects/Form/FORM.RECNO_GOTO Method.html" title="FORM.RECNO_GOTO Method" class="wiki">&lt;FORM&gt;.RECNO_GOTO(</a>) 
 method.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>varP_InvoiceItemsPie.Recno_Goto( recno() )</td></tr>
</table>

<p class=A5>See Also</p>



<p><a href="The InvoiceItemsPie Form.html" title="The InvoiceItemsPie Form" class="wiki">The InvoiceItemsPie Form</a></p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Creating+the+InvoiceItemsPie+Form">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form,asports"}--->
</body></html>