	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Designing an Application for Alpha Anywhere Runtime</p>



<p>When you design an application that you intend to run with the Alpha Anywhere Runtime, you should make sure that you keep the following in mind:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Bolded>Be 
 sure to specify a "start up" form</span>. The "start up" 
 form is loaded automatically whenever Alpha Anywhere loads a database file 
 (i.e., an .adb file). The start up form should be the main menu of your 
 application. For example, the <a href="/Index/AlphaSports Explained Title.html" title="AlphaSports Explained Title" class="wiki">AlphaSports</a> 
 application that ships with Alpha Anywhere has a form called "Main Menu" 
 that loads automatically whenever the alphasports.adb file is opened. 
 </p>

</li>
</ol>

<p class=Pix><img src="images/AL_Main_Menu.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 458px;
							height: 488px;
							float: none;
							border-style: none;
							border-style: none;"
					width=458
					height=488
					border=0></p>



<p class=PixCaption>AlphaSports Start Up Form</p>



<p>The buttons on the start up form should open the various forms and reports 
 in your application. To specify a start up form when you are designing 
 your application, select <span class=Button>File > Database Properties</span>, 
 select the form from the list of available forms, and then check the <span 
 class=Control>Run on load</span> check box.</p>



<ol start=2>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Bolded>Design 
 a custom menu and toolbar for the start up form</span>. You probably do 
 not want your application to display the default Alpha Anywhere menus and 
 toolbars when your application runs. To specify a custom menu and toolbar 
 (or no menu or toolbar at all), edit the start up form, select <span class=Button>Form 
 > Properties</span>, display the <span class=Screen>Menus/Toolbars</span> 
 tab and enter the name of the custom menu and toolbar.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Bolded>Insure 
 that when the user closes the start up form you also close the Alpha Anywhere 
 Runtime</span>. If you allow the user to close your start up form, without 
 also closing the Alpha Anywhere Runtime itself, then the user will be left 
	staring at the Alpha Anywhere <span class=Screen>Control Panel</span>. This 
 is probably undesirable. Your should insure that when the user closes 
 the start up form, that the Alpha Anywhere Runtime is also closed. You can 
 do this by using the <a href="/Api/Objects/A5/A5.CLOSE Method.xml" title="A5.CLOSE Method" class="wiki">A5.CLOSE(</a>) 
 method.</p>

</li>
</ol>

<p class=ListNumber>For example, assume that you put a button on the start 
 up form to close the application. You could attach this code to the button's 
 <span class=Code1><a href="/Desktop_Api/Object/Object Events.html" title="Object Events" class="wiki">OnPush</a></span> event:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>response = ui_msg_box("", "Are you sure you 
 want to close the application?", UI_YES_NO)</p>


<p class=Code>if response= UI_YES_SELECTED then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a5.close()</p>


<p class=Code>else</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;choice="NO"</p>


<p class=Code>end if</td></tr>
</table>

<p class=ListNumber>You might also want to put a "Close" or "Exit" 
 command on the custom menu that you design for the start up form. You 
 would attach the same code above to this menu option. The user can also 
 close the start up form by clicking on the <img src="images/Close_button.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 22px;
														height: 22px;
														float: none;
														border-style: none;
														border-style: none;"
												width=22
												height=22
												border=0> button in the 
 start up form's title bar. You should therefore attach the following script 
 to the form's <span class=Code1><a href="/Desktop_Api/Object/Object Events.html" title="Object Events" class="wiki">CanExit</a></span> 
 event:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>response = ui_msg_box("", "Are you sure you 
 want to close the application?", UI_YES_NO)</p>


<p class=Code>if response= UI_YES_SELECTED then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;a5.close()</p>


<p class=Code>else</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;cancel()</p>


<p class=Code>end if</td></tr>
</table>

<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Bolded>Put 
 buttons, or menu items, to perform system maintenance options on your 
 start up form and menu</span>. System maintenance functions, such&nbsp;as&nbsp;rebuilding 
 corrupt indexes, packing tables, refreshing network optimized databases 
 etc. should all be made available to users of your applications. You should 
 have a button on your start up form, or a command on the start up form's 
 menu that allows the user to perform certain system maintenance tasks.</p>

</li>
</ol>

<p class=ListNumber>While in normal operation, indexes should never become 
 corrupt, if an application is improperly terminated, or a power glitch 
 occurs, indexes can become corrupt. Therefore, your application should 
 include a button to update indexes.</p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : Creating a script 
 to update indexes in all tables is easy. There is an option in <a href="/Index/Action Scripting Reference Title.html" title="Action Scripting Reference Title" class="wiki">Action   Scripting</a> to create a script that <a href="../../Platform/Xbasic Action Scripting/Update Indexes.html" title="Update Indexes" class="wiki">updates   indexes</a> and <a href="../Database/Pack Tables.html" title="Pack Tables" class="wiki">packs   tables</a> for multiple tables.</p>



<p class=ListNumber>If your application is designed to run on a network, 
 and you are using Alpha Anywhere's Network Optimization feature, you might 
 need to include a command that allows the Alpha Anywhere Runtime user to refresh 
 the application. This is necessary if the master copy of the application 
 is updated. The Refresh Shadow command must be run from each workstation 
 to ensure that the latest copy of the master application is copied to 
 the local workstation. You can create a command button or menu choice 
 on the start up form with the following code to refresh the application:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>'Update local copy of Network Optimized database</p>


<p class=Code>'------------------------------------------------------------</p>


<p class=Code>refresh_shadow()</p>


<p class=Code>'Tell user that Alpha Anywhere must be restarted</p>


<p class=Code>'------------------------------------------------------------</p>


<p class=Code>ui_msg_box("Warning", "The application must 
 now be restarted")</p>


<p class=Code>a5.close()</td></tr>
</table>

<ol start=5>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Bolded>Create 
 a global script called Autoexec</span>. You may want to create a global 
 script (click on the <span class=Screen>Code</span> tab of the <span class=Screen>Control 
 Panel</span> and click the <span class=Button>New</span> button) called 
 Autoexec to perform "start up" tasks for your application. The 
 autoexec script is automatically executed when Alpha Anywhere starts up. For 
 example, you might want to open several forms when the application is 
 started, or prompt for a user name and password, or set the value in some 
 variable etc.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Bolded>Required 
 files</span>. The actual complement of files required by your application 
 depends on the features that you are using. At an absolute minimum, the 
 following files are always required.</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p>.AEX files </li>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p>.DLL files with names starting with "A5" 
 </li>
		
		<li class=kadov-p
			style="list-style: disc;"
			type=disc
			class=kadov-p>SH31W32.DLL </li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Bolded>Reporting</span>. 
 While the Alpha Anywhere Runtime does not allow the user to create their own 
 reports, form letters, or other layouts, you can still allow your users 
 a limited degree of flexibility in designing layouts of their own. For 
 example, assume that you want to allow a user to compose the body of a 
 form letter you have included in your application. You do this by designing 
 a table with a memo field. The user would type the body of the form letter 
 into the memo field, and you would include a form letter in the application 
 that prints the contents of the memo field. The user is not directly editing 
 the form letter, but is still able to customize its contents.</p>

</li>
</ol>

<p>Similarly, say you wanted to allow the user to select which columns 
 were to be in a report. You could design a "template" report 
 with several calculated fields in the report Detail section. These calculated 
 fields might be of the form: <span class=Code1>eval(vColumn1)</span>, 
 <span class=Code1>eval(vColumn2)</span>, <span class=Code1>eval(vColumn3)</span> 
 etc. <span class=Code1>vColumn1</span>, <span class=Code1>vColumn2</span> 
 and <span class=Code1>vColumn3</span> would be defined&nbsp;as&nbsp; <a href="/Server/Reference/Design/Platform/Xbasic/DIM.html" title="DIM" class="wiki">global variables</a>. In your application, 
 you would design a form that allowed the user to set the value in these 
 variables. For example, if the user set <span class=Code1>vColumn1</span> 
 to "lastname", then when the template report was run, the first 
 column would print out last names.</p>



<ol start=8>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Bolded>Create 
 Demo Versions of your Application</span>. You may want to create demo 
 versions of your application that your customers can use in some limited 
 fashion until they have purchased the full application. For example, you 
 want to supply the whole application to them, but restrict them to entering 
 a certain number of records. To do this, you would attach a script to 
 each table's <span class=Code1>CanSaveRecord</span> event, which is defined 
 in <a href="../../Data/FieldRules/Overview of Field Rules.html" title="Overview of Field Rules" class="wiki">Field Rules</a>. 
 The following script shows how to restrict the user to just 50 records 
 in a table:</p>

</li>
</ol>


<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim tbl&nbsp;as&nbsp;P</p>


<p class=Code>dim records&nbsp;as&nbsp;N</p>


<p class=Code>tbl = table.current()</p>


<p class=Code>records = tbl.records_get()</p>


<p class=Code>If (records > 50) then</p>


<p class=Code>&nbsp;&nbsp;&nbsp;&nbsp;Cancel()</p>


<p class=Code>End If</td></tr>
</table>

<p class=A5>See Also</p>



<p><a href="../../../Deploy/Alpha Anywhere Runtime License.html" title="Alpha Five Runtime License" class="wiki">
Alpha Anywhere Runtime License</a></p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Designing+an+Application+for+Alpha+Five+Runtime">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form,asports"}--->
</body></html>