	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Displaying the Main Menu</p>



<p>When you open the Invoice database, Alpha Anywhere automatically displays 
 the main menu. <span class=Screen>Main Menu</span> is a form based on 
 the Invoice Menu table. You can specify that a particular form in the 
 database is automatically opened when the database is opened with the 
 following procedure.</p>



<p class=A5>Procedure: Specify the Startup Form <a NAME=Procedure__Specify_the_Startup_Form></a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Activate the <span 
 class=Screen>Control Panel</span> .</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Button>File</span> 
 menu select <span class=Button>Database properties</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the resulting 
 <span class=Screen>Database Properties</span> dialog box, check the <span 
 class=Control>When this database is opened, open a startup form</span> 
 check box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the startup 
 form you wish to use.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>OK</span> 
 button. </p>

</li>
</ol>

<p class=Pix><img src="images/AL_Database_Properties.gif"
					style="border-style: none;
							border-style: none;
							width: 550px;
							height: 481px;"
					width=550
					height=481
					border=0></p>



<p class=Note><span class=Note><img src="images/icon_information.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 36px;
											height: 32px;
											float: none;
											border-style: none;
											border-style: none;"
									width=36
									height=32
									border=0>Note</span> : The designer 
 did not use the <span class=Control>Hide the Control Panel</span> option 
 because it would lock you out of the <span class=Screen>Control Panel</span>, 
 which is not the point of this sample, but could be appropriate for your 
 application.</p>



<p class=A5>Separating the Code from the Event</p>



<p>The recommended approach to building user interfaces in Alpha Anywhere is 
 to separate the <span class=Code1>OnPush</span> or <span class=Code1>OnChange</span> 
 event from the code. Having the code run under a script or function makes 
 it easier to both debug and to maintain an evolving application. <span 
 class=Control>Button1</span> displays this architecture. It's <span class=Code1>OnPush</span> 
 event calls an Action Script that has a single action: "Run a script". 
 This action runs an Action Script named "invoice_form" that 
 has a single action: "Open Form or Browse Layout". This action 
 opens the <span class=Screen>Invoice</span> form.</p>



<p>There are two benefits to this design:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The script that actually 
 opens the <span class=Screen>Invoice</span> form is separate from the 
 <span class=Screen>Main Menu</span> form, meaning that it is reusable.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Because the <span 
 class=Code1>invoice_form</span> script is separate from the <span class=Screen>Main 
 Menu</span> form, the developer can create and debug it without editing 
 the <span class=Screen>Main Menu</span> form. This makes the developer 
 more productive in the Alpha Anywhere environment.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="../Xdialog/Controls/Creating the Navigation Toolbar.html" title="Creating the Navigation Toolbar" class="wiki">Creating the Navigation   Toolbar</a>, <a href="../Xdialog/Controls/Displaying the Navigation Toolbar.html" title="Displaying the Navigation Toolbar" class="wiki">Displaying   the Navigation Toolbar</a>, <a href="../../Platform/Xbasic/Ending the AlphaSports Application.html" title="Ending the AlphaSports Application" class="wiki">Ending   the AlphaSports Application</a>, <a href="../Control Panel/Starting the AlphaSports Application.html" title="Starting the AlphaSports Application" class="wiki">Starting   the AlphaSports Application</a>, <a href="The Main Menu Form.html" title="The Main Menu Form" class="wiki">The   Main Menu Form</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Displaying+the+Main+Menu">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,actionxb,form,browse"}--->
</body></html>