	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Filter Builder</p>



<p>When selecting records for a form, browse, report, mail labels, letters, 
 or when performing operations, Alpha Anywhere uses a <span class=Bolded>filter 
 expression</span> to determine which records to include. Filter Expressions 
 evaluate to a TRUE or FALSE value.&nbsp;as&nbsp;Alpha Anywhere scans through 
 a table, it selects the records where the filter expression evaluates 
 to TRUE; it ignores the records where the filter expression evaluates 
 to FALSE.</p>



<p>For example, if you wanted to create a filter which allows only records 
 with a value of 200 or greater in an <span class=Code1>AMOUNT</span> field, 
 you could use the filter <span class=Code1>AMOUNT>=200</span>.</p>



<p>The <span class=Screen>Filter Builder</span> lets you create powerful 
 filter expressions by navigating through easy-to-understand dialog boxes. 
 The <span class=Screen>Filter Builder</span> is a tabbed-dialog box, with 
 separate tabs for query conditions and options. </p>



<p class=Pix><img src="images/Filter_Builder_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 567px;
							height: 427px;
							float: none;
							border-style: none;
							border-style: none;"
					width=567
					height=427
					border=0></p>



<p class=A5>Procedure</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Typically, you access 
 the <span class=Screen>Filter Builder</span> by clicking the <span class=Button>Filter 
 Expression</span> <img src="images/Filter_button.gif"
						x-maintain-ratio=TRUE
						style="float: none;
								width: 22px;
								height: 22px;
								border-style: none;
								border-style: none;"
						width=22
						height=22
						border=0>&nbsp;button. The following sequence will 
 open the Filter Builder:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select <span class=Button>Query 
 > Special Queries</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Choose "Records 
 Selected by a Filter Expression".</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click the <img 
 src="images/Filter_button.gif"
	x-maintain-ratio=TRUE
	style="float: none;
			width: 22px;
			height: 22px;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>&nbsp;button in the <span class=Control>Filter Expression</span> 
 field.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Add a filter condition.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select a field 
 from the list at the left side of the screen.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select an <span 
 class=Control>Operator</span> from the list in the middle of the screen.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/List_Button_Blue_Up.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> in the <span class=Control>Condition Value</span> column 
 to set the condition value in the <span class=Screen>Value</span> dialog 
 box. (For more information, see ((|#Setting_the_Condition_Value|Setting   the Condition Value)) below.)</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally click 
 <span class=Button>Add Condition</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select one of the 
 two radio buttons to determine whether both conditions must be true ( 
 <span class=Control>AND this condition</span> ) or either may be true 
 ( <span class=Control>OR this condition</span> ).</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you added a filter 
 condition in step 3, repeat steps 2a through 2c, otherwise continue with 
 step 4.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Use the <span class=Button>Add 
 Opening Parenthesis</span> and <span class=Button>Add Closing Parenthesis</span> 
 buttons to specify the order of precedence when evaluating the expression. 
 For example, you can evaluate the following expression in two ways:</p>

</li>
</ol>


<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>(Lastname = "Smith") .and. ( (Bill_city = "Boston") 
 .or. (Bill_state_region = "MA") )</p>


<p class=Code>( (Lastname = "Smith") .and. (Bill_city = "Boston") ) 
 .or. (Bill_state_region = "MA")</td></tr>
</table>

<ol start=7>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally check 
 the <span class=Control>Exclude records that satisfy this condition</span> 
 to invert the logic of the condition.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Query 
 Options</span> tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, check 
 the <span class=Control>Exclude records that satisfy search criteria</span> 
 to invert the logic of the query.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, check 
 <span class=Control>Unique records only</span> to eliminate duplicate 
 records.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, make 
 a selection from the 
	<a href="Additional Record Selection Criteria.html#Sub_Selection_from_currently_selected_records" title="Additional Record Selection Criteria" class="wiki">Sub-select Options</a> list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If required, enter 
 the value of N.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to continue.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Cancel</span> 
 to discard your inputs and exit from the <span class=Screen>Filter Builder</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <img src="images/Preview_Button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			float: none;
			width: 22px;
			height: 22px;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> to display the <span class=Screen>Filter Expression</span> 
 dialog box, which shows the Xbasic filter expression you created in the 
 <span class=Screen>Filter Builder</span>. This is an excellent way to 
 learn the syntax for creating filter expressions.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Expression 
 Builder</span> to switch to the <span class=Screen>Expression Builder</span>.</p>

</li>
</ol>

<p class=A5><a name=Setting_the_Condition_Value>Setting the Condition Value</a></p>



<p>The <span class=Screen>Value</span> dialog box offers options for setting 
 the condition value for your filter.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Select an existing value from the field</span>.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click the <img 
 src="images/List_Button_Blue_Up.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			float: none;
			width: 22px;
			height: 22px;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> button to display a field value list.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Alpha Anywhere displays 
 values from the field you select in the <span class=Control>Filter Card</span> 
 field column. Navigate to the value you want and double-click to select 
 it.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Specify a value now</span>.</p>

</li>
	
	<ol start=1>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Type in a value, 
 or begin with "=" to enter an expression.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Specify a value in an object on the current form or 
 browse layout</span>.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Here you can specify 
 an object name to use its value, or click <img src="images/List_Button_Blue_Up.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														float: none;
														width: 22px;
														height: 22px;
														border-style: none;
														border-style: none;"
												width=22
												height=22
												border=0> to open the <span 
 class=Screen>Select a Control</span> dialog box.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Alpha Anywhere displays 
 the current layout objects available and the object's value. Double-click 
 an object to select it.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click<span 
 class=Button> Specify a variable that contains the value to search 
 for</span>.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click the <span 
 class=Button>Select Variable</span> button to open the <span class=Screen>Select 
 Variable</span> dialog box.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Alpha Anywhere displays 
 variable categories. Click on a variable category to see the variables 
 currently available. When you see the variable you want, select it, and 
 click the <span class=Button>Insert</span> button.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to continue or <span class=Button>Cancel</span> to discard your inputs.</p>

</li>
</ol>

	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Filter+Builder">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form"}--->
</body></html>