	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Find Text</p>
<p>The <span class=Button>Find Text...</span> command displays the <span 
 class=Screen>Locate</span> dialog box, which is available in both forms 
 and browses. The dialog box lets you find the next or previous record 
 containing the text, number, date, or series of characters you specify. 
 You can keep the dialog open while you work on your form or Browse.</p>

<p>When finding text, Alpha Anywhere displays the record and that contains 
 the first match and places the cursor on the field that contains the match.</p>

<p>To use Find Text:</p>

<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In a form or browse, 
 click <span class=Button>Find > Find Text</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Current Field</span> to search only in the current 
 field.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, click 
 <span class=Button>Backwards</span> to search towards the top of the file.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Type a value in the 
 <span class=Control>Search for</span> text box. The search criteria you 
 specify does not need to match exactly; you can match word fragments. 
 For example, if you search for the word "data", <span class=Screen>Locate</span> 
 will find both "data" and "database".</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Find</span>.</p>

</li>
</ol>

<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : Using <span   class=Screen><a href="Find by Key.html" title="Find by Key" class="wiki">Find by Key</a></span> is much faster than <span class=Screen>Locate</span> 
 (when an appropriate index exists), particularly when a table has very 
 many records.</p>



<p class=A5>See Also</p>



<p><a href="Find by Key.html" title="Find by Key" class="wiki">Find by Key</a>, <a href="Find by Form.html" title="Find by Form" class="wiki">Find   by Form</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Find+Text">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,xdialog"}--->
</body></html>