	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Follow Changes and Enters</p>



<p>The Follow Changes/Enters function repositions the record pointer when 
 you change or add a key value in the current index. The requirements are 
 that:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>a form or browse is open</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>an index (not a query) 
 has been applied to the underlying table</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>a field that is part of 
 the index expression is added or changed</p>

</li>
</ul>

<p>To enable Follow Changes/Enters:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display a form or 
 browse.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><a href="../../../../Reference/Design/Data/FieldRules/Primary Index or Query Dialog Box.html" title="Primary Index or Query Dialog Box" class="wiki">Apply   an index</a> to the view.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Record 
 > Advanced > Follow Changes/Enters</span>.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="../../Data/DBF/Index Builder.html" title="Index Builder" class="wiki">Index Builder</a></p>



	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Follow+Changes+and+Enters">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form"}--->
</body></html>