	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Managing Style Properties</p>



<p>When in design mode clicking <span class=Button>Stylesheets > Apply 
 or Create a Stylesheet... > Manage Styles</span> displays the <span 
 class=Screen>Manage Styles</span> dialog box. Below are the various object 
 properties that you can be set in the <span class=Screen>Manage Styles</span> 
 dialog box.</p>



<p>The <span class=Screen>Preview</span> tab displays the properties of 
 the selected control type. </p>



<p class=Pix><img src="images/Manage_Styles_Preview.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 631px;
							height: 325px;
							border-style: none;
							border-style: none;"
					width=631
					height=325
					border=0></p>



<p>The <span class=Screen>Properties</span> tab allows you to set the properties 
 of the selected control type. <span class=Note>Note</span> : You can only 
 modify the properties of stylesheets that you have created. </p>



<p class=Pix><img src="images/Manage_Styles_Properties.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 631px;
							height: 325px;
							border-style: none;
							border-style: none;"
					width=631
					height=325
					border=0></p>



<p>To change a property of a stylesheet:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the form or 
 browse element of the style in the <span class=Control>Styles</span> list. 
 Expand the tree to see and select lower-level elements.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Once you have selected 
 an element, there may be a preview of how it looks on the <span class=Screen>Preview</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Properties</span> tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the property 
 you want to change. Expand the tree to see and select lower-level properties.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Pick the appropriate 
 value for the property from the list and click <span class=Button>Set</span>.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="../Unclassified/Stylesheet Properties.html" title="Stylesheet Properties" class="wiki">Stylesheet Properties</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Managing+Style+Properties">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,guide,form,browse","tags":"desktop"}--->
</body></html>