	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Methods for Opening Forms and Browses</p>
	<p class=A3Topic>&nbsp;</p>



<p>Using Xbasic you can open a form or a browse layout and you can&nbsp;&nbsp;control 
 which records are displayed in the layout. You can open forms&nbsp;as&nbsp;regular 
 modeless windows, or&nbsp;as&nbsp;modal windows. Browses can only be opened&nbsp;as&nbsp;modeless 
 windows.</p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : If you need 
 to open a browse&nbsp;as&nbsp;a modal window, you should design a form 
 with an embedded browse on it and then open the form&nbsp;as&nbsp;a modal 
 window.</p>



<p>For example, the following Xbasic command opens the "Customer Information" 
 form:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim frm&nbsp;as&nbsp;P</p>


<p class=Code>frm =&nbsp;form.view("Customer Information")</td></tr>
</table>

<p>Once you have a pointer to the form (i.e. "frm" in the above 
 example), then you can use any of the form methods. For example, say that 
 you wanted to open the "Customer Information" form, and then 
 immediately begin entering a new record:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim frm&nbsp;as&nbsp;P</p>


<p class=Code>frm = form.view("Customer Information")</p>


<p class=Code>frm.new_record()</td></tr>
</table>

<p>Say that you wanted to open the "Customer Information" form, 
 but only show records for customers from Massachusetts, sorted by <span 
 class=Code1>lastname</span>. To do this, you would use the <a href="../../Objects/Form/FORM.VIEWQUERIED Method.html" title="FORM.VIEWQUERIED Method" class="wiki">FORM.VIEWQUERIED(</a>) 
 method:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim frm&nbsp;as&nbsp;P</p>


<p class=Code>frm = form.viewQueried("Customer Information","bill_state_region 
 = 'MA'","lastname")</td></tr>
</table>

<p>If you wanted to open "Customer Information"&nbsp;as&nbsp;a 
 modal window, you would use the command:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim frm&nbsp;as&nbsp;P</p>


<p class=Code>frm = form.viewQueried("Customer Information", 
 "bill_state_region = 'MA'","lastname", "dialog")</p>


<p class=Code>frm.close()</td></tr>
</table>

<p>Note the <span class=Code1>frm.close()</span> method in the above script 
 fragment. This is needed because when a dialog form is "closed" 
 by the user, it is not really closed, it is just hidden so that the script 
 that opened the dialog can read variables that the user might have filled 
 in on the dialog. For more information on the how dialog forms work, refer 
 to <a href="/Desktop/Guide/Design/View/Xdialog/Opening a Dialog Box.html" title="Opening a Dialog Box" class="wiki">Opening a Dialog Box</a>.</p>



<p class=A5>See Also</p>



<p><a href="../../Objects/Form/Form Functions and Methods.html" title="Form Functions and Methods" class="wiki">Form Functions and   Methods</a>, <a href="/Desktop/Reference/Design/View/Browse/Browse Functions and Methods.html" title="Browse Functions and Methods" class="wiki">Browse   Functions and Methods</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Methods+for+Opening+Forms+and+Browses">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending"}--->
</body></html>