	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Placing Subforms</p>



<p>A subform is a form placed inside another form. By using a subform, 
 you can fit more objects into a smaller area, without making the form 
 illegible. For example, you have an invoice form in which you want to 
 place information about the customer in the upper right corner. When you 
 view an invoice-record, you want to see, at a glance, the invoice's billing 
 information. In addition, you want to ability to see other data, such&nbsp;as&nbsp;the 
 invoice's shipping information, but you do not want to overcrowd the Form. 
 One solution is to use subforms.</p>



<p>When you place a subform, you can decide how much of the form you want 
 to see, before having to use the scroll bars. This lets you display the 
 most critical fields, while providing access to the others.</p>



<p>Another advantage to using a subform is that it is linked to a separate 
 form which can be opened by itself. If you use the same subform in multiple 
 Forms, any changes you make to the subform affect every form in which 
 the subform is placed. In the previous example, if you wanted to add a 
 field for customers' email addresses, you only need to make the change 
 in one place.</p>



<p class=Note><span class=Note><img src="images/icon_information.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 36px;
											height: 32px;
											float: none;
											border-style: none;
											border-style: none;"
									width=36
									height=32
									border=0>Note</span> : When you place 
 a subform on a form in the <span class=Screen>Alpha Anywhere Form Editor</span>, 
 you are limited to selecting the subform from other forms that are based 
 on the <span class=Bolded>same</span> table or set&nbsp;as&nbsp;the form 
 you are editing.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To create subform, 
 click the <span class=Button>Subform</span> tool <img src="images/Sub_form_tool_button.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
														width=22
														height=22
														border=0> on the 
 <span class=Screen>Tool Palette</span>, and then click and drag the cursor 
 over the area on which you want to place it.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you are designing 
 a form for a set, the <span class=Screen>Select Table</span> dialog box 
 appears.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, click 
 <span class=Button>View Form at the Set Level</span> and click <span class=Button>OK</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, click 
 <span class=Button>View a Child Table</span> to use only the data from 
 matching records in one of the set's one-to-many child tables and click 
 <span class=Button>OK</span>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>Sub-Form 
 Object</span> dialog box appears. In this dialog box, you can choose:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Default Form</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Saved Form Layout</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Saved 
 Form Layout" in step 3, select a form from the list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="../Layout Control/Using the Toolbox Panel.html" title="Using the Toolbox Panel" class="wiki">Using the Toolbox</a>, <a href="../../Data/FieldRules/Placing a Data Field on a Form.html" title="Placing a Data Field on a Form" class="wiki">Placing   a Field on a Form</a>, <a href="../../../../Reference/Design/View/Form/Sub-Form Properties.html" title="Sub-Form Properties" class="wiki">Sub-Form Properties</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Placing+Subforms">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form"}--->
</body></html>