	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Placing Lines and Frames</p>



<p>Lines and frames can make layouts more visually appealing and easier 
 to read. Tools for creating these objects can be found on the <span class=Screen><a href="../Layout Control/Using the Toolbox Panel.html" title="Using the Toolbox Panel" class="wiki">Toolbox</a></span> , discussed earlier in 
 this chapter. For more information on using these tools, refer to the 
 following subsections.</p>



<p class=A5>Placing Frames</p>



<p>Frames let you enhance the appearance of forms, reports, letters, and 
 labels. Frames can be used to place a border around several objects. In 
 cases where you want a border around just one object, you can use the 
 object's border properties.</p>



<p>To place a <a href="../../../../Reference/Design/View/Form/Frame Properties.html" title="Frame Properties" class="wiki">frame</a> on a form:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Button>Frame</span> tool <img src="images/Frame_tool_button.gif"
									x-maintain-ratio=TRUE
									style="width: 22px;
											height: 22px;
											border-left-style: None;
											border-right-style: None;
											border-top-style: None;
											border-bottom-style: None;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=22
									border=0> from the <span class=Screen>Toolbox</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click and drag over 
 the area on which you want to place the object. When you release the mouse 
 button, the object is inserted.</p>

</li>
</ol>

<p class=Pix><img src="images/UG_Frame_Options_v8.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 171px;
							height: 267px;
							float: none;
							border-style: none;
							border-style: none;"
					width=171
					height=267
					border=0></p>



<p class=PixCaption>A sample frame created in Alpha Anywhere </p>



<p class=A5>Defining Frame Properties</p>



<p>To display the <span class=Screen>Properties</span> dialog for a frame, 
 right click on it and select <span class=Button>Properties...</span> .</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To define the text 
 of the frame caption, display its <span class=Screen>Setup</span> tab 
 and:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, enter 
 the caption into the <span class=Control>Frame text</span> control.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, click 
 		<a href="../Xdialog/Advanced Text Properties Dialog.html" title="Advanced Text Properties Dialog" class="wiki">Xdialog Frame   Text</a> to define content that may contain text, images, and buttons.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To define the style 
 of the frame caption, display its <span class=Screen>Font</span> tab, 
 and select the caption's font, point size, attributes, and color.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To adjust the dimensions 
 of a frame, display its <span class=Screen>Dimensions</span> tab, and 
 set its <span class=Control>Left</span> and <span class=Control>Top</span> 
 coordinates, and its <span class=Control>Width</span> and <span class=Control>Height</span>. 
 You may change the units of measure on the 
	<a href="../../../Unclassified/Settings.html#Layout_Units" title="Settings" class="wiki">Settings </a>dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To adjust the border 
 or fill styles of a frame, display the <span class=Screen>Border</span> 
 tab.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>To adjust the border 
 properties of the frame, refer to <a href="../Properties/Defining Border Style and Color.html" title="Defining Border Style and Color" class="wiki">Defining   Border Style and Color</a>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>To adjust the shadow 
 properties of the frame, refer to <a href="../Properties/Defining Shadows.html" title="Defining Shadows" class="wiki">Defining   Shadows</a>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>To adjust the fill 
 properties of the frame, refer to <a href="../Properties/Defining Fill Style and Color.html" title="Defining Fill Style and Color" class="wiki">Defining   Fill Style and Color</a>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To adjust the border 
 or fill styles of a frame's caption, display the <span class=Screen>Border</span> 
 tab and click <span class=Button>Frame Formatting</span>.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>If you want a different 
 fill style for the frame caption, check <span class=Button>Enable separate 
 formatting for Frame Heading</span>. Clear this check box if you wish 
 to remove the caption's fill style.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>To adjust the fill 
 properties of the caption, refer to <a href="../Properties/Defining Fill Style and Color.html" title="Defining Fill Style and Color" class="wiki">Defining   Fill Style and Color</a>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>OK</span> 
 to continue.</p>

</li>
	</ol>
</ol>

<p class=A5>Placing Lines</p>



<p>Lines can also enhance the appearance of layouts. To place a line on 
 a form:</p>



<p>To place a <a href="../../../../Reference/Design/View/Form/Line Properties.html" title="Line Properties" class="wiki">line</a> on a form:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Button>Line</span> tool <img src="images/Line_tool_button.gif"
									x-maintain-ratio=TRUE
									style="width: 22px;
											height: 22px;
											border-left-style: None;
											border-right-style: None;
											border-top-style: None;
											border-bottom-style: None;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=22
									border=0> from the <span class=Screen>Toolbox</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click and drag over 
 the area on which you want to place the object. When you release the mouse 
 button, the object is inserted.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select whether you 
 want a Thin Line, Medium Line, or Thick Line and click <span class=Button>OK</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To adjust the color, 
 thickness, or style of a line, right click on it and select <span class=Button>Properties... 
 > Setup</span> from the right-click menu.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To adjust the dimensions 
 of a line, right click on it and select <span class=Button>Properties... 
 > Dimensions</span> from the right-click menu.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="../Layout Control/Using the Toolbox Panel.html" title="Using the Toolbox Panel" class="wiki">Using the Toolbox</a>, <a href="../../Data/FieldRules/Placing a Data Field on a Form.html" title="Placing a Data Field on a Form" class="wiki">Placing   a Field on a Form</a>, <a href="../../../../Reference/Design/View/Form/Line Properties.html" title="Line Properties" class="wiki">Line Properties</a>, 
 <a href="../../../../Reference/Design/View/Form/Frame Properties.html" title="Frame Properties" class="wiki">Frame Properties</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Placing+Lines+and+Frames">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form,xdialog,report,letter,label"}--->
</body></html>