	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Placing Bitmaps on a Form</p>



<p>You can place images directly on a Form, Report, Letter, or Label layout. 
 For example, you can insert your company logo on a Letter layout to give 
 the Letter a more professional look.</p>



<p>To place an <a href="../../../../Reference/Design/View/Form/Bitmap Properties.html" title="Bitmap Properties" class="wiki">image</a> on a form:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Button>Bitmap</span> tool <img src="images/Bitmap_tool_button.gif"
										x-maintain-ratio=TRUE
										style="border-left-style: None;
												border-right-style: None;
												border-top-style: None;
												border-bottom-style: None;
												width: 22px;
												height: 22px;
												float: none;
												border-style: none;
												border-style: none;"
										width=22
										height=22
										border=0> from the <span class=Screen>Toolbox</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click and drag over 
 the area where you want to place the image. When you release the mouse 
 button the object is created.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To set the source 
 of a bitmap, right-click on the bitmap object and select <span class=Button>Properties... 
 > Setup</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, change 
 the <span class=Control>Object Name</span> of the image.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the source 
 of the image. The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Embedded</span> 
 : Loads and embeds the selected image into the layout. When you embed 
 an image, the original Windows Bitmap (.BMP) or JPEG (.JPG) file is no 
 longer needed; the embedded copy is stored in the database's data dictionary. 
 If you plan to distribute a database, you can embed so that you do not 
 have to supply separate image files.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>File</span> 
 : Displays the Windows Bitmap (.BMP) or JPEG (.JPG) file you select.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1><span class=Bolded>Library</span> 
 : Displays an image of type .BML from the Alpha Anywhere Bitmap Library (if 
 installed).</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Embedded" 
 in step 5:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Change 
 embedded bitmap</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Navigate to and 
 select the Windows Bitmap (.BMP) or JPEG (.JPG) image file.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Open</span>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "File" 
 in step 5:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/Folder_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Navigate to and 
 select the Windows Bitmap (.BMP) or JPEG (.JPG) image file.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Open</span>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "File" 
 in step 5:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/List_Button_Blue_Up.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> to display the <a href="../Xdialog/Insert Image Dialog Box.html" title="Insert Image Dialog Box" class="wiki">&lt;span   class=Screen&gt;Insert Image&lt;/span&gt;</a> dialog box.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select the image 
 and click <span class=Button>Insert</span>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select one of the 
 display mode options.</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Absolute" 
 - does not stretch the image. This option may cause the image to appear&nbsp;as&nbsp;a 
 different size when printed.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Stretch" 
 - stretches the image both horizontally and vertically to cover the form's 
 background. This option may distort the image.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Tile" - 
 tiles the image across the form. This option may cause the image to appear&nbsp;as&nbsp;a 
 different size when printed.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Best fit" 
 - scales the image to the maximum size that will fit on the form background 
 without clipping the image.</p>

</li>
	</ul>
</ol>

<p class=A5>Defining Bitmap Properties</p>



<p>To display the <span class=Screen>Properties</span> dialog for a bitmap, 
 right click on it and select <span class=Button>Properties...</span> .</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To adjust the dimensions 
 of a bitmap, display its <span class=Screen>Dimensions</span> tab, and 
 set its <span class=Control>Left</span> and <span class=Control>Top</span> 
 coordinates, and its <span class=Control>Width</span> and <span class=Control>Height</span>. 
 You may change the units of measure on the <a href="../../../Unclassified/Settings.html#Layout_Units" title="Settings" class="wiki">&lt;span   class=Screen&gt;Settings&lt;/span&gt;</a> dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To adjust the border 
 or fill styles of a bitmap, display the <span class=Screen>Border</span> 
 tab.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>To adjust the border 
 properties of the bitmap, refer to <a href="../Properties/Defining Border Style and Color.html" title="Defining Border Style and Color" class="wiki">Defining   Border Style and Color</a>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>To adjust the shadow 
 properties of the bitmap, refer to <a href="../Properties/Defining Shadows.html" title="Defining Shadows" class="wiki">Defining   Shadows</a>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>To adjust the fill 
 properties of the bitmap, refer to <a href="../Properties/Defining Fill Style and Color.html" title="Defining Fill Style and Color" class="wiki">Defining   Fill Style and Color</a>.</p>

</li>
	</ol>
</ol>

<p class=A5>See Also</p>



<p><a href="../Layout Control/Using the Toolbox Panel.html" title="Using the Toolbox Panel" class="wiki">Using the Toolbox</a>, <a href="../../Data/FieldRules/Placing a Data Field on a Form.html" title="Placing a Data Field on a Form" class="wiki">Placing   a Field on a Form</a>, <a href="../../../../Reference/Design/View/Form/Bitmap Properties.html" title="Bitmap Properties" class="wiki">Bitmap Properties</a></p>


	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Placing+Bitmaps+on+a+Form">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form,report,letter,label"}--->
</body></html>