	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Placing Hotspots</p>



<p>The placement of a hotspot on a form invokes the <span class=Screen>Button 
 Genie</span>. A hot spot is like a transparent button; when you click 
 on it, a script is executed. When you move your cursor over a hot spot, 
 the mouse pointer changes to a hand.</p>



<p>You might place a hot spot over an image to give it an <span class=Code1>OnClick</span> 
 event. Or you could use a hot spot&nbsp;as&nbsp;a hidden control about 
 which only you, the developer, knows.</p>



<p>To create a Hotspot object:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open a form in Design 
 mode.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the Hotspot 
 tool <img src="images/Hotspot_tool_button.gif"
			x-maintain-ratio=TRUE
			style="border: none;
					width: 22px;
					height: 22px;
					float: none;
					border-style: none;
					border-style: none;"
			width=22
			height=22
			border=0> from the <span class=Screen>Toolbox</span> and draw 
 the hot spot on the form.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>Define 
 Hotspot</span> dialog appears. </p>

</li>
</ol>

<p class=Pix><img src="images/Define_Hotspot_4.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 481px;
							height: 343px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=343
					border=0></p>



<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next</span> 
 to define an action script for the Hotspot object. </p>

</li>
</ol>

<p class=Pix><img src="images/Define_Hotspot_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 481px;
							height: 343px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=343
					border=0></p>



<p class=A5>Hotspot Properties</p>



<p>The <span class=Screen>Hotspot Properties</span> dialog box (select 
 <span class=Button>Properties...</span> from the Hotspot object right-click 
 menu) exposes properties such&nbsp;as&nbsp; <span class=Control>Always 
 on Top</span>, which lets you ensure that a hot spot is accessible on 
 all pages of a Tab object. </p>



<p class=Pix><img src="images/Hotspot_Properties.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 332px;
							height: 285px;
							float: none;
							border-style: none;
							border-style: none;"
					width=332
					height=285
					border=0></p>



<p class=A5>See Also</p>



<p><a href="../Layout Control/Using the Toolbox Panel.html" title="Using the Toolbox Panel" class="wiki">Using the Toolbox</a>, <a href="../../Data/FieldRules/Placing a Data Field on a Form.html" title="Placing a Data Field on a Form" class="wiki">Placing   a Field on a Form</a>, <a href="../../../../Reference/Design/View/Form/Hot Spot Properties.html" title="Hot Spot Properties" class="wiki">Hot Spot Properties</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Placing+Hotspots">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,form"}--->
</body></html>