	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

	<p class=A3Topic>Put a Button on a Form to Open Another Form Showing Selected 
 Records</p>



<p>This example shows how you can put a button on a form that will open 
 another form and show a selected record. Your database should contain 
 a form called "CustomerFormCompact," which shows the customer's 
 address (as shown below) in a rich text object. This object is not editable. 
 So you cannot change the customer's address on this form. You will put 
 a button on the form to open another form (called "CustomerEdit," 
 which has been pre-created for you) where you can edit the address.</p>



<ol>
	
	<li >Navigate to the 
 Forms tab on the Control Panel and open "CustomerFormCompact".&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/button_1.gif"
					x-maintain-ratio=TRUE
					style="width: 443px;
							height: 301px;
							float: none;
							border-style: none;
							border-style: none;"
					width=443
					height=301
					border=0></p>



<ol start=2>
	
	<li >Click the Design button to enter Design Mode.</p>

</li>
	
	<li >Click the Button 
 Object tool on the Toolbox. Click and 
 drag to draw a button on the form. When you release the mouse button, 
 the Define Button dialog box appears.</p>

</li>
	
	<li >Select "<font color="#0000FF">Picture 
 over Text</font>"&nbsp;as&nbsp;theStyle.</p>

</li>
	
	<li >Enter "<font color="#0000FF">Edit 
 Customer</font>"&nbsp;as&nbsp;theLabel.</p>

</li>
	
	<li >Click the Define 
 Picture button.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/button_2.gif"
					x-maintain-ratio=TRUE
					style="width: 478px;
							height: 199px;
							float: none;
							border-style: none;
							border-style: none;"
					width=478
					height=199
					border=0></p>



<ol start=7>
	
	<li >Click the Internal radio button and then click the up arrow.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/button_3.gif"
					x-maintain-ratio=TRUE
					style="width: 326px;
							height: 308px;
							float: none;
							border-style: none;
							border-style: none;"
					width=326
					height=308
					border=0></p>



<ol start=8>
	
	<li >In the resulting 
 <a href="../Xdialog/Insert Image Dialog Box.html" title="Insert Image Dialog Box" class="wiki">Insert   Image dialog box</a> 
	<font color="#000000">select the image you want for your button. 
 Choose any image you find appropriate.</font></p>

</li>
	<li class=kadov-p-CListNumber>
	<p class=ListNumber>	<font color="#000000">Click</font><font color="#0000FF"> </font>
	Insert
 to close the dialog box.&nbsp; </font></p>

</li>
</ol>

<p class=Pix><img src="images/Insert_Image_dialog_box.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 415px;
							height: 478px;
							float: none;
							border-style: none;
							border-style: none;"
					width=415
					height=478
					border=0></p>
	<p class=ListNumber>&nbsp;</p>



<ol start=10>
	
	<li class=kadov-p-CListNumber>
	<p class=ListNumber><font color="#000000">The Define 
 Button dialog should look like this:&nbsp; </font></p></li>
</ol>

<p class=Pix><img src="images/button_4.gif"
					x-maintain-ratio=TRUE
					style="width: 478px;
							height: 447px;
							float: none;
							border-style: none;
							border-style: none;"
					width=478
					height=447
					border=0></p>



<ol start=11>
	
	<li ><font color="#000000">
	Make sure that the 
 </font> 
	<font color="#000000">Define script for this button now?</font><font color="#000000"> check box 
 is checked and that </font>
	<font color="#000000">Use Action Scripting</font><font color="#000000"> is 
 selected.</font></p>

</li>
	
	<li ><font color="#000000">
	Click</font> <font color="#0000FF">Next&nbsp;&gt;</font><font color="#000000">. 
 The embedded Action Scripting Editor appears.&nbsp; 
 </font> </p>

</li>
</ol>

<p class=Pix><img src="images/Embedded_Action_Script_Editor.gif"
					x-maintain-ratio=TRUE
					style="width: 478px;
							height: 447px;
							float: none;
							border-style: none;
							border-style: none;"
					width=478
					height=447
					border=0></p>



<ol start=13>
	
	<li >
	<font color="#000000">Click the</font> Add 
 New Action<font color="#000000"> button.</font></p>

</li>
	
	<li >
	<font color="#000000">Select the </font><font color="#0000FF">&quot;Form/Browse&quot;</font><font color="#000000"> 
	category and the &quot;Open Form or Browse Layout&quot; Action.</font></p>

</li>
	
	<li >
	<font color="#000000">Click</font> OK.&nbsp; 
 </p>

</li>
</ol>

<p class=Pix><img src="images/Action_FormBrowse_Open_Form_or_Browse_Layout.gif"
					x-maintain-ratio=TRUE
					style="width: 627px;
							height: 285px;
							float: none;
							border-style: none;
							border-style: none;"
					width=627
					height=285
					border=0></p>



<ol start=16>
	
	<li >
	<font color="#000000">The Open 
 Form or Browse Layout Genie appears.</font></p>

</li>
	
	<li >
	<font color="#000000">Select the </font> <font color="#0000FF">"CustomerEdit"</font><font color="#000000"> 
 form.&nbsp; </font> </p>

</li>
</ol>

<p class=Pix><img src="images/button_5.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 302px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=302
					border=0></p>



<ol start=18>
	
	<li >Click the <font color="#0000FF">Options</font> tab. This screen allows you to set options, such&nbsp;as&nbsp;whether 
 the form is to be opened&nbsp;as&nbsp;a normal (modeless) window, or a 
 modal dialog box. &nbsp;&nbsp;</a></p>

</li>
</ol>

<p class=Pix><img src="images/button_6.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 228px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=228
					border=0></p>



<ol start=19>
	
	<li >
	<font color="#000000">The user should complete 
 any edits before closing the </font> &nbsp;<font color="#0000FF">CustomerEdit</font><font color="#000000"> form. 
 For </font><font color="#000000">
	Window Style</font><font color="#000000">, select "Dialog (form 
 opens&nbsp;as&nbsp;a modal window)".</font></p>

</li>
	
	<li >
	<font color="#000000">Click</font><font color="#0000FF">
	Next&nbsp;&gt;</font><font color="#000000"> 
 to move to the next Genie page. The next page allows you to select which 
 records will be shown when </font> &nbsp;<font color="#0000FF">CustomerEdit</font><font color="#000000"> is opened. 
 You want to show the same record that you were viewing in the current 
 form.</font></p>

</li>
	
	<li >
	<font color="#000000">Select "Records 
 that match the value in a Control on the current Form". The current 
 form has a control (a field) that shows the "Customer id" field.&nbsp;You 
 want to open the </font> <font color="#0000FF">
	&nbsp;CustomerEdit</font><font color="#000000"> form showing the 
 same record.&nbsp; </font> </p>

</li>
</ol>

<p class=Pix><img src="images/button_7.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 466px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=466
					border=0></p>



<ol start=22>
	
	<li ><font color="#000000">
	Complete the Filter tab&nbsp;as&nbsp;shown above.</font></p>

</li>
	
	<li ><font color="#000000">
	Click </font> <font color="#0000FF">Next&nbsp;&gt; </font><font color="#000000">and </font> Finish<font color="#000000"> to complete the action. The embedded 
 Action Script Editor looks like this:&nbsp; 
 </font> 
 </p>

</li>
</ol>

<p class=Pix><img src="images/button_8.gif"
					x-maintain-ratio=TRUE
					style="width: 478px;
							height: 124px;
							float: none;
							border-style: none;
							border-style: none;"
					width=478
					height=124
					border=0></p>



<ol start=24>
	
	<li >Finish to close the Define Button dialog box and close 
 the Action Script Editor.</p>

</li>
	
	<li >Click the<font color="#0000FF"> Save</font> button to save the form.</p>

</li>
	
	<li >Click the Form 
 View button to run the form. Your screen should look like this: 
 &nbsp;&nbsp;</a></p>

</li>
</ol>

<p class=Pix><img src="images/button_9.gif"
					x-maintain-ratio=TRUE
					style="width: 443px;
							height: 325px;
							float: none;
							border-style: none;
							border-style: none;"
					width=443
					height=325
					border=0></p>



<ol start=27>
	
	<li >Click the<font color="#0000FF"> Edit 
 </font>Customer button.</p>

</li>
	
	<li >The <font color="#0000FF">CustomerEdit</font> form opens. Note that it's modal. You cannot click on any other part of 
 the Alpha Anywhere screen.</p>

</li>
	
	<li >Make changes to an 
 address value, then click the Close Form button.&nbsp; 
 </p>

</li>
</ol>

<p class=Pix><img src="images/button_10.gif"
					x-maintain-ratio=TRUE
					style="width: 458px;
							height: 477px;
							float: none;
							border-style: none;
							border-style: none;"
					width=458
					height=477
					border=0></p>



<ol start=30>
	
	<li >The dialog form closes 
 and returns to the "CustomerFormCompact" form. Your edits should 
 be visible in the form.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/button_33.gif"
					x-maintain-ratio=TRUE
					style="width: 443px;
							height: 301px;
							float: none;
							border-style: none;
							border-style: none;"
					width=443
					height=301
					border=0></p>



<ol start=31>
	
	<li >In case you're curious 
 about how the Close Form button on the 
 CustomerEdit form was constructed, let's take a look 
 at the script behind the "Close Form" button.</p>

</li>
	
	<li >Click the Forms tab on the Control Panel and select the 
 CustomerEdit form.</p>

</li>
	
	<li >Click the Design button.</p>

</li>
	
	<li >Right-click the 
 Close Form button and select Events 
 > OnPush.</p>

</li>
	
	<li >When the Code 
 Editor appears, >Close Form/Browse Action and Edit Action.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/button_11.gif"
					x-maintain-ratio=TRUE
					style="width: 557px;
							height: 219px;
							float: none;
							border-style: none;
							border-style: none;"
					width=557
					height=219
					border=0></p>



<p>As you see in the Genie, the action closes the current form window, 
 and automatically saves the record that the user is editing in the form.&nbsp; 
 </p>



<p class=Pix><img src="images/button_12.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 314px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=314
					border=0></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Put+a+Button+on+a+Form+to+Open+Another+Form+Showing+Selected+++Records">-->


			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,form,browse,dbf"}--->
</body></html>