	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Reading From and Writing To the Data Dictionary</p>



<p>Alpha Anywhere's data dictionaries are actually tables; you can manipulate 
 them just like any other table. To access the data dictionary&nbsp;of 
 the current table or set directly, you can use the <a href="/Server/Reference/Design/Api/Objects/Dictionary/DICTIONARY.OPEN Method.html" title="DICTIONARY.OPEN Method" class="wiki">DICTIONARY.OPEN(</a>) 
 method to obtain an object pointer to the dictionary.</p>



<p>All data dictionary files have the same table structure&nbsp;as&nbsp;follows:</p>




<div align=center>
<table style="border-left-style: none;
				border-top-style: none;
				border-right-style: none;
				border-bottom-style: none;
				float: aligncenter;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>
<col>

<tr>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Fieldname</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Field&nbsp;Type</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Description</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>NAME</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Character</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Name of the dictionary entry.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>TYPE</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Character</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Type of entry.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>CONTENTS_C</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Character</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Short data.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>CONTENTS_M</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Memo</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Data storage (for layout, saved setting, or script).</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>VENDOR</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Memo</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Binary version of data storage.</td></tr>
</table>
</div>
<p>Each entry in the data dictionary is categorized by the contents of 
 the TYPE field: a four character code such&nbsp;as&nbsp;FRMI (for a form) 
 or BRW0 (for a browse). The types of layout and saved setting entries 
 that you can find in a data dictionary and their corresponding four character 
 codes are&nbsp;as&nbsp;follows:</p>




<div align=center>
<table style="border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				float: aligncenter;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr>
<td class="tableHeader" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableHead>Entry Type</td>
<td class="tableHeader" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableHead>Entry Code</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Forms</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>FRMI</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Browses</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>BRW0</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Reports</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>REP0</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Mail Labels</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>LBLI</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Letters</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>LTR0</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Queries</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>QBES</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Ranges</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>RANG</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Summaries</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>SMZS</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Crosstabs</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>XTBS</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Append</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>APND</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Copy</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>COPY</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Export</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>EXPT</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Import</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>IMPT</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Join</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>RLTN</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Post</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>POST</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>Update</td>
<td class="TableCell" style="x-cell-content-align: top; border-spacing: 0px;" valign="top">
<p class=TableLeft>UPDT</td></tr>
</table>
</div>
<p class=A5>See Also</p>



<p><a href="/Server/Reference/Design/Api/Objects/Dictionary/DICTIONARY.OPEN Method.html" title="DICTIONARY.OPEN Method" class="wiki">DICTIONARY.OPEN(</a>)</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Reading+From+and+Writing+To+the+Data+Dictionary">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop,review","notes":"Alpha Five Text","keywords":"desktop,guide,form,browse"}--->
</body></html>