<page>
	<topic>Settings</topic>
	<sections>
		<section>
			<description>Clicking View > Settings displays the Settings dialog box. This dialog box allows you to set many preferences that affect the way that Alpha Anywhere operates. A_Viewsettings.Dbf, which you may want to distribute with an application, contains a cases of the
				definitions for the panes on the dialog.</description>
		</section>
		<section>
			<title>Locations:</title>
			<cases>
				<case>
					<title>Database > Backup</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Require backups</title>
							<description>If set, you can define the interval between backups.</description>
						</case>
						<case>
							<title>Interval Between Backups</title>
							<description>Specify the interval in days between backups.</description>
						</case>
						<case>
							<title>Warn User</title>
							<description>Specify whether to warn user or require user to backup the database.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>Database > Colors</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Colors</title>
							<description>Define new color titles and their RGB values. You may use the Color Picker to define colors.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Aliases</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Alias and Path</title>
							<description>Create, modify, or delete aliases. Aliases represent system folders and can make your application more portable.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Auto Help</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Auto Help</title>
							<description>Specify when Auto Complete will occur, whether to Display help for commands, and whether to Color code commands and functions in the Code Editor, Interactive Window, Expression Editor, and Layout Editors.</description>
						</case>
						<case>
							<title></title>
							<description>Specify the Auto Complete Key.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Data Entry</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Data Entry Style</title>
							<description>Set the Default Data-Entry Style to Modeless or Modal.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Date</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>21st Century</title>
							<description>Set the upper range of 2 digit year dates that are assumed to be in the 21st century.</description>
						</case>
						<case>
							<title>Fully Specified Years</title>
							<description>Check Require all years to be fully specified if you do not wish to accept 2 digit year dates. This setting affects the CTOD() function.</description>
						</case>
						<case>
							<title>How to Interpret 2 Component Dates</title>
							<description>Indicate whether 2 component dates are to be interpreted as month and year or as month and day.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Directories</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Shared Path</title>
							<description>Set Shared path from its default value to define where the help files and executables for Alpha Anywhere are stored.</description>
						</case>
						<case>
							<title>Private Path</title>
							<description>Clear Use Windows temporary folder if you wish to define where users' query files will be stored.</description>
						</case>
						<case>
							<title>Default Backup Folder</title>
							<description>Change the default location for backup files from the current database folder.</description>
						</case>
						<case>
							<title>Image File Folder</title>
							<description>Change the default location for image files from the current database folder.</description>
						</case>
						<case>
							<title>Open Database /New Database Change the default location for any new database that you create and for new files created by an open database.</title>
							<description>Change the default location for any new database that you create and for new files created by an open database.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Email</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Profiles</title>
							<description>Create, modify, or delete email profiles. Specify whether an email profile uses your default email client or the internal Alpha Anywhere email client.</description>
						</case>
						<case>
							<title>Account</title>
							<description>Specify the following settings for each email profile: Incoming Mail (POP) URL, Outgoing Mail (SMTP) URL, Your title, Your Email Address, User title, Password</description>
						</case>
						<case>
							<title>Receiving</title>
							<description>For the Alpha Anywhere email client, indicate whether you wish to delete mail from the server when you retrieve it. Set the number of messages to retrieve when reading mail. Define the title of the email inbox database. Define where to store email attachments.</description>
						</case>
						<case>
							<title>Sending</title>
							<description>For the Alpha Anywhere email client, define the SMTP Authentication Method and required settings. Define the title of the email outbox database. Select the format of mail that you send.</description>
						</case>
						<case>
							<title>Advanced</title>
							<description>For the Alpha Anywhere email client, define your X-mailer ID, SMTP Port, POP Port, Network Timeout, and Auto-check interval.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Feature Codes</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Installed Features</title>
							<description>Allows you to install or remove optional product add-ons.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Form Genie</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Maximum Height for Default Form</title>
							<description>Set the maximum height for a Default Form in pixels. If the default form for a table or set exceeds this value, then Alpha Anywhere can optionally reduce the vertical spacing between controls and create a tabbed form, thereby fitting more fields onto the form.</description>
						</case>
						<case>
							<title>Reduce Vertical Spacing</title>
							<description>Check Reduce vertical spacing if you want Alpha Anywhere to be able to use this technique to fit more controls on a Default Form.</description>
						</case>
						<case>
							<title>Create Tabs</title>
							<description>Check Create tabs if you want Alpha Anywhere to be able to use this technique to fit more controls on a Default Form.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Help Screens</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Genie Explanation Screens</title>
							<description>Indicate whether you wish to display the initial screen of the various operation genies.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Holidays</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Holidays</title>
							<description>Add, modify, or delete the cases of holidays used by the BUS_DAYS_BETWEEN()and ADD_BUS_DAYS().</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Layouts</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Layout Preferences</title>
							<description>Clicking the Automatic save Form Layouts check box causes layouts to be automatically saved when switching between Design Mode and View Mode.</description>
						</case>
						<case>
							<title>Layout Units</title>
							<description>Here you can set the measurement style you wish to use in Alpha Anywhere. Choose between: Current Windows Units, Always English (US) Units, and Always Metric Units. You must restart Alpha Anywhere before the changes take effect.</description>
						</case>
						<case>
							<title>Default Browse Column Width</title>
							<description>Set the maximum column width for the Default Browse. The maximum column width is the break point at which Alpha Anywhere wraps field data, creating a new line in the field when data exceeds the max value. Line breaking increases the row height in the Browse.
								Long non-breaking lines increase the column width. Adjust the maximum column width value to suit your layout needs.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > License</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>License</title>
							<description>Read the license numbers that you have purchased.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Network</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Network Refresh</title>
							<description>Sets the intervals at which Alpha Anywhere will refresh shared data. It is recommended that (except in special circumstances) you set this interval to 0 (to disable automatic refresh) and instead let the user press F5 to refresh data as Needed.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Preferences</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Advanced</title>
							<description>Indicate whether Alpha Anywhere should check to see if the Control Panel needs to be refreshed during machine idle periods.</description>
						</case>
						<case>
							<title>Archive Reports Filetitle</title>
							<description>Specifies the format for the date string used in filetitles when you archive a layout.</description>
						</case>
						<case>
							<title>Auto-load Library</title>
							<description>Indicate whether to load the Compiled Script Library (.AEX) file with the same title as the current database.</description>
						</case>
						<case>
							<title>Autoexec Script</title>
							<description>Indicate whether to run the Autoexec script upon startup.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Preferences</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Calendar Popup</title>
							<description>Select the CSS style sheet to use for calendar popups.</description>
						</case>
						<case>
							<title>Editing Scripts</title>
							<description>Indicate whether to include time-date stamps. Indicate whether to the user title should be a specified title or the user's logged on title.</description>
						</case>
						<case>
							<title>Editing Scripts</title>
							<description>Indicate whether the cursor should be positioned before or after pasted text.</description>
						</case>
						<case>
							<title>Find by Key</title>
							<description>Indicate whether to show the index title or order expression in the Find by Key dialog box.</description>
						</case></cases>
				</case>
				<case>
					<title>Find by Key</title>
					<description>Indicate whether to close the Find by Key dialog box after doing a find.</description>
				</case>
				
				<case>
					<title>Find by Key</title>
					<description>Indicate whether to leave the Browse Key Value and History buttons off the Find by Key dialog box.</description>
				</case>
			
				
				<case>
					<title>System > Preferences</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Help Source</title>
							<description>Indicates whether to look for help in a local .CHM file or to use webhelp.</description>
						</case>
						<case>
							<title>Halt Script Dialog</title>
							<description>Indicate whether, if Alpha Anywhere determines that a script has been running for a long time, the Halt Script dialog appear.</description>
						</case>
						<case>
							<title>HTML Editor</title>
							<description>Specifies whether the default tab of the HTML Editor will be WYSIWYG or Source.</description>
						</case>
						<case>
							<title>Image Fields</title>
							<description>Specify whether to use the standard Windows dialog to prompt for image filetitles. You can also set this property with the following Xbasic.</description>
							<example>
								<![CDATA[dim key as C key=" Preferences\ImageFields" delete P dim ptr as P dim ptr.UseStandardWindowsDialog as C ptr.UseStandardWindowsDialog=" Yes" :registry.save_settings(key,ptr)]]>
							</example>
						</case>
						<case>
							<title>International</title>
							<description>Enables the input of accented characters in forms and browses. Always enabled for V7 and above.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Preferences</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Internet</title>
							<description>Indicate whether, on startup, to check Alpha Software for news or updates to Alpha Anywhere.</description>
						</case>
						<case>
							<title>Menus</title>
							<description>Specify the menu style.</description>
							<cases>
								<case>
									<description>Select the scheme when the menu style is Modern.</description>
								</case>
							</cases>
						</case>
						<case>
							<title>New Functions</title>
							<description>Indicate whether the Function Template dialog box should be displayed.</description>
						</case>
						<case>
							<title>New Scripts</title>
							<description>Select the default editor for new scripts.</description>
							<cases>
								<case>
									<description>Prompt the user for the editor selection.</description>
								</case>
							</cases>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Preferences</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Old Action Scripts</title>
							<description>Indicate whether to convert Action Scripts created in V4 or earlier to Xbasic or to edit them using the old Action Script Editor.</description>
							<cases>
								<case>
									<description>Prompt the user for the editor selection.</description>
								</case>
							</cases>
						</case>
						<case>
							<title>Old Menus</title>
							<description>Indicate whether to prompt to user whether to save V4 menus in V5 format.</description>
							<cases>
								<case>
									<description>If prompting is disabled, indicate whether to convert V4 menus to V5 format.</description>
								</case>
							</cases>
						</case>
						<case>
							<title>Old Toolbars</title>
							<description>Indicate whether to prompt to user whether to save V4 toolbars in V5 format.</description>
							<cases>
								<case>
									<description>If prompting is disabled, indicate whether to convert V4 toolbars to V5 format.</description>
								</case>
							</cases>
						</case>
						<case>
							<title>Operations</title>
							<description>Specify whether Confirmation Dialogs should be shown before running operations.</description>
							<cases>
								<case>
									<description>Specify whether to show a warning when running an operation if the current selection of records is meaningless.</description>
								</case>
							</cases>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Preferences</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Recent Database List</title>
							<description>Specify how many databases to list in the recent database list in the File menu.</description>
							<cases>
								<case>
									<description>Specify how many databases to list in the recent database list in the Welcome screen.</description>
								</case>
								<case>
									<description>Check whether databases exist and remove non-existent databases from the lists.</description>
								</case>
							</cases>
						</case>
						<case>
							<title>Reports</title>
							<description>No records in report message. Use "{Reportname}" as a placeholder for the report's name.</description>
							<cases>
								<case>
									<description>Indicate whether to pre-calculate record counts.</description>
									<note>Pre-calculating record counts can slow down report generation.</note>
								</case>
								<case>
									<description>Specify whether to automatically close the Preview Window after printing.</description>
								</case>
							</cases>
						</case>
						<case>
							<title>Reports</title>
							<description>Indicate whether to display the Use Cached Data dialog when opening a layout that is based on a SQL data source.</description>
						</case>
						<case>
							<title>Reports</title>
							<description>Display a warning when printing a report when the current selection of records is meaningless.</description>
						</case>
						<case>
							<title>Right Click Menus</title>
							<description>Indicate which menu to display when the user asks for the right click menu of a field that has none defined.</description>
						</case>
						<case>
							<title>Running Scripts</title>
							<description>Specifies whether to display the Halt Script dialog if a script has been running for a long time.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Preferences</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>System > Preferences</title>
							<description>Saving / Emailing Layouts</description>
							<cases>
								<case>
									<description>Default file format for emailing reports</description>
								</case>
								<case>
									<description>Default file format for saving reports.</description>
								</case>
							</cases>
						</case>
						<case>
							<title>Script Editor</title>
							<description>Defines the Status Bar format. See Status Bar Editor</description>
						</case>
						<case>
							<title>Script Errors</title>
							<description>Indicate whether to launch the debugger if an error occurs in an Xbasic script.</description>
						</case>
						<case>
							<title>Startup Form</title>
							<description>Set the name of the Startup Form.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Preferences</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Script editor status bar format</title>
							<description>Starts the StatusBar Editor, where you can define the format of the data that appears on the bottom line of the Code Editor.</description>
						</case>
						<case>
							<title>Startup</title>
							<description>Specify whether to display the Welcome Screen when starting Alpha Anywhere.</description>
							<cases>
								<case>
									<description>Specify whether the user can open a database in Debug Mode, preventing the autoexec script from running and the startup form from loading.</description>
								</case>
								<case>
									<description>Indicate whether to show the First Time Welcome screen when Alpha Anywhere is started.</description>
								</case>
							</cases>
						</case>
						<case>
							<title>Time Format</title>
							<description>Specify the time stamp format.</description>
						</case>
						<case>
							<title>Toolbars</title>
							<description>Specify the button style.</description>
							<cases>
								<case>
									<description>Select the scheme when the button style is Modern.</description>
								</case>
							</cases>
						</case>
						<case>
							<title>User Alerts</title>
							<description>Specify the next date on which the user will be reminded to activate Alpha Anywhere, if it has not yet been activated.</description>
							<cases>
								<case>
									<description>Specify how often Alpha Anywhere should check for new updates.</description>
								</case>
								<case>
									<description>Specify a date when the user should be reminded to check for a new Alpha Anywhere update.</description>
								</case>
								<case>
									<description>Enable or disable automatic checking for updates.</description>
								</case>
							</cases>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Preferences</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Viewing Forms</title>
							<description>Indicate, when viewing a form, whether a dotted line selection rectangle should be drawn around the type-in field object that has focus.</description>
							<cases>
								<case>
									<description>Indicate whether to set the background color of the field that has focus to white.</description>
								</case>
							</cases>
						</case>
						<case>
							<title>Web Publishing</title>
							<description>Specify whether to show the list of files to be published.</description>
						</case>
						<case>
							<title>Window Bar</title>
							<description>Specify whether the Window Bar should be displayed when Alpha Anywhere is started.</description>
						</case>
						<case>
							<title>XP Themes</title>
							<description>Enables XP Theme support if running under Windows XP.</description>
							<note>The OnFlyOver event does not support XP Themes.</note>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Queries</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>.MPX Files</title>
							<description>Indicate whether you want Alpha Anywhere to automatically delete all query list files (.mpx files) when existing or closing a database.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Query by Form</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Query by Form Genie</title>
							<description>Indicate whether the Query by Form Genie should appear when the user selects Query by Form.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > Styles</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Default Style</title>
							<description>Select the default style you wish to use for new layouts of any type. You may also select the default font and point size for text on Browse, Label, Letter, and Report layouts.</description>
						</case>
						<case>
							<title>Vertical and Horizontal Spacing</title>
							<description>Set the default Vertical Spacing Between Fields and Horizontal Spacing Between Field and Label.</description>
						</case>
						<case>
							<title>Group Fields and Titles</title>
							<description>Indicate whether you want new fields on layouts to be grouped with their titles.</description>
						</case>
						<case>
							<title>Field Width</title>
							<description>Indicate whether you want new fields on layouts to all be the same width.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > System Colors</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Code Editor</title>
							<description>Define the color for any text element defined within the context of the editor.</description>
						</case>
						<case>
							<title>Interactive Editor</title>
							<description>Define the color for any text element defined within the context of the editor.</description>
						</case>
						<case>
							<title>HTML Editor</title>
							<description>Define the color for any text element defined within the context of the editor.</description>
						</case>
						<case>
							<title>CSS Editor</title>
							<description>Define the color for any text element defined within the context of the editor.</description>
						</case>
						<case>
							<title>Line Numbers</title>
							<description>Define the color for any text element defined within the context of the editor.</description>
						</case>
						<case>
							<title>Expression Builder</title>
							<description>Define the color for any text element defined within the context of the editor.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>System > System Fonts</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Form and browse font and point Size</title>
							<description>Set the font and point size for various Alpha Anywhere windows and objects that display text.</description>
						</case>
						<case>
							<title>Query by Form Genie</title>
							<description>Set the font and point size for various Alpha Anywhere windows and objects that display text.</description>
						</case>
					</cases>
				</case>
				<case>
					<title>Technical Support</title>
					<cases>
						<case>
							<title-title>Preference</title-title>
							<description-title>Description</description-title>
						</case>
						<case>
							<title>Startup Logging Level</title>
							<description>These are diagnostic tools intended to be used under the direction of the Alpha support staff. These values are stored in the registry.</description>
							<example>
								<![CDATA[HKEY_CURRENT_USER\Software\Alpha Software\Alpha Anywhere 8.0\Technical Support "Log File Name"="" "Open Database Log Level"=dword:ffffffff "Startup Log Level"=dword:ffffffff]]>
							</example>
							<cases>
								<case>
									<description>When there are no registry key values, the default values are:</description>
									<cases>
										<case>
											<description>Log File Name = \.log</description>
										</case>
										<case>
											<description>Startup Log Level = 0 (Off = 0, Minimal = 1, Full = -1)</description>
										</case>
										<case>
											<description>Open Database Log Level = 0 (Off = 0, Minimal = 1, Full = -1)</description>
										</case>
									</cases>
								</case>
							</cases>
						</case>
						<case>
							<title>Open Database Logging Level</title>
							<description>These are diagnostic tools intended to be used under the direction of the Alpha support staff. These values are stored in the registry.</description>
							<example>
								<![CDATA[HKEY_CURRENT_USER\Software\Alpha Software\Alpha Anywhere 8.0\Technical Support "Log File Name"="" "Open Database Log Level"=dword:ffffffff "Startup Log Level"=dword:ffffffff]]>
							</example>
							<cases>
								<case>
									<description>When there are no registry key values, the default values are:</description>
									<cases>
										<case>
											<description>Log File Name = \.log</description>
										</case>
										<case>
											<description>Startup Log Level = 0 (Off = 0, Minimal = 1, Full = -1)</description>
										</case>
										<case>
											<description>Open Database Log Level = 0 (Off = 0, Minimal = 1, Full = -1)</description>
										</case>
									</cases>
								</case>
							</cases>
						</case>
					</cases>
				</case>
			</cases>
		</section>
	</sections>
</page>