	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Setting Form Properties</p>



<p>The <span class=Screen>Form Properties</span> dialog box lets you set 
 these form properties:</p>




<table style="x-cell-content-align: Top;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Property</td>
<td colspan="1" class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Tab</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Description</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Form_s_Backdrop" title="Setting Form Properties" class="wiki">Backdrop   Color</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Backdrop</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The background color of the form.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Bitmap_Display_Mode1" title="Setting Form Properties" class="wiki">Bitmap&nbsp;Display&nbsp;Mode</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Backdrop</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Whether and how to scale the form's background image.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Bitmap_Name" title="Setting Form Properties" class="wiki">Bitmap   Name</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Backdrop</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The name of the form's background image.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Form_Print_Margins" title="Setting Form Properties" class="wiki">Bottom   Margin</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Page</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The bottom margin when the form is printed.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Window_Caption" title="Setting Form Properties" class="wiki">Caption</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Window</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The window's caption.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Companion_Browse" title="Setting Form Properties" class="wiki">Companion   Browse</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Form</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The browse that appears when the user presses <span 
 class=Button>F8</span>.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Data_Entry_Style" title="Setting Form Properties" class="wiki">Data   Entry Style</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Data Entry</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Sets the data entry mode of the form to system default, 
 modal, or modeless. Also see <a href="/Desktop/Guide/Design/View/Form/Using a Form.html" title="Using a Form" class="wiki">Data   Entry Modes</a>.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Filter_and_Order_Expressions" title="Setting Form Properties" class="wiki">Filter   Expression</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Filter/Order</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>An expression that selects records from the underlying 
 table or set. Also see Saving Order and Filter Criteria in the Form Layout 
 and <a href="../../../../Reference/Design/View/Form/Effects of Setting Filter and Order Properties.html" title="Effects of Setting Filter and Order Properties" class="wiki">Effects   of Setting Filter and Order Properties</a>.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Forms_on_a_Page" title="Setting Form Properties" class="wiki">Forms   on a Page</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Page</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Whether to print only one form per page</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Window_Frame_Style" title="Setting Form Properties" class="wiki">Frame   Style</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Window</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Sets the style of the window.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Form_Position_and_Size" title="Setting Form Properties" class="wiki">Height</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Form</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The height of the form in inches or centimeters. Also 
 see Size and Position Options.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Specifying_a_Help_Topic" title="Setting Form Properties" class="wiki">Help   Source File</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Help Entry</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The name of the help file.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Specifying_a_Help_Topic" title="Setting Form Properties" class="wiki">Help   Topic</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Help Entry</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The help topic to display when the user presses F1.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Form_Icon" title="Setting Form Properties" class="wiki">Icon</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Form</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The icon that appears on the title bar of the form.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Form_Print_Margins" title="Setting Form Properties" class="wiki">Left   Margin</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Page</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The left margin when the form is printed.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Disabling_the_Form_s_Window_Controls" title="Setting Form Properties" class="wiki">Maximize   Button</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Window</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Whether or not the form has a maximize button.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Form_s_Menus" title="Setting Form Properties" class="wiki">Menu   Selections</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Menus/Toolbars</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The menus that appear in different form modes.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Disabling_the_Form_s_Window_Controls" title="Setting Form Properties" class="wiki">Minimize   Button</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Window</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Whether or not the form has a minimize button.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Filter_and_Order_Expressions" title="Setting Form Properties" class="wiki">Order   Expression</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Filter/Order</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>An expression that orders selected records.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Form_Position_and_Size" title="Setting Form Properties" class="wiki">Position   Left</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Window</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The left coordinate of the form relative to the Alpha 
Anywhere window.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Form_Position_and_Size" title="Setting Form Properties" class="wiki">Position   Top</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Window</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The top coordinate of the form relative to the Alpha Anywhere window.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Print_to_Filename" title="Setting Form Properties" class="wiki">Print   to Filename</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Printer</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The name of the file when printing to file.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Printer_Properties" title="Setting Form Properties" class="wiki">Printer   Properties</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Printer</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The various settings supported by the selected printer.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Printer_Selection" title="Setting Form Properties" class="wiki">Printer   Selection</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Printer</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Whether to use the default printer or a specific printer.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Print_Setup_Dialog" title="Setting Form Properties" class="wiki">Printer   Setup Dialog</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Printer</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Whether to display the Printer Setup dialog when the 
 form is printer.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Selecting_the_Form_for_Query_by_Form" title="Setting Form Properties" class="wiki">Query   Form</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Form</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The form that appears when you use Query by Form.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Form_Print_Margins" title="Setting Form Properties" class="wiki">Right   Margin</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Page</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The right margin when the form is printed.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Disabling_the_Form_s_Window_Controls" title="Setting Form Properties" class="wiki">Sizeable</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Window</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Whether or not the form can be resized by the operator.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Enabling_or_Disabling_the_Status_Bar" title="Setting Form Properties" class="wiki">Status   Bar</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Form</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Whether the <span class=Screen>Form Status Bar</span> 
 appears</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Disabling_the_Form_s_Window_Controls" title="Setting Form Properties" class="wiki">System   Menu</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Window</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Controls whether the user can close, minimize, or maximize 
 the form window.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Timer_Interval" title="Setting Form Properties" class="wiki">Timer   Interval</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Form</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The number of seconds between timer interrupts.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_the_Form_s_Toolbars" title="Setting Form Properties" class="wiki">Toolbar   Selections</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Menus/Toolbars</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The toolbars that appear in different form modes.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Form_Print_Margins" title="Setting Form Properties" class="wiki">Top   Margin</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Page</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The top margin when the form is printed.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_User_Restrictions" title="Setting Form Properties" class="wiki">User   Restrictions</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Form</td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Restrictions on the operator's ability to use various 
 Alpha Anywhere data entry, query, find, and editing functions.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft><a href="Setting Form Properties.html#Setting_Form_Position_and_Size" title="Setting Form Properties" class="wiki">Width</a></td>
<td colspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Form</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>The width of the form in inches or centimeters.</td></tr>
</table>

<p class=A5><a name=Setting_the_Form_s_Backdrop>Setting the Form's Backdrop</a></p>



<p class=ListNumber>Refer to <a href="../Properties/Defining Fill Style and Color.html" title="Defining Fill Style and Color" class="wiki">Defining   Fill Style and Color</a>.</p>



<p class=A5><a name=Setting_the_Bitmap_Name>Setting the Bitmap Name</a></p>



<p class=Note><span class=Note><img src="images/icon_information.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 36px;
											height: 32px;
											float: none;
											border-style: none;
											border-style: none;"
									width=36
									height=32
									border=0>Note</span> : Specifying a 
 backdrop image for a form causes the backdrop color to change to white.</p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : Alpha Anywhere stores 
 the absolute path and filename of a backdrop image, which might cause 
 portability problems. First <a href="../Xdialog/Insert Image Dialog Box.html" title="Insert Image Dialog Box" class="wiki">adding   the image to the database&#039;s bitmap library</a> will prevent this type 
 of problem.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Backdrop</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Check <span class=Button>Use 
 bitmap</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the source 
 of the image by clicking <span class=Button>Embedded</span>, <span class=Button>File</span>, 
 or <span class=Button>Library</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Embedded" 
 in step 3:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Change 
 embedded bitmap</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Navigate to and 
 select the Windows Bitmap (.BMP) or JPEG (.JPG) image file.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Open</span>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "File" 
 in step 3:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/Folder_button.gif"
	style="width: 22px;
			height: 22px;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Navigate to and 
 select the Windows Bitmap (.BMP) or JPEG (.JPG) image file.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <span class=Button>Open</span>.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "File" 
 in step 3:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click <img src="images/List_Button_Blue_Up.gif"
	style="width: 22px;
			height: 22px;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> to display the 
		<a href="../Xdialog/Insert Image Dialog Box.html" title="Insert Image Dialog Box" class="wiki">Insert Image</a> dialog box.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select the image 
 and click <span class=Button>Insert</span>.</p>

</li>
	</ol>
</ol>

<p class=A5><a name=Setting_the_Bitmap_Display_Mode1>Setting the Bitmap 
 Display Mode</a></p>



<ol start=7>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select one of the 
 display mode options.</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Absolute" 
 - does not stretch the image. This option may cause the image to appear&nbsp;as&nbsp;a 
 different size when printed.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Stretch" 
 - stretches the image both horizontally and vertically to cover the form's 
 background. This option may distort the image.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Tile" - 
 tiles the image across the form. This option may cause the image to appear&nbsp;as&nbsp;a 
 different size when printed.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Best fit" 
 - scales the image to the maximum size that will fit on the form background 
 without clipping the image.</p>

</li>
	</ul>
</ol>

<p class=A5><a name=Setting_the_Form_s_Menus>Setting the Form's Menus</a></p>



<p>A form can have up to six menus, two each for <span class=Screen>View</span> 
 (record input and editing), <span class=Screen>Query by Form</span>, and 
 <span class=Screen>Find by Form</span> modes. The menus are available 
 under the main Alpha Anywhere menu and when the user right clicks on a form.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Menus/Toolbars</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select your <a href="Creating Custom Menus.html" title="Creating Custom Menus" class="wiki">customized   menus(s</a>) from the appropriate drop-down list box, and click <span 
 class=Button>OK</span>.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/Form_Properties_Toolbars.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 436px;
							height: 360px;
							border-style: none;
							border-style: none;"
					width=436
					height=360
					border=0></p>



<ol start=3>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Specify "<none>" 
 to turn off a menu, or specify "<System Menu>" to use 
 the system default menu.</p>

</li>
</ol>

<p class=A5><a name=Setting_the_Form_s_Toolbars>Setting the Form's Toolbars</a></p>



<p>A form can have up to three toolbars, for <span class=Screen>View</span> 
 (record input and editing), <span class=Screen>Query by Form</span>, and 
 <span class=Screen>Find by Form</span> modes.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Menus/Toolbars</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select your <a href="../Xdialog/Controls/Creating Custom Toolbars.html" title="Creating Custom Toolbars" class="wiki">customized   toolbars(s</a>) from the appropriate drop-down list box, and click <span 
 class=Button>OK</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Specify "<none>" 
 to turn off a toolbar, or specify "<System Toolbar>" to 
 use the system default toolbar.</p>

</li>
</ol>

<p class=A5><a name=Setting_Form_Print_Margins>Setting Form Print Margins</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Page</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, set the 
 <a href="/Desktop/Guide/Design/View/Form/Settings.html" title="Settings" class="wiki">units of measure</a> that you wish 
 to use.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter a value in 
 the <span class=Control>Left</span>, <span class=Control>Top</span>, <span 
 class=Control>Right</span>, and <span class=Control>Bottom</span> fields.</p>

</li>
</ol>

<p class=A5><a name=Setting_Forms_on_a_Page>Setting Forms on a Page</a></p>



<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Check <span class=Button>Print 
 one per page</span> if you wish to only print one form per page.</p>

</li>
</ol>

<p class=A5><a name=Setting_Print_to_Filename>Setting Print to Filename</a></p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Printer</span> tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter a filename 
 in the <span class=Control>Print to file</span> field or click <img src="images/Folder_button.gif"
	style="width: 22px;
			height: 22px;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> to navigate to and select a file.</p>

</li>
</ol>

<p class=A5><a name=Setting_Printer_Selection>Setting Printer Selection</a></p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you want to select 
 a specific printer for the form, select "Specify Printer" from 
 the top drop-down list in the <span class=Control>Printer</span> frame.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the specific 
 printer from the middle top drop-down list in the <span class=Control>Printer</span> 
 frame.</p>

</li>
</ol>

<p class=A5><a name=Setting_Printer_Properties>Setting Printer Properties</a></p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you have chosen 
 a specific printer in step 8, you may select a <span class=Control>Paper 
 bin</span> option.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Check <span class=Button>Saved 
 Properties</span> if you would like to define additional printer properties, 
 then click <span class=Button>Properties</span> to view the printer's 
 property dialogs.</p>

</li>
</ol>

<p class=A5><a name=Setting_Print_Setup_Dialog>Setting Print Setup Dialog</a></p>



<ol start=1
	style="list-style: decimal;"
	type=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you would like 
 to set printer properties each time you print this form, check <span class=Button>Show 
 printer setup on print</span>.</p>

</li>
</ol>

<p class=A5><a name=Setting_the_Window_Caption>Setting the Window Caption</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Window</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter the caption 
 that appears on the form title bar in the <span class=Control>Caption</span> 
 field.</p>

</li>
</ol>

<p class=A5><a name=Setting_the_Companion_Browse>Setting the Companion 
 Browse</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Form</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select a browse from 
 the <span class=Control>Companion Browse</span> list. If no browse is 
 selected, pressing F8 will display the default browse for the table or 
 set.</p>

</li>
</ol>

<p class=A5><a name=Setting_the_Data_Entry_Style>Setting the Data Entry 
 Style</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Data Entry</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, set a 
 <a href="/Desktop/Guide/Design/View/Form/Settings.html" title="Settings" class="wiki">default data entry style</a>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The options for data 
 entry style are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>System default</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Modal - prevents users 
 from making edits, unless specific actions are taken.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Modeless - users can 
 edit any fields or records without taking prior actions.</p>

</li>
	</ul>
</ol>

<p>See also <a href="Displaying+a+Formasa+Dialog+Box" title="Displaying a Formasa Dialog Box" class="wiki">Displaying   a Form&nbsp;as&nbsp;a Dialog Box</a>.</p>



<p class=A5><a name=Setting_the_Filter_and_Order_Expressions>Setting the 
 Filter and Order Expressions</a></p>



<p>You can pre-determine the order and selection of records that appear 
 in a form by saving filter/order criteria in the form layout.</p>



<p>When the form is opened, a query is automatically run based on the filter/order 
 criteria you have saved, and the order and selection of records is determined 
 by the query. You can then filter out other records and change the record 
 ordering by using <span class=Button>Query-by-form</span>, <span class=Button>Quick 
 Sort</span>, and <span class=Button>Quick Filter</span>.</p>



<p>For example, you have a table in which you store the names and addresses 
 of customers. Some of your customers are corporate customers, while some 
 are individual people. Suppose also that you want to have separate Forms 
 for corporations and individuals. You can specify filter/order properties 
 in each form such that only individuals appear in one Form, while only 
 corporations appear in the other.</p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : The query is 
 only run when the form window is first opened. If you open a form and 
 then switch to a browse, the filter/order properties from the form apply 
 to the browse&nbsp;as&nbsp;well.</p>



<p>You can use <a href="../Xdialog/ASK Variables.html" title="ASK Variables" class="wiki">Ask Variables</a> 
 in the form's filter, so that you are prompted for parameters when you 
 open the Form.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Filter/Order</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If the form is based 
 on a set, select a table.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter an expression 
 in the <span class=Control>Filter expression</span> field that selects 
 records from the table. Optionally, click <img src="images/Filter_button.gif"
												style="width: 22px;
														height: 22px;
														border-style: none;
														border-style: none;"
												width=22
												height=22
												border=0> to display the 
 	<a href="Filter Builder.html" title="Filter Builder" class="wiki">Filter Builder</a> 
 to help you define the expression.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter an expression 
 in the <span class=Control>Order expression</span> field that orders selected 
 records. Optionally, click <img src="images/Order_button.gif"
								style="width: 22px;
										height: 22px;
										border-style: none;
										border-style: none;"
								width=22
								height=22
								border=0> to display the 
	<a href="../../Data/Operation/Order Builder.html" title="Order Builder" class="wiki">Order Builder</a> to help you define the expression.</p>

</li>
</ol>

<p>See also <a href="../../../../Reference/Design/View/Form/Effects of Setting Filter and Order Properties.html" title="Effects of Setting Filter and Order Properties" class="wiki">Effects   of Setting Filter and Order Properties</a>.</p>



<p class=A5><a name=Setting_the_Window_Frame_Style>Setting the Window Frame 
 Style</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Window</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Make a selection 
 from the <span class=Control>Frame Style</span> list. There are three 
 options:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Normal" 
 - The Normal style is the default style and has a thin raised border around 
 the window. </p>

</li>
	</ul>
</ol>

<p class=PixCaption><img src="images/UG_Default_Form.gif"
						style="width: 522px;
								height: 248px;
								border-style: none;
								border-style: none;"
						width=522
						height=248
						border=0> <br>
Normal Style Window Frame</p>



<ul>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Dialog" 
 - The Dialog Style looks like a standard Windows dialog box. It has no 
 frame around the window, but has a standard height title bar.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Tool" - 
 The Tool style is similar to the Dialog style, but its title bar has less 
 height. (Its referred to&nbsp;as&nbsp;a "Tool style because it resembles 
 the style of floating toolbar windows, such&nbsp;as&nbsp;the <span class=Screen>Drag-and-Drop 
 List</span> in the layout editors.)</p>

</li>
	</ul>
</ul>

<ol start=3>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 and save the form.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Close the form and 
 reopen it to see the new frame style.</p>

</li>
</ol>

<p class=A5><a name=Setting_Form_Position_and_Size>Setting Form Position 
 and Size</a></p>



<p>The size and position properties you set only affect the way the form 
 appears when it is first opened. Once a form has been opened, the operator 
 may be able to resize by selecting <span class=Button>Size</span> from 
 the windows control menu or by using the mouse.</p>



<p>If you want to permanently set the forms size and position:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Window</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>There are four options 
 for setting the form's size and position. The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Default - When the 
 form is opened, it is cascaded with respect to the last opened window, 
 and its size is the same&nbsp;as&nbsp;the last opened window.</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Current</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Specific</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Relative</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To set the form to 
 the default size and position, select "Default" in the <span 
 class=Control>Left</span>, <span class=Control>Top</span>, <span class=Control>Width</span>, 
 and <span class=Control>Height</span> fields.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In design mode the 
 forms height and width are determined by the margin lines at the bottom 
 and right edges of the form. To adjust these margin lines, position the 
 cursor on the margin line. When the cursor shape changes to a double-arrow, 
 click and drag the margin line to change the size the form. To set the 
 form to the current size and position:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, click 
 the <span class=Button>Current Size & Position</span> button.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Optionally, select 
 "Use Form Width" and "Use Form Height" from the <span 
 class=Control>Width</span> and <span class=Control>Height</span> lists.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To set the specific 
 size and position value for the form:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select "Inches" 
 (or "Centimeters" if your system is configured for metric measurement) 
 in the <span class=Control>Top</span>, <span class=Control>Left</span>, 
 <span class=Control>Height</span>, and <span class=Control>Width</span> 
 fields.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>In the spin boxes 
 to the right, enter the appropriate values. When setting the position, 
 the top left corner of the window is considered the origin, so setting 
 the <span class=Control>Top</span> and <span class=Control>Left</span> 
 spin boxes to zero puts the form in the top left corner of the Alpha Anywhere 
 window.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>You can set the size 
 and position of a form based on a percentage of the Alpha Anywhere window. 
 For example, by setting the <span class=Control>Height</span> to 100 and 
 the <span class=Control>Width</span> to 50, the form will fill the Alpha 
 Window from top to bottom, and fill half of the window from left to right. 
 To set a relative size and position value for the form:</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Choose "Percentage" 
 from the <span class=Control>Position</span> and <span class=Control>Size</span> 
 drop-down list boxes.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Use the spin boxes 
 on the right to specify the appropriate percentages.</p>

</li>
	</ol>
</ol>

<p class=Note><span class=Note><img src="images/icon_warning.gif"
									style="width: 37px;
											height: 33px;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : To have a form 
 fill the screen without being maximized, set the <span class=Control>Top</span> 
 and <span class=Control>Left Position</span> values to "0". 
 Set <span class=Control>Height</span> and <span class=Control>Width</span> 
 modes to "Percentage" and values to "100".</p>



<p><span class=Control>H to 0.</span></p>



<p class=A5><a name=Selecting_the_Form_for_Query_by_Form>Selecting the 
 Form for Query by Form</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Form</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select a browse from 
 the <span class=Control>Query Form</span> list. If no form is selected, 
 the current form will be used for defining queries.</p>

</li>
</ol>

<p class=A5><a name=Disabling_the_Form_s_Window_Controls>Disabling the 
 Form's Window Controls</a></p>



<p>Disabling the maximize, minimize, and other window controls prevents 
 the user from closing or resizing it. The following procedure disables 
 the functions circled in red.</p>



<p class=Pix><img src="images/Windows_Menus.gif"
					style="width: 584px;
							height: 235px;
							border-style: none;
							border-style: none;"
					width=584
					height=235
					border=0></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Form</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, clear 
 <span class=Button>Sizable</span>, <span class=Button>System menu</span>, 
 <span class=Button>Minimize button</span>, and <span class=Button>Maximize 
 button</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Menus/Toolbars</span> tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "<None>" 
 under <span class=Control>Menus View</span> and <span class=Control>Menus 
 View right click</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 and save your design changes.</p>

</li>
	
	<p>If you want to prevent the window from being maximized or minimized 
 by the user when the form is run:</p>


	
	<li class=kadov-p-CListNumber><p class=ListNumber>Clear the <span class=Button>Maximize 
 button</span> check box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Clear the <span class=Button>Minimize 
 button</span> check box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Clear the <span class=Button>System 
 Menu</span> check box.</p>

</li>
</ol>

<p class=A5><a name=Setting_the_Form_Icon>Setting the Form Icon</a></p>



<p>When Alpha Anywhere opens a form in a window, the form window shows an icon 
 at the left edge of the form's title bar. You can define the icon that 
 Alpha Anywhere will display when the form is opened on the <span class=Screen>Form</span> 
 tab in the <span class=Screen>Form Properties</span> dialog box.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Form</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Check <span class=Button>Has 
 Form Icon</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Change 
 Form Icon</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Make a selection 
 from the 
	<a href="../Xdialog/Insert Image Dialog Box.html" title="Insert Image Dialog Box" class="wiki">Insert   Image</a> dialog box and click <span class=Button>OK</span>.</p>

</li>
</ol>

<p class=A5><a name=Specifying_a_Help_Topic>Specifying a Help Topic</a></p>



<p>When the user presses F1, you have the option of displaying a help topic 
 from an Alpha Anywhere help file or a compiled help file in the .CHM or .HLP 
 formats.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Help Entry</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Check <span class=Button>Use 
 Custom Help</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Make a selection 
 from the Help Source File list. The options are:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Standard Windows 
 Help File (.hlp file)"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Compiled Windows 
 Help File (.chm file)"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Alpha Anywhere Help 
 File"</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected either 
 "Standard Windows Help File (.hlp file)" or "Compiled Windows 
 Help File (.chm file)", refer to <a href="Linking to a External Help File Topic.html" title="Linking to a External Help File Topic" class="wiki">Linking   to a External Help File Topic</a>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "Alpha 
	Anywhere Help File", refer to <a href="Creating Alpha Anywhere Help Text.html" title="Creating Alpha Five Help Text" class="wiki">Creating   
	Alpha Anywhere Help Text</a>.</p>

</li>
</ol>

<p class=A5><a name=Enabling_or_Disabling_the_Status_Bar>Enabling or Disabling 
 the Status Bar</a></p>



<p>An Alpha Anywhere form has three boxes at its lower left corner. This is 
 the <span class=Screen>Form Status Bar</span>. The first button shows 
 an icon if you are in "enter record mode". The second icon shows 
 if there is a filter that is active. The third icon shows if the current 
 record is 'marked'.</p>



<p class=Pix><img src="images/UG_Form_Status_Bar.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 331px;
							height: 95px;
							float: none;
							border-style: none;
							border-style: none;"
					width=331
					height=95
					border=0></p>



<p>The Status Bar can show the progress of tasks. To enable or disable 
 the Status Bar.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Form</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Check or clear <span 
 class=Button>Hide Status Bar</span>.</p>

</li>
</ol>

<p class=A5><a name=Setting_User_Restrictions>Setting User Restrictions</a></p>



<p>When creating a form, you can set restriction on what users can do. 
 For example, you can allow users to enter new records, but disallow them 
 from changing existing ones. By restricting command access, you can prevent 
 unauthorized users from damaging data and inexperienced users from becoming 
 confused by unnecessary choices.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Form</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Place a check to 
 the left of each restriction you want to enforce. The following table 
 provides a description of the restrictions.</p>

</li>
</ol>


<table style="x-cell-content-align: Top;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Restriction</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Description</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Enter Record&nbsp;</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Prevents new record entry.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Change Record</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Records cannot be changed.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Delete Record</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Records cannot be deleted.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Find Commands</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Users cannot access the Find-by-Key command.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Query&nbsp;Commands</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Users cannot access Query commands.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Select Index</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Prevents primary index/query changes.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Select Range</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Users cannot set ranges.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Navigate</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Prevents users from moving to a different record.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Open/Edit Layout</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Prevents users from entering Edit Mode when opening 
 a different layout.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Continuous&nbsp;Enters</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>When the user finishes entering a new record, a new 
 record is not automatically created.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Browse Mode</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Users cannot switch to Browse Mode.</td></tr>
</table>

<p class=A5><a name=Setting_the_Timer_Interval>Setting the Timer Interval</a></p>



<p>Setting the <span class=Control>Timer Interval</span> to a non-zero 
 value allows you to run a script attached to the form's <span class=Code1>OnTimer</span> 
 event.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Choose <span class=Button>Form 
 > Properties</span> and display the <span class=Screen>Form</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter a value in 
 seconds in the <span class=Control>Timer Interval</span> field. The value 
 may be fractional.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="../../../../Reference/Design/View/Form/Form Properties.html" title="Form Properties" class="wiki">Form Properties</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Setting+Form+Properties">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Alpha Five","keywords":"desktop,guide,form"}--->
</body></html>