	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Specifying a Window</p>



<p>You can specify which window you want to operate on in one of two ways:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>You can specify the window 
 by its name, or</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>You can specify a pointer 
 that references the window (the preferred method).</p>

</li>
</ul>

<p class=A5>Specifying by Name</p>



<p>When you open a form or browse layout, the window name is generally 
 the same&nbsp;as&nbsp;the form or browse name (with two exceptions, described 
 below).</p>



<p>You may have opened more than one instance of the form or browse layout. 
 Since a window name must be unique, Alpha Anywhere automatically appends a 
 number to the layout name to differentiate the second and subsequent instances 
 of that layout. For example, if you have a form called <span class=Code1>CustomerList</span>, 
 which is opened twice, the first window will be called <span class=Code1>CustomerList</span> 
 and the second window may be called <span class=Code1>CustomerList0</span>.</p>



<p>The Xbasic command to open a window allows you to specify the unique 
 window name associated with the window. So, there is no guarantee that 
 the window name for the <span class=Code1>CustomerList</span> form is 
 indeed <span class=Code1>CustomerList</span>.</p>



<p>Since it is hard to know with certainty what the window name is, the 
 preferred method for specifying the Window is to specify a pointer.</p>



<p class=A5>Specifying a Pointer</p>



<p>When a form or browse window is opened, you can optionally associate 
 a pointer variable with the window that is opened. This pointer allows 
 you to uniquely identify the window when you want to perform some action 
 on the window (such&nbsp;as&nbsp;Closing, or hiding it) or on one of the 
 objects contained within the window (such&nbsp;as&nbsp;entering a value 
 into one of the controls on a form).</p>



<p>For example, the following Xbasic commands opens the <span class=Code1>CustomerList</span> 
 form, and creates a pointer called <span class=Code1>p1</span> that allows 
 you to reference the window:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>dim p1&nbsp;as&nbsp;P</p>


<p class=Code>p1 = form.view("CustomerList")</td></tr>
</table>

<p>To close this window, you could use the Xbasic command:</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>P1.close()</td></tr>
</table>

<p class=A5>See Also</p>



<p><a href="../../Platform/Xbasic/Opening the Default Form or Browse.html" title="Opening the Default Form or Browse" class="wiki">Opening the Default   Form or Browse</a>, <a href="../../../../Reference/Design/View/Form/Form Open Options.html" title="Form Open Options" class="wiki">Form Open Options</a>, 
 <a href="../../../../Reference/Design/View/Form/Form or Browse Table Pointer.html" title="Form or Browse Table Pointer" class="wiki">Form or Browse Table Pointer</a></p>


	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Specifying+a+Window">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,form,browse"}--->
</body></html>