	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>The InvoiceItemsPie Form</p>



<p>The InvoiceItemsPie form demonstrates the use of the charting capability. A <a href="http://www.simplechart.net"><span 
 class=Screen>SimpleChart</span></a> ActiveX control allows you to place 
 bar and pie charts onto forms and control their properties with Xbasic.</p>



<p class=A5>See Also</p>



<p><a href="Creating the InvoiceItemsPie Form.html" title="Creating the InvoiceItemsPie Form" class="wiki">Creating the InvoiceItemsPie   Form</a>, <a href="../Chart/Displaying Miscellaneous Chart Examples.html" title="Displaying Miscellaneous Chart Examples" class="wiki">Displaying   Miscellaneous Chart Examples</a></p>


	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:The+InvoiceItemsPie+Form">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop, review","status":"pending","notes":"Alpha Five v7, short, dated, delete?","keywords":"desktop,guide,form"}--->
</body></html>