	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>The Items Form</p>



<p>The <span class=Screen>Items</span> form allows the operator to enter 
 a new item record. However, the operator should only use the form when 
 the number of the parent invoice is known.</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../../Platform/Xbasic/Using Xbasic to Control Access to a Form.html" title="Using Xbasic to Control Access to a Form" class="wiki">Using   Xbasic to Control Access to a Form</a> illustrates a method for implementing 
 this restriction.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Linking to a External Help File Topic.html" title="Linking to a External Help File Topic" class="wiki">Linking   to a External Help File Topic</a> shows how to connect a topic in a compiled 
 HTML help file (.CHM) or Windows help file (.HLP) to a form or button.</p>

</li>
</ul>

<p></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:The+Items+Form">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,form"}--->
</body></html>