	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			
<p class=A3Topic>The Main Menu Form</p>



<p>The Menu Menu form illustrates two types of menuing techniques and the 
 recommended architectural approach for attaching scripts to buttons.</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Control Panel/Starting the AlphaSports Application.html" title="Starting the AlphaSports Application" class="wiki">Starting   the AlphaSports Application</a> shows what AlphaSports does&nbsp;as&nbsp;it 
 starts up.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../../Platform/Xbasic/Ending the AlphaSports Application.html" title="Ending the AlphaSports Application" class="wiki">Ending   the AlphaSports Application</a> shows what AlphaSports does to qualify 
 the user's request to exit and to clean up afterwards.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Displaying the Main Menu.html" title="Displaying the Main Menu" class="wiki">Displaying   the Main Menu</a> shows how to display a form on Alpha Anywhere startup.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Xdialog/Controls/Displaying the Navigation Toolbar.html" title="Displaying the Navigation Toolbar" class="wiki">Displaying   the Navigation Toolbar</a> shows how to decide when to display the Navigation 
 Toolbar.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Xdialog/Controls/Creating the Navigation Toolbar.html" title="Creating the Navigation Toolbar" class="wiki">Creating   the Navigation Toolbar</a> shows how to create the Navigation Toolbar.</p>

</li>
</ul>

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:The+Main+Menu+Form">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Part of Alpha Sports","keywords":"desktop,guide,form"}--->
</body></html>