	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>The Customer Information Form</p>



<p>The <span class=Screen>Customer Information</span> form provides the 
 user with a way to add, edit, and delete customer records. The form demonstrates 
 the following controls and techniques.</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Form Events.html" title="Form Events" class="wiki">Form   events</a> describes code that runs when you open or attempt to close 
 this form.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Browse/Filtering a Browse with a Combo Box Selection.html" title="Filtering a Browse with a Combo Box Selection" class="wiki">Filtering   a Browse with a Combo Box Selection</a> shows how to select a field in 
 the base table and sort all records on that field.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Browse/Configuring an Embedded Browse.html" title="Configuring an Embedded Browse" class="wiki">Configuring   an Embedded Browse</a> shows how to select a record in the base table 
 by identifying a value in the selected field.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../../Data/FieldRules/Creating and Using an Email Smart Field.html" title="Creating and Using an Email Smart Field" class="wiki">Creating   and Using an Email Object</a> shows how to enter or change an email address 
 or generate an email message from a single control.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Xdialog/Controls/Buttons/Creating a Button that Calls an Action Script.html" title="Creating a Button that Calls an Action Script" class="wiki">Creating   a Button that Calls an Action Script</a> illustrates a button with a text 
 label that calls an Action Script.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Xdialog/Controls/Buttons/Creating a Button with a Bitmap.html" title="Creating a Button with a Bitmap" class="wiki">Creating   a Button with a Bitmap</a> shows how to create a button with a graphic.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Xdialog/Controls/Buttons/Creating a Button that Calls an Xbasic Script.html" title="Creating a Button that Calls an Xbasic Script" class="wiki">Creating   a Button that Calls an Xbasic Script</a> illustrates a button that calls 
 an Xbasic script.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Xdialog/Controls/Buttons/Creating and Using a Multi-state Button.html" title="Creating and Using a Multi-state Button" class="wiki">Creating   and Using a Multi-state Button</a> shows how to narrow the record selection 
 by specifying a letter that must begin the value in the selected field.</p>

</li>
</ul>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:The+Customer+Information+Form">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","keywords":"index,asports","notes":"short list"}--->
</body></html>