	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>The Inventory Form</p>



<p>The <span class=Screen>Inventory</span> form is based on the Invoice 
 set, which maintains a parent-child relationship between the Product and 
 Vendor tables,&nbsp;as&nbsp;illustrated below: </p>



<p class=Pix><img src="images/AL_Set_Inventory.gif"
					style="width: 293px;
							height: 60px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							vertical-align: baseline;
							border-style: none;
							vertical-align: baseline;"
					width=293
					height=60
					align=bottom
					border=0></p>



<p>The <span class=Screen>Inventory</span> form demonstrates the following 
 controls and techniques:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Xdialog/Controls/Using a Tabbed Object to Selectively Display Controls.html" title="Using a Tabbed Object to Selectively Display Controls" class="wiki">Using   a Tabbed Control to Selectively Display Controls</a> demonstrates an excellent 
 solution for displaying a set of related controls in a small amount of 
 space.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../../Data/FieldRules/Using Field Rules to Generate A Table Lookup.html" title="Using Field Rules to Generate A Table Lookup" class="wiki">Using   Field Rules to Generate a Table Lookup</a> demonstrates how field rules 
 can create a lookup table.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Browse/Opening a Filtered Browse on another Form.html" title="Opening a Filtered Browse on another Form" class="wiki">Opening   a Filtered Browse on another Form</a> demonstrates how to open a filtered 
 browse on another form.</p>

</li>
</ul>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:The+Inventory+Form">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Alpha Sports","keywords":"desktop,guide,form"}--->
</body></html>