	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Understanding Levels in a Form</p>



<p>If a form is based on a set, and has one or more embedded forms or browses, 
 then when you perform an action on a record in that form, you need to 
 specify which record on the form you want to manipulate.</p>



<p>The actions that you can perform on a record include:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Navigation to the first, 
 previous, next or last record in the current query list or index order</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Entering a new record</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Saving a record</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Marking or un-marking a 
 record</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Deleting a record</p>

</li>
</ul>

<p>For example, assume you are using a form with an embedded browse in 
 it,&nbsp;as&nbsp;shown in the diagram below.</p>



<p class=Pix><img src="images/AL_Invoice_Form.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 582px;
							height: 447px;
							float: none;
							border-style: none;
							border-style: none;"
					width=582
					height=447
					border=0></p>



<p>This form is based on a set, which has this structure:</p>



<p>If you give focus to the Invoice # field on the form, then click the 
 "First record" icon on the toolbar, Alpha Anywhere will navigate 
 to the first record in the <span class=Code1>invoice_header</span> table. 
 However, if you give focus to a record in the embedded browse, which shows 
 the invoice line items, and then click the "First record" icon, 
 Alpha Anywhere will navigate to the first record in the <span class=Code1>invoice_items</span> 
 table that matches the current parent record (i.e. invoice number 000001 
 in the above example).</p>



<p>Similarly, if you give focus to any field from the invoice_header table, 
 then click the "New record" icon, Alpha Anywhere will begin entering 
 a new record in the <span class=Code1>invoice_header</span> table. However, 
 if you give focus to a record in the embedded browse, and then click on 
 the "New record" icon, Alpha Anywhere will begin entering a new 
 record in the <span class=Code1>invoice_items</span> table.</p>



<p>As you can see in the above examples, the meaning of the "First 
 record" and "New record" buttons on the toolbar depends 
 on which object on the form currently has focus.</p>



<p>Whenever you choose an action that operates on records in a form, you 
 must specify the "level" in the form at which the action should 
 take place. The top level (in this example, the invoice_header table) 
 is referred to&nbsp;as&nbsp;the "parent" level.</p>



<
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Understanding+Levels+in+a+Form">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,guide,form,browse","tags":"desktop"}--->
</body></html>