	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using the Navigator</p>



<p>The <span class=Screen>Navigator</span> is a modeless dialog box that 
 displays all the fields on a form or browse in a tree control. With the 
 <span class=Screen>Navigator</span> you can instantly navigate to any 
 field on the form or browse.</p>



<p>To use the <span class=Screen>Navigator</span> while in a form or browse:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Form 
 > Navigator</span> or <span class=Button>Browse > Navigator</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the field 
 you want to go to.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Goto</span>. 
 </p>

</li>
</ol>

<p class=Pix><img src="images/UG_Navigator_dialog.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 284px;
							height: 327px;
							float: none;
							border-style: none;
							border-style: none;"
					width=284
					height=327
					border=0></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+the+Navigator">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,form,browse"}--->
</body></html>