<html>
	<head>
		<script src="/assets/helpserver-main.js"></script>
	</head>
	<body onload="helpServer.onLoad()" style="margin:0px;padding:0px;" onhashchange="helpServer.onHashChange()">
		<div style="height:100%;width:34%;float:left;border:none;">
			<iframe src="/search_panel" id="search" style="height:34%;width:100%;float:top;border:none;"></iframe>
			<iframe src="/toc" id="toc" style="height:66%;width:100%;float:top;border:none;"></iframe>
		</div>
		<iframe src="/blank" id="help" name="help" style="height:100%;width:66%;float:left;border:none;" onload="helpServer.helpFrameLoad();"></iframe>
	</body>

</html>