<html>
<head>
<script>
   function navigateToFragment() {
      var path = "";
      if( window.location.hash )
         path = window.location.hash.substring(1);
      var iframeToc = document.getElementById('toc');
      var iframeHelper = document.getElementById('help');
      if( path != "" ) {
         iframeToc.src = "/toc#"+path;
         iframeHelper.src = "/help"+path;
      } 
   }
   function checkNavigation(path,from) {
      if( path && path != "" && ("#"+path) !== window.location.hash ) {
         var parentWindow = window.parent.window;
         var newLocation = parentWindow.location.pathname+"#"+path;
         parentWindow.location.replace(newLocation);
      }
      var iframeToc = document.getElementById('toc');
      var iframeHelper = document.getElementById('help');
      if( from != 'toc' ) {
         if( iframeToc.contentWindow.setSelectedPage ) {
            iframeToc.contentWindow.setSelectedPage(path);
         }
      } 
      if( from != 'help' ) {
         iframeHelper.src = "/help"+path;
      }
   }
</script>
</head>
<body onload="navigateToFragment()" style="margin:0px;padding:0px;" onhashchange="navigateToFragment()">
<div style="height:100%;width:34%;float:left;border:none;">
<iframe src="/search_panel" id="search" style="height:34%;width:100%;float:top;border:none;"></iframe>
<iframe src="/toc#__page__" id="toc" style="height:66%;width:100%;float:top;border:none;"></iframe>
</div>
<iframe src="/help__page__" id="help" name="help" style="height:100%;width:66%;float:left;border:none;" onload="(function(){ var path = document.getElementById('help').contentWindow.location.pathname.substr(5); checkNavigation( path , 'help'); }());" ></iframe> 
</body>
      
</html>

