	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Creating a Tabbed Control</p>



<p>Tabbed controls provide a familiar, tabbed interface that you can use 
 on a form to organize fields, controls, and other objects. For example, 
 you have a form in which you enter invoice information. By creating a 
 tabbed control, you can have one tabbed page on which you fill in customer 
 information, one page on which you enter billing information, and a third 
 page on which you enter individual line-items. </p>



<p class=Pix><img src="images/Tabbed_Control.gif"
					x-maintain-ratio=TRUE
					style="width: 467px;
							height: 270px;
							float: none;
							border-style: none;
							border-style: none;"
					width=467
					height=270
					border=0></p>



<p class=PixCaption>Tabbed Subform</p>



<p>To create a tabbed control, you use the <span class=Button>Tabbed Control</span> 
 <img src="images/Tabbed_tool_button.gif"
		x-maintain-ratio=TRUE
		style="width: 22px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0>&nbsp;tool on the <span class=Screen>Toolbox</span>. Once 
 the object has been created, you can set the names that appear on the 
 tab labels&nbsp;as&nbsp;well&nbsp;as&nbsp;other properties. Lastly, you 
 can drag fields, text, and other objects onto each tabbed page.</p>



<p class=A5><a name=Creating_a_Tabbed_Control>Creating a Tabbed Control</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open a form to edit 
 in the <span class=Screen>Form Editor</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If necessary, select 
 <span class=Button>View >Toolbox</span> to make the <span class=Screen>Toolbox</span> 
 appear.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>On the <span class=Screen>Toolbox</span>, 
 click the <span class=Button>Tabbed Control</span> tool.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click and drag over 
 the area on the form where you want to place the tabbed control. When 
 you release the mouse button, the tabbed control appears. The initial 
 control defaults to three pages, although you can add or delete pages. 
 </p>

</li>
</ol>

<p class=Pix><img src="images/UG_Tabbed_Control.jpg"
					style="width: 350px;
							height: 222px;
							border-style: none;
							border-style: none;"
					width=350
					height=222
					border=0></p>



<p class=PixCaption>Tabbed Subform Object</p>



<p class=A5><a name=Setting_the_Properties_of_a_Tabbed_Control>Setting 
 the Properties of a Tabbed Control</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Form 
 Editor</span>, right-click on the tabbed control and select <span class=Button>Properties</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>On each tabbed page 
 of the <span class=Screen>Properties</span> dialog box, adjust the settings&nbsp;as&nbsp;Necessary. 
 Refer to the table below for more information.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>When you have finished 
 setting the properties, click <span class=Button>OK</span>.</p>

</li>
</ol>

<p class=A5><a name=Placing_Objects_on_a_Tabbed_Control>Placing Objects 
 on a Tabbed Control</a></p>



<p>Once you have created a tabbed control and set its properties, you are 
 ready to start adding objects.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the tab of 
 the page you want to add objects. The selected tab page appears.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Add new objects to 
 the tabbed page the same way you would for a form. For example, to add 
 a new field, click and drag a field from the <span class=Screen>Drag-and-Drop 
 List</span> and place it on the tabbed page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Make sure that the 
 <span class=Button>Always on top</span> attribute of each object is turned 
 off. You can clear this setting by right clicking on the object and selecting 
 <span class=Button>Properties ...</span> and displaying the <span class=Screen>Setup</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>When you have finished 
 adding objects to a particular page, click another tab and add objects 
 to the selected page. </p>

</li>
</ol>

<p class=Pix><img src="images/UG_Tabbed_Control_w_Fields.jpg"
					style="width: 408px;
							height: 239px;
							border-style: none;
							border-style: none;"
					width=408
					height=239
					border=0></p>



<p class=PixCaption>Adding objects to a tab page</p>



<p class=A5><a name=Placing_Objects_on_All_Tabbed_Pages>Placing Objects 
 on All Tabbed Pages</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right-click the object 
 you want to appear on all tabbed pages and select <span class=Button>Properties...</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Setup</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Control>Always 
 on top</span> check box.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>. 
 The object now appears on every tabbed page.</p>

</li>
</ol>

<p class=A5><a name=Adding_a_New_Tabbed_Page>Adding a New Tabbed Page</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right-click the tabbed 
 control and select <span class=Button>Properties...</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Tabs</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Move the cursor to 
 the first blank line in the <span class=Control>Tab</span> table. Fill 
 in the name of the new page, and then press <span class=Button>ENTER</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Move the cursor to 
 the next blank line.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>. 
 The tab is created.</p>

</li>
</ol>

<p class=A5><a name=Removing_a_Tabbed_Page>Removing a Tabbed Page</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right-click on the 
 tabbed control and select <span class=Button>Properties...</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Tabs</span> 
 tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the tab you 
 want to remove from the tab list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Press <img src="images/Remove_Button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> to remove the tab.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>, 
 the tabbed page is removed.</p>

</li>
</ol>

<p class=A5><a name=Changing_the_Order_of_Tabbed_Pages>Changing the Order 
 of Tabbed Pages</a></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select all of the 
 objects on the tabbed page that you want to move.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Arrange 
 > Group</span>. The objects are grouped together.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Move the grouped 
 object off of the tabbed page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select all of the 
 objects from the second tabbed page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Arrange 
 > Group</span>. The second group of objects are grouped together.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Move the second grouped 
 object to the first tabbed page.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Move the first grouped 
 object to the second tabbed page. The order of the pages is changed.</p>

</li>
</ol>

<p class=A5><a name=Selecting_all_Objects_on_a_Tab_Page>Selecting all Objects 
 on a Tab Page</a></p>



<p>You can now select all of the elements placed on the page of a tab control 
 with a single action. After right clicking on the control, you will see 
 the following menu selection. </p>



<p class=Pix><img src="images/Tab_Control_New_Menus2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 390px;
							height: 126px;
							border-style: none;
							border-style: none;"
					width=390
					height=126
					border=0></p>



<p class=A5><a name=Reordering_Tab_Pages>Reordering Tab Pages</a></p>



<p>New menu selections also will move the location of tab pages (and all 
 their contents) upwards or downwards. </p>



<p class=Pix><img src="images/Tab_Control_New_Menus.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 544px;
							height: 116px;
							border-style: none;
							border-style: none;"
					width=544
					height=116
					border=0></p>



<p>The following images show a tab control before and after changing a 
 page's location.  
 </p>



<p class=Pix><img src="images/Tab_Control_Before_Move.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 422px;
							height: 115px;
							float: none;
							border-style: none;
							border-style: none;"
					width=422
					height=115
					border=0></p>



<p class=Pix><img src="images/Tab_Control_After_Move.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 422px;
							height: 115px;
							float: none;
							border-style: none;
							border-style: none;"
					width=422
					height=115
					border=0></p>



<p>The <span class=Screen>Tabbed Object Properties</span> dialog allows 
 you to reorganize page locations or delete pages by using the controls 
 at the right side of the list box. In addition, the dialog allows you 
 to specify the <span class=Control>Selected color</span>, <span class=Control>Unselected 
 color</span>, and <span class=Control>Page color</span> of each tab page. 
 </p>



<p class=Pix><img src="images/Tab_Control_Tabs_Properties.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 407px;
							height: 467px;
							float: none;
							border-style: none;
							border-style: none;"
					width=407
					height=467
					border=0></p>



<p class=A5>Navigation from Field to Field on Forms that have Tabbed Objects</p>



<p>When Alpha Anywhere reaches the last field on a tab page, it will activate 
 the next page of the tabbed control. Alpha Anywhere will cycle through all 
 of the objects on each tab page before advancing to the next record.</p>



<p class=A5>See Also</p>



<p><a href="Using the Toolbox Panel.html" title="Using the Toolbox Panel" class="wiki">Using the Toolbox</a>, <a href="../../Data/FieldRules/Placing a Data Field on a Form.html" title="Placing a Data Field on a Form" class="wiki">Placing   a Field on a Form</a>, <a href="../../../../Reference/Design/View/Xdialog/Controls/Tabbed Control Properties.html" title="Tabbed Control Properties" class="wiki">Tabbed   Control Properties</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Creating+a+Tabbed+Control">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,lcontrol"}--->
</body></html>