	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Placing Check boxes, Radio Buttons, and Lists</p>



<p>A check box, radio button, list, or edit combo box is a variation of 
 a type-in control that is bound to a table field. In each case the user 
 has the option of selecting from two or more pre-defined values. In the 
 case of an edit combo box, the user can also enter a new value.</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Method One</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>If you do not see 
 the <span class=Screen>Toolbox</span>, select <span class=Button>View 
 > Toolbox</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>To put a check 
 box on the form, select the <span class=Button>Check box</span> tool <img 
 src="images/Check_box_tool_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> on the <span class=Screen>Toolbox</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>To place a radio 
 button, select the <span class=Button>Radio Button</span> tool <img src="images/Radio_tool_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> on the <span class=Screen>Toolbox</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>While holding down 
 the left mouse button, draw a rectangle on the form.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select the field 
 or variable that will correspond to this new control.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Method Two</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Drag a field from 
 the <span class=Screen>Drag and Drop List</span> onto the form. It will 
 initially appear&nbsp;as&nbsp;a <span class=Button>Type-In</span> control.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Right click on 
 the control and select <span class=Button>Properties...</span> .</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>On the <span class=Screen>Setup</span> 
 tab in the Field Type list select either:</p>

</li>
	</ol>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<ul style="list-style: disc;"
			type=disc>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Check Box"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Combo Box"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Drop Down 
 Tree"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"List Box"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Multi-State 
 Button"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Radio button"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Record List-List 
 Box"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Record List-Combo 
 Box"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Record List-Edit 
 Combo Box"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Tree Control"</p>

</li>
			
			<li class=kadov-p-CBullet1><p class=Bullet1>"Two-State 
 Button"</p>

</li>
		</ul>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Choices</span> tab and define the choices that will appear. 
 Refer to the topic appropriate for your control:</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="Setting Choices for Check boxes.html" title="Setting Choices for Check boxes" class="wiki">Check   Box</a> "</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="../Xdialog/Controls/Setting Choices for List and Combo Boxes.html" title="Setting Choices for List and Combo Boxes" class="wiki">Combo   Box</a> "</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="../Xdialog/Controls/Tree Control/Setting Choices for Tree Controls.html" title="Setting Choices for Tree Controls" class="wiki">Drop   Down Tree</a> "</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="../Xdialog/Controls/Setting Choices for List and Combo Boxes.html" title="Setting Choices for List and Combo Boxes" class="wiki">List   Box</a> "</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="../Xdialog/Controls/Buttons/Setting Choices for Multi-State Buttons.html" title="Setting Choices for Multi-State Buttons" class="wiki">Multi-State   Button</a> "</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="../Xdialog/Controls/Buttons/Radio Buttons/Setting Choices for Radio Buttons.html" title="Setting Choices for Radio Buttons" class="wiki">Radio   Button</a> "</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="../../Data/DBF/Setting Choices for Record Lists.html" title="Setting Choices for Record Lists" class="wiki">Record   List-List Box</a> "</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="../../Data/DBF/Setting Choices for Record Lists.html" title="Setting Choices for Record Lists" class="wiki">Record   List-Combo Box</a> "</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="../../Data/DBF/Setting Choices for Record Lists.html" title="Setting Choices for Record Lists" class="wiki">Record   List-Edit Combo Box</a> "</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="../Xdialog/Controls/Tree Control/Setting Choices for Tree Controls.html" title="Setting Choices for Tree Controls" class="wiki">Tree   Control</a> "</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>" <a href="Setting Choices for Two State Buttons.html" title="Setting Choices for Two State Buttons" class="wiki">Two   State Button</a> "</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Save your settings 
 and return to form design mode.</p>

</li>
</ol>

<p class=A5>See Also</p>



<p><a href="/Desktop_Api/Object/Objects That Do Table Lookups.html" title="Objects That Do Table Lookups" class="wiki">Objects that do   table lookups</a>, <a href="../../Data/DBF/Creating a Tree Control Based on a Set.html" title="Creating a Tree Control Based on a Set" class="wiki">Creating   a Tree Control Based on a Set</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Placing+Check+boxes%2C+Radio+Buttons%2C+and+Lists">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,lcontrol"}--->
</body></html>