	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using the Button Genie</p>



<p>The <span class=Screen>Button Genie</span> lets you easily create buttons 
 that perform single or multiple steps. For example, you can use the <span 
 class=Screen>Action Scripting Editor</span> to create a custom script 
 that executes the following actions when a user clicks a button:</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Saves the current record</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Creates a new record</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Sets a field default value</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Gives focus to a field, 
 where the user can continue entering data for the new record </p>

</li>
</ul>

<p class=Pix><img src="images/Define_Button_Default_Settings.gif"
					x-maintain-ratio=TRUE
					style="width: 478px;
							height: 447px;
							float: none;
							border-style: none;
							border-style: none;"
					width=478
					height=447
					border=0></p>



<p>Click <span class=Button>Next</span> to define the custom action script 
 for the button. </p>



<p class=Pix><img src="images/Button_Genie_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 478px;
							height: 169px;
							float: none;
							border-style: none;
							border-style: none;"
					width=478
					height=169
					border=0></p>



<p>For more information on creating multi-step scripts that are executed 
 when users click a button, see Introduction to Action Scripting.</p>



<p class=A5>Result Variable</p>



<p>When you close a dialog box, the Result Variable contains the label 
 of the button that was pressed to close the dialog.</p>



<p>This lets you know which button the user pressed to close the dialog.</p>



<p>For example, assume that your dialog has two buttons labeled "OK" 
 and "Cancel". If the user clicks on the "OK" button, 
 the result variable will contain "OK". If the user clicks on 
 "Cancel", the result variable will contain "Cancel". 
 If the user closes the dialog by clicking on the X on the title bar, the 
 result variable will contain a null string ("").</p>



<p class=Note><span class=Note><img src="images/icon_information.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 36px;
											height: 32px;
											float: none;
											border-style: none;"
									width=36
									height=32
									border=0>Note</span>: Typically the 
 OK and Cancel button labels on a dialog are "&OK" and "&Cancel". 
 (The "&" indicates the accelerator letter). If your button 
 labels include the "&" character, note that the result variable 
 will also include this character. For example, the result variable will 
 contain "&OK".</p>



<p>You can specify the <a href="../../Platform/Xbasic/Variable Scope.html" title="Variable Scope" class="wiki">scope</a> 
 of the result variable.</p>



<p class=A5>See Also</p>



<p><a href="../../../../Reference/Design/View/Form/Form Open Options.html" title="Form Open Options" class="wiki">Form Open Options</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+the+Button+Genie">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","keywords":"desktop,guide,lcontrol","tags":"desktop"}--->
</body></html>