	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Creating a Script to Print a Report for a Selected Record</p>



<p>In this example, you will create a script that prints out a mailing 
 label for a particular customer. The script will prompt the user for the 
 customer's name. This script will be a Global Script.&nbsp;as&nbsp;you 
 will recall, a Global Script appears in the <span class=Screen>Control 
 Panel</span> in the <span class=Screen>Code</span> tab, and can be run 
 by double-clicking the script name, or clicking the <span class=Button>Run</span> 
 button.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>New</span> 
 button on the <span class=Screen>Code</span> tab of the <span class=Screen>Control 
 Panel</span> and create a new script using Action Scripting. </p>

</li>
</ol>

<p class=Pix><img src="images/Code_Editor_Blank_New_Action.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 565px;
							height: 199px;
							border-style: none;
							border-style: none;"
					width=565
					height=199
					border=0></p>



<ol start=2>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Add 
 New Action</span> button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the "Reports" 
 category and the "Preview a Layout" Action.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>.</p>

</li>
</ol>

<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : All the different 
 report types (reports, labels, letter, etc.) are collectively referred 
 to&nbsp;as&nbsp;"Layouts." </p>



<p class=Pix><img src="images/Action_Reports_Preview_a_Layout.gif"
					x-maintain-ratio=TRUE
					style="width: 628px;
							height: 215px;
							float: none;
							border-style: none;
							border-style: none;"
					width=628
					height=215
					border=0></p>



<p>The <span class=Button>Preview a Layout</span> Genie appears. </p>



<p class=Pix><img src="images/Print_1.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 221px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=221
					border=0></p>



<ol start=5>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To preview a Label, 
 select "Label" the <span class=Control>Layout Type</span> list. 
 A list of labels in the current Database appears. See <a href="../../../../Guide/Design/View/Label/Create a Label Layout.html" title="Create a Label Layout" class="wiki">Create   a Label Layout</a> for information about creating labels.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "MailingLabels".&nbsp; 
 </p>

</li>
</ol>

<p class=Pix><img src="images/Print_2.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 225px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=225
					border=0></p>



<ol start=7>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span> 
 to move to the next Genie page. Now you can select a filter to select 
 which records should be printed. You want to be able to enter the name 
 of the customer to print at run-time.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Prompt 
 for Parameters at runtime". When you make this selection, note how 
 an area under the list box becomes visible. You define the parameters 
 in this area. Initially, the list is blank. </p>

</li>
</ol>

<p class=Pix><img src="images/Print_3.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 468px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=468
					border=0></p>



<ol start=9>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <img src="images/Add_Button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0> button to add the first condition to the filter. The <span 
 class=Screen>Add Condition</span> dialog box appears. </p>

</li>
</ol>

<p class=Pix><img src="images/Print_4.gif"
					x-maintain-ratio=TRUE
					style="width: 654px;
							height: 296px;
							float: none;
							border-style: none;
							border-style: none;"
					width=654
					height=296
					border=0></p>



<ol start=10>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To search in the 
 <span class=Code1>Lastname</span> field, select "Lastname".</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>As soon&nbsp;as&nbsp;you 
 click on a field, the <span class=Control>Operator</span> column is enabled.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the "is 
 equal to" operator.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the newly revealed 
 <span class=Control>Option</span> column, select "Prompt at Runtime". 
 You could stop here, and at runtime, Alpha Anywhere would display a prompt. 
 However, if you customize the parameter, you can have Alpha Anywhere display 
 a list of valid choices from which the user can select.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Customize 
 Parameter</span> button. </p>

</li>
</ol>

<p class=Pix><img src="images/Print_5.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 654px;
							height: 169px;
							border-style: none;
							border-style: none;"
					width=654
					height=169
					border=0></p>



<p>The <span class=Screen>Define Parameter</span> dialog box appears. <a HREF="http://support.alphasoftware.com/imagesV8/Print_6.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=Pix><img src="images/Print_6.gif"
					x-maintain-ratio=TRUE
					style="width: 291px;
							height: 191px;
							float: none;
							border-style: none;
							border-style: none;"
					width=291
					height=191
					border=0></p>



<ol start=15>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>To present the user 
 with a list of last names, change the <span class=Control>Style</span> 
 of the parameter. Select "Record List-List Box". </p>

</li>
</ol>

<p class=Pix><img src="images/Print_7.gif"
					x-maintain-ratio=TRUE
					style="width: 291px;
							height: 199px;
							float: none;
							border-style: none;
							border-style: none;"
					width=291
					height=199
					border=0></p>



<ol start=16>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Define 
 Record List</span> button to display the <span class=Screen>Define Record 
 List</span> dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "customers" 
 for the <span class=Control>Table name</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "Lastname" 
 for the <span class=Control>Field name</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>. 
 </p>

</li>
</ol>

<p class=Pix><img src="images/Print_8.gif"
					x-maintain-ratio=TRUE
					style="width: 237px;
							height: 270px;
							float: none;
							border-style: none;
							border-style: none;"
					width=237
					height=270
					border=0></p>



<ol start=20>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Preview</span> 
 button <img src="images/Preview_Button.gif"
			x-maintain-ratio=TRUE
			style="float: none;
					width: 22px;
					height: 22px;
					border-style: none;
					border-style: none;"
			width=22
			height=22
			border=0>&nbsp;to test the results. Alpha Anywhere shows a small 
 dialog box showing how it will prompt the user for the <span class=Code1>lastname</span> 
 value. </p>

</li>
</ol>

<p class=Pix><img src="images/Print_9.gif"
					x-maintain-ratio=TRUE
					style="margin-left: 12px;
							margin-right: 12px;
							width: 285px;
							height: 154px;
							float: none;
							border-style: none;
							border-style: none;"
					width=285
					height=154
					border=0></p>



<ol start=21>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to close the dialog box and then click <span class=Button>OK</span> twice 
 to return to the <span class=Screen>Script Genie</span> screen. </p>

</li>
</ol>

<p class=Pix><img src="images/Print_10.gif"
					x-maintain-ratio=TRUE
					style="width: 481px;
							height: 468px;
							float: none;
							border-style: none;
							border-style: none;"
					width=481
					height=468
					border=0></p>



<ol start=22>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The Genie now shows 
 that the report filter contains one condition: "Lastname = <a class="wiki"  href="a value 
 that is prompted for at runtime" rel="">a value 
 that is prompted for at runtime</a>". You could continue adding more 
 conditions to the report filter, but for the purpose of this lesson, one 
 condition is sufficient.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Next&nbsp;></span> 
 and <span class=Button>Finish</span> to complete the Action.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>Code 
 Editor</span> should now look like this: </p>

</li>
</ol>

<p class=Pix><img src="images/Print_11.gif"
					x-maintain-ratio=TRUE
					style="width: 627px;
							height: 201px;
							float: none;
							border-style: none;
							border-style: none;"
					width=627
					height=201
					border=0></p>



<ol start=25>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Save</span> 
 button.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter "PrintMailLabel_forLastnm"&nbsp;as&nbsp;the 
 script name. (Alpha Anywhere limits script names to 24 characters.)</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>. 
 </p>

</li>
</ol>

<p class=Pix><img src="images/Print_12.gif"
					x-maintain-ratio=TRUE
					style="width: 662px;
							height: 211px;
							float: none;
							border-style: none;
							border-style: none;"
					width=662
					height=211
					border=0></p>



<ol start=28>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Now test the script. 
 Click the <span class=Button>Run</span> button on the toolbar.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Alpha Anywhere prompts 
 for the customer's last name. Select "Barber" and click <span 
 class=Button>OK</span>. </p>

</li>
</ol>

<p class=Pix><img src="images/Print_13.gif"
					x-maintain-ratio=TRUE
					style="width: 285px;
							height: 154px;
							float: none;
							border-style: none;
							border-style: none;"
					width=285
					height=154
					border=0></p>



<p>Alpha Anywhere displays the mailing label for "Tom Barber." <a HREF="http://support.alphasoftware.com/imagesV8/Print_15.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=Pix><img src="images/Print_15.gif"
					x-maintain-ratio=TRUE
					style="width: 386px;
							height: 206px;
							float: none;
							border-style: none;
							border-style: none;"
					width=386
					height=206
					border=0></p>



<p>Alpha Anywhere allows you to use special variables called "Ask" 
 variables in filter expressions. Ask Variables provide an alternative 
 to the above script&nbsp;as&nbsp;a method to prompt a user for input at 
 runtime.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Creating+a+Script+to+Print+a+Report+for+a+Selected+Record">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,design,tut,adb"}--->
</body></html>