	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Database Maintenance</p>



<p>In this lesson, you learn about several database maintenance tasks that 
 you can perform to keep your database updated, backed up, and secure.</p>



<p class=A5>Contents</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Database Maintenance.html#Updating_Indexes" title="Database Maintenance" class="wiki">Updating   Indexes</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Database Maintenance.html#Backing_up_the_Database" title="Database Maintenance" class="wiki">Backing   up the Database</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Database Maintenance.html#Using_One_Step_Backup" title="Database Maintenance" class="wiki">Using   One Step Backup</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Database Maintenance.html#Creating_Periodic_Backups" title="Database Maintenance" class="wiki">Creating   Periodic Backups</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Database Maintenance.html#Compacting_the_Database" title="Database Maintenance" class="wiki">Compacting   the Database</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Database Maintenance.html#Packing_Tables" title="Database Maintenance" class="wiki">Packing   Tables</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Database Maintenance.html#Restoring_the_Database" title="Database Maintenance" class="wiki">Restoring   the Database</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Database Maintenance.html#Database_Security" title="Database Maintenance" class="wiki">Database   Security</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Database Maintenance.html#Encryption" title="Database Maintenance" class="wiki">Encryption</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Database Maintenance.html#Summary" title="Database Maintenance" class="wiki">Summary</a></p>

</li>
</ul>

<p class=A5><a name=Updating_Indexes>Updating Indexes</a></p>



<p>In previous lessons, you learned that Alpha Anywhere maintains and updates 
 indexes, adjusting their ordered list of selected keys, whenever you add, 
 change, or delete records. However, certain events can corrupt your indexes; 
 for example, if you improperly exit Alpha Anywhere, such&nbsp;as&nbsp;turning 
 off your computer while Alpha Anywhere is running, or if a power failure occurs 
 while Alpha Anywhere is updating an index.</p>



<p>When an index becomes corrupted, you might notice that records do not 
 appear&nbsp;as&nbsp;expected. For example, a record that you can see in 
 a default browse does not appear on a report.</p>



<p>Some database problems can be traced to corrupted or out-to-date indexes. 
 If you have any doubt about the integrity of your indexes, you should 
 update them manually. Selecting <span class=Button>Update Indexes</span> 
 to rebuild the indexes associated with a table is likely to fix the problem. 
 For a set, Update Indexes updates the indexes for all the tables in the 
 set.</p>



<p>To update or rebuild an index:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right-click on a 
 table in the <span class=Screen>Control Panel</span>, and select <span 
 class=Button>Update Indexes</span> from the right-click menu, or select 
 <span class=Button>Table > Update Indexes</span> from the menu bar. 
 If you receive index file error messages while working with a table, or 
 if some of the records appear to be missing or duplicated, you can use 
 the <span class=Button>Define Indexes</span> option to rebuild the index.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Right-click on a 
 table in the <span class=Screen>Control Panel</span>, and select <span 
 class=Button>Define Indexes</span> from the right-click menu, or select 
 <span class=Button>Table > Define Indexes</span> from the menu bar. 
 The Index Builder appears.</p>

</li>
	
	<li value=3
		class=kadov-p-CListNumber>
	<p class=ListNumber>Click <span class=Button>Build</span>. An Alpha Anywhere message appears. &nbsp;&nbsp;</a></p>


	
	<p class=pix><img src="images/rebuildIndexes.gif"
						x-maintain-ratio=TRUE
						style="margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px;
								margin-right: 0px;
								width: 399px;
								height: 126px;
								float: none;
								border-style: none;
								border-style: none;"
						width=399
						height=126
						border=0></p>


	</li>
	
	<li value=4
		class=kadov-p
		class=kadov-p>Click <span class=Button>Yes</span>. Alpha Anywhere rebuilds 
 the indexes. </li>
</ol>

<p>For larger tables, a status bar displays the progress&nbsp;as&nbsp;the 
 indexes are updated. Indexes for smaller tables are rebuilt so quickly 
 that no status bar appears.</p>



<p class=A5><a name=Backing_up_the_Database>Backing up the Database</a></p>



<p>To back up a database:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Control 
 Panel</span>.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber>
	<p class=ListNumber>Select <span class=Button>Tools > Backup/Restore 
 Database > Backup Database</span>. The <span class=Screen>Backup</span> 
 dialog box appears. </p>


	
	<p class=pix><img src="images/UG_Backup_dialog_box.gif"
						x-maintain-ratio=TRUE
						style="float: none;
								width: 460px;
								height: 437px;
								border-style: none;
								border-style: none;"
						width=460
						height=437
						border=0></p>


	</li>
	
	<li value=3
		class=kadov-p-CListNumber><p class=ListNumber>Select the drive 
 and directory for the backup files. Backup files are best saved separately 
 from the working files, such&nbsp;as&nbsp;on a CD, in a zip file, or in 
 some other remote location.</p>

</li>
	
	<li value=4
		class=kadov-p-CListNumber><p class=ListNumber>Check <span class=Button>Compact 
 Database before Backup</span>.</p>

</li>
	
	<li value=5
		class=kadov-p-CListNumber>
	<p class=ListNumber>Click <span class=Button>Save Settings</span>. 
 The <span class=Screen>Save Settings</span> dialog box appears. &nbsp;&nbsp;<a HREF="http://support.alphasoftware.com/imagesV8/backupSaveSettings.gif"><a><a class="wiki"  href="Picture" rel="">Picture</a></a></a></p>


	
	<p class=pix><img src="images/backupSaveSettings.gif"
						x-maintain-ratio=TRUE
						style="margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px;
								margin-right: 0px;
								width: 350px;
								height: 146px;
								float: none;
								border-style: none;
								border-style: none;"
						width=350
						height=146
						border=0></p>


	
	<p>After you back up your database files for the first time and save 
 your settings, Alpha Anywhere advises that you can use a one-step backup in 
 the future.</p>


	</li>
	
	<li value=6
		class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>.</p>

</li>
	
	<li value=7
		class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Backup</span> 
 dialog box, click <span class=Button>Backup</span>. A Backup confirmation 
 window appears.</p>

</li>
	
	<li value=8
		class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>View 
 the Backup Log</span> to see the location and date of backed up files.</p>

</li>
	
	<li value=9
		class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Close</span>.</p>

</li>
</ol>

<p class=A5><a name=Using_One_Step_Backup>Using One-Step Backup</a></p>



<p>Once you have saved your backup settings, you can compact and zip the 
 database in one step.</p>



<p>To perform a one-step backup:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Control 
 Panel</span>.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Tools 
 > Backup/Restore Database > One-Step Backup</span>. A Backup confirmation 
 window appears.</p>

</li>
	
	<li value=3
		class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>View 
 the Backup Log</span> to see the location and date of backed up files. 
 	Alpha Anywhere compacts and zips the database for minimum storage requirements.</p>

</li>
	
	<li value=4
		class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Close</span>.</p>

</li>
</ol>

<p class=A5><a name=Creating_Periodic_Backups>Creating Periodic Backups</a></p>



<p>In the next procedure, you provide an Alpha Anywhere setting to create weekly 
 database backups. If your database gets very frequent use, you might want 
 to back it up daily.</p>



<p>To create periodic backups:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Control 
 Panel</span>.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>View 
 > Settings > Database > Backup Database</span>.</p>

</li>
	
	<li value=3
		class=kadov-p-CListNumber>
	<p class=ListNumber>The <span class=Screen>Settings</span> dialog box 
 appears. &nbsp;&nbsp;</a></p>


	
	<p class=pix><img src="images/backupViewSettings.gif"
						x-maintain-ratio=TRUE
						style="margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px;
								margin-right: 0px;
								float: none;
								width: 541px;
								height: 436px;
								border-style: none;
								border-style: none;"
						width=541
						height=436
						border=0></p>


	</li>
	
	<li value=4
		class=kadov-p-CListNumber><p class=ListNumber>Check <span class=Button>Require 
 periodic backups every</span> and enter "7" days. You can specify 
 whether Alpha Anywhere issues a backup reminder or makes performing a backup 
 a requirement for use.</p>

</li>
</ol>

<p class=A5>Undeleting Records</p>



<p>To undelete records:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right click on the 
 table in the <span class=Screen>Table/Set</span> tab of the <span class=Screen>Control 
 Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Utilities 
 > Undelete Records....</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally check 
 <span class=Button>Mark records that are undeleted</span>. This gives 
 you the opportunity to easily identify the records that you have undeleted.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally select 
 <span class=Button>Range of records</span> and enter a <span class=Control>Start 
 Record #</span> and <span class=Control>End Record #</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to undelete the selected records.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/Undelete_Records.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 295px;
							height: 208px;
							float: none;
							border-style: none;
							border-style: none;"
					width=295
					height=208
					border=0></p>



<p class=A5><a name=Compacting_the_Database>Compacting the Database</a></p>



<p>When designing forms and reports, the size of the data dictionaries, 
 the DDD and SET files, grows over time&nbsp;as&nbsp;you continue to make 
 edits to the objects in your database. It is a good practice to periodically 
 remove the extra bulk by compacting the database.</p>



<p>The <span class=Button>Compact Database</span> command packs all tables 
 and compresses the data dictionary files. You can check the size of the 
 database before and after compacting to see the file size reduction. You 
 can also select to compact the database when you back it up.</p>



<p>To compact a database:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Control 
 Panel</span>.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Close all Forms, 
 Operations, and any dialog that may have a table open. Alpha Anywhere cannot 
 perform a compact operation on tables with open Forms.</p>

</li>
	
	<li value=3
		class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>File 
 > Database Compact</span>. Alpha Anywhere completes the Compact Database 
 Operation.</p>

</li>
</ol>

<p class=A5><a name=Packing_Tables>Packing Tables</a></p>



<p>The Pack Operation removes deleted records from the database and compresses 
 memo fields. You should pack tables periodically so that they take up 
 less space and to help database operations run more quickly.</p>



<p>After packing a table, you can no longer undelete records. Also, if 
 you select Compact Database before Backup in the <span class=Screen>Backup</span> 
 dialog box, Alpha Anywhere packs the records and you cannot undelete them.</p>



<p>To pack a database:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Control 
 Panel</span>.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber>
	<p class=ListNumber>Right-click on a table, and select <span class=Button>Pack</span> 
 from the right-click menu. An Alpha Anywhere warning appears. &nbsp;&nbsp;<a HREF="http://support.alphasoftware.com/imagesV8/packWarning.gif"><a><a class="wiki"  href="Picture" rel="">Picture</a></a></a></p>


	
	<p class=pix><img src="images/packWarning.gif"
						style="width: 424px;
								height: 126px;
								margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px;
								margin-right: 0px;
								border-style: none;
								border-style: none;"
						width=424
						height=126
						border=0></p>


	</li>
	
	<li value=3
		class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>. 
 A Pack confirmation window appears.</p>

</li>
</ol>

<p class=A5><a name=Restoring_the_Database>Restoring the Database</a></p>



<p>Alpha Anywhere lets you create a snapshot of your database, so that you 
 can go back to a particular database backup. For example, the backup you 
 made on June 25th, 2000 at 4.35 p.m. You can select the specific database 
 backup to restore, or select to back up and restore individual files.</p>



<p>To restore an open database:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the <span class=Screen>Control 
 Panel</span>.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Tools 
 > Backup/Restore Database > Restore Database</span>. The <span class=Screen>Restore 
 Database</span> dialog box appears. &nbsp;&nbsp;<a HREF="http://support.alphasoftware.com/imagesV8/restoreDB.gif"><a><a class="wiki"  href="Picture" rel="">Picture</a></a></a></p>

</li>
</ol>

<p class=pix><img src="images/restoreDB.gif"
					style="width: 504px;
							height: 392px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=504
					height=392
					border=0></p>



<p>Alpha Anywhere displays the backup files for the current database.</p>



<ol start=3>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the backup 
 files to restore, and click <span class=Button>Restore</span>.</p>

</li>
</ol>

<p>To restore any backed up database:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Close any open database, 
 and select <span class=Button>Tools > Restore Database</span> from 
 the Alpha Anywhere menu bar.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Use the <span class=Screen>Restore 
 Database</span> dialog box to specify the database files to restore.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Alternatively, you 
 can use the <span class=Screen>Alpha Anywhere Welcome</span> screen to select 
 a database to restore. &nbsp;&nbsp;</a></p>

</li>
</ol>

<p class=pix><img src="images/restoreDB2.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 398px;
							height: 512px;
							border-style: none;
							border-style: none;"
					width=398
					height=512
					border=0></p>



<p class=A5><a name=Database_Security>Database Security</a></p>



<p>Alpha Anywhere has a security framework that lets you create a Master Password 
 for a Database Administrator, and define separate or shared user accounts 
 and passwords.</p>



<p>To setup database security:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open the database.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber>
	<p class=ListNumber>Select <span class=Button>Tools > Security > 
 Set Database Password</span>. The <span class=Screen>Set Database Master 
 Password</span> dialog box appears. </a></p>


	
	<p class=Pix><img src="images/UG_Security_Master_Password.gif"
						x-maintain-ratio=TRUE
						style="border: none;
								float: none;
								width: 472px;
								height: 526px;
								border-style: none;
								border-style: none;"
						width=472
						height=526
						border=0></p>


	
	<p>If you define individual user accounts, you specify the user name, 
 password, and an optional startup script for when that user logs on. This 
 also lets you define different startup menus for each application user.</p>


	</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Enter and verify 
 a Master password, and click <span class=Button>OK</span>. A Master Password 
 confirmation window appears. &nbsp;&nbsp;<a HREF="http://support.alphasoftware.com/imagesV8/masterPasswordConfirm.gif"><a><a class="wiki"  href="Picture" rel="">Picture</a></a></a></p>

</li>
</ol>

<p class=pix><img src="images/masterPasswordConfirm.gif"
					style="width: 291px;
							height: 126px;
							border-style: none;
							border-style: none;"
					width=291
					height=126
					border=0></p>



<ol start=4>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>. 
 If you specify that a database has a password, Alpha Anywhere displays the 
 <span class=Screen>Password</span> screen when you open that database. 
 &nbsp;&nbsp;</a></p>

</li>
	
	<p class=pix><img src="images/login.gif"
						style="width: 358px;
								height: 173px;
								margin-top: 0px;
								margin-bottom: 0px;
								margin-left: 0px;
								margin-right: 0px;
								border-style: none;
								border-style: none;"
						width=358
						height=173
						border=0></p>


	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Tools 
 > Security</span>, to select or change the following security options.</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Change Master Password</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Change Security Settings</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Remove Database Password</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Customize Logon Dialog</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Encrypt/Decrypt Tables</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>Define Users and Groups</p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Define 
 Users and Groups</span> to specify the group to which each user belongs. 
 </p>

</li>
</ol>

<p class=pix><img src="images/usersGroups.gif"
					style="width: 420px;
							height: 408px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=420
					height=408
					border=0></p>



<p>For example, you can specify that Tom, Fred, and Harry are members of 
 the Accounting group.</p>



<p>The user account information is stored in a User Accounts File. The 
 User Accounts File can either be specific to a particular database, or 
 you can specify a shared User Account File so that each of your databases 
 has the same user and group information.</p>



<p>For more detailed information about setting up security for your Alpha 
Anywhere application, see <a href="../../../../Guide/Design/Security/Startup Event Sequence.html" title="Startup Event Sequence" class="wiki">Startup   Event Sequence</a> and <a href="../../../../Guide/Design/Security/Setting Up Database Security.html" title="Setting Up Database Security" class="wiki">Setting   Up Database Security</a>.</p>



<p class=A5><a name=Encryption>Encryption</a></p>



<p>Once you have set a Master Password for a database, you can encrypt 
 individual tables in the database. Once a table has been encrypted, you 
 can use it normally within the database, but you will not be able to open 
 the database in other contexts, such&nbsp;as&nbsp;with <span class=Screen>Microsoft 
 Excel</span>, or use it with other software programs that can read DBF 
 files.</p>



<p>To encrypt database tables:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>With the database 
 open, select <span class=Button>Tools > Security > Encrypt/Decrypt 
 Tables</span>. The <span class=Screen>Encrypt/Decrypt Tables</span> dialog 
 box appears. </p>

</li>
</ol>

<p class=Pix><img src="images/encryptTables.gif"
					style="width: 426px;
							height: 365px;
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							border-style: none;
							border-style: none;"
					width=426
					height=365
					border=0></p>



<ol start=2>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the tables 
 to encrypt, and click <span class=Button>Apply</span>.</p>

</li>
</ol>

<p class=A5><a name=Summary>Summary</a></p>



<p>In this lesson you learned about updating and rebuilding indexes, packing 
 and compacting your database, backing up and restoring your database, 
 and providing database security using password protection and table encryption.</p>



<p class=A5>What's Next?</p>



<p>See <a href="../../Platform/Xbasic Action Scripting/Getting Started - Action Scripting.html" title="Getting Started - Action Scripting" class="wiki">Action Scripting</a> to learn about 
 creating Action Scripts and how you can use them to customize your database 
 application.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Database+Maintenance">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Alpha Five, dated 2000","keywords":"desktop,tut,adb"}--->
</body></html>