	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Getting Started</p>



<p>This lesson gets you started using Alpha Anywhere. You install Alpha Anywhere, 
 examine a sample database application, and become familiar with the Alpha 
Anywhere work environment.</p>



<p class=A5>Contents</p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Getting Started.html#Installing_Alpha_Five" title="Getting Started" class="wiki">
	Installing Alpha Anywhere</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Getting Started.html#Starting_Alpha_Five" title="Getting Started" class="wiki">
	Starting Alpha Anywhere</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Getting Started.html#Introducing_AlphaSports" title="Getting Started" class="wiki">Introducing   AlphaSports</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Getting Started.html#Using_the_Control_Panel" title="Getting Started" class="wiki">Using   the Control Panel</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Getting Started.html#Control_Panel_Buttons" title="Getting Started" class="wiki">Control   Panel Buttons</a></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="Getting Started.html#Summary" title="Getting Started" class="wiki">Summary</a></p>

</li>
</ul>

<p class=A5><a name=Installing_Alpha_Five>Installing Alpha Anywhere</a></p>



<p>You must first install Alpha Anywhere before you can proceed with the tutorial 
 lessons. To install Alpha Anywhere:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Insert the Alpha Anywhere CD into your computer CD-ROM drive.</p>

</li>
	
	<li value=2
		class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Run</span> 
 from the <span class=Button>Windows Start</span> menu.</p>

</li>
	
	<li value=3
		class=kadov-p-CListNumber><p class=ListNumber>In the <span class=Screen>Run</span> 
 dialog box, type "D:\setup.exe", or click <span class=Button>Browse</span>, 
 navigate to your CD-ROM drive, select <span class=Button>Setup</span>, 
 and click <span class=Button>Open</span>.</p>

</li>
	
	<li value=4
		class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>.</p>

</li>
</ol>

<p>The setup program guides you through the installation process.</p>



<p>Alpha Anywhere release notes contain information about undocumented features&nbsp;as&nbsp;well&nbsp;as&nbsp;errors 
 in the documentation and the program. After installing Alpha Anywhere, you 
 can access the release notes in the Books directory of your Alpha Anywhere 
 program folder, or from the Alpha Anywhere Help menu, by selecting <span class=Button>Help 
 > View Release Notes</span> (requires an Internet connection)</p>



<p>Alpha Software strongly recommends that you read the release notes. 
 After installing your copy of Alpha Anywhere, you are ready to proceed with 
 the tutorial lessons.</p>



<p class=A5><a name=Starting_Alpha_Five>Starting Alpha Anywhere</a></p>



<p>To start Alpha Anywhere:</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>From the Windows 
 Start menu, select <span class=Button>All Programs > Alpha Anywhere&gt; Alpha 
	Anywhere</span>. <span class=Note>Note</span> : If you have 
 not registered or activated Alpha Anywhere, a message appears requesting that 
 you do so. The <span class=Screen>Welcome to Alpha Anywhere</span> screen 
 appears.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>
	Alpha Anywhere</span> screen appears. The Alpha Anywhere screen provides you with options 
 for getting started using Alpha Anywhere. The blue entries present typical 
 menu commands for creating a new database and opening existing databases. 
 Below the blue entries, Alpha Anywhere displays a list of the last 30 databases 
 opened in Alpha Anywhere.&nbsp;as&nbsp;you work with Alpha Anywhere, your recently 
 used databases appear on the list.</p>

</li>
</ol>

<p>You start the tutorial lessons by opening the <a href="/Index/AlphaSports Explained Title.html" title="AlphaSports Explained Title" class="wiki">&lt;span   class=Screen&gt;AlphaSports&lt;/span&gt;</a> sample database application.</p>



<p class=A5><a name=Introducing_AlphaSports>Introducing AlphaSports</a></p>



<p><span class=Screen>AlphaSports</span> is a sample application designed 
 to support a sporting goods business. The data in the sample database 
 includes information on AlphaSports customers, employees, invoices, products, 
 and vendors.</p>



<p>To open <span class=Screen>AlphaSports</span> :</p>



<ol start=1>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select "AlphaSports" 
 from the list of databases, and click <span class=Button>OK</span>. The 
 <span class=Screen>AlphaSports</span> application opens and the <span 
 class=Screen>Invoice Menu</span> appears.&nbsp; </p>

</li>
</ol>

<p class=Pix><img src="images/AlphaSports_Main_menu_Commented.gif"
					x-maintain-ratio=TRUE
					style="margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 0px;
							margin-right: 0px;
							width: 490px;
							height: 580px;
							float: none;
							border-style: none;
							border-style: none;"
					width=490
					height=580
					border=0></p>



<p>The <span class=Screen>Invoice Menu</span> is a Alpha Anywhere custom form 
 that presents a main menu for the AlphaSports application. Use the <span 
 class=Screen>Invoice Menu</span> to look at the AlphaSports application 
 components. Examine its features, functionality, and layout to see some 
 of the capabilities of Alpha Anywhere.</p>



<p>In the next procedure, you become familiar with the Alpha Anywhere work 
 environment.</p>



<p>An Alpha Anywhere database application is composed of multiple components 
 or objects. To examine the database objects in AlphaSports, you must exit 
 from the Invoice Menu and open the <span class=Screen>Control Panel</span>.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>In the custom toolbar 
 above the <span class=Screen>Invoice Menu</span>, click <span class=Button>Exit 
 AlphaSports</span>. The Alpha Anywhere <span class=Screen>Control Panel</span> 
 appears. </p>

</li>
</ol>

<p class=Pix><img src="images/AlphaSports_Control_Panel.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 747px;
							height: 422px;
							border-style: none;
							border-style: none;"
					width=747
					height=422
					border=0></p>



<p class=A5><a name=Using_the_Control_Panel>Using the <span class=Screen>Control 
 Panel</span></a></p>



<p>The <span class=Screen>Control Panel</span> is the Alpha Anywhere main menu 
 and core user interface. By default, it has the following tabs: <span 
 class=Screen>Tables/Sets</span>, <span class=Screen>Forms, Browses</span>, 
 <span class=Screen>Reports</span>, <span class=Screen>Letters</span>, 
 <span class=Screen>Labels</span>, <span class=Screen>Operations</span>, 
 and <span class=Screen>Code</span>. You can hide or show a <span class=Screen>Control 
 Panel</span> tab by right-clicking on it, and selecting or de-selecting 
 it.</p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : If your Alpha 
Anywhere <span class=Screen>Control Panel</span> is not displaying the tabs 
 shown above, right-click on the <span class=Button>Tables/Sets</span> 
 tab, and select to display the other tabs.</p>



<p>The following table presents a list of database object types and describes 
 them.</p>




<div align=center>
<table style="float: aligncenter;
				width: 100%;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				x-cell-content-align: Top;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 69px;">
<col style="width: 65px;">
<col style="width: 862px;">

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableHeader" style="x-cell-content-align: top; width: 69px;" valign="top" width="69px">
<p class=TableHeadCenter>Icon</td>
<td class="tableHeader" style="x-cell-content-align: top; width: 65px;" valign="top" width="65px">
<p class=TableHead>Object</td>
<td class="tableHeader" style="x-cell-content-align: top; width: 862px;" valign="top" width="862px">
<p class=TableHead>Description</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 69px;" valign="top" width="69px">
<p class=TableCenter><img src="images/Table_icon.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 26px;
									height: 25px;
									float: none;
									border-style: none;
									border-style: none;"
							width=26
							height=25
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top; width: 65px;" valign="top" width="65px">
<p class=TableLeft>Table</td>
<td class="TableCell" style="x-cell-content-align: top; width: 862px;" valign="top" width="862px">
<p class=TableLeft>Stores and arranges information in a database. A table 
 is made up of rows (records) and columns (fields).</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" style="x-cell-content-align: top;
			width: 69px;
			border-bottom-width: 1px;
			border-bottom-style: Solid;
			border-right-width: 1px;
			border-right-style: Solid;
			padding-bottom: 5px;
			border-left-style: Solid;
			border-left-width: 1px;" valign="top" width="69px">
<p class=TableCenter><img src="images/Set_icon.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 30px;
									height: 21px;
									float: none;
									border-style: none;
									border-style: none;"
							width=30
							height=21
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top; width: 65px;" valign="top" width="65px">
<p class=TableLeft>Set</td>
<td class="TableCell" style="x-cell-content-align: top; width: 862px;" valign="top" width="862px">
<p class=TableLeft>A collection of data from related tables, linked together 
 in a logical way.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 69px;" valign="top" width="69px">
<p class=TableCenter><img src="images/Form_icon.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 26px;
									height: 25px;
									float: none;
									border-style: none;
									border-style: none;"
							width=26
							height=25
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top; width: 65px;" valign="top" width="65px">
<p class=TableLeft>Form</td>
<td class="TableCell" style="x-cell-content-align: top; width: 862px;" valign="top" width="862px">
<p class=TableLeft>A page-like layout in which you view, enter, and change 
 data.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 69px;" valign="top" width="69px">
<p class=TableCenter><img src="images/Browse_icon.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 26px;
									height: 25px;
									float: none;
									border-style: none;
									border-style: none;"
							width=26
							height=25
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top; width: 65px;" valign="top" width="65px">
<p class=TableLeft>Browse</td>
<td class="TableCell" style="x-cell-content-align: top; width: 862px;" valign="top" width="862px">
<p class=TableLeft>Displays data in a tabular format of rows and columns, 
 like a spreadsheet layout. Also used to view and edit data.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 69px;" valign="top" width="69px">
<p class=TableCenter><img src="images/Report_icon.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 24px;
									height: 26px;
									float: none;
									border-style: none;
									border-style: none;"
							width=24
							height=26
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top; width: 65px;" valign="top" width="65px">
<p class=TableLeft>Report</td>
<td class="TableCell" style="x-cell-content-align: top; width: 862px;" valign="top" width="862px">
<p class=TableLeft>A flexible layout used to output data. Report data can 
 be sorted, grouped, calculated, summarized, and contain graphics.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 69px;" valign="top" width="69px">
<p class=TableCenter><img src="images/Letter_icon.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 34px;
									height: 34px;
									float: none;
									border-style: none;
									border-style: none;"
							width=34
							height=34
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top; width: 65px;" valign="top" width="65px">
<p class=TableLeft>Letter</td>
<td class="TableCell" style="x-cell-content-align: top; width: 862px;" valign="top" width="862px">
<p class=TableLeft>A layout used for printing traditional mail-style letters. 
 Letters can reference data from a table or a set, and contain personalized 
 text.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 69px;" valign="top" width="69px">
<p class=TableCenter><img src="images/Label_icon.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 28px;
									height: 31px;
									float: none;
									border-style: none;
									border-style: none;"
							width=28
							height=31
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top; width: 65px;" valign="top" width="65px">
<p class=TableLeft>Label</td>
<td class="TableCell" style="x-cell-content-align: top; width: 862px;" valign="top" width="862px">
<p class=TableLeft>A layout generally used to generate small labels, such&nbsp;as&nbsp;mailing 
 labels, file folder labels, identification cards, and name tags, based 
 on data from a table or a set.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 69px;" valign="top" width="69px">
<p class=TableCenter><img src="images/Operation_icon_1.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 26px;
									height: 25px;
									float: none;
									border-style: none;
									border-style: none;"
							width=26
							height=25
							border=0>&nbsp; <img src="images/Operation_icon_2.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 33px;
														height: 25px;
														float: none;
														border-style: none;
														border-style: none;"
												width=33
												height=25
												border=0></p>


<p class=TableCenter><img src="images/Operation_icon_3.gif"
							x-maintain-ratio=TRUE
							style="border: none;
									width: 26px;
									height: 25px;
									float: none;
									border-style: none;
									border-style: none;"
							width=26
							height=25
							border=0>&nbsp; <img src="images/Operation_icon_4.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 26px;
														height: 25px;
														float: none;
														border-style: none;
														border-style: none;"
												width=26
												height=25
												border=0></td>
<td class="TableCell" style="x-cell-content-align: top; width: 65px;" valign="top" width="65px">
<p class=TableLeft>Operation</td>
<td class="TableCell" style="x-cell-content-align: top; width: 862px;" valign="top" width="862px">
<p class=TableLeft>A process you define that modifies data, performs calculations, 
 imports data from different programs, exports data to a different file 
 format, or generally manipulates data.</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top; width: 69px;" valign="top" width="69px">
<p class=TableCenter><img src="images/Script_icon.gif"
							x-maintain-ratio=TRUE
							style="margin-top: 0px;
									margin-bottom: 0px;
									margin-left: 0px;
									margin-right: 0px;
									width: 23px;
									height: 30px;
									float: none;
									border-style: none;
									border-style: none;"
							width=23
							height=30
							border=0>&nbsp; <img src="images/Toolbar_icon.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 32px;
														height: 22px;
														float: none;
														border-style: none;
														border-style: none;"
												width=32
												height=22
												border=0></p>


<p class=TableCenter><img src="images/Menu_icon.gif"
							x-maintain-ratio=TRUE
							style="border: none;
									width: 32px;
									height: 30px;
									float: none;
									border-style: none;
									border-style: none;"
							width=32
							height=30
							border=0>&nbsp; <img src="images/Function_icon.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 29px;
														height: 26px;
														float: none;
														border-style: none;
														border-style: none;"
												width=29
												height=26
												border=0></td>
<td class="TableCell" style="x-cell-content-align: top; width: 65px;" valign="top" width="65px">
<p class=TableLeft>Code</td>
<td class="TableCell" style="x-cell-content-align: top; width: 862px;" valign="top" width="862px">
<p class=TableLeft>A series of steps that Alpha Anywhere can use to perform 
 actions or customize your data.</td></tr>
</table>
</div>
<p>In the <span class=Screen>Control Panel</span>, you can right-click 
 on a database object to set properties or perform some actions, using 
 the pop-up menu. For example, if you right-click on a table object, you 
 can use the menu to open the table <span class=Screen>Default Form</span> 
 and <span class=Screen>Default Browse</span>, edit the table structure 
 and field rules, rename the table, and perform other actions.</p>



<p>You can use the Alpha Anywhere standard toolbar to create a new database, 
 open and close a database, add or remove tables from a database, change 
 the database object icon view, and close an Alpha Anywhere application. <a HREF="http://support.alphasoftware.com/imagesV8/Control_Panel_Toolbar_Commented.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=Pix><img src="images/Control_Panel_Toolbar_Commented.jpg"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 746px;
							height: 86px;
							border-style: none;
							border-style: none;"
					width=746
					height=86
					border=0></p>



<p>If you forget which command a toolbar button executes, position your 
 mouse pointer over it. Alpha Anywhere displays Bubble Help, pop-up text that 
 describes its function.</p>



<p>The following figure shows the Alpha Anywhere standard toolbar and lists 
 its functions.&nbsp; </p>



<p class=Pix><img src="images/Control_Panel_menu_commented.jpg"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 716px;
							height: 309px;
							border-style: none;
							border-style: none;"
					width=716
					height=309
					border=0></p>



<p>Click on the AlphaSports objects, menus, and buttons to become familiar 
 with their functions.</p>



<p>Select an AlphaSports table in the <span class=Screen>Control Panel</span>, 
 and click the <span class=Button>Detail View</span> button on the tool 
 bar. </p>



<p class=Pix><img src="images/Control_Panel_Detail_View.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 747px;
							height: 534px;
							border-style: none;
							border-style: none;"
					width=747
					height=534
					border=0></p>



<p>Open and examine some tables, sets, forms, browses, reports, letters, 
 labels, operations, and code to see many examples of how you can design 
 and use a database application.</p>



<p class=A5><span class=Screen><a name=Control_Panel_Buttons>Control Panel</span> 
 Buttons</a></p>



<p>Using the <span class=Screen>Control Panel</span> buttons, you can create, 
 manage, and manipulate database objects, modify selected objects, preview 
 or activate objects, or delete them.</p>



<p>The following table shows the <span class=Screen>Control Panel</span> 
 buttons and describes their action.</p>




<div align=center>
<table style="float: aligncenter;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr>
<td colspan="1" rowspan="1" class="TableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Button</td>
<td class="TableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Action</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/View_mode_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>View data in a Browse, Form, Report, Letter, or Label.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Design_Mode_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Modify the design of a selected database object.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/New_Query_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Create a new database object.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Delete_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Delete a selected database object.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Preview_Button_2.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Preview data in a report, email, printer, or file.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Run_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Execute an Operation or code (script).</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/CP_Large_Icons_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display large icons in the Control Panel file list.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/CP_Small_Icons_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display small icons rows in the Control Panel file list.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/CP_List_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display small icons in columns in the Control Panel 
 file list.</td></tr>

<tr>
<td colspan="1" rowspan="1" class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/CP_Details_button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Display details in the Control Panel file list.</td></tr>
</table>
</div>
<p class=A5><a name=Summary>Summary</a></p>



<p>In this lesson, you installed and got started using Alpha Anywhere. First, 
you examined the AlphaSports sample database application. Next, you viewed and 
became familiar with the database objects in the Alpha Anywhere <span 
 class=Screen>Control Panel</span>, and the menus and control buttons used 
 to manipulate these objects.</p>



<p class=A5>What's Next?</p>



<p>See <a href="Working with Records.html" title="Working with Records" class="wiki">Working with Records</a>, to 
 learn about viewing and entering data in Alpha Anywhere. You learn about Form 
 and Browse views, and working with database records.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Getting+Started">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Alpha Five","keywords":"desktop,design,tut,adb"}--->
</body></html>