/********** menu_item.htm **********/

div.iex_menu_item_home, div.iex_menu_item_home a {
  background-image: url(/_img/menu_home.png);
}

div.iex_menu_item_home_selected, div.iex_menu_item_home_selected a {
  background-image: url(/_img/menu_home_selected.png);
}

div.iex_menu_item_v_collections, div.iex_menu_item_v_collections a {
  background-image: url(/_img/menu_v_collections.png);
}

div.iex_menu_item_v_collections_selected, div.iex_menu_item_v_collections_selected a {
  background-image: url(/_img/menu_v_collections_selected.png);
}

div.iex_menu_item_x_collections, div.iex_menu_item_x_collections a {
  background-image: url(/_img/menu_x_collections.png);
}

div.iex_menu_item_x_collections_selected, div.iex_menu_item_x_collections_selected a {
  background-image: url(/_img/menu_x_collections_selected.png);
}

div.iex_menu_item_purchase, div.iex_menu_item_purchase a {
  background-image: url(/_img/menu_purchase.png);
}

div.iex_menu_item_purchase_selected, div.iex_menu_item_purchase_selected a {
  background-image: url(/_img/menu_purchase_selected.png);
}

div.iex_menu_item_support, div.iex_menu_item_support a {
  background-image: url(/_img/menu_support.png);
}

div.iex_menu_item_company, div.iex_menu_item_company a {
  background-image: url(/_img/menu_unternehmen.png);
}

div.iex_menu_item_company_selected, div.iex_menu_item_company_selected a {
  background-image: url(/_img/menu_unternehmen_selected.png);
}

div.iex_menu_item_products, div.iex_menu_item_products a {
  background-image: url(/_img/menu_produkte.png);
}

div.iex_menu_item_products_selected, div.iex_menu_item_products_selected a {
  background-image: url(/_img/menu_produkte_selected.png);
}

div.iex_menu_item_legal, div.iex_menu_item_legal a {
  background-image: url(/_img/menu_rechtliches.png);
}

div.iex_menu_item_legal_selected, div.iex_menu_item_legal_selected a {
  background-image: url(/_img/menu_rechtliches_selected.png);
}

div.iex_menu_item_support_selected, div.iex_menu_item_support_selected a {
  background-image: url(/_img/menu_support_selected.png);
}

div.iex_purchase_button, div.iex_purchase_button a {
  background-image: url(/_img/button_purchase.png);
}

div.iex_download_button, div.iex_download_button a {
  background-image: url(/_img/button_download.png);
}