/********** comprehensive styles **********/
html, body {
  background-color: #f9f9f9;
}
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
/*html#iex_layout_v_collection {
  background: #a9e6f8 url(/_img/v/background.jpg) repeat top center;
}*/
/*html#iex_layout_m_collection {
  background: #282828;
}*/
/*html#iex_layout_x_collection {
  background: #ffcc8b url(/_img/x/background.jpg) repeat top center;
}*/
html#iex_layout_incors {
  background: #788185 url(/_img/incors/background.jpg) repeat top center;
}
body {
  font-family: Helvetica,Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 200;
  margin: 0;
  line-height: 1.2;
}
h1 {
  font-family: Helvetica,Arial,Helvetica,sans-serif;
  font-weight: 200;
}
h2 {
  font-family: Helvetica,Arial,Helvetica,sans-serif;
  font-weight: 200;
}
h3 {
  font-family: Helvetica,Arial,Helvetica,sans-serif;
  font-weight: 200;
}
td {
  color: #333;
}
p {
  padding: 0;
  margin: 10px 0px 0px 0px;
}
a {
  outline: 0;
  text-decoration: none;
  color: #20638D;
}
a:hover, a:active {
  text-decoration: none;
  color: #3697BF;
}
img {
  border: none;
}
.iex_content {
  padding: 5px 0px 20px 0px;
}
/********** page.htm **********/
.iex_news {
  font-size: 10px;
  background-color: rgb(227, 231, 233);
  border: solid 1px rgb(80, 99, 110);
  padding: 15px 8px;
}
/********** list_item.htm **********/
.iex_list_item {
  margin: 3px 0;
}
/********** list_item_large.htm **********/
.iex_list_item_large {
  margin: 10px 0;
}
/********** header **********/
.main_header {
  height: 65px;
}
/********** menu.htm **********/
.iex_menu {
  padding: 0 0 0 290px; 
  height: 23px;
}
/********** menu_item.htm **********/
.iex_menu_item td {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  padding: 4px 0;
}
.iex_menu_item_not_selected td {
  background-color: rgb(227, 231, 233);
  border-color: rgb(80, 99, 110);
}
.iex_menu_item_selected td {
  background-color: rgb(224, 227, 207);
  border-color: rgb(102, 102, 0);
}
div.iex_menu_item {
  width: 163px;
  height: 23px;
  margin: 0 2px 0 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  float: left;
}
div.iex_menu_item a {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: 0 -23px;
  background-repeat: no-repeat;
}
div.iex_menu_item a:hover {
  background-image: none;
}
div.iex_menu_item a:active {
  color: #000;
}
/********** menu_sub_item.htm & menu_sub_item_selected.htm **********/

.iex_menu_sub {
  margin: 0 0 0 10px;
  padding: 0 40px 0 0;
  list-style-type: none;
  text-align: right;
}
.iex_menu_sub_item {
  float: right;
  padding: 0 10px;
  font-size: 16px;
  line-height: 30px;
}
.iex_menu_sub_item_not_selected {
  
}
.iex_menu_sub_item_selected {
  
}
.iex_menu_sub_item_not_selected a, .iex_menu_sub_item_not_selected a:visited, .iex_menu_sub_item_selected a, .iex_menu_sub_item_selected a:visited {
  color: #fff;
}

.iex_menu_sub_item_selected {
  color: #fff;
  line-height: 22px;
  height: 22px;
  margin: 3px 0;
  padding: 0 9px;
}

.iex_menu_sub_item_not_selected a:hover {
  text-decoration: underline;
}

#iex_layout_o_collection .iex_menu_sub_item_selected {
  background-color: #BED47C;
  border: 1px solid #E1EBC1;
}

#iex_layout_v_collection .iex_menu_sub_item_selected {
  background-color: #5db3da;
  border: 1px solid #a6e1ee;
}

#iex_layout_m_collection .iex_menu_sub_item_selected {
  background-color: #555555;
  border: 1px solid #999999;
}

#iex_layout_x_collection .iex_menu_sub_item_selected {
  background-color: #feb650;
  border: 1px solid #fedb75;
}

#iex_layout_incors .iex_menu_sub_item_selected {
  background-color: #98b7bc;
  border: 1px solid #e3eff1;
}

/********** headings **********/
.iex_heading_table {
  table-layout: fixed;
  width: 100%;
}
.iex_heading_1 {
  margin: 20px 0px 10px 0px;
  clear: right;
}
.iex_heading_2 {
  margin: 20px 0px 10px 0px;
  clear: right;
}
.iex_heading_3 {
  margin: 20px 0px 0px 0px;
  clear: right;
}
.iex_heading_4 {
  margin: 18px 0px 0px 0px;
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  font-size: 13px;
}

.iex_heading_1 .iex_heading_middle {
  font-size: 20px;
}
.iex_heading_2 .iex_heading_middle {
  font-size: 16px;
}
.iex_heading_3 .iex_heading_middle {
  font-size: 14px;
}
.iex_heading_table td {
  background-repeat: repeat;
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  color: #292827;
}
.iex_heading_top_left {
  width: 0px;
  height: 0px;
}
.iex_heading_top {
  height: 0px;
}
.iex_heading_top_right {
  width: 0px;
  height: 0px;
}
.iex_heading_left {
  width: 0px;
}
.iex_heading_middle {
  padding-bottom: 7px 
}
.iex_heading_right {
  width: 0px;
}
.iex_heading_bottom_left {
   width: 0px;
  height: 1px;
}
.iex_heading_bottom {
  background-color: #70BDF0;
  height: 1px;
}
.iex_heading_bottom_right {
  width: 0px;
  height: 1px;
}

.table_row_2cols_fact_sheet td {
  padding: 10px;
}

.table_row_2cols_fact_sheet p {
  margin: 0;
  padding: 0;
}

/********** text **********/

.iex_code {
  margin: 20px 0;
}

.iex_code_header {
  font-style: italic;
  margin: 0 0 10px;
}

.iex_code_text {
  border: 1px solid #ccc;
  background: #f5f5f5;
  font-family: courier;
}

.iex_code_text pre {
  padding: 10px;
  margin: 0;
}

/********** footer **********/

#iex_footer_line {
  width: 90%;
  margin: 0 auto; 
  height:0px; 
  border-top: 1px solid #F9FAFB; 
  border-bottom: 1px solid #E4E9ED;
  border-left: 0px;
  border-right:0px;
  padding: 0px;
}

#iex_footer {
  position: relative;
  height: 41px;
}

#iex_footer a {
  color: #000;
  text-decoration: none;
}

#iex_footer a:hover {
  text-decoration: underline;
}

#o_collection_search_submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 119px;
  height: 29px;
  border: 0px solid #fff;
  cursor: pointer;
}

#v_collection_search_submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 119px;
  height: 29px;
  border: 0px solid #fff;
  cursor: pointer;
}

#m_collection_search_submit {
  position: absolute;
  right: 0;
  top: 0;
  width: 119px;
  height: 29px;
  border: 0px solid #fff;
  cursor: pointer;
}

/********** v_collections.php **********/
.iex_buy_now {
  width: 120px;
}

div.iex_buy_now {
  width: 120px; height: 24px;
  background-position: -120px 0;
  background-repeat: no-repeat;
  background-image: url(/_img/button_buy_now.png);
}

div.iex_buy_now a {
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(/_img/button_buy_now.png);
}

div.iex_buy_now a:hover {
  background-image: none;
}

.iex_sample_icons {
  width: 169px;
}

div.iex_sample_icons {
  width: 169px; height: 24px;
  background-position: -169px 0;
  background-repeat: no-repeat;
  background-image: url(/_img/button_download_samples.png);
}

div.iex_sample_icons a {
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url(/_img/button_download_samples.png);
}

div.iex_sample_icons a:hover {
  background-image: none;
}

div.iex_features_v a {
  display: block;
  width: 285px; 
  height: 87px;
  background-repeat: no-repeat;
}

div.iex_features_v a:hover {
  background-position: -285 inherit;
  background-repeat: no-repeat;
}



/********** download_pdf.htm, download_zip.htm, weblink.htm  **********/
.iex_download_pdf, .iex_download_zip, .iex_weblink, .iex_image_link {
  line-height: 24px;
  clear: left;
}
.iex_download_pdf img, .iex_download_zip img, .iex_weblink img, .iex_image_link img {
  margin: 0 5px 0 0;
  vertical-align: middle;  
  display:block;
  border: none;
  float: left;
}
/********** info_box.php **********/
.iex_info_box {
  border: solid 2px #50636e;
  background-color: #eff1f2;
  height: 45px;
  padding: 10px;
}
.iex_info_box img {
  float: left;
  margin: 0 10px 5px 0;
  width: 46px;
  height: 45px;
}
/********** license.php **********/
.iex_license_header {  text-align:center;
  margin: 0 0 20px 0;
}
/********** table_row_3cols_purchase.php **********/
div.iex_purchase_button {
  width: 134px; height: 33px;
  margin: 0;
  background-position: 0 -33px;
  background-repeat: no-repeat;
}
div.iex_purchase_button a {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: top left;
  background-repeat: no-repeat;
}
div.iex_purchase_button a:hover {
  background-image: none;
}

/********** download_table.php **********/
div.iex_download_button {
  width: 120px; height: 24px;
  margin: 10px 0 10px 0;
  background-position: -120px 0;
  background-repeat: no-repeat;
}
div.iex_download_button a {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: top left;
  background-repeat: no-repeat;
}
div.iex_download_button a:hover {
  background-image: none;
}


/**********************************************************************/
/* Version 2 */
/**********************************************************************/

/***** FAQ *****/

.iex_faq {
  margin: 0 0 10px 0;
}
.iex_faq_toggle {
  position: relative;
}
.iex_faq_toggle_close, .iex_faq_toggle_open {
  position: absolute;
  top: 5px;
  left: 0;
  width: 9px;
  height: 9px;
  cursor: pointer;
}
.iex_faq_toggle_open {
  background: url(/_img/item_collapse_expand.png) no-repeat 0 -9px;
}
.iex_faq_toggle_close {
  background: url(/_img/item_collapse_expand.png) no-repeat 0 0;
}
.iex_faq_closed  .iex_faq_toggle_close {
  display: none;
}
.iex_faq_opened  .iex_faq_toggle_open {
  display: none;
}
.iex_faq_question {
  line-height: 20px;
  vertical-align: middle;
  padding: 0 0 0 15px;
  cursor: pointer;
}
.iex_faq_answer {
  padding: 0 0 10px 0;
}
.iex_faq_closed .iex_faq_question:hover {
  text-decoration: underline;
}
.iex_faq_closed .iex_faq_answer {
  display: none;
}

/*** Icon Page ***/
#icon_preview {
  margin: 15px 0 0 0;
}
#icon_preview h1 {
  margin-top: 0;
}
#icon_preview h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
#icon_preview h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
.icons_related_icons {
  float: left;
  margin: 10px 10px 0 0;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}
.icons_related_icons:hover {
  border: 1px solid #ccc;
  padding: 4px;
}
.icon_all_sizes_table_colorbox {
  width: 100%;
  background-color: #a5adb1;
}
.icon_all_sizes_table {
  width: 624px;
  height: 380px;
  background-color: #a5adb1;
}

.icon_all_sizes_table td, .icon_all_sizes_table_colorbox td {
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  background-color: #fff;
}
.icon_pixel_size_text {
  margin: 10px 0 0 0;
  color: #777;
}

#icon_preview_colorbox {
  padding: 10px;
}
#icon_preview_colorbox h1 {
  margin-top: 0;
}
#icon_preview_colorbox h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
#icon_preview_colorbox h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* Buttons */

.button {
  -moz-user-select: none;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #fff;
  border-color: #ccc;
  color: #333 !important;
  text-decoration: none;
  margin: 0 0 5px 0;
}

.button:hover {
  background-color: #ebebeb;
  border-color: #adadad;
}

.button_green {
  background-color: #a3c046;
  border-color: #8da63c;
  color: #fff !important;
}

.button_green:hover {
  background-color: #8da63c;
  border-color: #778c32;
}

.button_yellow {
  background-color: #f9d02b;
  border-color: #e2bd27;
  color: #fff !important;
}

.button_yellow:hover {
  background-color: #e2bd27;
  border-color: #c7a622;
}

.button_red {
  background-color: #dc8c1e;
  border-color: #c27b1a;
  color: #fff !important;
}

.button_red:hover {
  background-color: #c27b1a;
  border-color: #a86b17;
}

.button_blue {
  background-color: #449cd3;
  border-color: #3c8aba;
  color: #fff !important;
}

.button_blue:hover {
  background-color: #3c8aba;
  border-color: #3477a1;
}

/* Home */


#iex_home #collections {
  margin: 20px 0;
}

#iex_home .collection {
  border-color: #e0e0e0;
  vertical-align: top;
  text-align: center;
}

#iex_home #collections div.collection_name {
  font-size: 25px;
  margin: 0 0 4px 0;
}

#iex_home #collections div.num_icons {
  margin: 10px 0 0 0;
  font-size: 18px;
  color: #449CD3;
}

#iex_home #collections div.icons_preview {
  margin: 15px 0;
  padding: 0 0 0 0;
  background: #f0f0f0;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  padding: 5px;
}

#iex_home #collections div.icon_preview {
  float: left;
  margin: 0 0 0 9px;
  width: 48px;
  height: 48px;
  position: relative;
}

#iex_home #collections div.imageTop {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
}

#iex_home #collections div.imageBottom {
  width: 48px;
  height: 48px;
}

#iex_home #collections div.icon_preview:first-child {
  margin: 0;
}

#iex_home #collections  div.crosshair_row {
  padding: 0 0 0 48px;
}

#iex_home #collections  div.crooshair {
  float: left;
  width: 9px;
  height: 9px;
  margin: 0 48px 0 0;
}

#iex_home #collections table.footer {
  table-layout: fixed;
  width: 100%;
}

#iex_home #collections table.footer td {
  text-align: center;
}

#iex_home #collections table.footer td.footer_dot {
  
}



#iex_home #sub_heading {
  margin: 0;
  font-size: 16px;
  padding: 5px 25px;
  background: #f5f5f5;
  color: #555;
  font-family: "Trebuchet MS", Helvetica, Jamrul, sans-serif;
}

#iex_home #sub_heading_line {
  height: 3px;
  color: #1F272D;
  background: url(/_img/subheading_line.png);
}

#iex_home_frame {
  position: relative;
  width: 950px;
  background: #fff;
  margin: 0 auto;
}
#iex_home_header {
  height: 35px;
  margin: 40px 0 0;
  font-size: 30px;
}
#iex_home_subheader {
  height: 30px;
  margin: 0 0 40px;
}

#iex_home .collection_preview {
  float: left;
  margin-left: 28px;
  position: relative; 
}

#iex_home .collection_preview_link {
  display: block;
  height: 22px;
  margin: 0;
  cursor: pointer;
}

#iex_home #collection_preview_link_1 {
  position: absolute;
  top: 210px;
  left: 15px;
}

#iex_home #collection_preview_link_2 {
  position: absolute;
  top: 240px;
  left: 15px;
}

#iex_home .collection_preview_link:hover {
  background-position: 0 -22px;
}

#iex_home_footer {
  position: relative;
  height: 41px;
  padding: 0 0 5px 0;
}

#iex_home_footer a {
  color: #000;
  text-decoration: none;
}

#iex_home_footer a:hover {
  text-decoration: underline;
}

/*#top_reasons {
  position: relative;
  float: right;
  top: 0;
  right: 25px;
  cursor: pointer;
  width: 358px;
  height: 52px;
  background: url(/_img/top_reasons_for_iconexperience.png);
}

#top_reasons:hover {
  width: 358px;
  height: 52px;
  background: url(/_img/top_reasons_for_iconexperience.png) 0 -52px;
}*/


/* o-collection */

#iex_layout_o_collection .iex_menu_sub a {
  color: #fff;
  text-decoration: none;
}

#iex_layout_o_collection .iex_menu_sub a:hover {
  color: #eee;
  text-decoration: underline;
}

#iex_layout_o_collection a {
  color: #449CD3;
  text-decoration: none;
}

#iex_layout_o_collection a:hover {
  color: #3C8ABA;
  text-decoration: underline;
}

#iex_layout_o_collection .iex_heading_bottom {
  background-color: #A1C057;
}


/* m-collection */

#iex_layout_m_collection td {
  color: #fff;
}

#iex_layout_m_collection #iex_footer a {
  color: #fff;
  text-decoration: none;
}

#iex_layout_m_collection a {
  color: #fff;
  text-decoration: underline;
}

#iex_layout_m_collection a:hover {
  color: #ccc;
}

#iex_layout_m_collection #iex_footer_line {
  display: none;
}

#iex_layout_m_collection .iex_heading_bottom {
  background-color: transparent;
}

#iex_layout_m_collection .cboxElement {
  text-decoration: none;
}
/* collections comparison */

#collections_comparison {
  margin: 0 auto;
}

#collections_comparison_table {
  table-layout: fixed;
  margin: 0 auto;
  border-spacing: 2px;
}

#collections_comparison_table tr {
  border-bottom: 1px solid #ccc;
}

#collections_comparison_table td, #collections_comparison_table th {
  padding: 5px;
}

#collections_comparison_table th {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#collections_comparison_table tr:first-child td {
  border: none;
}

#collections_comparison_table td {
  text-align: center;
  color: #2b363f;
  border: 1px solid #ccc;
}

#collections_comparison_table td:first-child {
  text-align: left;
  color: #1F272D;
}

#collections_comparison_table .col_property {
  padding-left: 10px;
}

#collections_comparison_table th.col_o_collection {
  color: #fff;
  background-color: #A1C057; 
}

#collections_comparison_table th.col_v_collection {
  color: #fff;
  background-color: #2E89B2; 
}

#collections_comparison_table th.col_m_collection {
  color: #fff;
  background-color: #404040; 
}

#collections_comparison_table th.col_x_collection {
  color: #fff;
  background-color: #8F1C00; 
}

#collections_comparison_table .check_yes, #collections_comparison_table .check_no {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

#collections_comparison_table .check_yes {
  background-image: url(/_img/comparison_table_check_yes.png);
}

#collections_comparison_table .check_no {
  background-image: url(/_img/comparison_table_check_no.png);
}

#collections_comparison_table sup {
  font-weight: normal;
}

#collections_comparison_footer {
  margin: 5px auto 0;
  color: #555;
  font-size: 12px;
}

#collections_comparison_footer td {
  vertical-align: top;
  padding: 0 2px;
}

#collections_comparison_print {
  margin: 5px 0 0;
  text-align: right;
  cursor: pointer;
}


/* crossfade example */
#iex_crossfade_examples {
  padding: 12px 18px;
}

#iex_layout_m_collection #iex_crossfade_examples {
  background: #404040;
  color: #fff;
}

#iex_layout_v_collection #iex_crossfade_examples {
  border: 1px solid #BABEBF;
}

#iex_crossfade_examples .tile_1_1, #iex_crossfade_examples .tile_1_2 {
  float: left;
  margin: 4px;
  cursor: pointer;
}

#iex_crossfade_examples .tile_1_1, #iex_crossfade_examples .tile_1_1 .imageBottom, #iex_crossfade_examples .tile_1_1 .imageTop {
  width: 84px;
  height: 84px;
}

#iex_crossfade_examples .tile_1_2, #iex_crossfade_examples .tile_1_2 .imageBottom, #iex_crossfade_examples .tile_1_2 .imageTop {
  width: 176px;
  height: 84px;
}

#iex_crossfade_examples .crossfade {
  position: relative;
}

#iex_crossfade_examples .crossfade .imageTop {
  position: absolute;
  left: 0;
  top: 0;
}

/* Upgrade Options */
/*#upgrade_options_link_home {
  display: block;
  width: 230px;
  height: 140px;
  background: url(/_img/upgrade_options.png);
}

#upgrade_options_link:hover {
  background-position: 0 -140px;
}*/

#upgrade_options_table {
  border-spacing: 0;
  width: 100%;
  margin: 20px 0;
}

#upgrade_options_table td {
  text-align: center;
  padding: 10px;
}

#upgrade_options_table .buy_product {
  font-size: 14px;
  border-right: solid 5px #fff;
  border-left: solid 5px #fff;
  border-bottom: solid 5px #fff;
  background: #449CD3;
  color: #fff;
}

#upgrade_options_table .upgrade_arrow_down {
  background: #e0e0e0;
}

#upgrade_options_table .upgrade_option {
  background: #f0f0f0;
  padding: 5px;
}

#upgrade_options_table .upgrade_x, #upgrade_options_table .upgrade_free, #upgrade_options_table .upgrade_discount {
  border: solid 5px #fff;
}

#upgrade_options_table .upgrade_x {
  color: #777;
}

#upgrade_options_table .upgrade_free {
  background: #b2f09a;
}

#upgrade_options_table .upgrade_discount {
  background: #daf5cf;
}

#upgrade_options_table td.customer_product {
  font-size: 14px;
  text-align: right;
  border: none; border-right: solid 5px #fff;
  border-top: solid 5px #fff;
  border-bottom: solid 5px #fff;
  padding: 10px;
  background: #449CD3;
  color: #fff;
}


/* technical */

.iex_technical iframe {
  margin: 10px 0 0 0;
  border: 1px dashed #999;
}

