#iex_layout_o_collection .color_style_img {
  float: left;
  width: 16px;
  height: 16px;
  padding: 3px;
  margin: 4px 4px 4px 0;
}
/*iex_layout_o_collection .color_style_img_selected {
  padding: 1px;
  border: 2px solid #aaa;
}*/

#iex_layout_o_collection .color_style_img_selected > div {
  cursor: default !important;
}

#iex_layout_o_collection .color_style_img > div {
  background-image: url(../../_iconex_system/_html_img/color_styles_16.png);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icons_related_icons {
  width: 48px;
  height: 48px;
}

#details_shadows {
  display: none;
}

/* color style select */

#iex_layout_o_collection .color_style_yellow_dark_grey .color_style_img_yellow_dark_grey,
#iex_layout_o_collection .color_style_blue_dark_grey .color_style_img_blue_dark_grey,
#iex_layout_o_collection .color_style_green_dark_grey .color_style_img_green_dark_grey,
#iex_layout_o_collection .color_style_orange_dark_grey .color_style_img_orange_dark_grey,
#iex_layout_o_collection .color_style_dark_grey .color_style_img_dark_grey,
#iex_layout_o_collection .color_style_white .color_style_img_white,
#iex_layout_o_collection .color_style_office .color_style_img_office {
  padding: 1px;
  border: 2px solid #aaa;
}

.color_style_img_green_dark_grey > div {
  background-position: 0 0;
}

.color_style_img_blue_dark_grey > div {
  background-position: -16px 0;
}

.color_style_img_yellow_dark_grey > div {
  background-position: -32px 0;
}

.color_style_img_orange_dark_grey > div {
  background-position: -48px 0;
}

.color_style_img_dark_grey > div {
  background-position: -64px 0;
}

.color_style_img_white > div {
  background-position: -80px 0;
}

.color_style_img_office > div {
  background-position: -96px 0;
}


/* search */

.color_style_white #details_table td {
  color: #fff;
  background: #555;
}

.color_style_white .icon_preview {
  background: #555;
}

._si {
  background-position: center 36px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

._si:hover {
  background-position: center 32px !important;
  margin-left: 9px !important;
  margin-right: 9px !important;
}