	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Chart_API">Chart API</h1>
Alpha Five Version 11 includes a powerful built-in charting engine that uses the charting capabilities of Microsoft .NET Framework 4. You can program the charting engine directly using the API described on this page, or create charts in a builder, described at <a href="Chart Control.html" title="Chart Control V11" class="wiki">Chart Control V11</a>. Using the API gives you the maximum amount of flexibility, but using the builder you can produce most commonly-used charts quickly and easily.<br />
<div id='toc'><div id='toctitle'><h3>Table of contents</h3></div><ul class="toc"><li><a href="#Chart_API" class='link'>Chart API</a>
<ul><li><a href="#a5_chart_data_url_generate_Function" class='link'>a5_chart_data_url_generate() Function</a>
</li><li><a href="#Charting::Chart_Class" class='link'>Charting::Chart Class</a>
<ul><li><a href="#Properties" class='link'>Properties</a>
</li><li><a href="#Methods" class='link'>Methods</a>
</li></ul></li><li><a href="#Charting::ChartDataDefinition_Class" class='link'>Charting::ChartDataDefinition Class</a>
<ul><li><a href="#Properties_2" class='link'>Properties</a>
</li></ul></li><li><a href="#Charting::ChartSeriesDefinition_Class" class='link'>Charting::ChartSeriesDefinition Class</a>
<ul><li><a href="#Properties_3" class='link'>Properties</a>
</li></ul></li><li><a href="#Charting::ChartValueDefinition" class='link'>Charting::ChartValueDefinition</a>
<ul><li><a href="#Properties_4" class='link'>Properties</a>
</li><li><a href="#Methods_2" class='link'>Methods</a>
</li></ul></li><li><a href="#Charting::ChartValuesDefinition" class='link'>Charting::ChartValuesDefinition</a>
<ul><li><a href="#Properties_5" class='link'>Properties</a>
</li><li><a href="#Methods_3" class='link'>Methods</a>
</li></ul></li><li><a href="#Charting::ChartXYValueDefinition" class='link'>Charting::ChartXYValueDefinition</a>
<ul><li><a href="#Properties_6" class='link'>Properties</a>
</li><li><a href="#Methods_4" class='link'>Methods</a>
</li></ul></li><li><a href="#Reporting::ReportChart_Class" class='link'>Reporting::ReportChart Class</a>
<ul><li><a href="#Properties_7" class='link'>Properties</a>
</li><li><a href="#Methods_5" class='link'>Methods</a>
</li></ul></li><li><a href="#Examples" class='link'>Examples</a>
</li><li><a href="#See_Also" class='link'>See Also</a>
</li></ul></li></ul><!--toc--></div><br />
<h2 class="showhide_heading" id="a5_chart_data_url_generate_Function">a5_chart_data_url_generate() Function</h2>
Generates the REST URI string that describes the chart to be drawn by the <a class="wiki external" target="_blank" href="http://msdn.microsoft.com/en-us/library/system.web.ui.datavisualization.charting.chart.aspx" rel="external nofollow">.NET Framework System.Web.UI.DataVisualization.Charting.Chart class</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /> (via the Alpha Five <strong>Charting::Char</strong>t Class discussed below).<br />
<br />
Example:<br />
<br />
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox" ><span style="color: #0600FF;">dim</span> objSettings <span style="color: #FF8000;">as</span> Reporting::ReportChart
objSettings.<span style="color: #0000FF;">chartType</span> <span style="color: #008000;">=</span> <span style="color: #808080;">&quot;Pie&quot;</span>
<span style="color: #0600FF;">dim</span> uri <span style="color: #FF8000;">as</span> c <span style="color: #008000;">=</span> a5_chart_data_url_generate<span style="color: #000000;">&#40;</span>objSettings,PieChart<span style="color: #000000;">&#40;</span><span style="color: #000000;">&#41;</span>,<span style="color: #FF0000;">500</span>,<span style="color: #FF0000;">300</span><span style="color: #000000;">&#41;</span></pre></div><br />
See <a href="../../../../Reference/Design/Api/Functions/Chart Functions/a5_chart_data_url_generate Function.html" title="a5_chart_data_url_generate Function" class="wiki">a5_chart_data_url_generate Function</a> for the full description of the parameters. See <a href="/Desktop/Guide/Design/View/Chart/Using Charts in Xdialogs.html" title="Using Charts in Xdialogs V11" class="wiki">Using Charts in Xdialogs V11</a> and the V11 Charting section of the Learning Xdialog Alpha Five sample project for the <strong>PieChart()</strong> sample code and other chart generation functions.<br />
<h2 class="showhide_heading" id="Charting::Chart_Class">Charting::Chart Class</h2>
Interpreter that reads a REST URI that specifies a chart and in turn uses the .NET Framework System.Web.UI.DataVisualization.Charting.Chart class to render a chart.<br />
<h3 class="showhide_heading" id="Properties">Properties</h3>
<ul><li><strong>dataTemplate </strong>as <strong>Charting::ChartEventTemplate</strong>
</li><li><strong>legendTemplate </strong>as <strong>Charting::ChartEventTemplate</strong>
</li></ul><h3 class="showhide_heading" id="Methods">Methods</h3>
<ul><li><strong>Chart Constructor</strong>
</li></ul>Create a new Chart object<br />
<br />
Example:<br />
<br />
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox1" ><span style="color: #0600FF;">dim</span> aChart <span style="color: #FF8000;">as</span> Charting::Chart</pre></div><br />
<ul><li><strong>Dispose</strong>()
</li></ul>Release all the resources of a Chart object. Should be called automatically.<br />
<ul><li><strong>EnableMapping</strong>(L <span style="color:#090; background:"><em>enable</em></span>)
</li></ul>Use HTML image mapping<br />
<ul><li><strong>Populate</strong>(C <span style="color:#090; background:"><em>parameterString</em></span>)
</li></ul>Populates the chart data from the REST URI using the .NET Framework System.Web.UI.DataVisualization.Charting.Chart class<br />
<br />
Example:<br />
<br />
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox2" >aChart.<span style="color: #0000FF;">Populate</span><span style="color: #000000;">&#40;</span>uri<span style="color: #000000;">&#41;</span></pre></div><br />
<ul><li><strong>SaveImage</strong>(C <span style="color:#090; background:"><em>filename</em></span>)
</li></ul>Save an JPEG image of the current chart to a file in the specified location.<br />
<ul><li>B <span style="color:#090; background:"><em>bmpImage </em></span>= <strong>SaveImageToBmp</strong>()
</li></ul>Save a BMP image of the current chart to a byte stream (blob)<br />
<ul><li>B <span style="color:#090; background:"><em>jpegImage </em></span>= <strong>SaveImageToJpeg</strong>()
</li></ul>Save a JPEG image of the current chart to a byte stream (blob)<br />
<ul><li>B <span style="color:#090; background:"><em>pngImage </em></span>= <strong>SaveImageToPng</strong>()
</li></ul>Save a PNG image of the current chart to a byte stream (blob)<br />
<h2 class="showhide_heading" id="Charting::ChartDataDefinition_Class">Charting::ChartDataDefinition Class</h2>
<h3 class="showhide_heading" id="Properties_2">Properties</h3>
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox3" ><span style="color: #0600FF;">dim</span> title <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> xAxisLabel <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> yAxisLabel <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> series<span style="color: #000000;">&#91;</span><span style="color: #FF0000;">0</span><span style="color: #000000;">&#93;</span> <span style="color: #FF8000;">as</span> Charting::ChartSeriesDefinition
<span style="color: #0600FF;">dim</span> dataAxisLabels<span style="color: #000000;">&#91;</span><span style="color: #FF0000;">0</span><span style="color: #000000;">&#93;</span> <span style="color: #FF8000;">as</span> c 
<span style="color: #0600FF;">dim</span> includeZero <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> showBreaks <span style="color: #FF8000;">as</span> l</pre></div><br />
<h2 class="showhide_heading" id="Charting::ChartSeriesDefinition_Class">Charting::ChartSeriesDefinition Class</h2>
<h3 class="showhide_heading" id="Properties_3">Properties</h3>
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox4" ><span style="color: #0600FF;">dim</span> label <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> data<span style="color: #000000;">&#91;</span><span style="color: #FF0000;">0</span><span style="color: #000000;">&#93;</span> <span style="color: #FF8000;">as</span> Charting::ChartValueDefinition</pre></div><br />
<h2 class="showhide_heading" id="Charting::ChartValueDefinition">Charting::ChartValueDefinition</h2>
<h3 class="showhide_heading" id="Properties_4">Properties</h3>
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox5" ><span style="color: #0600FF;">dim</span> value <span style="color: #FF8000;">as</span> a
<span style="color: #0600FF;">dim</span> label <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> exploded <span style="color: #FF8000;">as</span> l</pre></div><br />
<h3 class="showhide_heading" id="Methods_2">Methods</h3>
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="white-space:pre-wrap; white-space:-moz-pre-wrap !important; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word;" id="codebox6" ><span style="color: #0600FF;">function</span> ValueType <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span><span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Returns type of point - Y, XY, X, Stock, Box.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> SetXY <span style="color: #FF8000;">as</span> v<span style="color: #000000;">&#40;</span> x <span style="color: #FF8000;">as</span> n , y <span style="color: #FF8000;">as</span> n <span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Sets X/Y Value for chart.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> SetX <span style="color: #FF8000;">as</span> v<span style="color: #000000;">&#40;</span> value <span style="color: #FF8000;">as</span> n <span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Sets X Value for chart.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> SetStock <span style="color: #FF8000;">as</span> v<span style="color: #000000;">&#40;</span> high <span style="color: #FF8000;">as</span> n, low <span style="color: #FF8000;">as</span> n, <span style="color: #0600FF;">open</span> <span style="color: #FF8000;">as</span> n, <span style="color: #0600FF;">close</span> <span style="color: #FF8000;">as</span> n<span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Generate a stock data point.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> SetBoxPlot <span style="color: #FF8000;">as</span> v<span style="color: #000000;">&#40;</span> lowerWhisker <span style="color: #FF8000;">as</span> n, upperWhisker <span style="color: #FF8000;">as</span> n, LowerBox <span style="color: #FF8000;">as</span> n, UpperBox <span style="color: #FF8000;">as</span> n , Average <span style="color: #FF8000;">as</span> n, Median <span style="color: #FF8000;">as</span> n <span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Generate a box plot.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> AddBoxPlotUnusual <span style="color: #FF8000;">as</span> v<span style="color: #000000;">&#40;</span> value <span style="color: #FF8000;">as</span> n <span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Add an unusual value to a box plot value.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> DataToString <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span><span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Convert the data to string (multiple data elements, like xy values, are comma separated).&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span></pre></div><br />
<h2 class="showhide_heading" id="Charting::ChartValuesDefinition">Charting::ChartValuesDefinition</h2>
<h3 class="showhide_heading" id="Properties_5">Properties</h3>
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox7" ><span style="color: #0600FF;">dim</span> values<span style="color: #000000;">&#91;</span><span style="color: #FF0000;">0</span><span style="color: #000000;">&#93;</span> <span style="color: #FF8000;">as</span> n</pre></div><br />
<h3 class="showhide_heading" id="Methods_3">Methods</h3>
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="white-space:pre-wrap; white-space:-moz-pre-wrap !important; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word;" id="codebox8" ><span style="color: #0600FF;">function</span> ValueType <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span><span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Returns type of point - X, Stock, Box.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> SetX <span style="color: #FF8000;">as</span> v<span style="color: #000000;">&#40;</span> value <span style="color: #FF8000;">as</span> n <span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Sets X Value for chart.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> SetStock <span style="color: #FF8000;">as</span> v<span style="color: #000000;">&#40;</span> high <span style="color: #FF8000;">as</span> n, low <span style="color: #FF8000;">as</span> n, <span style="color: #0600FF;">open</span> <span style="color: #FF8000;">as</span> n, <span style="color: #0600FF;">close</span> <span style="color: #FF8000;">as</span> n<span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Generate a stock data point.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> SetBoxPlot <span style="color: #FF8000;">as</span> v<span style="color: #000000;">&#40;</span> lowerWhisker <span style="color: #FF8000;">as</span> n, upperWhisker <span style="color: #FF8000;">as</span> n, LowerBox <span style="color: #FF8000;">as</span> n, UpperBox <span style="color: #FF8000;">as</span> n , Average <span style="color: #FF8000;">as</span> n, Median <span style="color: #FF8000;">as</span> n <span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Generate a box plot.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> AddBoxPlotUnusual <span style="color: #FF8000;">as</span> v<span style="color: #000000;">&#40;</span> value <span style="color: #FF8000;">as</span> n <span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Add an unusual value to a box plot value.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> DataToString <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span><span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Convert the data to string (multiple data elements, like xy values, are comma separated).&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span></pre></div><br />
<h2 class="showhide_heading" id="Charting::ChartXYValueDefinition">Charting::ChartXYValueDefinition</h2>
<h3 class="showhide_heading" id="Properties_6">Properties</h3>
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox9" ><span style="color: #0600FF;">dim</span> x <span style="color: #FF8000;">as</span> n
<span style="color: #0600FF;">dim</span> y <span style="color: #FF8000;">as</span> n</pre></div><br />
<h3 class="showhide_heading" id="Methods_4">Methods</h3>
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="white-space:pre-wrap; white-space:-moz-pre-wrap !important; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word;" id="codebox10" ><span style="color: #0600FF;">function</span> ValueType <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span><span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Returns X/Y.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> SetXY <span style="color: #FF8000;">as</span> v<span style="color: #000000;">&#40;</span> x <span style="color: #FF8000;">as</span> n , y <span style="color: #FF8000;">as</span> n <span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Sets X/Y Value for chart.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> DataToString <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span><span style="color: #000000;">&#41;</span>
     helptext <span style="color: #808080;">&quot;Convert the data to string (multiple data elements, like xy values, are comma separated).&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span></pre></div><br />
<h2 class="showhide_heading" id="Reporting::ReportChart_Class">Reporting::ReportChart Class</h2>
<h3 class="showhide_heading" id="Properties_7">Properties</h3>
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="overflow:auto;" id="codebox11" ><span style="color: #0600FF;">dim</span> ChartProvider <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> ChartType <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> Chart3d <span style="color: #FF8000;">as</span> l
<span style="color: #0600FF;">dim</span> ChartEffect <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> sourceType <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> sourceTable <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> sourceConnection <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> sourceSQLSelect <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> sourceSQLPortable <span style="color: #FF8000;">as</span> l
<span style="color: #0600FF;">dim</span> sourceArguments <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> sourceArgumentBindings <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> customExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> filterExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> DataExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> DataSeriesColumns <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> DataLabelExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> DataLabelPlacement <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> CategoryExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> CategoryLabelExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> titleExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> xAxisTitleExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> yAxisTitleExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> eachGroup <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> overGroup <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> eachExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> seriesType <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> seriesGroup <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> seriesExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> seriesLabelExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> sliceExplodeExpression <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> PlotSeriesOnAxis <span style="color: #FF8000;">as</span> l
<span style="color: #0600FF;">dim</span> Summarization <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> includeZero <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> showBreaks <span style="color: #FF8000;">as</span> l
<span style="color: #0600FF;">dim</span> outputFormat <span style="color: #FF8000;">as</span> c
<span style="color: #0600FF;">dim</span> <span style="color: #0600FF;">width</span> <span style="color: #FF8000;">as</span> n
<span style="color: #0600FF;">dim</span> height <span style="color: #FF8000;">as</span> n
<span style="color: #0600FF;">dim</span> styleSheet <span style="color: #FF8000;">as</span> c</pre></div><br />
<h3 class="showhide_heading" id="Methods_5">Methods</h3>
<div class="plugincode" parse="vbnet"><pre class="codelisting" data-syntax="vbnet" dir="ltr" style="white-space:pre-wrap; white-space:-moz-pre-wrap !important; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word;" id="codebox12" ><span style="color: #0600FF;">function</span> Load <span style="color: #FF8000;">as</span> V<span style="color: #000000;">&#40;</span> definition <span style="color: #FF8000;">as</span> c <span style="color: #000000;">&#41;</span>
   helptext <span style="color: #808080;">&quot;Create a new report chart object (meta data for a chart).&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> Save <span style="color: #FF8000;">as</span> C<span style="color: #000000;">&#40;</span><span style="color: #000000;">&#41;</span>
   helptext <span style="color: #808080;">&quot;Create a chart object definition that can be embedded into an html report.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> GenerateURL <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span>obj <span style="color: #FF8000;">as</span> p <span style="color: #008000;">=</span> null_value<span style="color: #000000;">&#40;</span><span style="color: #000000;">&#41;</span><span style="color: #000000;">&#41;</span> 
   helptext <span style="color: #808080;">&quot;Generate URL given class definition, pass in pointer to 'binding' environment (i.e. report).&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> GenerateFormat <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span>obj <span style="color: #FF8000;">as</span> p<span style="color: #000000;">&#41;</span> 
   helptext <span style="color: #808080;">&quot;Generate Format given class definition, pass in pointer to 'binding' environment (i.e. report).&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> GenerateSampleURL <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span><span style="color: #000000;">&#41;</span>
   helptext <span style="color: #808080;">&quot;Generate sample URL given class definition, for design-time representation of graph.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>       
<span style="color: #0600FF;">function</span> <span style="color: #000000;">&#91;</span><span style="color: #FF8000;">static</span><span style="color: #000000;">&#93;</span> ReportChartGenerateURL <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span> definition <span style="color: #FF8000;">as</span> c , obj <span style="color: #FF8000;">as</span> p<span style="color: #000000;">&#41;</span> 
   helptext <span style="color: #808080;">&quot;Load and run a report object in one go, returns chart URL.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> <span style="color: #000000;">&#91;</span><span style="color: #FF8000;">static</span><span style="color: #000000;">&#93;</span> ReportChartSampleURL <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span> definition <span style="color: #FF8000;">as</span> c <span style="color: #000000;">&#41;</span> 
   helptext <span style="color: #808080;">&quot;Load and run a report object in one go, returns sample chart URL.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> <span style="color: #000000;">&#91;</span><span style="color: #FF8000;">static</span><span style="color: #000000;">&#93;</span> MergeDefinition <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span> definition <span style="color: #FF8000;">as</span> c , override <span style="color: #FF8000;">as</span> c <span style="color: #000000;">&#41;</span> 
   helptext <span style="color: #808080;">&quot;Load definition, and apply changes from another definition, return merged result.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span>
<span style="color: #0600FF;">function</span> <span style="color: #000000;">&#91;</span><span style="color: #FF8000;">static</span><span style="color: #000000;">&#93;</span> ReportChartExprRegister <span style="color: #FF8000;">as</span> c<span style="color: #000000;">&#40;</span>definition <span style="color: #FF8000;">as</span> c , obj <span style="color: #FF8000;">as</span> p<span style="color: #000000;">&#41;</span>
   helptext <span style="color: #808080;">&quot;Return expressions that register enum report data.&quot;</span>
<span style="color: #0600FF;">end</span> <span style="color: #0600FF;">function</span></pre></div><br />
<h2 class="showhide_heading" id="Examples">Examples</h2>
See <a href="/Desktop/Guide/Design/View/Chart/Using Charts in Xdialogs.html" title="Using Charts in Xdialogs V11" class="wiki">Using Charts in Xdialogs V11</a> and the V11 Charting section of the Learning Xdialog Alpha Five sample project.<br />
<h2 class="showhide_heading" id="See_Also">See Also</h2>
<a href="Chart Styles.html" title="Chart Styles V11" class="wiki">Chart Styles V11</a><br />
<a href="Chart Control.html" title="Chart Control V11" class="wiki">Chart Control V11</a><br />
<a href="Chart Component.html" title="Chart Component V11" class="wiki">Chart Component V11</a><br />
<a href="Embedding Charts in Reports.html" title="Embedding Charts in Reports V11" class="wiki">Embedding Charts in Reports V11</a><br />
<a href="../Web Grid Enhancements V11/Web Grid Alternate Views V11/Chart Alternate View V11.html" title="Chart Alternate View V11" class="wiki">Chart Alternate View V11</a><br />
<a href="/Desktop/Guide/Design/View/Chart/Using Charts on Forms.html" title="Using Charts on Forms V11" class="wiki">Using Charts on Forms V11</a><br />
<a href="/Desktop/Guide/Design/View/Chart/Using Charts in Xdialogs.html" title="Using Charts in Xdialogs V11" class="wiki">Using Charts in Xdialogs V11</a><br />
<a href="../../../../Reference/Design/Api/Functions/Chart Functions/a5_chart_data_url_generate Function.html" title="a5_chart_data_url_generate Function" class="wiki">a5_chart_data_url_generate Function</a><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Chart+API+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"common","status":"pending","keywords":"server,guide,chart"}--->
</body></html>