	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Embedding_Charts_in_Reports">Embedding Charts in Reports</h1>
To embed a chart in a report, first create a new Quick Report, then save it as a Layout Table Report, using the <strong>Open in Report Editor</strong> button. In the Layout Table Report Designer, add a row to hold the chart, enlarge the row and merge enough cells to make room for the desired chart size, and add the chart to the layout by double-clicking in the large cell to bring up the <strong>Cell contents</strong> dialog.<br />
<br />
	<img src="images/layout_table_cell_contents.png" alt="Image" /><br />
<br />
Select the Chart radio button, click <strong>Edit...</strong>, and design your chart using the <a href="Chart Control.html" title="Chart Control V11" class="wiki">control</a>. All the variables and summaries in the report and its underlying data will be available to the chart.<br />
<br />
	<img src="images/chart_setup_dialog.png" alt="Image" /><br />
<h2 class="showhide_heading" id="Videos">Videos</h2>
<table style="BORDER-COLLAPSE: collapse" border="1" cellSpacing="1" cellPadding="3" width="590">

	<tr>

		<td width="48">Number</td>

		<td width="172"><b>Category</b></td>

		<td><b>Description</b></td>

	</tr>

	<tr>

		<td width="48">R1</td>

		<td width="172">Reports - Embedded Charts</td>

		<td>This video shows how charts can be embedded into an Alpha Anywhere 

		report.<p>&nbsp;</p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/DT/Reports_EmbeddedCharts1.swf">

		Watch Video - Part 1</a></td>

	</tr>

	<tr>

		<td width="48">R2</td>

		<td width="172">Reports - Adding a Chart to the Sample Invoice Report</td>

		<td>In Video R1 we showed how you can add a chart to a report. In that 

		video, the data source for the chart was set to 'Table'. In this video 

		we show how a chart can be added to the sample 'Invoice' report in the 

		sample 'AlphaSports' application that ships with Alpha Anywhere.<p>&nbsp;</p>

		<p>In this video, the data source for the chart is set to 'Report', 

		which means that the data used in the report is used for the chart, 

		rather than a separate query. By setting the data source to 'Report' the 

		chart can use all of the calculated fields and summary fields that the 

		report calculates.</p>

		<p>

		<a href="http://www.ajaxvideotutorials.com/V11Videos/Reporting_AddingAChartToTheInvoiceReport.swf">

		Watch Video</a></td>

	</tr>

	</table><br />
<h2 class="showhide_heading" id="See_Also">See Also</h2>
<a href="Chart Control.html" title="Chart Control V11" class="wiki">Chart Control </a><br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Embedding+Charts+in+Reports+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"common,review","status":"pending","keywords":"chart","notes":"v11"}--->
</body></html>