	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Starting the AlphaSports Application</p>



<p class=A5>Main Menu OnInit Event <a NAME=Main_Menu_OnInit_Event></a></p>



<p>The OnInit event gives the developer the opportunity to configure the 
 form (or application) environment before the user sees the first form 
 or can execute any functions. In most cases the developer wants to present 
 a seamless, self contained application, and this implies cutting off access 
 to the <span class=Screen>Control Panel</span> .</p>



<p class=Note><span class=Note><img src="images/icon_information.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 36px;
											height: 32px;
											float: none;
											border-style: none;
											border-style: none;"
									width=36
									height=32
									border=0>Note:</span> The developer 
 should always preserve some way to access the <span class=Screen>Control 
 Panel</span>, in case its tools are required to solve a problem.</p>



<p>The <span class=Code1>OnInit</span> event runs a single line of Xbasic 
 code, which hides the <span class=Screen>Control Panel</span> from the 
 operator.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>controlpanel.hide()</td></tr>
</table>

<p class=A5>See Also</p>



<p><a href="../Xdialog/Controls/Creating the Navigation Toolbar.html" title="Creating the Navigation Toolbar" class="wiki">Creating the Navigation   Toolbar</a>, <a href="../Form/Displaying the Main Menu.html" title="Displaying the Main Menu" class="wiki">Displaying the Main   Menu</a>, <a href="../Xdialog/Controls/Displaying the Navigation Toolbar.html" title="Displaying the Navigation Toolbar" class="wiki">Displaying the   Navigation Toolbar</a>, <a href="../../Platform/Xbasic/Ending the AlphaSports Application.html" title="Ending the AlphaSports Application" class="wiki">Ending   the AlphaSports Application</a>, <a href="../Form/The Main Menu Form.html" title="The Main Menu Form" class="wiki">The   Main Menu Form</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Starting+the+AlphaSports+Application">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Alpha Sports","keywords":"desktop,guide,controlpanel"}--->
</body></html>