	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Web_Projects_Control_Panel_-_Recently_Selected_Projects_Button">Web Projects Control Panel - Recently Selected Projects Button</h1>
	<p class="showhide_heading">&nbsp;</p>
	<p class="showhide_heading"><font color="#FF0000">FOLDED INTO WEB PROJECTS 
	CONTROL PANEL PAGE</font></p>
New button on the toolbar to show the recently selected web projects:<br />
<br />

	<img src="images/recentprojects.jpg" alt="Image" /><br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Web+Projects+Control+Panel+-+Recently+Selected+Projects+Button+V11">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA: {"tags":"web","status":"reject","keywords":"controlpanel","pagename":"Web Projects Control Panel - Recently Selected Projects Button"} --->
</body></html>