	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Documentation_Viewer">Documentation Viewer</h1>
A new documentation viewer has been built into Alpha Five. The documentation viewer uses a local copy of the Alphapedia documentation wiki, so you do not need to be connected to the Internet to use the Alpha Five documentation.<br />
<br />
New buttons on the Control Panel and Web Control Panel make it easy to open the documentation viewer.<br />
<br />
Key features of the Documentation Viewer include:<br />
<br />
<ul><li>Read documentation from within the Alpha Five environment
</li><li>Disconnected viewing - don't need an Internet connection
</li><li>Find topics quickly - filtering and full text searching
</li><li>Save and restore open tabs
</li><li>Save tab list of exit
</li><li>Two window styles - MDI and Modeless - Modeless is ideal for users with two monitors - keep the documentation open at all times on the second monitor
</li><li>Real-time help in code editors - As soon as you type a function or method name in a code editor, the documentation synchronized on that function or method
</li><li>Print topics to PDF
</li><li>Browser like experience - Back and Next buttons to see previously viewed topics
</li><li>Add notes to any topic
</li><li>Add user defined topics
</li><li>Mark individual topics as 'favorites' so you can quickly find them again.
</li><li>Every topic in the Documentation Viewer has a button at the end of the topic that allows you to send feedback on the topic.
</li><li>Table of Contents is displayed in a tree view
</li><li>'Breadcrumbs' - When a topic is displayed, a series of hyperlink breadcrumbs is shown that indicate where this topic fits in the overall structure of the documentation. The placement of the breadcrumbs is controlled in the Preferences dialog. The breadcrumbs can be above, below or above and below the help text.
</li></ul><br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=1215','HEIGHT=737','BACKGROUND=img/wiki_up/local_help_viewer.png']);">	<img src="images/local_help_viewer.png" height="368" width="607" alt="Image" /></a><br />
<br />
The following videos demonstrate the features of the documentation viewer:<br />
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/documentationViewer_1.swf" rel="external nofollow">Watch video - part 1</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/documentationViewer_2.swf" rel="external nofollow">Watch video - part 2</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/documentationViewer_3.swf" rel="external nofollow">Watch video - part 3</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/documentationViewer_4.swf" rel="external nofollow">Watch video - part 4</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<br />
<strong>Note about images in the documentation.</strong>  When you first view a particular topic in the Documentation Viewer, the images in the topic are displayed from the Alpha Wiki website. This means that in order to see the images you would need to have an internet connection. However, as the images are retrieved from the wiki, they are cached locally so that the next time you visit that particular topic, the images will be read from the local cache. That means that if you are viewing the documentation and you do not have an internet connection, topics that were previously viewed when a connection was available will show images, but if you have not previously viewed the topic, the images will not be visible.<br />
<br />

	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Documentation+Viewer">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"common,review","status":"pending","keywords":"server,design,guide,controlpanel"}--->
</body></html>