	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 





			
		
		
		
		
			 

	
			<h1 class="showhide_heading" id="Web_Projects_Control_Panel_-_Filter">Web Projects Control Panel - Filter</h1>
	<p class="showhide_heading">&nbsp;</p>
	<p class="showhide_heading"><font color="#FF0000">FOLDED IN TO WEB PROJECTS 
	CONTROL PANEL</font></p>
	<p class="showhide_heading">&nbsp;</p><p>
The Web Control Panel has a filter prompt. This is useful when you have a large number of files in a web project and you want to find a file quickly.<br />
<br /></p>

	<p align="center">

	<img border="0" src="images/webcontrolPanel_filter.png" width="372" height="180"></p>
	<p align="center"><br />

	
	
	</p>

	
	
	<hr class="hrwikibottom" /> 

	
	




	<!-- WIKIPATH:Web+Projects+Control+Panel+-+Filter+V11">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web,review","status":"reject","notes":"short","keywords":"server,guide,controlpanel"}--->
</body></html>