	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<h1>Web Projects </h1>
	<p><font color="#FF0000">MERGED INTO WEB PROJECTS CONTROL PANEL PAGE</font></p>
	<p>&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">A web project contains and organizes the files that you will 
				<span class=Bolded><span style="font-weight: 400">publish</span></span>. 
 Alpha Anywhere places these files in a directory structure under the Alpha 
Anywhere program folder. You may have&nbsp;as&nbsp;many projects&nbsp;as&nbsp;you 
 need, each with a distinctive name. The <font color="#0000FF">Web Projects 
 Control Panel</font> provides a view of these projects. To start the Web Projects Control Panel</span>, click 
				<span class=Button>Web 
 Projects</span> on the main toolbar.</font></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>



<p>&nbsp;</p>



<p class=A5><a name=Viewing_a_Project_s_Files>Viewing a Project's Files</a></p>



<p>To view the files used in a project, select the <span class=Bolded>project 
 name</span> from the drop-down list box at top left. To see all files 
 in the project "All Files". To filter the list of files shown, 
 select any of the following: </p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>"A5WPages"</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>"HTML Pages"</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>"CSS Style Sheets"</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>"Images"</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>"Web Components"</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>"All Files"</p>

</li>
</ul>

<p class=Pix>
<img border="0" src="images/WP_Web_Projects_Control_Panel.png" width="1181" height="291"></p>



<p class=A5><a name=Viewing_Project_Files_with_Windows_Explorer>Viewing 
 Project Files with Windows Explorer</a></p>



<p>If you prefer to view and manage project files through Windows 
 Explorer</span>, select <span class=Button>Edit > Open Project in Explorer</span>.</p>



<p class=A5><a name=Finding_a_File>Finding a File</a></p>



<p>To find a file select <span class=Button>Edit > Search in all Web 
 Project files...</span> to display the Search Web Project 
 dialog. Enter text to search for and click <span class=Button>Search</span>. 
 &nbsp;</p>



<p class=Pix>
<img border="0" src="images/WP_Search_for_Files.png" width="773" height="491"></p>



<p>To edit an object, select it in the list and click <span class=Button>Edit 
 Object</span>.</p>
	<p>&nbsp;</p> 





			
		
		
		
		
			 

	
			<b>Web Projects Control Panel - Filter
	</b>
	<p class="showhide_heading">&nbsp;</p><p>
The Web Control Panel has a filter prompt. This is useful when you have a large number of files in a web project and you want to find a file quickly.<br />
<br /></p>

	<p align="center">

	<img border="0" src="images/webcontrolPanel_filter.png" width="372" height="180"></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>



<p class=A5><a name=Previewing_a_File>Previewing a File</a></p>



<p>To preview a file select the file you wish to see and click <span class=Button>Preview</span>. 
 The preview window appears at the bottom of the Web 
 Projects Control Panel</span>.</p>




<p class=A5>Limitations</p>



<p>Web publishing applications only.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Web+Projects">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"reject","tags":"web","keywords":"server,design,guide,controlpanel"}--->
</body></html>