	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Ad-Hoc Browse</p>



<p>Alpha Anywhere makes the previously optional <span class=Screen>Ad-Hoc 
 Browse</span> feature standard. Ad-Hoc Browse allows you to quickly open 
 a Browse (or Form) view of a Table or Set, showing only selected fields. 
 This feature allows you to quickly find, edit, or add field values without 
 going through the process of creating a new browse or form.</p>



<p>The <span class=Screen>Ad Hoc Browse</span> selection appears on the 
 right-click menu after you select a Table and Set in the <span class=Screen>Control 
 Panel</span>. </p>



<p class=Pix>
<img src="images/Ad_Hoc_Browse_Open.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							float: none;
							width: 413px;
							height: 256px;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<p>After clicking the <span class=Button>Ad Hoc Browse</span> command, 
 the <span class=Screen>Ad-Hoc Browse</span> dialog box appears with all 
 of the fields in the current Table or Set. Use the <span class=Button>></span>, 
 <span class=Button><</span>, <span class=Button>>></span>, and 
 <span class=Button><<</span> buttons to select and de-select fields 
 to display. </p>



<p class=Pix>
<img src="images/Ad_Hoc_Select_Fields.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							float: none;
							width: 421px;
							height: 396px;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<p>By clicking on the <span class=Button>Form</span> icon you can display 
 the <span class=Screen>Ad-Hoc Form</span> dialog. </p>



<p class=Pix>
<img src="images/Ad_Hoc_Buttons.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							float: none;
							width: 248px;
							height: 89px;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<p>Select the fields that you want. You can double click on a field name, 
 or click one of the selection buttons. In the case of a Set, selecting 
 the blue table header will select all of the fields in that table.</p>



<p>If you have many fields in your Table or Set, sorting them will help 
 you find them quickly. You can click the <span class=Button>Ascending</span>, 
 <span class=Button>Descending</span> or <span class=Button>Unsorted</span> 
 buttons in the bottom left.</p>



<p>You can optionally apply a Filter and or Order so that only selected 
 records are shown when the Ad-Hoc view is opened. (If you do not specify 
 the filter and or order now, you can filter the view once it has been 
 opened).</p>



<p>If you click the Filter icon, the <span class=Screen>Filter/Order Builder</span> 
 opens up. </p>



<p class=Pix>
<img src="images/Ad_Hoc_Browse_Filter.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							width: 612px;
							height: 448px;
							float: none;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<p>After optionally specifying the filter/order, click the <span class=Button>OK</span> 
 button. The following is a sample ad hoc browse. </p>



<p class=Pix>
<img src="images/Ad_Hoc_Browse.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							width: 553px;
							height: 363px;
							float: none;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<p>This is the equivalent ad hoc form. </p>



<p class=Pix>
<img src="images/Ad_Hoc_Form.png"
					x-maintain-ratio=TRUE
					style="border: medium none;
							width: 178px;
							height: 169px;
							float: none;
							border-top-style:none; border-right-style:none; border-bottom-style:none; border-left-style:none"
					border=0></p>



<p>After you close the Ad-Hoc View it will not appear in the list or Forms 
 or Browse in the <span class=Screen>Control Panel</span>. It is just a 
 temporary Layout that disappears when you are done using it. If you decide 
 that you want to keep the Ad-Hoc view permanently, just click the <span 
 class=Button>Design</span> icon on the toolbar and then select <span class=Button>File 
 > Save As...</span> to save the View with a name of your choice.</p>



<p>The ADHOCVIEW() function displays the <span class=Screen>Ad Hoc Browse</span> 
 dialog box.</p>



<p class=A5>See Also</p>



<p><a href="/Server/Reference/Design/Api/Functions/Browse Functions/ADHOCVIEW Function.html" title="ADHOCVIEW Function" class="wiki">ADHOCVIEW(</a>)</p>

	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Ad-Hoc+Browse">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA: {"tags":"desktop","status":"accept","keywords":"desktop,guide,browse"} --->
</body></html>