	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Browse Banding</p>



<p>You can specify the background color and style of alternate groups of 
 browse rows. This feature, named Green Banding is illustrated below. Each 
 group can be any number of rows and have any fill style.</p>



<p>This browse has alternate bands of light green and white. </p>



<p class=Pix><img src="images/UG_Greenband_1.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 683px;
							height: 252px;
							float: none;
							border-style: none;
							border-style: none;"
					width=683
					height=252
					border=0></p>



<p>This browse has two bands of gradient color and one band of white. <a HREF="http://support.alphasoftware.com/imagesV8/UG_Greenband_2.gif"><a class="wiki"  href="Picture" rel="">Picture</a></a></p>



<p class=Pix><img src="images/UG_Greenband_2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 683px;
							height: 253px;
							float: none;
							border-style: none;
							border-style: none;"
					width=683
					height=253
					border=0></p>



<p>To apply banding to a browse.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Browse</span> tab of the <span class=Screen>Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the browse 
 to modify and click <img src="images/Design_Mode_button.gif"
							x-maintain-ratio=TRUE
							style="border: none;
									width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0> <span class=Button>Design</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Browse 
 > Browse Properties...</span> .</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Browse</span> tab of the <span class=Screen>Properties</span> 
 dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Row 
 Color Properties</span> to display the <span class=Screen>Row Color Properties</span> 
 dialog. </p>

</li>
</ol>

<p class=Pix><img src="images/UG_Row_Color_Properties_dialog.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 442px;
							height: 334px;
							float: none;
							border-style: none;
							border-style: none;"
					width=442
					height=334
					border=0></p>



<ol start=6>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Define color group 
 one.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select "Color 
 1" and check <span class=Button>Enabled</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Define its <a href="../Properties/Defining Fill Style and Color.html" title="Defining Fill Style and Color" class="wiki">fill   style and color</a>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select and entry 
 from the <span class=Control>Number of Rows</span> list.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Define color group 
 two.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select "Color 
 2" and check <span class=Button>Enabled</span>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Define its <a href="../Properties/Defining Fill Style and Color.html" title="Defining Fill Style and Color" class="wiki">fill   style and color</a>.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select and entry 
 from the <span class=Control>Number of Rows</span> list.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, define 
 color group three.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Optionally, define 
 color group four.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span>.</p>

</li>
</ol>




<p class=A5>Limitations</p>



<p>Desktop applications only.</p>



<p class=A5>See Also</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Browse+Banding">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,browse,dbf"}--->
</body></html>