	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1>Browse Controls (From V9)</h1>
<p>When you are editing a Browse Layout (both stand-alone browses, and embedded 
browses), a new toolbox is available. The toolbox allows you to more easily 
insert buttons and images in browse cells.</p>
<p>New genies make it particularly easy to insert buttons for common tasks, such 
as opening a form to show more detail for the current row, printing a report 
that is filtered on the current row, or running an operation that is filtered on 
the current row.</p>
<p>Note: If you don't see the Browse Controls toolbox, select the Task Lists, 
Browse controls menu entry.</p>
<p>&nbsp;</p>
<table border="0" id="table2">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption"><img border="0" src="images/NewInA1.jpg"></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption">Browse Controls toolbox makes it easy to place 
buttons and images in browse cells.</td>
</tr>
</table>
<p class="ImageCaption">&nbsp;</p>
<h2>Summary of Browse Controls</h2>
<p>&nbsp;</p>
<table id="table4" style="BORDER-COLLAPSE: collapse" cellSpacing="1" cellPadding="3" border="1">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
<b>Browse&nbsp;Control&nbsp;Name</b></td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="929" >
<b>Description</b></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
Open Form</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="929" >
Put a button or hyperlink in a browse cell to open a new form. This form will 
often be filtered so that it shows the same record as the current browse record. 
This action is commonly used to open a form that shows more detail for the 
current record.</td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
Print/Preview Layout</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="929" >
Put a button or hyperlink in a browse cell to print or preview a layout. The 
layout will often be filtered so that it shows the same record as the current 
browse record.</td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
Run an Operation</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="929" >
Put a button or hyperlink in a browse cell to run a saved Operation.</td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
Generic Action</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="929" >
Put a button or hyperlink in a browse cell to run any Xbasic code.</td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
Image</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="929" >
Put an icon in a browse cell. The icon is typically dynamically selected based 
on some value in the current record. For example, if you have a browse showing a 
list of customers with credit ratings between 1 and 5, you could dynamically 
select a different icon for each customer, based on their credit rating.</td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
Text</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="929" >
Put some text in a browse cell. The text can either be static, or dynamic, based 
on some value in the current record. </td>
</tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<a name="Placing_a_Browse_Control_in_a_Browse_Layout"></a>
<h3>Placing a Browse Control in a Browse Layout</h3>
<p>To place a Browse Control in a Browse layout, simply drag the control from 
the toolbox and drop it in the Browse layout. A genie will be displayed, 
allowing you to define the control. When you complete the last step of the 
genie, Alpha Anywhere will add a new column to the browse. Unlike regular browse 
columns, which are all bound to either physical fields, or calculated fields, a 
browse column created by dropping a Browse Control onto a browse will be bound 
to a new type of field called 'SYSTEM->Unbound'. Alpha Anywhere will create a 
default title for the new column, but you will probably want to change the title 
by right clicking on the title and selecting 'Properties'.</p>
<p>Note: If you are editing a Form layout, you can only drop Browse Controls in 
embedded browses on the form. You will notice that if you try to drag a Browse 
Control and drop it on a Form (outside of any embedded Browses on the form), 
Alpha Anywhere will prevent the action.</p>
<p>A browse cell can contain more than one Browse Control. If you want to place 
multiple Browse Controls in a cell (for example say you wanted both an Image and 
a Text control), you can select multiple controls in the toolbox and drag them 
to the Browse layout. The 'Multiple Controls' dialog will appear, allowing you 
to define each of the individual controls. Once you have finished defining each 
control, the 'Insert Controls' button will become enabled and you can click it 
to insert the controls into the Browse layout.</p>
<p>&nbsp;</p>
<table border="0" id="table5">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption"><img border="0" src="images/NewInA7.jpg"></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption">You can place more than one Browse Control in a 
single cell. When you <br>
drag multiple Browse Controls to the Browse Layout, the 'Multiple 
Controls' dialog appears.</td>
</tr>
</table>
<p class="ImageCaption">&nbsp;</p>
<h3>Editing the Code for a Browse Control</h3>
<p>Most of the Browse Controls have associated Xbasic code that is executed when 
the control is clicked. The only exceptions are the 'Image' and 'Text' Browse 
Controls which do not have any associated event code. This Xbasic code is 
automatically generated by the Genie, but you might want to edit it.</p>
<p>The code for the Browse Controls is stored in the Browse object's 'Events' 
script. To edit the code associated with a Browse Control, right click on the 
column in the Browse and select Events... from the menu.</p>
<p>The Events script contains a series of functions of the form:</p>
<p class="xbasic">function &ltObjectName>_Button<x>click as v( event as C, data as C, 
row as N)<br>
end function</p>
<p>&nbsp;</p>
<p>Where &ltObjectName> is the name of the column that contains the Browse 
Control.</p>
<p>For example, say you have placed an 'Open Form' Browse Control in one column 
of a Browse and a 'Print/Preview Layout' Browse Control in another column of a 
Browses. Assume that the object name of the first column is 'Action' and that 
the object name of the second column is 'Action1'. The 'Events' script for this 
browse will contain these functions:</p>
<p class="xbasic">function Action_Button<x>click as v( event as C, data as C, row 
as N)<br>
end function</p>
<p class="xbasic">function Action1_Button<x>click as v( event as C, data as C, row 
as N)<br>
end function</p>
<p>&nbsp;</p>
<p>When&nbsp; you click the button in the first column, the 'Action_Button<x>click()' 
function will be invoked. When you click the button in the second column, the 
'Action1_Buton<x>click()' function will be invoked.</p>
<p>&nbsp;</p>
<h2>'Open Form' Browse Control</h2>
<p>The Open Form Browse control allows you to place a button or hyperlink in a 
browse cell to open another form. The target form will typically (although not 
necessarily) be filtered so that it shows the same record as the current browse 
record.</p>
<p>When you drop the Open Form control onto the Browse layout a genie with 
several screens is displayed. The first screen, shown below, allows you to 
define the appearance of the button. To display a hyperlink, set the button 
'Type' to 'Hyperlink'.</p>
<p>Buttons and hyperlinks can be displayed with or without icons. Set the 
'Layout' property to specify if the button will have an icon.</p>
<p>Several different border styles are available for buttons. Select the border 
style in the combo box to the right of the 'Type' property.</p>
<p>The 'Bubble Help' property allows you to specify bubble help that should 
appear when the mouse is over the button. The bubble help can be a dynamic 
expression. For example, you might define the following expression for bubble 
help:</p>
<p class="xbasic">"Open form to show detail for " + alltrim(firstname) + " " + 
alltrim(lastname)</p>
<p>&nbsp;</p>
<p>If the current record in the browse has a value for 'firstname' of 'Michael' 
and 'lastname' of 'Jones', the bubble help for a button in this row will 
display:</p>
<p class="xbasic">"Open form to show detail for Michael Jones"</p>
<p>&nbsp;</p>
<p>The 'Behavior' property allows you to specify what action to take if the 
current record is in change or enter mode. You can specify that the record 
should first be saved before the button's action is executed, or you can specify 
that the action should be aborted.</p>
<p>&nbsp;</p>
<table border="0" id="table6">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption"><img border="0" src="images/NewInA2.jpg"></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption">The 'Open Form' genie allows you to define the 
appearance and action for the button that is placed in the Browse cell.</td>
</tr>
</table>
<p>&nbsp;</p>
<p>The 'Options' page allows you to specify if the target form should be opened 
as a 'Normal' (i.e. modeless) window, or as a 'Dialog' (i.e. modal) window.</p>
<p>You can also specify where on the screen the target form should be opened. If 
you leave the 'Default' setting, the form will be opened in the position that 
was defined in the form editor.</p>
<p>You can also specify properties of the filter that is applied to the target 
form. Typically, you will select the 'Base' option if you are opening a form to 
display more information about the current record because you will not want your 
users to be able to remove the filter and start viewing other records in the 
table.</p>
<p>&nbsp;</p>
<table border="0" id="table7">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption"><img border="0" src="images/NewInA3.jpg"></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption">This dialog allows you to set properties of the 
target form.</td>
</tr>
</table>
<p>&nbsp;</p>
<p>The next screen allows you to specify how the target form will be filtered. 
Most commonly, you will want the target form to display more information about 
the current record and the 'Use genie to define matching fields' option will 
allow you to specify the relationship between the current record and the target 
form.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="0" id="table11">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption"><img border="0" src="images/NewInA8.jpg"></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption">Filtering the Target Form</td>
</tr>
</table>
<p class="ImageCaption">&nbsp;</p>
<p>When you click the 'Define Link(s)' button, the genie is displayed where you 
can specify matching fields in the current record and in the table that that the 
target form is based on.</p>
<p>For example, say that the primary key for the current 
record is 'customer_id' and that the target form is 
based on the same table. You would enter 'customer_id' 
in the 'Target Layout Field' column, and in the 'Local 
Field' (i.e. fields from the current browse record) 
column. </p>
<p>&nbsp;</p>
<table border="0" id="table8">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption"><img border="0" src="images/NewInA4.jpg"></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption">When you select the Link Genie, this dialog 
allows you to define how the target form is related to the current 
record in the browse.</td>
</tr>
</table>
<p class="ImageCaption">&nbsp;</p>
<p><a target="a5video" href="http://www.alphasoftware.com/VideoNewV9/browsesLayoutControlsOpenForm.swf">Watch a video demonstration of 
this feature</a></p>
<p>&nbsp;</p>
<h2>'Print/Preview Layout' Browse Control</h2>
<p>The Print/Preview Layout Browse control allows you to place a button or hyperlink in a 
browse cell to print or preview a report, label or letter layout. The target 
report will typically (although not 
necessarily) be filtered on some value from the current record.</p>
<p>When you place this control on a Browse Layout a series of genies appear that 
are essentially identical to the Open Form Browse control, with the exception 
that you specify the report, label or letter to print or preview, rather than 
the form to open. See the Open Form Browse Control for more details.</p>
<p>&nbsp;</p>
<h2>'Run an Operation' Browse Control</h2>
<p>The Run an Operation Layout Browse control allows you to place a button or hyperlink in a 
browse cell to run a previously created Operation that is based on the same 
table or set as the current browse. The Operation will typically (although not 
necessarily) be filtered on some value from the current record.</p>
<p>When you place this control on a Browse Layout a series of genies appear that 
are essentially identical to the Open Form Browse control, with the exception 
that you specify the Operation name, rather than 
the form to open. See the Open Form Browse Control for more details.</p>
<p>&nbsp;</p>
<h2>'Generic Action' Browse Control</h2>
<p>When you place this control on a Browse Layout a series of genies appear that 
are essentially identical to the Open Form Browse control, with the exception 
that you specify the Xbasic to run, rather than 
the form to open. See the Open Form Browse Control for more details. You can 
either specify the Xbasic code directly, or you can specify the name of a saved 
Xbasic script.</p>
<p>To specify the Xbasic code that should be executed when the button is 
pressed, right click on the column title and select 'Events...' from the menu. 
See 'Editing the Code for a Browse Control' above for&nbsp; more information.</p>
<h2>'Image' Browse Control</h2>
<p>The 'Image' Browse Control allows you to place an image in a browse cell. The 
image can either be the same for every row, or it can be dynamically selected, 
based on the result of an expression that is evaluated using data from the 
current row.</p>
<p>Note: Contrast the 'Image' Browse Control with displaying an 'image field' in 
a browse. In the case of an image field, the table that the browse is based on 
has an image field (i.e. a Jpeg, Bitmap, or Image File Reference field), and 
placing that field in the browse layout will create a column in the browse that 
displays the image in the record. The 'Image' Browse Control, described here, is 
intended for placing icons in browse rows. </p>
<p>The following screen shows an example of a browse with an 'Image' Browse 
Control. The table has a 'rating' field with a value between 0 and 5 for every 
customer. Rather than showing the rating column as a number, we display an icon 
showing the customer rating. </p>
<table border="0" id="table13">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption"><img border="0" src="images/NewInA9.jpg"></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption">Browse showing an Image control in the Rating column.</td>
</tr>
</table>
<p>&nbsp;</p>
<p>When you drop the 'Image' Browse Control on a Browse Layout, the first screen 
of the genie, shown below, allows you to specify if the same image will be used 
for every row, or if the image should be dynamically selected.</p>
<p>&nbsp;</p>
<table border="0" id="table9">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption"><img border="0" src="images/NewInA5.jpg"></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption">The Image control can display a static or 
dynamic image.</td>
</tr>
</table>
<p>&nbsp;</p>
<p>If you choose the 'Dynamically selected image' option, the next Genie screen 
allows you to specify different image names and the corresponding expression for 
each image.</p>
<p>The first image whose expression evaluates to .t. is displayed in the browse 
row.</p>
<p>&nbsp;</p>
<table border="0" id="table10">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption"><img border="0" src="images/NewInA6.jpg"></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top">
<p class="ImageCaption">Specifying a dynamic image.</td>
</tr>
</table>
<p>&nbsp;</p>
<p>For example, to set up the browse shown above with the ratings images, this 
screen was filled in as follows:</p>
<p>&nbsp;</p>
<table id="table14" style="BORDER-COLLAPSE: collapse" cellSpacing="1" cellPadding="3" border="1" width="189">
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
<b>Imge:</b></td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="107" >
<b>Expression</b></td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
stars_0_of_5</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="107" >
Rating=0</td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
stars_1_of_5</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="107" >
Rating=1</td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
stars_2_of_5</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="107" >
Rating=2</td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
stars_3_of_5</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="107" >
Rating=3</td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
stars_4_of_5</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="107" >
Rating=4</td>
</tr>
<tr>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" >
stars_5_of_5</td>
<td style="font-family: Tahoma; font-size: 8pt; vertical-align: top" width="107" >
Rating=5</td>
</tr>
</table>
<p>&nbsp;</p>
<p>Note: 'stars_0_of_5' etc. are built-in Alpha Anywhere images that can be found in 
the 'Addin Images' category when you click the button on the Image field in the 
above screenshot.</p>
<p>&nbsp;</p>
<p><a target="a5video" href="http://www.alphasoftware.com/VideoNewV9/browsesLayoutControlsDynamicIcons.swf">Watch a video demonstration of 
this feature.</a></p>
<p>&nbsp;</p>
<h2>'Text' Browse Control</h2>
<p>The 'Text' Browse Control is similar to the 'Image' control. The difference 
is that instead of specifying an image to display, you specify some text to 
display. Like the 'Image' Browse Control, it allows you to specify static, or 
dynamic text. See the 'Image' Browse Control for more information.</p>
<p>Note: If you have a Browse Column that has just a 'Text' Browse Control in it 
(as opposed to a Browse column with an 'Image' Browse control and a 'Text' 
Browse control, for example), you should consider defining a calculated field to 
display the text. The primary motivation for creating the 'Text' Browse Control 
type is for situations where you place multiple Browse Controls into a single 
Browse column.</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:New+Browse+Controls+V9">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop,review","status":"pending","notes":"Do these browse features show up in existing pages? delete or incoporate?","keywords":"desktop,guide,browse"}--->
</body></html>