	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			<h1>New Browse Methods</h1>
<p>You can now scroll the row with focus to a particular position within the  browse window using the new .Scroll_Current_Row() method.</p>
<p><strong>&nbsp;Syntax:</strong></p>
<p><i>actualRowSet</i> = <<i>browse</i>>.Scroll_Current_Row as n  (<i>row</i> as n)<br />
<br />
<strong>Example</strong></p>
<p>Open the Invoice form in Alphasports. Set focus to the 4th row in the Invoice  Items browse. Then, from the <a href="/Server/Reference/Design/Platform/Xbasic/Reference/Using the Interactive Window.html" title="Using the Interactive Window" class="wiki">Interactive window</a>, type:</p>
<p class="xbasic">? Invoice:browse1.Scroll_Current_Row(1)<br />
1<br />
&nbsp;</p>
<p>The records in the Browse are scrolled and the row with focus (the 4th row),  now becomes the 1st row in the Browse window.</p>
<p>&nbsp;Now, set the Browse window back to its previous state:</p>
<p class="xbasic">? Invoice:browse1.Scroll_Current_Row(4)<br />
4<br />
&nbsp;</p>
<p>Then try to set the current row position to 6. Since this is not possible  (as there are insufficient rows of data in the Browse), 
Alpha Anywhere sets the row  to the highest possible value (4 in this case)</p>
<p class="xbasic">? Invoice:browse1.Scroll_Current_Row(6)<br />
4<br />
<br />
&nbsp;</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:New+Browse+Methods+V10">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA: {"tags":"desktop,review","status":"pending","keywords":"desktop,guide,browse","notes":"'new'","pagename":"Scrolling Browse Methods"} --->
</body></html>