	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1>New Methods</h1>
<p>As a result of the changes to the Browse, the following new methods are  available:</p>
<p><form>.record_at_start([<i>tableAlias</i>]) - returns true if focus is  on the first record in the table</p>
<p><form>.record_at_end([<i>tableAlias</i>]) - returns true if focus is on  the last record in the table.</p>
<p>Example:</p>
<p>Assume you have a button on the Invoice form in Alphasports. This form has  'invoice_items' as a one-to-many child table</p>
<p class="xbasic">topparent.record_at_start("invoice_Items")</p>
<p>&nbsp;Returns .t. if focus is on the first record in the embedded invoice_items  Browse.</p>
<p><b>See also:</b> <a href="../Form/About Forms and Browses.html" title="About Forms and Browses" class="wiki">About Forms and Browses</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:New+Methods+V10">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA: {"tags":"desktop,dbf","status":"pending","keywords":"desktop,guide,dbf","notes":"'new'","pagename":"Table Record Focus Methods","group":"/Desktop/Guide/Design/Data/DBF/"} --->
</body></html>