	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Placing Dynamic Content into Browse Columns</p>



<p>You may place dynamic (computed) content into any column 
 of a browse. The column may contain any combination of the following content:</p>



<ul>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>static text</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>images</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>dynamic text (computed 
 from data in the current row)</p>

</li>
</ul>

<p>To create dynamic content for a browse column:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Open a browse in 
 design mode.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select <span class=Button>Column 
 > Properties</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Display the <span 
 class=Screen>Other</span> tab of the <span class=Screen>Column Properties</span> 
 dialog.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>Edit 
 Display Expression</span> to display the 
	<a href="../Xdialog/Conditional Expression Builder.html" title="Conditional Expression Builder" class="wiki">Conditional Expression Builder</a>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click <span class=Button>OK</span> 
 to save your edits and exit from the <span class=Screen>Column Properties</span> 
 dialog.</p>

</li>
</ol>

<p>Each column of the browse has a <span class=Code1>.displayequation</span> 
 property. This property defines the button format. Here are three examples.</p>



<p class=TableLeft>Alpha Five Version 8 allows you to embed buttons (and 
 their attached Action or Xbasic scripts). This picture shows a browse 
 with two buttons with constant text. You may place one or more buttons 
 into any column of a browse. The button style may contain any combination 
 of:</p>



<ul>
	
	<li class=kadov-p-CTableBullet><p class=TableBullet>static text</p>

</li>
	
	<li class=kadov-p-CTableBullet><p class=TableBullet>graphic</p>

</li>
	
	<li class=kadov-p-CTableBullet><p class=TableBullet>dynamic text (computed 
 from data in the current row)</p>

</li>
</ul>

<p class=TableLeft>Each column of the browse has a <span class=Code1>.displayequation</span> 
 property. This property defines the button format. Here are three examples.</p>



<p class=A5>Dynamic Text</p>



<p class=TableLeft>If the company field is not blank, the button text displays 
 "Edit " plus company name. It the company name is blank, no 
 button appears. Note the custom images in the upper left corner and used 
 for the row picker. </p>



<p class=Pix><img src="images/MK_Browse_with_Button_and_Images.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 669px;
							height: 261px;
							float: none;
							border-style: none;"
					width=669
					height=261
					border=0></p>



<p class=A5>Static and Dynamic Text</p>



<p class=TableLeft>This example shows a combination of static and dynamic 
 text. It displays the company name if it is not blank. </p>



<p class=Pix><img src="images/MK_Browse_with_Button_and_Dynamic_Text.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 711px;
							height: 242px;
							border-style: none;"
					width=711
					height=242
					border=0></p>



<p class=A5>Text and Graphic</p>



<p class=TableLeft>This example shows a combination of static text and 
 icon graphics. </p>



<p class=Pix><img src="images/MK_Browse_with_Button_and_Images2.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 665px;
							height: 251px;
							float: none;
							border-style: none;"
					width=665
					height=251
					border=0></p>



<p class=TableLeft>The icons and buttons have a OnFlyOver style is used 
 for the buttons. They do not look like buttons until you put your mouse 
 over them.</p>





<p class=A5>Limitations</p>



<p>Desktop applications only.</p>



	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Placing+Dynamic+Content+into+Browse+Columns">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,browse,dbf"}--->
</body></html>