	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Placing an Embedded Browse</p>



<p>You can place an embedded browse on a form to display multiple records 
 from a child table in a set, or on a form designed for a single table. 
 By clicking on a row of the browse, the record you click becomes the current 
 one.</p>



<p>To place an embedded browse on a form:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Select the <span 
 class=Button>Browse</span> tool <img src="images/Browse_tool_button.gif"
										x-maintain-ratio=TRUE
										style="border: none;
												width: 22px;
												height: 22px;
												float: none;
												border-style: none;
												border-style: none;"
										width=22
										height=22
										border=0> on the <span class=Screen>Tool 
 Palette</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click and drag the 
 cursor over the area on which you want to place the browse. When you release 
 the mouse button, the <span class=Screen>Browse Object</span> dialog box 
 appears. This version of the dialog box is for a set. The table version 
 does not have to two top radio buttons. </p>

</li>
</ol>

<p class=Pix><img src="images/Placing_an_Embedded_Browse.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 500px;
							height: 450px;
							float: none;
							border-style: none;
							border-style: none;"
					width=500
					height=450
					border=0></p>



<ol start=3>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If the form is based 
 on a set, select one of the two radio buttons at the top of the form. 
 The options are:</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>Top 
 Level Table(s) in Set</span> - the fields of the parent table and any 
 child tables linked one-to-one will be listed</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>One-to-Many 
 Link</span> - the fields of the all child tables linked one-to-many will 
 be listed</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected "One-to-Many 
 Link", select a table from the adjacent list.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>The <span class=Screen>Browse 
 Object</span> dialog box let's you choose either an <span class=Button>Embedded 
 Browse</span> or a <span class=Button>Saved Browse Layout</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected <span 
 class=Button>Embedded Browse</span>,</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select each field 
 that you want to display on the browse in the <span class=Control>Available 
 Fields</span> list and click <img src="images/Move_Right_Button.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 22px;
											height: 22px;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=22
									border=0> to add it to the <span class=Control>Selected 
 Fields</span> list. Click <img src="images/Move_Last_Button_2.gif"
								x-maintain-ratio=TRUE
								style="border: none;
										width: 22px;
										height: 22px;
										float: none;
										border-style: none;
										border-style: none;"
								width=22
								height=22
								border=0> to add all fields to the browse.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Select each field 
 that you want to remove from the browse in the <span class=Control>Selected 
 Fields</span> list and click <img src="images/Move_Left_Button.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 22px;
											height: 22px;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=22
									border=0>. Click <img src="images/Move_First_Button_3.gif"
															x-maintain-ratio=TRUE
															style="border: none;
	width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
															width=22
															height=22
															border=0> to 
 remove all fields from the browse.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Use the <img src="images/Move_First_button.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>, <img src="images/Move_Up_Button.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 22px;
							height: 22px;
							float: none;
							border-style: none;
							border-style: none;"
					width=22
					height=22
					border=0>, <img src="images/Move_Down_Button.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 22px;
											height: 22px;
											float: none;
											border-style: none;
											border-style: none;"
									width=22
									height=22
									border=0>, and <img src="images/Move_Last_button.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
														width=22
														height=22
														border=0> buttons 
 to reorganize the fields within a browse.</p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you selected <span 
 class=Button>Saved Browse Layout</span> , make a selection from the adjacent 
 list available browses. When you choose this option, the entire saved 
 browse layout is displayed on the form.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>After making a selection, 
 the browse appears and the <span class=Screen>Browse Editor</span> is 
 activated. To exit the <span class=Screen>Browse Editor</span>, click 
 outside of the browse. To enter the <span class=Screen>Browse Editor</span> 
 again, double click on the browse.</p>

</li>
</ol>

<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : For instructions 
 on editing a browse, refer to Browse Overview.</p>



<p class=A5><a name=Using_an_Embedded_Browse_with_a_Single_Table>Using 
 an Embedded Browse with a Single Table</a></p>



<p>Suppose you have a table of products. Each record represents one product. 
 You could use a browse to display products on the form. By clicking a 
 product in the browse, the record becomes active and the form displays 
 more detailed information about the record you selected. </p>



<p class=Pix><img src="images/Embedded_Browse_Table.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 435px;
							height: 234px;
							border-style: none;
							border-style: none;"
					width=435
					height=234
					border=0></p>



<p class=A5><a name=Using_an_Embedded_Browse_with_a_Set>Using an Embedded 
 Browse with a Set</a></p>



<p>Suppose you have a form which displays invoice information from a set. 
 On the top of the form you have placed fields describing the invoice, 
 such&nbsp;as&nbsp;the invoice number and the date. Next to them you place 
 fields containing the customer number and the customer's billing information. 
 Below you place a browse containing the invoice line-items.</p>



<p>As you move from record-to-record (invoice-to-invoice), the line items 
 change so that you always see the line-items for the current invoice. 
 </p>



<p class=Pix><img src="images/UG_Embedded_Browse_Set.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							float: none;
							width: 665px;
							height: 213px;
							border-style: none;
							border-style: none;"
					width=665
					height=213
					border=0></p>



<p class=A5>See Also</p>



<p><a href="../Layout Control/Using the Toolbox Panel.html" title="Using the Toolbox Panel" class="wiki">Using the Toolbox</a>, <a href="../../Data/FieldRules/Placing a Data Field on a Form.html" title="Placing a Data Field on a Form" class="wiki">Placing   a Field on a Form</a>, <a href="../../../../Reference/Design/View/Browse/Embedded Browse Properties.html" title="Embedded Browse Properties" class="wiki">Embedded   Browse Properties</a></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Placing+an+Embedded+Browse">-->


	 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,browse"}--->
</body></html>