	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Selectively Hiding Browse Columns</p>



<p>If you want to interactively change the columns that appear in an embedded 
 browse, you can selectively change column widths to zero. To start with, 
 we define two session variables. </p>



<p class=Pix><img src="images/Browse_2_columns_variables.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 374px;
							height: 79px;
							float: none;
							border-style: none;
							border-style: none;"
					width=374
					height=79
					border=0></p>



<p>A script attached to the <span class=Code1>OnInit</span> event of the 
 form captures the widths of the <span class=Code1>first_name</span> and 
 <span class=Code1>last_name</span> columns into <span class=Code1>b1c1</span> 
 and <span class=Code1>b1c2</span>.</p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>b1c1 = Topparent:Browse1:first_name.object.width</p>


<p class=Code>b1c2 = Topparent:Browse1:last_name.object.width</td></tr>
</table>

<p>The following shows the original unmodified form. </a></p>



<p class=Pix><img src="images/Browse_2_columns.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 447px;
							height: 368px;
							float: none;
							border-style: none;
							border-style: none;"
					width=447
					height=368
					border=0></p>



<p>A script attached to the <span class=Code1>OnPush</span> event of the 
 <span class=Button>Hide Firstname</span> button sets the width of the 
 <span class=Code1>first_name</span> column to zero and restores the width 
 of the <span class=Code1>last_name</span> column. </a></p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>Topparent:Browse1:first_name.object.width = 0</p>


<p class=Code>Topparent:Browse1:last_name.object.width = b1c2</td></tr>
</table>

<p class=Pix><img src="images/Browse_2_columns_lastname.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 447px;
							height: 369px;
							float: none;
							border-style: none;
							border-style: none;"
					width=447
					height=369
					border=0></p>



<p>A second script attached to the <span class=Code1>OnPush</span> event 
 of the <span class=Button>Hide Lastname</span> button sets the width of 
 the <span class=Code1>last_name</span> column to zero and restores the 
 width of the <span class=Code1>first_name</span> column. </a></p>




<table class="codeTable" style="x-cell-content-align: top;
				border-left-style: None;
				border-right-style: None;
				border-top-style: None;
				border-bottom-style: None;
				width: 100%;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0" width="100%">
<col style="width: 100%;">

<tr style="x-cell-content-align: top;" valign="top">
<td style="x-cell-content-align: top;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;" valign="top" width="100%">
<p class=Code>Topparent:Browse1:last_name.object.width = 0</p>


<p class=Code>Topparent:Browse1:first_name.object.width = b1c1</td></tr>
</table>

<p class=Pix><img src="images/Browse_2_columns_firstname.gif"
					x-maintain-ratio=TRUE
					style="border: none;
							width: 447px;
							height: 369px;
							float: none;
							border-style: none;
							border-style: none;"
					width=447
					height=369
					border=0></p>



<p class=A5>See Also</p>



<p><a href="../../../../Reference/Design/View/Xdialog/Controls/Tabbed Control Properties.html" title="Tabbed Control Properties" class="wiki">Tabbed Control   Properties</a></p>


	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Selectively+Hiding+Browse+Columns">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop","keywords":"desktop,guide,browse"}--->
</body></html>