	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext nopagetitle">
			
		
		
		
		
			 

	
			

<h1>Using a Browse</h1>
<h3>Table of Contents</h3>

<div class="helpserver_toc">
<ul>
	<li>
		<a href="#Opening a Browse">Opening a Browse</a>
	</li>
	<li>
		<a href="#Opening the Default Browse">Opening the Default Browse</a>
	</li>
	<li>
		<a href="#Changing the Browse Appearance">Changing the Browse&nbsp;Appearance</a>
	</li>
	<li>
		<a href="#Resizing Columns and Rows">Resizing Columns and Rows</a>
	</li>
	<li>
		<a href="#Rearranging Columns">Rearranging Columns</a>
	</li>
	<li>
		<a href="#Splitting a Browse">Splitting a Browse</a>
	</li>
	<li>
		<a href="#Navigating Within a Browse">Navigating Within a Browse</a>
	</li>
	<li>
		<a href="#Entering and Changing Data in a Browse">Entering and Changing Data in a Browse</a>
	<ul>
		<li>
			<a href="#Adding a New Record">Adding a New Record</a>
		</li>
		<li>
			<a href="#Find and Replace">Find and Replace</a>
		</li>

	</ul>
	</li>
	
	<li>
		<a href="#Undoing and Cancelling Changes">Undoing and Cancelling Changes</a>
	</li>
	<li>
		<a href="#Saving Records">Saving Records</a>
	</li>
	<li>
		<a href="#Deleting and Undeleting Records">Deleting and Un-deleting Records</a>
	</li>
	<li>
		<a href="#Cutting, Copying, and Pasting Records and Fields">Cutting, Copying, and Pasting Records and Fields</a>
	</li>
	<li>
		<a href="#Copying a Record to the Clipboard">Copying a Record to the Clipboard</a>
	</li>
	<li>
		<a href="#Pasting a Record from the Clipboard">Pasting a Record from the Clipboard</a>
	</li>
	<li>
		<a href="#Copy Previous Record and Copy Previous Field">Copy Previous Record and Copy Previous Field</a>
	</li>
	<li>
		<a href="#Other Common User Functions">Other Common User Functions</a>
	</li>

</ul>
</div>

	<p class=A5><a name="Opening a Browse">Opening a Browse</a></p>



<p>When viewing records in a browse, you can navigate from record to record 
 and from field to field, resize rows and columns, re-arrange columns, 
 split the browse, set record ordering within the browse, or open a different 
 Browse.</p>



<ol>
	
	<li ><p class=ListNumber>Click the Browses 
 tab in the Control Panel, and double-click a 
 browse to open it.</p>

</li>
</ol>

<p class=A5><a name="Opening the Default Browse">Opening the Default Browse</a></p>



<p>The Default Browse displays a browse containing 
 all the information from a table.</p>



<p>To open the Default Browse from the Control Panel :</p>



<ol>
	
	<li ><p class=ListNumber>Click the Tables/Sets 
 tab in the Control Panel.</p>

</li>
	
	<li ><p class=ListNumber>Right-click a table 
 and select Open Default Browse from the menu.</p>

</li>
</ol>

<p>To open the Default Browse while viewing a 
 form, click the Browse View button <img src="images/Browse_View_button.gif"
	x-maintain-ratio=TRUE
	style="width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>&nbsp;on the toolbar or press F8.</p>



<p class=A5><a name="Changing the Browse Appearance">Changing the Browse&nbsp;Appearance</a></p>



<p>While viewing records in a browse, you can resize rows and columns, 
 re-arrange columns, split the browse to view&nbsp;as&nbsp;many&nbsp;as&nbsp;four 
 different areas in the same window, and show only parent records from 
 a set.</p>



<p class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note : Appearance modifications 
 remain in the browse only&nbsp;as&nbsp;long&nbsp;as&nbsp;the browse is 
 open; once you close the browse or change to form view, the settings are 
 reset to their default values.</p>



<p class=A5><a name="Resizing Columns and Rows">Resizing Columns and Rows</a></p>



<p>You resize rows and columns in a browse by dragging the horizontal or 
 vertical sizing handles. The sizing handles appear when the mouse hovers 
 over the top or left border of the browse. When the pointer becomes a 
 horizontal or vertical sizing handle, you can drag the column or row border 
 to a desired size.  
 </p>



<p class=Pix><img src="images/UG_Vertical_Sizing_Handle.gif"
					style="width: 102px;
							height: 88px;
							border-style: none;
							border-style: none;"
					width=102
					height=88
					border=0></p>



<p class=PixCaption>Vertical Sizing Handle</p>



<p class=Pix><img src="images/UG_Horizontal_Sizing_Handle.gif"
					style="width: 102px;
							height: 88px;
							border-style: none;
							border-style: none;"
					width=102
					height=88
					border=0></p>



<p class=PixCaption>Horizontal Sizing Handle</p>



<p>If you want to resize a column that fills the entire window, click the 
 column's title and press CTRL LEFT. Move left 
 or right until the column divider is in the desired position.</p>



<p class=A5><a name="Rearranging Columns">Rearranging Columns</a></p>



<p>To rearrange browse columns:</p>



<ol>
	
	<li ><p class=ListNumber>Click the title of 
 the column you want to move, which selects the entire column.</p>

</li>
	
	<li ><p class=ListNumber>Click and hold in 
 the title of the column again and the Column Reordering 
 Bar appears.</p>

</li>
	
	<li ><p class=ListNumber>Drag the column to 
 a new position, and release. </p>

</li>
</ol>

<p class=Pix><img src="images/UG_Browse_Column_Reordering.gif"
					style="width: 164px;
							height: 120px;
							border-style: none;
							border-style: none;"
					width=164
					height=120
					border=0></p>



<p class=PixCaption>The Column Reordering Bar</p>



<p class=A5><a name="Splitting a Browse">Splitting&nbsp;a Browse</a></p>



<p>Splitting a browse lets you view the multiple copies of the same browse 
 in the same window, side-by-side. This can be helpful when a browse is 
 wider than the screen, or when you want to work in different areas of 
 the browse simultaneously. You can split a browse up to three times for 
 a total of four sections. </p>



<p class=Pix><img src="images/UG_Browse_splitting_handle.gif"
					style="width: 54px;
							height: 58px;
							border-style: none;
							border-style: none;"
					width=54
					height=58
					border=0></p>



<p class=PixCaption>Browse Splitting Handle</p>



<p>To split a Browse:</p>



<ol>
	
	<li ><p class=ListNumber>Move the mouse over 
 the left edge of the browse window.</p>

</li>
	
	<li ><p class=ListNumber>When the Browse 
 Splitting Handle appears, click and drag the splitting bar to the 
 right, to where you want to divide the Browse.</p>

</li>
	
	<li ><p class=ListNumber>Repeat the process 
 to split the browse up to three times. </p>

</li>
</ol>

<p class=Pix><img src="images/Split_Browse.gif"
					style="width: 678px;
							height: 146px;
							border-style: none;
							border-style: none;"
					width=678
					height=146
					border=0></p>



<p class=PixCaption>A Split Browse</p>



<p class=A5><a name="Navigating Within a Browse">Navigating&nbsp;Within a 
 Browse</a></p>



<p>You can navigate within a browse using the keyboard and mouse. Scroll 
 through records horizontally and vertically to display additional records 
 and fields. The Browse View toolbar at the top 
 of the browse has navigation buttons for switching records, and a record 
 selector to go directly to a specified record number.</p>



<p class=Pix><img src="images/Browse_View_Toolbar.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 874px;
							height: 28px;
							border-style: none;
							border-style: none;"
					width=874
					height=28
					border=0></p>



<p class=PixCaption>Browse View Toolbar</p>



<p>The table below explains each navigation button:</p>




<div align=center>
<table style="border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				float: aligncenter;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHeadCenter>Button</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Action</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_First_Button_2.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the first record in the table.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_Previous_Button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move back one record. To scroll backward, click and 
 hold.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_Next_Button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move forward one record. To scroll forward, click and 
 hold.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_Last_Button_2.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the last record in the table.</td></tr>
</table>
</div>
<p>To move the cursor from field-to-field or object-to-object within a 
 Browse, either click in the field to activate it, or use the following 
 keyboard commands:</p>




<div align=center>
<table style="x-cell-content-align: Top;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				float: aligncenter;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Keystroke</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Action</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>UP ARROW&nbsp;</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the previous record</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>DOWN ARROW</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the next record</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>LEFT ARROW</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move left one field</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>RIGHT ARROW</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move right one field</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>F8</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Switch between form and browse mode</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>PAGE UP</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move up one screen of records</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>PAGE DOWN</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move down one screen of records</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>HOME or CTRL LEFT</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the first field in the current record</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>END or CTRL RIGHT</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the last field in the current record</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>ENTER</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the next field</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>TAB</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the next field</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>CTRL HOME</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the first record in the table</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>CTRL END</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the last record in the table</td></tr>
</table>
</div>
<p class=Pix><img src="images/Record_Selector.gif"
					style="border: none;
							width: 56px;
							height: 30px;
							border-style: none;
							border-style: none;"
					width=56
					height=30
					border=0></p>



<p class=PixCaption>Record Selector</p>



<p>You can also use the Record Selector to quickly 
 navigate to a particular record. Type a record number in the Record 
 Selector field and press ENTER.</p>



<p class=A5><a name="Entering and Changing Data in a Browse">Entering and 
 Changing Data in a Browse</a></p>



<p>To enter or change the value in any field:</p>



<ol>
	
	<li ><p class=ListNumber>Place the cursor 
 in the field and start typing. If the current field value is highlighted, 
 it will be replaced. Otherwise, the typed text is inserted at the cursor 
 location.</p>

</li>
	
	<li ><p class=ListNumber>Double-click on the 
 field or press F2 to create an insertion point.</p>

</li>
	
	<li ><p class=ListNumber>If you are unable 
 to enter or change data, make sure Browse > Allow 
 Edits is checked. Allow 
 Edits enables and disables data entry, and can be used&nbsp;as&nbsp;a 
 safety switch to prevent overwriting field values.</p>

</li>
</ol>

<a name="Adding a New Record">Adding a New 
 Record</a> </p>



<p>To add a new record, you need to open a blank record. 
 Do any of the following to open a blank record:</p>



<ol>
	
	<li>Click 
 the New Record&nbsp;button <img src="images/New_Record_Button.gif"
															x-maintain-ratio=TRUE
															style="width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
															width=22
															height=22
															border=0>&nbsp;on 
 the toolbar.</p>

</li>
	
	<li>Select 
 Records > Enter New Record.</p>

</li>
	
	<li>Use 
 the keystroke:CTRL E.</p>

</li>
	
	<li>Navigate 
 to the last record in the table and press Enter.</p>

</li>
</ol>

<p>Once your new, blank record appears, you may begin 
 entering data into the record. The new record is added to the end of the 
 table.</p>



<p><a name="Find and Replace">Find and Replace</a></p>



<p>You can use the Find and Replace 
 dialog box to find a text value in a record, by searching in just the 
 current record, or in multiple Alpha Anywhere records, and replace the found 
 text with different text.</p>



<ol>
	
	<li>To 
 use Find and Replace when viewing a form or browse, select Edit 
 > Find and Replace.</p>

</li>
	
	<li>Display 
 the Replace tab if you want to replace text.</p>

</li>
	
	<li>Enter 
 the text to find in Find What.</p>

</li>
	
	<li>Optionally, enter the text 
	to replace in Replace With.</p>

</li>
	
	<li>Optionally, 
 limit the search by selecting "Current Record" or "Current 
 Field" in the Where to Search group.</p>

</li>
	
	<li></li>Optionally, 
 refine how you are searching by checking the Match 
 Case check box.</p>

</li>
	
	<li>You 
 can further refine your search by selecting "Whole Words" or 
 "Beginning of Field" in the What to Match 
 group.</p>

</li>
	
	<li>Select 
 "Backward" in the Direction list 
 to search backwards.</p>

</li>
	
	<li>Click 
 Find Next to move the cursor to the next occurrence.</p>

</li>
	
	<li>Click 
 Replace if you want to replace a single occurrence. 
 The cursor moves automatically to the next occurrence.</p>

</li>
	
	<li>Click 
 Replace All if you want to replace all occurrences.</p>

</li>
	
	<li>Click 
 Cancel to exit.</p>

</li>
</ol>

<p>You can confirm each replacement before it is made.</p>



<p class=A5><a name="Undoing and Cancelling Changes">Undoing&nbsp;and 
 Cancelling Changes</a></p>



<p>The undo command lets you reverse the most recent 
 changes made to a field.</p>



<p>Use any of the following to undo recent changes:</p>



<ol>
	
	<li>Click 
 the Cancel Changes button <img src="images/Cancel_Changes_button.gif"
															x-maintain-ratio=TRUE
															style="width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
															width=22
															height=22
															border=0>&nbsp;on 
 the toolbar.</p>

</li>
	
	<li>Click 
 Edit > Undo.</p>

</li>
	
	<li>Press 
 ESCAPE.</p>

</li>
</ol>

<p>You can only undo changes to a field while the cursor is 
still in that field. Once you leave (navigate away from) the field, changes are 
saved and undo won't work. Also, you can only undo changes to a field while the 
cursor remains in the field. Once you move to a different field, the Undo 
operation won't work.</p>



<p>However,&nbsp;as&nbsp;long&nbsp;as&nbsp;you are still viewing the same record, 
clicking the Cancel Changes 
 button (or ESCAPE ) will undo all changes to the 
record.</p>



<p class=A5><a name="Saving Records">Saving Records</a></p>



<p>Any changes made to a record (including entering 
 a new record) are saved when you leave the record. For example, if you 
 change a field value and press the Next button, 
 Alpha Anywhere saves the changes you made to the previous record.</p>



<p>To save changes while viewing a record, click the 
 Save Record button <img src="images/Save_Record_button.gif"
													x-maintain-ratio=TRUE
													style="width: 22px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=22
													height=22
													border=0>&nbsp;on the 
 toolbar or press F9.</p>



<p class=A5><a name="Deleting and Undeleting Records">Deleting&nbsp;and 
 Undeleting Records</a></p>



<p>To delete records from a form or a browse:</p>



<ol>
	
	<li>If 
 in a browse, select the records by dragging the Row 
 Selector on the left edge of the screen.</p>

</li>
	
	<li>Press 
 CTRL D or select Edit > 
 Delete.</p>

</li>
</ol>

<p class=Note><img src="images/icon_warning.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 37px;
	height: 33px;
	float: none;
	border-style: none;
	border-style: none;"
														width=37
														height=33
														border=0>Note 
 : After a <a href="../Database/Compacting the Database.html" title="Compacting the Database" class="wiki">Pack</a> operation, records 
 cannot be recovered.</p>



<p>You can un-delete records in a table or set, if the 
 table or set has not yet been packed. Right-click on the table or set 
 and select the Utilities > Undelete Records... 
 .</p>



<p class=A5><a name="Cutting, Copying, and Pasting Records and Fields">Cutting, 
 Copying, and Pasting Records and Fields</a></p>



<p>You can perform cut and paste operations on records 
 in a Browse, and also use cut and paste to transfer data from Alpha Anywhere 
 into other Windows applications (like Word or 
 Excel ). Likewise, you can perform cut and paste 
 operations in other Windows applications to transfer data into an Alpha 
Anywhere Browse. </p>



<p class=Pix><img src="images/Selecting_Browse_Records.gif"
									style="width: 412px;
											height: 265px;
											border-style: none;
											border-style: none;"
									width=412
									height=265
									border=0></p>



<p class=PixCaption>Selecting Records</p>



<p>To use the Cut and Paste commands:</p>



<ol>
	
	<li>Select 
 records in a browse by dragging across the Row Selector 
 <img src="images/Record_Selector_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				float: none;
				width: 22px;
				height: 22px;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0> on the left side of the browse window.</p>

</li>
	
	<li>Click 
 the Cut <img src="images/Cut_button.gif"
										x-maintain-ratio=TRUE
										style="width: 22px;
												height: 22px;
												float: none;
												border-style: none;
												border-style: none;"
										width=22
										height=22
										border=0>&nbsp;or Copy 
 <img src="images/Copy_button.gif"
		x-maintain-ratio=TRUE
		style="width: 22px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0>&nbsp;button on the toolbar.</p>

</li>
	
	<li>Select 
 the area in which you want to place the information, and click the Paste <img src="images/Paste_button.gif"
								x-maintain-ratio=TRUE
								style="width: 22px;
										height: 22px;
										float: none;
										border-style: none;
										border-style: none;"
								width=22
								height=22
								border=0> button on the toolbar.</p>

</li>
</ol>

<p class=A5><a name="Copying a Record to the Clipboard">Copying 
 a Record to the Clipboard</a></p>



<p>The Edit > Copy Record to Clipboard 
 command lets you paste the record on the clipboard into the current record, 
 or&nbsp;as&nbsp;a new record. The clipboard can contain multiple entries.</p>



<p class=A5><a name="Pasting a Record from the Clipboard">Pasting 
 a Record from the Clipboard</a></p>



<p>The Edit > Paste&nbsp;as&nbsp;New 
 Record creates a new record from the last copied record.</p>



<p>The Edit > Paste to Current 
 Record overwrites the current record with the last copied record.</p>



<p>The Edit > Paste Special 
 command lets you paste any one of the multiple entries on the clipboard. 
 In the dialog shown, there are three entries on the clipboard. </p>



<p class=Pix><img src="images/Record_Clipboard_Entries.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 353px;
											height: 120px;
											float: none;
											border-style: none;
											border-style: none;"
									width=353
									height=120
									border=0></p>



<p>As you select each entry with your cursor, the dialog 
 box shows the fields of the record in the Fields 
 list. Select any field in the Fields list and 
 the dialog shows you its type, width, and decimal places.</p>



<ol>
	
	<li>Select 
 an entry from the clipboard.</p>

</li>
	
	<li>Select 
 one of the Paste Options :</p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Paste 
 into current record" or "Paste&nbsp;as&nbsp;New record"</p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1>"Paste 
 all fields" or "Paste selected fields"</p>

</li>
	</ul>
	
	<li>If 
 you selected "Paste selected fields", click <img src="images/Choices_button.gif"
															x-maintain-ratio=TRUE
															style="border: none;
	width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
															width=22
															height=22
															border=0> to 
 display the Select Fields dialog box.</p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Place 
 check marks next to each field that you want to paste.</p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha>Click 
 OK to return to the Record 
 Clipboard.</p>

</li>
	</ol>
	
	<li>Click 
 OK to paste or Cancel 
 to quit.</p>

</li>
</ol>

<p class=A5><a name="Copy Previous Record and Copy Previous Field">Copy 
 Previous Record and Copy Previous Field</a></p>



<p>When the cursor is on a field in a new record, the 
 Edit > Copy Previous Field command copies 
 the value for the corresponding field in the last viewed record. For repetitive 
 data entry, this action is handy when there are duplicate fields. For 
 example, entering records for multiple people at the same company, might 
 involve the same address repeatedly. This command lets the user easily 
 copy the information.</p>



<p>When the cursor is on any field in a new record, 
 the Edit > Copy Previous Record command copies 
 and pastes all the fields from the last viewed record.</p>



<p class=A5><a name="Other Common User Functions">Other 
 Common User Functions</a></p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../../Data/DBF/Speed Typing.html" title="Speed Typing" class="wiki">Speed   Typing</a> is a shortcut for entering frequently used values.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../../../../Reference/Design/View/Form/Shortcut Keys.html" title="Shortcut Keys" class="wiki">Shortcut   Keys</a> allow access to menu commands with a single keystroke.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Find 
 and Replace a text value in a record or in multiple Alpha Anywhere records.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../../Data/DBF/Duplicating a Record.html" title="Duplicating a Record" class="wiki">Duplicating   a Record</a> is useful when you have repetitive data.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>You 
 can <a href="../../Print/Print Current Record.html" title="Print Current Record" class="wiki">print or email records</a> from 
 within form or browse view.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The 
 Print Layout Genie lets you print, preview, email, or save to a file all 
 the records in the current table or set, using any of the layouts that 
 have been defined for that table or set.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The 
 <a href="../../Print/Print Genie.html" title="Print Genie" class="wiki">Print Genie</a> lets you select and order, and 
 then print, preview, email, or save to a file records from the current 
 table or set, using any of the layouts that have been defined for that 
 table or set.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>If you 
 deleted records in error, this is how to <a href="../../Data/DBF/Undeleting Records.html" title="Undeleting Records" class="wiki">Undelete   Records</a>.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Alpha Anywhere writes out an ASCII file which is an <a href="../../Data/DBF/Using the Audit Trail Feature.html" title="Using the Audit Trail Feature" class="wiki">Audit   Trail</a> of all changes made to a record. The audit trail shows the date 
 and time of the change, the original value in the field, and the new value 
 in the field.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The Alpha Anywhere <a href="../Database/Using the Spell Check.html" title="Using the Spell Check" class="wiki">Spell Checker</a> lets you check 
 the current record, the current selection of records, or the current field.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The 
 <a href="../../Data/FieldRules/Using Field Statistics.html" title="Using Field Statistics" class="wiki">Field Statistics</a> window displays several 
 different statistics for a field, such&nbsp;as&nbsp;total, average, minimum 
 and maximum.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The 
 <a href="../Form/Follow Changes and Enters.html" title="Follow Changes and Enters" class="wiki">Follow Changes and Enters</a> 
 function repositions the record pointer when you change or add a key value 
 in the current index.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>Alpha Anywhere provides a variety of tools for <a href="../../Data/FieldRules/Sorting and Selecting Overview.html" title="Sorting and Selecting Overview" class="wiki">finding,   selecting, and ordering</a> records. You can perform powerful and complex 
 searches to group your data into lists that match your specific criteria.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The 
 <a href="../Form/Query/Query Genie.html" title="Query Genie" class="wiki">Query Genie</a> lets you create powerful search 
 and sort operations by navigating through easy-to-understand dialog boxes. 
 It is perhaps the easiest way for an inexperienced user to define complex 
 searches of their database.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The 
 &nbsp;<a href="../Form/Query/Query by Expression.html" title="Query by Expression" class="wiki">Query   by Expression</a> dialog box is available when viewing both forms and 
 browses, and lets you filter and sort records by directly entering filter 
 and order expressions.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><a href="../Form/Query/Multi-Select Queries.html" title="Multi-Select Queries" class="wiki">Multi-Select   Queries</a> provides a technique for building queries that select a set 
 of records by record number.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The 
 <a href="../Form/Query/Special Queries.html" title="Special Queries" class="wiki">Select Filter</a> dialog box lets quickly 
 perform one of several pre-defined queries.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The 
 <a href="../Form/Using the Navigator.html" title="Using the Navigator" class="wiki">Navigator</a> is a dialog box that displays all 
 the fields on a form or browse in a tree control. With the Navigator 
 you can instantly navigate to any field on the form or browse.</p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1>The 
 <a href="../../../../Reference/Design/View/Form/Quick Export to Excel.html" title="Quick Export to Excel" class="wiki">Quick Export to Excel</a> command 
 exports the current selection of records in the current form or browse 
 to Excel and opens Excel 
 with the records loaded into a new worksheet.</p>

</li>
</ul>

<p class=A5>See Also</p>



<p><a href="../Form/Using a Form.html" title="Using a Form" class="wiki">Using a Form</a></p>



<p class=A5></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+a+Browse">-->


	<div class="wikitopline" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description">

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,browse"}--->
</body></html>