	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			

<p class=A3Topic>Using a Browse</p>



<p class=A5><a name=Opening_an_Existing_Browse>Opening a Browse</a></p>



<p>When viewing records in a browse, you can navigate from record to record 
 and from field to field, resize rows and columns, re-arrange columns, 
 split the browse, set record ordering within the browse, or open a different 
 Browse.</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Browses</span> 
 tab in the <span class=Screen>Control Panel</span>, and double-click a 
 browse to open it.</p>

</li>
</ol>

<p class=A5><a name=Opening_the_Default_Browse>Opening the Default Browse</a></p>



<p>The <span class=Screen>Default Browse</span> displays a browse containing 
 all the information from a table.</p>



<p>To open the <span class=Screen>Default Browse</span> from the <span 
 class=Screen>Control Panel</span> :</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the <span class=Button>Tables/Sets</span> 
 tab in the <span class=Screen>Control Panel</span>.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Right-click a table 
 and select <span class=Button>Open Default Browse</span> from the menu.</p>

</li>
</ol>

<p>To open the <span class=Screen>Default Browse</span> while viewing a 
 form, click the <span class=Button>Browse View</span> button <img src="images/Browse_View_button.gif"
	x-maintain-ratio=TRUE
	style="width: 22px;
			height: 22px;
			float: none;
			border-style: none;
			border-style: none;"
	width=22
	height=22
	border=0>&nbsp;on the toolbar or press <span class=Button>F8</span>.</p>



<p class=A5><a name=Changing_the_Browse_Appearance>Changing the Browse&nbsp;Appearance</a></p>



<p>While viewing records in a browse, you can resize rows and columns, 
 re-arrange columns, split the browse to view&nbsp;as&nbsp;many&nbsp;as&nbsp;four 
 different areas in the same window, and show only parent records from 
 a set.</p>



<p class=Note><span class=Note><img src="images/icon_warning.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 37px;
											height: 33px;
											float: none;
											border-style: none;
											border-style: none;"
									width=37
									height=33
									border=0>Note</span> : Appearance modifications 
 remain in the browse only&nbsp;as&nbsp;long&nbsp;as&nbsp;the browse is 
 open; once you close the browse or change to form view, the settings are 
 reset to their default values.</p>



<p class=A5><a name=Resizing_Columns_and_Rows>Resizing&nbsp;Columns and 
 Rows</a></p>



<p>You resize rows and columns in a browse by dragging the horizontal or 
 vertical sizing handles. The sizing handles appear when the mouse hovers 
 over the top or left border of the browse. When the pointer becomes a 
 horizontal or vertical sizing handle, you can drag the column or row border 
 to a desired size.  
 </p>



<p class=Pix><img src="images/UG_Vertical_Sizing_Handle.gif"
					style="width: 102px;
							height: 88px;
							border-style: none;
							border-style: none;"
					width=102
					height=88
					border=0></p>



<p class=PixCaption>Vertical Sizing Handle</p>



<p class=Pix><img src="images/UG_Horizontal_Sizing_Handle.gif"
					style="width: 102px;
							height: 88px;
							border-style: none;
							border-style: none;"
					width=102
					height=88
					border=0></p>



<p class=PixCaption>Horizontal Sizing Handle</p>



<p>If you want to resize a column that fills the entire window, click the 
 column's title and press <span class=Button>CTRL LEFT</span>. Move left 
 or right until the column divider is in the desired position.</p>



<p class=A5><a name=Rearranging_Columns>Rearranging&nbsp;Columns</a></p>



<p>To rearrange browse columns:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click the title of 
 the column you want to move, which selects the entire column.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Click and hold in 
 the title of the column again and the <span class=Bolded>Column Reordering 
 Bar</span> appears.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Drag the column to 
 a new position, and release. </p>

</li>
</ol>

<p class=Pix><img src="images/UG_Browse_Column_Reordering.gif"
					style="width: 164px;
							height: 120px;
							border-style: none;
							border-style: none;"
					width=164
					height=120
					border=0></p>



<p class=PixCaption>The Column Reordering Bar</p>



<p class=A5><a name=Splitting_a_Browse>Splitting&nbsp;a Browse</a></p>



<p>Splitting a browse lets you view the multiple copies of the same browse 
 in the same window, side-by-side. This can be helpful when a browse is 
 wider than the screen, or when you want to work in different areas of 
 the browse simultaneously. You can split a browse up to three times for 
 a total of four sections. </p>



<p class=Pix><img src="images/UG_Browse_splitting_handle.gif"
					style="width: 54px;
							height: 58px;
							border-style: none;
							border-style: none;"
					width=54
					height=58
					border=0></p>



<p class=PixCaption>Browse Splitting Handle</p>



<p>To split a Browse:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Move the mouse over 
 the left edge of the browse window.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>When the <span class=Bolded>Browse 
 Splitting Handle</span> appears, click and drag the splitting bar to the 
 right, to where you want to divide the Browse.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Repeat the process 
 to split the browse up to three times. </p>

</li>
</ol>

<p class=Pix><img src="images/Split_Browse.gif"
					style="width: 678px;
							height: 146px;
							border-style: none;
							border-style: none;"
					width=678
					height=146
					border=0></p>



<p class=PixCaption>A Split Browse</p>



<p class=A5><a name=Navigating_Within_a_Browse>Navigating&nbsp;Within a 
 Browse</a></p>



<p>You can navigate within a browse using the keyboard and mouse. Scroll 
 through records horizontally and vertically to display additional records 
 and fields. The <span class=Screen>Browse View</span> toolbar at the top 
 of the browse has navigation buttons for switching records, and a record 
 selector to go directly to a specified record number.</p>



<p class=Pix><img src="images/Browse_View_Toolbar.gif"
					x-maintain-ratio=TRUE
					style="float: none;
							width: 874px;
							height: 28px;
							border-style: none;
							border-style: none;"
					width=874
					height=28
					border=0></p>



<p class=PixCaption>Browse View Toolbar</p>



<p>The table below explains each navigation button:</p>




<div align=center>
<table style="border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				float: aligncenter;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHeadCenter>Button</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Action</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_First_Button_2.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the first record in the table.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_Previous_Button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move back one record. To scroll backward, click and 
 hold.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_Next_Button.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move forward one record. To scroll forward, click and 
 hold.</td></tr>

<tr>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableCenter><img src="images/Move_Last_Button_2.gif"
							x-maintain-ratio=TRUE
							style="width: 22px;
									height: 22px;
									float: none;
									border-style: none;
									border-style: none;"
							width=22
							height=22
							border=0></td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the last record in the table.</td></tr>
</table>
</div>
<p>To move the cursor from field-to-field or object-to-object within a 
 Browse, either click in the field to activate it, or use the following 
 keyboard commands:</p>




<div align=center>
<table style="x-cell-content-align: Top;
				border-left-style: none;
				border-right-style: none;
				border-top-style: none;
				border-bottom-style: none;
				float: aligncenter;
				border-spacing: 0px;
				border-spacing: 0px;" cellspacing="0">
<col>
<col>

<tr style="x-cell-content-align: top;" valign="top">
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Keystroke</td>
<td class="tableHeader" style="x-cell-content-align: top;" valign="top">
<p class=TableHead>Action</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>UP ARROW&nbsp;</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the previous record</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>DOWN ARROW</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the next record</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>LEFT ARROW</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move left one field</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>RIGHT ARROW</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move right one field</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>F8</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Switch between form and browse mode</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>PAGE UP</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move up one screen of records</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>PAGE DOWN</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move down one screen of records</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>HOME or CTRL LEFT</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the first field in the current record</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>END or CTRL RIGHT</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the last field in the current record</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>ENTER</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the next field</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>TAB</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the next field</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>CTRL HOME</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the first record in the table</td></tr>

<tr style="x-cell-content-align: top;" valign="top">
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>CTRL END</td>
<td class="TableCell" style="x-cell-content-align: top;" valign="top">
<p class=TableLeft>Move to the last record in the table</td></tr>
</table>
</div>
<p class=Pix><img src="images/Record_Selector.gif"
					style="border: none;
							width: 56px;
							height: 30px;
							border-style: none;
							border-style: none;"
					width=56
					height=30
					border=0></p>



<p class=PixCaption>Record Selector</p>



<p>You can also use the <span class=Control>Record Selector</span> to quickly 
 navigate to a particular record. Type a record number in the <span class=Control>Record 
 Selector</span> field and press <span class=Button>ENTER</span>.</p>



<p class=A5><a name=Entering_and_Changing_Data_in_a_Browse>Entering and 
 Changing Data in a Browse</a></p>



<p>To enter or change the value in any field:</p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Place the cursor 
 in the field and start typing. If the current field value is highlighted, 
 it will be replaced. Otherwise, the typed text is inserted at the cursor 
 location.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>Double-click on the 
 field or press <span class=Button>F2</span> to create an insertion point.</p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber>If you are unable 
 to enter or change data, make sure <span class=Button>Browse > Allow 
 Edits</span> is checked. <span class=Button>A</span> <span class=Button>llow 
 Edits</span> enables and disables data entry, and can be used&nbsp;as&nbsp;a 
 safety switch to prevent overwriting field values.</span></p>

</li>
</ol>

<p class=A5><span class=Button><a name=Adding_a_New_Record>Adding a New 
 Record</a></span></p>



<p><span class=Button>To add a new record, you need to open a blank record. 
 Do any of the following to open a blank record:</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Click 
 the <span class=Button>New Record</span>&nbsp;button <img src="images/New_Record_Button.gif"
															x-maintain-ratio=TRUE
															style="width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
															width=22
															height=22
															border=0>&nbsp;on 
 the toolbar.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Select 
 <span class=Button>Records > Enter New Record</span>.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Use 
 the keystroke: <span class=Button>CTRL E</span>.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Navigate 
 to the last record in the table and press <span class=Button>Enter</span>.</span></p>

</li>
</ol>

<p><span class=Button>Once your new, blank record appears, you may begin 
 entering data into the record. The new record is added to the end of the 
 table.</span></p>



<p class=A5><span class=Button><a name=Find_and_Replace>Find and Replace</a></span></p>



<p><span class=Button>You can use the <span class=Screen>Find and Replace</span> 
 dialog box to find a text value in a record, by searching in just the 
 current record, or in multiple Alpha Anywhere records, and replace the found 
 text with different text.</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>To 
 use Find and Replace when viewing a form or browse, select <span class=Button>Edit 
 > Find and Replace.</span></span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Display 
 the <span class=Screen>Replace</span> tab if you want to replace text.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Enter 
 the text to find in <span class=Control>Find What</span>.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Optionally, 
 enter the text to replace in <span class=Control>Replace With</span>.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Optionally, 
 limit the search by selecting "Current Record" or "Current 
 Field" in the <span class=Control>Where to Search</span> group.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Optionally, 
 refine how you are searching by checking the <span class=Button>Match 
 Case</span> check box.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>You 
 can further refine your search by selecting "Whole Words" or 
 "Beginning of Field" in the <span class=Control>What to Match</span> 
 group.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Select 
 "Backward" in the <span class=Control>Direction</span> list 
 to search backwards.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Click 
 <span class=Button>Find Next</span> to move the cursor to the next occurrence.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Click 
 <span class=Button>Replace</span> if you want to replace a single occurrence. 
 The cursor moves automatically to the next occurrence.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Click 
 <span class=Button>Replace All</span> if you want to replace all occurrences.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Click 
 <span class=Button>Cancel</span> to exit.</span></p>

</li>
</ol>

<p><span class=Button>You can confirm each replacement before it is made.</span></p>



<p class=A5><span class=Button><a name=Undoing_and_Cancelling_Changes>Undoing&nbsp;and 
 Cancelling Changes</a></span></p>



<p><span class=Button>The undo command lets you reverse the most recent 
 changes made to a field.</span></p>



<p><span class=Button>Use any of the following to undo recent changes:</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Click 
 the <span class=Button>Cancel Changes</span> button <img src="images/Cancel_Changes_button.gif"
															x-maintain-ratio=TRUE
															style="width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
															width=22
															height=22
															border=0>&nbsp;on 
 the toolbar.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Click 
 <span class=Button>Edit > Undo</span>.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Press 
 <span class=Button>ESCAPE</span>.</span></p>

</li>
</ol>

<p><span class=Button>You can only undo changes to a field while the cursor 
 is still in that field. Once you leave (navigate away from) the field, 
 changes are saved and undo won't work. Also, you can only undo changes 
 to a field while the cursor remains in the field. Once you move to a different 
 field, the Undo operation won't work.</span></p>



<p><span class=Button>However,&nbsp;as&nbsp;long&nbsp;as&nbsp;you are still 
 viewing the same record, clicking the <span class=Button>Cancel Changes</span> 
 button (or <span class=Button>ESCAPE</span> ) will undo all changes to 
 the record.</span></p>



<p class=A5><span class=Button><a name=Saving_Records>Saving Records</a></span></p>



<p><span class=Button>Any changes made to a record (including entering 
 a new record) are saved when you leave the record. For example, if you 
 change a field value and press the <span class=Button>Next</span> button, 
 Alpha Anywhere saves the changes you made to the previous record.</span></p>



<p><span class=Button>To save changes while viewing a record, click the 
 <span class=Button>Save Record</span> button <img src="images/Save_Record_button.gif"
													x-maintain-ratio=TRUE
													style="width: 22px;
															height: 22px;
															float: none;
															border-style: none;
															border-style: none;"
													width=22
													height=22
													border=0>&nbsp;on the 
 toolbar or press <span class=Button>F9</span>.</span></p>



<p class=A5><span class=Button><a name=Deleting_and_Undeleting_Records>Deleting&nbsp;and 
 Undeleting Records</a></span></p>



<p><span class=Button>To delete records from a form or a browse:</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>If 
 in a browse, select the records by dragging the <span class=Button>Row 
 Selector</span> on the left edge of the screen.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Press 
 <span class=Button>CTRL D</span> or select <span class=Button>Edit > 
 Delete</span>.</span></p>

</li>
</ol>

<p class=Note><span class=Button><span class=Note><img src="images/icon_warning.gif"
														x-maintain-ratio=TRUE
														style="border: none;
	width: 37px;
	height: 33px;
	float: none;
	border-style: none;
	border-style: none;"
														width=37
														height=33
														border=0>Note</span> 
 : After a <a href="../Database/Compacting the Database.html" title="Compacting the Database" class="wiki">Pack</a> operation, records 
 cannot be recovered.</span></p>



<p><span class=Button>You can un-delete records in a table or set, if the 
 table or set has not yet been packed. Right-click on the table or set 
 and select the <span class=Button>Utilities > Undelete Records...</span> 
 .</span></p>



<p class=A5><span class=Button><a name=Cutting__Copying_and_Pasting_Records_and_Fields>Cutting, 
 Copying and Pasting Records and Fields</a></span></p>



<p><span class=Button>You can perform cut and paste operations on records 
 in a Browse, and also use cut and paste to transfer data from Alpha Anywhere 
 into other Windows applications (like <span class=Screen>Word</span> or 
 <span class=Screen>Excel</span> ). Likewise, you can perform cut and paste 
 operations in other Windows applications to transfer data into an Alpha 
 Five Browse. </span></p>



<p class=Pix><span class=Button><img src="images/Selecting_Browse_Records.gif"
									style="width: 412px;
											height: 265px;
											border-style: none;
											border-style: none;"
									width=412
									height=265
									border=0></span></p>



<p class=PixCaption><span class=Button>Selecting Records</span></p>



<p><span class=Button>To use the Cut and Paste commands:</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Select 
 records in a browse by dragging across the <span class=Button>Row Selector</span> 
 <img src="images/Record_Selector_button.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				float: none;
				width: 22px;
				height: 22px;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0> on the left side of the browse window.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Click 
 the <span class=Button>Cut</span> <img src="images/Cut_button.gif"
										x-maintain-ratio=TRUE
										style="width: 22px;
												height: 22px;
												float: none;
												border-style: none;
												border-style: none;"
										width=22
										height=22
										border=0>&nbsp;or <span class=Button>Copy</span> 
 <img src="images/Copy_button.gif"
		x-maintain-ratio=TRUE
		style="width: 22px;
				height: 22px;
				float: none;
				border-style: none;
				border-style: none;"
		width=22
		height=22
		border=0>&nbsp;button on the toolbar.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Select 
 the area in which you want to place the information, and click the <span 
 class=Button>Paste</span> <img src="images/Paste_button.gif"
								x-maintain-ratio=TRUE
								style="width: 22px;
										height: 22px;
										float: none;
										border-style: none;
										border-style: none;"
								width=22
								height=22
								border=0> button on the toolbar.</span></p>

</li>
</ol>

<p class=A5><span class=Button><a name=Copying_a_Record_to_the_Clipboard>Copying 
 a Record to the Clipboard</a></span></p>



<p><span class=Button>The <span class=Button>Edit > Copy Record to Clipboard</span> 
 command lets you paste the record on the clipboard into the current record, 
 or&nbsp;as&nbsp;a new record. The clipboard can contain multiple entries.</span></p>



<p class=A5><span class=Button><a name=Pasting_a_Record_from_the_Clipboard>Pasting 
 a Record from the Clipboard</a></span></p>



<p><span class=Button>The <span class=Button>Edit > Paste&nbsp;as&nbsp;New 
 Record</span> creates a new record from the last copied record.</span></p>



<p><span class=Button>The <span class=Button>Edit > Paste to Current 
 Record</span> overwrites the current record with the last copied record.</span></p>



<p><span class=Button>The <span class=Button>Edit > Paste Special</span> 
 command lets you paste any one of the multiple entries on the clipboard. 
 In the dialog shown, there are three entries on the clipboard. </span></p>



<p class=Pix><span class=Button><img src="images/Record_Clipboard_Entries.gif"
									x-maintain-ratio=TRUE
									style="border: none;
											width: 353px;
											height: 120px;
											float: none;
											border-style: none;
											border-style: none;"
									width=353
									height=120
									border=0></span></p>



<p><span class=Button>As you select each entry with your cursor, the dialog 
 box shows the fields of the record in the <span class=Control>Fields</span> 
 list. Select any field in the <span class=Control>Fields</span> list and 
 the dialog shows you its type, width, and decimal places.</span></p>



<ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Select 
 an entry from the clipboard.</span></p>

</li>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Select 
 one of the <span class=Control>Paste Options</span> :</span></p>

</li>
	
	<ul style="list-style: disc;"
		type=disc>
		
		<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>"Paste 
 into current record" or "Paste&nbsp;as&nbsp;New record"</span></p>

</li>
		
		<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>"Paste 
 all fields" or "Paste selected fields"</span></p>

</li>
	</ul>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>If 
 you selected "Paste selected fields", click <img src="images/Choices_button.gif"
															x-maintain-ratio=TRUE
															style="border: none;
	width: 22px;
	height: 22px;
	float: none;
	border-style: none;
	border-style: none;"
															width=22
															height=22
															border=0> to 
 display the <span class=Screen>Select Fields</span> dialog box.</span></p>

</li>
	
	<ol>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha><span class=Button>Place 
 check marks next to each field that you want to paste.</span></p>

</li>
		
		<li class=kadov-p-CListAlpha><p class=ListAlpha><span class=Button>Click 
 <span class=Button>OK</span> to return to the <span class=Screen>Record 
 Clipboard</span>.</span></p>

</li>
	</ol>
	
	<li class=kadov-p-CListNumber><p class=ListNumber><span class=Button>Click 
 <span class=Button>OK</span> to paste or <span class=Button>Cancel</span> 
 to quit.</span></p>

</li>
</ol>

<p class=A5><span class=Button><a name=Copy_Previous_Record_and_Copy_Previous_Field>Copy 
 Previous Record and Copy Previous Field</a></span></p>



<p><span class=Button>When the cursor is on a field in a new record, the 
 <span class=Button>Edit > Copy Previous Field</span> command copies 
 the value for the corresponding field in the last viewed record. For repetitive 
 data entry, this action is handy when there are duplicate fields. For 
 example, entering records for multiple people at the same company, might 
 involve the same address repeatedly. This command lets the user easily 
 copy the information.</span></p>



<p><span class=Button>When the cursor is on any field in a new record, 
 the <span class=Button>Edit > Copy Previous Record</span> command copies 
 and pastes all the fields from the last viewed record.</span></p>



<p class=A5><span class=Button><a name=Other_Common_User_Functions>Other 
 Common User Functions</a></span></p>



<ul style="list-style: disc;"
	type=disc>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button><a href="../../Data/DBF/Speed Typing.html" title="Speed Typing" class="wiki">Speed   Typing</a> is a shortcut for entering frequently used values.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button><a href="../../../../Reference/Design/View/Form/Shortcut Keys.html" title="Shortcut Keys" class="wiki">Shortcut   Keys</a> allow access to menu commands with a single keystroke.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>Find 
 and Replace a text value in a record or in multiple Alpha Anywhere records.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button><a href="../../Data/DBF/Duplicating a Record.html" title="Duplicating a Record" class="wiki">Duplicating   a Record</a> is useful when you have repetitive data.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>You 
 can <a href="../../Print/Print Current Record.html" title="Print Current Record" class="wiki">print or email records</a> from 
 within form or browse view.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>The 
 Print Layout Genie lets you print, preview, email, or save to a file all 
 the records in the current table or set, using any of the layouts that 
 have been defined for that table or set.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>The 
 <a href="../../Print/Print Genie.html" title="Print Genie" class="wiki">Print Genie</a> lets you select and order, and 
 then print, preview, email, or save to a file records from the current 
 table or set, using any of the layouts that have been defined for that 
 table or set.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>If you 
 deleted records in error, this is how to <a href="../../Data/DBF/Undeleting Records.html" title="Undeleting Records" class="wiki">Undelete   Records</a>.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>Alpha 
 Five writes out an ASCII file which is an <a href="../../Data/DBF/Using the Audit Trail Feature.html" title="Using the Audit Trail Feature" class="wiki">Audit   Trail</a> of all changes made to a record. The audit trail shows the date 
 and time of the change, the original value in the field, and the new value 
 in the field.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>The 
 Alpha Five <a href="../Database/Using the Spell Check.html" title="Using the Spell Check" class="wiki">Spell Checker</a> lets you check 
 the current record, the current selection of records, or the current field.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>The 
 <a href="../../Data/FieldRules/Using Field Statistics.html" title="Using Field Statistics" class="wiki">Field Statistics</a> window displays several 
 different statistics for a field, such&nbsp;as&nbsp;total, average, minimum 
 and maximum.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>The 
 <a href="../Form/Follow Changes and Enters.html" title="Follow Changes and Enters" class="wiki">Follow Changes and Enters</a> 
 function repositions the record pointer when you change or add a key value 
 in the current index.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>Alpha 
 Five provides a variety of tools for <a href="../../Data/FieldRules/Sorting and Selecting Overview.html" title="Sorting and Selecting Overview" class="wiki">finding,   selecting, and ordering</a> records. You can perform powerful and complex 
 searches to group your data into lists that match your specific criteria.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>The 
 <a href="../Form/Query/Query Genie.html" title="Query Genie" class="wiki">Query Genie</a> lets you create powerful search 
 and sort operations by navigating through easy-to-understand dialog boxes. 
 It is perhaps the easiest way for an inexperienced user to define complex 
 searches of their database.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>The 
 <span class=Screen>&nbsp;</span><a href="../Form/Query/Query by Expression.html" title="Query by Expression" class="wiki">Query   by Expression</a> dialog box is available when viewing both forms and 
 browses, and lets you filter and sort records by directly entering filter 
 and order expressions.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button><a href="../Form/Query/Multi-Select Queries.html" title="Multi-Select Queries" class="wiki">Multi-Select   Queries</a> provides a technique for building queries that select a set 
 of records by record number.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>The 
 <a href="../Form/Query/Special Queries.html" title="Special Queries" class="wiki">Select Filter</a> dialog box lets quickly 
 perform one of several pre-defined queries.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>The 
 <a href="../Form/Using the Navigator.html" title="Using the Navigator" class="wiki">Navigator</a> is a dialog box that displays all 
 the fields on a form or browse in a tree control. With the <span class=Screen>Navigator</span> 
 you can instantly navigate to any field on the form or browse.</span></p>

</li>
	
	<li class=kadov-p-CBullet1><p class=Bullet1><span class=Button>The 
 <a href="../../../../Reference/Design/View/Form/Quick Export to Excel.html" title="Quick Export to Excel" class="wiki">Quick Export to Excel</a> command 
 exports the current selection of records in the current form or browse 
 to <span class=Screen>Excel</span> and opens <span class=Screen>Excel</span> 
 with the records loaded into a new worksheet.</span></p>

</li>
</ul>

<p class=A5><span class=Button>See Also</span></p>



<p><span class=Button><a href="../Form/Using a Form.html" title="Using a Form" class="wiki">Using a Form</a></span></p>



<p class=A5><span class=Button></span></p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+a+Browse">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"desktop","status":"pending","keywords":"desktop,guide,browse"}--->
</body></html>