	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<p class=A3Topic>Using Calculated Values on Browses</p>

<p>You can use calculated values to display data in a browse. Unlike a table field, a calculated value is not stored in a table. Instead, its value is updated whenever the field is viewed, printed, or used in another calculation.</p>

<p class=Note><img src="images/icon_information.gif" x-maintain-ratio=TRUE style="border: none; width: 36px; height: 32px; float: none; border-style: none; border-style: none;" width=36 height=32 border=0> <span class=Note>Note</span> : 
Alpha Anywhere documentation and software has traditionally referred to the values that you calculate and place on a layout&nbsp;as&nbsp;"calculated fields". However, these values are not fields, because they are not stored in a table record. They are temporary variables that are created and calculated on demand.</p>

<p>To create a calculated value:</p>

<ol> <li class=kadov-p-CListNumber><p class=ListNumber>Drag the "<New Calc/Summary Field>" entry from the 
	<a href="../../Data/FieldRules/Using the Fields Panel.html" title="Using the Fields Panel" class="wiki">Drag and Drop List</a> to the browse.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>When the <span class=Screen>New Calculated Field</span> dialog box appears, enter the calculated value's name in the <span class=Control>Name</span> box.</p>

</li> <li class=kadov-p-CListNumber><p class=ListNumber>Enter the expression in the <span class=Control>Expression</span> box.</p>

</li> </ol><p>For example, your browse has a <span class=Code1>Quantity</span> column and a <span class=Code1>Price</span> column. </p>

<p class=Pix><img src="images/Browse_with_Fields.gif" style="width: 251px; height: 85px; border-style: none; border-style: none;" width=251 height=85 border=0></p>

<p class=PixCaption>Sample Browse</p>

<p>You can create an <span class=Code1>Extension</span> column that displays <span class=Code1>Quantity</span> times <span class=Code1>Price</span>. &nbsp; </p>

<p class=Pix><img src="images/New_Calculated_Field_2.gif" style="width: 489px; height: 167px; border-style: none; border-style: none;" width=489 height=167 border=0></p>

<p class=PixCaption>Defining the Calculated Value</p>

<p class=Pix><img src="images/Browse_with_calculated_field.gif" style="width: 364px; height: 85px; border-style: none; border-style: none;" width=364 height=85 border=0></p>

<p class=PixCaption>Browse with the New Calculated Value</p>

<p class=A5>See Also</p>

<p><a href="Using the Browse Editor.html" title="Using the Browse Editor" class="wiki">Using the Browse Editor</a></p>

	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Using+Calculated+Values+on+Browses">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"status":"pending","tags":"desktop,review","notes":"browses","keywords":"desktop,browse"}--->
</body></html>