# ElasticSearch upstart script

[Unit]
Description=ElasticSearch service

[Service]
Group=elasticsearch
User=elasticsearch
ExecStart=/usr/share/elasticsearch/bin/elasticsearch -f -Des.default.config=/etc/elasticsearch/elasticsearch.yml -Des.default.path.home=/usr/share/elasticsearch/ -Des.default.path.logs=/var/log/elasticsearch/ -Des.default.path.data=/var/lib/elasticsearch/ -Des.default.path.work=/tmp/elasticsearch -Des.default.path.conf=/etc/elasticsearch
Restart=always
StartLimitBurst=10
StartLimitIntervalSec=30
LimitNOFILE=32000

[Install]
WantedBy=multi-user.target