# ElasticSearch upstart script

[Unit]
Description=ElasticSearch service

[Service]
ExecStart=/bin/sh /home/AlphaHelp/helpserver/helpserverservice.js 
Restart=always

[Install]
WantedBy=multi-user.target