[Unit]
Description=node.js helpserver
After=data.mount

[Service]
ExecStart=/bin/sh /home/AlphaHelp/helpserver/helpserverservice.sh
Restart=always

[Install]
WantedBy=multi-user.target