[Unit]
Description=node.js helpserver transform
After=data.mount

[Service]
ExecStart=/bin/sh /home/AlphaHelp/helpserver/helptransformservice.sh
Restart=always

[Install]
WantedBy=multi-user.target