	<!DOCTYPE html>
	<html>
	<head>
	<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\" />
	<link rel="stylesheet" type="text/css" href="../theme.css" />
	</head>
	<body>
	<div id="tiki-clean">
			<div id="tiki-mid">
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left; width:4px; height:18px">



&nbsp;</div>

	 
 
	</div> 
</div> 




<article id="top" class="wikitext clearfix nopagetitle">
			
		
		
		
		
			 

	
			<h1>Introducing the Tabbed UI Builder&nbsp;</h1>
	<p>&nbsp;</p>
	<a name="Overview"><h2>Overview</h2></a></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">Creating a well designed user interface is an 
				important step in the process of developing an application. Once 
				all of the components, records, forms, A5W pages, and other 
				parts of your application have been created, it is necessary to 
				pull them all together into one well organized structure. In 
				Alpha Anywhere, the <font color="#0000FF">Tabbed UI Builder</font> 
				is what allows you to build a complete user interface for your 
				application. </font></p>
				<p>&nbsp;</p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p><a name="Finding the Tabbed UI Builder"><b>Finding the Tabbed UI Builder:</b></a></p>
	<p>&nbsp;</p>

	<p>1.&nbsp;&nbsp;&nbsp; In the <font color="#0000FF">Web Projects Control 
	Panel</font> click the <font color="#0000FF">New Component or File</font> 
	button
	<img border="0" src="images/Andropogen%20gayanus2.png" width="14" height="16">.</p>
	<p>2.&nbsp;&nbsp;&nbsp; The<font color="#0000FF"> New File</font> dialog 
	will open. Select <font color="#0000FF">Web Component</font> and click
	<font color="#0000FF">Next &gt;</font>.</p>
	<p align="center">
	<img border="0" src="images/A_webcomponent.png" width="185" height="164"></p>
	<p>3.&nbsp;&nbsp;&nbsp; Select <font color="#0000FF">Tabbed UI Builder</font> 
	and click <font color="#0000FF">Next &gt;</font>.</p>
	<p align="center">
	<img border="0" src="images/A_TabbedUI.png" width="338" height="141"></p>
	<p>&nbsp;<a name="Page Menu"><h2>Page Menu</a><br>
&nbsp;</h2></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<p>&nbsp;</p>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p><br>
&nbsp;</p>
	<p align="center">
	<img border="0" src="images/A_TabbedUIcontrols.png" width="141" height="146"><p align="center">
	<br>
&nbsp;
<div align="center">
<table style="x-cell-content-align: top; float: aligncenter; border-left-style: none; border-right-style: none; border-top-style: none; border-bottom-style: none; border-spacing: 0px; border-spacing: 0px;" cellspacing="0"> <tr style="x-cell-content-align: top;" valign="top"> <td class="tableHeader" style="x-cell-content-align: top;" valign="top"><p class=TableHead>
	<font size="2">Menu</font></td> <td class="tableHeader" style="x-cell-content-align: top;" valign="top"><p class=TableHead>
	<font size="2">Description</font></td></tr> <tr style="x-cell-content-align: top;" valign="top"> <td class="TableCell" style="x-cell-content-align: top;" valign="top"><p class=TableLeft>
		<font color="#0000FF" size="2">
		Overview</font></td> <td class="TableCell" style="x-cell-content-align: top;" valign="top"><p class=TableLeft>
		<font size="2">Basic description of the Tabbed UI builder.</font></td></tr> <tr style="x-cell-content-align: top;" valign="top"> <td class="TableCell" style="x-cell-content-align: top;" valign="top">
		<font size="2" color="#0000FF">Tabbed UI Controls</font></td> <td class="TableCell" style="x-cell-content-align: top;" valign="top">
		<font size="2">Define the controls users will use to navigate your user 
		interface.</font></td></tr> <tr style="x-cell-content-align: top;" valign="top"> <td class="TableCell" style="x-cell-content-align: top;" valign="top">
		<font size="2" color="#0000FF">Tabbed UI Properties</font></td> <td class="TableCell" style="x-cell-content-align: top;" valign="top">
		<font size="2">Define the properties of your user interface</font></td></tr> <tr style="x-cell-content-align: top;" valign="top"> <td class="TableCell" style="x-cell-content-align: top;" valign="top">
		<font size="2" color="#0000FF">Javascript Functions</font></td> <td class="TableCell" style="x-cell-content-align: top;" valign="top">&nbsp;</td></tr> <tr style="x-cell-content-align: top;" valign="top"> <td class="TableCell" style="x-cell-content-align: top;" valign="top">
		<font size="2" color="#0000FF">Xbasic Functions</font></td> <td class="TableCell" style="x-cell-content-align: top;" valign="top">&nbsp;</td></tr> <tr style="x-cell-content-align: top;" valign="top"> <td class="TableCell" style="x-cell-content-align: top;" valign="top">
		<font size="2" color="#0000FF">Server-side Events</font></td> <td class="TableCell" style="x-cell-content-align: top;" valign="top">&nbsp;</td></tr> <tr style="x-cell-content-align: top;" valign="top"> <td class="TableCell" style="x-cell-content-align: top;" valign="top">
		<font size="2" color="#0000FF">Client-side Events</font></td> <td class="TableCell" style="x-cell-content-align: top;" valign="top">&nbsp;</td></tr> <tr style="x-cell-content-align: top;" valign="top"> <td class="TableCell" style="x-cell-content-align: top;" valign="top">
		<font size="2" color="#0000FF">Information</font></td> <td class="TableCell" style="x-cell-content-align: top;" valign="top">
		<font size="2">Allows you to record information about the Tabbed UI
		</font></td></tr> </table> </div>
	<h2>&nbsp;</h2>
	<h2>&nbsp;</h2>
	<a name="Getting Started"><h2><b>Getting Started:</b></h2></a></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<blockquote>
				<p><font size="2">The Tabbed UI Builder lets you specify a 
				number of different buttons. These buttons correspond to the 
				different parts of your application. When the user clicks a 
				button, a new Tab Pane appears on the screen, displaying the 
				Grid component, Report, PDF, A5W Page, document, or external Web 
				Page associated with that button. You can switch instantly 
				between any of the open Tab Panes and there is no limit to the 
				number of Tab Panes you can use. The buttons in your UI will 
				appear in the 'Buttons Panel' which can either be on the left or 
				right of the screen. The panel itself can also be hidden to 
				create more screen space. </font></p>
			</blockquote>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p>1.&nbsp;&nbsp;&nbsp; On the <font color="#0000FF">Design</font> tab and select the '<font color="#0000FF">Tabbed UI Controls</font>' 
	pane, then open&nbsp; the '<font color="#0000FF">Tabbed UI Buttons</font>' section in the toolbox.</p>
	<p align="center">
	<img border="0" src="images/A_TabbedUIbuttons.png" width="306" height="157"></p>
	<p>&nbsp;</p>
	<p>2.&nbsp;&nbsp;&nbsp; Add objects(Grids, Reports, A5W pages, HTML Pages, External Web Pages, 
	and PDF Documents). Each object you add puts a new button in the '<font color="#0000FF">Buttons 
	Panel</font>'</p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/A_TabbedUIbuttons2.png" width="321" height="102"></p>
	<p>&nbsp;</p>
	<p>3.&nbsp;&nbsp;&nbsp; You can control the formatting of the buttons in the '<font color="#0000FF">Buttons Panel</font>' 
	by selecting objects from the 'Containers' and 'Other Controls' section of 
	the toolbox. For example, you can organize your buttons into Tabs, and 
	Accordions. You can put frames around similar buttons to group them 
	together, and you can put static HTML and images on the Buttons Panel to 
	enhance its appearance.</p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="Introd1.jpg"></p>
	<p>&nbsp;</p>
	<p>4.&nbsp;&nbsp;&nbsp; Select the '<font color="#0000FF">Tabbed UI Properties</font>' section to define the top banner of 
	your Tabbed UI, to define the contents of your home page, and to define 
	other properties of the object. </p>
	<p>&nbsp;</p>
	<p align="center">
	<img border="0" src="images/A_Properties.png" width="572" height="106"></p>
	<p>&nbsp;</p>
	<p>&nbsp;<a name="Tabbed UI Controls"><h2>Tabbed UI Controls</h2></a>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<p>&nbsp;</p>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p>&nbsp;<p>&nbsp;<p>&nbsp;<p>
	<a name="Tabbed UI Controls Toolbar Functions"><h2>Tabbed UI Controls Toolbar Functions</h2></a></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<div align="center">
		<table border="1" width="71%" style="border-width: 0px">
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_Xthis.png" width="18" height="18"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Delete all objects</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<br>
					<font size="2">This will clear your UI of all controls. A 
					prompt will ask you if you really want to delete everything</font></blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_X.png" width="14" height="17"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Delete selected objects</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<br>
					<font size="2">Click on an object to highlight it and then 
					click delete to remove it.</font></blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_upup.png" width="14" height="14"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Move to top</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<br>
					<font size="2">Moves a selected control to the top of your 
					Tabbed UI.</font></blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_up.png" width="12" height="10"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Move up one row</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<br>
					<font size="2">Move selected control up one row on the 
					Tabbed UI.</font></blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_down.png" width="14" height="12"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Move down one row</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<br>
					<font size="2">Move selected control down on row on the 
					Tabbed UI.</font></blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_downdown.png" width="12" height="12"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Move to bottom</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<br>
					<font size="2">Move selected control to the bottom of the 
					Tabbed UI.</font></blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_move.png" width="16" height="18"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Move to a specified location</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<br>
					<font size="2">Choose the exact spot in the Tabbed UI where 
					you want a control to live.</font></blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_dropper.png" width="19" height="19"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Eye dropper</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<p><font size="2"><br>
					Allows you to paste current property value onto multiple 
					controls in one go. </font></p>
				</blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_control.png" width="18" height="18"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Find a control</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<p><font size="2"><br>
					Allows you to find and/or select all controls with a 
					specific property value. </font></p>
				</blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_return.png" width="13" height="16"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Toggle Break</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<p><font size="2"><br>
					Allows you to quickly toggle the paragraph break after a 
					control to on or off.</font> </p>
				</blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_menu.png" width="15" height="14"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Menu</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<p><font size="2"><br>
					Opens menu with more options, like the ability to copy and 
					paste controls into other components.</font></p>
				</blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_promote.png" width="10" height="14"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Promote</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<p><font size="2"><br>
					Move the branch of a tree closer to its root.</font></p>
				</blockquote>
				</td>
			</tr>
			<tr>
				<td bgcolor="#FFFFFF" style="border-style: none; border-width: medium" width="33">
				<img border="0" src="images/A_demote.png" width="10" height="14"></td>
				<td style="border-style: none; border-width: medium" bgcolor="#FFFFFF" width="203">
				<font size="2" color="#0000FF">Demote</font></td>
				<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
				<blockquote>
					<p><br>
					<font size="2">Move the branch of a tree control deeper into 
					the tree.</font></p>
				</blockquote>
				</td>
			</tr>
		</table>
	</div>
	<p>&nbsp;</p>
	<p><a name="The Eye Dropper"><h3>The Eye Dropper</h3></a></p>
	<table border="1" width="100%" height="63" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
				<p><font size="2"><br>
The  '<font color="#0000FF">Eye dropper</font>' icon
				<img border="0" src="images/A_dropper.png" width="19" height="19"> allows you to 
				paste the currently selected property in the Property Grid to selected controls. For example say that you want to change the width of all buttons in the Tabbed UI to 2 inches.
Here is how you would do this:</font></p>
			</blockquote>
			</td>
		</tr>
	</table>
<ol>
	<li>Open the <font color="#0000FF">Tabbed UI Builder</font>. Go to
	<font color="#0000FF">Design</font> and open the <font color="#0000FF">Tabbed UI Controls</font> page. 
	</li>
	<li>In the <font color="#0000FF">Tabbed UI Button</font> toolbox, click on 
	the icons and add multiple<font color="#0000FF"> Buttons</font> to your 
	tabbed UI.
</li>
	<li>Highlight one of these buttons. On the <font color="#0000FF">Tabbed UI 
	Controls</font> page there should be a <font color="#0000FF">Properties</font> 
	list on the right.<br></li></p>
	<p align="center">
	<img border="0" src="images/A_tabui.png" width="480" height="71">
	</p>
	<p align="center">&nbsp;<li>In the Properties list find <font color="#0000FF">Tabbed UI 
	Button/Hyperlink Properties</font> and underneath it find the
	<font color="#0000FF">Style</font> property.<br>
	<p>&nbsp;</p>
	</p>
	
	<p align="center">
	
	<img border="0" src="images/A_hyperlink.png" width="358" height="45"> <br>
&nbsp;</p>
	<li>Click the button
	<img border="0" src="images/A_expand.png" width="15" height="14"> next to 
	the Style property. This will open the <font color="#0000FF">Style Editor</font>.</li>
	<li>In the Style Editor, scroll through the <font color="#0000FF">Property</font> tab until you find 
	<font color="#0000FF">Width</font> under the <font color="#0000FF">Positioning and Size</font> properties&nbsp;
	<br></li></p>
	<p align="center">
	<img border="0" src="images/A_width.png" width="291" height="180"> <br><u>Width Setting</u><br>
	<br><br><img border="0" src="images/A_1.5inch.png" width="166" height="150"><p align="center">
	<u>1.5 inch Tabbed UI</u><br>&nbsp;<li>Click the button
	<img border="0" src="images/A_expand.png" width="15" height="14"> next to
	<font color="#0000FF">Width</font>. Set the Width to 2in in the
	<font color="#0000FF">Size</font> dialog and then click 
	<font color="#0000FF"><u>O</u>K</font>. Click <font color="#0000FF"><u>O</u>K</font> 
	again to close the <font color="#0000FF">Style Editor</font>.<p>&nbsp;</p>
	</p>
	<p align="center">
	<img border="0" src="images/A_size.png" width="215" height="116">
	<li>Click the '<font color="#0000FF">Eye dropper</font>' 
	<img border="0" src="images/A_dropper.png" width="19" height="19"> icon. The
	<font color="#0000FF">Select Controls</font> dialog will open showing the 
	selected property for all of the controls in the component. <br></li></p>
	<p align="center">
	<img border="0" src="images/A_setcontrols.png" width="845" height="281"><br>
	<u>Select the controls you want to paste the 2 inch property on to</u>.<br>
	<br>&nbsp;
	<li>Select the control(s) to which you want to paste the property by 
	clicking on them. Hold down <font color="#0000FF">Shift</font> and click to select more than one 
	control.</li>
	<li>
	<p>Click <font color="#0000FF">Set Properties</font> and you are done. <br></li>
	</p></p>
	<p align="center">&nbsp;&nbsp;&nbsp;&nbsp;
	<img border="0" src="images/A_2inch.png" width="212" height="154"></p>
	<p align="center"><u>Final 2 inch Tabbed UI </u></ol>
	<a name="Tabbed UI Buttons Toolbox"><h2>&nbsp;</h2>
	<h2>&nbsp;</h2>
	<h2>&nbsp;</h2>
	<h2>&nbsp;</h2>
	<h2>Tabbed UI Buttons Toolbox</h2></a></p>
	<p>&nbsp;</p>
	
	<div align="center">
	<table border="1" width="59%" style="border-width: 0px">
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_component.png" width="13" height="13"></td>
			<td width="141" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font color="#0000FF" size="2">Component</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Add a predefined
				<a href="../../Grid/Introducing%20the%20Grid%20Builder.html">
				Grid</a> or UX Component to your Application</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_record.png" width="15" height="15"></td>
			<td width="141" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">Record</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Add a Record to your Tabbed UI.</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_web.png" width="16" height="16"></td>
			<td width="141" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">A5W Page</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Add an A5W page to your application.</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_html.png" width="16" height="16"></td>
			<td width="141" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">HTML Page</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Add an HTML page to your Tabbed UI.</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_web2.png" width="14" height="16"></td>
			<td width="141" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">External Web Page</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Add an External Web Page to your application</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_pdf.png" width="16" height="16"></td>
			<td width="141" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">PDF Document</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Add a PDF to your Tabbed UI.</font></blockquote>
			</td>
		</tr>
		</table>
	</div>
	
	
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><a name="Containers Toolbox"><h2>Containers Toolbox</h2></a></p>
	<p>&nbsp;</p>
	
	<div align="center">
	<table border="1" width="70%" style="border-width: 0px">
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_contain1.png" width="15" height="14"></td>
			<td width="131" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">[Tab Control]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Container for buttons placed on Tab Panes. Useful if there are 
				many buttons.</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_contain2.png" width="15" height="14"></td>
			<td width="131" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">[Tab Pane]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Defines a new page or section within a Tab Control</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_contain3.png" width="14" height="12"></td>
			<td width="131" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">[Frame]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Place a frame around objects in your UI</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_contain4.png" width="10" height="12"></td>
			<td width="131" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">[Container]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Group a collection of objects into a logical container</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_contain5.png" width="16" height="14"></td>
			<td width="131" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">[Tree Control]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Organizes buttons in your application into a tree.</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_contain6.png" width="16" height="14"></td>
			<td width="131" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font size="2" color="#0000FF">[Tree Branch]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Starts a Tree Control branch inside a Tree Control</font></blockquote>
			</td>
		</tr>
		</table>
	</div>
	
	
	<p>&nbsp;</p>
	<p>&nbsp;<a name="Tab Controls and Tab Panes"><h2>Tab Controls and Tab Panes</a><br>
&nbsp;</h2></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
				<br>
				<font size="2">A <font color="#0000FF">[Tab Control]</font> is a 
				container that contains one or more <font color="#0000FF">[Tab 
				Pane] </font>controls. Tab Controls can be formatted either as a 
				tab or an accordion control. The Tab Control is useful if you 
				have a lot of Buttons and you want to organize them into 
				different logical sections. A [Tab Control] can contain as many 
				[Tab Pane] controls as you need. At minimum it must contain one 
				[Tab Pane] control.</font><p>&nbsp;</p>
				<p><font size="2">A <font color="#0000FF">[Tab Pane]</font> 
				control defines the start of a new page or section within a [Tab 
				control]. You must select a [Tab Control] before you can select 
				any [Tab Pane] controls. There is no [Tab Pane End] control 
				because Tab Pane Ends are implied whenever a new [Tab Pane], 
				[Tab Control], or [Tab Control End] control is encountered.</font></p>
			</blockquote>
			</td>
		</tr>
	</table>
	<b><a name="Create a Tab Control">
	<p>&nbsp;</p>
	<h3>Create a Tab Control</h3></a></b>
	
	
	<p>1. In the Tabbed UI Builder's
	<font color="#0000FF">Design</font> tab, open the <font color="#0000FF">
	Tabbed UI Controls</font> page.<p>2. Open the<font color="#0000FF"> Tabbed 
	UI Buttons</font> toolbox and add a number of Buttons to your user 
	interface.<p>3. Highlight a group of 4 to 5 buttons.<p>&nbsp;<p align="center">
	<img border="0" src="images/A_containbuttons.png" width="388" height="157"><p>&nbsp;<p>
	3. Click on the <font color="#0000FF">Containers</font> toolbox in the 
	Tabbed UI Controls page.&nbsp; With the 4 to 5 buttons still selected click
	<img border="0" src="images/A_contain1.png" width="15" height="14"><font color="#0000FF"> 
	[Tab Control]</font>.<p>4. The <font color="#0000FF">Insert Tab Control</font> 
	dialog will open. 
	<p>5. Check the <font color="#0000FF">Insert the opening [Tab Control] tag?</font> 
	option 
	<p>6. Click the Display as: Tab control radio button.<p>7. In the box titled 
	'Enter a list of tab pane titles (one per line)' enter the names of the tab 
	pane controls you want to use inside the [Tab Control].<p>&nbsp;<p align="center">
	<img border="0" src="images/A_inserttab.png" width="505" height="459"><p align="left">
	8. Check the '<font color="#0000FF">Insert the closing [Tab Control End] 
	tag?</font>' box and click <font color="#0000FF">Insert Around</font>. 
	<p align="left">9. You should now see the [Tab Control] grouped around the 
	buttons you highlighted in step 3. 
	<p align="left">10. If a tab pane is empty click a button control and use 
	the arrows in the toolbar (<img border="0" src="images/A_up.png" width="12" height="10">,
	<img border="0" src="images/A_down.png" width="14" height="12">,
	<img border="0" src="images/A_downdown.png" width="12" height="12">,<img border="0" src="images/A_upup.png" width="14" height="14">) 
	to move buttons into the <font color="#0000FF">[Tab Pane]</font>. 
	<p align="left">&nbsp;<p align="center">
	<img border="0" src="images/A_inserttab2.png" width="352" height="186"><p align="center">&nbsp;<p align="center">&nbsp;<p align="left">
	11. Go to the <font color="#0000FF">Working Preview</font> to see the [Tab 
	Control] in operation.<p align="left">&nbsp;<p align="center">
	<img border="0" src="images/A_T1.png" width="181" height="96"><p align="center">
	<u>[TabPane:Product Info]</u><p align="center">&nbsp;<p align="center">
	<img border="0" src="images/A_T2.png" width="183" height="100"><p align="center">
	[<u>TabPane: Shipping Dates]</u><p align="left">&nbsp;<p><a name="Tab Control Animation"><h2>Tab Control Animation</h2></a></p>
	<p>&nbsp;</p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
				<br>
				<font size="2">If you have built a tab and/or accordion control 
				you can animate it in the <font color="#0000FF">Tabbed UI 
				Controls</font> page's <font color="#0000FF">Properties</font> 
				list.
You can control the animation method to both <em style="font-style: normal">hide and show panes</em>. 
				The animation styles available include <font color="#0000FF">
				Slide</font>, <font color="#0000FF">Blind</font>,
				<font color="#0000FF">Clip</font>, <font color="#0000FF">Drop</font>,
				<font color="#0000FF">Explode</font>, <font color="#0000FF">Fold</font>,
				<font color="#0000FF">Puff</font>, <font color="#0000FF">Scale</font>,
				<font color="#0000FF">Pulsate</font>, and <font color="#0000FF">
				None</font>. You can use one method to show the pane, and another method to hide the pane. For example, you might choose to 'slide' the pane into view, but 'fade' it out of view.
You can also animate the <em style="font-style: normal">showing and hiding of the menu panel</em> on the Tabbed UI Component. To enable animation, check the 'Animation' property in the 'Tabbed UI Properties' pane. There is only one animation method for this, but you can control the speed.
				</font>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>&nbsp;<p><b>Implement a Tab Control Animation:</b><p>&nbsp;<p>1. First 
	Create a [<a href="#Create a Tab Control"><u>Tab Control</u></a>] with two
	<font color="#0000FF">[Tab Pane]</font> controls inside it. Place some 
	buttons in the tab panes.<p>&nbsp;<p align="center">
	<img border="0" src="images/A_animation.png" width="342" height="198"><p>&nbsp;<p>
	2. On the <font color="#0000FF">Tabbed UI Controls</font> page click on the 
	new <font color="#0000FF">[Tab Control]</font> to highlight it. Then look 
	over at the <font color="#0000FF">Properties</font> list on the right side 
	of the same page.<p>3. Under <font color="#0000FF">Tab/Accordion Control 
	Properties</font> check the <font color="#0000FF">Animation</font> property. 
	Additional properties should open up.<p>&nbsp;<p align="center">
	<img border="0" src="images/A_animation2.png" width="333" height="84"><p>&nbsp;</p>
	<p>
<br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/UsingAnimationInTabbedUIComponent.swf" rel="external nofollow">Watch Video</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br />
<a class="wiki external" target="_blank" href="http://www.ajaxvideotutorials.com/V11Videos/AnimatingTabbedUIMenuPanel.swf" rel="external nofollow">Watch Video</a><img src="images/external_link.gif" alt="(external link)" width="15" height="14" title="(external link)" class="icon" /><br>
<a href="../../CSS/JQuery Support.html" title="JQuery Support V11" class="wiki">JQuery Support </a>
	</p>
	<p>&nbsp;<p>
	<a name="Tree Controls"><h2>Tree Controls</h2></a>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">
			<blockquote>
				&nbsp;<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</blockquote>
			<p>&nbsp;</p>
			<p align="center">
			<img border="0" src="images/A_treecontrol.png" width="246" height="203"><p align="center">
			<u><font size="2">A Tree Control UI with Branches</font></u><p align="center">&nbsp;</td>
		</tr>
	</table>
	<b><a name="Create a Tree Control"><h3>Create a Tree Control</h3></a></b><p>1. In the Tabbed UI Builder's
	<font color="#0000FF">Design</font> tab, open the <font color="#0000FF">
	Tabbed UI Controls</font> page.<p>2. Open the<font color="#0000FF"> Tabbed 
	UI Buttons</font> toolbox and add a number of Buttons to your user 
	interface.<p>3. Highlight a group of buttons. Then go to the 
	<font color="#0000FF">Containers</font> 
	toolbox and, with the buttons highlighted, click <font color="#0000FF">[Tree Control]</font>.<p align="center">
	<img border="0" src="images/A_TreeControlex2.png" width="110" height="25"><p>4. The 
	Insert Tree Control dialog will open. Check the<font color="#0000FF"> 
	'Insert the opening [Tree Control] tag?'</font> option and the
	<font color="#0000FF">'Insert the closing [Tree Control End] tag?'</font> 
	option.<p>5. Click <font color="#0000FF"><u>O</u>K</font>. The
	<font color="#0000FF">[Tree Control]</font> should now look something like 
	this in the <font color="#0000FF">Design</font> view...<p>&nbsp;<p align="center">
	<img border="0" src="images/A_TreeControlex.png" width="323" height="134"><p>&nbsp;<p>
	6. Go to <font color="#0000FF">Working Preview</font> to see you tree 
	control. Without branches the<font color="#0000FF"> [Tree Control]</font> 
	should appear similar to this...<p>&nbsp;<p align="center">
	<img border="0" src="images/A_simpletree.png" width="245" height="129"><p>
	&nbsp;<p>
	<b><a name="Creating Tree Branches"><h3>Creating Tree Branches</h3></a></b><p>
	7. Go to the <font color="#0000FF">Design</font> tab in the Tabbed UI 
	Builder and open the <font color="#0000FF">Tabbed UI Controls</font> page 
	where you created your [Tree Control].<p>
	8. Select a <font color="#0000FF">Button </font>from your Tabbed UI list and 
	then open the <font color="#0000FF">Containers</font> toolbox.<p>
	9. Click on the <font color="#0000FF">[Tree Branch]</font> control option in 
	containers.<p align="center">
	<img border="0" src="images/A_TreeControlex3.png" width="109" height="26"><p>
	10. The <font color="#0000FF">Insert Tree Branch</font> Dialog will open. 
	Select a name for your new tree branch and click <font color="#0000FF">OK</font>.<p align="center">
	<img border="0" src="images/A_Insert.png" width="284" height="189"><p align="left">
	11. Now select a second <font color="#0000FF">Button</font> in your Tabbed 
	UI tree. Go to the Containers toolbox and add another <font color="#0000FF">
	[Tree Branch]</font> control to your tree.<p align="left">
	&nbsp;<p align="center">
	<img border="0" src="images/A_Treecontrolbranches.png" width="356" height="170"><p align="center">
	&nbsp;<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDEAC4" style="border-style: none; border-width: medium">
			<blockquote>
				<p><br>
				<font size="2"><b>Note:</b>&nbsp; A dotted line connecting to 
				your <font color="#0000FF">[Tree Branch]</font> control should 
				show what buttons and/or branches the tree branch contains. If 
				you want to move a button inside a tree branch use the up and 
				down arrow keys on the Tabbed UI Builder toolbar (<img border="0" src="images/A_upanddown.png" width="90" height="12">).</font></p>
			</blockquote>
			</td>
		</tr>
	</table>
	<p>
	12. Go to <font color="#0000FF">Working Preview</font>, you should now see 
	branches in your tree...<p>
	&nbsp;<p align="center">
	<img border="0" src="images/A_Nestedtree.png" width="246" height="176"><p>
	&nbsp;<p>
	<b>Manipulating Tree Branches.</b><p>
	&nbsp;<p>
	13. To create or eliminate nested branches on your tree go to
	<font color="#0000FF">Design</font> view and open the <font color="#0000FF">
	Tabbed UI Controls</font> page.<p>
	14. Select one of the Tree Branches that you created.<p>
	<img border="0" src="images/A_Nestedtree2.png" width="338" height="129"><p>
	&nbsp;<p>
	&nbsp;<p>
	<a name="Other Controls Toolbox"><h2>Other Controls Toolbox</h2></a></p>
	<p>&nbsp;</p>
	
	<div align="center">
	<table border="1" width="54%" style="border-width: 0px">
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_other1.png" width="12" height="13"></td>
			<td width="103" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font color="#0000FF" size="2">[Static Text]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Insert a Static Text Control into your user interface</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_other2.png" width="16" height="14"></td>
			<td width="103" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font color="#0000FF" size="2">[Image]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<br>
				<font size="2">Inserts an image control.</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_other3.png" width="16" height="10"></td>
			<td width="103" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font color="#0000FF" size="2">[Button]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Inserts a button into your user interface</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_other4.png" width="16" height="9"></td>
			<td width="103" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font color="#0000FF" size="2">[Hyperlink]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<font size="2"><br>
				Inserts a hyperlink into your user interface</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_other5.png" width="16" height="15"></td>
			<td width="103" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font color="#0000FF" size="2">[IFrame]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<br>
				<font size="2">Insert an IFrame into your user interface</font></blockquote>
			</td>
		</tr>
		<tr>
			<td width="51" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
			<img border="0" src="images/A_other6.png" width="10" height="10"></td>
			<td width="103" style="border-style:none; border-width:medium; " bgcolor="#FFFFFF">
			<font color="#0000FF" size="2">[Spacer]</font></td>
			<td bgcolor="#F5F7F4" style="border-style: none; border-width: medium">
			<blockquote>
				<br>
				<font size="2">Insert vertical and/or horizontal space between 
				controls</font></blockquote>
			</td>
		</tr>
		</table>
	</div>
	
	
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;<a name="Tabbed UI Properties"><h2>Tabbed UI Properties</a></h2>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<p>&nbsp;</p>
			<p>&nbsp;</td>
		</tr>
	</table>
	</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;<a name="Using Javascript Functions with Tabbed UI"><h2>Using Javascript Functions with Tabbed UI</a><br>
&nbsp;</h2></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<p>&nbsp;</p>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p>&nbsp;<p>Javascript Events in Tabbed UI - You can set event handlers 
	for different events on an individual <font color="#0000FF">Tab Pane</font> in the Tabbed UI Component<br>
	onBeforeChange<br>
	onchange<br>
	onRightClick<br>
	onInitial<br>
	onBeforeRemove<br>
	onRemove<br>
	In the case where a tab pane is showing a Grid component, in your Javascript 
	event handler, you can get a pointer to the Grid object that is shown in the 
	pane as follows:<br>
	var gridObj = windowpaneObj.name + '_GridObj';<br>
	Once you have a pointer to the Grid object, you can then call methods on the 
	Grid.<br>
	<br>
&nbsp;<p>&nbsp;<p>&nbsp;<a name="Using Xbasic Functions with Tabbed UI"><h2>Using Xbasic Functions with Tabbed UI</a><br>
&nbsp;</h2></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<p>&nbsp;</p>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p>&nbsp;<a name="Using Server-side Events with Tabbed UI"><h2>Using Server-side Events with Tabbed UI</a><br>
&nbsp;</h2></p>
	<table border="1" width="100%" style="border-width: 0px">
		<tr>
			<td bgcolor="#DDE8E8" style="border-style: none; border-width: medium">&nbsp;<p>&nbsp;</p>
			<p>&nbsp;</td>
		</tr>
	</table>
	<p>&nbsp;</p>
	<p>Can collapse and display menu bar.</p>
	<p>&nbsp;</p>
	<p>Tabbed UI properties can change buttons to right hand side.</p>
	<p>Can put padding above, below buttons.</p>
	<p>Can change the </p>
	<p>&nbsp;</p>
	<p>Use of containers to group reports in menu - put a box around grouped 
	items</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>For an introduction to the Tabbed UI Component, see video number 25 in the <a href="http://news.alphasoftware.com/v10preview/videos.htm" target="_blank">V10 Web Applications Videos<br />
</a>
	</p>
	<table border="1" width="100%">
		<tr>
			<td bgcolor="#FF0000">&nbsp;</td>
		</tr>
	</table>
<h3>Additional notes:</h3>
<p><strong>Web Applications - Tabbed UI - Reports</strong></p>
<p><strong>Prompt For Parameters at Runtime&nbsp;- </strong>Previously, if a report prompted for parameters at runtime, the prompt dialog would use a textbox control for all parameter types. Now, you can use dropdown boxes, radio buttons and logical checkboxes. Furthermore, the choices for the controls can be dynamically populated from a .dbf or SQL table. In the case of date/time parameters, the textbox where the user enters the parameter value can now have a date picker. The image below shows how the prompt for the state name has been configured to be a Dropdownbox control and the list of states is dynamically obtained from a table.</p>

	<img src="../images/TabbedUIPromptingUsingDropdown.jpg" height="245" width="655" alt="Image" />
<p>&nbsp;</p>
<p>The following videos show a demonstration of this feature:</p>
<p><a href="http://www.ajaxvideotutorials.com/V10Videos/TabbedUIPrinting_Prompting_Part1.swf">Watch Video - Part 1</a></p>
<p><a href="http://www.ajaxvideotutorials.com/V10Videos/TabbedUIPrinting_Prompting_Part2.swf">Watch Video - Part 2</a></p>
<p><b>Tabbed UI Component - Printing Reports</b> - You can now reference session  variables in the report filter. Previously you needed to bind an argument to the  session variable and then use the argument in filter. While this method still  works (and is preferred), some users might find it more convenient to reference  the session variable directly in the report filter.</p>
<p>There is a distinct advantage to using arguments (as opposed to referencing  session variables directly in the filter), because all type conversion issues  are automatically handled for you by Alpha 
Anywhere. If you reference a session  variable in the filter directly, you are responsible for data type  conversion.</p>
<p>Example report filters that use session variables:</p>
<p class="xbasic">state = "session.whatstate"</p>
<p>&nbsp;For a numeric field:</p>
<p class="xbasic">balance = session.whatamount</p>
<p class="xbasic">&nbsp;</p>
<p>For a time field (assuming that session.whattime is a character  variable):</p>
<p class="xbasic">orderdate = ctodt(session.whattime)</p>
<p>&nbsp;</p>
	<p>&nbsp;</p>
<p><b>Tabbed UI and Page Layout Component - Multiple Language Support</b> - The  same multiple-language features that are supported in the Grid component have  now been added to the Tabbed UI and Page Layout Builder.</p>
<p><a href="http://www.ajaxvideotutorials.com/V10Videos/TabbedUIAndPageBuilderLanguageDefinitions.swf">Watch  Video</a></p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
<p><b>Web Applications&nbsp; - Tabbed UI Component - Using a Page Layout for Tabbed UI Buttons -&nbsp;</b>The standard way for designing a Tabbed UI component is to place the buttons that open new tabs in a button section that is placed on the left or right of the screen. Now, there is a new way in which you can configure a Tabbed UI component by placing buttons in a page that is typically displayed in the 'Home' tab&nbsp; of the Tabbed UI, or in any other tab of the Tabbed UI. This is done by using a Page Layout component with a series of buttons on it and then placing the Page Layout in a tab in the Tabbed UI component.</p>
<p>The image below shows a Page Layout component displayed in the Home tab of a Tabbed UI component. Each button on the Page Layout component will open a new tab in the Tabbed UI component.</p>
<p><a href="http://www.ajaxvideotutorials.com/V10Videos/TabbedUI_ButtonsOnHomePage.swf">Watch Video</a></p>
<p>
	<img src="../images/PageLayoutUsedInTabbedUI.jpg" height="389" width="550" alt="Image" /></p>
<p>To accomplish this, there is a new option in the Page Layout builder. When you place an object on the Page Layout, set the 'Show mode' to 'When button is clicked' and then set the 'Window type' to 'Tabbed UI Pane'. The 'Re-use existing pane' option is also checked. This means that if you press the button to launch the component, and it has already been opened, the Tabbed UI pane that contains the component will simply get focus.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>
	<font color="#FF0000">------------------------------------------------------------------------------------</font></p>&nbsp;<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description0"></span>

		</div>

	 
 
	</div> 
</div> 




		
			 

	
			<h1 class="showhide_heading" id="Tabbed_UI_Component_-_Hide_Tab_Buttons_Property">Tabbed UI Component - Hide Tab Buttons Property</h1>
The Tabbed UI now has a new option to hide the tab buttons that appear above the open panes.<br />
<br />

	<img src="images/tabbedUI6.gif" alt="Image" /><p>&nbsp;</p>
	<p>&nbsp;</p>
	
 



 

	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description1"></span>

		</div>

	 
 
	</div> 
</div> 




		
			 

	
			<h1 class="showhide_heading" id="Tabbed_UI_Component_-_Mobile_Devices">Tabbed 
			UI Component - Mobile Devices - link this to more in depth page</h1>
	<p class="showhide_heading">&nbsp;</p>
	A new property allows you to change the way the Tabbed UI is configured so 
	that it is more appropriate for a mobile device. See video M38.<br />
<br />
	The new 'Layout mode' property allows you to select 'DesktopBrowser' or 'MobileDevice'.<br />
<br />

	<img src="images/TabbedUIPrompt.gif" alt="Image" /><br />
<br />
	Here is how the Tabbed UI renders when the 'MobileDevice' option is 
	selected. Notice that a 'mobile' style is being used (MobBlue in this case). 
	The mobile style renders all text slightly larger. The menu buttons take up 
	the whole screen.<br />
<br />

	<img src="images/tabbedUIMobile1.jpg" alt="Image" /><br />
<br />
	When you select an item, the menu buttons go away and the selected component 
	is shown.<br />
<br />

	<img src="images/tabbedUIMobile2.jpg" alt="Image" /><br />
<br />
	Clicking on the Menu button in the top toolbar returns to the Menu page.<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description2"></span>

		</div>

	 
 
	</div> 
</div> 




		
			 

	
			<h2 class="showhide_heading" id="Tabbed_UI_Component_-_Search_Engines_-_NoScript_Property">Tabbed UI Component - Search Engines - NoScript Property</h2>
When a Search Engine indexes an .a5w page that contains a Tabbed UI component, there is not much content on the page for the Search Engine to index. That's because the bulk of the page contents comes from Ajax callbacks that populate the various tabs on the page. You can now put text into a new 'Noscript content' property in the component. The text that you enter here is wrapped in &lt;noscript&gt;&lt;/noscript&gt; tags, and placed in the BODY section of the .a5w page that runs the Tabbed UI component. This text can be seen and indexed by Search Engines.<br />
<br />
Note that you can place <em>any</em> A5W content in this section. So, for example, you might want to populate this section from a database query, and/or use replaceable strings to display static content in different languages.<br />
<br />
Search engines typically do not support JavaScript, one of the requirements for Ajax, which is why they will see the contents of the &lt;noscript&gt; section and not the dynamic grid contents. They <em>will</em> see the saved HTML preview for the grid, but that content is static. By using a database query in your &lt;noscript&gt; section, you can show the search engine the latest information that your application can display. In general, search engines will give a higher ranking to pages with current content than pages with outdated content.<br />
<br />
<a href="javascript:void(0)" class="internal" onmouseover="return convertOverlib(this,'&nbsp;',['WIDTH=1135','HEIGHT=652','BACKGROUND=img/wiki_up/tabbed_ui_noscript_content.png']);">
	<img src="images/tabbed_ui_noscript_content.png" height="636" width="1101" alt="Image" /></a><p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	
	
	<hr class="hrwikibottom" /> 

	
	</article> 




	<!-- WIKIPATH:Tabbed+UI+Component">-->


	<div class="wikitopline clearfix" style="clear: both;">
	<div class="content">
				<div class="wikiinfo" style="float: left">



<span id="description"></span>

		</div>

	 
 
	</div> 
</div> 

			</div>
		</div>


	
	
<!-- Put JS at the end -->
	
<!-- jsfile external -->


<!-- jsfile dynamic -->
<!-- jsfile 0 -->
<!---HELPMETADATA:{"tags":"web","status":"pending","keywords":"server,guide,component,sql,dbf"}--->
</body></html>